<!-- <ion-header>
    <ion-navbar>
        <ion-title style="text-align: center;">{{'Filters' | translate}}</ion-title>
        <button style="float:right;background: transparent;color:#666666;font-family: roboto-regular;font-size: 18px;" ion-button (click)="reset()">
        {{'Reset' | translate}}
    </button>
        </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-navbar no-padding>
        <div padding class="header_div">
            <ion-title style="text-align: center;">{{'Filters' |translate}}</ion-title>
            <span style="color:#464646;font-family: roboto-regular;" (click)="reset()">{{'Reset' | translate}}</span>
        </div>
    </ion-navbar>
</ion-header>

<ion-content no-padding class="body">

    <!-- <ion-grid no-padding style="background:white; padding:16px;margin-top: 5px;">
        <ion-row>
            <ion-col col-13 no-padding>
                <span class="para" no-padding>{{'Select the city' | translate}}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-13 no-padding>
                <ion-searchbar [disabled]=disabled (ionInput)="getItems($event)" class="loc" [(ngModel)]="place"></ion-searchbar>
                <ion-list>
                    <ion-item *ngFor="let item of country">
                        <button ion-button (click)=count(item?.location,item?.id); class="location">
              {{ item?.location }}
            </button>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid> -->

    <!-- <ion-card class="card1">
    <ion-card-header no-padding>
      <p class="pp">{{'Select the date' | translate}}</p>
    </ion-card-header>

    <ion-card-content no-padding>
      <ion-row class="calender">
        <ion-col col-7 class="my">
          <ion-datetime [doneText]="lang=='en'?'Done':'Hecho'" [cancelText]="lang=='en'?'Cancel':'Cancelar'" no-padding (ionChange)="calendarFormat()"
            [min]="min_date" max="2020" displayFormat="MMM YYYY" [(ngModel)]="date"></ion-datetime>
        </ion-col>
        <ion-col col-4 class="arrow">
          <i no-padding class="fa fa-angle-down" aria-hidden="true"></i>
        </ion-col>    <ion-navbar>
        <ion-title>{{'Fields' |translate}}</ion-title>
        <button style="float:right;background: transparent;color:#666666;font-family: roboto-regular;font-size: 18px;" ion-button (click)="modify()">
      {{'Filter' | translate}}
    </button>
    </ion-navbar>

      </ion-row>
      <div padding-bottom style="display:flex;overflow:scroll;align-items: center;">
        <div (click)="date_change(i.date,i.day)" [class.active]="selectd_date==i.date" *ngFor="let i of days" style="margin:16px 11px 0px 11px;font-family: roboto-regular;cursor:pointer;">
          <p [class.date]="selectd_date==i.date">{{i.day}}</p>
          <p [class.date]="selectd_date==i.date">{{i.date}}</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card> -->
    <ion-grid style="padding: 4px 4px 0px 4px;">
        <ion-row style="color:white;">
            <ion-col no-padding col-12>
                <ion-item class="content">
                    <ion-label style="padding-top:3px;">{{'Favourite' | translate}}</ion-label>
                    <ion-checkbox (ionChange)="updateCucumber()" [(ngModel)]="fav"></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row class="maincard">

            <ion-col col-12 no-padding>
                <span class="para" no-padding>{{'Select the time' | translate}}</span>
            </ion-col>

            <ion-col col-4 style="padding:0px 5px;margin: 10px 0px;">
                <button ion-button (click)="getMorn();button_info='Morning'" [class.b2]="button_info=='Morning'" class="b1">
          <ion-icon ios="ios-partly-sunny" md="md-partly-sunny" [class.icon1]="button_info=='Morning'" class="icon"></ion-icon> {{'Morning' | translate}}</button>
            </ion-col>

            <ion-col col-4 style="padding:0px 5px; margin: 10px 0px;">
                <button ion-button (click)="getMorn();button_info='Afternoon'" [class.b2]="button_info=='Afternoon'" class="b1">
          <ion-icon ios="ios-sunny" md="md-sunny" [class.icon1]="button_info=='Afternoon'" class="icon"> </ion-icon> {{'Afternoon' | translate}}</button>
            </ion-col>

            <ion-col col-4 style="padding:0px 5px; margin: 10px 0px;">
                <button ion-button (click)="getMorn();button_info='Night'" [class.b2]="button_info=='Night'" class="b1">
          <ion-icon ios="ios-moon" md="md-moon" [class.icon1]="button_info=='Night'" class="icon"> </ion-icon> {{'Night' | translate}}</button>
            </ion-col>

            <ion-col col-4 no-padding style="padding:0px 5px; margin: 10px 0px;display: flex;align-items: center;">
                <button ion-button [class.b2]="button_info=='Custom'" class="b1" (click)="showRadio(testRadioResult);button_info='Custom'">{{'Custom' | translate}}</button>
            </ion-col>

            <ion-col col-8>
                <span class="select_time" *ngIf="testRadioResult"> {{'Hour' | translate}} :</span>
                <span *ngIf="testRadioResult" style="color:#8ec63f;padding-top:4px;">{{testRadioResult}} Hrs</span>
            </ion-col>

        </ion-row>
    </ion-grid>

    <ion-grid no-padding>
        <ion-row style="justify-content:center;">
            <button ion-button *ngIf="!filldrop" class="refine" (click)="filter();">{{'Refine more' | translate}}
        <ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon>
      </button>
            <button ion-button *ngIf="filldrop" class="refine" (click)="filter();">{{"Refine less" | translate}}
        <ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon>
      </button>
        </ion-row>
    </ion-grid>



    <div *ngIf="filldrop">
        <ion-grid no-padding style="background:white;margin-top:8px">
            <ion-row>
                <ion-col col-13 class="title_bar">{{'Type' | translate}}</ion-col>
            </ion-row>
            <ion-row class="list">
                <ion-col col-13>
                    <ion-item class="content">
                        <ion-label style="padding-top:3px;">{{'Futsal' | translate}}</ion-label>
                        <ion-checkbox [(ngModel)]="type.futsal"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="list">
                <ion-col col-13>
                    <ion-item class="content">
                        <ion-label style="padding-top:3px;">{{'Turf' | translate}}</ion-label>
                        <ion-checkbox [(ngModel)]="type.Cs"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="list">
                <ion-col col-13>
                    <ion-item class="content">
                        <ion-label style="padding-top:3px;">{{"Natural grass" | translate}}</ion-label>
                        <ion-checkbox [(ngModel)]="type.Cn"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid no-padding style="background:white;margin-top:8px">
            <ion-row>
                <ion-col col-13 class="title_bar">{{"Modality" | translate}}</ion-col>
            </ion-row>
            <ion-row class="list">

                <ion-col col-4>
                    <ion-item class="content">
                        <ion-label style="padding-top:3px;">4V4</ion-label>
                        <ion-checkbox [(ngModel)]="modality.V4"></ion-checkbox>
                    </ion-item>
                </ion-col>

                <ion-col col-4>
                    <ion-item class="content">
                        <ion-label style="padding-top:3px;">5V5</ion-label>
                        <ion-checkbox [(ngModel)]="modality.V5"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="content">
                        <ion-label style="padding-top:3px;">6V6</ion-label>
                        <ion-checkbox [(ngModel)]="modality.V6"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="content">
                        <ion-label style="padding-top:3px;">7V7</ion-label>
                        <ion-checkbox [(ngModel)]="modality.V7"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="content">
                        <ion-label style="padding-top:3px;">8V8</ion-label>
                        <ion-checkbox [(ngModel)]="modality.V8"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="content">
                        <ion-label style="padding-top:3px;">9V9</ion-label>
                        <ion-checkbox [(ngModel)]="modality.V9"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="content">
                        <ion-label style="padding-top:3px;">11V11</ion-label>
                        <ion-checkbox [(ngModel)]="modality.V11"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid no-padding style="background:white;margin-top:8px">
            <ion-row>
                <ion-col col-13 class="title_bar">{{'Rating' | translate}}</ion-col>
            </ion-row>
            <ion-row class="list">
                <ion-col col-4>
                    <ion-item class="content">
                        <ion-label>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                        </ion-label>
                        <ion-checkbox [(ngModel)]="rating.r1"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="content" style="padding-left:0px">
                        <ion-label>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                        </ion-label>
                        <ion-checkbox [(ngModel)]="rating.r2"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="content" style="padding-left:0px">
                        <ion-label>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                        </ion-label>
                        <ion-checkbox [(ngModel)]="rating.r3"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="content">
                        <ion-label>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                        </ion-label>
                        <ion-checkbox [(ngModel)]="rating.r4"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item class="content" style="padding-left:0px">
                        <ion-label>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                            <ion-icon ios="ios-star" md="md-star" class="star"></ion-icon>
                        </ion-label>
                        <ion-checkbox [(ngModel)]="rating.r5"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>

<ion-footer class="foot">
    <button (click)="ground();" class="next" style="border-radius: 0px" ion-button>{{'Next' | translate}}</button>
</ion-footer>