page-grounds {
    .create {
        height: 6rem;
        background: #113861;
        color: #ffffff;
        width: 100%;
    }
    .card1 {
        margin-left: 0px;
        width: 100%;
        margin-top: 8px;
        padding: 16px;
        box-shadow: none;
    }
    .pp {
        font-size: 22px;
        color: #464646;
        font-family: 'Roboto-Regular';
        line-height: 30px;
        text-align: left;
        padding-left: 8px;
    }
    .icon {
        color: #8ec63f;
    }
    .icon1 {
        color: #ffffff;
    }
    .item-select .label-md {
        color: #464646;
    }
    .b1 {
        text-transform: none;
        background: #ffffff;
        color: #8ec63f;
        font-family: 'roboto-regular';
        border: 1px solid #8ec63f;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 11px;
        border-radius: 5px;
        height: 32px;
        width: 100%
    }
    .select_time {
        font-family: 'roboto-regular';
        color: #464646;
        font-size: 16px;
        padding-left: 10px;
    }
    .b2 {
        text-transform: none;
        background: #8ec63f;
        color: #ffffff;
        font-family: 'roboto-medium';
        border: 1px solid #8ec63f;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 11px;
        border-radius: 5px;
        height: 32px;
    }
    .list-md {
        margin: 0px;
    }
    .loc.searchbar-md .searchbar-search-icon {
        background-image: url('../assets/images/pin.png');
        float: left;
        left: 9px;
        top: 30px;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
        background-size: 13px;
        background-image: url("../assets/images/pin.png");
    }
    .loc.searchbar-ios .searchbar-search-icon {
        float: left;
        left: 5px;
        top: 30px;
        width: 15px;
        height: 14px;
        background-repeat: no-repeat;
        background-size: 15px;
    }
    .location {
        color: #464646;
        border: none !important;
        background: #ffffff;
        box-shadow: none;
    }
    .loc.searchbar-md .searchbar-input {
        background-color: #f6f9ff;
        width: 100%;
        padding-left: 30px !important;
        border-radius: 4px;
        box-shadow: none;
        height: 46px;
        border: 1px solid gainsboro;
    }
    .loc.searchbar-ios .searchbar-input {
        background-color: #f6f9ff;
        width: 100%;
        padding-left: 30px;
        border-radius: 4px;
        box-shadow: none;
        height: 46px;
        border: 1px solid gainsboro;
        padding: 4px 25px !important;
    }
    .create .button-inner {
        width: 100%;
    }
    .manc {
        padding-top: 16px;
    }
    .refine {
        text-transform: none;
        background: #ffffff;
        color: #8ec63f;
        font-size: 12px;
        font-family: 'roboto-regular';
        border-radius: 20px;
    }
    //filter
    .title_bar {
        color: #464646;
        font-size: 20px;
        font-family: roboto-regular;
        padding: 16px 16px 0px 16px !important;
    }
    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner {
        padding-right: 0px !important;
        border: none !important;
        color: #666666;
        font-size: 16px;
        font-family: roboto-regular;
    }
    .content .item.item-md .checkbox-md,
    .content .item.item-ios .checkbox-ios {
        margin: 9px 9px 9px 2px;
    }
    .content .checkbox-md .checkbox-icon,
    .content .checkbox-ios .checkbox-icon {
        border: 1px solid #8ec63f;
    }
    .star {
        color: #113861;
    }
}