<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>
<div>
    <div>
        <img class="background" [src]="team_details?.cover_image?basePath + team_details?.cover_image:'assets/images/team-profile-cover/default.png'">
    </div>
    <div class="section" [class.container]="enable">

        <div class="ui-g cover_pic" *ngIf="isAdmin">
            <button pButton type="button" class="changeCover" (click)="coverPicListener()" label="{{'ESCOGER' | translate}}">
            </button>
        </div>
        <div class="ui-g share_bttn">
            <p>
                <i class="downloadBttn fa fa-download" aria-hidden="true" style="background: transparent;color:white" (click)="downloadAsImage()"></i>
            </p>
        </div>

        <div class="ui-g">
            <div class="ui-g-2 ui-sm-3  ui-lg-2 dd">
                <img [src]="team_logo?basePath+team_logo:'assets/images/default_team.png'" class="profile_pic" />
                <button *ngIf="isAdmin" pButton type="button" class="choose" label="{{'ESCOGER' | translate}}" style="cursor: pointer;position: absolute;top: 135px;">
                    <input type="file" class="input" (change)="fileChangeListener($event,'profilePic')" />
                </button>
            </div>
            <div class="ui-g-5  ui-sm-8 tournament_name_div">
                <span class="tournament_name">{{team_details?.team_name}}</span>
                <br>
                <span class="tournament_country">{{team_details?.moto}}</span>
                <br>

                <div class="ui-g-4  ui-sm-8" style="margin-left: -1%;">
                    <span class="followers_btn">
                        <button pButton type="button" class="followers_btn" label="{{'SEGUIDORES' | translate}}" (click)="follows()" style="font-size: 11px;padding: 2px 0px;background-color:#00253f;"></button>
                    </span>
                    <br>
                    <span class="followers_count" style="font-size: 27px;font-weight: bold;color: #00253f;margin-left: 30%;;">{{team_details.follower}}</span>
                </div>
            </div>

            <div class="ui-g-5 ui-sm-12 ui-md-5 ui-lg-5 top_buttons">

                <button *ngIf="!isAdmin" pButton type="button" icon="fa fa-comment" pTooltip="mensaje" tooltipPosition="top" class="ui-button-green" (click)="message()" style="width: 15%;top: 5px;"></button>
                <button *ngIf="!joins" pButton type="button" label="{{'APLICAR' | translate}}" (click)="team()" style="background:#8DCF25; vertical-align: -webkit-baseline-middle;cursor:pointer"></button>
                <button *ngIf="joins" pButton type="button" label="{{'YA APLICADO' | translate}}" style="background:#8DCF25; vertical-align: -webkit-baseline-middle"></button>
                <button *ngIf="isAdmin" pButton type="button" label="{{'EDITAR' | translate}}" routerLink="edit-team" style="background:#8DCF25;height:36px;padding:0px; vertical-align: -webkit-baseline-middle;cursor:pointer;width: 116px;"></button>
                <button *ngIf="team_details?.follow" (click)="follow(team_details?.follow)" [class.follow_btn]="team_details?.follow" pButton type="button" label="{{'Dejar de Seguir' | translate}}" style="margin-top:5px;background:#8DCF25; vertical-align: -webkit-baseline-middle;cursor:pointer;width: 116px;height:36px;padding:0px;"></button>
                <button *ngIf="!team_details?.follow" (click)="follow(team_details?.follow)" [class.follow_btn]="team_details?.follow" pButton type="button" label="{{'SEGUIR' | translate}}" style="margin-top:5px;background:#8DCF25; vertical-align: -webkit-baseline-middle;cursor:pointer;width: 116px;height:36px;padding:0px;"></button>
                <button *ngIf="isAdmin" (click)="invitePl='';invitePopupOpen(null)" pButton type="button" label="{{'INVITAR JUGADORES' | translate}}" style="margin-top:5px; padding:0px 0px 2px 0px;background:#8DCF25;width:116px;height:36px;vertical-align: -webkit-baseline-middle;cursor:pointer"></button>
                <br *ngIf="!isAdmin">
                <span class="" *ngIf="!isAdmin" style="position: relative;top: 18px;font-size: 3.5em;color: #00253f;font-family: 'ChaletComprime CologneEighty';">VS.</span>
                <button *ngIf="!isAdmin" pButton type="button" label="{{'RETAR' | translate}}" (click)="showReg()" style="background:#8DCF25;width:105px;position: relative;top: 7px;"></button>
                <button (click)="inviteTournamentInfo()" pButton type="button" label="{{'INVITAR EQUIPO' | translate}}" style="margin-top:5px; padding:0px 0px 2px 0px;background:#8DCF25;width:116px;height:36px;vertical-align: -webkit-baseline-middle;cursor:pointer"></button>
            </div>

        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="position:relative;margin-bottom: 200px">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
                        <hr style="width:100%;">
                        <div class="tabView">
                            <div class="icon-bar">
                                <span>
                                    <a routerLinkActive="activeLink" [class.active]="info" routerLink="information">{{'INFORMACIÓN' | translate}} |</a>
                                </span>
                                <span *ngIf="isAdmin">
                                    <a (click)="info=false" routerLinkActive="activeLink" routerLink="request">{{'SOLICITUDES' | translate}} |</a>
                                </span>
                                <span>
                                    <a (click)="info=false" routerLinkActive="activeLink" routerLink="schedule">{{'CALENDARIO' | translate}} |</a>
                                </span>
                                <span>
                                    <a (click)="info=false" routerLinkActive="activeLink" routerLink="jugadores">{{'JUGADORES' | translate}} |</a>
                                </span>
                                <span>
                                    <a (click)="info=false" routerLinkActive="activeLink" routerLink="torneos">{{'LIGAS' | translate}} |</a>
                                </span>

                                <span>
                                    <a (click)="info=false" routerLinkActive="activeLink" routerLink="history">{{'HISTORIAL' | translate}}</a>
                                </span>


                            </div>
                        </div>
                        <hr style="width:100%;">
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>


        <!----------------message modal------------------------------>
        <div class="invited">
            <p-dialog [(visible)]="mesg" modal="modal" [dismissableMask]="true" [resizable]="false">
                <div class="ui-g invite_popup_header">
                    <div class="ui-g-6 ui-sm-10 ui-md-10" style="padding:15px 0px 10px 15px;">
                        <span class="popup_heading">{{'ESCRIBE UN MENSAJE' | translate}}</span>
                    </div>
                    <div class="ui-g-6 ui-sm-2 ui-md-2 text-right">
                        <i class="fa fa-times" style="cursor:pointer" (click)="mesg=false; backdrop=false"></i>
                    </div>
                </div>


                <div class="ui-g" style="padding:0px 20px;">
                    <div class="ui-g-1 ui-sm-3 " style="display: flex;align-items: center;font-size: 1.5em;font-sizs:gray;">
                        <span style="color:gray;">{{'Para' | translate}}:</span>
                    </div>
                    <div class="ui-g-2 ui-sm-4 text-right">
                        <img [src]="team_logo?basePath+team_logo:'assets/images/default_team.png'" style="width:65px;height:65px;border-radius:50%;">
                    </div>
                    <div class="ui-g-8 ui-sm-5" style="display:flex;align-items:center;">
                        <p style="font-size: 2em;padding-left: 1%;color: #00253f;font-family: ChaletComprime CologneEighty;">{{team_details?.team_name}}</p>

                    </div>
                </div>
                <hr style="width:95%;margin:auto;">
                <div class="ui-g-12 ui-sm-11 ui-md-12" style="padding:3%;">
                    <textarea rows="2" [(ngModel)]="msg" cols="90" pInputTextarea autoResize="autoResize" style="border-radius: 0px;overflow-y: hidden;background:none;height:90px;color: #828282;padding:15px;width: 95%;"></textarea>

                </div>

                <div class="ui-g-12">
                    <div class="ui-g-6 ui-sm-2 ui-md-6 ui-lg-6"></div>
                    <div class="ui-g-6 ui-sm-10 ui-md-6 ui-lg-6 text-right" style="padding-right: 10px;">

                        <button pButton type="button" label="{{'CANCELAR' | translate}}" class="ui-button-grey" (click)="disable()"></button>
                        <button pButton type="button" class="ui-button-green save" label="{{'ENVIAR' | translate}}" (click)="postMsg()"></button>
                    </div>
                </div>


            </p-dialog>
        </div>

        <!--************** Image Cropper Popup*********************-->
        <div class="tournament_profil">
            <div class="ui-g">
                <p-dialog [(visible)]="display" modal="modal" showEffect="fade" [dismissableMask]="true" [resizable]="false">
                    <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                        <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-12" style="padding: 15px 30px;">
                            <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                        </div>
                        <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                            <button pButton type="button" class="choose" label="{{'ESCOGER' | translate}}" style="cursor:pointer;">
                                <input type="file" class="input" (change)="fileChangeListener($event)" />
                            </button>
                        </div>
                    </div>
                    <div class="ui-g" style="padding: 30px;padding-right:0;">
                        <div class="ui-g-7 ui-sm-6 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer">
                            <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                        </div>
                        <div class="ui-g-5 ui-sm-4 ui-md-4 ui-lg-5 text-center">
                            <label>Preview</label>
                            <span class="result rounded">
                                <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                            </span>
                            <br/>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-6 ui-sm-0 ui-md-6 ui-lg-6"></div>
                        <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
                            <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="display=false;disable()"></button>
                            <button pButton type="button" class="ui-button-green save" label="{{'Guardar' | translate}}" (click)="save()"></button>
                        </div>
                    </div>
                </p-dialog>
            </div>
        </div>
        <!--************** Image Cropper Popup*********************-->

        <!--apply for-->
        <div class="creat_team">
            <div class="ui-g ui-md ui-sm ui-lg">
                <p-dialog [(visible)]="teams" modal="modal" showEffect="fade" [dismissableMask]="true" [resizable]="false">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 align1">
                            <label class="popup1" style="text-transform:uppercase;font-size: 3.5em;font-family: 'ChaletComprime CologneEighty';">{{team_details?.team_name}}</label>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 align">
                            <img src="assets/images/success.png" class="image" />
                            <img [src]="team_details.team_logo?basePath+team_details.team_logo:'assets/images/default_team.png'" class="imag" />
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 align2">
                            <label class="popup2" style="font-size: 2.5em;font-family:'ChaletComprime CologneEighty';">{{'¿Estas seguro de aplicar para ser parte de este equipo?' | translate}}</label>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 align2">
                            <button pButton type="button" class="ui-button-green buton-2" (click)="cancl()" label="{{'No' | translate}}"></button>
                            <button pButton type="button" class="ui-button-green buton-2" (click)="accept()" label="{{'Si' | translate}}"></button>
                        </div>
                    </div>
                </p-dialog>
            </div>
        </div>

        <div class="regpopup invited">
            <p-dialog header="Godfather I" [(visible)]="displayDialog" modal="modal" showEffect="fade" [dismissableMask]="true" [resizable]="false">
                <div class="ui-g invite_popup_header">
                    <div class="ui-g-11 ui-sm-12 auto">
                        <span class="popup_heading">{{'Elige tu equipo con el que quieres retar' | translate}}</span>
                    </div>
                </div>


                <div class="fixregheigh">
                    <div class="scrol">
                        <div *ngFor="let team1 of teams1" class="ui-g regpopuphover" [class.selectteam]="getId==team1.id" (click)="getChallengeId(team1.id)" style="display:block;margin:auto;">
                            <div class="ui-g">
                                <div class="ui-g-2 ui-sm-3 partdiv text-right">
                                    <img class="circleimg " [src]="team1.team_logo?basePath+team1.team_logo:'assets/images/default_team.png'" alt="images" height="70px" width="70px" style="border-radius:50%;">
                                </div>
                                <div class="ui-g-9 ui-sm-9 partdiv" style="padding-top:2%;">
                                    <p [class.selectteam]="getId==team1.id" class="para" style="font-size:3em;text-transform:uppercase;font-family: 'ChaletComprime CologneEighty';">{{team1.team_name}}
                                        <span class="referee_text">{{"equipo" | translate}}</span>
                                    </p>
                                    <p style="color:#9AD643;font-size:14px;text-transform:uppercase;">{{team1.moto}}</p>
                                </div>
                            </div>
                            <hr style="color:#cfcfcf;width: 90%;margin: auto;margin-bottom: -3px;">
                            <div *ngIf="disablebtn">
                                {{'errorcoverPicListener' | translate}}
                            </div>
                        </div>
                        <div *ngIf="!teams1 || teams1.length==0">
                            <p style="text-align:center;margin-top: 9%;font-size: 15px;">{{'no hay equipos disponibles' | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="ui-g" style="padding-top: 3.25%;padding-left: 3%;">
                    <div class="ui-g-12">
                        <div class="ui-g-6 ui-sm-5 " style="color:black;">
                            <span class="hora" style="color:#043760;">{{'SELECCIONAR FECHA' | translate}}</span>
                            <br>
                            <br>
                            <p-calendar (onSelect)="checkRetarDate()" placeholder="{{'seleccione fecha' | translate}}" [yearNavigator]=true yearRange='2017:2050' [locale]="es" [(ngModel)]="challengeDate" [readonlyInput]="true" [locale]="es" [ngModelOptions]="{standalone: true}">
                            </p-calendar>
                            <p *ngIf="dateValid" style="color:red;">{{'Fecha deseada y ésta debe ser mayor que la fecha de hoy ...' | translate}}</p>
                        </div>
                        <div class="ui-g-6 ui-sm-5 horas" style="color:black;">
                            <span class="hora" style="color:#043760;">{{'SELECCIONE EL TIEMPO' | translate}}</span>
                            <br>
                            <br>
                            <p-calendar placeholder="{{'Entrar hora' | translate}}" [(ngModel)]="challengeTime" timeFormat="HH:00" [readonlyInput]="true" [timeOnly]="true" [locale]="es" [ngModelOptions]="{standalone: true}">
                            </p-calendar>
                        </div>
                    </div>
                    <div class="ui-g-7"></div>
                    <div class="ui-g-4 ui-sm-6">
                        <button type="button" pButton (click)="displayDialog=false;cancel()" label="{{'CANCELAR' | translate}}" style="background-color:#C4C4C4;"></button>
                    </div>
                    <div class="ui-g-1 ui-sm-6 right" style="margin-left: -15%;">
                        <button type="button" pButton (click)="submitChallenge()" label="{{'RETAR' | translate}}" [disabled]="disablebtn || dateValid || !challengeDate || !getId" style="background-color: #9AD643"></button>
                    </div>
                </div>


            </p-dialog>
        </div>
    </div>

    <div [class.backdrop]="backdrop"></div>
    <div [class.backdrop]="mesg"></div>
    <div [class.backdrop]="displayDialog"></div>
    <div [class.backdrop]="invitePopup"></div>
    <div [class.backdrop]="display"></div>
    <div [class.backdrop]="changeCoverPic"></div>
    <!--------------invite popup-------------------->
    <div class="invited">
        <p-dialog [(visible)]="invitePopup" modal="modal" [responsive]=true [dismissableMask]="true" [resizable]="false">
            <div class="ui-g invite_popup_header">
                <div class="ui-g-6 ui-sm-8">
                    <span class="popup_heading">{{'Invitar Jugador' | translate}}</span>

                </div>
                <div class="ui-g-6 ui-sm-4 text-right">
                    <i class="fa fa-times" style="cursor:pointer" (click)="invitePopup=false; backdrop=false"></i>
                </div>
            </div>
            <div style="height: 440px;overflow-y: scroll;">
                <div class="ui-g">
                    <div class="ui-g-12" style="padding: 10px 20px;">
                        <p-autoComplete [(ngModel)]="invitePl" placeholder="{{'Busqueda de jugadores' | translate}}" [suggestions]="" (completeMethod)="search($event)" field="referee_name" [size]="30" [minLength]="1"></p-autoComplete>
                    </div>
                </div>
                <div class="ui-g top_head_jugador" style="border-bottom: 0.5px solid #cfcfcf;" *ngFor="let player of pop">
                    <div class="ui-g-2 ui-sm-2 pro_pic_img">
                        <img *ngIf="!player?.profile_pic" src="assets/images/default.png" style="vertical-align: middle;border-radius:50%;">
                        <img *ngIf="player?.profile_pic" src='{{basePath}}{{player?.profile_pic}}' style="vertical-align: middle;border-radius:50%;">
                    </div>
                    <div class="ui-g-8 ui-sm-6" style="display:flex;align-items:center;">
                        <p class="invite_popup_name" style="text-transform:uppercase;">{{player?.name}} {{player?.last_name}}
                            <span class="referee_text">{{'Jugador' | translate}}</span>
                        </p>
                        <p class="invite_popup_city">{{player?.nick_name}}</p>
                    </div>
                    <div class="ui-g-2 ui-sm-4" style="padding-top: 20px;">
                        <button pButton type="button" (click)="invitePlayer(player?.id)" label="{{'invitar' | translate}}" class="ui-button-green"></button>
                    </div>
                </div>
                <div *ngIf="value" style="text-align:center;">{{'datos no encontrados' | translate}}</div>
            </div>
        </p-dialog>
    </div>

    <!--tournament invite popup-->
    <div [class.backdrop]="inviteTournamentPopup"></div>
    <div class="invited">
        <p-dialog [(visible)]="inviteTournamentPopup" modal="modal" [responsive]=true [dismissableMask]="true" [resizable]="false">
            <loader *ngIf='loader'></loader>
            <div class="ui-g invite_popup_header">
                <div class="ui-g-8 ui-sm-8">
                    <span class="popup_heading">{{'Seleccionar Torneo' | translate}}</span>
                </div>
                <div class="ui-g-4 ui-sm-4 text-right">
                    <i class="fa fa-times" style="cursor:pointer" (click)="inviteTournamentPopup=false"></i>
                </div>
            </div>
            <div style="height: 440px;overflow-y: scroll;">

                <div class="ui-g top_head_jugador" style="border-bottom: 0.5px solid #cfcfcf;" *ngFor="let info of tour_info">
                    <div class="ui-g-2 ui-sm-2 pro_pic_img">
                        <img *ngIf="!info?.tournament_logo" src="assets/images/tournament-profile-logo/default.png" style="vertical-align: middle;border-radius:50%;">
                        <img *ngIf="info?.tournament_logo" src='{{basePath}}{{info?.tournament_logo}}' style="vertical-align: middle;border-radius:50%;">
                    </div>
                    <div class="ui-g-8 ui-sm-6" style="display:flex;align-items:center;">
                        <p class="invite_popup_name" style="text-transform:uppercase;">{{info?.tournament_name}}
                            <span class="referee_text">{{'Torneo' | translate}}</span>
                        </p>

                    </div>
                    <div class="ui-g-2 ui-sm-4" style="padding-top: 20px;">
                        <button pButton type="button" (click)="inviteTournament(info?.id)" label="{{'invitar' | translate}}" class="ui-button-green"></button>
                    </div>
                </div>
                <div *ngIf="tour_info.length==0" style="text-align:center;font-size: 2em;color: darkcyan;margin-top: 25%;">{{"No estás administrando ningún torneo para poder invitar a este equipo." | translate}}</div>
            </div>
        </p-dialog>
    </div>

    <!---------------demo popup---------------->
    <!--************** cover_pic Popup**********************!-->
    <div class="tournament_profil1">
        <div class="ui-g">
            <p-dialog [(visible)]="changeCoverPic" modal="modal" showEffect="fade" [responsive]=true [dismissableMask]="true" [resizable]="false">
                <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                    <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-12 cov" style="padding: 15px 30px;">
                        <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                    </div>
                    <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                    </div>
                </div>
                <div class="ui-g cover_image">
                    <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6" *ngFor="let cover of coverPic">
                        <img [src]="basePath+cover.cover_pic" width="100%" height="100px" [class.coverPicSelect]="coverPicId==cover?.id" (click)="selectCoverPic(cover?.id)">
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm ui-md-6 ui-lg-6"></div>
                    <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right" style="padding-right:30px; padding-bottom:30px;">
                        <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="changeCoverPic=false;backdrop=false;"></button>
                        <button pButton type="button" class="ui-button-green save" label="{{'Guardar' | translate}}" (click)="updateCoverPic()"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
    </div>
</div>


<div [class.backdrop]="downloadProfile"></div>
<div class="ui-g ui-fluid pdfView">
    <p-dialog [(visible)]="downloadProfile" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
        <div #layout class="outer_div">
            <div class="image_div">
                <img class="share_cover" [src]='downloadDataInfo?.cover_pic' alt="My image" />
                <img class="img-circle share_profile" [src]='downloadDataInfo?.profile_pic' alt="My image" />
            </div>

            <div class="info">
                <p class="name">{{downloadDataInfo?.name}} </p>
                <p class="gender">{{downloadDataInfo?.moto}} </p>
                <p class="gender">Capitán: {{downloadDataInfo?.captain?downloadDataInfo?.captain:"--"}} </p>
                <p class="gender">{{downloadDataInfo?.country}} | {{downloadDataInfo?.city}} </p>

                <div class="ui-g-6 rating_left share">
                    <p-rating [stars]="5" [(ngModel)]="attitude" [cancel]="false"></p-rating>
                    <p> {{'Actitud' | translate}}</p>
                </div>
                <div class="ui-g-6 rating_right share ">
                    <p-rating [stars]="5" [(ngModel)]="techniq" [cancel]="false"></p-rating>
                    <p> {{'Tecnica' | translate}}</p>
                </div>
                <div class="team_info">
                    <div class="ui-g-2">
                    </div>
                    <div class="ui-g-2 text-center">
                        <span>{{downloadDataInfo?.matches_played?downloadDataInfo?.matches_played:"0"}} </span>
                        <span> Partidos Jugados</span>
                    </div>
                    <div class="ui-g-2 text-center">

                        <span>{{downloadDataInfo?.match_won?downloadDataInfo?.match_won:"0"}} </span>
                        <span>Partidos Ganados </span>
                    </div>

                    <div class="ui-g-2 text-center">

                        <span> {{downloadDataInfo?.goals_in_favor?downloadDataInfo?.goals_in_favor:"0"}} </span>
                        <span>Goles a Favor</span>
                    </div>
                    <div class="ui-g-2 text-center">

                        <span>{{downloadDataInfo?.goals_against?downloadDataInfo?.goals_against:"0"}}</span>
                        <span> Goles en Contra </span>
                    </div>
                    <div class="ui-g-2">
                    </div>
                </div>
            </div>
            <div class="ui-g-12 footer_share text-center">

                <img src="assets/images/pelo.png" />
                <p>pelotea.com</p>

                <!-- <div style="text-align:right" class="ui-g-6">
                        <img style="    margin-right: 20px;" src="assets/images/sponser_new.png" />
                        <p>official partner</p>
                    </div> -->
            </div>
        </div>
        <div style="width: 100%;text-align: right">
            <a download="teamProfile.png" [href]="imageUrlDownload">
                <i class="downloadBttn fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    </p-dialog>
</div>