@media screen and (max-width: 480px) and (min-width: 320px) {
    .imag {
        position: absolute;
        top: 23% !important;
        border-radius: 50% 50%;
        left: 26%;
        width: 136px !important;
        height: 117px !important;
    }
    .hora {
        font-size: 10px;
    }
    .horas {
        margin-left: 3%;
    }
    .image {
        width: 24em !important;
        height: 10em !important;
        margin-left: -1em;
        position: relative;
    }
}

@media screen and (max-width: 1000px) and (min-width: 640px) {
    .invited .ui-dialog {
        background: whitesmoke;
        top: 6em !important;
        left: 12% !important;
        width: 39em;
    }
    .creat_team .ui-dialog {
        top: 80px !important;
        left: 0px !important;
        width: 50%;
        height: 36em;
        border-radius: 25px;
        background: white;
    }
}

@media screen and (min-width: 640px) and (max-width: 890px) {
    .profile_pic {
        width: 100px !important;
        height: 100px !important;
        margin-top: 25px;
    }
}

.share_bttn {
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.share_bttn p {
    display: flex;
    align-items: center;
    text-align: -webkit-left;
    position: absolute;
}

.scrol {
    height: 200px;
    overflow-y: scroll;
}

.vs {
    padding-left: 192px;
}

.section {
    max-width: 970px;
    margin: auto;
    margin-top: -55px;
}

.pro_pic_img>img {
    width: 70px;
    height: 70px;
}

.active {
    color: #00253f !important;
}

.coverPicSelect {
    opacity: .5;
}

.dd:hover .choose {
    display: block;
}

.dd {
    position: relative;
}

.profile_pic {
    border-radius: 50% 50%;
    width: 65px;
    height: 65px;
    border: 4px solid white;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.55), gray);
    overflow: hidden;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.choose {
    display: none;
    cursor: pointer;
    position: absolute;
    margin-top: -6em;
    margin-left: 2em;
}

.follow_btn {
    font-size: .90499993165em;
}

.tournament_name_div {
    padding-top: 12px;
    text-align: center;
}

.tournament_name {
    color: #00253f;
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: 'ChaletComprime CologneEighty';
}

.tournament_date {
    color: #828282;
}

.tournament_country {
    color: #8DCF25;
    text-transform: uppercase;
    font-size: 1em;
}

.auto {
    display: block;
    margin: auto;
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}

.icon-bar {
    padding-bottom: 2%;
    margin-top: 2%;
}

.icon-bar span {
    font-size: 3em;
}

.icon-bar span a {
    text-decoration: none;
    color: #828282;
    margin-right: 10px;
    font-family: 'ChaletComprime CologneEighty';
}

.activeLink {
    color: #00253f !important;
}

.top_buttons {
    text-align: center;
    padding-top: 10px;
    display: table-cell;
    position: relative;
    text-align: right;
    padding-top: 60px;
    display: table-cell;
}

.invite_popup_header {
    background: #00253f;
}

.invite_popup_header .popup_heading {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 3.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.invite_popup_header .fa {
    color: white;
    font-size: 22px;
    padding-top: 10px;
    background: none;
}

.referee_text {
    padding: 1px 5px;
    font-size: 10px;
    background: #043760;
    font-family: Montserrat-Regular;
    text-transform: uppercase;
    border-radius: 25px;
    margin-left: 10px;
    color: white;
}

.vs {
    padding-left: 192px;
}

.cover_image {
    height: 28.5em;
}

.invited .ui-dialog {
    left: 0% !important;
}

.top_head_jugador {
    margin: 10px 20px;
}

@media only screen and (max-width: 640px) {
    .pro_pic_img>img {
        width: 45px;
        height: 45px;
    }
    .top_head_jugador {
        margin: 0px !important;
    }
    p.invite_popup_city {
        font-size: 1em;
    }
    p.invite_popup_name {
        font-family: ChaletComprime CologneEighty;
        color: #00253f;
        font-size: 1.5em;
    }
    .cover_image {
        overflow: scroll;
    }
    .creat_team .ui-dialog {
        top: 120px !important;
        left: 50px !important;
        width: 24em;
        height: 38em;
        border-radius: 25px;
        background: white;
    }
    .image {
        width: 24em;
        height: 18em;
        margin-left: -1em;
        position: relative;
    }
    .right {
        text-align: right;
    }
    .scrol {
        height: 117px;
        overflow-y: scroll;
    }
    .partdiv>img {
        width: 40px !important;
        height: 40px;
        border-radius: 50%;
    }
    .auto .popup_heading {
        font-size: 2em !important;
    }
    .cov {
        padding: 0px 30px !important;
    }
    .tournament_name_div {
        text-align: left !important;
    }
    .followers_count {
        margin-left: 21% !important;
    }
    .top_buttons {
        padding-top: 0px !important;
        margin: auto;
    }
    .tournament_name_div {
        padding-top: 60px;
    }
    .vs {
        padding-left: 0px;
    }
    .icon-bar {
        width: 700px;
    }
    .tabView {
        overflow-x: scroll;
    }
    .cover_pic {
        margin-top: -40px;
        float: right
    }
    .icons {
        color: white;
        text-align: center;
        position: relative;
        width: 160px;
        z-index: 1;
        float: right;
    }
    .icn {
        position: absolute;
        left: 0px;
    }
    .fa {
        width: 25px;
        background: #113861;
        font-size: 24px;
        border-radius: 50%;
        padding: 7px;
        margin: 1%;
        color: white;
        cursor: pointer;
    }
}

@media only screen and (min-width: 640px) {
    .icons {
        color: white;
        text-align: center;
        position: relative;
        width: 160px;
        z-index: 5;
        float: right
    }
    .icn {
        position: absolute;
    }
    .fa {
        width: 25px;
        background: #113861;
        font-size: 24px;
        border-radius: 50%;
        padding: 7px;
        margin: 1%;
        color: white;
        cursor: pointer;
    }
    .section {
        max-width: 970px;
        margin: auto;
        margin-top: -80px;
        position: relative;
        margin-bottom: 90px;
        -moz-animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -o-animation: fadein 2s;
    }
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .background {
        width: 100%;
        height: 15em;
        background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.55), gray);
        overflow: hidden;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .cover_pic {
        width: 127%;
        height: 110px;
        position: absolute;
        margin-left: -14%;
        z-index: 1;
        top: -52px;
    }
    .changeCover {
        display: none;
        margin-left: 980px;
        margin-top: 20px;
        cursor: pointer;
        height: 40px;
    }
    .cover_pic:hover .changeCover {
        display: block;
    }
    .dd:hover .choose {
        display: block;
    }
    .profile_pic {
        border-radius: 50% 50%;
        width: 140px;
        height: 140px;
        border: 4px solid white;
    }
    .choose {
        display: none;
        cursor: pointer;
        position: absolute;
        margin-top: -6em;
        margin-left: 2em;
    }
    .tournament_name_div {
        padding-top: 39px;
        text-align: left;
    }
    .tournament_name {
        color: white;
        text-transform: uppercase;
        font-size: 4em;
        font-family: 'ChaletComprime CologneEighty';
    }
    .tournament_country {
        color: #8DCF25;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    .tournament_date {
        color: #828282;
    }
    .icon-bar {
        padding-bottom: 1%;
        margin-top: 1%;
    }
    .icon-bar span {
        font-size: 3em;
    }
    .icon-bar span a {
        text-decoration: none;
        color: #828282;
        margin-right: 10px;
        font-family: 'ChaletComprime CologneEighty';
    }
    .activeLink {
        color: #00253f !important;
    }
}

.invite_popup_header {
    background: #00253f;
}

.invite_popup_header .popup_heading {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 4em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.invite_popup_header .fa {
    color: white;
    font-size: 22px;
    padding-top: 10px;
}

.invite_popup_name {
    font-family: ChaletComprime CologneEighty;
    color: #00253f;
    font-size: 2.5em;
}

.invite_popup_city {
    color: #8DCF24;
    font-size: 1.3em;
}

.invite_popup_followers {
    color: #828282;
}

.invite_popup_followers span {
    color: #e6263d;
}

.referee_text {
    padding: 1px 5px;
    font-size: 10px;
    background: #043760;
    font-family: Montserrat-Regular;
    text-transform: uppercase;
    border-radius: 25px;
    margin-left: 10px;
    color: white;
}

.lines {
    width: 100%;
}

hr {
    width: 80%;
    margin: 0px;
}

h2.setheading {
    padding-bottom: 2%;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    color: #828282;
    font-size: 3.5em;
    padding-top: 2%;
}

.texts {
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 1.2em;
    color: #828282;
}

.one {
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.fetcha {
    font-size: 1.3em;
    color: #828282;
    margin-top: 2%;
    margin-bottom: 2%;
}

.para {
    color: #00253f;
}

.hora {
    color: #828282;
    padding-left: 2%;
    padding-bottom: 1%;
}

.regpopup .ui-dialog .ui-dialog-content {
    zoom: 1;
    height: 375px !important;
    overflow: hidden !important;
}

.selectteam {
    background: #043760;
    color: white;
}

.imag {
    position: absolute;
    top: 21%;
    border-radius: 50% 50%;
    left: 26%;
    width: 200px;
    height: 200px;
}

.fixregheight {
    overflow-y: scroll;
    height: 88px;
}

.join-team .ui-dialog {
    width: 400px !important;
    display: block;
    visibility: visible;
    left: 509.5px;
    top: 127.5px;
}

.line1 {
    width: 84%;
    margin-top: -14px;
    margin-left: 157px;
}

.line {
    width: 95%;
    margin-top: -14px;
    margin-left: 55px;
}

.line2 {
    width: 88%;
    margin-top: -14px;
    margin-left: 130px;
}

.align2 {
    text-align: center;
    padding: 0em 0em 2em 0em;
    margin-bottom: -1%;
}

.align {
    padding: 0em 0em 2em 0em;
}

.image {
    width: 34em;
    height: 18em;
    margin-left: -1em;
    position: relative;
}

.align1 {
    text-align: center;
    padding: 2em 0em 2em 0em;
}

.image_cropper_heading {
    padding: 0;
    font-family: ChaletComprime CologneEighty;
    font-size: 3em;
    color: white;
    text-transform: uppercase;
}

.result {
    margin: 40px auto;
    margin-bottom: 0;
    display: block;
    width: 200px;
    border-radius: 100px;
}

.result.rounded>img {
    border-radius: 100px;
}

input[type='file'] {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.cancel {
    width: 85% !important;
}

.save {
    padding: 8px 16px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.cropper_label {
    padding-left: 5%;
    color: #828282;
    font-size: 1.2em;
}

.downloadBttn {
    width: 35px;
    background: white;
    color: black;
}

.share_profile {
    position: absolute;
    top: 55px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    right: 43%;
}

.share_cover {
    width: 496px;
    height: 96px;
}

.image_div {
    position: relative;
    text-align: -webkit-center
}

.outer_div {
    width: 500px;
    border: 1px solid;
    margin: 0 auto;
    height: 470px;
    position: realtive !important;
    margin-top: 20px;
    background: white;
    position: relative
}

.name {
    width: 100%;
    text-align: -webkit-center;
    color: #474747;
    letter-spacing: 1px;
    font-size: 1.4em;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: Roboto-Medium;
}

.gender {
    width: 100%;
    text-align: -webkit-center;
    color: #474747;
    font-size: 1.3em;
    text-transform: capitalize;
    font-family: Roboto-Light;
}

#point {
    font-size: 3em;
    padding-left: 5px;
    padding-right: 5px;
}

.info {
    margin-top: 40px;
    line-height: 1.8em;
}

.inner_info span {
    font-size: 1.2em;
}

.inner_info {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.rating_left {
    text-align: -webkit-right;
    padding-right: 20px;
}

.rating_right {
    padding-left: 20px;
}

.rating_left p {
    font-family: Roboto-Medium;
    font-size: 1.2em;
    width: 30%;
    text-align: -webkit-center;
}

.rating_right p {
    font-family: Roboto-Medium;
    font-size: 1.2em;
    width: 30%;
    text-align: -webkit-center;
}

.player_info {
    width: 600px;
    margin: 0 auto;
    margin-top: 55px;
    font-family: Roboto-Medium;
    font-size: 1.2em;
}

.player_info img {
    width: 40px
}

.footer_share {
    height: 70px;
    background: #00365D;
    position: absolute;
    bottom: 0px;
}

.footer_share img {
    width: 50px;
    height: 40px;
}

.footer_share p {
    color: white
}

.team_info * {
    display: grid;
    align-items: center;
}

.team_info div :first-child {
    color: #00253f;
    font-size: 1.7em;
}

.team_info div :last-child {
    font-size: 1.3em;
    text-transform: capitalize;
    font-family: Roboto-Light;
    margin-top: 5px;
}

.fa-star-o::before {
    color: gray !important
}