<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div style="display: flex;align-items: end;" class="ui-g-12">
            <div class="ui-g-10">
                <app-profile-complete [progress]="profile_complete_percentage"></app-profile-complete>
            </div>
            <div style="text-align: right;" class="ui-g-2">

                <img (click)="skipAll()" class="skip-all" src="assets/images/signup/Cross.png" />
            </div>
        </div>
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"What is your gender?" | translate}}
            </p>
            <div style=" text-align: center;" class="ui-g-12">
                <button [class.gender-active]="gender=='male_active'" (click)="gender='male_active'" class="gender" pButton type="button" label="{{'Male' | translate}}">
        </button>
            </div>
            <div class="ui-g-12" style=" text-align: center;">
                <button [class.gender-active]="gender=='male_inactive'" (click)="gender='male_inactive'" class="gender" pButton type="button" label="{{'Female' | translate}}">
        </button>
            </div>
        </div>

        <div class="ui-g-12" style="margin-top: 32px;">
            <button (click)="setGender(false)" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}">
      </button>
        </div>
        <div class="ui-g-12" style="text-align: center">
            <p (click)="setGender(true)" style="cursor: pointer;;color: #8b8e95;font-size: 16px;text-align: center;margin-top: 16px;display: grid;">
                {{"Skip" | translate}}
            </p>
        </div>

    </div>