<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader' class="loadercomponent"></loader>
<div class="ui-g" style="border-bottom: 1px solid lightgray;padding:1em;">
    <div class="ui-g-2" *ngIf="!msgs_detail">
        <span class="head" style="white-space:nowrap;">{{'Bandeja de entrada' | translate}}</span>
    </div>
    <div class="ui-g-2" *ngIf="msgs_detail">
        <button pButton type="button" class="ui-button-green" (click)="msgs_detail=false" label="{{'Regresar' | translate}}"></button>
    </div>
    <div class="ui-g-7">
        <button pButton type="button" style="float:right;" *ngIf="!msgs_detail&&message_id.length>0" (click)="delete()" label="{{'Borrar' | translate}}"></button>
    </div>
    <div class="ui-g-3" class="pagina" style="margin:auto;">
        <div *ngIf="!msgs_detail" style="display: table;">
            <img src="./../../../assets/images/prev.png" style="display:table-cell; vertical-align: middle;height:20px;width:20px;" (click)="previous()" />
            <span style="display:table-cell; vertical-align: middle;">{{'Página' | translate}} {{page}} de {{total_page}}</span>
            <img src="./../../../assets/images/next.png" style="display:table-cell; vertical-align: middle;height:20px;width:20px;" (click)="next()" />
        </div>
        <button pButton type="button" *ngIf="msgs_detail" (click)="delete_msg(user_msgs?.id)" label="{{'Borrar' | translate}}"></button>
    </div>
</div>
<div *ngIf="!msgs_detail">
    <div class="ui-g" style="border-bottom:1px solid lightgray;" *ngFor="let l of list;let i=index;">
        <div class="ui-g-1 ui-sm-2">
            <p-checkbox type="checkbox" value="{{l?.id}}" [(ngModel)]="message_id"></p-checkbox>
        </div>
        <div class="ui-g-9 ui-sm-8" style="padding:0px;cursor:pointer;" (click)="get_user_message(l?.id)">
            <div class="ui-g">
                <div class="ui-g-3 ui-sm-3 sm" style="height:23px;">
                    <span>{{l?.from_player?.first_name}}</span><span style="padding-left:.5em;">{{l?.from_player?.last_name}}</span>
                </div>
                <div class="ui-g-9 ui-sm-9 sm sm1" style="height:23px;">
                    <button pButton type="button" class="btn" [label]="l?.team?l?.team:l?.ground?l?.ground:l?.tournament?l?.tournament:l?.from_player?.first_name"></button><span>{{l?.message}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-2" class="over">
            <span *ngIf="l?.time?.years>0">{{l?.time?.years}}año</span>
            <span *ngIf="l?.time?.months>0&&l?.time?.years==0">{{l?.time?.months}}meses</span>
            <span *ngIf="l?.time?.days>0&&l?.time?.months==0&&l?.time?.years==0">{{l?.time?.days}}días</span>
            <span *ngIf="l?.time?.hours>0&&l?.time?.days==0&&l?.time?.months==0&&l?.time?.years==0">{{l?.time?.hours}}horas</span>
            <span *ngIf="l?.time?.minutes>0&&l?.time?.hours==0&&l?.time?.days==0&&l?.time?.months==0&&l?.time?.years==0">{{l?.time?.minutes}}minutos</span>
            <span *ngIf="l?.time?.minutes==0&&l?.time?.hours==0&&l?.time?.days==0&&l?.time?.months==0&&l?.time?.years==0">justo ahora</span>
            <img src="./../../../assets/images/deletebtn.png" style="cursor:pointer;height:20px;float:right;width:20px;" (click)="delete_msg(l?.id)">
        </div>
    </div>
</div>
<div style="padding:1em;" *ngIf="msgs_detail">
    <div class="ui-g" style="border-bottom: 1px solid lightgray;">
        <div class="ui-g-1">
            <img src="{{basePath}}{{profile_pic}}" style="height:25px;width:25px;" />
        </div>
        <div class="ui-g-9" style="padding:1em 0em;" *ngIf="user_msgs?.from_player">
            <span> {{user_msgs?.from_player?.first_name}}</span><span style="padding-left:.5em;">{{user_msgs?.from_player?.last_name}}</span>
        </div>
        <div class="ui-g-2">
            <span *ngIf="user_msgs?.time?.years>0">hace {{user_msgs?.time?.years}} año</span>
            <span *ngIf="user_msgs?.time?.months>0&&user_msgs?.time?.years==0">hace {{user_msgs?.time?.months}} mes</span>
            <span *ngIf="user_msgs?.time?.days>0&&user_msgs?.time?.months==0&&user_msgs?.time?.years==0">hace {{user_msgs?.time?.days}} día</span>
            <span *ngIf="user_msgs?.time?.hours>0&&user_msgs?.time?.days==0&&user_msgs?.time?.months==0&&user_msgs?.time?.years==0">hace {{user_msgs?.time?.hours}} hora</span>
            <span *ngIf="user_msgs?.time?.minutes>0&&user_msgs?.time?.hours==0&&user_msgs?.time?.days==0&&user_msgs?.time?.months==0&&user_msgs?.time?.years==0">hace {{user_msgs?.time?.minutes}} minutos</span>
        </div>
    </div>
    <div class="ui-g" style="padding:1em .5em;border-bottom:1px solid lightgray;">
        <p>{{user_msgs?.message}}</p>
    </div>
    <div class="ui-g" style="padding:1em .5em">
        <div class="ui-g-12"></div>
        <div class="ui-g-12 textbox">
            <img src="{{basePath}}{{profilepic}}" style="height:25px;width:25px;" /><label style="font-size:x-large;padding:0px;">:</label>
            <textarea rows="12" cols="90" [(ngModel)]="reply_msgs" [formControl]="Inbox_form.controls['replymsgs']" placeholder="Reply" pInputTextarea autoResize="autoResize" style="border-radius:0px;overflow-y:hidden;width:100%;height:150px;"></textarea>
        </div>
        <div class="ui-g-12">
            <button pButton type="button" class="ui-button-green" style="float:right;" [disabled]="!Inbox_form.valid" (click)="reply(user_msgs?.id)" label="{{'Respuesta' | translate}}"></button>
        </div>
    </div>
</div>