<loader *ngIf="loader">
</loader>
<p-growl [value]="msgs"></p-growl>
<div style="    width: 425px;" class="location_container">
    <div class="ui-g">
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading" style="margin-bottom: 16px">
                {{"Find your location" | translate}}
            </p>
            <p style="color: #8b8e95;font-size: 16px;text-align: center;line-height: 24px;margin-bottom: 32px" class="signup-heading">
                {{"Set your location to start exploring soccer community around you" | translate}}
            </p>
            <div style="position: relative;padding: 0px" class="ui-g-7">
                <p-autoComplete placeholder="{{'Where are you located?'| translate}}" (onSelect)="setLoaction($event)" field="description" [suggestions]="autocompleteItems" (completeMethod)="search($event)">
                </p-autoComplete>
                <img style="position: absolute;left: 8px;width: 22px;top: 10px;" src="assets/images/city_location.png" />
            </div>
            <div (click)="currentPosition()" class="ui-g-5 current-location">
                <p style="padding-top: 13px;font-size: 13px;padding-right: 8px;">{{'Use current location'| translate}} </p>
                <img style="position: absolute;left: 2px;width: 18px;top: 12px;" src="assets/images/my_location.png" />
            </div>
        </div>

        <div style="margin-top: 32px;" class="ui-g-12">
            <p class="signup-heading" style="color: #8b8e95;font-size: 16px;text-align: left;margin-bottom: 32px">
                {{"Search distance" | translate}} (<span style="color: #113861">{{distance}}</span>)
            </p>
            <p-slider [min]="0" [max]="100" [(ngModel)]="distance"></p-slider>
            <div style="padding: 0px;margin-top: 16px;font-size: 16px;color: #8b8e95;" class="ui-g-6">
                0 {{"Km"}}
            </div>
            <div style="padding: 0px;margin-top: 16px;font-size: 16px;color: #8b8e95;text-align: right" class="ui-g-6">
                100 {{"Km"}}
            </div>
        </div>
    </div>
</div>