.ui-slider-horizontal {
    background: #8ec63f !important
}

.current-location {
    position: relative;
    padding: 0px;
    text-align: right;
    color: #8b8e95;
    font-size: 14px;
    cursor: pointer;
    height: 45px;
    border: 1px solid #d7d7d7;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: #fafafa;
}