/* .team_container {
    width: 100%;
    margin: 180px auto;
}

.select-card {
    background: #FAFBFC;
    padding: 0;
    width: 100%;
    margin-bottom: 40px;
}

.com-card {
    margin-bottom: 20px;
}

.left-content {
    margin-right: 0px;
}

.right-content {
    margin-left: 0px;
}

.border-r {
    width: 16%;
    border-bottom: 2px solid #dbdbdb;
    display: block;
    margin-bottom: 17px;
    margin-left: 20px;
}

.border-s {
    width: 4%;
    border-bottom: 2px solid #dbdbdb;
    display: block;
    margin-bottom: 17px;
    margin-right: 10px;
}

.join-color {
    color: #8DC351;
    font-size: 20px;
    margin-top: 14px;
    cursor: pointer;
    display: inline-block;
    border-bottom: 2px solid #8DC351;
}

.logo_class {
    height: 45px;
    width: 45px;
}
.content_heading{
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto-Medium;
  text-align: center;
}
@media only screen and (min-width: 640px) {
    .team_container {
        width: 80%;
        margin: 180px auto;
    }
    .left-content {
        margin-right: 30px;
    }
    .right-content {
        margin-left: 30px;
    }
    .select-card {
        background: #FAFBFC;
        padding: 20px;
        width: 100%;
        margin-bottom: 40px;
    }
    .border-r {
        width: 35%;
        border-bottom: 2px solid #dbdbdb;
        display: block;
        margin-bottom: 17px;
        margin-left: 20px;
    }
    .logo_class {
        height: 55px;
        width: 55px;
    }
    .content_heading{
      margin: 0px 0px 48px 0px;
      font-size: 24px;
      font-weight: 500;
      font-family: Roboto-Medium;
      text-align: center;
    }
} */

/* new css */

.wrap-community {
    padding: 25px;
    margin: 0% 2% 2% 2%;
}

.community-card-d {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    height: 330px;
    transition: all 200ms ease-in;
    transform: scale(0.9);
}

.community-card-d:hover {
    transition: all 200ms ease-in;
    transform: scale(1);
}

.community-card-head {
    height: 100px;
    background: url("/assets/images/emptys/img1.jpeg") no-repeat center;
    background-size: cover;
    position: relative;
}

.community-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: -28px;
    left: 14px;
}

.community-card-content {
    padding: 30px 20px 10px 20px;
}

.community-card-content h2 {
    font-size: 18px;
    color: black;
    word-break: break-all;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: "Roboto-Light";
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.community-card-content span {
    font-size: 14px;
    line-height: 28px;
    font-family: "Montserrat-Light";
    color: black;
    margin-left: 28px;
}

.community-card-content p {
    font-size: 12px;
    color: #8b8e95;
    font-family: "Montserrat-Regular";
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-top: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.heding-align {
    text-align: center;
    margin: 26px 40px 0px 40px;
    border-bottom: 2px solid #dbdbdb;
    padding: 0 0 25px 0;
}

.r_right {
    float: right;
}

.join-but {
    border: 1px solid #8fc44f;
    padding: 7px 20px;
    color: #8fc44f;
    border-radius: 25px;
    background: white;
    font-size: 13px;
    font-family: "Montserrat-Regular";
    margin-top: 12px;
    cursor: pointer;
    outline: none;
    position: fixed;
    bottom: 15px;
}

.content_heading {
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat-Regular";
    text-align: center;
    color: white;
}

.para {
    margin: 10px 0px 20px 0px;
    text-align: center;
    color: white;
    font-family: "Montserrat-Regular";
    font-size: 14px;
}

.base-area {
    background: url("/assets/images/emptys/team_search.png") no-repeat center;
    background-size: cover;
    height: 186px;
}

.search_c {
    padding: 15px;
}

.sub-head {
    font-size: 22px;
    font-weight: 500;
    font-family: "Montserrat-Regular";
    text-align: center;
}

.span-b {
    border-bottom: 2px solid #dbdbdb;
    width: 90%;
    height: 4px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 11px;
}


.emptycard:hover {
    transition: all 200ms ease-in;
    transform: scale(1);
}

.s-empty {
    bottom: 128px;
    left: 7%;
    display: block;
    color: white;
    font-size: 18px;
}

.p-empty {
    bottom: 64px;
    display: block;
    left: 7%;
    right: 7%;
    color: white;
    line-height: 18px;
    font-size: 13px;
}

.team_container {
    width: 100%;
    margin: 180px auto;
}

.clear-f {
    float: right;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    color: #a6db5c;
    cursor: pointer;
    margin-top: -21px;
    margin-right: 20px;
}

.join-color {
    color: #8dc351;
    font-size: 20px;
    margin-top: 14px;
    cursor: pointer;
    bottom: 31px;
    left: 20px;
    display: inline-block;
    border-bottom: 2px solid #8dc351;
}

.team-create {
    font-family: "Montserrat-Regular";
    background: #8dc351;
    border: 1px solid #8dc351;
    outline: none;
    cursor: pointer;
    padding: 6px 12px;
    color: white;
    border-radius: 37px;
    font-size: 16px;
}

.skip {
    font-size: 14px;
    border-bottom: 2px solid;
    margin-left: 16px;
    cursor: pointer;
}

.save {
    font-family: "Montserrat-Regular";
    background: #8dc351;
    border: 1px solid #8dc351;
    outline: none;
    cursor: pointer;
    padding: 7px 15px;
    color: white;
    border-radius: 37px;
}

.cancle {
    font-family: "Montserrat-Regular";
    background: #d3d4d4;
    border: 1px solid #d3d4d4;
    outline: none;
    cursor: pointer;
    padding: 7px 15px;
    color: #333333;
    border-radius: 37px;
}

.backdrop {
    /* display: none; */
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 36;
}

.m-dialog {
    top: 13%;
    z-index: 40;
    width: 300px;
    background: #fff;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    padding: 20px;
}

.flex {
    display: flex;
}

.hed h4 {
    font-size: 20px;
    font-family: "Roboto-Light";
    letter-spacing: 1px;
}

.m-para {
    font-family: "Montserrat-Regular";
    margin: 4% 0 7% 0;
    line-height: 18px;
}

.team-details p {
    font-size: 15px;
    margin: 15px 0px;
}

.m-foot {
    text-align: right;
    margin: 4% 0 0 0;
}

.m-input .ui-inputtext {
    width: 50% !important;
}

.choose_file {
    font-family: "Montserrat-Regular";
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    margin-top: -3px;
    padding: 7px 20px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: #00253f;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    padding-top: 19px;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.image_cropper_heading {
    padding: 0;
    font-family: ChaletComprime CologneEighty;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
}

.cropper_label {
    padding-left: 5%;
    color: #828282;
    font-size: 1.2em;
}

.result {
    margin: 40px auto;
    margin-bottom: 0;
    display: block;
    background: gray;
    width: 200px;
    border-radius: 100px;
}

.result>img {
    border-radius: 100px;
}

.square>img {
    width: 95%;
    margin-left: 2%;
    height: 30%;
    margin-top: 35%;
}

.success-dialog {
    top: 13%;
    z-index: 40;
    width: 300px;
    background: #fff;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    padding: 20px;
}

.responsive-ig {
    background: url("/assets/images/emptys/team_sucessfull.png") no-repeat center;
    height: 124px;
    background-size: cover;
}

.logo-t {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.f1 {
    font-size: 20px;
    margin: 10px 20px 20px 20px;
    color: #171e22;
}

.f2 {
    margin: 16px 20px 20px 20px;
    color: #171e22;
    font-size: 14px;
}

.btn-align {
    border-radius: 0;
    margin: 0 20px 20px 20px;
}

.shoutout-midcontent {
    margin: 15px;
}

.dashed {
    border: 1px dashed #dbdbdb;
}

@media only screen and (min-width: 640px) {
    .content_heading {
        font-size: 24px;
        font-weight: 500;
        font-family: "Montserrat-Regular";
        text-align: center;
    }
    .search_c {
        padding: 20px 100px;
    }
    .team_container {
        width: 100%;
        margin: 130px auto;
    }
    .m-dialog {
        top: 13%;
        z-index: 40;
        width: 500px;
        background: #fff;
        position: fixed;
        margin: auto;
        right: 0;
        left: 0;
        padding: 20px;
    }
    .success-dialog {
        top: 13%;
        z-index: 40;
        width: 500px;
        background: #fff;
        position: fixed;
        margin: auto;
        right: 0;
        left: 0;
        padding: 0;
    }
}


.content {
    background: rgba(0, 0, 0, 0.3);
    padding: 1em;
    position: relative;
    z-index: 1;
}

.example-1 .wrapper {
    background: url("/assets/images/emptys/noteam.png") 20% 1%/cover no-repeat;
}

.example-1 .content {
    /* box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3); */
    background: rgba(0, 0, 0, 0.3);
}

.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* -webkit-transform: translateY(calc(70px + 1em));
    transform: translateY(calc(70px + 1em)); */
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.card {
    height: 310px;
    width: 300px;
    background: url(/assets/images/emptys/noteam.png) no-repeat center;
    background-size: cover;
    margin: auto;
    position: relative;
}

.card .wrapper {
    background-color: #fff;
    min-height: 320px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  
}

