<div class="team_container">

    <div class="base-area search_c">
        <div class="ui-g">
            <div class="ui-g-12">
                <p class="content_heading">
                    {{"Select the team you want to join"|translate}}
                </p>
                <p class="para">{{"Search over teams to find the one that's right for you." | translate}}</p>
            </div>
            <div style="width: 100%; margin: 0 23%;">
                <div style="position: relative;padding: 0px" class="drop-down com1-search">
                    <input type="text" #t pInputText placeholder="search here" (keyup)="teamfilter(t.value)" [(ngModel)]="nameSelected" />
                    <img style="position: absolute;left: 12px;width: 22px;top: 14px;" src="assets/images/searchi.png" />
                </div>
            </div>
        </div>
        <div class="heding-align">
            <span *ngIf="!searcharea" class="sub-head">
      {{"Teams in your selected community"|translate}}
    </span>
            <span *ngIf="searcharea" class="sub-head">
      {{"Teams results"|translate}}
    </span>
            <div class="r_right">
                <button *ngIf="createteamoption" (click)="createteam()" class="team-create">
        <img src="assets/images/emptys/create.png">{{"Create Team"|translate}}</button>
                <span *ngIf="oneteamonly" class="skip">{{"Team created Join another"|translate}}</span>
            </div>
        </div>
        <!-- for nearby communities -->
        <div *ngIf="!searcharea" class="wrap-community">
            <div class="styleloader">
                <loader *ngIf="loadr"></loader>
            </div>
            <!-- for nearby communities -->
            <div *ngIf="!searcharea" class="wrap-community">
                <div class="styleloader">
                    <loader *ngIf="loadr"></loader>
                </div>




                <div *ngIf="emptydata">
                    <div class="example-1 card emptycard">
                        <div class="wrapper" (click)="asplayer()">
                            <div class="data">
                                <div class="content">
                                    <h4 class="s-empty">{{"No teams in community"|translate}}</h4>
                                    <p class="p-empty">{{"There is no team in the community yet! No worries you can always another community go 'Join' below"|translate}}</p>
                                    <span (click)="joinnowwithnoteams()" class="join-color">+ {{"Join"|translate}}</span>
                                </div>
                            </div>

                            <div class="ui-g">
                                <div *ngFor="let data of teams" class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                    <div class="community-card-d">
                                        <div class="community-card-head">
                                            <img *ngIf="data.team_logo == null" class="community-logo" src="assets/images/default_team.png">
                                            <img *ngIf="data.team_logo != null" class="community-logo" [src]="logo+data?.team_logo">
                                        </div>
                                        <div class="community-card-content">
                                            <h2>{{data?.team_name}}</h2>
                                            <div style="margin: 5px 0 0 0;">
                                                <img style="margin-top:3px;position:absolute" src="assets/images/emptys/teams.png">
                                                <span>{{data?.members}} {{"members"|translate}}</span>
                                            </div>
                                            <div style="margin: 5px 0 0 0;">
                                                <img style="margin-top:6px;position:absolute" src="assets/images/emptys/flag.png">
                                                <span>{{data?.team_country}}</span>
                                            </div>
                                            <p *ngIf="data?.team_slogan!=null">{{data?.team_slogan}} </p>
                                            <p *ngIf="data?.team_slogan==null || data?.team_slogan==''">{{"There is no description available about the team"|translate}} </p>

                                            <button (click)="joinnow(data?.team_id)" class="join-but">{{"Join"|translate}} ></button>
                                        </div>
                                    </div>
                                </div>

                                <!-- for search results -->
                                <div *ngIf="searcharea" class="wrap-community">
                                    <div *ngIf="nodata">
                                        <div>
                                            <div class="emptycard">
                                                <h4 class="s-empty">{{"No Teams found"|translate}}</h4>
                                                <p class="p-empty">{{"We are unable to find a team matching your keywords, please search again with different keywords"|translate}}</p>
                                            </div>

                                            <div class="styleloader">
                                                <loader *ngIf="activateLoader"></loader>
                                            </div>
                                            <div class="ui-g">
                                                <div *ngFor="let data of teamsearch" class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                                                    <div class="community-card-d">
                                                        <div class="community-card-head">
                                                            <img *ngIf="data.team_logo == null" class="community-logo" src="assets/images/default_team.png">
                                                            <img *ngIf="data.team_logo != null" class="community-logo" [src]="imglogo+data?.team_logo">
                                                        </div>
                                                        <div class="community-card-content">
                                                            <h2>{{data?.team_name}}</h2>
                                                            <div style="margin: 8px 0 0 0;">
                                                                <img style="margin-top:3px;position:absolute" src="assets/images/emptys/teams.png">
                                                                <span>{{data?.members}} {{"members"|translate}}</span>
                                                            </div>
                                                            <div style="margin: 8px 0 0 0;">
                                                                <img style="margin-top:6px;position:absolute" src="assets/images/emptys/flag.png">
                                                                <span>{{data?.team_country}}</span>
                                                            </div>
                                                            <p>{{data?.team_slogan?data.team_slogan:'There is no description available about the team. ' }}
                                                            </p>
                                                            <button (click)="joinnow(data?.team_id)" class="join-but">{{"Join"|translate}} ></button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- create team dialog -->
                                            <div [class.backdrop]="createteamview"></div>
                                            <div class="m-dialog" *ngIf="createteamview">
                                                <div class="flex hed">
                                                    <h4>{{"Create team"|translate}}</h4>
                                                    <img (click)="closeDialog()" src="/assets/images/crossIcon.png" style="margin-left:auto;height:15px">
                                                </div>

                                                <p class="m-para">{{"Create your team and you can always add players in a team later, once your request will accepted"|translate}}</p>
                                                <div class="team-details">
                                                    <p>{{"Team name"|translate}}
                                                        <span style="color:red;">*</span>
                                                    </p>
                                                    <div class="m-input">
                                                        <input type="text" pInputText [(ngModel)]="teamname" />
                                                    </div>
                                                    <p>{{"Team logo"|translate}}</p>
                                                    <button type="button" class="choose_file" style="cursor:pointer">
      <input type="file" name="img" value="upload" style="cursor:pointer" (change)="fileChangeListener($event,'profilepic')" />
      <span style="cursor:pointer;color: white;">{{"Upload file"|translate}}</span>
    </button>
                                                    <span *ngIf="fileselected">{{"Your file is selected.."|translate}}</span>
                                                </div>
                                                <div class="m-foot">
                                                    <button class="cancle" (click)="closeDialog()">Cancle</button>
                                                    <button (click)="createteamsave()" class="save">Save</button>
                                                </div>
                                            </div>

                                            <!-- success dialog -->
                                            <div [class.backdrop]="successteam"></div>
                                            <div *ngIf="successteam" class="success-dialog">
                                                <div class="responsive-ig">
                                                </div>
                                                <div class="shoutout-midcontent">
                                                    <div>
                                                        <p class="f1">{{"Your Team has been successfully created!"|translate}}</p>
                                                        <div class="flex">
                                                            <img *ngIf="teamlogo==null" src="assets/images/emptys/team_placeholder.png">
                                                            <img *ngIf="teamlogo!=null" class="logo-t" [src]="imglogo+teamlogo">
                                                            <span class="f2">{{teamname}}</span>
                                                        </div>
                                                        <div style="text-align: right;">
                                                            <button class="cancle" (click)="joinanother()">{{"Join another team"|translate}}</button>
                                                            <button (click)="continue()" class="save">{{"continue"|translate}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- success dialog -->



                                                <p-dialog [(visible)]="display" modal="modal" showEffect="fade">
                                                    <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                                                        <div class="ui-g-10 ui-md-10 ui-lg-10 heading">
                                                            <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                                                        </div>
                                                        <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                                                        </div>
                                                    </div>
                                                    <div class="ui-g" style="padding: 30px;padding-right:0;">
                                                        <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="circleImg">
                                                            <img-cropper #cropper [image]="data2" [settings]="cropperSettings2"></img-cropper>
                                                        </div>
                                                        <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="squareImg">
                                                            <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                                                        </div>
                                                        <div class="ui-g-5 ui-sm-5 ui-md-5 ui-lg-5 text-center">
                                                            <label class="cropper_label">{{"Preview" | translate}}</label>
                                                            <span class="result rounded" *ngIf="circleImg">
        <img [src]="data2.image" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight">
      </span>
                                                            <span class="square" *ngIf="squareImg">
        <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
      </span>
                                                            <br/>
                                                        </div>
                                                    </div>
                                                    <div class="ui-g">
                                                        <div class="ui-g-6  ui-md-6 ui-lg-6"></div>
                                                        <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
                                                            <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="disable()"></button>
                                                            <button pButton type="button" class="ui-button-green save" label="{{'Guardar' | translate}}" (click)="save()"></button>
                                                        </div>
                                                    </div>
                                                </p-dialog>



                                                <!-- requets sent code -->
                                                <div [class.backdrop]="requestsend"></div>
                                                <!-- requets sent code -->
                                                <div *ngIf="requestsend" class="success-dialog">
                                                    <div class="responsive-ig">
                                                    </div>
                                                    <div class="shoutout-midcontent">
                                                        <div class="dashed">
                                                            <p class="f1">{{"Your Request has been successfully sent!"|translate}}</p>
                                                            <p class="f2">{{"Thanks for sharing your contact information."|translate}}</p>
                                                            <button type="button" pButton class="btn-align ui-button-green" (click)="backtodash()" label="Done"></button>
                                                        </div>
                                                    </div>


                                                    <!-- requets sent code -->
                                                    <div [class.backdrop]="errord"></div>
                                                    <!-- requets sent code -->
                                                    <div *ngIf="errord" class="success-dialog">
                                                        <div class="responsive-ig">
                                                        </div>
                                                        <div class="shoutout-midcontent">
                                                            <div class="dashed">
                                                                <p class="f1">{{"You are already part of this community!"|translate}}</p>
                                                                <p class="f2">{{"Try again by joining other community..!"|translate}}</p>
                                                                <button type="button" pButton class="btn-align ui-button-green" (click)="tocommunity()" label="Done"></button>
                                                            </div>
                                                        </div>


                                                        <!-- requets sent code -->
                                                        <div [class.backdrop]="alreadysenterr"></div>
                                                        <!-- requets sent code -->
                                                        <div *ngIf="alreadysenterr" class="success-dialog">
                                                            <div class="responsive-ig">
                                                            </div>
                                                            <div class="shoutout-midcontent">
                                                                <div class="dashed">
                                                                    <p class="f1">{{"Your Request for community has been already sent !"|translate}}</p>
                                                                    <p class="f2">{{"Please wait until your request will accept by community manager!"|translate}}</p>
                                                                    <button type="button" pButton class="btn-align ui-button-green" (click)="tocommunity()" label="Done"></button>
                                                                </div>
                                                            </div>