 .profile-icon {
     height: 125px;
     width: 125px;
 }
 
 .image-icon-margin {
     margin-top: 32px !important;
 }
 
 .profile-image {
     position: relative;
     width: 30px;
     height: 30px;
     border-radius: 0px;
     display: hidden;
     background: white;
     margin-left: -18px;
 }
 
 .profile-image-upload {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 30px;
 }
 
 .profile-input {
     position: absolute;
     top: 0px;
     left: 0px;
     padding-bottom: 10px;
     width: 30px;
     opacity: 0;
 }
 
 .square>img {
     width: 95%;
     margin-left: 2%;
     height: 30%;
     margin-top: 35%;
     width: 175px;
 }