<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div style="display: flex;align-items: end;" class="ui-g-12">
            <div class="ui-g-12">
                <app-profile-complete [progress]="profile_complete_percentage"></app-profile-complete>
            </div>
        </div>

        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"You're all set! Upload your picture and you have completed your profile." | translate}}
            </p>

        </div>

        <div class="image-icon-margin ui-g-12" style="text-align: center">
            <p style="display: inline;">
                <img *ngIf="crop_img==''" class="profile-icon" src="assets/images/signup/profile-upload.png" />
                <img [src]="crop_img" *ngIf="crop_img" />
                <button class="profile-image" pButton type="button">
                  <img class="profile-image-upload"  src="assets/images/signup/add_profile.png" />
                  <input class="profile-input" type="file" (change)="fileChangeEvent($event)" />
                </button>

            </p>
        </div>


        <div class="ui-g-12" style="margin-top: 32px;">
            <button [disabled]="crop_img==''" (click)="setProfile()" class="signup-bttn" pButton type="button" label="{{'Continue' | translate}}">
      </button>
        </div>
        <div class="ui-g-12" style="text-align: center">
            <p (click)="skip()" style="cursor: pointer;;color: #8b8e95;font-size: 16px;text-align: center;margin-top: 16px;display: grid;">
                {{"Skip" | translate}}
            </p>
        </div>

    </div>
</div>


<div class="tournament_profil">
    <div class="ui-g">
        <p-dialog [(visible)]="display" modal="modal" showEffect="fade">
            <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                <div class="ui-g-10 ui-md-10 ui-lg-10" style="padding: 15px 30px;">
                    <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                </div>
                <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                </div>
            </div>
            <div class="ui-g-12" style="padding: 30px;padding-right:0;">
                <div class="ui-g-7" style="border:2px dashed gray;cursor:pointer;text-align: center;width: 300px ;height: 300px ">
                    <image-cropper style="background: black;" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
                </div>
                <div class="ui-g-5   text-center">
                    <label class="cropper_label">{{'Preview' | translate}}</label>
                    <span class="square">
                        <img [src]="croppedImage" *ngIf="croppedImage" />
                      </span><br/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6"></div>
                <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
                    <button pButton type="button" label="{{'CANCELAR' | translate}}" class="ui-button-grey" (click)="disable()"></button>
                    <button pButton type="button" class="ui-button-green save" label="{{'GUARDAR' | translate}}" (click)="save()"></button>
                </div>
            </div>
        </p-dialog>
    </div>
</div>