.label1 {
    margin-left: -1px;
    font-size: 15px;
    margin-top: 22px;
    text-align: center;
    border-radius: 25px;
}

.deleteBttn {
    margin-top: -30px;
    float: right;
}

.fa-times {
    cursor: pointer;
}

.drop1 {
    padding: 5px 10px;
}

.instruction p {
    color: darkcyan;
}

.background_img {
    background-image: url("./../../../../../assets/images/back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.paddThisCol {
    padding: 2% 2% 0% 2%;
    max-width: 970px;
    margin: 0 auto;
}

.crearfONT {
    font-size: 26px;
    color: grey;
    padding-bottom: 1%;
}

.ciRclediv {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #b3b3b3;
    height: 350px;
}

.colPAD {
    padding: 2%;
}

.mrgnTOPCreateTeam {
    margin-top: 2%;
}

.paddrem {
    padding-bottom: 3%;
    padding-top: 4%;
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

.paddrem:hover {
    background-color: #99cc00;
    cursor: pointer;
}

.paso {
    color: #000033;
    font-size: 18px;
}

.perfil {
    color: #8c8c8c;
    font-size: 18px;
}

.merLEFT {
    margin-left: 4%;
}

.borderRDUS {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.ELEGIR {
    font-size: 20px;
    color: #666666;
}

.btnn {
    width: 40%;
    padding: 2%;
    border: none !important;
    font-size: 18px;
}

.secndBtn {
    width: 107%;
    padding: 3%;
    border: none !important;
    font-size: 15px;
}

.paddRowTorneo {
    padding: 1% 0% 1% 3%;
}

.Tcolor {
    color: #99cc00;
    font-size: 18px;
}

.MERtOP {
    margin-top: 3%;
}

.rounds {
    width: 100%;
    background-color: #e6e6e6;
    border-radius: 30px;
    margin-top: 1%;
}

.ronda1 {
    color: #666666;
    font-size: 18px;
}

.gFonts {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
}

.margintop {
    margin-top: 2%;
}

.margintop button {
    background-color: #8DCF25;
    width: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 60%;
}

.agregarRonda {
    color: #666666;
    font-size: 25px;
}

.roundDetail {
    color: #666666;
    font-size: 18px;
    padding-left: 5%;
}

.textWidth {
    width: 100%;
}

.BtnContinuar {
    width: 95%;
    padding: 3%;
    border: none !important;
    font-size: 15px;
}

.editPen {
    font-size: 18px;
    color: #666666;
    margin-left: 1%;
}

.tops {
    width: 970px;
    margin: 0 auto;
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}

.headingOfPopupReserve {
    background-color: #00253F;
}

.headingOfPopupReserve span {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'ChaletComprime CologneEighty';
}


/*===================== @media query=====================*/

@media(max-width:1025px) {
    .btnn {
        width: 100%;
        padding: 2%;
        background-color: #99cc00 !important;
        border: none !important;
        font-size: 18px;
    }
    .secndBtn {
        width: 85%;
        font-size: 14px;
    }
    .bgcolo {
        margin-left: 13%;
    }
}

@media screen and (min-width:320px) and (max-width:640px) {
    .roundDetail {
        font-size: 16px;
    }
    .paddRowTorneo {
        padding: 1% 0% 1% 0%;
    }
}