<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>

<div *ngIf="showRounds">
    <div class="ui-g">
        <div class="ui-g-12">
            <p class="crearfONT">{{"RONDAS" | translate}}</p>
            <hr style="width:101%">
        </div>
    </div>

    <div class="ui-g paddRowTorneo" *ngIf="is_automatic!='False'">
        <div class="ui-g-7"> </div>
        <div class="ui-g-2">
            <p class="Tcolor" align="center">T</p>
        </div>
        <div class="ui-g-2">
            <p class="Tcolor" align="center">D</p>
        </div>
    </div>

    <div class="ui-g ui-fluid">
        <div class="ui-g-11 rounds paddRowTorneo mrgintopp" *ngFor=" let roudsInfo of roundsDetails ">
            <div class="ui-g">
                <div class="ui-g-7">
                    <span class="ronda1">{{roudsInfo.round_name}}</span> <span class="gFonts"> ({{roudsInfo.round_type}})</span>
                </div>
                <div class="ui-g-2" *ngIf="is_automatic!='False'">
                    <p align="center" class="ronda1"> {{roudsInfo.teams_to_play}}</p>
                </div>
                <div class="ui-g-2" *ngIf="is_automatic!='False'">
                    <p align="center" class="ronda1">{{roudsInfo.playoff_teams}}</p>
                </div>
            </div>
            <div class="ui-g-1 deleteBttn">
                <i class="fa fa-times" (click)="showDeletePopup(roudsInfo)" style="margin-left: 45%"></i>
            </div>
        </div>
    </div>
</div>



<div class="ui-g-4 ui-md-3 ui-sm-4 ui-lg-4" *ngIf="(hideCreateNew || noOfRegisteredTeam > 1) && !showRoundsFields">
    <button *ngIf="createRoundDisable" pButton type="button" label="{{'Crear ronda' | translate}}" class="BtnContinuar ui-button-green" (click)="createNewRoundsBttn()"></button>
</div>
<div class="ui-g-4 ui-md-3 ui-sm-4 ui-lg-4" *ngIf="noOfRegisteredTeam == 0 && roundsDetails.length==0 && !showRoundsFields">
    <p style="color:darkcyan;line-height: 35px;">{{'Ningún equipo registrado' | translate}}</p>
</div>
<br>
<div class="ui-12 instruction" *ngIf="hideCreateNew" style="margin-top: 35%;text-align: justify;">
    <p>{{'Instrucciones: Escribir el nombre de la ronda (ej. Fases de grupo, Cuartos, Semifinales, Final) y seleccionar el tipo de ronda:' | translate}}
    </p>
    <p style="    padding: 5px 0px;">
        1) {{'FASES DE GRUPO (todos los equipos juegan 1 partido contra todos en el mismo grupo y los fixtures son generados automSticamente de forma aleatoric por Pelotea)' | translate}}
    </p>
    <p style="    padding: 5px 0px;">
        2) {{'ELIMINACION SIMPLE (todos los equipos juegan 1 partido contra todos en el mismo grupo y los fixtures son generados manualmente por el usuario)' | translate}}
    </p>
    <p style="    padding: 5px 0px;">
        3) {{'ELIMINACIÓN DOBLE (todos los eguipos juegan 2 partidos (ida-y-vuelta) contra todos en el mismo grupo y los fixtures son generados manualmente por el usuario).' | translate}}
    </p>
</div>
<br>
<br>
<div *ngIf="showRoundsFields">
    <div class="ui-g mrgintopp">
        <div class="ui-g-12">
            <p class="agregarRonda">{{'AGREGAR RONDA' | translate}} </p>
            <hr>
        </div>
    </div>
    <div class="ui-g mrgintopp">
        <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6">
            <p class="roundDetail">{{'Nombre de ronda' | translate}}</p>
            <div class="drop1">
                <input type="text" pInputText class="textWidth" placeholder="{{'Nombre de ronda' | translate}}" [(ngModel)]="roudsDeatilsIns.round_name" (keyup)="changeRoundName()" />
            </div>
        </div>
        <div class="ui-g-6 ui-md-6 ui-sm-6 ui-lg-6">
            <p class="roundDetail">{{'Tipo de Ronda' | translate}}</p>
            <div class="drop1">
                <p-dropdown [options]="roundList" [(ngModel)]="roudsDeatilsIns.round_type" (onChange)="changeRounds($event)" [style]='{"width":"100%"}'>
                </p-dropdown>

            </div>
        </div>

    </div>
    <div class="ui-g margintop">
        <button pButton type="button" label="{{'Guardar y continuar' | translate}} " class="secndBtn bgcolo ui-button-green" (click)="createRoundData()"></button>
    </div>
    <br>
    <br>
    <div class="ui-12 instruction" *ngIf="showRoundsFields" style="margin-top: 0%;text-align: justify;">
        <p>{{"Instrucciones: Escribir el nombre de la ronda (ej. Fases de grupo, Cuartos, Semifinales, Final) y seleccionar el tipo de ronda:" | translate}}
        </p>
        <p style="    padding: 5px 0px;">
            1) {{'FASES DE GRUPO (todos los equipos juegan 1 partido contra todos en el mismo grupo y los fixtures son generados automSticamente de forma aleatoric por Pelotea)' | translate}}
        </p>
        <p style="    padding: 5px 0px;">
            2) {{'ELIMINACION SIMPLE (todos los equipos juegan 1 partido contra todos en el mismo grupo y los fixtures son generados manualmente por el usuario)' | translate}}
        </p>
        <p style="    padding: 5px 0px;">
            3) {{'ELIMINACIÓN DOBLE (todos los eguipos juegan 2 partidos (ida-y-vuelta) contra todos en el mismo grupo y los fixtures son generados manualmente por el usuario).' | translate}}
        </p>
    </div>
</div>

<!--/**************PopUp Window*********************/-->

<div class="deleteround">
    <p-dialog [(visible)]="deletePopup" modal="modal" showEffect="fade">
        <div class="ui-g">
            <div class="ui-g-12 label1">
                <label>{{'Estas seguro de que deseas eliminar esta ronda ?' | translate}}</label>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <div class="ui-g">
                    <div class="ui-g-12 text-center">
                        <button type="button" pButton (click)="deletePopup=false" label="{{'No' | translate}}" class="ui-button-grey"></button>
                        <button type="button" pButton (click)="deleteRounds()" label="{{'Si' | translate}}" style="width: 58px;" class="ui-button-green"></button>
                    </div>
                </div>
            </div>
        </footer>
    </p-dialog>
</div>

<!--/**************PopUp Window End*********************/-->
<div [class.backdrop]="deletePopup"></div>
<div [class.backdrop]="regTeamPopup"></div>

<div class="ui-g ui-fluid reservarMessage">
    <p-dialog [(visible)]="regTeamPopup" modal="modal" [modal]=true>
        <div class="ui-g">
            <div class="ui-g-12 headingOfPopupReserve">
                <span>{{'Mensaje' | translate}}</span>
            </div>
        </div>
        <div class="ui-g" style="margin-top: 10px;">
            <div class="ui-g-12">
                <span style="color: darkcyan">{{'El número de equipos no es igual al equipo registrado' | translate}}</span>
            </div>
        </div>
        <br>
        <br>
        <div class="ui-g">
            <div class="ui-g-6">
                <button type="button" pButton (click)="regTeamPopup=false;" class="ui-button" label="{{'Cancelar' | translate}}"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="regTeamPopup=false;redirectPage()" class="ui-button-green" label="{{'Ignorar' | translate}}"></button>
            </div>
        </div>
    </p-dialog>
</div>