<ion-header>
    <div style="text-align:center">
        <img style="padding: 0px" class="header-logo" src="assets/images/pelo.png" />
    </div>
</ion-header>


<ion-content no-bounce no-padding>
    <ion-grid no-padding padding-left padding-top>

        <ion-col no-padding col-12>
            <p style="font-family: roboto-bold;font-size: 24px;margin-bottom: 0px">
                {{"You'll need a password" | translate}}.
            </p>
            <p style="font-family: roboto-regular;color: #666;font-size: 18px;margin-top:5px;">
                {{"Make sure its 6 characters or more." | translate}}
            </p>
        </ion-col>

        <ion-col *ngIf="!show_password" margin-top no-padding col-12>
            <ion-item no-padding>
                <ion-input (keyup)="validate($event)" [(ngModel)]="password" type="password" placeholder="{{'Password'}}" style="position: relative;">
                </ion-input>
            </ion-item>
            <i *ngIf="check_password" class="fa fa-check-circle-o ok" aria-hidden="true"></i>
        </ion-col>


        <ion-col *ngIf="show_password" margin-top no-padding col-12>
            <ion-item no-padding>
                <ion-input (keyup)="validate($event)" [(ngModel)]="password" type="text" placeholder="{{'Password'}}" style="position: relative;">
                </ion-input>
            </ion-item>
            <i *ngIf="check_password" class="fa fa-check-circle-o ok" aria-hidden="true"></i>
        </ion-col>

        <P (click)="show_password=true" *ngIf="!show_password" style="font-family: roboto-regular;color:#113861;">{{'Reveal password' | translate}}</P>
        <P *ngIf="show_password" (click)="show_password=false" style="font-family: roboto-regular;color:#113861;">{{'Hide password' | translate}}</P>

    </ion-grid>



</ion-content>

<ion-footer no-shadow no-padding>
    <ion-toolbar position="bottom" no-padding>
        <button class="next" [disabled]="!check_password" (click)="setPassword()" full ion-button>{{'Next' | translate}}</button>
    </ion-toolbar>
</ion-footer>