page-set-password {
    .text-input-ios {
        font-size: 20px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        margin-right: 0px;
        width: 100%;
        padding-right: 56px;
        color: #113861;
    }
    .text-input-md {
        font-size: 20px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        margin-right: 0px;
        width: 100%;
        padding-right: 56px;
        color: #113861;
    }
    .item-ios.item-block .item-inner {
        padding-right: 0px;
    }
    .item-md.item-block .item-inner {
        padding-right: 0px;
    }
    .item-input-has-focus {
        color: #113861;
    }
    .ok {
        color: #7AC275;
        font-size: 30px;
        position: absolute;
        top: 10px;
        z-index: 65465464654654;
        right: 25px;
    }
    .next {
        width: 100px;
        border-radius: 30px;
        background: #113861;
        float: right;
        height: 45px;
        letter-spacing: .5px;
    }
    .toolbar-content-ios {
        padding: 8px 16px;
        background: white;
    }
    .toolbar-content-md {
        padding: 8px 16px;
        background: white;
    }
    .footer-ios .toolbar-ios:first-child .toolbar-background-ios {
        border-top: 1px solid;
    }
    .footer-md .toolbar-md:first-child .toolbar-background-md {
        border-top: 1px solid;
    }
}