<ion-header>
  <ion-navbar no-padding>
    <div padding class="header_div">
      <ion-title style="text-align: center;">{{'Organizations' | translate}}</ion-title>
      <span style="color:#666666;font-family:roboto-regular" (click)="modify()">{{'Modify' | translate}}</span>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="body">
  <ion-grid no-padding>
    <div class="fixed_search">
      <ion-row class="search" *ngIf="!internet">
        <ion-col no-padding col-12>
          <ion-searchbar no-padding>
          </ion-searchbar>
        </ion-col>
      </ion-row>
    </div>
      <ion-row class="maincard" *ngFor="let i of organization"(click)="profile();">
        <ion-col no-padding style="display: flex;align-items: center;" col-2>
          <img class="logo" src="assets/images/team/team_default.png"/>
        </ion-col>
        <ion-col no-padding style="padding-left:16px" col-10 >
          <ion-row>
            <ion-col no-padding col-8>
              <p class="title">
                {{i?.name}}
              </p>
              <p class="sub_title">{{i?.city}},{{i?.country}}</p>
            </ion-col>
           
          </ion-row>
        </ion-col>
      </ion-row>
   
  </ion-grid>
 
</ion-content>
