.wrap-main-outlet {
    margin: auto;
    max-width: 1800px;
}

.header_landing_page {
    background-color: #F8F9FB;
    padding-top: 0px;
    border-bottom: 1px solid lavender;
}

.header_landing_width {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.whatsup {
    width: 20px;
}

.whatsup_number {
    display: flex;
    align-items: center;
}

.number {
    padding-top: 10px;
}

.menu_bar {
    background-color: #FFFFFF;
    border-bottom: 1px solid lavender;
}

.unorder_menu {
    position: relative;
}

.unorder_menu a {
    list-style: none;
    text-decoration: none;
    color: #B8B8B8;
    cursor: pointer;
    margin-right: 35px;
    display: flex;
    align-items: center;
}

.unorder_menu span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unorder_menu p {
    display: grid;
    position: absolute;
    z-index: 5;
    top: 55px;
    border: 1px solid lightcyan;
    width: 140px;
    height: 45px;
    background: white;
    box-shadow: 0px 0px 15px -5px #999;
    border-radius: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.unorder_menu label {
    padding-left: 4px !important;
    color: #B8B8B8;
    cursor: pointer;
}

.headin {
    padding: 4px 0px 8px 0px;
}

.banner img {
    width: 160%
}

.tour_type_info {
    height: 165px;
    text-align: center;
    box-shadow: 0px 0px 1px 0px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.tour_type_info_list {
    text-align: center;
    display: initial;
}

.tour_type_info_list img {
    float: left;
    margin-left: 25px;
    padding-right: 5px;
    margin-top: 15px;
}

.right-wrap {
    box-shadow: 0px 0px 15px -5px #999;
    margin-top: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.mobile-display {
    display: block;
}

.navbarFixed {
    position: fixed;
    z-index: 20;
    width: 100%;
}

@media only screen and (min-width: 640px) and (max-width:840px) {
    .header_landing_width {
        width: 100% !important;
    }
    .tab_display {
        display: none !important;
    }
    .unorder_menu span {
        width: initial !important;
    }
}

@media only screen and (max-width: 640px) {
    .mobile-display {
        display: none;
    }
    .header_landing_width {
        width: initial;
    }
    .mobile-center {
        text-align: center;
    }
    .mobile-center img {
        height: 35px;
        padding-top: 5px;
    }
    .unorder_menu span {
        white-space: nowrap;
        overflow-x: scroll;
        width: 100%;
        padding-bottom: 20px;
        margin-top: 0px;
    }
}

.multilang {
    position: absolute;
    top: 30px;
    right: 0px;
    border: 1px solid #F8F9FB;
    text-decoration: none;
    line-height: 35px;
    z-index: 2;
    background: #F8F9FB;
    color: #888888;
    box-shadow: 16px 14px 40px -10px #999;
    cursor: pointer
}

.multilang li {
    display: flex;
    align-items: center;
}

.multilang li img {
    margin-right: 5px;
}

.ui-dropdown {
    width: 100% !important;
}

.drop-f {
    width: 24%;
}

.drop-f .ui-dropdown .ui-dropdown-label {
    color: #B8B8B8!important;
    background: white;
    border-radius: 0;
    border: 1px solid #dbdbdb!important;
}