<div *ngIf="navIsFixed" class="navbarFixed" [@myAnimation]>
    <div class="header_landing_page">
        <div class="ui-g header_landing_width">
            <div class="ui-g-6 ui-sm-6 ui-md-6 whatsup_number">
                <!-- <img class="whatsup" src="assets/images/whatsup.png" />&nbsp;&nbsp;
                    <p>+593 99 7100 102</p> -->
            </div>

            <div style="position:relative" class="ui-g-6 ui-sm-6 ui-md-6">
                <img *ngIf="displayFlag=='es'" id="imglang" src="assets/images/Ecuador.png " style="float: right;cursor:pointer;width:30px" />
                <img *ngIf="displayFlag=='en'" id="imglang" src="assets/images/usa_flag.jpg" style="float: right;cursor:pointer;width:30px" />
                <img *ngIf="displayFlag=='pt'" id="imglang" src="assets/images/portuguese_flag.jpg" style="float: right;cursor:pointer;width:30px" />

                <div *ngIf="display" class="multilang " [@myAnimation]>
                    <ul style="list-style-type: none;padding-left: 20px;padding-right: 20px;">
                        <li id="eng">
                            <img style="width:30px" src="assets/images/usa_flag.jpg" />{{'English'}}</li>
                        <li id="span">
                            <img style="width:30px" src="assets/images/Ecuador.png" />{{'Español' }}</li>
                        <li id="port">
                            <img style="width:30px" src="assets/images/portuguese_flag.jpg" />{{'Português'}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="menu_bar">
        <div class="ui-g header_landing_width">
            <div class="ui-g-2 ui-sm-12 mobile-center">
                <img src="assets/images/pelo.png" routerLinkActive="activeLink" style="cursor: pointer" />

            </div>
            <div class="ui-g-10 ui-sm-12 unorder_menu">
                <span>
                     <div *ngIf="comoptions" class="drop-f">
                        <p-dropdown [options]="dropdata" (onChange)="toselectedcommunity($event)" [(ngModel)]="selectedCity2" optionLabel="name"></p-dropdown>
                    </div> 
                    <!-- <a routerLink="./../home">{{'Inicio' | translate}}</a> -->
                    <a id="check">Pelotea
                        <i class="fa fa-chevron-down" id="check"></i>
                        <p *ngIf="dropDown" [@myAnimation]>
                            <label routerLinkActive="activeLink" routerLink="./about">{{'Sobre nosotros' | translate}} </label>
                            <!-- <label routerLinkActive="activeLink" routerLink='./customers'>{{'Clientes' | translate}}</label> -->
                        </p>
                    </a>
                    <!-- routerLink='./pricing'-->
                    <!-- <a routerLinkActive="activeLink"    >{{'Precios' | translate}}</a> -->
                    <a target="_blank" href="https://pelotea.zendesk.com/">{{'Soporte' | translate}}</a>
                    <!-- <a routerLinkActive="activeLink" routerLink="./signup">{{'Regístrate' | translate}}</a> -->
                    <a routerLinkActive="activeLink" routerLink="./quote">{{'Contáctanos' | translate}}</a>
                    <button *ngIf="!comoptions" style="border-radius: 37px;" routerLink="./login" pButton type="button" label="{{'Iniciar sesión' | translate}}"
                        class="ui-button-greenborder  quote-btn"></button>
                    <button style="border-radius: 37px;margin-left:20px;" routerLink="./community" pButton type="button" label="{{'Únete a la comunidad' | translate}}"
                        class="ui-button-green quote-btn"></button>

                </span>
            </div>
        </div>
    </div>
</div>

<div class="wrap-main-outlet">
    <router-outlet></router-outlet>
</div>