<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>
<div class="ui-g" style="margin-bottom:2%;margin-top:2%;">
    <div class="ui-g-6 hoverOnTd" [ngClass]='{"invitesSent-button": !activeLink, "invitesReceived-button": activeLink}' (click)="received();invitesSent=false">{{'Solicitudes Recibidas' | translate}}</div>
    <div class="ui-g-6 hoverOnTd" [ngClass]='{"invitesSent-button": activeLink, "invitesReceived-button": !activeLink}' (click)="sent(); invitesSent=true">{{'SOLICITUDES ENVIADAS' | translate}}</div>
</div>
<div class="ui-g match ui-fluid" *ngFor="let referee of refereeList">
    <div class="ui-g-3 ui-sm-12 ui-md-3 ui-lg-3 borderOfCard">
        <div class="ui-g-3">
            <img [src]="referee.profile_pic?basePath+referee.profile_pic:'assets/images/default_player.png'" class="card-image" />
        </div>
        <div class="ui-g-9" style="padding-top: 10px;">
            <span class="teamSpan">{{referee.name}}</span><br>
            <span class="referee_text">{{'arbitro' | translate}}</span>
        </div>
    </div>
    <div class="ui-g-9 ui-sm-12 ui-md-9 ui-lg-9 backColor">
        <div class="ui-g">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 card_right_section_text">
                <span>{{'¿le gustaría añadir en árbitro?' | translate}}</span>
            </div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <button pButton type="button" label="{{'Ver perfil' | translate}}" class="ui-button-green requestTab_button" [routerLink]="['/dashboard/player/player-profile', referee.id]"></button>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 requestTab_action_button_dropdown">
                    <button *ngIf="invitesSent" style="padding: 1px" pButton type="button" label="{{'cancelar peticion' | translate}}" (click)="cancelRefereeRequest(referee.reg_id)" class="ui-button-red ui-button requestTab_button"></button>
                    <p-dropdown *ngIf="!invitesSent" [options]="actionOptions" [ngModel]="selectOption" (onChange)="selectedActionFun($event, referee.reg_id, 'referee')" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-g" style="margin-top: 20px;height: 100px" *ngIf="!refereeList.length  && !groundList.length && !teamList.length">
    <div class="ui-g-12 text-center">
        <span style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
    </div>
</div>
<div class="ui-g match ui-fluid" *ngFor="let team of teamList">
    <div class="ui-g-3 ui-sm-12 ui-md-3 ui-lg-3 borderOfCard centerDiv">
        <div class="ui-g-3">
            <img [src]="team.team_logo?basePath+team.team_logo:'assets/images/team-profile-logo/default.png'" class="card-image" />
        </div>
        <div class="ui-g-9 ">
            <span class="teamSpan">{{team.team_name}}</span><br>
            <span class="team_text">{{'EQUIPOS' | translate}}</span>
        </div>
    </div>
    <div class="ui-g-9 ui-sm-12 ui-md-9 ui-lg-9 backColor">
        <div class="ui-g">
            <div class="ui-g-7 ui-sm-6 ui-md-7 ui-lg-7 card_right_section_text">
                <span *ngIf="!invitesSent" style="color: #8DCF24;">{{'Celular' | translate}}: </span><span *ngIf="team?.mobile" style="color: white">{{team?.mobile?team?.mobile:'--'}}</span><br>
                <span>{{'¿Te gustaría confirmar la participación de este equipo?' | translate}}</span>
            </div>
            <div class="ui-g-5 ui-sm-6 ui-md-5 ui-lg-5 centerDiv">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <button pButton type="button" label="{{'Ver perfil' | translate}}" class="ui-button-green requestTab_button" [routerLink]="['/dashboard/team/team-profile', team.id]"></button>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 requestTab_action_button_dropdown">
                    <button style="padding:1px;" *ngIf="invitesSent" pButton type="button" label="{{'cancelar peticion' | translate}}" (click)="cancelTeamRequest(team.reg_id)" class="ui-button-red ui-button requestTab_button"></button>
                    <p-dropdown *ngIf="!invitesSent" [options]="actionOptions" [ngModel]="selectOption" (onChange)="selectedActionFun($event, team.reg_id, 'team')" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-g match ui-fluid" *ngFor="let ground of groundList">
    <div class="ui-g-3 ui-sm-12 ui-md-3 ui-lg-3 borderOfCard">
        <div class="ui-g-3">
            <img [src]="ground.profile_pic?basePath+ground.profile_pic:'assets/images/ground-profile-logo/default.png'" class="card-image" />
        </div>
        <div class="ui-g-9" style="padding-top: 10px;">
            <span class="teamSpan">{{ground.name}}</span>
            <span class="referee_text">{{'cancha' | translate}}</span>
        </div>
    </div>
    <div class="ui-g-9 ui-sm-12 ui-md-9 ui-lg-9 backColor">
        <div class="ui-g">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 card_right_section_text">
                <span>{{'¿eT gustaría confirmar la participación de este cancha?' | translate}}</span>
            </div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <button pButton type="button" label="{{'Ver perfil' | translate}}" class="ui-button-green requestTab_button" [routerLink]="['/dashboard/ground/ground-profile', ground.id]"></button>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 requestTab_action_button_dropdown">
                    <button style="padding:1px;" *ngIf="invitesSent" pButton type="button" label="{{'cancelar peticion' | translate}}" (click)="cancelGroundRequest(ground.reg_id,ground.id)" class="ui-button-red ui-button requestTab_button"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-g" style="margin-bottom:100px;    justify-content: center;">
    <p class="instruct">
        {{'Instrucciones: Este es el primer paso. Aqui recibirás todas las solicitudes de equipos que quieren participar en tu torneo.' | translate}}
    </p>
    <p class="instruct" style="padding:0px">
        {{"Mira su perfil y cuando quieras confirmar su participación, haz click en ACTION y ACEPTAR. Una vez que tengas todos cupos llenos, " | translate}}
    </p>
    <p class="instruct" style="padding:0px">
        {{'verificalos en PARTICIPANTES EQUIPOS. Haz click en FIXTURE para empezar el proceso de estructuración y planeación del torneo' | translate}}
    </p>
</div>