.borderOfCard {
    background-color: white;
}

.instruct {
    padding-top: 20px;
    color: darkcyan;
}

.card-image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.match {
    border: 1px solid black;
    margin-top: 5px;
}

.backColor {
    background-color: #043760;
}

.textColor {
    color: #8DCF24
}

.bttn span {
    font-size: 12px;
}

.teamSpan {
    font-size: 2.5em;
    color: #275376;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.teamSpanDiv {
    text-align: center;
    padding-top: 6%;
}

.partidosDiv {
    background: #8DCF24;
    text-align: center;
    padding-bottom: 1%;
}

.partidosDiv span {
    color: white;
    font-size: 2em
}

.mesgDiv {
    background-color: #F2F2F2;
    border: 1px solid;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin: 1%;
}

.mesgDiv span {
    font-size: 13px;
}

.card_right_section_text {
    color: white;
    font-size: 1.2em;
    align-items: center;
}

.buttons {
    padding: 0;
}

.accepted-button {
    background: #f2f2f2;
    padding: 13px;
    text-align: center;
    border: #cfcfcf 1px solid;
    color: #828282;
    cursor: pointer;
}

.hoverOnTd {
    color: #737373;
    text-align: center;
    background-color: #e6e6e6;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid #cfcfcf;
    cursor: pointer;
}

.invitesSent-button {
    background: #8DCF25;
    color: white;
    padding: 13px;
    text-align: center;
    cursor: pointer;
}

.centerDiv {
    display: flex;
    align-items: center;
}