page-demo {
  .tablas {
    background: #f6f9ff;
    border: 1px solid #113861;
    font-family: roboto-bold;
    font-size: 12px;
    width: 100%;
    margin-top: 12px;
  }
  .tablas .button-inner {
    color: #113861;
  }
  .organiser_image,
  .sponsor_image {
    margin-top: 12px;
    height: 52px;
    width: 52px;
    border-radius: 100%;
    border: 2px solid #8ec63f;
  }
  h2 {
    margin: auto;
    font-size: 20px;
    font-family: roboto-regular;
    color: #113861
  }
  .organise_name,
  .sponsor_name {
    color: #666666;
    padding-top: 8px;
    font-size: 13px;
    font-family: roboto-regular;
    margin: auto;
    text-transform: capitalize;
  }
  .rules,
  .photos,
  .bio {
    background: #f6f9ff;
    margin-top: 8px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .bio_head,
  .photos_head,
  .rules_head {
    color: #113861;
    font-size: 13px;
    padding: 20px 0px 16px 0px;
  }
  .fb {
    background-color: #365899;
    text-transform: none;
    width: 100%;
    height: 42px;
    font-family: 'roboto-regular';
    font-size: 14px;
  }
  .card1 {
    margin-left: 0px;
    width: 100%;
    margin-top: 8px;
    padding: 16px;
    box-shadow: none;
  }
  .ion-logo-facebook:before {
    content: "\f236";
    width: 24px;
    font-size: 26px;
  }
  .signup {
    justify-content: flex-end;
    display: flex;
    bottom: 14px;
  }
  .create {
    background: #113861;
    width: 95px;
    height: 45px;
    font-size: 15px;
    text-transform: none;
    font-family: 'roboto-regular';
  }
  .log {
    background-color: #8ec63f;
    text-transform: none;
    height: 44px;
    width: 100%;
    font-family: 'roboto-regular';
    font-size: 14px;
  }
  .sub_title {
    font-size: 12px;
    font-family: roboto-medium;
    color: #999999;
    margin: auto;
    line-height: 16px;
    text-transform: capitalize;
  }
  .title {
    margin-bottom: 5px;
    color: #464646;
    font-family: roboto-regular;
    font-size: 16px;
    margin: auto;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  .timecard {
    background: white;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: none;
  }
  .time {
    border: 1px solid #8ec63e;
    color: #8ec63e;
    padding: 6px;
    border-radius: 4px;
  }
  .show {
    color: #8ec63e !important;
    font-size: 14px;
    justify-content: flex-end;
    display: flex;
  }
  .time_slots {
    max-width: 84px;
    padding: 0px;
    top: 15px;
  }
  .foot {
    padding-top: 16px;
    border-width: 100%;
  }
  .range-md .range-bar-active,
  .range-ios .range-bar-active {
    background: #8ec63f
  }
  .range-md .range-bar,
  .range-ios .range-bar {
    border-radius: 5px;
  }
  .range-md .range-knob,
  .range-ios .range-knob {
    width: 25px;
    height: 25px;
    top: 10px
  }
  ion-list+ion-list {
    margin-top: 0;
  }
  .small-text {
    font-size: 10px;
  }
  .range-md.range-has-pin,
  .range-ios.range-has-pin {
    padding-top: 20px;
  }
  .title_bar {
    color: #464646;
    font-size: 20px;
    font-family: roboto-regular;
    padding: 16px 16px 0px 16px !important;
  }
  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    padding-right: 0px !important;
    border: none !important;
    color: #666666;
    font-size: 16px;
    font-family: roboto-regular;
  }
  .content .item.item-md .checkbox-md,
  .content .item.item-ios .checkbox-ios {
    margin: 9px 9px 9px 2px;
  }
  .content .checkbox-md .checkbox-icon,
  .content .checkbox-ios .checkbox-icon {
    border: 1px solid #8ec63f;
  }
  .icon {
    color: #8ec63f;
  }
  .icon1 {
    color: #ffffff;
  }
  .b1 {
    text-transform: none;
    background: #ffffff;
    color: #8ec63f;
    font-family: 'roboto-regular';
    border: 1px solid #8ec63f;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 11px;
    border-radius: 5px;
    height: 32px;
    width: 100%;
  }
  .b2 {
    text-transform: none;
    background: #8ec63f;
    color: #ffffff;
    font-family: 'roboto-medium';
    border: 1px solid #8ec63f;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 11px;
    border-radius: 5px;
    height: 32px;
    width: 100%;
  }
  .fb_icon {
    color: white;
  }
}
