<ion-header>
    <ion-navbar no-padding>
        <div padding class="header_div">
            <ion-title style="text-align: center;">DemoPage</ion-title>
            <span style="color:#666666;font-family:roboto-regular">Modify</span>
        </div>
    </ion-navbar>
</ion-header>

<ion-content class="body">
    <ion-grid no-padding>
        <ion-row class="maincard">
            <ion-col style="display: flex;align-items: center;" col-2>
                <img class="logo" src="assets/images/player/defaultplayer.jpg" />
            </ion-col>
            <ion-col style="padding-left:16px" col-10>
                <ion-row>
                    <ion-col col-6>
                        <p class="title">
                            Player
                        </p>
                        <p class="sub_title">Quito</p>
                        <p class="sub_title">Ecuador</p>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <p text-right class="title" style="font-size:13px;"></p>
                        <img style="height:13px;width:19px;" src="assets/images/Ecuador.png" />
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <br>
        <ion-row (click)="tournamentprofile(i.tournament_id,status[j])" class="maincard">
            <ion-col style="display: flex;align-items: center;" col-2>
                <img class="card_logo" src="assets/images/tournament/default.png" />
            </ion-col>
            <ion-col style="padding-left:16px" col-10>
                <ion-row>
                    <ion-col col-8>
                        <p class="title">
                            Tournament
                        </p>
                        <p class="sub_title">
                            Nike
                        </p>
                        <p class="sub_title">
                            Quito,Ecuador
                        </p>
                    </ion-col>
                    <ion-col col-4 text-right>
                        <p text-right class="title" style="font-size:13px;">
                            10 Teams
                        </p>
                        <p style="color: #113861;padding-top:4px" class="sub_title">
                            Ongoing
                        </p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid no-padding>
        <ion-row class="maincard" style="margin-bottom:0px;">
            <ion-col no-padding style="display: flex;align-items: center;">
                <img src="assets/images/ground/ground_logo.png" class="logo" alt="LOGO" />
            </ion-col>
            <ion-col style="padding-bottom:16px;padding-left:16px;" col-7>
                <p class="title">
                    Kavlin Ground
                </p>
                <p class="sub_title">5 Courts</p>
                <p class="sub_title">A-24 noida sector-63 near haldiram</p>
            </ion-col>
            <ion-col no-padding col-3 text-right>
                <p text-right class="title" style="margin-bottom:30px;font-size:13px;">$ 20-$ 30</p>
            </ion-col>
        </ion-row>
        <ion-row class="maincard" style="padding-top:0px;">
            <ion-col col-9 style="border-top: 1px solid #d7d7d7;padding-top:16px;">
                <span>
                <ion-col col-3>
                  <span class="time">1:00Hrs</span>
                <span class="time">2:00Hrs</span>
                <span class="time">3:00Hrs</span>
            </ion-col>
            </span>
            </ion-col>
            <ion-col col-3 class="show" style="border-top: 1px solid #d7d7d7;padding-top:16px;">
                Show All
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row class="search">
            <ion-col col-12 no-padding>
                <ion-searchbar debounce="500" no-padding class="inner_search"></ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-card class="card1">
        <ion-card-header no-padding>
            <span class="para">When did you want to<br>make reservation</span>
        </ion-card-header>

        <ion-card-content no-padding>
            <ion-row class="calender">
                <ion-col col-7 class="my">
                    <ion-datetime no-padding (ionChange)="calendarFormat()" max="2030" min="2000" displayFormat="MMM YYYY" [(ngModel)]="date"></ion-datetime>
                </ion-col>
                <ion-col col-4 class="arrow">
                    <i no-padding class="fa fa-angle-down" aria-hidden="true"></i>
                </ion-col>
            </ion-row>
            <div padding-bottom style="display:flex;overflow:scroll;align-items: center;">
                <div (click)="date_change(i.date,i.day)" [class.active]="current_date==i.date" *ngFor=" let i of days" style="margin:16px 23px 0px 13px;font-family: roboto-regular;cursor:pointer;">
                    <p [class.date]="current_date==i.date">{{i.day}}</p>
                    <p [class.date]="current_date==i.date">{{i.date}}</p>
                </div>
            </div>
        </ion-card-content>
    </ion-card>



    <div text-center class="logo_div">
        <img class="profile_logo" src="assets/images/player/defaultplayer.jpg" />
    </div>
    <br>
    <ion-grid style="padding: 0px 16px 0px 16px;">
        <ion-row>
            <ion-col no-padding col-12>
                <button no-margin color="primary" ion-button block (click)="sendInvitation()">INVITE</button>
            </ion-col>
            <ion-col col-12 no-padding><button no-margin ion-button block class="tablas" (click)="tablas()" no-padding>TABLAS</button></ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col col-12 class="fb_button">
                <button ion-button (click)="fbLoginCheck()" class="fb" style="letter-spacing: 0px;">
          <ion-icon margin-right ios="logo-facebook" md="logo-facebook" class="fb_icon"></ion-icon>
           Login with Facebook</button>
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col col-12 style="padding-top:24px">
                <button ion-button class="log" (click)="login()">Log in</button>
            </ion-col>
        </ion-row>

        <ion-row>

        </ion-row>
        <br>
        <ion-row class="foot">
            <ion-col col-4 class="signup"><button ion-button class="create" (click)="signup()">Create</button></ion-col>
            <ion-col col-1></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4 style="padding:0px 5px;">
                <button ion-button class="b1"><ion-icon ios="ios-sunny" md="md-sunny" class="icon"> </ion-icon> Afternoon</button>
            </ion-col>
            <ion-col col-4 style="padding:0px 5px;">
                <button ion-button class="b2"> <ion-icon ios="ios-moon" md="md-moon"  class="icon1"> </ion-icon> Night</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid style="padding:24px 16px 0px 16px">
        <div>
            <ion-row>
                <ion-col col-12 no-padding style="text-align:center;">
                    <h2>Organisers</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 no-padding style="text-align:center">
                    <img class="organiser_image" src="assets/images/player/defaultplayer.jpg" />
                    <p class="organise_name">Tim Paine</p>
                </ion-col>
            </ion-row>
        </div>

        <div style="padding-top: 24px;">
            <ion-row>
                <ion-col col-12 no-padding style="text-align:center;">
                    <h2>Sponsors</h2>
                </ion-col>
            </ion-row>
            <ion-row style="justify-content: center;">
                <ion-col col-3 no-padding style="text-align:center">
                    <img class="sponsor_image" src="assets/images/player/defaultplayer.jpg" />
                    <p class="sponsor_name">Ben Watson</p>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>

    <ion-grid style="padding:24px 0px 24px 0px">
        <ion-row class="bio">
            <ion-col col-12 class="bio_head" style="padding-bottom:12px">Bio</ion-col>
            <ion-col col-12 style="color:#666666;padding:0px 0px 20px 0px;font-size:15px;">This is my description.Hope you like it</ion-col>
        </ion-row>

        <ion-row class="photos">
            <ion-col col-12 class="photos_head">Photos</ion-col>
            <ion-col col-3>
                <img style="height: 70px;width: 70px;margin-bottom: 20px;" src="assets/images/player/defaultplayer.jpg" />
            </ion-col>
            <ion-col col-3>
                <img style="height: 70px;width: 70px;margin-bottom: 20px;" src="assets/images/player/defaultplayer.jpg" />
            </ion-col>
        </ion-row>

        <ion-row class="rules" style="padding-bottom: 15px">
            <ion-col col-2 class="rules_head" style="padding-bottom:0px">Rules</ion-col>
            <ion-col col-10 no-padding style="text-align:right;color: #464646;">
                <span *ngIf="download" (click)="files()">
          <img style="padding-top:15px" src="assets/images/download.png">
        </span>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid no-padding style="background:white">
        <ion-row>
            <ion-col col-12 class="title_bar">Registration Cost</ion-col>
        </ion-row>
        <ion-item style="padding-right:16px">
            <ion-range dualKnobs="true" pin="true" [(ngModel)]="structure" color="secondary" min="0" max="300">
                <ion-label *ngIf="structure.lower==0&&structure.upper==0" range-left>Free</ion-label>
                <ion-label *ngIf="structure.lower!=0||structure.upper!=0" range-left>$ {{structure.lower}}</ion-label>
                <ion-label *ngIf="structure.lower!=0||structure.upper!=0" range-right>$ {{structure.upper}}</ion-label>
            </ion-range>
        </ion-item>
    </ion-grid>


    <ion-grid no-padding style="background:white;margin-top:8px">
        <ion-row>
            <ion-col col-12 class="title_bar">Modality</ion-col>
        </ion-row>
        <ion-row class="list">
            <ion-col col-4>
                <ion-item class="content">
                    <ion-label>All</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <ion-item class="content">
                    <ion-label>5V5</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <ion-item class="content">
                    <ion-label>6V6</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <ion-item class="content">
                    <ion-label>7V7</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <ion-item class="content">
                    <ion-label>8V8</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <ion-item class="content">
                    <ion-label>9V9</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <ion-item class="content">
                    <ion-label>11V11</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <br><br>
</ion-content>