<ion-header>
    <div style="text-align:center">
        <img style="padding: 0px" class="header-logo" src="assets/images/pelo.png" />
    </div>
</ion-header>


<ion-content no-bounce no-padding>
    <ion-grid no-padding padding-left padding-top>

        <ion-col no-padding col-12>
            <p style="font-family: roboto-bold;font-size: 24px;margin-bottom: 0px">
                {{"Enter your email." | translate}}.
            </p>
            <p style="font-family: roboto-regular;color: #666;font-size: 18px;margin-top:5px;">
                {{"We won't send you spam." | translate}}
            </p>
        </ion-col>

        <ion-col margin-top no-padding col-12>
            <ion-item no-padding>
                <ion-input [ngStyle]="{'color':email_exist?'#F25F63':'#113861','position': 'relative'}" (keyup)="validate($event)" [(ngModel)]="email" type="text" placeholder="{{'Email address'}}">
                </ion-input>
            </ion-item>
            <i *ngIf="check_email" class="fa fa-check-circle-o ok" aria-hidden="true"></i>
            <i *ngIf="email_exist" class="fa fa-times-circle-o ok1" aria-hidden="true"></i>
            <p class="exist" *ngIf="email_exist">{{"Email has already been taken" | translate}}</p>
        </ion-col>

        <ion-col no-padding col-12>
            <p class="agrement">
                {{"Others will be able to find you by email or phone number." | translate}}
            </p>
            <p class="agrement" style="   font-family: roboto-medium">
                {{"Privacy options" | translate}}.
            </p>
        </ion-col>

    </ion-grid>



</ion-content>

<ion-footer no-shadow no-padding>
    <ion-toolbar position="bottom" no-padding>
        <button class="not_now" (click)="skipEmail()" full ion-button no-padding>{{"Not now" | translate}}</button>
        <button class="next" [disabled]="!check_email" (click)="setEmail(false)" full ion-button>{{'Next' | translate}}</button>
    </ion-toolbar>
</ion-footer>