page-set-position {
    .next {
        width: 100px;
        border-radius: 30px;
        background: #113861;
        float: right;
        letter-spacing: .5px;
        height: 45px;
    }
    .not_now {
        width: 120px;
        background: transparent;
        float: left;
        height: 45px;
        color: #113861;
    }
    .position1 {
        background: #113861;
        color: white;
        border: 0px;
        border-radius: 0px;
        text-align: center;
        letter-spacing: .2px;
        font-size: 15px;
        border-right: 1px solid #d7d7d7;
        height: 32px;
        padding-top: 3px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }
    .position1 {
        background: white;
        color: #666;
        border: 0px;
        border-radius: 0px;
        text-align: center;
        letter-spacing: .2px;
        font-size: 15px;
        border-right: 1px solid #d7d7d7;
        height: 32px;
        padding-top: 3px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        border: 1px solid #666;
        border-right: 0px;
    }
    .position2 {
        background: white;
        color: #666;
        border: 0px;
        border-radius: 0px;
        text-align: center;
        letter-spacing: .2px;
        font-size: 15px;
        border-right: 1px solid #d7d7d7;
        height: 32px;
        padding-top: 3px;
        border: 1px solid #666;
        border-right: 0px;
    }
    .position3 {
        background: white;
        color: #666;
        border: 0px;
        border-radius: 0px;
        text-align: center;
        letter-spacing: .2px;
        font-size: 15px;
        border-right: 1px solid #d7d7d7;
        height: 32px;
        padding-top: 3px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        border: 1px solid #666;
    }
    .position {
        background: #113861;
        color: white;
    }
    .toolbar-content-ios {
        padding: 8px 16px;
        background: white;
        padding-left: 0px
    }
    .toolbar-content-md {
        padding: 8px 16px;
        background: white;
        padding-left: 0px;
    }
    .footer-ios .toolbar-ios:first-child .toolbar-background-ios {
        border-top: 1px solid;
    }
    .footer-md .toolbar-md:first-child .toolbar-background-md {
        border-top: 1px solid;
    }
}