<ion-header>
    <div style="text-align:center">
        <img style="padding: 0px" class="header-logo" src="assets/images/pelo.png" />
    </div>
</ion-header>


<ion-content no-bounce no-padding>
    <ion-grid padding>

        <ion-col no-padding col-12>
            <p style="font-family: roboto-bold;font-size: 24px;margin-bottom: 0px">
                {{"Almost there." | translate}}
            </p>
            <p style="font-family: roboto-regular;color: #666;font-size: 18px;margin-top:5px;">
                {{"What position do you play?" | translate}}
            </p>
        </ion-col>

        <ion-col margin-top no-padding col-12>
            <ion-row margin-top no-padding>
                <ion-col col-3 no-padding>
                    <button [class.position]="position=='1'" class="position1" (click)="position='1'" full ion-button no-padding>{{"Keeper" | translate}}</button>
                </ion-col>

                <ion-col col-3 no-padding>
                    <button [class.position]="position=='2'" class="position2" (click)="position='2'" full ion-button no-padding>{{"Defender" | translate}}</button>
                </ion-col>

                <ion-col col-3 no-padding>
                    <button [class.position]="position=='3'" class="position2" (click)="position='3'" full ion-button no-padding>{{"Midfielder" | translate}}</button>
                </ion-col>

                <ion-col col-3 no-padding>
                    <button [class.position]="position=='4'" class="position3" (click)="position='4'" full ion-button no-padding>{{"Forward" | translate}}</button>
                </ion-col>
            </ion-row>
        </ion-col>

    </ion-grid>
</ion-content>

<ion-footer no-shadow no-padding>
    <ion-toolbar position="bottom" no-padding>
        <button class="not_now" (click)="setPosition(true)" full ion-button no-padding>{{"Not now" | translate}}</button>
        <button class="next" (click)="setPosition(false)" full ion-button>{{'Next' | translate}}</button>
    </ion-toolbar>
</ion-footer>