<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>
<div>
    <img class="background" [src]="groundprofileInfo?.cover_pic?imageBasePath + groundprofileInfo?.cover_pic:'assets/images/ground-profile-cover/default.jpg'">
    <div class="section">
        <div class="cover_pic">
            <div class="changeCover" *ngIf="groundprofileInfo?.admin==true">
                <button pButton type="button" label="{{'ESCOGER' | translate}}">
                    <input type="file" class="input" (change)="fileChangeListener($event,'coverPic')" />
                </button>
            </div>
        </div>
        <div class="ui-g icons">
            <div class="ui-g-12 ui-sm-12 ui-md-12 icn">
                <p>
                    <i class="downloadBttn fa fa-download" aria-hidden="true" style="background: transparent;color:white" (click)="downloadAsImage()"></i>
                </p>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-2 ui-sm-3 ui-md-2 ui-lg-2 dd cropImgDiv">
                <img [src]="profilePic" class="profile_pic" />
                <button *ngIf="groundprofileInfo?.admin==true" pButton type="button" class="choose" label="{{'ESCOGER' | translate}}">
                    <input type="file" class="input" (change)="fileChangeListener($event,'profilePic')" />
                </button>
            </div>
            <div class="ui-g-7 ui-sm-9 tournament_name_div">
                <span class="tournament_name">{{groundprofileInfo?.ground_name}}</span>
                <br>
                <span class="tournament_country">{{groundprofileInfo?.city}}</span>
                <br>
                <br>
                <div style="cursor:pointer;border-right:1px solid" class="ui-g-3 ui-sm-6" (click)="showFollowerPopup()">
                    <p style="color:#113861;font-size: 27px;">{{groundprofileInfo?.follower?groundprofileInfo?.follower:"0"}}</p>
                    <p>
                        {{'Seguidores' | translate}}
                    </p>
                </div>
                <div (click)="courtList();court_popup=true" style="padding-left: 30px;cursor:pointer" class="ui-sm-6 ui-g-3">
                    <p style="color:#113861;font-size: 27px;">{{groundprofileInfo?.courts}}</p>
                    <p>
                        {{'Chanchas' | translate}}
                    </p>
                </div>
                <div class="ui-g-6" class="default_court">
                    ({{show_default_court_name}})
                </div>
                <br>
                <div class="mob_view" *ngIf="groundprofileInfo?.admin==true">
                    <!-- Sponsors -->
                    <div *ngIf="sponserList.length > 0">
                        <span class="organization_text">{{'Sponsors' | translate}}</span>
                        <img *ngIf="sponserList[0]?.image" class="org_img" src={{imageBasePath}}{{sponserList[0]?.image}} [routerLink]="['./edit-sponser']">
                        <span *ngIf="sponserList[1]?.image" style="padding-left:10px">
                            <img class="org_img" src={{imageBasePath}}{{sponserList[1]?.image}} [routerLink]="['./edit-sponser']">
                        </span>
                        <span *ngIf="sponserList[2]?.image" style="padding-left:10px">
                            <img class="org_img" src={{imageBasePath}}{{sponserList[2]?.image}} [routerLink]="['./edit-sponser']">
                        </span>
                    </div>
                    <div *ngIf="sponserList.length == 0" style="padding-top: 1%;">
                        <span class="organization_text">{{'Anadir auspiciante' | translate}}</span>
                        <span [routerLink]="['./edit-sponser/' ]" style="font-size: 22px;color: #828282;cursor:pointer">+</span>
                    </div>

                    <!-- Sponsors -->
                </div>
                <div class="mob_view" *ngIf="!groundprofileInfo?.admin==true">
                    <!-- Sponsors -->
                    <div *ngIf="sponserList.length > 0">
                        <span class="organization_text">{{"Sponsors" | translate}}</span>
                        <img *ngIf="sponserList[0]?.image" class="org_img" src={{imageBasePath}}{{sponserList[0]?.image}}>
                        <span *ngIf="sponserList[1]?.image" style="padding-left:10px">
                            <img class="org_img" src={{imageBasePath}}{{sponserList[1]?.image}}>
                        </span>
                        <span *ngIf="sponserList[2]?.image" style="padding-left:10px">
                            <img class="org_img" src={{imageBasePath}}{{sponserList[2]?.image}}>
                        </span>
                    </div>
                    <!-- Sponsors -->
                </div>
            </div>
            <div class="ui-g-3 ui-sm-12  text-right top_bttn_pos">

                <button *ngIf="groundprofileInfo?.admin==false && groundprofileInfo?.is_peloteando_certified" pButton type="button" icon="fa fa-comment" class="ui-button-green " style="width:50%;top: 5px;" (click)="showMessagePopup()" pTooltip="mensaje" tooltipPosition="top"></button>
                <button *ngIf="groundprofileInfo?.admin==true" pButton type="button" [routerLink]="['./edit-ground']" [queryParams]="{certified:groundprofileInfo.is_peloteando_certified}" label="{{'EDITAR' | translate}}" style="background:#8DCF25; vertical-align: -webkit-baseline-middle;
                            cursor:pointer;padding-right: 5%;padding-left: 5%;">
                </button>
                <!-- <button *ngIf="groundprofileInfo?.is_peloteando_certified" pButton type="button" label="{{'RESERVAR' | translate}}" (click)="showReservarPopup();info=false;" style="background:#8DCF25; vertical-align: -webkit-baseline-middle;cursor:pointer"></button> -->
                <!-- <button pButton type="button" label="{{follow | translate}}" (click)="changeStatusOfFollow(follow)" class="follow_bttn"></button> -->
                <button style="background:#8DCF25; vertical-align: -webkit-baseline-middle;
                cursor:pointer;padding-right: 5%;padding-left: 5%;" *ngIf="!groundprofileInfo?.is_paid && groundprofileInfo?.admin" pButton type="button" label="GO LIVE" (click)="goLive()"></button>
                <br>
                <br>
                <div class="web_view" *ngIf="groundprofileInfo?.admin==true">
                    <!-- Sponsors -->
                    <p *ngIf="sponserList.length > 0" class="organization_text">{{'Sponsors' | translate}}</p>
                    <div style="display: flex;">
                        <div *ngFor="let i of sponserList">
                            <img style="border: none" class="org_img" src={{imageBasePath}}{{i?.image}} [routerLink]="['./edit-sponser']">
                            <p class="span_text">{{i?.sponser_name}}</p>
                        </div>
                        <div *ngIf="sponserList.length == 0" style="padding-top: 1%;">
                            <span class="organization_text">{{"Anadir auspiciante" | translate}}</span>
                            <span [routerLink]="['./edit-sponser/' ]" style="font-size: 22px;color: #828282;cursor:pointer">+</span>
                        </div>
                    </div>
                    <!-- Sponsors -->
                </div>
                <div class="web_view" *ngIf="!groundprofileInfo?.admin==true">
                    <!-- Sponsors -->
                    <p *ngIf="sponserList.length > 0" class="organization_text">{{'Sponsors' | translate}}</p>
                    <div style="display: flex;">
                        <div *ngFor="let i of sponserList">
                            <img style="border: none" class="org_img" src={{imageBasePath}}{{i?.image}}>
                            <p class="span_text">{{i?.sponser_name}}</p>
                        </div>

                    </div>
                    <!-- Sponsors -->
                </div>

            </div>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="position:relative;margin-bottom: 250px;">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
                        <hr>
                        <div class="scroll">
                            <div class="icon-bar">
                                <span>
                                    <a routerLinkActive="activeLink" [class.active]="info" [routerLink]="['information']">{{"INFORMACIÓN" | translate}} {{groundprofileInfo?.is_peloteando_certified?'|':''}}</a>
                                </span>
                                <span *ngIf="groundprofileInfo?.admin==true && groundprofileInfo?.is_peloteando_certified">
                                    <a (click)="info=false" routerLinkActive="activeLink" [routerLink]="['request']">{{'SOLICITUDES' | translate}} |</a>
                                </span>
                                <span *ngIf="groundprofileInfo?.is_peloteando_certified">
                                    <a routerLinkActive="activeLink" (click)="info=false" [routerLink]="['schedule']">{{'CALENDARIO' | translate}} |</a>
                                </span>
                                <span *ngIf="groundprofileInfo?.admin==true && groundprofileInfo?.is_peloteando_certified">
                                    <a routerLinkActive="activeLink" (click)="info=false" [routerLink]="['earning']">{{'PAGOS' | translate}} </a>
                                </span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<div [class.backdrop]="reservarPopup"></div>
<div [class.backdrop]="followersPopup"></div>
<div [class.backdrop]="backdrop"></div>
<div [class.backdrop]="reservePopup"></div>
<div [class.backdrop]="messageModel"></div>
<div [class.backdrop]="display_image_cropper"></div>
<!--------------ReservarPopup-------------------------->

<form [formGroup]="myForm">
    <div class="ui-g ui-fluid reservar">
        <p-dialog [(visible)]="reservarPopup" modal="modal">
            <div class="ui-g">
                <div class="ui-g-12 headingOfPopup">
                    <span>{{'RESERVAR CANCHA' | translate}}</span>
                </div>
            </div>
            <br>
            <br>
            <div class="ui-g">
                <label>{{'Fecha de la reserva' | translate}}
                    <span class="star">*</span>
                </label>
                <br>
                <br>
                <div class="ui-g-12">
                    <p-calendar dateFormat='yy-mm-dd' [(ngModel)]="matchDate" [minDate]="currentDate" formControlName="selectedDate" [locale]="es" [readonlyInput]="true" placeholder="Fecha de la reserva"></p-calendar>
                </div>
            </div>
            <div class="ui-g setlabel">
                <div class="ui-g-12">
                    <label>{{'Horario' | translate}}
                        <span class="star">*</span>
                    </label>
                </div>
                <br>
                <br>
            </div>
            <div class="ui-g">
                <div class="ui-g-6">
                    <p-calendar [readonlyInput]="true" [(ngModel)]="fromTime" dateFormat="mm/dd/yy" timeFormat="HH:00" [timeOnly]="true" (onSelect)="setTime()" (keyup)="keyUpEventForSetTime()" placeholder="Hora" formControlName="selectedTime"></p-calendar>
                    <p *ngIf="reserveValidation" class="err">{{'De vez debe ser mayor que en cuando' | translate}}
                    </p>
                </div>
                <div class="ui-g-6">
                    <input type="text" [(ngModel)]="toTime" pInputText placeholder="Hora" [ngModelOptions]="{standalone: true}" [disabled]="costField" />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 setlabel">
                    <label>{{'Mensaje' | translate}}</label>
                </div>
                <br>
                <br>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <textarea rows="5" cols="30" placeholder="{{'Mensaje' | translate}}" pInputTextarea [(ngModel)]="message" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-g-6">
                    <button type="button" pButton (click)="reservarPopup=false" label="{{'CANCELAR' | translate}}"></button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton (click)=" reservePopup=true; reservarPopup = false;" class="ui-button-green" label="{{'RESERVAR' | translate}}" [disabled]="!myForm.valid"></button>
                </div>
            </div>
        </p-dialog>
    </div>
</form>
<!--------------ReservarPopupEnd----------------->
<!--------------Follower Popup---------------->
<div class="invited">
    <p-dialog [(visible)]="followersPopup" modal="modal" [dismissableMask]="true" [resizable]="false">
        <div class="ui-g invite_popup_header">
            <div class="ui-g-9">
                <span class="popup_heading">{{'seguidores' | translate}}</span>
                <span style="color:white;margin-left:2%;"></span>
            </div>
            <div class="ui-g-3 text-right">
                <i class="fa fa-times" style="cursor:pointer" (click)="followersPopup=false; backdrop=false"></i>
            </div>
        </div>
        <div style="height: 440px;overflow-y: scroll;">
            <div class="ui-g" style="margin: 10px 20px; border-bottom: 1px solid black;" *ngFor="let list of follower_list">
                <div class="ui-g-2">
                    <img *ngIf="list?.profile_pic" src={{imageBasePath}}{{list?.profile_pic}} style="height: 70px; width: 70px; vertical-align: middle;">
                    <img *ngIf="!list?.profile_pic" src="images/default_ground.jpg" style="height: 70px; width: 70px; vertical-align: middle;">
                </div>
                <div class="ui-g-7" style="padding-top: 18px;">
                    <p *ngIf="!list?.is_referee" class="invite_popup_name">
                        <span class="referee_text" style="text-transform:uppercase;">{{'arbitro' | translate}}</span>
                    </p>
                    <p *ngIf="list?.is_referee" class="invite_popup_name">
                        <span class="referee_text" style="text-transform:uppercase;">{{'jugadore' | translate}}</span>
                    </p>
                    <p class="invite_popup_city">{{list?.name}}</p>
                </div>
                <div class="ui-g-3">
                    <button pButton type="button" (click)="changeStatusOfFollowers(list?.follow?'UNFOLLOW':'FOLLOW',list?.id)" label="{{list?.follow?'UNFOLLOW':'FOLLOW'}}" style="background:#8DCF25; vertical-align: -webkit-baseline-middle;cursor:pointer">
                    </button>
                </div>

            </div>
        </div>
    </p-dialog>
</div>
<!-----------------------Follower Popup End------------------->
<!************** Image Cropper Popup*********************-->
<div class="tournament_profil">
    <div class="ui-g">
        <p-dialog [(visible)]="display_image_cropper" modal="modal" showEffect="fade" [dismissableMask]="true" [resizable]="false">
            <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 15px 30px;">
                    <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                </div>
            </div>
            <div class="ui-g" style="padding: 30px;padding-right:0;">
                <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer;text-align: center" *ngIf="circleImg">
                    <img-cropper #cropper [image]="data2" [settings]="cropperSettings2"></img-cropper>
                </div>
                <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer;text-align: center" *ngIf="squareImg">
                    <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                </div>

                <div class="ui-g-5 ui-sm-5 ui-md-5 ui-lg-5 text-center">
                    <label>{{"Preview" | translate}}</label>
                    <div class="ui-g-12 result rounded" *ngIf="circleImg">
                        <img [src]="data2.image" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight">
                    </div>
                    <div class="ui-g-12 square" *ngIf="squareImg">
                        <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                    </div>
                    <br/>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6 ui-md-6 ui-lg-6"></div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
                    <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="display_image_cropper=false"></button>
                    <button pButton type="button" class="ui-button-green save" label="{{'Guardar' | translate}}" (click)="updateGroundProfile()"></button>
                </div>
            </div>
        </p-dialog>
    </div>
</div>
<!--************** Image Cropper Popup*********************-->

<!----------------message modal------------------>
<div class="invited ground-message">
    <p-dialog [(visible)]="messageModel" modal="modal" [dismissableMask]="true" [resizable]="false">
        <div class="ui-g invite_popup_header">
            <div class="ui-g-6 ui-sm-8">
                <span class="popup_heading">{{'ESCRIBE UN MENSAJE' | translate}}</span>
            </div>
            <div class="ui-g-6 ui-sm-4 text-right">
                <i class="fa fa-times" style="cursor:pointer" (click)="messageModel=false; backdrop=false"></i>
            </div>
        </div>
        <div class="ui-g header">
            <div class="ui-g-1 ui-sm-3" style="display:flex;align-items:center;">
                <span class="para">{{'Para' | translate}}:</span>
            </div>
            <div class="ui-g-2 ui-sm-4">
                <img [src]="profilePic" class="profile_pic_message">
            </div>
            <div class="ui-g-9 ui-sm-5" style="display:flex;align-items:center;">
                <span class="groun_name">{{groundprofileInfo?.ground_name}}</span>
            </div>
        </div>
        <hr style="width:95%;margin:auto;">
        <div class="ui-g-12" style="padding:3%;">
            <textarea rows="12" cols="90" pInputTextarea autoResize="autoResize" class="message-text" [(ngModel)]="messageInfo"></textarea>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6  ui-md-6 ui-lg-6"></div>
            <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right message-bttn">
                <button pButton type="button" label="{{'CANCELAR' | translate}}" class="ui-button-grey" (click)="messageModel=false; backdrop=false"></button>
                <button pButton type="button" class="ui-button-green save" label="{{'ENVIAR' | translate}}" (click)="messageSentInfo()"></button>
            </div>
        </div>
    </p-dialog>
</div>
<!----------------message modal----------------->

<!----------------Confirm Popup------------------>
<div class="ui-g ui-fluid reservar">
    <p-dialog [(visible)]="messagePopup" modal="modal" [dismissableMask]="true" [resizable]="false">
        <div class="ui-g">
            <label>{{'Fecha de la reserva' | translate}}</label>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <button type="button" pButton (click)="messagePopup=false" label="{{'CANCELAR' | translate}}"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="reserveCanchaInfo(myForm.value)" class="ui-button-green" label="{{'CONFIRMAR' | translate}}"></button>
            </div>
        </div>
    </p-dialog>
</div>
<!------------------------Confirm Popup End--------------------------------->

<!----------------Confirm Reserve Cancha Popup------------------>
<div class="ui-g ui-fluid reservarMessage">
    <p-dialog [(visible)]="reservePopup" modal="modal" [dismissableMask]="true" [resizable]="false">
        <div class="ui-g">
            <div class="ui-g-12 headingOfPopupReserve">
                <span>{{'Confirmar mensaje' | translate}}</span>
            </div>
        </div>
        <div class="ui-g">
            <label class="reserveLabelText">{{'La solicitud de reserva ha sido enviada al administrador de la cancha. Sin embargo la reserva no está confirmada
                hasta que usted reciba un email de confirmación del administrador de la cancha. Si quiere llamar a la cancha
                para dar seguimiento por favor llamar al' | translate}}
                <span>+593{{groundprofileInfo?.contact}} </span>
                <span *ngIf="groundprofileInfo?.admin_contact">o al +593{{groundprofileInfo?.admin_contact}}</span>
            </label>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)=" reserveCanchaInfo(myForm.value)" class="ui-button-green" label="{{'CONFIRMAR' | translate}}"></button>
            </div>
        </div>
    </p-dialog>
</div>
<!------------------------Confirm Reserve Cancha Popup End-------------------------------->
<div [class.backdrop]="downloadProfile"></div>

<div class="ui-g ui-fluid pdfView">
    <p-dialog [(visible)]="downloadProfile" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
        <div #layout class="outer_div">
            <div class="image_div">
                <img class="share_cover" [src]='downloadDataInfo?.cover_pic' alt="My image" />
                <img class="img-circle share_profile" [src]='downloadDataInfo?.profile_pic' alt="My image" />
            </div>

            <div class="info">
                <p class="name">{{downloadDataInfo?.name}} </p>
                <p class="gender">{{downloadDataInfo?.country}} | {{downloadDataInfo?.city}} </p>
                <div class="inner_info">
                    <span class="gender">{{downloadDataInfo?.type_of_field}}</span>
                    <span id="point"> .</span>
                    <span class="gender">( ${{downloadDataInfo?.min_cost}}-${{downloadDataInfo?.max_cost}} ) </span>
                </div>
                <div class="ui-g-12 rating_left share">
                    <p-rating [stars]="5" [(ngModel)]="rating" [cancel]="false"></p-rating>
                    <p> Servicio al Cliente</p>
                </div>

                <div class="ui-g-12 address">
                    <span>{{downloadDataInfo?.address}} </span>
                    <span>{{downloadDataInfo?.contect}}/{{downloadDataInfo?.other_contact}}</span>
                </div>

            </div>
            <div class="ui-g-12 footer_share text-center">

                <img src="assets/images/pelo.png" />
                <p>pelotea.com</p>

                <!-- <div style="text-align:right" class="ui-g-6">
                    <img style="    margin-right: 20px;" src="assets/images/sponser_new.png" />
                    <p>official partner</p>
                </div> -->
            </div>
        </div>
        <div style="width: 100%;text-align: right">
            <a download="groundProfile.png" [href]="imageUrl">
                <i class="downloadBttn fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    </p-dialog>
</div>

<!-- Payment success popup -->
<p-dialog [resizable]='false' class="payment_status_dialog" [(visible)]="payment_success_msg">
    <div style="border-bottom:1px solid #d7d7d7;background:#113861;color:white" class="ui-g-12">
        <p>message</p>
    </div>
    <div style="text-align: center;
    margin-top: 40px;
    color: #8ec63f;" class="ui-g-12">
        <p>Payment Successfull!</p>
    </div>
    <div style="text-align:center" class="ui-g-12">
        <button style="    width: 80px;
        margin-top: 15px;" class="ui-button-green" pButton label="ok" (click)="payment_success_msg=false"></button>
    </div>
</p-dialog>
<!--  -->

<!-- Payment failed for reservation and ground creation popup -->
<p-dialog [resizable]='false' class="payment_status_dialog" [(visible)]="payment_failed_msg">
    <div style="border-bottom:1px solid #d7d7d7;background:#113861;color:white" class="ui-g-12">
        <p>Message</p>
    </div>
    <div style="text-align: center;
    margin-top: 40px;
    color: #8ec63f;" class="ui-g-12">
        <p>Payment Failed!</p>
    </div>
    <div style="text-align:center" class="ui-g-12">
        <button style="    width: 80px;
        margin-top: 15px;" pButton label="ok" class="ui-button-green" (click)="payment_failed_msg=false"></button>
    </div>
</p-dialog>
<!--  -->
<!-- Payment cash request popup -->
<p-dialog [resizable]='false' class="payment_status_dialog1" [(visible)]="request_sent_msg">
    <div style="background: #113861;
    color: white;
    padding: 0.5em;
    font-size: 36px;text-align:center;
    font-family: 'ChaletComprime CologneEighty';" class="ui-g-12">
        <p>{{"SOLICITUD RESERVA" | translate}}</p>
    </div>
    <div style="  text-align: justify;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    color: #828282;
    padding-left: 15px;
    font-size: 1.1em;" class="ui-g-12">
        <p>{{'La solicitud de reserva ha sido enviada al administrador de la cancha. Sin embargo la reserva no está confirmada hasta que usted reciba un email de confirmación del administrador de la cancha. Si quiere llamar a la cancha para dar seguimiento
            por favor llamar al' | translate}}</p>
    </div>
    <div style="color:#8ec63f;text-align:center" class="ui-g-12">
        <p>+5932{{groundprofileInfo?.contact}}</p>
    </div>
    <div style="text-align:center" class="ui-g-12">
        <button style="      width: 100px !important;" pButton label="ok" class="ui-button-green" (click)="request_sent_msg=false"></button>
    </div>
</p-dialog>
<!--  -->

<!-- Payment reservation success  popup -->
<p-dialog [resizable]='false' class="payment_status_dialog1" [(visible)]="reservation_payment">
    <div style="background: #113861;
    color: white;
    padding: 0.5em;
    font-size: 36px;    text-align: center;
    
    font-family: 'ChaletComprime CologneEighty';" class="ui-g-12">
        <p>{{"SOLICITUD RESERVA" | translate}}</p>
    </div>
    <div style="color:#113862;text-align:center" class="ui-g-12">
        <p>Payment Successfull!</p>
    </div>
    <div style="    text-align: justify;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    color: #828282;
    padding-left: 15px;
    font-size: 1.1em;" class="ui-g-12">
        <p>{{'La solicitud de reserva ha sido enviada al administrador de la cancha. Sin embargo la reserva no está confirmada hasta que usted reciba un email de confirmación del administrador de la cancha. Si quiere llamar a la cancha para dar seguimiento
            por favor llamar al' | translate}}</p>
    </div>
    <div style="color:#8ec63f;text-align:center" class="ui-g-12">
        <p>+593{{groundprofileInfo?.contact}}</p>
    </div>
    <div style="text-align:center" class="ui-g-12">
        <button style="      width: 100px !important;" pButton label="ok" class="ui-button-green" (click)="reservation_payment=false"></button>
    </div>
</p-dialog>
<!--  -->

<!--**************courts popup*********************-->
<div class="invited">
    <p-dialog [(visible)]="court_popup" modal="modal" [dismissableMask]="true" [resizable]="false">
        <div class="ui-g invite_popup_header">
            <div class="ui-g-8 ui-sm-6">
                <span class="popup_heading">{{'Chanchas' | translate}} </span>
            </div>

            <div class="ui-g-4 ui-sm-2 text-right">
                <i class="fa fa-times" style="cursor:pointer" (click)="court_popup=false;"></i>
            </div>
        </div>
        <div style="cursor:pointer;" class="invite_popup_content_div">

            <div (click)="selectCourt(referee.id)" style="border-top: 1px solid black;" class="ui-g invite_popup_list" *ngFor="let referee of court_list">

                <div class="ui-g-2 ui-sm-2">
                    <img style="height: 70px;border-radius: 61px;width: 70px;" src="{{referee?.profile_pic ? imageUrl + referee?.profile_pic : 'assets/images/ground-profile-logo/default.png'}}" class="invite_popup_image">
                </div>
                <div class="ui-g-8 ui-sm-6 mobile_margin" style="display: flex;align-items: center;">
                    <p class="invite_popup_name">{{referee.name}}
                        <span class="cancha_text" style="font-size:0.3em">canchas</span>
                    </p>
                </div>
                <br>
            </div>
        </div>
    </p-dialog>
</div>
<!--**************Invitation popup*********************-->

<div [class.backdrop]="payment_success_msg"></div>
<div [class.backdrop]="payment_failed_msg"></div>
<div [class.backdrop]="reservation_payment"></div>

<div [class.backdrop]="request_sent_msg"></div>

<div [class.backdrop]="court_popup"></div>
<div [class.backdrop]="loader1"></div>