.section {
    max-width: 970px;
    margin: auto;
    margin-top: -50px;
}

.background {
    width: 100%;
    height: 15em;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.55), gray);
    overflow: hidden;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.followers_count {
    font-size: 27px;
    font-weight: bold;
    margin-left: 10%;
}

.headingOfPopup {
    background-color: #00253F
}

.follow_bttn {
    background: #8DCF25;
    vertical-align: -webkit-baseline-middle;
    cursor: pointer;
    width: 125px;
    height: 35px;
    padding: 0px;
}

.cropImgDiv {
    position: relative;
}

.err {
    color: red;
    white-space: nowrap;
    padding-left: 5%;
}

.star {
    color: red;
}

.active {
    color: #00253f !important;
}


/*tooltip css*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*******image cropper (praveen)********/

.image_cropper_heading {
    padding: 0;
    font-family: ChaletComprime CologneEighty;
    font-size: 3em;
    color: white;
    text-transform: uppercase;
}

.result {
    margin: 40px auto;
    margin-bottom: 0;
    display: block;
    width: 200px;
    border-radius: 100px;
}

.result.rounded>img {
    border-radius: 100px;
}

.square>img {
    width: 95%;
    margin-left: 2%;
    height: 100px;
    margin-top: 35%;
}

input[type='file'] {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.cancel {
    width: 85% !important;
}

.save {
    padding: 8px 16px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.cropper_label {
    padding-left: 5%;
    color: #828282;
    font-size: 1.2em;
}


/********image cropper********/

.headingOfPopup span {
    color: white;
    text-transform: uppercase;
    font-size: 4em;
    font-family: 'ChaletComprime CologneEighty';
}

.headingOfPopupReserve {
    background-color: #00253F
}

.headingOfPopupReserve span {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'ChaletComprime CologneEighty';
}

.setlabel {
    text-align: left;
}

.followers_btn button {
    padding: 5px 0px;
    font-size: 11px;
}

.organization_text {
    padding-right: 10px;
    color: #828282;
    text-transform: uppercase;
    font-weight: bold;
}

.org_img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid black;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.org_img_add {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    vertical-align: middle;
    cursor: pointer;
    padding-bottom: 1%;
}

.dd:hover .choose {
    display: block;
}

.profile_pic {
    border-radius: 50% 50%;
    width: 140px;
    height: 140px;
    border: 4px solid white;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.55), gray);
    overflow: hidden;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.profile_pic_message {
    border-radius: 50% 50%;
    width: 80px;
    height: 80px;
    border: 4px solid white;
}

.mesgDiv {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background: #8DCF25;
    vertical-align: -webkit-baseline-middle;
    cursor: pointer
}

.reserveLabelText {
    text-align: justify;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10p
}

.choose {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 63%;
    top: 30%;
    margin-left: 15%;
    cursor: pointer;
    position: absolute;
    top: 60px;
}

.tournament_name_div {
    padding-top: 12px;
    text-align: center;
}

.tournament_name {
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: 'ChaletComprime CologneEighty';
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    width: 405px;
    text-overflow: ellipsis;
}

.tournament_date {
    color: #828282;
}

.tournament_country {
    color: #8DCF25;
    text-transform: uppercase;
    font-size: 1em;
}

.icon-bar {
    padding-bottom: 2%;
    margin-top: 2%;
}

.icon-bar span {
    font-size: 3em;
}

.icon-bar span a {
    text-decoration: none;
    color: #828282;
    margin-right: 10px;
    font-family: 'ChaletComprime CologneEighty';
}

.activeLink {
    color: #00253f !important;
}

.invite_popup_header {
    background: #00253f;
}

.invite_popup_header .popup_heading {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'ChaletComprime CologneEighty';
}

.invite_popup_header .fa {
    color: white;
    font-size: 22px;
    padding-top: 10px;
}

.invite_popup_name {
    font-family: 'ChaletComprime CologneEighty';
    color: #00253f;
    font-size: 2.5em;
}

.invite_popup_city {
    color: #8DCF24;
    font-size: 1.3em;
}

.invite_popup_followers {
    color: #828282;
}

.invite_popup_followers span {
    color: #e6263d;
}

.referee_text {
    padding: 1px 5px;
    font-size: 10px;
    background: #ba206b;
    font-family: Montserrat-Regular;
    text-transform: uppercase;
    border-radius: 25px;
    margin-left: 10px;
    color: white;
}

.cover_button:hover .bttn {
    display: block;
}

.bttn {
    display: none;
}

.header {
    padding: 0px 20px;
    height: 95px;
}

.groun_name {
    font-size: 3em;
    color: #00253f;
    font-family: 'ChaletComprime CologneEighty';
}

.message-bttn {
    padding-right: 30px;
}

.para {
    margin-top: 0em;
    font-size: large;
    color: gray;
}

.message-text {
    overflow-y: hidden;
    height: 100px;
    border-radius: inherit;
}

.span_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}

.icons {
    color: white;
    text-align: right;
    position: absolute;
    z-index: 1;
    right: 5px;
}

.icn p {
    display: flex;
    align-items: center;
}

.fa {
    width: 25px;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    margin: 1%;
    color: white;
    cursor: pointer;
}

.downloadBttn {
    width: 35px;
    background: white;
    color: black;
}

.share_profile {
    position: absolute;
    top: 55px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    right: 43%;
}

.share_cover {
    width: 496px;
    height: 96px;
}

.image_div {
    position: relative;
    text-align: -webkit-center
}

.outer_div {
    width: 500px;
    border: 1px solid;
    margin: 0 auto;
    height: 440px;
    position: relative;
    margin-top: 20px;
    background: white
}

.name {
    width: 100%;
    text-align: -webkit-center;
    color: #474747;
    letter-spacing: 1px;
    font-size: 1.4em;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: Roboto-Medium;
}

.gender {
    width: 100%;
    text-align: -webkit-center;
    color: #474747;
    font-size: 1.3em;
    text-transform: capitalize;
    font-family: Roboto-Light;
}

#point {
    font-size: 3em;
    padding-left: 5px;
    padding-right: 5px;
}

.info {
    margin-top: 40px;
    line-height: 1.5em;
}

.inner_info span {
    font-size: 1.2em;
}

.inner_info {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.rating_left {
    text-align: center;
}

.rating_right {
    padding-left: 20px;
}

.rating_left p {
    font-family: Roboto-Medium;
    font-size: 1.2em;
}

.rating_right p {
    font-family: Roboto-Medium;
    font-size: 1.2em;
}

.player_info {
    width: 280px;
    margin: 0 auto;
    margin-top: 80px;
    font-family: Roboto-Light;
    font-size: 1.2em;
}

.footer_share {
    height: 70px;
    background: #00365D;
    position: absolute;
    bottom: 0px;
}

.footer_share img {
    width: 50px;
    height: 40px;
}

.footer_share p {
    color: white
}

.address {
    display: grid;
    justify-content: center;
}

.address span {
    width: 100%;
    padding: 3px;
    color: #474747;
    font-size: 1.2em;
    font-family: Roboto-Light;
}

.address :first-child::before {
    font-family: FontAwesome;
    content: "\f2bc";
    display: inline-block;
    padding-right: 7px;
    vertical-align: middle;
}

.address :last-child::before {
    font-family: FontAwesome;
    content: "\f095";
    display: inline-block;
    padding-right: 7px;
    vertical-align: middle;
}

@media only screen and (max-width: 640px) {
    .scroll {
        overflow-x: scroll;
    }
    .profile_pic_message {
        width: 50px;
        height: 50px;
        margin-top: -5%;
    }
    .icon-bar {
        width: 69em;
    }
    .web_view {
        display: none;
    }
    .mob_view {
        display: block;
    }
    .tournament_name_div {
        padding-top: 47px;
        text-align: left;
        padding-left: 5%;
    }
    .tournament_name {
        color: #00253f;
    }
    .profile_pic {
        width: 80px;
        height: 80px;
    }
    .top_bttn_pos {
        padding-top: 5px;
        margin-left: 0%;
    }
    .top_bttn_pos button span {
        font-size: 0.7em
    }
    .top_bttn_pos button {
        width: 32%;
        text-align: center;
    }
    .icon-bar span {
        font-size: 2.5em;
    }
    .active {
        color: #00253f !important;
    }
    .popup_heading {
        font-size: 2em !important;
    }
    .groun_name {
        font-size: 2em;
        padding-left: 0%;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .header {
        height: 65px;
    }
    .message-text {
        width: 90%;
    }
    .choose {
        top: 31px;
        width: 85%;
    }
    .icn {
        left: 0px;
        top: -10px;
    }
    .changeCover {
        display: none;
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .tournament_name_div {
        padding-left: 5%;
    }
    .invited {
        width: 88%
    }
    .ground-message .invited .ui-dialog {
        left: 10% !important;
    }
    .follow_bttn {
        margin-top: 2px;
    }
}

@media only screen and (min-width: 640px) {
    .cover_pic {
        width: 127%;
        height: 110px;
        position: absolute;
        margin-left: -14%;
        z-index: 1;
        top: -52px;
    }
    .changeCover {
        display: none;
        margin-left: 980px;
        margin-top: 20px;
        cursor: pointer;
        height: 40px;
    }
    .cover_pic:hover .changeCover {
        display: block;
    }
    .section {
        max-width: 970px;
        margin: auto;
        margin-top: -80px;
        position: relative;
        margin-bottom: 90px;
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -o-animation: fadein 2s;
    }
    .dd:hover .choose {
        display: block;
    }
    .choose {
        display: none;
        cursor: pointer;
        position: absolute;
        width: 63%;
        top: 30%;
        margin-left: 15%;
    }
    .tournament_name_div {
        padding-top: 39px;
        text-align: left;
    }
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .tournament_name {
        color: white;
        text-transform: uppercase;
        font-size: 4em;
        font-family: 'ChaletComprime CologneEighty';
    }
    .tournament_country {
        color: #8DCF25;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    .tournament_date {
        color: #828282;
    }
    .icon-bar {
        padding-bottom: 1%;
        margin-top: 1%;
    }
    .icon-bar span {
        font-size: 3em;
    }
    .icon-bar span a {
        text-decoration: none;
        color: #828282;
        margin-right: 10px;
        font-family: 'ChaletComprime CologneEighty';
    }
    .top_bttn_pos {
        padding-top: 60px;
        display: table-cell;
        position: relative;
        font-size: .9em
    }
    .activeLink {
        color: #00253f !important;
    }
    .web_view {
        display: block;
        margin-left: 67px;
        margin-top: 25px;
    }
    .mob_view {
        display: none;
    }
    .active {
        color: #00253f !important;
    }
}


.invite_popup_header {
    background: #00253f;
    display: flex;
    align-items: center;
}

.invite_popup_header .popup_heading {
    margin: 0;
    color: white;
    padding-left: 0;
    padding-top: 7px;
    font-size: 2em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.invite_popup_content_div {
    height: 320px;
    overflow-y: scroll;
}

.invite_popup_header .fa {
    color: white;
    font-size: 15px;
}

.default_court{
    text-align: left;
    margin-top: 10px;
    color: #113861;
    font-size: 27px;
    font-family: 'ChaletComprime CologneEighty'
}