<div class="full-container">
    <div class="section">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12" style="padding-top:7em; border-bottom:1px solid #828282;">
                <label class="crearfONT">SHOUTOUTS</label><button pButton type="button" style="float:right;" (click)="back_to_profile(user_id,type)" label="volver"></button>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 shoutout_div" *ngFor="let shoutout of shoutoutList">
                <div class="ui-g-1 ui-sm-3 ui-md-1 ui-lg-1 text-right shoutout_image_div">
                    <img *ngIf="type=='player'" [src]="shoutout.username?.profile_pic ? base_path_service.image_url+shoutout.username?.profile_pic : 'assets/images/default.png'" class="shoutout_image">
                    <img *ngIf="type=='team'" [src]="shoutout.team_profile?.profile_pic ? base_path_service.image_url+shoutout.team_profile?.profile_pic : 'assets/images/default_team.png'" class="shoutout_image">
                    <img *ngIf="type=='ground'" [src]="shoutout.ground?.profile_pic ? base_path_service.image_url+shoutout.ground?.profile_pic : 'assets/images/default_ground.png'" class="shoutout_image">
                    <img *ngIf="type=='tournament'" [src]="shoutout.tournament?.profile_pic ? base_path_service.image_url+shoutout.tournament?.profile_pic :'assets/images/tournament_default.png'" class="shoutout_image">
                </div>
                <div class="ui-g-10 ui-sm-9 ui-md-10 ui-lg-10" style="padding-top: 10px;">
                    <p class="shoutout_name" *ngIf="type=='player'" style="cursor:pointer;" (click)="navigate(shoutout.username?.user_pk,type)">{{shoutout.username?.name}} {{shoutout.username?.last_name}}</p>
                    <p class="shoutout_name" *ngIf="type=='team'" style="cursor:pointer;" (click)="navigate(shoutout.team_profile?.user_pk,type)">{{shoutout.team_profile?.name}}</p>
                    <p class="shoutout_name" *ngIf="type=='ground'" style="cursor:pointer;" (click)="navigate(shoutout.ground?.user_pk,type)">{{shoutout.ground?.name}}</p>
                    <p class="shoutout_name" *ngIf="type=='tournament'" style="cursor:pointer;" (click)="navigate(shoutout.tournament?.user_pk,type)">{{shoutout.tournament?.name}}</p>
                    <p class="shoutout_description">{{shoutout.shoutout}}</p>
                    <p class="shoutout_time">
                        <span *ngIf="shoutout.date_time.years>0">{{shoutout.date_time.years}} years ago</span>
                        <span *ngIf="shoutout.date_time.months>0&&shoutout.date_time.years==0">{{shoutout.date_time.months}} months ago</span>
                        <span *ngIf="shoutout.date_time.days>0&&shoutout.date_time.months==0&&shoutout.date_time.years==0">{{shoutout.date_time.days}} days ago</span>
                        <span *ngIf="shoutout.date_time.hours>0&&shoutout.date_time.days==0&&shoutout.date_time.months==0&&shoutout.date_time.years==0">{{shoutout.date_time.hours}} hours ago</span>
                        <span *ngIf="shoutout.date_time.minutes>0&&shoutout.date_time.hours==0&&shoutout.date_time.days==0&&shoutout.date_time.months==0&&shoutout.date_time.years==0">{{shoutout.date_time.minutes}} minutes ago</span>
                        <span *ngIf="shoutout.date_time.minutes==0&&shoutout.date_time.hours==0&&shoutout.date_time.days==0&&shoutout.date_time.months==0&&shoutout.date_time.years==0">just now</span>
                    </p>
                </div>
            </div>
            <div class="ui-g" style="float:right;padding:1em 0em 1em 0em;">
                <button pButton type="button" class="ui-button-green" *ngIf="(page>player_page)&&type=='player'" label="Ver más" (click)="seemore('player')"></button>
                <button pButton type="button" class="ui-button-green" *ngIf="(page>team_page)&&type=='team'" label="Ver más" (click)="seemore('team')"></button>
                <button pButton type="button" class="ui-button-green" *ngIf="(page>ground_page)&&type=='ground'" label="Ver más" (click)="seemore('ground')"></button>
                <button pButton type="button" class="ui-button-green" *ngIf="(page>tournament_page)&&type=='tournament'" label="Ver más" (click)="seemore('tournament')"></button>
            </div>
            <div class="ui-g" style="margin-top:20px;margin:auto;" *ngIf="shoutoutList.length===0">
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 text-center">
                    <span style="color: darkcyan;font-size:1.3em;">Datos no encontrados</span>
                </div>
            </div>
        </div>
    </div>
</div>