.full-container {
    padding-top: 145px;
    background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 215px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../assets/images/tourCoverPic.png) no-repeat;
    background-color: #ffffff;
    background-size: 100%;
}

.section {
    margin: auto;
    max-width: 970px;
}

.crearfONT {
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    color: #00253F;
    margin-top: 1%;
    font-size: 3.5em;
}

.shoutout_image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.shoutout_image_div {
    margin-right: 0;
}

.shoutout_name {
    font-family: ChaletComprime CologneEighty;
    color: #00253f;
    font-size: 2em;
    text-transform: uppercase;
}

.shoutout_time {
    color: #828282;
}

@media only screen and (min-width:640px) {
    .shoutout_image {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        vertical-align: middle;
    }
    .shoutout_image_div {
        margin-right: 20px;
    }
    .shoutout_name {
        font-family: ChaletComprime CologneEighty;
        color: #00253f;
        font-size: 2em;
        text-transform: uppercase;
    }
}