.shoutout-dialog {
    top: 13%;
    z-index: 33;
    width: 450px;
    background: #fff;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    /* padding: 20px; */
}

.shoutout-head {
    display: flex;
}

.shoutout-head span {
    color: #333333;
    text-transform: none;
    font-size: 18px;
}

.backdrop {
    /* display: none; */
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 30;
}

.f1 {
    font-size: 22px;
    margin: 10px 20px 20px 20px;
    color: #171E22;
}

.f2 {
    margin: 0 20px 20px 20px;
    font-size: 14px;
}

.responsive-ig {
    height: 180px;
    background: url("/assets/images/emptys/requestsent.png") no-repeat center;
    background-size: cover;
}

.btn-align {
    border-radius: 0;
    margin: 0 20px 20px 20px;
}

.shoutout-midcontent {
    margin: 15px;
}

.dashed {
    border: 1px dashed #dbdbdb;
}