<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
  <div class="ui-g">
    <div *ngIf="!show_password" style="position: relative;" class="ui-g-12">
      <p class="signup-heading">
        {{"Choose a strong password to keep your data safe." | translate}}
      </p>
      <span class="ui-float-label">
        <input [(ngModel)]="password" (keyup)="validate($event)" id="float-input" type="password" size="40" pInputText>
        <label for="float-input">{{"Password" | translate}}</label>
      </span>
      <img (click)="show_password=true" class="correct" src="assets/images/signup/eye.png" />

    </div>

    <div *ngIf="show_password" style="position: relative;" class="ui-g-12">
      <p class="signup-heading">
        {{"Choose a strong password to keep your data safe." | translate}}
      </p>
      <span class="ui-float-label">
        <input [(ngModel)]="password" (keyup)="validate($event)" id="float-input" type="text" size="40" pInputText>
        <label for="float-input">{{"Password" | translate}}</label>
      </span>
      <img (click)="show_password=false" class="correct" src="assets/images/signup/eye_hide.png" />

    </div>
    <div class="ui-g-12" style="margin-top: 60px;">
      <button (click)="next()" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}"> </button>
    </div>
  </div>
</div>

<!-- requets sent code -->
<div [class.backdrop]="display"></div>
<!-- requets sent code -->
<div *ngIf="display" class="shoutout-dialog">
  <div class="responsive-ig">
  </div>
  <div class="shoutout-midcontent">
    <div class="dashed">
      <p class="f1">{{"Your Request has been successfully sent!"|translate}}</p>
      <p class="f2">{{"Thanks for sharing your contact information."|translate}}</p>
      <button type="button" pButton class="btn-align ui-button-green" (click)="done()" label="Done"></button>
    </div>
  </div>
</div>


<!-- requets sent code -->
<div [class.backdrop]="displayrequest"></div>
<div *ngIf="displayrequest" class="shoutout-dialog">
    <div class="responsive-ig">
    </div>
    <div class="shoutout-midcontent">
        <div class="dashed">
            <p class="f1">{{"You are already part of this community!"|translate}}</p>
            <p class="f2">{{"Try again by joining other community..!"|translate}}</p>
            <button type="button" pButton class="btn-align ui-button-green" (click)="donetwo()" label="Home"></button>
        </div>
    </div>
</div>