<p-growl [value]="msgs"></p-growl>
<div class="container">
    <div class="ui-g ui-md ui-sm ui-lg">
        <div class="ui-g-4 ui-md-4 ui-sm-12 ui-lg-4 member">
            <label class="label1">{{'Miembro desde' | translate}}</label><br/>
            <label class="label2">{{team?.member_from}}</label>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-12 ui-lg-4 player">
            <label class="label1">{{'Número de jugadores' | translate}}</label><br/>
            <label class="label2">{{team?.number_of_player}}</label>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-12 ui-lg-4 city">
            <label class="label1">{{'Ciudad' | translate}}</label><br/>
            <label class="label2">{{team?.city}}</label>
        </div>
    </div>
</div>
<div class="ui-g ui-md ui-sm ui-lg">
    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
        <span class="title">{{'INFORMACIÓN' | translate}}</span>
        <hr class="line">
        <p class="para">{{team?.bio}}</p>
    </div>
    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
        <span class="title">{{'ESTADÍSTICAS' | translate}}</span>
        <hr class="line">
    </div>
    <div class="ui-g-8 ui-sm-12  information-label" style="padding-top:20px;">
        <label>{{'PARTIDOS JUGADOS' | translate}}: </label><label>{{team?.match_played}}</label><br/>
        <label>{{'PARTIDOS GANADOS' | translate}}:</label><label>{{team?.match_won}}</label><br/>
        <label>{{'GOLES A FAVOR' | translate}}:</label><label>{{team?.goals_taken}}</label><br/>
        <label>{{'GOLES EN CONTRA' | translate}}:</label><label>{{team?.goals_against}}</label><br/>
    </div>
    <div class="ui-g-4 ui-sm-12">
        <div class="ui-g-6 ui-sm-6 rat_text">
            <span class="attitute">{{'ACTITUD' | translate}}</span>
            <div class="rating">
                <p-rating [(ngModel)]="team.attitude" readonly="true" [cancel]="false"></p-rating>
            </div>
        </div>
        <div class="ui-g-6 ui-sm-6  rat_text" style="justify-content: left">
            <span class="technique">{{'TECNICA' | translate}}</span>
            <div class="rating" style="float:left;">
                <p-rating [(ngModel)]="team.technique" readonly="true" [cancel]="false"></p-rating>
            </div>

        </div>
        <div style="padding: 10px;text-align: center;">
            <span class="att">{{team.total?team?.total:"0"}} {{'Ratings' | translate}}</span>
        </div>
        <div *ngIf="!isAdmin" style="text-align: center;">
            <span style="cursor: pointer;" class="like-txt" (click)="showModal()">{{'Calificar el equipo' | translate}}</span>
        </div>
    </div>


    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 padd">
        <span class="title">{{'SHOUTOUTS' | translate}}</span>
        <hr class="line">
        <br>
        <div class="ui-g ui-fluid" *ngFor="let info of shoutout">
            <div class="ui-g-1">
                <i class="fa fa-bullhorn fontAwesomeColor" aria-hidden="true" style="color:#8DCF25;"></i>
            </div>
            <div class="ui-g-11">
                <p style="margin-left:-7%;color: #828282;font-size:1.1em">{{info.shoutout}}</p>
            </div>
        </div>
        <div *ngIf="shoutout?.length>5" style="margin-top:1%;float:right;">
            <button type="button" pButton (click)="mores()" label="{{'VER MAS' | translate}}" style="background: #C4C4C4;"></button>
        </div>
    </div>


    <div class="regpopup1 reg">
        <p-dialog [(visible)]="visble" class="model" showEffect="fade">
            <div class="ui-g">
                <div class="ui-g-12  delete_ground_header">
                    <span>{{'MENSAJE' | translate}}</span>
                </div>
                <div class="ui-g-12" style="color: darkcyan;margin-top: 5px;">
                    <span style="display: block;text-align: -webkit-center;">{{'Clasificaciones anteriores dadas por usted' | translate}}</span>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-6">
                        <p style="font-size:16px;">{{'ACTITUD' | translate}}</p>
                    </div>
                    <div class="ui-g-6 rating text-center">
                        <p-rating [(ngModel)]="shows.attitude" [cancel]="false"></p-rating>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-6">
                        <p style="font-size:16px;">{{'TECNICA' | translate}}</p>
                    </div>
                    <div class="ui-g-6 rating text-center">
                        <p-rating [(ngModel)]="shows.technique" [cancel]="false"></p-rating>
                    </div>
                </div>
                <div class="ui-g-12 ui-fluid text-center">
                    <div class="ui-g-6">
                        <button type="button" pButton (click)="cancle()" label="{{'CANCELAR' | translate}}" style="background-color:#C4C4C4;"></button>
                    </div>
                    <div class="ui-g-6">
                        <button type="button" pButton (click)="rating()" label="{{'ENVAIR' | translate}}" style="background: #8DCF24;"></button>
                    </div>
                </div>
            </div>
        </p-dialog>
    </div>

    <div [class.backdrop]="backdrop"></div>
    <div [class.backdrop1]="backdrop1"></div>
</div>