.label1 {
    color: #828282;
}

.label2 {
    color: #8dcf24;
}

.container {
    background: #f2f2f2;
    padding: 2em;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.title {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 35px;
    float: left;
    margin-right: 5px;
}

.member {
    padding-left: 50px;
}

.player {
    padding-left: 50px;
}

.city {
    padding-left: 100px;
}

@media only screen and (max-width: 640px) {
    .label1 {
        padding-left: 13px !important;
    }
    .information-label {
        padding-left: 8%;
    }
    .member {
        padding-left: .5em;
    }
    .player {
        padding-left: .5em;
    }
    .city {
        padding-left: .5em;
    }
}

.rat_text {
    display: grid;
    justify-content: end;
    text-align: -webkit-center;
}

.line {
    margin-top: 15px;
}

.para {
    color: #828282;
    text-align: justify;
    margin-top: 25px;
    margin-left: 20px;
}

.align2 {
    text-align: center;
    padding: 0em 0em 2em 0em;
}

.align {
    padding: 0em 0em 2em 0em;
}

.align1 {
    text-align: center;
    padding: 2em 0em 2em 0em;
}

.attitute {
    color: #00253f;
}

.technique {
    color: #00253f;
}

.att {
    padding-left: 10px;
}

.rating {
    background: #828282;
    padding: 5px 20px 5px 20px;
    margin: 4px 0px 4px 0px;
    border-radius: 25px;
}

.like-txt {
    color: blue;
    text-decoration: underline;
}

.regpopup1 .ui-dialog {
    position: fixed;
    padding: 0;
    overflow: hidden;
    width: 281px;
    background: white !important;
    border-radius: 2%;
    margin-left: 17%;
    margin-top: 0.5px;
}

.ui-dialog .ui-dialog-content {
    background: white;
}

.buton {
    background: #8DCF25;
}

.reg>.model>.ui-dialog .ui-dialog-content {
    background: #00253f !important;
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1007 !important;
}

.backdrop1 {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1 !important;
}

.delete_ground_header {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.delete_ground_header span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}