<div class="full-container">
    <div class="ui-g bg-image-home desktop">
        <div style="padding: 9% 0px 9% 15%;" class="ui-g-12">
            <p class="name_logo">Pelotea</p>
            <p class="static_font_size  ">
                {{'Únete a tu comunidad de fútbol' | translate}}
            </p>
            <p-lightbox type="content" [style]="{'font-size': '16px',    'float': 'left' }" class="video_bttn top_video_bttn">
                <a class="group" href="#" (click)="videoPlayStatus=true">
                                {{'VER VIDEO' | translate}}
                            </a>
                <iframe src="https://player.vimeo.com/video/246015052" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </p-lightbox>
            <br>

            <div class="ui-g-12">
                <img style="width: 170px;margin-right: 25px" (click)="goToLink('https://play.google.com/store/apps/details?id=com.pelotea&hl=en')" src="assets/images/playstore.png">
                <img style="width: 170px" (click)="goToLink('https://itunes.apple.com/in/app/pelotea/id1352899307')" src="assets/images/appstore.png">
            </div>
        </div>
    </div>

    <div class="ui-g banner">
        <div style="    padding: 9% 0px 0% 7%;" class="ui-g-12">
            <p class="name_logo">Pelotea</p>
            <p class="static_font_size  ">
                {{'Únete a tu comunidad de fútbol' | translate}}
            </p>
            <p-lightbox type="content" [style]="{'font-size': '16px'}" class="video_bttn top_video_bttn">
                <a class="group" href="#" (click)="videoPlayStatus=true">
                                    {{'VER VIDEO' | translate}}
                                </a>
                <iframe src="https://player.vimeo.com/video/246015052" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </p-lightbox>
            <div class="ui-g-12">
                <img style="width: 150px;margin-right: 10px" (click)="goToLink('https://play.google.com/store/apps/details?id=com.pelotea&hl=en')" src="assets/images/playstore.png">
                <img style="width: 150px;" (click)="goToLink('https://itunes.apple.com/in/app/pelotea/id1352899307')" src="assets/images/appstore.png">
            </div>
        </div>
    </div>
    <!-- <div class="ui-g mob_video text-center">
        <div>
            <p class="static_font_size feel_pro" (click)="rotate()">
                {{'Únete a la comunidad mundial de fútbol' | translate}}

            </p>
            <p-lightbox type="content" class="video_bttn">
                <a class="group" href="#">
                    {{'VER VIDEO' | translate}}
                </a>
                <iframe src="https://player.vimeo.com/video/246015052" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </p-lightbox>
        </div>
    </div> -->
    <!-- <div class="ui-g ">
        <div class="ui-g-12 sponsorCarousel" style="text-align: -webkit-center;">
            <p-carousel [value]="images" [numVisible]="1" [pageLinks]="10" [responsive]=false [circular]=true [autoplayInterval]="2000">
                <ng-template let-item pTemplate="feedback">
                    <div class="imageDivSponsor">
                        <img [src]="item?.image" />
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div> -->







    <div style="background-color: #F8F9FB; padding-top: 30px;padding-bottom: 45px;">
        <div class="ui-g   box_text">
            <p class="static_font_size">
                {{'Juega local, compite localmente' | translate}}
            </p>
            <span class="span-text">
                {{'Si eres un jugador de fútbol, Pelotea es para ti. Nuestra aplicación móvil y sitio web mejoran la experiencia del deporte y te conecta con la comunidad de fútbol a nivel mundial' | translate}}
            </span>
            <div class="landing_width">
                <div class="ui-g-3 ui-sm-6 div_space" routerLink="./../dashboard/ground">
                    <div class="tour_type_info">
                        <img src="assets/images/Retos.png" />
                        <br>
                        <br>
                        <p class="static_font">
                            {{ 'SOCIAL' | translate }}
                        </p>
                        <p class="static_font_small">
                            {{'Interactúa con otros jugadores, maneja tus estadísticas, califica a otros usuarios y sube en el ranking global' | translate}} </p>
                    </div>
                </div>
                <div class="ui-g-3 ui-sm-6 div_space second" routerLink="./../dashboard/tournaments">
                    <div class="tour_type_info">
                        <img src="assets/images/team_logo.png" style="width: 50px;" />

                        <br>
                        <br>
                        <p class="static_font">
                            {{'EQUIPOS' | translate}}
                        </p>
                        <p class="static_font_small">
                            {{'Maneja tu equipo como un pro. Reta a otros equipos, gestiona jugadores y recluta nuevos talentos para reforzar tu equipo' | translate}}
                        </p>
                    </div>
                </div>
                <div class="ui-g-3 ui-sm-6 div_space second" routerLink="./../dashboard/player">
                    <div class="tour_type_info">
                        <img src="assets/images/Torneos.png" />

                        <br>
                        <br>
                        <p class="static_font">
                            {{'LIGAS' | translate}}
                        </p>
                        <p class="static_font_small">
                            {{'Explora nuevas ligas, compite con tu equipo y ten acceso a calendarios, tablas, resultados y más, todo en tiempo real' | translate }}
                        </p>
                    </div>
                </div>
                <div class="ui-g-3 ui-sm-6 div_space" routerLink="./../dashboard/team">
                    <div class="tour_type_info">
                        <img src="assets/images/Reservaciones.png" />
                        <br>
                        <br>
                        <p class="static_font">
                            {{'RESERVAS' | translate}}
                        </p>
                        <p class="static_font_small">
                            {{'Obtén disponibilidad de canchas y realiza tu próxima reserva en línea' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: white; padding-top: 25px;padding-bottom: 25px">
        <div class="ui-g header_landing_width plateform">
            <div class="ui-g-2 ui-sm-6 text-center">
                <img src="assets/images/Players.png" />
                <br>
                <div class="tour_type_info_list">
                    <span class="static_font">
                        {{ numberFormat(total_plateform_count?.total_player,',')}} {{'JUGADORES' | translate}}
                    </span>
                </div>
            </div>
            <div class="ui-g-2 ui-sm-6 text-center">
                <img src="assets/images/Teams.png" />
                <br>
                <div class="tour_type_info_list">
                    <span class="static_font">
                        {{ numberFormat(total_plateform_count?.total_team,',')}} {{"EQUIPOS" | translate}}
                    </span>
                </div>
            </div>
            <div class="ui-g-2 ui-sm-6 text-center">
                <img src="assets/images/Partidos.png" />
                <br>
                <div class="tour_type_info_list">
                    <span class="static_font">
                        {{ numberFormat(total_plateform_count?.total_tournment,',')}} {{'TORNEOS' | translate}}
                    </span>
                </div>
            </div>
            <div class="ui-g-2 ui-sm-6 text-center">
                <img src="assets/images/Reservaciones.png" />
                <br>
                <div class="tour_type_info_list">
                    <span class="static_font">
                        {{ numberFormat(total_plateform_count?.total_matchs,',')}} {{'PARTIDOS' | translate}}
                    </span>
                </div>
            </div>
            <div class="ui-g-2 ui-sm-6 text-center">
                <img src="assets/images/Reservations.png" />
                <br>
                <div class="tour_type_info_list">
                    <span class="static_font">
                        {{ numberFormat(total_plateform_count?.total_ground,',')}} {{'CANCHAS' | translate}}
                    </span>
                </div>
            </div>
            <div class="ui-g-2 ui-sm-6 text-center">
                <img src="assets/images/total_reservation.png" />
                <br>
                <div class="tour_type_info_list">
                    <span class="static_font">
                        {{ numberFormat(total_plateform_count?.total_reservations,',')}} {{'RESERVAS' | translate}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g ground-image">
        <img src="assets/images/Own_field.png" />
        <div class="ui-g-12 ui-sm-12 own_ground_button header_landing_width">
            <p>{{'Tienes canchas de fútbol?' | translate}}
                <br>{{'Maneja tus reservas de forma fácil y acepta pagos en línea!' | translate}}</p>
            <button pButton type="button" routerLink="./../home/talk" label="{{'CONTÁCTANOS' | translate}}" class="ui-button-green talk-specialist-bttn"></button>
            <p-lightbox type="content" class="video_bttn field_bttn">
                <a class="group" href="#" (click)="videoPlayStatus=true">
                    {{'VER VIDEO' | translate}}
                </a>
                <!-- https://player.vimeo.com/video/230110967 -->
                <iframe src="https://player.vimeo.com/video/246015052" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </p-lightbox>
        </div>
    </div>

    <div class="feedback">
        <div class="ui-g   arrowPosition">
            <div class="ui-g-12">
                <span class="static_font_size" style="padding-right: 10px;color: #8DCF25">|</span>
                <span class="static_font_size">{{'Testimonios de nuestros usuarios' | translate}}</span>
                <p class="user_video_info" style="margin-top: 25px">{{'Únete a miles de jugadores y sé parte de la comunidad mundial de fútbol' | translate}}
                    <!--<b style="color: #00253f;">{{ numberFormat(total_plateform_count?.total_player,',')}}</b> {{"jugadores y sé parte de la comunidad de fútbol a nivel mundial. Conéctate con jugadores de fútbol, equipos, torneos, ligas y canchas" | translate}}-->
                </p>
            </div>
            <div class="ui-g-12 feedCarousel" *ngIf="feedback_images">
                <p-carousel [value]="feedback_images" [numVisible]="3" [responsive]=true>
                    <ng-template let-item pTemplate="feedback">
                        <div class="imageDiv">
                            <div class="shadow">
                                <div class="feedImg">
                                    <img [src]="imageUrl + item?.upload_image" />
                                    <p class="comment style-1">{{item.comment}}</p>
                                    <div class="bottom_text">
                                        <p style="color:#00253f;font-weight: 600;text-transform: capitalize;">-{{item.name}}</p>
                                        <p style="padding-left: 5px;text-transform: capitalize;">{{item.designation}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
    <div class="ui-g user_video">
        <div class="ui-g-6 ui-sm-12 mob_show">
            <img src="assets/images/managetournament.png" style="height: 275px;" />
        </div>
        <div class="ui-g-6 ui-sm-12" style="margin-top: 25px">
            <p class="static_font_size">{{'Administras ligas o torneos?' | translate}}</p>
            <p class="user_video_info">{{'Gestiona el proceso de inscripciones, calendarios, tablas de posiciones, goleadores, resultados, tarjetas, recordatorios, comunicados y más! Todo de forma fácil, profesional y automatizada!' | translate}}</p>
            <div class="mob_div">
                <p-lightbox type="content" class="video_bttn">
                    <a class="group" href="#" (click)="videoPlayStatus=true">
                        {{'VER VIDEO' | translate}}
                    </a>
                    <!-- https://player.vimeo.com/video/229085979 -->
                    <iframe src="https://player.vimeo.com/video/246015052" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </p-lightbox>
                <button pButton type="button" routerLink="./../home/talk" label="{{'CONTÁCTANOS' | translate}}" class="ui-button-green"></button>
            </div>
        </div>
        <div class="ui-g-6 ui-sm-12 mobile-display ">
            <img src="assets/images/managetournament.png" style="height: 275px;" />
        </div>


    </div>

    <!-- <div style="background: #F8F9FB;padding-bottom: 40px;" class="ui-g">
        <div style="width: 90%;margin: auto;" class="ui-g-12">
            <div class="ui-g-4"></div>
            <div style=" font-size: 30px;font-family: Montserrat-Light;
             color: #113861; " class="ui-g-8 ui-sm-12 official">
                {{'Nuestros partners' | translate}}
            </div>
            <div class="ui-g-12 partner ">
                <div style="text-align:center;padding-right: 7%;" class=" ui-sm-12 ui-g-4 ">
                    <img (click)="goToLink()" style="width: 150px;cursor:pointer" src="assets/images/sponser_new.png" />
                </div>
                <div style="text-align: justify;font-family: Montserrat-Light;
                line-height: 25px;font-size: 14px;color: #888;    margin-bottom: 25px;" class="  ui-sm-12 ui-g-8">
                    <p>
                        En el mes de Octubre del 2017 se firmó un partnership entre Pelotea y el Club Independiente del Valle para digitalizar el manejo de sus escuelas, ligas, torneos, canchas y jugadores en la plataforma dándoles un control y visión de toda esta información
                        desde una plataforma tecnológica. Esto ayudará al mucho al club en la gestión de todas estas actividades y en la búsqueda de talento.
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <div style="background: #F8F9FB;" class="ui-g">
        <div class="ui-g-12 partner_container">
            <div class="ui-g-12 official">
                {{'Nuestros partners' | translate}}
            </div>

            <div style="text-align: center" class="ui-g-12">
                <div class="ui-g-6 ui-sm-12 align" style="padding: 32px">
                    <img (click)="goToLink('http://www.independientedelvalle.com/')" style="width:75%;cursor:pointer" src="assets/images/independiente.png" />
                </div>

                <div class="ui-g-6 ui-sm-12 align1" style="padding: 32px">
                    <img (click)="goToLink('https://www.kfc.com.ec//')" style="width:75%;cursor:pointre" src="assets/images/kfc.png" />
                </div>

            </div>
            <!-- <div class="ui-g-12 sponser_image">
                <div class="ui-g-6 ui-sm-12 partnerslogodiv">
                    <img (click)="goToLink('http://www.independientedelvalle.com/')" style="width:150px;cursor:pointer" src="assets/images/sponser_new.png" />
                </div>
                <div class="ui-g-6 ui-sm-12 partnerslogodiv1">
                    <img (click)="goToLink('https://www.kfc.com.ec//')" style="width: 200px;cursor:pointre" src="assets/images/KFC LOGO.png" />
                </div>
            </div> -->


        </div>
    </div>

    <!-- <div class="ui-g parteners">
        <div class="ui-g-12 user_parteners" id="foo">
            <span class="static_font_size">{{'Nuestros Partners' | translate}}</span>
            <br>
            <span></span>
            <br>
            <span class="user_video_info">{{'Peloteando busca desarrollar alianzas con organizaciones profesionales y amateur de futbol, clubes, universidades,
                marcas y empresas privadas.' | translate}} </span>
            <br>
            <button pButton type="button" routerLink="./../home/talk" label="{{'CONTÁCTANOS' | translate}}" class="ui-button-green" style="margin-top: 50px;"
                (click)="scroll()"></button>
        </div>
    </div> -->
</div>
<div [class.backdrop]="videoPlay"></div>
<div [class.backdrop]="show_popup   "></div>


<!-- Language select popup -->
<p-dialog [resizable]='false' class="language" [(visible)]="show_popup">
    <div style="background: #113861;    color: white;    padding: 8px;    font-size: 36px;    text-align: center;        font-family: 'ChaletComprime CologneEighty';" class="ui-g-12">
        <p>{{"Welcome - Bienvenido" | translate}}</p>
    </div>
    <div (click)="show_popup=false" style=" BORDER-BOTTOM: 1Px solid #d7d7d7;cursor:pointer" class="ui-g-12">
        <div class="ui-g-2">
            <img style="width:30px" src="assets/images/usa_flag.jpg" />
        </div>
        <div id="eng" class="ui-g-10">
            English
        </div>
    </div>
    <div (click)="show_popup=false" style=" cursor:pointer;   BORDER-BOTTOM: 1Px solid #d7d7d7;" class="ui-g-12">
        <div class="ui-g-2">
            <img style="width:30px" src="assets/images/Ecuador.png" />
        </div>
        <div id="span" class="ui-g-10">
            Español
        </div>
    </div>
    <div style="cursor:pointer" (click)="show_popup=false" class="ui-g-12">
        <div class="ui-g-2">
            <img style="width:30px" src="assets/images/portuguese_flag.jpg" />
        </div>
        <div id="port" class="ui-g-10">
            Português
        </div>
    </div>

</p-dialog>
<!--  -->