.full-container {
    background-size: 100% 100%;
    height: 100%;
    margin-top: 130px;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

.bg-image-home {
    background: url('../../../assets/images/index.png');
    background-size: 100% 100%;
    height: 600px;
    position: relative;
    background-repeat: no-repeat;
    position: relative;
}

.banner {
    display: none;
}

.playstore {
    width: 80%;
    height: 60px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header_landing_page {
    background-color: #F8F9FB;
    padding-top: 5px;
    border-bottom: 1px solid lavender;
}

.header_landing_width {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.div_space {
    width: 200px;
    cursor: pointer;
}

.whatsup {
    width: 20px;
}

.whatsup_number {
    float: right;
    margin-right: 55px;
    margin-top: 3px;
}

.number {
    padding-top: 10px;
}

.menu_bar {
    background-color: #FFFFFF;
    border-bottom: 1px solid lavender;
}

.unorder_menu {
    display: flex;
    float: right;
    align-items: baseline;
}

.unorder_menu>li {
    list-style: none;
    margin-left: 15px;
}

.unorder_menu>li>a {
    text-decoration: none;
    color: #B8B8B8;
}

.headin {
    padding: 4px 0px 8px 0px;
}

.top-logo-img {
    width: 120px !important;
    margin-left: 439px;
    margin-top: 180px;
}

.feel_pro {
    padding-bottom: 10px;
    margin-top: -10px;
}

.name_logo {
    font-size: 75px;
    font-family: 'ChaletComprime CologneEighty';
    color: white;
}

.tour_type_info {
    height: 250px;
    text-align: center;
    background-color: white;
    padding-bottom: 35px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ebebeb;
}

.tour_type_info_list {
    text-align: center;
    display: initial;
}

.tour_type_info_list img {
    float: left;
    margin-left: 25px;
    padding-right: 5px;
    margin-top: 8px;
}

.right-wrap {
    margin-top: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    z-index: 1
}

.own_ground_button {
    position: relative;
    text-align: center;
    margin-top: -240px;
    margin-left: 0px;
}

.own_ground_button p {
    font-size: 30px;
    color: white;
}

.feedback {
    background-color: #F8F9FB;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.user_video {
    background-color: white;
    padding-bottom: 25px;
    padding: 0px;
    padding-left: 70px;
    text-align: justify;
    margin-top: 10px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.parteners {
    background: #F8F9FB
}

.user_video img {
    float: right
}

.user_parteners {
    background-color: #F8F9FB;
    padding-top: 30px;
    text-align: center;
    height: 241px;
}

.user_video_info {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Montserrat-Light;
    line-height: 18px;
    font-size: 14px;
    color: #888;
    letter-spacing: 1px;
}

.static_font_size {
    font-size: 20px;
    font-family: Montserrat-Light;
    color: white;
    margin-bottom: 30px;
}

.static_font {
    font-size: 24px;
    padding-bottom: 10px;
    font-family: 'ChaletComprime CologneEighty';
    color: #00253f;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.span-text {
    padding-bottom: 35px;
    font-family: Montserrat-Light;
    font-size: 14px;
    color: #888;
    line-height: 22px;
    letter-spacing: 1px;
    width: 62% !important;
    margin: auto;
    text-align: center;
}

.static_font_small {
    font-family: Montserrat-ExtraLight;
    font-size: 14px;
    line-height: 18px;
    color: #888
}

.ground-image img {
    width: 100%;
}

.ground-image {
    position: relative;
}

.talk-specialist-bttn {
    margin-top: 40px;
    margin-right: 10px;
}

.feedImg img {
    width: 270px;
    height: 125px;
}

.feedImg {
    width: 300px;
    height: 410px;
    text-align: left;
    position: relative;
    border: 1px solid #E0E0E0;
    background-color: white;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -5px;
}

.imageDivSponsor img {
    width: 100%;
    height: 200px;
}

.imageDivSponsor {
    width: 100%;
    text-align: -webkit-center;
}

.imageDiv {
    width: 100%;
    text-align: -webkit-center;
}

.bottom_text {
    position: absolute;
    bottom: 20px;
}

.bottom_text p {
    font-family: Montserrat-Light;
    font-size: 15px;
}

.comment {
    font-family: Montserrat-Light;
    font-size: 15px;
    text-align: justify;
    margin-top: 35px;
    height: 100px;
    overflow-y: scroll;
}

.style-1::-webkit-scrollbar {
    width: 2px;
    background-color: #F8F9FB;
}

.style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 1.3);
}

.arrowPosition {
    position: relative
}

.prev {
    position: absolute;
    top: 55%;
    left: -4%;
    cursor: pointer;
}

.next {
    position: absolute;
    top: 55%;
    right: -4%;
    cursor: pointer;
}

.landing_width {
    width: 850px;
    margin: 0 auto;
}

.landing_width .second {
    margin-left: 10px;
    margin-right: 10px;
}

.plateform img {
    height: 36px;
    padding-bottom: 15px;
}

.shadow {
    width: 305px;
    background: #EFEFEF;
    height: 420px;
    padding-top: 5px;
}

.box_text>p {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.box_text>span {
    width: 100%;
}

.feedCarousel {
    margin-top: -30px;
}

.group {
    padding: 20px;
    text-decoration: none !important;
    color: white;
    font-family: 'Montserrat-Light';
}

.video_bttn {
    display: inline-block;
    position: relative;
    padding: 12px;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    border-radius: 25px;
    background: #8DCF25;
    font-size: 1em;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 200;
}

.mob_show {
    display: none;
}

.mob_div .button {
    margin-left: 10px;
}

.mob_video {
    display: none;
}

.top_image_text {
    position: absolute;
    right: 75px;
    top: 70px;
}

@media only screen and (max-width: 640px) {
    .header_landing_width {
        width: initial
    }
    .login_div {
        width: 1140px !important;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
    }
    .span-text {
        padding-right: 10px;
        padding-left: 10px;
        text-align: justify;
        letter-spacing: 1px;
    }
    .tour_type_info_list img {
        margin-left: initial
    }
    .ground-image img {
        height: 160px;
        filter: brightness(50%);
    }
    .own_ground_button {
        margin-left: initial;
        top: 110px;
        width: 100%;
    }
    .own_ground_button p {
        font-size: 18px;
    }
    .user_video {
        padding-left: initial;
        padding-right: initial;
        padding-bottom: 25px;
    }
    .user_video img {
        float: none;
    }
    .talk-specialist-bttn {
        top: 10px;
        margin-top: initial;
    }
    .div_space {
        width: 50%;
    }
    .static_font_size {
        font-size: 15px;
        width: 100%;
        margin-bottom: 30px;
    }
    .static_font_small {
        font-size: 11px;
    }
    .user_video_info {
        text-align: center;
    }
    .landing_width div:not(:first-child):not(:last-child) {
        margin-left: inherit;
        margin-right: inherit;
    }
    .mob_show {
        display: block;
        text-align: -webkit-center;
    }
    .mob_div {
        width: 100%;
        text-align: center;
    }
    .static_font {
        font-size: 18px;
    }
    .video_bttn {
        margin-right: 10px;
    }
    .mob_video {
        display: block;
    }
    .mob_video div {
        width: 100%;
        margin-bottom: 30px;
    }
    .mob_video div p {
        margin-bottom: 20px;
        position: inherit
    }
    .mob_video div .video_bttn {
        margin-right: 0px !important;
    }
    .field_bttn {
        top: 10px;
    }
}

@media only screen and (min-width: 640px) and (max-width:940px) {
    .header_landing_width {
        width: 100% !important;
    }
    .div_space {
        width: 48% !important;
    }
    .user_video {
        padding-left: 20px !important;
        padding-right: 0px !important;
    }
    .top_image_text {
        top: 15px !important;
        text-align: center;
        right: 0px;
        width: 100%;
    }
    .landing_width {
        width: 70%;
    }
    .tour_type_info {
        height: 250px
    }
    .landing_width .second {
        margin-left: 0px;
        margin-right: 0px;
    }
    .static_font_size {
        font-size: 18px;
    }
    .name_logo {
        font-size: 50px;
    }
    .video_bttn {
        font-size: 12px
    }
}

.partner {
    display: flex;
    align-items: center;
}

.official {
    text-align: center;
    font-size: 30px;
    font-family: Montserrat-Light;
    color: #113861;
    text-align: center
}

.align {
    text-align: right;
}

.align1 {
    text-align: left;
}

@media only screen and (max-width:640px) {
    .partner {
        display: block;
    }
    .tour_type_info {
        height: 200px
    }
    .align {
        text-align: center;
    }
    .align1 {
        text-align: center;
    }
    .align img {
        width: 100% !important
    }
    .align1 img {
        width: 100% !important
    }
}

@media only screen and (max-width:599px) {
    .partnerslogodiv {
        background: black;
        border-radius: 6px;
        height: 100%;
        width: 100%;
        padding-top: 0px;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .partnerslogodiv1 {
        border-radius: 6px;
        background: #c32032;
        height: 100%;
        width: 100%;
        padding-top: 0px;
        text-align: center
    }
    .partner_container {
        width: 90%;
        margin: auto;
    }
}

@media only screen and (min-width:600px) {
    .sponser_image {
        display: flex
    }
    .partnerslogodiv {
        background: black;
        border-radius: 6px;
        height: 210px;
        width: 450px;
        padding-top: 28px;
        text-align: center;
        margin-right: 80px;
        margin-bottom: 42px;
        margin-top: 10px;
    }
    .partnerslogodiv1 {
        border-radius: 6px;
        background: #c32032;
        height: 210px;
        width: 450px;
        padding-top: 0px;
        text-align: center;
        margin-top: 10px;
    }
    .partner_container {
        width: 90%;
        margin: auto;
    }
}

@media all and (max-width: 799px) and (min-width: 640px) {
    .bg-image-home {
        height: 400px;
    }
    .playstore {
        width: 90%;
        height: 50px;
    }
}

@media all and (max-width: 1100px) and (min-width: 800px) {
    .bg-image-home {
        height: 500px;
    }
}

@media all and (max-width: 639px) and (min-width: 320px) {
    .bg-image-home {
        height: 300px;
        display: none;
    }
    .banner {
        display: block;
        background: url('../../../assets/images/banner.png');
        background-size: 100% 100%;
        height: 500px;
        position: relative;
        background-repeat: no-repeat;
        position: relative;
    }
    .desktop {
        display: none;
    }
    .name_logo {
        font-size: 40px;
        margin-top: 16px;
    }
}


/* this one goes for default images - bigger sizes */