<ion-slides pager="true" #slides>

    <ion-slide>
        <img src="assets/images/onboading/1.png" />
        <ion-grid no-padding style="position: absolute;    bottom: 0px;    ">
            <ion-row>
                <ion-col col-12>
                    <p style="margin-bottom: 12px;font-family: roboto-medium;font-size: 24px;color: white;">{{'Unlock your potential' | translate}}</p>
                    <p style="font-family: roboto-regular;font-size: 16px;color: white;opacity: .75;padding-bottom: 22px;">{{'Create your own football profile' | translate}}</p>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12 style="border-top: 1px solid #f4f4fe;    opacity: .6;       ">
                </ion-col>
                <ion-col col-12>
                    <ion-row>
                        <ion-col text-left col-6>
                            <button class="b" ion-button (click)=goToLogin()>{{'Skip' | translate}}</button>
                        </ion-col>
                        <ion-col text-right col-6>
                            <button style="background: transparent;color: white;font-family: roboto-bold;font-size: 13px;" ion-button (click)=next(slides,1)>{{'Next' | translate}}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-slide>

    <ion-slide>
        <img src="assets/images/onboading/2.png" />
        <ion-grid no-padding style="position: absolute;    bottom: 0px;    ">
            <ion-row>
                <ion-col col-12>
                    <p style="margin-bottom: 12px;font-family: roboto-medium;font-size: 24px;color: white;">{{"Get discovered" | translate}}</p>
                    <p style="    font-family: roboto-regular;font-size: 16px;color: white;opacity: .75;
            text-align: center;    line-height: 24px;
            padding-bottom: 22px;    

            width: 80%;
            margin: auto;">{{'Keep track of your stats' | translate}}, {{'go up in ranking and be the best' | translate}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 style="border-top: 1px solid #f4f4fe;    opacity: .6;       ">
                </ion-col>
                <ion-col col-12>
                    <ion-row>
                        <ion-col text-left col-6>
                            <button class="b" ion-button (click)=goToLogin()>{{'Skip' | translate}}</button>
                        </ion-col>
                        <ion-col text-right col-6>
                            <button style="    background: transparent;
                color: white;
                font-family: roboto-bold;
                font-size: 13px;" ion-button (click)=next(slides,2)>{{'Next' | translate}}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-slide>

    <ion-slide>
        <img src="assets/images/onboading/3.png" />
        <ion-grid no-padding style="position: absolute;    bottom: 0px;    ">
            <ion-row>
                <ion-col col-12>
                    <p style="margin-bottom: 12px;font-family: roboto-medium;font-size: 24px;color: white;">{{'Participate in leagues' | translate}}</p>
                    <p style="  font-family: roboto-regular;font-size: 16px;color: white;opacity: .75;
          text-align: center;    line-height: 24px;
          padding-bottom: 22px;    

          width: 80%;
          margin: auto;">{{'Join or manage a team' | translate}}, {{'find players and win the next league' | translate}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 style="border-top: 1px solid #f4f4fe;    opacity: .6;       ">
                </ion-col>
                <ion-col col-12>
                    <ion-row>
                        <ion-col text-left col-6>
                            <button class="b" ion-button (click)=goToLogin()>{{"Skip" | translate}}</button>
                        </ion-col>
                        <ion-col text-right col-6>
                            <button style="    background: transparent;
                color: white;
                font-family: roboto-bold;
                font-size: 13px;" ion-button (click)=next(slides,3)>{{'Next' | translate}}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-slide>

    <ion-slide>
        <img src="assets/images/onboading/4.png" />

        <ion-grid no-padding style="position: absolute;    bottom: 0px;    ">
            <ion-row>
                <ion-col col-12>
                    <p style="margin-bottom: 12px;font-family: roboto-medium;font-size: 24px;color: white;">{{'Football made easy' | translate}}</p>
                    <p style="  font-family: roboto-regular;font-size: 16px;color: white;opacity: .75;
            text-align: center;    line-height: 24px;
            padding-bottom: 22px;    
  
            width: 80%;
            margin: auto;">{{'Plan trainings' | translate}}, {{'games and make reservations online' | translate}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 style="border-top: 1px solid #f4f4fe;    opacity: .6;       ">
                </ion-col>

                <ion-col col-12 style=" padding: 5px 0px;" text-right>
                    <button style="    background: transparent;
            color: white;   
            font-family: roboto-bold;
            font-size: 13px;" ion-button (click)="goToLogin()">{{'Next' | translate}}
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-slide>

</ion-slides>