page-onboading {
  .b {
    background: transparent !important;
    color: white !important;
    font-family: roboto-regular !important;
    font-size: 13px !important;
    opacity: 0.4;
  }
  img {
    width: 110% !important;
  }

  @media only screen and (min-height: 750px) {
    img {
      width: 110% !important;
      height: 820px !important;
    }
  }

  .fa {
    margin-left: 5px;
    font-size: 10px;
  }
}
