<div class="full-container">
    <div class="ui-g section" style="padding-bottom:1em;padding-top: 8em;border-bottom:1px solid gray;">
        <button pButton type="button" class="ui-button-green" label="{{'Regresar' | translate}}" (click)="back_to_profile()"></button>
        <h2 style="margin:auto;color:#00253f;">{{'Términos y Condiciones' | translate}}</h2>
    </div>
    <div class="section" style="padding-top:1em;">
        <h2 class="western" align="justify">INTRODUCTION</h2>
        <p align="justify">These Terms of Service (<strong>'Terms'</strong>) govern your access to and use of our Service, including our various websites, SMS, APIs, email notifications, applications (including mobile applications) services (together, the (<strong>&ldquo;Service&rdquo;</strong>),
            and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Service (collectively, the&nbsp;<strong>&ldquo;Content&rdquo;</strong>). The Service is owned or controlled by Pelotea, Inc. (<strong>'Pelotea'</strong>).
            Your access to and use of the Service are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Service you agree to be bound by these Terms. If you do not agree to be bound by all of these Terms, do
            not access or use the Service.<br /> </p>
        <h2 class="western">BASIC TERMS</h2>
        <p align="justify">You are responsible for your use of the Service, for any Content you post to the Service, and for any consequences thereof. Most Content you submit, post, or display through the Service is public by default and will be able to be viewed by other
            users and through third party services and websites according to the privacy setting you choose. You should only provide Content that you are comfortable sharing with others under these Terms.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">You may use the Service only if you can form a binding contract with Pelotea and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. If you are accepting these Terms and using the
            Service on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so. You may use the Service only in compliance with these Terms and all applicable local, state, national,
            and international laws, rules and regulations.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">The Service that Pelotea provides are always evolving and the form and nature of the Service that Pelotea provides may change from time to time without prior notice to you. In addition, Pelotea may stop (permanently or temporarily) providing the
            Service (or any features within the Service) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice
            to you.</p>
        <p align="justify">&nbsp;</p>
        <h2 class="western">PRIVACY</h2>
        <p align="justify">Any information that you or other users provide to Pelotea is subject to our&nbsp;<span style="color: #00abea;">Privacy Policy</span>, which governs our collection and use of your information. You understand that through your use of the Service
            you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States and/or other countries for storage, processing and use by Pelotea. As part of providing
            you the Service, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Service and your account, which you may not be able to opt-out
            from receiving.</p>
        <p align="justify"><br /> </p>
        <h2 class="western">ACCOUNT SECURITY</h2>
        <p align="justify">You are the sole authorized user of your account. You are responsible for maintaining the confidentiality of any password provided by you or Pelotea for accessing the Service. You are solely and fully responsible for all activities that occur
            under your User account, and Pelotea expressly disclaims any liability arising from the unauthorized use of your User account. Should you suspect that any unauthorized party may be using your User account or you suspect any other breach of
            security, you agree to notify us immediately.</p>
        <p align="justify"><br /> </p>
        <h2 class="western">CONTENT ON THE SERVICE</h2>
        <p align="justify">All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Service and, we cannot take responsibility for such Content.
            Any use or reliance on any Content or materials posted via the Service or obtained by you through the Service is at your own risk.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Service or endorse any opinions expressed via the Service. You understand that by using
            the Service, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will Pelotea be liable
            in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via
            the Service or broadcast elsewhere.</p>
        <p align="justify"><br /> <br /> </p>
        <h2 class="western">YOUR RIGHTS</h2>
        <p align="justify">You retain your rights to any Content you submit, post or display on or through the Service. By submitting, posting or displaying Content on or through the Service, you grant us a worldwide, non-exclusive, royalty-free license (with the right
            to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">You agree that this license includes the right for Pelotea to provide, promote, and improve the Service and to make Content submitted to or through the Service available to other companies, organizations or individuals who partner with Pelotea
            for the syndication, broadcast, distribution or publication of such Content on other media and services, subject to our terms and conditions for such Content use.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">Such additional uses by Pelotea, or other companies, organizations or individuals who partner with Pelotea, may be made with no compensation paid to you with respect to the Content that you submit, post, transmit or otherwise make available through
            the Service.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">We may modify or adapt your Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your Content as are necessary to conform and adapt that Content to any requirements or limitations
            of any networks, devices, services or media.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">You are responsible for your use of the Service, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and our third party partners. You understand that your Content may be syndicated,
            broadcast, distributed, or published by our partners and if you do not have the right to submit Content for such use, it may subject you to liability. Pelotea will not be responsible or liable for any use of your Content by Pelotea in accordance
            with these Terms. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any Content that you submit.</p>
        <p align="justify">&nbsp;</p>
        <h2 class="western">YOUR LICENSE TO USE THE SERVICE</h2>
        <p align="justify">Pelotea gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by Pelotea as part of the Service. This license is for the sole purpose of enabling you to use and enjoy
            the benefit of the Service as provided by Pelotea, in the manner permitted by these Terms.</p>
        <p align="justify"><br /> <br /> </p>
        <h2 class="western">PELOTEA RIGHTS</h2>
        <p align="justify">All right, title, and interest in and to the Service (excluding Content provided by users) are and will remain the exclusive property of Pelotea and its licensors. The Service is protected by copyright, trademark, and other laws of both the United
            States and foreign countries. Nothing in the Terms gives you a right to use the Pelotea name or any of the Pelotea trademarks, logos, domain names, and other distinctive brand features. Any feedback, comments, or suggestions you may provide
            regarding Pelotea, or the Service is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.</p>
        <p align="justify"><br /> </p>
        <h2 class="western">RESTRICTIONS ON CONTENT AND USE OF THE SERVICE</h2>
        <p align="justify">We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Service, to suspend or terminate users, and to reclaim usernames without liability to you. We also reserve the right to access,
            read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including investigation of potential violations
            hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of Pelotea, its users and the public.</p>
        <p align="justify">You may not do any of the following while accessing or using the Service: (i) access, tamper with, or use non-public areas of the Service, Pelotea&rsquo;s computer systems, or the technical delivery systems of Pelotea&rsquo;s providers; (ii) probe,
            scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; (iii) access or search or attempt to access or search the Service by any means (automated or otherwise) other than through
            our currently available, published interfaces that are provided by Pelotea (and only pursuant to the applicable terms and conditions), unless you have been specifically allowed to do so in a separate agreement with Pelotea; (iv) crawl, scrape,
            cache or otherwise access any content on the Service via automated means, including but not limited to, user profiles and photos (except as may be the result of standard search engine protocols or technologies used by a search engine with
            Pelotea&rsquo;s express consent); (v) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Service to send altered, deceptive or false source-identifying information; or (vi) interfere
            with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Service, or by scripting the creation of Content in such a
            manner as to interfere with or create an undue burden on the Services.</p>
        <p align="justify">&nbsp;</p>
        <h2 class="western">OFFLINE EVENTS</h2>
        <p align="justify">
            <a name="_gjdgxs"></a> When you visit the Service, we may use cookies and similar technologies like pixels, web beacons, and local storage to collect information about how you use Pelotea and provide features to you. You can control cookies through your browser
            settings and other tools. By continuing to use our Service through your computer or mobile device, you consent to our use of cookies, pixels and local storage in accordance with this Privacy Policy.</p>
        <h3 class="western">Pelotea Events</h3>
        <p align="justify">Through our Service we provide tools that enable our users, to arrange physical events such as, but are not limited to, games, matches, reservations, pick-up games or practices (an&nbsp;<strong>'Event'</strong>) at venues that include, but are
            not limited to, parks, public and private soccer fields, or gyms. The details of each Event are set by the organizer, co-organizer, or assistant organizer of the Event (an&nbsp;<strong>'Organizer'</strong>). We do not supervise these Events
            and are not involved in any way with the actions of any individuals at these Events. As a result, we have no control over the identity or actions of the individuals who are present at these Events, and we request that our users exercise caution
            and good judgment when attending these Events.</p>
        <h3 class="western">Other Users</h3>
        <p align="justify">We do not control the information provided by other users, which is made available through our Service. The Service functions as a venue to connect members in a virtual information place. As a neutral facilitator, Pelotea is not directly involved
            in the actual transactions between Users of the Service. You may find other users' information to be offensive, harmful, inaccurate or deceptive. Pelotea shall also have no responsibility to confirm or verify the qualifications, background,
            or abilities of Users of the Service. Please use caution and common sense when using our Service. Please note there is a risk that you may be dealing with underage persons or people acting under false pretense.</p>
        <h3 class="western">Release</h3>
        <p align="justify">Because we do not supervise or control the Events or interactions among or between users and other persons or companies, and because we are not involved in any way with physical transportation to or from Pelotea Events or with the actions of any
            individuals at Events, and because we do not control payment processing companies, and because we cannot guarantee the true identity, age, nationality of Service users, and because we have very limited control, if any, over the quality, safety,
            morality, legality, truthfulness or accuracy of various aspects of the Service you agree that you bear all risk and you agree to release us (and our officers, directors, shareholders, agents, employees, affiliates, subsidiaries, and third
            party partners) and Organizers and their designees from claims, demands, and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, now and in the future, arising
            out of or in any way connected with your use of the Service, your Third Party Transactions, our resolution of any disputes among users, and/or your transportation to or from, attendance at, or the actions of you or other persons at, an Event.
            You further waive any and all rights and benefits otherwise conferred by any statutory or non-statutory law of any jurisdiction that would purport to limit the scope of a release or waiver. You waive and relinquish all rights and benefits
            which you have or may have under Section 1542 of the Civil Code of the State of California or any similar provision of the statutory or non-statutory law of any other jurisdiction (including without limitation the states of Missouri, Delaware
            and Pennsylvania) to the full extent that you may lawfully waive all such rights and benefits.</p>
        <h2 class="western">FEES &amp; REFUNDS</h2>
        <h3 class="western">General</h3>
        <p align="justify">Access to our Service and use of selected features of our Service is free for players and teams. We do charge fees to league and field managers. In the near future we may charge fees for various premium features and services that we will offer,
            and we will notify you of those charges at the time that we offer you the premium features or services for a fee.</p>
        <h3 class="western">Fees for League managers</h3>
        <p align="justify">Pelotea offers tools to manage leagues (i.e registrations, fixtures, schedules, standings, etc.) for a usage fee that depends on the number of teams that will play in the league or tournament. There is an initial minimum charge to post the tournament
            or league in the platform. After all teams are registered and the league manager is ready to make the fixtures, the league manager will then have to pay a fee per team that varies depending on the location.</p>
        <h3 class="western">Fees for Field managers</h3>
        <p align="justify">Field managers can opt for a monthly or yearly subscription to manage field reservations. The value will depend on the number of fields a complex has.</p>
        <h3 class="western">Refunds</h3>
        <p align="justify">Pelotea accepts refunds within 30 days after the payment is done. Any time after that, there will be no refunds. Note that the refund will be the amount paid minus any transactional fees that were incurred when processing the transaction. For
            refunds send an email to <a href="mailto:billing@pelotea.com"><span style="color: #0000ff;"><u>billing@pelotea.com</u></span></a>.</p>
        <p align="justify">&nbsp;</p>
        <h2 class="western">COPYRIGHT POLICY</h2>
        <p align="justify">Pelotea respects the intellectual property rights of others and expects users of the Service to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe
            that your Content has been copied in a way that constitutes copyright infringement, please provide us with the following information: (i) a physical or electronic signature of the copyright owner or a person authorized to act on their behalf;
            (ii) identification of the copyrighted work claimed to have been infringed; (iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to
            be disabled, and information reasonably sufficient to permit us to locate the material; (iv) your contact information, including your address, telephone number, and an email address; (v) a statement by you that you have a good faith belief
            that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized
            to act on behalf of the copyright owner.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">We reserve the right to remove Content alleged to be infringing without prior notice, at our sole discretion, and without liability to you. In appropriate circumstances, Pelotea will also terminate a user&rsquo;s account if the user is determined
            to be a repeat infringer. Our designated copyright agent for notice of alleged copyright infringement appearing on the Service is:</p>
        <p align="justify">&nbsp;</p>
        <p>Pelotea Inc.<br /> Attn: Copyright Agent<br /> Email:&nbsp;<a href="mailto:legal@pelotea.com"><span style="color: #0000ff;"><u>legal@pelotea.com</u></span></a></p>
        <p align="justify"><br /> </p>
        <h2 class="western">ENDING THESE TERMS</h2>
        <p align="justify">The Terms will continue to apply until terminated by either you or Pelotea as follows.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">You may end your legal agreement with Pelotea at any time for any or no reason by deactivating your accounts and discontinuing your use of the Service. You do not need to specifically inform Pelotea when you stop using the Service. If you stop
            using the Service without deactivating your accounts, your accounts may be deactivated due to prolonged inactivity (6 months). Inactivity is based on a combination of adding plans, tracking activities, logging in, and the date an account was
            created.
        </p>
        <p align="justify">&nbsp;</p>
        <p align="justify">We may suspend or terminate your accounts or cease providing you with all or part of the Service at any time for any or no reason, including, but not limited to, if we reasonably believe: (i) you have violated these Terms, (ii) you create risk
            or possible legal exposure for us; or (iii) our provision of the Service to you is no longer commercially viable. We will make reasonable efforts to notify you by the email address or phone number associated with your account or the next time
            you attempt to access your account.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">In all such cases, the Terms shall terminate, including, without limitation, your license to use the Service, except that the following sections shall continue to apply: 4, 5, 7, 8, 12, 13, and 14.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">Nothing in this section shall affect Pelotea&rsquo;s rights to change, limit or stop the provision of the Service without prior notice, as provided above in section 1.</p>
        <h2 class="western">DISCLAIMERS AND LIMITATIONS OF LIABILITY</h2>
        <p align="justify">Please read this section carefully since it limits the liability of Pelotea and its parents, subsidiaries, affiliates, related companies, officers, directors, employees, agents, representatives, partners, and licensors (collectively, the&nbsp;<strong>&ldquo;Pelotea Entities&rdquo;</strong>).
            Each of the subsections below only applies up to the maximum extent permitted under applicable law. Some jurisdictions do not allow the disclaimer of implied warranties or the limitation of liability in contracts, and as a result the contents
            of this section may not apply to you. Nothing in this section is intended to limit any rights you may have which may not be lawfully limited.</p>
        <p align="justify">&nbsp;</p>
        <h3 class="western">The Service is Available &ldquo;AS-IS&rdquo;</h3>
        <p align="justify">Your access to and use of the Service or any Content are at your own risk. You understand and agree that the Service are provided to you on an&nbsp;<strong>&ldquo;AS IS&rdquo;</strong>&nbsp;and&nbsp;<strong>&ldquo;AS AVAILABLE&rdquo;</strong>&nbsp;basis.
            Without limiting the foregoing, to the maximum extent permitted under applicable law, THE PELOTEA ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.</p>
        <p align="justify">The Pelotea Entities make no warranty or representation and disclaim all responsibility and liability for: (i) the completeness, accuracy, availability, timeliness, security or reliability of the Service or any Content; (ii) any harm to your computer
            system, loss of data, or other harm that results from your access to or use of the Service or any Content; (iii) the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Service; and (iv)
            whether the Service will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from the Pelotea Entities or through the Service, will create any
            warranty or representation not expressly made herein.</p>
        <h3 class="western">Links</h3>
        <p align="justify">The Service may contain links to third-party websites or resources. You acknowledge and agree that the Pelotea Entities are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products,
            or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by the Pelotea Entities of such websites or resources or the content, products, or services available from such websites
            or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.</p>
        <h3 class="western">Limitation of Liability</h3>
        <p align="justify">TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE PELOTEA ENTITIES SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY,
            OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICE; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICE, INCLUDING WITHOUT LIMITATION,
            ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICE; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.</p>
        <p align="justify">IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE PELOTEA ENTITIES EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID PELOTEA, IF ANY, IN THE PAST SIX MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM.</p>
        <p align="justify">THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE PELOTEA ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF
            ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>
        <p align="justify">&nbsp;</p>
        <h2 class="western">GENERAL TERMS</h2>
        <h3 class="western">Waiver and Severability</h3>
        <p align="justify">The failure of Pelotea to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be
            limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.</p>
        <h3 class="western">Controlling Law and Jurisdiction</h3>
        <p align="justify">These Terms and any action related thereto will be governed by the laws of the State of California without regard to or application of its conflict of law provisions or your state or country of residence. All claims, legal proceedings or litigation
            arising in connection with the Service will be brought solely in the federal or state courts located in San Francisco County, California, United States, and you consent to the jurisdiction of and venue in such courts and waive any objection
            as to inconvenient forum.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">If you are a federal, state, or local government entity in the United States using the Service in your official capacity and legally unable to accept the controlling law, jurisdiction or venue clauses above, then those clauses do not apply to
            you. For such U.S. federal government entities, these Terms and any action related thereto will be governed by the laws of the United States of America (without reference to conflict of laws) and, in the absence of federal law and to the extent
            permitted under federal law, the laws of the State of California (excluding choice of law).</p>
        <p align="justify">&nbsp;</p>
        <h3 class="western">Entire Agreement</h3>
        <p align="justify">These Terms and our&nbsp;<span style="color: #00abea;">Privacy Policy</span>&nbsp;are the entire and exclusive agreement between Pelotea and you regarding the Service (excluding any services for which you have a separate agreement with Pelotea
            that is explicitly in addition or in place of these Terms), and these Terms supersede and replace any prior agreements between Pelotea and you regarding the Service. If any provision of these Terms is found by a court of competent jurisdiction
            to be invalid or otherwise unenforceable, the parties nevertheless agree that such portion will be deemed severable from these Terms and will not affect the validity and enforceability of the remaining provisions, and the remaining provisions
            of the Terms remain in full force and effect. Neither the course of conduct between the parties nor trade practice will act to modify the Terms. These Terms do not confer any third-party beneficiary rights.</p>
        <p align="justify">We may revise these Terms from time to time, the most current version will always be at&nbsp;<span style="color: #00abea;">Pelotea.com/terms</span>&nbsp;If the revision, in our sole discretion, is material we will notify you via an in app notification
            on Pelotea, an SMS to the mobile phone number associated with your account or e-mail to the email associated with your account. By continuing to access or use the Service after those revisions become effective, you agree to be bound by the
            revised Terms.</p>
        <p align="justify">If you live in the United States, these Terms are an agreement between you and Pelotea, Inc. If you have any questions about these Terms, please contact us via email at&nbsp;<a href="mailto:info@pelotea.com"><span style="color: #0000ff;"><u>info@pelotea.com</u></span></a>.</p>
    </div>
</div>