.full-container {
    padding-top: 145px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/terms.jpg) no-repeat;
    background-color: #ffffff;
    background-size: contain;
    margin-bottom: 90px;
    margin-top: 130px;
}

.section {
    max-width: 970px;
    margin: auto;
}

p {
    text-align: justify;
    font-size: 16px
}