<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>

<div class="full-container">
    <div class="section">

        <div *ngIf="!is_demo" class="ui-g stage_row">
            <div class="ui-g-3   ">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/1opt.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Ingrese los detalles primarios' | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3 stage_img">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/2.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Ingrese los detalles completos' | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3  stage_img ">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/3.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text1">
                    <p>{{"Seleccionar paquete" | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3 stage_img  ">
                <div class="ui-g-12  ">
                    <img src="assets/images/stages/4.png" />
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Seleccionar la opción de pago' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="ui-g stage_img">
            <div class="ui-g-12">
                <h2 class="heading">{{'CREAR CANCHA' | translate}}</h2>
                <hr>
            </div>
        </div>

        <form [formGroup]="groundCreateForm">
            <div class="ui-g ui-fluid main_div">
                <div class="ui-g-3 ui-sm-12" style="position: relative;">
                    <p> {{'Nombre del cancha' | translate}}<span class="star">*</span></p>
                    <input type="text" pInputText placeholder="{{'Nombre del cancha' | translate}}" formControlName="groundName" />
                    <div style="padding-left: 0px" class="ui-g error" *ngIf="groundCreateForm.controls['groundName'].value.length==0 && groundCreateForm.controls['groundName'].dirty">
                        <p class="errorText">{{'Nombre obligatorio' | translate}} </p>
                    </div>
                    <div style="padding-left: 0px" class="ui-g error" *ngIf="groundCreateForm.controls['groundName'].value.length>56">
                        <p class="errorText">{{'longit máx excedida' | translate}} </p>
                    </div>
                </div>
                <!-- <div class="ui-g-4 ui-sm-12">
                    <label>{{'Celular' | translate}}
            <span class="star">*</span>
          </label>
                    <br>
                    <br>
                    <input type="text" pInputText [ngModelOptions]="{standalone: true}" [(ngModel)]="country_code" readonly="readonly" maxlength="4" class="country_code" />
                    <input type="text" pInputText placeholder="{{'Celular' | translate}}" formControlName="mobileNo" maxlength="9" class="mob_no" />
                    <div *ngIf="!groundCreateForm.controls['mobileNo'].valid  && groundCreateForm.controls['mobileNo'].dirty">
                        <p style="color: red;white-space: nowrap;">{{'Debe ser de 9 dígitos numéricos' | translate}}</p>
                    </div>
                </div> -->

                <!-- <div class="ui-g-4 ui-sm-12" style="padding:0px;position: relative;">
                    <label>{{'Celular' | translate}}<span class="star">*</span></label><br><br>
                    <div style="display:flex;align-items:center" class="ui-g-12">
                        <p-dropdown (onChange)="validMobile($event)" [options]="code" [formControl]="groundCreateForm.controls['country_code']">
                            <ng-template let-car pTemplate="label">
                                <div style="display:flex;align-items:center">
                                    <div style="    width: 30px;">
                                        {{car.label}}
                                    </div>
                                    <div style="    text-align: right;" *ngIf="car.label=='+593'" class="ui-g-6">
                                        <img src="assets/images/Ecuador.png" style="width: 15px;height: 10px;  " />
                                    </div>
                                    <div *ngIf="car.label=='+502'" style="    text-align: right;" class="ui-g-6">
                                        <img src="assets/images/Guatemala-flag (1).jpg" style="width: 15px;height: 10px;  " />
                                    </div>
                                    <div *ngIf="car.label=='+1'" style="    text-align: right;" class="ui-g-6">
                                        <img src="assets/images/usa_flag.jpg" style="width: 15px;height: 10px;  " />
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <p-inputMask placeholder="{{'Celular' | translate}}" [mask]="mask" [formControl]="groundCreateForm.controls['mobileNo']" (keyup)="mobileVerify($event)" [autoClear]="false"></p-inputMask>

                    </div>
                    <div class="ui-g error" *ngIf="isMobValid">
                        <p class="errorText">{{'Celular debe ser de' | translate}} {{length}} {{"dígitos" | translate}}</p>
                    </div>
                </div> -->

                <div class="ui-g-3 ui-sm-12 ">
                    <p>{{'Country code' | translate}}<span class="star">*</span></p>
                    <p-dropdown filter="true" [style]="{'width':'100%'}" [options]="codes" [formControl]="groundCreateForm.controls['country_code']"></p-dropdown>
                </div>

                <div class="ui-g-3 ui-sm-12 ">
                    <p>{{'Celular' | translate}}<span class="star">*</span></p>
                    <p-inputMask placeholder="{{'Celular' | translate}}" [formControl]="groundCreateForm.controls['mobileNo']" [mask]="mask" slotChar="" maxlength='15' [autoClear]="false"></p-inputMask>
                </div>

                <div class="ui-g-3 ui-sm-12">
                    <p>{{'Otros teléfonos' | translate}}
                        <span class="star">*</span>
                    </p>
                    <p-inputMask placeholder="{{'Otros teléfonos' | translate}}" [mask]="mask" slotChar="" formControlName="telephone" [autoClear]="false"></p-inputMask>
                </div>

                <!-- <div class="ui-g-4 ui-sm-12">
                    <label>{{"País" | translate}}
            <span class="star">*</span>
          </label>
                    <br>
                    <br>
                    <p-dropdown [options]="country_list" [style]="{'width':'100%'}" placeholder="{{'País' | translate}}" (onChange)="countryValid(groundCreateForm.controls['country'].value)" formControlName="country"></p-dropdown>
                </div> -->
                <!-- <div class="ui-g-4 ui-sm-12">
                    <label>{{"Ciudad" | translate}}
            <span class="star">*</span>
          </label>
                    <br>
                    <br>
                    <p-autoComplete [suggestions]="filteredCity" field="location" (completeMethod)="filterCity($event)" [size]="30" placeholder="{{'Ciudad' | translate}}" [minLength]="1" formControlName="city" [disabled]="country_valid">
                    </p-autoComplete>
                    <div>
                        <p *ngIf="cityValidation" style="color: red">{{'Ciudad que no se encuentra' | translate}}</p>
                        <p *ngIf="citySelectValidation" style="color:red;white-space:nowrap">{{"Escoger una de las opciones que se despliegan" | translate}}</p>
                    </div>
                </div> -->
                <div class="ui-g-3 ui-sm-12">
                    <p> {{'Ciudad' | translate}}
                        <span class="star">*</span>
                        <!-- <span style="color:darkcyan;font-size: 0.7em;">{{'Escoger una de las opciones que se despliegan' | translate}}</span> -->
                    </p>
                    <p-autoComplete formControlName='selectCity' placeholder="{{'Ciudad'| translate}}" (onSelect)="setLoaction($event)" field="description" [suggestions]="autocompleteItems" (completeMethod)="search($event)">
                    </p-autoComplete>
                </div>
                <div class="ui-g-3 ui-sm-12 multiselect">
                    <p>{{"Métodos de pago" | translate }}<span class="star">*</span></p>
                    <p-multiSelect [options]="paymentMethodLabels" formControlName="paymentMethod" (onChange)="validation(groundCreateForm.controls['paymentMethod'].value)"></p-multiSelect>
                    <div *ngIf="payment_show_msg">
                        <p style="color: red">{{"Métodos de pago se requieren" | translate}}</p>
                    </div>
                </div>
                <br>
                <br>
                <div class="ui-g-3 ui-sm-12">
                    <p>{{'VAT' | translate}}(%)</p>
                    <input type="number" min='0' formControlName="vat" pInputText />
                </div>

                <div class="ui-g-3 ui-sm-12">
                    <div class="ui-g-12 ui-sm-12" style="overflow:hidden;display: flex;align-items: center;    padding-bottom: 14px; ">
                        <p>{{file_name}}</p>
                    </div>
                    <button style="position:relative" pButton class="greenbtn" type="button" label="{{'Política de la corte' | translate}}">
                          <input accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf" class="upload"
                             type="file" (change)="fileChangeListener($event)" />
                    </button>
                </div>

                <div class="ui-g-4 ui-sm-12">
                    <p>{{"Dirección" | translate}}<span class="star">*</span></p>
                    <textarea pInputTextarea class="rulestextarea" placeholder="{{'Dirección' | translate}}" formControlName="direction"></textarea>
                    <div *ngIf="!groundCreateForm.controls['direction'].valid && groundCreateForm.controls['direction'].dirty ">
                        <p style="color: red">{{'Dirección se requieren' | translate}}</p>
                    </div>
                </div>

                <div class="ui-g-4 ui-sm-12">
                    <p>{{"Bio" | translate}}<span class="star">*</span></p>
                    <textarea pInputTextarea class="rulestextarea" placeholder="{{'Bio' | translate}}" formControlName="bio"></textarea>
                </div>


            </div>
            <br>
            <br>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p class="para">{{'Información Cancha' | translate}}</p>
                    <hr class="lines">
                </div>
            </div>
            <div formArrayName="items">
                <div *ngFor="let i of item.controls;let ind=index">
                    <div [formGroupName]="ind" class="ui-g ui-fluid">
                        <div class="ui-g-12 display">
                            <div style="position: relative;" class="ui-g-2 ui-sm-6">
                                <label>{{"Nombre del campo" | translate }}</label>
                                <span class="star">*</span>
                                <br>
                                <br>
                                <input formControlName="court_name" pInputText/>

                                <div style="padding-left: 0px" class="ui-g error" *ngIf="i.controls['court_name'].value.length==0 && i.controls['court_name'].dirty ">
                                    <p style="padding-left: 0px" class="errorText">{{'Nombre obligatorio' | translate}} </p>
                                </div>
                                <div style="padding-left: 0px" class="ui-g error" *ngIf="i.controls['court_name'].value.length>56">
                                    <p style="padding-left: 0px" class="errorText">{{'longit máx excedida' | translate}} </p>
                                </div>
                            </div>
                            <div class="ui-g-2 ui-sm-6">
                                <label>{{'Modalidad de juego' | translate}}
                  <span class="star">*</span>
                </label>
                                <br>
                                <br>
                                <p-dropdown [options]="ground_levels" [style]="{'width':'100%'}" placeholder="{{'Modalidad de juego' | translate}}" formControlName="game_mode">
                                </p-dropdown>
                            </div>
                            <div class="ui-g-2 ui-sm-6">
                                <label>{{'Tipo de cancha' | translate}}
                  <span class="star">*</span>
                </label>
                                <br>
                                <br>
                                <p-dropdown placeholder="{{'Tipo de cancha' | translate}}" [options]="groundType" [style]="{'width':'100%'}" formControlName="type_grass"></p-dropdown>
                            </div>
                            <div *ngIf="!is_demo" class="ui-g-2 ui-sm-6">
                                <label>{{"Cuotas mínimas" | translate }}</label>
                                <br>
                                <br>
                                <input type="number" min="0" formControlName="minimum_fee" pInputText/>
                            </div>
                            <div *ngIf="!is_demo" class="ui-g-2 ui-sm-6">
                                <label>{{"Descuento" | translate }}(%)</label>
                                <br>
                                <br>
                                <input type="number" min="0" formControlName="discount" pInputText/>
                            </div>
                            <div *ngIf="!is_demo" class="ui-g-2 ui-sm-6">
                                <label>{{'Costo por hora' | translate}}
                  <span class="star">*</span>
                </label>
                                <br>
                                <br>
                                <button type="button" class="greenbtn" label="{{'Ingresar' | translate}}" pButton (click)="resetField(ind);cost_per_game_popup=true"></button>
                                <div *ngIf="costOfGroundValidation[ind]">
                                    <p style="color: red">{{'Costo por hora se requieren' | translate}}</p>
                                </div>
                            </div>
                        </div>




                        <div *ngIf="!is_demo" style="padding: 16px;" class="ui-g-3 ui-sm-6">
                            <p-radioButton name="groupname" value="true" (onClick)="check_primary_box(ind)" label="{{'Establecer primaria' | translate}}" formControlName="is_primary"></p-radioButton>
                            <br>
                            <br>

                            <button *ngIf="item.controls.length>1" type="button" style="background:#fa3e3e" label="{{'REMOVE COURT' | translate}}" pButton (click)="removeItem(ind);"></button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="ui-g">
                <!-- *ngIf="count<3" -->
                <div class="ui-g-3 ui-sm-6">
                    <button type="button" class="greenbtn" label="{{'ADD ANOTHER COURT' | translate}}" pButton (click)="addItem();"></button>
                </div>
                <br>
                <br>
                <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-6 ui-sm-12"></div>
                    <div class="ui-g-3 ui-sm-6">
                        <button type="button" class="cancelButton" label="{{'CANCELAR' | translate}}" pButton (click)="cancelButton()"></button>
                    </div>
                    <div class="ui-g-3 ui-sm-6">
                        <button type="button" class="greenbtn" [disabled]='isMobValid' label="{{'CONTINUAR' | translate}}" pButton (click)="submitGroundForm(groundCreateForm.value)"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<p-dialog [(visible)]="cost_per_game_popup" modal="modal" [dismissableMask]="true" class="cost_per_game">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 headingOfPopup">
            <span>{{'Costo por hora' | translate}}</span>
        </div>
    </div>
    <div class="ui-g ui-fluid slot_div">
        <div class="ui-g-1 mob_view">
        </div>
        <div class="ui-g-2 ">
            <span>{{'Días' | translate}}</span>
        </div>
        <div class="ui-g-2 slot_div_text" *ngFor="let sinfo of slot">
            <span>{{sinfo.from_time}}-{{sinfo.to_time}}</span>
        </div>
        <div class="ui-g-1 mob_view">

        </div>
    </div>
    <div class="ui-g ui-fluid" *ngFor="let info of daysInfo;let i of index">
        <div class="ui-g-1 mob_view">
        </div>
        <div class="ui-g-2">
            <br>
            <label>{{info?.day}}</label>
        </div>
        <div class="ui-g-2" *ngFor="let dInfo of info.price">
            <input type="number" min="0" pInputText placeholder="{{'Costo' | translate}}" [(ngModel)]="dInfo.amount" />
        </div>

        <div class="ui-g-1 mob_view">
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1 mob_view">
        </div>
        <div class="ui-g-5">
            <button type="button" pButton (click)="cost_per_game_popup=false" label="{{'CANCELAR' | translate}}"></button>
        </div>
        <div class="ui-g-5">
            <button type="button" pButton class="ui-button-green" label="{{'Enviar' | translate}}" (click)="saveCostOfGround();cost_per_game_popup=false"></button>
        </div>
        <div class="ui-g-1 mob_view">
        </div>
    </div>
</p-dialog>
<div [class.backdrop]="cost_per_game_popup"></div>

<p-dialog [(visible)]="connect_cancha_popup" modal="modal" class="connect_cancha">
    <div class="ui-g">
        <div class="ui-g-12 headingOfPopup">
            <span>{{'Conectar cancha' | translate}}</span>
        </div>
    </div>
    <div style="height: 350px;overflow: scroll;position: relative;">
        <span class="default_text" *ngIf="connectGroundList.length != 0">{{'Default' | translate}}</span>
        <div class="ui-g ui-fluid" *ngFor="let info of connectGroundList;let i= index">
            <div class="ui-g-2">
                <img class="card-image" src="assets/images/default_team.png" *ngIf="!info?.profile_pic" />
                <img class="card-image" src='{{imageBasePath}}{{info?.profile_pic}}' *ngIf="info?.profile_pic" />
            </div>
            <div class="ui-g-6">
                <br>
                <br>
                <span>{{info?.ground_name}}</span>
            </div>
            <div class="ui-g-2">
                <br>
                <br>
                <p-radioButton name="groupname" value="{{info.id}}" [(ngModel)]="defaultGround" [disabled]="!info?.is_default"></p-radioButton>
            </div>
            <div class="ui-g-2">
                <br>
                <br>
                <p-checkbox name="ground" value='{{info.id}}' [(ngModel)]="connectGround" (click)="checkStatus(info)"></p-checkbox>
            </div>
        </div>
        <div class="ui-g-12 no_cancha_text" *ngIf="connectGroundList.length == 0">
            <span>{{'no cancha' | translate}}</span>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-6">
            <button type="button" pButton (click)="connect_cancha_popup=false" label="{{'CANCELAR' | translate}}"></button>
        </div>
        <div class="ui-g-6">
            <button type="button" pButton class="ui-button-green" label="{{'Conectar' | translate}}" (click)="Ground(); connect_cancha_popup=false"></button>
        </div>

    </div>

</p-dialog>

<div [class.backdrop]="connect_cancha_popup"></div>