<!-- <ion-header>
  <ion-navbar>
      <ion-title  >{{'Pay for someone else' | translate}}</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-navbar>
        <div class="header_div">
            <ion-title style="text-align: center;">{{'Pay for someone else' | translate}}</ion-title>

        </div>
    </ion-navbar>
</ion-header>

<ion-content style="background:#f4f4fe" no-padding>
    <div class="spinn">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
    </div>
    <ion-grid style="background:white" padding>
        <form [formGroup]="form">
            <ion-row>

                <ion-col col-12>
                    <ion-label class="head">{{'Payment details' | translate}}:</ion-label>
                </ion-col>

                <ion-col col-12>
                    <ion-item>
                        <ion-label stacked>{{'Registration ID' | translate}}</ion-label>
                        <ion-input formControlName="id" (keyup)="fetch_amount($event)" type="text" placeholder="{{'Enter registration ID' | translate}}"></ion-input>
                    </ion-item>
                </ion-col>

                <ion-col col-12>
                    <ion-item>
                        <ion-label stacked class="text">{{'Enter amount to be paid' | translate}}:</ion-label>
                        <ion-input readonly formControlName="amount" type="number" class="input" placeholder="{{'Enter amount' | translate}}"></ion-input>
                    </ion-item>
                </ion-col>

            </ion-row>


        </form>
    </ion-grid>
    <ion-footer class="foot">
        <button [disabled]="!form.valid" (click)="makePayment();" class="next" ion-button>{{'Make payment'  | translate}}</button>
    </ion-footer>
</ion-content>