page-payfield {
.create{
    background-color: gray;
    width: 100%;

}
.head{
    margin-bottom: 0px;
    color: dimgray;
    font-size: 12px;
}
.select-md .select-placeholder {
    color: #444444;
}



.input .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: 0.1px solid lightgray !important;
    -webkit-box-shadow: inset 0 -0.1px 0 0 lightgray !important ; 
    box-shadow: inset 0 -0.1px 0 0 lightgray !important;
}
.text{
    color:gray;
}
.ion-item{
    margin-left:-5px;
}
.item-md {
    padding-left: 4px;
}

.binput{
    height: 80px;
    background: #f6f9ff;
}

.button-inner {
    width:90%;
}

.toolbar-background-md {
    background:#f4f4fe!important;
}
.item-ios{
    padding-left: 16px;
}
}
