<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>

<div (click)="showDetails()" class="u-g-12 package_details">
    Package Details
</div>
<div [formGroup]="form" style="text-align:right;display:flex;align-items:center" class="ui-g-12">
    <div style="text-align:left;line-height: 20px;" class="ui-g-4 ui-sm-6">
        <label>{{'Fecha inscripciones' | translate}}</label>
        <p-calendar [showIcon]=true utc="true" [maxDate]="minDate" [yearNavigator]=true yearRange='2016:2050' dateFormat='yy-mm-dd' (onSelect)="regStartDate($event)" placeholder="{{'Fecha de inicio' | translate}}" formControlName="start_date" [locale]="es">
        </p-calendar>
        <label *ngIf="regDateValidation" style="color:red;white-space:nowrap;">{{'la fecha de inicio debe ser mayor que la fecha de finalización' | translate}}</label>
    </div>

    <div class="ui-g-4 ui-sm-6" style="text-align:left;line-height: 20px;">
        <label>{{'Fecha final' | translate}}</label>
        <p-calendar [maxDate]="minDate" utc="true" [showIcon]=true [yearNavigator]=true yearRange='2016:2050' dateFormat='yy-mm-dd' (onSelect)="regEndDate($event)" placeholder="{{'Fecha final' | translate}}" formControlName="end_date" [locale]="es" [readonlyInput]="true">
        </p-calendar>
    </div>

    <div class="ui-g-4 ui-sm-12" style="text-align:right">
        <br>
        <button class="ui-button-green" (click)="showTransaction(form.value)" style="width: 134px;" [disabled]='form.invalid' label="SHOW RESULT" pButton></button>
    </div>

</div>

<div *ngIf="result?.length>0" style="background: #F2F2F2; padding: 0px;" class="ui-g-12">

    <div style="text-align: center; font-size: 18px;" class="ui-g-12">
        {{'Lista de pagos' | translate}}
    </div>
    <div style="background: #113861;color: white;    padding: 0px;  " class="ui-g-12">
        <div class="ui-g-6">

            <div class="ui-g-3">
                {{"ID de transacción" | translate}}
            </div>

            <div class="ui-g-3">
                {{'Recibido de' | translate}}
            </div>

            <div class="ui-g-3">
                {{"Fecha de pago" | translate}}
            </div>

            <div class="ui-g-3">
                {{"Fecha y hora de reserva" | translate}}
            </div>
        </div>

        <div class="ui-g-6">
            <div class="ui-g-3">
                {{"Monto de pago" | translate}}
            </div>

            <div class="ui-g-3">
                {{"ID de reserva" | translate}}
            </div>

            <div class="ui-g-3">
                {{"Estado de la solicitud" | translate}}
            </div>
            <div class="ui-g-3">
                {{'Acción' | translate}}
            </div>
        </div>

    </div>

</div>


<div style="cursor: pointer;padding:0px" *ngFor="let results of result;let ind=index" class="ui-g-12">

    <div class="ui-g-6">
        <div style="word-break: break-all;" class="ui-g-3">
            {{results?.transaction_id}}
        </div>

        <div class="ui-g-3">
            {{results?.received_from}}
        </div>

        <div class="ui-g-3">
            {{results?.date_time}}
        </div>

        <div class="ui-g-3">
            {{results?.reservation_date}}
            <br> {{results?.reservation_from_time.slice(0,5)}} - {{results?.reservation_to_time.slice(0,5)}} hrs
        </div>
    </div>

    <div class="ui-g-6">
        <div class="ui-g-3">
            {{results?.amount}}
        </div>


        <div class="ui-g-3">
            {{results?.reservation_id}}
        </div>

        <div class="ui-g-3">
            {{results?.status}}
        </div>

        <div [class.active]="results?.status=='pending' && !results?.is_refunded" class="ui-g-3" style="padding: 1em;cursor:pointer;color:#999;">
            <p (click)="(results?.status=='pending' && !results?.is_refunded)?refund(results?.transaction_id):xyz()"> Refund</p>
        </div>
    </div>

</div>

<div *ngIf="data_not_found" class="ui-g-12 data_not_found">
    {{'datos no encontrados' | translate}}
</div>

<!-- show package details popup -->
<p-dialog [resizable]='false' modal="modal" class="package_details_dialog" [dismissableMask]="true" [(visible)]="show_package">
    <div class="ui-g-12 package_name">
        <div style="padding-left: 70px;" class="ui-g-10">{{package_details?.package_name}} Package</div>
        <div style="cursor:pointer" class="ui-g-2">
            <img style="height: 15px;width: 50px;" (click)="show_package=false" src="assets/images/close.svg" />
        </div>
    </div>

    <div style="text-align:center;color:#113861;font-size:18px" class="ui-g-12">
        <p class="text_info">
            <b class="doller">$</b>{{package_details?.amount_paid}}</p>
        <p style="    color: #999999;      font-family: Montserrat-Light;">per {{package_details?.subscription_type}}</p>
    </div>

    <div style="text-align: center;    color: #8ec63f;    font-family: Montserrat-regular;    font-size: 16px;" class="ui-g-12">
        <p>Renew Date - {{package_details?.renewal_date }}</p>
    </div>
    <div class="ui-g-12 small_text_info">
        <p>{{package_details?.courts_allowed}} {{"Cancha reservaciones ilimitadas" | translate}}</p>
        <p>{{package_details?.weekly_post}} {{"Publicaciones semanales en redes sociales" | translate}}</p>
        <p>{{package_details?.marketing}} {{"Correo de marketing por mes a toda la base de datos" | translate}}</p>
        <p>{{"Acceso a la base de datos Pelotea" | translate}}</p>
        <p>{{"Valid" | translate}} from {{package_details?.valid_from}} to {{package_details?.valid_to}}</p>
    </div>
</p-dialog>
<!--  -->

<div [class.backdrop]="show_package"></div>
<div [class.backdrop]="refund_popup"></div>


<!-- Popup on refund   -->
<p-dialog [(visible)]="refund_popup" [dismissableMask]="true" modal="modal" class="delete_ground" [resizable]=false [responsive]=true>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 header">
            <span>{{'MENSAJE' | translate}}</span>
        </div>
        <div class="ui-g-12">
            <p style="color:darkcyan;text-align: justify;">{{'¿Quieres reembolsar la transacción?' | translate}}</p>
        </div>
        <div class="ui-g-12  ui-fluid">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button" label="{{'NO' | translate}}" (click)="refund_popup=false"></button>
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button-green" label="{{'SI' | translate}}" (click)="refunded();refund_popup=false"></button>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
    </div>
</p-dialog>
<!-- Popup end refund   -->

<div [class.backdrop]="payment_success_msg"></div>

<!-- Payment success popup -->
<p-dialog [resizable]='false' class="payment_status_dialog" [(visible)]="payment_success_msg">
    <div style="     border-radius: 4px;    text-align: center;

  padding: 12px;  border-bottom:1px solid #d7d7d7;background:#113861;color:white" class="ui-g-12">
        <p>{{'MENSAJE' | translate}}</p>
    </div>
    <div style="text-align: center;
    margin-top: 25px;
    color: #8ec63f;" class="ui-g-12">
        <p>{{'Hemos enviado su solicitud de reembolso a su banco asociado. ¡Consulte a su banco para obtener más información!' | translate}}</p>
    </div>
    <div style="text-align:center" class="ui-g-12">
        <button style="    width: 80px;
        margin-top: 15px;" class="ui-button-green" pButton label="ok" (click)="payment_success_msg=false"></button>
    </div>
</p-dialog>
<!--  -->