.bg-image-map {
    background: url('../../../../assets/images/signup/mapmark.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}