<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g bg-image-map">

        <div style="text-align: center" class="ui-g-12" padding>

            <p class="signup-heading">
                {{"Allow Pelotea to access your location." | translate}}
            </p>

            <img style="width:110px;" src="assets/images/signup/location_enable.png" />

            <p style="color: #8b8e95;font-size: 16px;text-align: center;margin-top: 32px;">
                {{"Your location will allow us to personalize your experience when navigating Pelotea." | translate}}
            </p>

        </div>

        <div class="ui-g-12" style="margin-top: 32px;">
            <button (click)="allowLocation()" class="signup-bttn" pButton type="button" label="{{'Allow' | translate}}"> </button>
        </div>
    </div>
</div>