<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>


<div class="full-container">
    <div [class.scroll]="" class="section">
        <div class="ui-g stage_img">
            <div style="position:relative" class="ui-g-12">
                <h2 class="heading">{{'EDITAR CANCHA' | translate}}</h2>
                <img (click)="deleteTournament=true" class="del_image" src="assets/images/del.jpg" />
                <hr>
            </div>

        </div>

        <form [formGroup]="groundCreateForm">
            <div class="ui-g ui-fluid">
                <div class="ui-g-3 ui-sm-12">
                    <label> {{'Nombre del cancha' | translate}}
                        <span class="star">*</span>
                    </label>
                    <br>
                    <br>
                    <input type="text" pInputText placeholder="{{'Nombre del cancha' | translate}}" formControlName="groundName" />
                    <div *ngIf="!groundCreateForm.controls['groundName'].valid && groundCreateForm.controls['groundName'].dirty ">
                        <p style="color: red">{{"Nombre de tierra que se requieren" | translate}}</p>
                    </div>
                </div>

                <div class="ui-g-3 ui-sm-12 ">
                    <label>{{'Country code' | translate}}<span class="star">*</span></label>
                    <br>
                    <br>
                    <p-dropdown filter="true" [style]="{'width':'100%'}" [options]="codes" [formControl]="groundCreateForm.controls['country_code']"></p-dropdown>
                </div>

                <div class="ui-g-3 ui-sm-12 ">
                    <label>{{'Celular' | translate}}<span class="star">*</span></label>
                    <br>
                    <br>
                    <p-inputMask placeholder="{{'Celular' | translate}}" [formControl]="groundCreateForm.controls['mobileNo']" [mask]="mask" slotChar="" maxlength='15' [autoClear]="false"></p-inputMask>
                </div>


                <!-- <div class="ui-g-4 ui-sm-12" style="padding:0px;position: relative;">
                    <label>{{'Celular' | translate}}<span class="star">*</span></label><br><br>
                    <div style="display:flex;align-items:center" class="ui-g-12">
                        <p-dropdown (onChange)="validMobile($event)" [options]="code" [formControl]="groundCreateForm.controls['country_code']">
                            <ng-template let-car pTemplate="label">
                                <div style="display:flex;align-items:center">
                                    <div style="    width: 30px;">
                                        {{car.label}}
                                    </div>
                                    <div style="    text-align: right;" *ngIf="car.label=='+593'" class="ui-g-6">
                                        <img src="assets/images/Ecuador.png" style="width: 15px;height: 10px;  " />
                                    </div>
                                    <div *ngIf="car.label=='+502'" style="    text-align: right;" class="ui-g-6">
                                        <img src="assets/images/Guatemala-flag (1).jpg" style="width: 15px;height: 10px;  " />
                                    </div>
                                    <div *ngIf="car.label=='+1'" style="    text-align: right;" class="ui-g-6">
                                        <img src="assets/images/usa_flag.jpg" style="width: 15px;height: 10px;  " />
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <input type="number" [(ngModel)]="number" pInputText placeholder="{{'Celular' | translate}}" (keyup)="mobileVerify($event.target.value)" [formControl]="groundCreateForm.controls['mobileNo']" maxlength="{{length}}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            required />
                    </div>
                    <div class="ui-g error" *ngIf="isMobValid">
                        <p class="errorText">{{'Celular debe ser de' | translate}} {{length}} {{"dígitos" | translate}}</p>
                    </div>
                </div> -->









                <div class="ui-g-3 ui-sm-12">
                    <label>{{'Otros teléfonos' | translate}}
                        <span class="star">*</span>
                    </label>
                    <br>
                    <br>
                    <input type="number" pInputText placeholder="{{'Otros teléfonos' | translate}}" formControlName="telephone" maxlength="15" />
                    <div *ngIf="!groundCreateForm.controls['telephone'].valid && groundCreateForm.controls['telephone'].dirty ">
                        <p style="color: red;white-space: nowrap;">{{'En caso de ser 15 dígitos numéricos' | translate}}</p>
                    </div>
                </div>

                <!-- <div class="ui-g-4 ui-sm-12">
                    <label>{{"País" | translate}}
                        <span class="star">*</span>
                    </label>
                    <br>
                    <br>
                    <p-dropdown [options]="country_list" [style]="{'width':'100%'}" placeholder="{{'País' | translate}}" formControlName="country"></p-dropdown>
                </div> -->
                <!-- <div class="ui-g-4 ui-sm-12">
                    <label>{{"Ciudad" | translate}}
                        <span class="star">*</span>
                        <span style="color:darkcyan;font-size: 0.8em;">{{'Escoger una de las opciones que se despliegan' | translate}}</span>
                    </label>
                    <br>
                    <br>
                    <p-autoComplete [suggestions]="filteredCity" field="location" (completeMethod)="filterCity($event)" [size]="30" placeholder="{{'Ciudad' | translate}}" [minLength]="1" formControlName="city">
                    </p-autoComplete>
                    <div>
                        <p *ngIf="cityValidation" style="color: red">{{'Ciudad que no se encuentra' | translate}}</p>
                        <p *ngIf="citySelectValidation" style="color:red;white-space:nowrap">{{"Escoger una de las opciones que se despliegan" | translate}}</p>
                    </div>
                </div> -->

                <div class="ui-g-3 ui-sm-12">
                    <label> {{'Ciudad' | translate}}
                        <span class="star">*</span>
                        <br>
                        <br>
                        <!-- <span style="color:darkcyan;font-size: 0.7em;">{{'Escoger una de las opciones que se despliegan' | translate}}</span> -->
                    </label>
                    <p-autoComplete placeholder="{{'Ciudad'| translate}}" formControlName="city" (onSelect)="setLoaction($event)" field="description" [suggestions]="autocompleteItems" (completeMethod)="search($event)">
                    </p-autoComplete>
                </div>

                <div class="ui-g-3 ui-sm-12 multiselect">
                    <label>{{"Métodos de pago" | translate }}
                        <span class="star">*</span>
                    </label>
                    <br>
                    <br>
                    <p-multiSelect [options]="paymentMethodLebals" formControlName="paymentMethod" (onChange)="validation ()"></p-multiSelect>

                </div>
                <div class="ui-g-3 ui-sm-12">
                    <label>
                        {{'IVA' | translate}}(%)
                        <span class="star">*</span>
                    </label>
                    <br>
                    <br>
                    <input type="number" formControlName="vat" pInputText />
                </div>

                <div class="ui-g-4 ui-sm-12">
                    <label>{{"Dirección" | translate}}
                        <span class="star">*</span>
                    </label>
                    <br>
                    <br>
                    <textarea pInputTextarea class="rulestextarea" placeholder="{{'Dirección' | translate}}" formControlName="direction">
                                      </textarea>
                    <div *ngIf="!groundCreateForm.controls['direction'].valid && groundCreateForm.controls['direction'].dirty ">
                        <p style="color: red">{{'Dirección se requieren' | translate}}</p>
                    </div>
                </div>
                <div class="ui-g-4 ui-sm-12">
                    <label>{{"Bio" | translate}}
                        <span class="star">*</span>
                    </label>
                    <br>
                    <br>
                    <textarea pInputTextarea class="rulestextarea" placeholder="{{'Bio' | translate}}" formControlName="bio">
                                      </textarea>
                </div>

                <div class="ui-g-4 ui-sm-12">

                    <br>
                    <br>
                    <br>
                    <br>
                    <button style="position:relative" pButton class="greenbtn" type="button" label="{{'Política de la corte' | translate}}">
                        <input accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf" class="upload"
                            type="file" (change)="fileChangeListener($event)" />
                    </button>
                    <div class="ui-g-12 ui-sm-12" style="overflow:hidden;display: flex;align-items: center;">
                        <br>
                        <br>
                        <label>{{file_name}}</label>
                    </div>
                </div>
            </div>
            <div style="    margin-top: 32px;            " class="ui-g ui-fluid">

                <div class="ui-g-12" style="text-align: right">
                    <button style="width: 200px" type="button" pButton class="ui-button-green" label="{{'Guardar cerrar' | translate}}" (click)="GroundUpdate(groundCreateForm.value,'close');"></button>
                </div>

                <div class="ui-g-12" style="text-align: right">
                    <button type="button" style="width: 200px" class="ui-button-green" pButton (click)="GroundUpdate(groundCreateForm.value,'continue');" label="{{'Guardar Continuar' | translate}}"></button>
                </div>

                <div class="ui-g-12" style="text-align: right">
                    <button type="button" style="width: 200px" pButton (click)="close()" label="{{'CERRAR' | translate}}"></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div [class.backdrop]="deleteTournament"></div>
<!-- Popup on remove Court -->
<p-dialog [(visible)]="deleteTournament" [dismissableMask]="true" modal="modal" class="delete_ground" [resizable]=false [responsive]=true>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 header">
            <span>{{'MENSAJE' | translate}}</span>
        </div>
        <div class="ui-g-12">
            <p style="color:darkcyan;text-align: justify;">{{'¿Desea eliminar este motivo?' | translate}}</p>
        </div>
        <div class="ui-g-12  ui-fluid">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button" label="{{'NO' | translate}}" (click)="deleteTournament=false"></button>
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button-green" label="{{'SI' | translate}}" (click)="deleteMainGround();deleteTournament=false"></button>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
    </div>
</p-dialog>
<!-- Popup end remove court -->