.full-container {
    padding-top: 250px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../../../assets/images/ground-profile-cover/default.jpg) no-repeat;
    background-size: 100% 25%;
    margin-bottom: 90PX;
}

.heading {
    font-family: 'ChaletComprime CologneEighty';
    font-weight: 500;
    font-size: 3.5em;
    color: #00253f;
}

.section {
    max-width: 970px;
    margin: auto;
}

label {
    font-size: 1em !important;
    padding-left: 5px !important;
}

.para {
    font-family: 'ChaletComprime CologneEighty';
    font-weight: 500;
    font-size: 2.5em;
}

.rulestextarea {
    width: 100%;
    height: 100px;
}

.country_code {
    width: 20%;
    float: left;
}

.mob_no {
    width: 78%;
    margin-left: 2%;
}

.submitButton {
    float: right;
    background: #8DCF25;
    border: 1px solid #8DCF25;
    padding: 10px 50px;
}

.cancelButton {
    width: 100% !important;
    border: none !important;
}

.greenbtn {
    background-color: #8DCF25 !important;
    width: 100% !important;
    border: none !important;
}

.greenbtn1 {
    background-color: #8DCF25 !important;
    width: 100% !important;
    border: none !important;
    font-size: 10px;
    padding: 10px 0px;
}

.star {
    color: red;
}

.headingOfPopup {
    background-color: #00253F;
    text-align: center;
}

.headingOfPopup span {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'ChaletComprime CologneEighty';
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}

.card-image {
    width: 50px;
    margin-top: 15px;
    border-radius: 50px;
    height: 50px;
    padding-left: 0px;
}

.no_cancha_text {
    text-align: center;
    margin-top: 150px;
    font-size: 2em;
    color: darkcyan;
}

.slot_div {
    margin-top: 10px;
    background-color: #F0F2F4;
    border: 1px solid lightgray;
}

.slot_div_text {
    text-align: center
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    width: 150px;
    padding: 7px 6px 7px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: #8DCF25;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.default_text {
    margin-left: 230px;
    position: relative;
    top: 25px;
    color: darkcyan;
}

@media only screen and (max-width: 640px) {
    .stage_row {
        margin-left: 40px !important;
    }
    .text2 {
        margin-left: 0px !important;
    }
    .text1 {
        margin-left: 0px !important;
    }
    .heading {
        padding-top: 0%;
    }
    .full-container {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../../../assets/images/ground-profile-cover/default.jpg) no-repeat;
    }
    .mob_view {
        display: none;
    }
}

@media only screen and (max-width: 938px) and (min-width:768px) {
    .greenbtn1 {
        padding: 5px 0px;
    }
}

.stage {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}

.stage_img {
    padding-right: 0px;
    padding-left: 0px;
}

.stage_line {
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
    margin: 0px -15px 0px -9px;
}

.stage_row {
    margin-left: 90px;
}

.text2 {
    margin-left: -50px;
}

.text1 {
    margin-left: -30px;
}

.del_image {
    width: 3%;
    border-radius: 50%;
    float: right;
    margin-left: 25px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 0px;
}

.header {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.header span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.upload {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    opacity: 0;
}

.error {
    position: absolute;
    padding-left: 10px;
    top: 17%
}

.errorText {
    color: red;
}