<loader *ngIf='API_hitting'></loader>
<div class="login_outer_style">
    <div class="ui-g heading">
        <div class="ui-g-12">
            <h2>{{'Iniciar sesión' | translate}}</h2>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 fb">
            <button pButton type="button" label="{{'Inicia sesión con Facebook' | translate}}" (click)="facebookLogin($event)" icon="fa fa-facebook" style="width:100%" class="ui-button-blue"></button>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 fb">
            <button (click)="googleLogin()" pButton style="background: #D64D3D !important;width:100%" type="button" label="{{'Inicia sesión con Google' | translate}}" icon="fa fa-google"></button>
        </div>
    </div>
    <p-growl [value]="msgs"></p-growl>
    <p class="or">{{'o con tu email' | translate}}</p>
    <form [formGroup]="loginForm" id="auth">
        <div class="ui-grid ui-grid-responsive ui-grid-pad  ui-fluid">
            <div class="ui-g ">
                <div class="ui-g-12">
                    <input type="text" pInputText [formControl]="loginForm.controls['name']" [(ngModel)]="loginDataIns.name" placeholder="Email" autofocus />
                    <div *ngIf='!loginForm.controls["name"].valid && loginForm.controls["name"].dirty'>
                        <p style="color:red;position: absolute;padding-top: 2px;padding-left: 1%;"> {{'Ingresar email con el formato correcto' | translate}}</p>
                    </div>
                </div><br/><br/><br/><br/>
            </div>
            <div class="ui-g ">
                <div class="ui-g-12">
                    <input type="password" id='pass1' pInputText [formControl]="loginForm.controls['pass']" [(ngModel)]="loginDataIns.password" placeholder="{{'Contraseña(Mínimo 6 carácteres)' | translate}}" />
                    <div *ngIf='!loginForm.controls["pass"].valid && loginForm.controls["pass"].dirty'>
                        <p style="color:red;position: absolute;padding-top: 2px;padding-left: 1%;">{{'Ingresar la contraseña' | translate}}</p>
                    </div>
                </div>
            </div>
            <p class="orr" style="visibility: hidden;">.</p>
            <div class="ui-g auto_padding">
                <div class="ui-g-12 auth">
                    <button id='logInButton' pButton [disabled]="!loginForm.valid" type="button" label="{{'Inicia sesión' | translate}}" class="ui-button-green" (click)="loginFun(loginDataIns)"></button>
                </div>
            </div>
        </div>
    </form>
    <div class="ui-g footer">
        <div class="ui-g-6 forget-password">
            <a routerLink="forgot-password">
                <p>{{'¿Olvidaste tu clave?' | translate}}</p>
            </a>
        </div>
        <div class="ui-g-6 signup">
            <a style="text-decoration: none" routerLink="signup">
                <p>{{'¿No tienes una cuenta? Registrate' | translate}}</p>
            </a>
        </div>
    </div>
</div>