input {
    width: 96%;
}

.footer {
    padding: 10px 0px 15px 0px;
}

.terms_conditions {
    padding: 20px 0px 10px 0px;
}

.terms_conditions small {
    color: #8DCF25;
}

.or {
    padding: 10px 0px 10px 0px;
}

.forget-password a {
    color: #828282;
    text-decoration: none;
    font-size: 0.8em;
    float: left;
    padding-left: 6%;
    font-size: 1em;
    font-weight: normal;
}

.forget-password a:hover,
.signup a:focus .forget-password a:hover,
.signup a:hover {
    color: #8DCF25;
}

.signup a {
    color: #828282;
    text-decoration: none;
    font-size: 0.8em;
    float: right;
    padding-right: 9%;
    font-size: 1em;
    font-weight: normal;
}

.image_loader {
    display: none;
    position: fixed;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1045;
}

.image_loader img {
    position: absolute;
    top: 144px;
    left: 390px;
}

.fb>button {
    font-family: 'Montserrat-Regular';
    width: 100% !important;
}

.orr {
    display: none;
}

.auto_padding {
    padding-top: 28px;
}

@media screen and (min-width:320px) and (max-width:640px) {
    .forget-password>a>p {
        font-size: 0.8em;
    }
    .signup>a>p {
        font-size: 0.8em;
    }
    #logInButton {
        margin-top: 2px;
    }
}