<loader *ngIf="activateLoader"></loader>
<p-growl [value]="msgs"></p-growl>

<div class=" ui-g full-container">
    <div class="section">
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-12 ui-md-6">
                <p class="players">{{'JUGADORES' | translate}}</p>
            </div>
        </div>

        <!--=========  Section 2 ==========-->
        <div class="ui-g rowsBorder">
            <div class="ui-g-3 ui-sm-12 left-sidebar" style="border-right:1px solid lightgrey;padding: 5px 0px">
                <div class="ui-g-12 mobtn">
                    <div class="ui-g-10 ui-sm-10 text text-center">
                        <button pButton type="button" class="mob-btn" style="background-color:#00253f;padding: 8px 42px;" (click)="show=!show" (click)=fun()
                            label="{{'FILTROS' | translate}}"></button>
                    </div>
                </div>
                <!--//==================== Start Filter ======================= //-->
                <div *ngIf="!show" style="padding: 5px 0px;" class="ui-g-12 ui-sm-12 left-sidebar gap1">
                    <div style="padding: 5px 0px;" class="ui-g-12">
                        <div align="center" class="filtor">
                            <h3 style="color:#043760;">{{'FILTROS' | translate}}</h3>
                        </div>
                        <div id="merDiv">
                            <p id="MODALIDAD">{{"Buscar" | translate}}</p>
                        </div>

                        <div class="ui-g-12">
                            <div class="ui-g-8 drop-down">
                                <input type="text" [(ngModel)]="nameSelected" pInputText placeholder="{{'Buscar por nombre' | translate}}" (keyup)="nameFilter($event)"
                                />
                            </div>
                        </div>
                        <!-- <div id="merDiv" class="ui-g-12 ui-sm-12">
                            <p id="MODALIDAD">{{'Ciudad' | translate}}</p>
                        </div>
                        <div class="ui-g-12 ui-sm-12 cityHint">
                            <p id="a">{{'Seleccione en la lista desplegable.' | translate}}</p>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-8 ui-lg-8 drop-down">
                                <p-autoComplete [suggestions]="towns" field="location" (onSelect)="cityFilter($event)" (completeMethod)="searchCity($event)" placeholder="{{'Ciudad' | translate}}" [minLength]="0">
                                    <ng-template let-townSelected pTemplate="selectedItem">
                                        <span>{{townSelected.location}}</span>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                        </div> -->
                        <div id="merDiv">
                            <p id="MODALIDAD">{{'Arbitro' | translate}}</p>
                        </div>
                        <div id="merDiv">
                            <p-checkbox name="group1" [(ngModel)]="refree" binary="true" class="check1" (click)="getPlayers(1);players=[]"></p-checkbox>
                        </div>
                        <div id="merDiv">
                            <p id="MODALIDAD">{{'Profesionales' | translate}}</p>
                        </div>
                        <div id="merDiv">
                            <p-checkbox name="group1" [(ngModel)]="pro" binary="true" class="check1" (click)="getPlayers(1);players=[]"></p-checkbox>
                        </div>

                        <div *ngIf="selectedCityId">
                        </div>
                        <div id="merDiv">
                            <p id="MODALIDAD">{{'Posición' | translate}}</p>
                        </div>
                        <div class="ui-g checkBOX ">
                            <!--//==================== checkbox start here ======================= //-->
                            <div class="ui-g-12 spaceBottom" *ngFor="let position of positions">
                                <p-checkbox name="group1" [value]="position.id" [(ngModel)]="positionObj" label="{{position.position_name | translate}}"
                                    class="check1" (onChange)="getPlayers(1,position.id);players=[]"></p-checkbox>
                            </div>
                        </div>

                        <div id="merDiv">
                            <p id="MODALIDAD">{{'Genero' | translate}}</p>
                        </div>

                        <div id="merDiv">

                            <p-checkbox name="group1" value="Masculino" label="{{'Masculino' | translate}}" (click)="getPlayers(1);players=[]" class="check1"
                                [(ngModel)]="gender
                        "></p-checkbox>
                        </div>
                        <div id="merDiv">
                            <p-checkbox name="group1" value="Femenino" label="{{'Femenino' | translate}}" (click)="getPlayers(1);players=[]" class="check1"
                                [(ngModel)]="gender"></p-checkbox>
                        </div>


                        <div id="merDiv">
                            <p id="MODALIDAD">{{'Actitud' | translate}}</p>
                        </div>

                        <div id="merDiv">
                            <p-checkbox name="group1" value="1" (click)="getPlayers(1);players=[]" class="check1" [(ngModel)]="att"></p-checkbox>
                            <img src="assets/images/1star.png" style="height: 12px;padding-left: 10px;" />
                        </div>
                        <div id="merDiv">
                            <p-checkbox name="group1" value="2" (click)="getPlayers(1);players=[]" class="check1" [(ngModel)]="att"></p-checkbox>
                            <img src="assets/images/2star.png" style="height: 12px;padding-left: 10px;" />
                        </div>
                        <div id="merDiv">
                            <p-checkbox name="group1" value="3" (click)="getPlayers(1);players=[]" class="check1" [(ngModel)]="att"></p-checkbox>
                            <img src="assets/images/3star.png" style="height: 12px;padding-left: 10px;" />
                        </div>
                        <div id="merDiv">
                            <p-checkbox name="group1" value="4" (click)="getPlayers(1);players=[]" class="check1" [(ngModel)]="att"></p-checkbox>
                            <img src="assets/images/4star.png" style="height: 12px;padding-left: 10px;" />
                        </div>
                        <div id="merDiv">
                            <p-checkbox name="group1" value="5" (click)="getPlayers(1);players=[]" class="check1" [(ngModel)]="att"></p-checkbox>
                            <img src="assets/images/5star.png" style="height: 12px;padding-left: 10px;" />
                        </div>


                        <div id="merDiv">
                            <p id="MODALIDAD">{{'Tecnica' | translate}}</p>
                        </div>

                        <div id="merDiv">
                            <p-checkbox value=1 class="check1" [(ngModel)]="tech" (click)="getPlayers(1);players=[]"></p-checkbox>
                            <img src="assets/images/1star.png" style="height: 12px;padding-left: 10px;" />
                        </div>
                        <div id="merDiv">
                            <p-checkbox value="2" class="check1" [(ngModel)]="tech" (click)="getPlayers(1);players=[]"></p-checkbox>
                            <img src="assets/images/2star.png" style="height: 12px;padding-left: 10px;" />
                        </div>
                        <div id="merDiv">
                            <p-checkbox value="3" class="check1" [(ngModel)]="tech" (click)="getPlayers(1);players=[]"></p-checkbox>
                            <img src="assets/images/3star.png" style="height: 12px;padding-left: 10px;" />
                        </div>
                        <div id="merDiv">
                            <p-checkbox value="4" class="check1" [(ngModel)]="tech" (click)="getPlayers(1);players=[]"></p-checkbox>
                            <img src="assets/images/4star.png" style="height: 12px;padding-left: 10px;" />
                        </div>
                        <div id="merDiv">
                            <p-checkbox value="5" class="check1" [(ngModel)]="tech" (click)="getPlayers(1);players=[]"></p-checkbox>
                            <img src="assets/images/5star.png" style="height: 12px;padding-left: 10px;" />
                        </div>


                    </div>
                </div>
            </div>


            <div class="ui-g-9 ui-sm-12 ui-g-nopad div2" *ngIf="cards">

                <div class="ui-g gap" *ngFor="let info of players">


                    <!--first card-->
                    <div *ngFor="let player of info" class="ui-g-4 ui-sm-12 ui-g-nopad ui-lg-4 div2Chlid1">
                        <div class="ui-g-12 ui-g-nopad backImage">
                            <img class="cover_img" [src]="player.cover_pic?basePath+player.cover_pic:'./../../../assets/images/player-profile-cover/default.jpg'"
                                alt="cover_pic">
                            <div class="ui-g merRow">
                                <div class="ui-g-5">
                                    <div class="CircleDiv">
                                        <img [routerLink]="['../player-profile',player?.id ]" [src]="player?.username?.profile_pic!=null?basePath+player?.username?.profile_pic:'./../../../assets/images/default_player.png'">
                                    </div>
                                </div>
                                <div class="ui-g-7 copatext">
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12" id="marnCol" style="color:white;">

                            <p class="COPA" style="height: 60px;" [routerLink]="['../player-profile',player?.id ]">
                                <a style="text-decoration:none;font-size: 25px;">{{player?.username?.name?player?.username?.name:''}} {{player?.username?.last_name?player?.username?.last_name:''}}</a>
                            </p>
                            <p class="Inscripciones"></p>
                            <small style="color:black;">{{player?.nick_name?player?.nick_name:'****'}}</small>
                            <br>
                            <p class="FECHAcolor">{{'POSICIÓN' | translate}}</p>
                            <small style="color: #828282;">{{player.position.position_name?player?.position?.position_name:'....'}}</small>
                            <p class="FECHAcolor">{{'Ciudad' | translate}}:</p>
                            <small style="color:#043760;">{{player.position.city?player?.position?.city:'....'}}</small>
                        </div>
                        <div class="ui-g-12 player_bttn">
                            <button *ngIf="userexist" pButton type="text" class="INSCRIBIR" [routerLink]="['../player-profile',player?.id ]" label="{{'PERFIL' | translate}}"></button>
                            <button *ngIf="userexist" class="INSCRIBIR" style="width: 145px;" pButton type="text" label="{{player.follow?'DEJAR DE SEGUIR':'SEGUIR' | translate}}"
                                (click)="follow(player)"></button>
                        </div>
                    </div>
                    <div class="ui-g-12" *ngIf="isdata" style="text-align:center;">
                        <h3 class="datos" style="color: darkcyan;">{{'Datos no encontrados' | translate}}</h3>
                    </div>
                    <div *ngIf="isError">
                        <h3 style="padding: 150px;margin-left: 124px;color: darkcyan;">{{'Algunos de error vuelve a intentarlo ...' | translate}}</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>