.full-container {
    padding-top: 145px;
    background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 224px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../assets/images/player_filter.jpg) no-repeat;
    background-color: #ffffff;
    background-size: contain;
    padding-bottom: 200px;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mobtn {
    display: none;
}

.cityHint {
    padding: 0%;
    margin-left: 12%;
    font-size: 10px;
    color: darkcyan;
}

.datos>h3 {
    padding: 150px;
    margin-left: 85px;
}


/**** shobhit-changes*******/

@media screen and (min-width: 640px) and (max-width:825px) {
    .full-container {
        padding-top: 43px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 72px, #f8f8f8 0px), url(./../../../assets/images/player_filter.jpg) no-repeat;
    }
    .INSCRIBIR {
        width: 145px !important;
        margin-top: 5px;
        margin-bottom: inherit !important;
        ;
    }
    .player_bttn {
        display: inherit !important;
    }
}

@media screen and (min-width: 800px) and (max-width:1000px) {
    .full-container {
        padding-top: 71px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 140px, #f8f8f8 0px), url(./../../../assets/images/player_filter.jpg) no-repeat;
        width: 100%;
    }
    .INSCRIBIR {
        margin-top: 3px;
    }
}

@media screen and (min-width: 1000px) and (max-width:1280px) {
    .full-container {
        padding-top: 90px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 172px, #f8f8f8 0px), url(./../../../assets/images/player_filter.jpg) no-repeat;
        background-color: #ffffff;
        background-size: contain;
    }
}

@media screen and (min-width: 640px) and (max-width:800px) {
    .header {
        height: 36px !important;
    }
}


/**************shobhit*********************/

@media only screen and (max-width: 640px) {
    .full-container {
        padding-top: 80px !important;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 224px, #f8f8f8 0px) 0% 0% / 100%, url(./../../../assets/images/player_filter.jpg) no-repeat !important;
        background: url(./../../../assets/images/player_filter.jpg) no-repeat;
    }
    .rowsBorder {
        border: 1px solid white;
        ;
    }
    .datos>h3 {
        padding: 15px;
        margin-left: 85px;
    }
    .fa {
        display: block;
    }
    .mobtn {
        display: block;
    }
    .actions {
        display: block;
        position: fixed;
        bottom: 0%;
        left: 0%;
        z-index: 1;
        padding: 0px;
    }
    .filtor {
        display: none;
    }
    i.times {
        display: block;
        padding-top: 19%;
        font-size: 15px;
        border-radius: 50%;
        border: 1px solid #828282;
        height: 23px;
        width: 29px;
        color: #828282;
    }
    .clear>p {
        background-color: gray;
        padding-top: 10%;
        padding-bottom: 10%;
        color: white;
        text-align: center;
        font-size: 13px;
    }
    .apply>p {
        padding-top: 10%;
        padding-bottom: 10%;
        color: white;
        text-align: center;
        font-size: 13px;
    }
    .left-sidebar {
        border: 1px solid white;
    }
    .gap1 {
        margin: 15px 15px;
    }
    .div2Chlid1 {
        width: 90%;
        margin: auto;
    }
    .players {
        font-size: 2.5em !important;
    }
    .player_bttn {
        display: inherit !important;
    }
}

.player_bttn {
    text-align: center;
    display: flex;
}

.drop-down {
    margin: 4% 0% 2% 7%;
}

.section {
    width: 970px;
    margin: auto;
}

.players {
    color: white;
    font-size: 45px;
    font-weight: normal;
    padding: 0% 0px 3% 0%;
    font-family: 'ChaletComprime CologneEighty';
}

.firstRow {
    padding-top: 35px;
}

.bgImage {
    background-image: url(./../../../assets/images/tourCoverPic.png);
    background-size: 100%;
    max-width: 100%;
    padding-top: 5%;
}

.spaceBottom {
    padding-bottom: 3%;
}

#TORNIOS {
    color: white;
    font-family: Arial;
    font-size: 45px;
    font-weight: bold;
    padding: 10% 0px 3% 15%;
}

#Logo {
    position: absolute;
    top: 2%;
    left: 2%;
}

.rowsBorder {
    border: 1px solid lightgray;
    background: white;
}

.div3 {
    background-color: orange;
}

.div4 {
    background-color: pink;
}

.btnFILTROS {
    width: 80%;
    margin-top: 5%;
    background-color: #043760 !important;
}

#MODALIDAD {
    color: lightslategray;
    font-size: 15px;
    font-weight: bold;
}

#merDiv {
    margin-left: 10%;
    margin-top: 7%;
}

.checkBOX {
    margin-top: 5%;
    margin-left: 5%;
}

.check1 {
    height: 50px !important;
}

#marnCol {
    padding-left: 7%;
    padding-top: 18%;
}

.div2Chlid1 {
    background-color: white;
    border: 1px solid lightgray;
}

.backImage {
    position: relative;
}

.backImage>img {
    width: 100%;
    position: relative;
    height: 44px;
}

.COPA {
    color: white;
    font-size: 20px;
}

.copatext {
    margin-top: 2%;
}

.Inscripciones {
    color: #8CCE25;
    line-height: 0.9;
}

.CircleDiv {
    background-repeat: no-repeat;
    border-radius: 100px;
}

.CircleDiv>img {
    width: 60px;
    height: 60px;
    padding: 6%;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    cursor: pointer;
}

.merRow {
    position: absolute;
    top: 23%;
    width: 92%;
}

.smallcircle {
    border-radius: 25px;
    background-size: 100% 100%;
}

.smallcircle>img {
    height: 70px;
    height: 70px;
    border-radius: 50% 50%;
}

.COPA {
    color: #043760;
    font-size: 2.5em;
    font-family: 'ChaletComprime CologneEighty';
    text-transform: uppercase;
}

.INSCRIBIR {
    background-color: #8CCE25 !important;
    border: none !important;
    padding: 4px;
    margin-bottom: 12px;
    margin-right: 5px;
}

.CircleDiv>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.FECHAcolor {
    color: #043760 !important;
    padding-top: 3%;
}

.btnDiv {
    padding-top: 5%;
    padding-bottom: 5%;
}

.ofterPagination {
    padding-top: 5%;
}

.SIGUE {
    font-size: 5em;
    color: darkgrey;
    line-height: 1.0;
    font-family: 'ChaletComprime CologneEighty';
}

.GRANDE {
    font-size: 7em;
    color: lawngreen;
    font-family: 'ChaletComprime CologneEighty';
}

.imgMargin {
    margin: 1%;
}