.full-container {
    padding-top: 180px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/tournament-profile-cover/default.png) no-repeat;
    background-size: 100%;
}

.section {
    width: 970px;
    margin: auto;
    padding-bottom: 200px;
}

.left-info {
    color: white;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2.5em;
    margin-top: -1%;
}

.volver {
    padding-top: 12px;
}

.top:hover {
    background: #f6f6f6;
}

.top {
    border-bottom: 1px solid #c9c9c9;
}

.notification-image>img {
    width: 100px;
    height: 100px;
}

@media screen and (min-width:320px) and (max-width:640px) {
    .notification-image>img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        padding-top: 6%;
    }
    .full-container {
        padding-top: 110px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/tournament-profile-cover/default.png) no-repeat;
        background-size: cover;
    }
    .left-info>p {
        font-size: 27px;
        padding-top: 13%;
    }
}

notification {
    position: absolute;
    background: white;
    width: 25%;
    text-align: left;
    top: 59%;
    left: 61%;
    box-shadow: 1px 3px 15px black;
}

.notification>p {
    font-size: 2.5em;
    font-weight: normal;
    background: #00253f;
    color: white;
    padding: 5%;
}

.notice>p>span {
    color: #8DCF24;
}

.notice {
    margin-left: 2%;
}

.notice>p {
    padding-top: 4%;
    margin-left: 2%;
    line-height: 2;
    color: #828282;
    line-height: 1.5;
    font-size: 1.2em;
}