<p-growl [value]="msgs"></p-growl>
<div class="ui-g full-container">
    <div class="section">
        <div class="ui-g" style="margin:0 10px">
            <div class="ui-g-9 ui-lg-9 left-info">
                <p>NOTIFICACIONES</p>
            </div>
            <div class="ui-g-3 ui-lg-3 ui-sm-3 text-right volver hover_green">
                <button type="button" pButton label="VOLVER" class="ui-button-gray" (click)="routing()" style="float:right;"></button>
            </div>
        </div>

        <div class="ui-g-12 top" *ngFor="let notify of notification" style="cursor: pointer;">
            <div (click)="routingOfLink(notify?.link)">
                <div class="ui-g-2 ui-lg-2  ui-sm-3 notification-image">
                    <img [src]="notify?.profile_pic?basePath+notify?.profile_pic:'assets/images/default_player.png'" style="border-radius:50%;" alt="cover_pic">
                </div>
                <div class="ui-g-9 ui-sm-8 notice">
                    <p>{{notify.notification}}</p>
                    <span *ngIf="notify.time.days" style="padding-left: 2%;line-height: 2;color:#8DCF25;">{{notify.time.days}} days </span>
                    <span *ngIf="notify.time.hours>0&&notify.time.days==0" style="padding-left: 2%;line-height: 2;color:#8DCF25;;">{{notify.time.hours}} hours </span>
                    <span *ngIf="notify.time.minutes>0&&notify.time.hours==0" style="padding-left: 2%;line-height: 2;color:#8DCF25;;">{{notify.time.minutes}} minutes </span>
                    <span style="color:#8DCF25;padding-left: 2%;line-height: 2;" *ngIf="notify.time.minutes==0&&notify.time.hours==0&&notify.time.days==0">just now</span>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-lg-12" *ngIf="showSeeMore">
            <button type="button" pButton label="See More" (click)="seeMore()" class="ui-button-green" style="float:right;"></button>
        </div>
    </div>
</div>