page-cancha-res {
  .sel {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    width: 100%;
    background-color: #f6f9ff;
  }
  p.para {
    font-size: 22px !important;
    color: #464646!important;
    margin-bottom: 4px;
    text-align: left !important;
    line-height: 28px;
    margin-top: 0px;
  }
  .label-md,
  .label-ios {
    color: #464646 !important;
    margin: 5px 8px 9px 0;
    font-family: 'roboto-regular';
  }
  .select-text {
    color: #999999;
    left: 10px;
    font-size: 12px;
  }
  .select-md .select-placeholder,
  .select-ios .select-placeholder {
    color: gray;
    font-size: 12px;
    margin-left: -15px;
    margin-top: -2px;
    padding: none;
  }
  .select-md {
    padding: 0px 8px 0px 2px;
  }
  .input-wrapper {
    display: inline;
  }
  ion-select {
    max-width: 100%;
  }
  .time {
    background: white;
    border: 1px solid #8ec63e;
    color: #8ec63e;
    padding: 6px;
    border-radius: 4px !important;
    height: 28px;
    box-shadow: none;
    text-transform: none;
    margin-right: 5px;
    font-family: 'roboto-medium';
    font-size: 13px;
  }
  .time1 {
    text-transform: none;
    background: #8ec63e;
    border: 1px solid #8ec63e;
    color: white;
    margin-right: 5px;
    padding: 6px;
    border-radius: 0px !important;
    height: 28px;
    box-shadow: none;
    font-family: 'roboto-medium';
    font-size: 13px;
  }
  .time2 {
    background: white;
    border: 1px solid #464646;
    color: #464646;
    padding: 6px;
    border-radius: 0px !important;
    height: 28px;
    box-shadow: none;
    text-transform: none;
    margin-right: 5px;
    font-family: 'roboto-medium';
    font-size: 13px;
  }
  .time3 {
    background: white;
    border: 1px solid #666666;
    color: #666666;
    padding: 6px;
    border-radius: 0px !important;
    height: 28px;
    box-shadow: none;
    text-transform: none;
    margin-right: 5px;
    font-family: 'roboto-medium';
    font-size: 13px;
    opacity: 0.5;
  }
  .card1 {
    margin-left: 0px;
    width: 102%;
    margin-top: 8px;
    padding: 16px;
    box-shadow: none;
    margin-left: -2px;
  }
  .foot {
    position: fixed;
    left: -20px;
    width: 110%;
    bottom: -8px;
  }
  .create {
    background: #113861;
    width: 100%;
    height: 60px;
  }
  .hour {
    color: #464646;
    font-family: 'roboto-medium';
  }
  .cost {
    color: #464646;
    font-family: 'roboto-medium';
    display: flex;
    justify-content: flex-end;
  }
  .time_X {
    text-transform: none;
    background: #ffffff;
    ;
    border: 1px soliD #666666;
    color: #666666;
    margin-right: 5px;
    padding: 6px;
    border-radius: 4px;
    height: 28px;
    box-shadow: none;
    font-family: 'roboto-medium';
    font-size: 13px
  }
 
  .item.item-md .checkbox-md {
    position: static;
    display: block;
    margin: 7px 36px 9px 4px;
}
.item-md.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 0px solid #dedede;
}
  .item.item-ios .checkbox-ios {
    position: static;
    display: block;
    margin: 7px 36px 9px 4px;
}
.item-ios.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 0px solid #dedede;
}
}
