<!-- <ion-header>
    <ion-navbar hideBackButton="true">
        <button class="backarrow" ion-button (click)="back()">
            <ion-icon style="font-size:24px" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </button>
        <ion-title>{{data_display?.ground_data.ground_name}}</ion-title>
    </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-grid style="background: white" padding>
        <ion-row style="display: flex;align-items: center;" no-padding>
            <ion-col text-left col-2 no-padding>
                <ion-icon style="font-size:24px" (click)="back()" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </ion-col>
            <ion-col col-8 text-center no-padding>
                <p no-margin style="font-size: 22px;font-family: roboto-regular;color: #333">
                    {{data_display?.ground_data.ground_name | translate}}
                </p>
            </ion-col>
            <ion-col col-2 no-padding text-right>
                <!-- <span>
                            <ion-icon (click)="openpopup()" style="font-size: 35px;" name="more"></ion-icon>
                        </span> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content no-padding class="body">
    <div class="spinn">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
    </div>
    <ion-grid no-padding>
        <ion-row class="maincard">
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col col-12 style="padding-bottom:16px;">
                        <p class="para">{{"Select field" | translate}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <ion-item class="sel">
                            <ion-label class="label">{{ground_name}}</ion-label>
                            <!--<ion-select [(ngModel)]="court" (ionChange)="option($event);timeground=true" multiple="false" class="select" interface="popover">
                  <div *ngIf="!drop">
                    <ion-option value="{{all_ground}}">{{all_ground}}</ion-option>
                    <ion-option (ionSelect)="groundid(i.id,i.ground_name);" class="item" *ngFor="let i of data?.connected_grounds">{{i.field_format}} {{i.type_of_field}}</ion-option>
                  </div>
                  <div *ngIf="drop">
                    <ion-option value="court">{{court}}</ion-option>
                  </div>
                </ion-select>-->


                            <!--FOR NO CONNECTED GROUNDS-->
                            <ion-select *ngIf="drop" [(ngModel)]="court_data" disabled=true interface="popover">
                                <ion-option>{{court}}</ion-option>
                            </ion-select>

                            <!--FOR CONNECTED GROUNDS-->
                            <ion-select *ngIf="!drop" [(ngModel)]="court_data" interface="popover">
                                <ion-option (ionSelect)="groundid(data?.ground_data?.id,data?.ground_data?.ground_name)">{{court}}</ion-option>
                                <ion-option (ionSelect)="groundid(i.id,i.ground_name);" class="item" *ngFor="let i of data?.connected_grounds">{{i?.ground_name}},{{i?.field_format}},{{lang=='en'?i?.type_of_field_en:i?.type_of_field}}</ion-option>
                            </ion-select>


                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-card class="card1">
            <ion-card-header no-padding>
                <p class="para">{{'Select date' | translate}}</p>
            </ion-card-header>

            <ion-card-content no-padding>
                <ion-row class="calender">
                    <ion-col col-7 class="my">
                        <ion-datetime [monthShortNames]="months" [doneText]="lang=='en'?'Done':'Hecho'" [cancelText]="lang=='en'?'Cancel':'Cancelar'" no-padding (ionChange)="calendarFormat()" max="2050" [min]="min_date" displayFormat="MMM YYYY" [(ngModel)]="date"></ion-datetime>
                    </ion-col>
                    <ion-col col-4 class="arrow">
                        <i no-padding class="fa fa-angle-down" aria-hidden="true"></i>
                    </ion-col>
                </ion-row>
                <div padding-bottom style="display:flex;overflow:scroll;align-items: center;">
                    <div (click)="date_change(i.date,i.day)" [class.active]="selectd_date==i.date" *ngFor=" let i of days" style="margin:16px 11px 0px 11px;font-family: roboto-regular;cursor:pointer;">
                        <p [class.date]="selectd_date==i.date">{{i.day}}</p>
                        <p [class.date]="selectd_date==i.date">{{i.date}}</p>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-grid>

    <ion-grid style="text-align:left;background:#ffffff;padding:16px;">
        <ion-row>
            <ion-col col-12>
                <p class="para">{{'Select time' | translate}}</p>
            </ion-col>


            <div style="padding-top:8px;width: 100%;" *ngFor="let i of data_display?.free_time;let j = index;">
                <ion-row style="border-bottom:1px solid #d7d7d7;padding-top:12px;">
                    <ion-col col-10 class="hour" *ngIf="j==0">0-6 hrs</ion-col>
                    <ion-col col-10 class="hour" *ngIf="j==1">7-12 hrs</ion-col>
                    <ion-col col-10 class="hour" *ngIf="j==2">13-17 hrs</ion-col>
                    <ion-col col-10 class="hour" *ngIf="j==3">18-23 hrs</ion-col>
                    <ion-col col-2 class="cost">$ {{i.amount}}</ion-col>
                </ion-row>
                <ion-row style="padding-top:12px;">
                    <ion-col col-3 style="width:30%;max-width: 30%;" *ngFor="let j of i.time;let p = index;" (click)="gettime(j.time,i.amount,j.reserve,j.queue_count);samay=j.time;button_click=true">
                        <div *ngIf="p==0">
                            <span>
                                <button ion-button [class.time1]="samay==j.time&&button_click" [class.time2]="j.reserve" [class.time3]="j.reserve&&j.queue_count>=2"
                                    class="time">{{j.time.slice(0,5)}}hrs
                                </button>
                                <p *ngIf="j.reserve&&j.queue_count<2" style="font-size:10px;color:red;margin:0px;">{{"Add to queue" | translate}} | translate}}</p>
                            </span>
                            <!-- <div *ngIf="j.slice(0,5)=='00:00'">
              <span *ngIf="j.slice(0,5)!='00:00'"><button ion-button class="time_X">00:00 hrs</button></span>
              <span *ngIf="j.slice(0,5)!='07:00'"><button ion-button class="time_X">07:00 hrs</button></span>
              <span *ngIf="j.slice(0,5)!='13:00'"><button ion-button class="time_X">13:00 hrs</button></span>
              <span *ngIf="j.slice(0,5)!='18:00'"><button ion-button class="time_X">18:00 hrs</button></span>
              </div> -->
                        </div>

                        <div *ngIf="p==1">
                            <button ion-button [class.time1]="samay==j.time&&button_click" [class.time2]="j.reserve" [class.time3]="j.reserve&&j.queue_count>=2" class="time">{{j.time.slice(0,5)}}hrs
                            </button>
                            <p *ngIf="j.reserve&&j.queue_count<2" style="font-size:10px;color:red;margin:0px">{{"Add to queue" | translate}} | translate}}</p>
                        </div>
                        <div *ngIf="p==2">
                            <button ion-button [class.time1]="samay==j.time&&button_click" [class.time2]="j.reserve" [class.time3]="j.reserve&&j.queue_count>=2" class="time">{{j.time.slice(0,5)}}hrs
                            </button>
                            <p *ngIf="j.reserve&&j.queue_count<2" style="font-size:10px;color:red;margin:0px">{{"Add to queue" | translate}} | translate}}</p>
                        </div>
                        <div *ngIf="p==3">
                            <button ion-button [class.time1]="samay==j.time&&button_click" [class.time2]="j.reserve" [class.time3]="j.reserve&&j.queue_count>=2" class="time">{{j.time.slice(0,5)}}hrs
                            </button>
                            <p *ngIf="j.reserve&&j.queue_count<2" style="font-size:10px;color:red;margin:0px">{{"Add to queue" | translate}}</p>
                        </div>
                        <div *ngIf="p==4">
                            <button ion-button [class.time1]="samay==j.time&&button_click" [class.time2]="j.reserve" [class.time3]="j.reserve&&j.queue_count>=2" class="time">{{j.time.slice(0,5)}}hrs
                            </button>
                            <p *ngIf="j.reserve&&j.queue_count<2" style="font-size:10px;color:red;margin:0px">{{"Add to queue" | translate}}</p>
                        </div>
                        <div *ngIf="p==5">
                            <button ion-button [class.time1]="samay==j.time&&button_click" [class.time2]="j.reserve" [class.time3]="j.reserve&&j.queue_count>=2" class="time">{{j.time.slice(0,5)}}hrs
                            </button>
                            <p *ngIf="j.reserve&&j.queue_count<2" style="font-size:10px;color:red;margin:0px">{{"Add to queue" | translate}}</p>
                        </div>
                        <div *ngIf="p==6">
                            <button ion-button [class.time1]="samay==j.time&&button_click" [class.time2]="j.reserve" [class.time3]="j.reserve&&j.queue_count>=2" class="time">{{j.time.slice(0,5)}}hrs
                            </button>
                            <p *ngIf="j.reserve&&j.queue_count<2" style="font-size:10px;color:red;margin:0px">{{"Add to queue" | translate}}</p>
                        </div>
                    </ion-col>
                </ion-row>
            </div>


            <!-- <div style="padding-top:8px;" *ngIf="timeground==true"> -->
            <!-- <div *ngFor="let i of time?.free_time;let j = index;">
            <ion-row style="border-bottom:1px solid #d7d7d7;">
              <ion-col col-10 class="hour">{{i.time[0].slice(1,2)}}-{{i.time[i.time.length-1].slice(0,2)}}hrs</ion-col>
              <ion-col col-2 class="cost">$ {{i.amount}}</ion-col>
            </ion-row>
              <ion-row>
             <ion-col col-4 *ngFor="let j of i.time" (click)="gettime(j);samay=j;">
               <button ion-button [class.time1]="samay==j" class="time">{{j.slice(0,5)}}hrs</button>
              </ion-col>
            </ion-row>
          </div> -->
            <!-- </div> -->
            <!-- <ion-row *ngIf="timeground==true">
        *ngFor="let i of time?.free_time"
        </ion-row> -->
        </ion-row>
        <ion-row *ngIf="check_recurrent">
            <ion-col col-12 style="padding: 16px 0px; margin-top: 16px;">

                <ion-item style="    padding: 0px;
        margin: 0px;
        display: flex;
        align-items: flex-start;">
                    <ion-label>{{'Recurrent reservation' | translate}}</ion-label>
                    <ion-checkbox [(ngModel)]="recurrent"></ion-checkbox>
                </ion-item>

            </ion-col>
        </ion-row>
    </ion-grid>￼



</ion-content>
<ion-footer class="foot">
    <ion-title>
        <button ion-button class="create" (click)=pay();>{{"Proceed for reservation" | translate}}</button>
    </ion-title>
</ion-footer>