.full-container {
    padding-top: 145px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../../assets/images/back.jpg) no-repeat;
    background-color: #081023;
    background-size: contain;
    padding-bottom: 90px;
}

@media only screen and (min-width:768px) and (max-width:800px) {
    .pospref {
        white-space: nowrap;
        padding-left: .5em;
    }
}

@media screen and (min-width:640px) and (max-width: 1800px) {
    .position_preffered {
        width: 27%;
        margin-right: -2%;
    }
}

@media only screen and (max-width: 640px) {
    .full-container {
        padding-top: 12px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 114px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../../assets/images/back.jpg) no-repeat;
        background-color: #081023;
        background-size: contain;
    }
    .top {
        padding-top: 7em;
    }
    .head img {
        height: 80px;
        width: 120px;
    }
    .forms {
        padding-left: .5em !important;
    }
    .informacion_jugador {
        padding: .5em !important;
        font-size: 1.5em !important;
        border-bottom: 1px solid #828282;
        font-weight: normal;
        padding-bottom: 1%;
        font-family: 'ChaletComprime CologneEighty';
    }
    .delImg {
        width: 8%;
        border-radius: 50%;
        float: right;
        margin-top: -30px;
        cursor: pointer;
    }
}

.header_messg {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.header_messg span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.top_profile {
    padding-top: 15px;
}

.position_preffered {
    margin-right: -2%;
}


/*** mobile view ***/

.informacion_jugador {
    padding: 2% 10% 0% 10%;
}

.header {
    background: url('./../../../../assets/images/back.jpg');
    background-size: 97% 149%;
    padding: 30px 0px 30px 0px;
    text-align: center;
}

.header img {
    width: 120px;
    height: 83px;
}

.forms>h2 {
    border-bottom: 1px solid #828282;
    padding-bottom: 1%;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    color: #00253f;
}

.forms {
    padding-left: 10%;
}

.bio_desktop {
    display: none;
}

.bio_mobile {
    display: block;
}

.gender,
.dob,
.position_preffered,
.leg_preffered,
.pais,
.city,
.is_professional,
.nickname {
    padding-top: 5%;
}

.crearfONT {
    margin-bottom: 2%;
    margin-top: 5%;
}


/*** desktop view ***/

@media only screen and (min-width: 640px) {
    .informacion_jugador p {
        border-bottom: 1px solid #828282;
        font-weight: normal;
        padding-bottom: 1%;
        font-family: 'ChaletComprime CologneEighty';
        font-size: 2.5em;
    }
    .full-container {
        padding-top: 150px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../../assets/images/back.jpg) no-repeat;
        background-size: 100% 34%;
        height: 100%;
    }
    .head img {
        width: 145px;
        height: 100px;
    }
    .section {
        max-width: 970px;
        margin: auto;
    }
    .auth>.buton-1 {
        background: #c9c9c9;
        margin-left: 4px;
    }
    .auth>.buton-1:hover {
        background: #dfdfdf;
    }
    .auth>.buton-1:focus {
        background: #bdbdbd;
    }
    .gender,
    .dob,
    .position_preffered,
    .leg_preffered,
    .pais,
    .city,
    .is_professional,
    .nickname {
        padding-top: .5em;
    }
    .header {
        background: url('./../../../../assets/images/back.jpg');
        background-size: 97% 149%;
    }
    .complete_profile {
        margin-bottom: 2%;
        margin-top: 3%;
        font-size: 3.5em;
        text-transform: uppercase;
    }
    .row_pais {
        padding-top: 2%;
    }
    .top_profile {
        padding-top: 50px;
    }
    .bio_desktop {
        display: block;
    }
    .bio_mobile {
        display: none;
        padding-top: 0px;
    }
    .header img {
        width: 150px;
        height: 105px;
    }
    .header h2 {
        color: #8DCF25;
        font-family: 'ChaletComprime CologneEighty';
        font-weight: normal;
        font-size: 5em;
        position: relative;
        top: 30px;
    }
    .informacion_jugador {
        padding: 0% 1% 0% 1%;
    }
    .logout>h4 {
        text-align: right;
        color: white;
        font-size: 16px;
    }
    .logout p {
        margin-right: 2%;
        margin-bottom: 20%;
    }
    .logout a {
        color: #fff;
        cursor: pointer;
        font-weight: normal;
        font-family: 'Montserrat-Regular';
    }
    .logout a:focus,
    .logout a:hover {
        color: #8DCF25;
    }
    .forms {
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 0;
    }
    .tabviews {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 25px;
    }
    .tabviews>h2 {
        position: absolute;
        font-family: 'ChaletComprime CologneEighty';
        font-weight: normal;
        color: #828282;
        left: 26px;
    }
    .forms>h2 {
        border-bottom: 1px solid #828282;
        padding-bottom: 1%;
        font-family: 'ChaletComprime CologneEighty';
        font-weight: normal;
        color: #00253f;
    }
    .loc {
        margin-left: 2%;
        margin-right: 2%;
    }
    .btn>button {
        text-align: center;
        background: #8DCF25;
        border: 1px solid #8DCF25;
    }
    .info {
        font-size: 1.4em;
        font-weight: normal;
    }
    .pinp {
        margin-right: 1%;
        padding-top: 0%;
    }
    .pinput {
        margin-right: 1%;
    }
    .school {
        margin-bottom: 3%;
    }
    .bttons {
        margin-top: 1%;
    }
    .select-btn {
        margin-top: 4%;
    }
    .add {
        color: #8DCF25;
        font-size: 16px;
    }
    .ui-tabview .ui-tabview-panel {
        padding-top: 3%;
    }
    .fa {
        width: 20px;
        height: 20px;
    }
    .footer {
        color: white;
        background: -webkit-linear-gradient(#00253f, #004d88, #00253f);
        font-size: 1em;
    }
    .footer p {
        margin: 12px 0 12px 40px;
    }
    .footer-right {
        padding-left: 10% !important;
    }
    .footer-right ul {
        position: absolute;
        right: 11%;
    }
    .unorder {
        display: -webkit-inline-box;
    }
    .unorder>li {
        list-style: none;
        margin-right: 20%;
    }
    .errorText {
        color: red;
        position: absolute;
        padding-top: 2px;
        padding-left: 1%;
    }
    .delImg {
        width: 3%;
        border-radius: 50%;
        float: right;
        margin-top: -55px;
        cursor: pointer;
    }
    .backdrop {
        position: fixed;
        background: rgba(14, 14, 14, 0.42);
        ;
        width: 100%;
        height: 100%;
        top: 45px;
        left: 0px;
        z-index: 1;
    }
}