<p-growl [value]="msgs" sticky="sticky"></p-growl>
<loader *ngIf="loader"></loader>
<div class="full-container">
    <div class="section">
        <div class="ui-g head">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 text-center">
            </div>
        </div>

        <form role="form" [formGroup]="completeProfileForm">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid top">
                <div class="ui-g top_profile">
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 forms">
                        <h2 class="complete_profile">{{'Editar jugador' | translate}}</h2>
                        <img src="assets/images/del.jpg" class="delImg" (click)="deactiveAccount=true" pTooltip="Desactiva tu cuenta" />
                        <div class="ui-g">
                            <div class="ui-g-4 ui-sm-6 ui-md-4 ui-lg-4 nickname">
                                <label>{{'Nombre' | translate}}</label>
                                <label style="color:red;margin-left:-1em;">*</label>
                                <br>
                                <br>
                                <input type="text" placeholder="{{'Nombre' | translate}}" pInputText [formControl]="completeProfileForm.controls['name']" />
                                <div *ngIf="!completeProfileForm.controls['name'].valid && completeProfileForm.controls['name'].dirty">
                                    <p *ngIf="completeProfileForm.controls['name'].hasError('maxlength')" style="color:red;margin-top:2%;text-indent:10px;font-size:10px;margin-left:4%">{{'Por favor, introduzca un mÃ¡ximo de 50 caracteres!' | translate}}</p>
                                    <p *ngIf="completeProfileForm.controls['name'].hasError('required')" style="color:red;margin-top:2%;text-indent:10px;font-size:10px;margin-left:4%">{{'Â¡Nombre (requerido!' | translate}}</p>
                                </div>
                            </div>
                            <div class="ui-g-4 ui-sm-6 ui-md-4 ui-lg-4 nickname">
                                <label>{{'Apellido' | translate}}</label>
                                <br>
                                <br>
                                <input type="text" placeholder="{{'Apellido' | translate}}" pInputText [formControl]="completeProfileForm.controls['Apellido']" />
                                <div *ngIf="!completeProfileForm.controls['Apellido'].valid && completeProfileForm.controls['Apellido'].dirty">
                                    <p *ngIf="completeProfileForm.controls['Apellido'].hasError('maxlength')" style="color:red;margin-top:2%;text-indent:10px;font-size:10px;margin-left:4%">{{'Por favor, introduzca un mÃ¡ximo de 50 caracteres!' | translate}}</p>
                                </div>
                            </div>
                            <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 nickname">
                                <label>{{'Email' | translate}}</label>
                                <label style="color:red;margin-left:-1em;">*</label>
                                <br>
                                <br>
                                <input type="text" placeholder="{{'Email' | translate}}" pInputText size="30" [formControl]="completeProfileForm.controls['email']" (keyup)="get_email($event)" />
                                <p *ngIf="!completeProfileForm.controls['email'].valid&&completeProfileForm.controls['email'].dirty" class="errorText">{{'email invalido!' | translate}}</p>
                                <p *ngIf="emailExists" class="errorText">{{'de correo electrnico ya existe!' | translate}}</p>
                                <p *ngIf="error" class="errorText">{{'email error!' | translate}}</p>

                            </div>

                        </div>
                        <div class="ui-g school_info" style="padding-top:2%;">
                            <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 dob">
                                <label style="white-space:nowrap;" class="pospref">{{'Fecha de nacimiento' | translate}}</label>
                                <br>
                                <br>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange='1950:2030' (onSelect)='datepicker($event)' dateFormat='yy-mm-dd' placeholder="Ingresa tu Fecha de nacimiento" [formControl]="completeProfileForm.controls['dob']" [locale]="es" [readonlyInput]="true"></p-calendar>
                            </div>
                            <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 gender">
                                <label>{{'Género' | translate}}</label>
                                <label style="color:red;margin-left:-1em;">*</label>
                                <br>
                                <br>
                                <p-dropdown [options]="genderList" (onChange)='selectedGenderFun($event)' [style]="{'width':'100%'}" [formControl]="completeProfileForm.controls['gender']"></p-dropdown>
                            </div>
                            <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 nickname">
                                <label>{{'Celular' | translate}}</label>
                                <label style="color:red;margin-left:-1em;">*</label>
                                <br>
                                <br>
                                <div class="ui-g-4">
                                    <p-dropdown (onChange)="validMobile($event)" [options]="code" [formControl]="completeProfileForm.controls['country_code']">
                                        <ng-template let-car pTemplate="label">
                                            <div style="display:flex;align-items:center;    padding: 0px !important;
                                                    ">
                                                <div style="    width: 30px;">
                                                    {{car.label}}
                                                </div>
                                                <div style="    text-align: right;" *ngIf="car.label=='+593'" class="ui-g-6">
                                                    <img src="assets/images/Ecuador.png" style="width: 15px;height: 10px;  " />
                                                </div>
                                                <div *ngIf="car.label=='+1'" style="    text-align: right;" class="ui-g-6">
                                                    <img src="assets/images/usa_flag.jpg" style="width: 15px;height: 10px;  " />
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <span style="color:#828282;margin-left:2px;">-</span>

                                </div>
                                <div class="ui-g-8">
                                    <input type="text" maxlength="{{length}}" minlength="{{length}}" placeholder="{{'Celular' | translate}}" pInputText [formControl]="completeProfileForm.controls['mobile']" />
                                </div>

                                <div *ngIf="!completeProfileForm.controls['mobile'].valid && completeProfileForm.controls['mobile'].dirty">
                                    <p *ngIf="completeProfileForm.controls['mobile'].hasError('pattern')" style="color:red;margin-left:4%;">{{'Mobile No debe ser un nÃºmero!' | translate}}</p>
                                    <p *ngIf="!completeProfileForm.controls['mobile'].hasError('pattern')&&completeProfileForm.controls['mobile'].hasError('minlength')" style="color:red;margin-left:4%">su debe haber un {{length}} longitud mÃ­nima!</p>
                                    <p *ngIf="!completeProfileForm.controls['mobile'].hasError('pattern')&&completeProfileForm.controls['mobile'].hasError('maxlength')" style="color:red;margin-left:4%;">su deberÃ­a ser un {{length}} longitud mÃ¡xima!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="informacion_jugador ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                    <p>{{'Información del jugador' | translate}}</p>
                </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-8 ui-lg-8 forms" style="padding-right: 0;">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-sm-6 ui-md-3 ui-lg-3 nickname">
                                <label>{{'Apodo' | translate}}</label>
                                <br>
                                <br>
                                <input type="text" placeholder="{{'Escribe tu apodo' | translate}}" pInputText maxlength="100" [formControl]="completeProfileForm.controls['nick_name']" />
                                <div *ngIf="!completeProfileForm.controls['nick_name'].valid && completeProfileForm.controls['nick_name'].dirty">
                                    <p *ngIf="completeProfileForm.controls['nick_name'].hasError('maxlength')" style="color:red;margin-left:4%;">{{'Por favor, introduzca un mÃ¡ximo de 50 caracteres!' | translate}}</p>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-sm-6 ui-md-3 ui-lg-3 pais">
                                <label>{{'País' | translate}}</label>
                                <label style="color:red;margin-left:-1em;">*</label>
                                <br>
                                <br>
                                <p-dropdown [options]="countryList" (onChange)='selectedCountryFun($event)' [style]="{'width':'100%'}" [formControl]="completeProfileForm.controls['country']"></p-dropdown>
                                <p *ngIf="country_required" class="errorText">{{'País requiere!' | translate}}</p>
                            </div>
                            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-6 city">
                                <label>{{'Ciudad' | translate}}</label>
                                <label style="color:red;margin-left:-1em;">*</label>
                                <span style="color:darkcyan;font-size: 0.7em;">{{'Escoger una de las opciones que se despliegan' | translate}}</span>
                                <br>
                                <br>
                                <p-autoComplete [suggestions]="filteredLocation" (completeMethod)="filterLocation($event)" (onSelect)='getLocation($event)' (onDropdownClick)='getLocation($event)' field="location" [size]="30" placeholder="Ciudad" [minLength]="1" [formControl]="completeProfileForm.controls['city']">
                                    <ng-template let-brand pTemplate="item">
                                        <p>{{brand.location}}</p>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                            <div class="ui-g-12 ui-sm-6 ui-md-3 ui-lg-3 town">

                            </div>
                        </div>
                        <div class="ui-g row_pais">
                            <div class="ui-g-12 ui-sm-12 ui-md-3 ui-lg-3 position_preffered">
                                <label class="pospref">{{'Posición preferida' | translate}}</label> <label style="color:red;margin-left:-1em;">*</label>
                                <br>
                                <br>
                                <p-dropdown [options]="positionList" (onChange)='selectedPositionFun($event)' [style]="{'width':'100%'}" [formControl]="completeProfileForm.controls['position']"></p-dropdown>
                            </div>
                            <div class="ui-g-12 ui-sm-12 ui-md-3 ui-lg-3 leg_preffered">
                                <label>{{'Pierna Pref' | translate}}</label> <label style="color:red;margin-left:-1em;">*</label>
                                <br>
                                <br>
                                <p-dropdown [options]="prefferedLegList" (onChange)='selectedPrefLegFun($event)' [style]="{'width':'100%'}" field="label" [formControl]="completeProfileForm.controls['pref_leg']"></p-dropdown>
                            </div>
                        </div>

                    </div>
                    <div class="ui-g-12 ui-sm-11 ui-md-4 ui-lg-4 forms bio_desktop " style="padding-left:0 ">
                        <div class="ui-g ">
                            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ">
                                <label>Bio</label>
                                <br>
                                <br>
                                <textarea rows="5 " cols="30 " [formControl]="completeProfileForm.controls[ 'bio'] " placeholder="{{'Cuentanos un poco de tu historia futbolística o cualquier cosa sobre ti' | translate}} " pInputTextarea autoResize="autoResize
                                    " style="height: 135px; "></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4 ui-lg-4 forms bio_mobile ">
                        <div class="ui-g ">
                            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ">
                                <label>Bio</label>
                                <br>
                                <br>
                                <textarea rows="5 " cols="30 " pInputTextarea placeholder="{{'Cuentanos un poco de tu historia futbolística o cualquier cosa sobre ti' | translate }}" style="height:122px;max-height:122px "></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g bttons ">
                    <div class="ui-g-12 ui-sm-11 ui-md-12 ui-lg-12 forms ">
                        <div class="ui-g-12 ui-md-8 ui-lg-8 add ">
                        </div>
                        <div class="ui-g-12 ui-sm-12 ui-md-4 ui-lg-4 ">
                            <div class="ui-g ">
                                <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6 auth ">
                                    <button pButton type="button " style="height:36px;width:132px; " class="buton-1 " label="{{'CANCELAR' | translate}} " (click)="cancel() "></button>
                                </div>
                                <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6 auth ">
                                    <button pButton type="button " style="height:36px;width:132px; " class="ui-button-green buton-2 " label="{{'CONTINUAR' | translate}} " (click)="saveDetails(completeProfileForm.value) "></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p-dialog [(visible)]="deactiveAccount " modal="modal " class="delete_ground " [resizable]=false [responsive]=true>
        <div class="ui-g ">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 header_messg">
                <span>{{'MENSAJE' | translate}}</span>
            </div>
            <div class="ui-g-12 " style="text-align: center; ">
                <p style="color:darkcyan ">{{'Desea desactivar su cuenta?' | translate}}</p>
            </div>
            <div class="ui-g-12 ui-fluid" style="text-align: center;margin-top: 15px; ">
                <div class="ui-g-3 ">
                </div>
                <div class="ui-g-3 ">
                    <button type="button " pButton class="ui-button " label="{{'No' | translate}} " (click)="deactiveAccount=false "></button>
                </div>
                <div class="ui-g-3 ">
                    <button type="button " pButton class="ui-button-green " label="{{'Si' | translate}} " (click)="deactiveAccountInfo();deactiveAccount=false "></button>
                </div>
                <div class="ui-g-3 ">
                </div>


            </div>
        </div>
    </p-dialog>
</div>
<div [class.backdrop]="deactiveAccount "></div>