<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="container info">
    <div class="ui-g ui-sm ui-md ui-lg mobile">
        <div class="ui-g-12 ui-sm-12 sm">
            <label class="label1">{{'Tipo de Cancha' | translate}}</label>
            <label class="label2">{{data?.type_of_field}}</label>
        </div>
        <div style="display:flex" class="ui-g-12 ui-sm-12 sm">
            <label class="label1">{{'Teléfonos/Otros contactos' | translate}}</label>
            <label style="word-break: break-word" class="label2">{{groundInformation?.contact}} - {{groundInformation?.contact}}/{{groundInformation?.contact}} - {{groundInformation?.other_contact}}</label>
        </div>
        <div class="ui-g-12 ui-sm-12  sm">
            <label class="label1">{{'Modalidad de Juego' | translate}} </label>
            <label class="label2">{{data?.field_format}}</label>
        </div>

        <div style="display:flex" class="ui-g-12 ui-sm-12 sm">
            <label class="label1">{{'Dirección' | translate}}</label>
            <label style="word-break: break-word" class="label2">{{groundInformation?.address}}</label>
        </div>
        <div class="ui-g-12 ui-sm-12 sm">
            <label class="label1">{{'País' | translate}}</label>
            <label class="label2">{{groundInformation?.city?.country_name}}</label>
        </div>
        <div class="ui-g-12 ui-sm-12 sm">
            <label class="label1">{{'Ciudad' | translate}}</label>
            <label class="label2">{{groundInformation?.city?.city_name}}</label>
        </div>

        <div style="display:flex" class="ui-g-12 ui-sm-12  sm" *ngIf="groundInformation?.is_peloteando_certified">
            <label class="label1">{{'Costo por hora' | translate}}</label>
            <label style="word-break: break-word" class="label2" style="cursor: pointer;" (click)="cost_per_game_popup=true">{{'Haga clic para ver el costo' | translate}}</label>
        </div>
        <div style="display:flex" class="ui-g-12 ui-sm-12 sm" *ngIf="groundInformation?.is_peloteando_certified">
            <label class="label1">{{textchangeoffile | translate}}</label>
            <a style="word-break: break-word" *ngIf="filestatus" [href]="base_path_service?.base_path+groundInformation?.rule" class="label2" style="padding-left:15px;text-decoration:none;" download="true">{{'Haga clic para ver las reglas' | translate}}</a>
        </div>
        <div class="ui-g-12 ui-sm-12  sm" *ngIf="groundInformation?.is_peloteando_certified">
            <label class="label1">{{'Métodos de pago' | translate}}</label>
            <label class="label2" *ngFor="let pay of groundInformation?.payment_method">{{pay.option}},</label>
        </div>
        <div class="ui-g-12  ui-sm-12">
            <label class="label1">{{'Nombre del chancha' | translate}}</label>
            <label class="label2">
                {{data?.ground_name}}
            </label>
        </div>
        <div class="ui-g-12  ui-sm-12">
            <label class="label1">{{'Descuento al pagar con tarjeta' | translate}}</label>
            <label class="lebel2">
                {{data?.discount?data?.discount:'--'}}{{data?.discount?'%':''}}
            </label>
        </div>
        <div class="ui-g-12  ui-sm-12">
            <label class="label1">{{"Pago minimo para reservar" | translate}}</label>
            <label class="label2">
                {{data?.minimum_fee?data?.minimum_fee:'--'}}
            </label>
        </div>
        <!-- <div class="ui-g-12  ui-sm-12 ">
            <label class="label1">Vat(%)</label>
            <br/>
            <p style="padding: 15px;color: #8ec63f">
                {{groundInformation?.vat?groundInformation?.vat:'--'}}
            </p>
        </div> -->
    </div>
    <div class="desktop_view">
        <div class="ui-g  large">
            <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
                <label class="label1">{{'Tipo de Cancha' | translate}}</label>
                <br/>
                <label class="label2" *ngIf="data?.type_of_field">{{data?.type_of_field}}</label>
                <label class="label2" *ngIf="!data?.type_of_field">--</label>
            </div>
            <div class="ui-g-4 ui-sm-4 add_text ">
                <label class="label1">{{"Dirección" | translate}}</label>
                <br/>
                <p style="padding-left:15px;    word-wrap: break-word;" class="label2" *ngIf="groundInformation?.address">{{groundInformation?.address}}</p>
                <label class="label2" *ngIf="!groundInformation?.address">--</label>
            </div>
            <div class="ui-g-4  ui-sm-4 ">
                <label class="label1">{{'Teléfonos/Otros contactos' | translate}}</label>
                <br/>
                <label class="label2">
                    <span *ngIf="groundInformation?.contact">{{groundInformation?.country_code}}</span>{{groundInformation?.contact}}
                    <span *ngIf="groundInformation?.other_contact">/ {{groundInformation?.country_code}}</span>{{groundInformation?.other_contact}}</label>
            </div>

        </div>
        <div class="ui-g  large">
            <div class="ui-g-4  ui-sm-4 ">
                <label class="label1">{{'Modalidad de Juego' | translate}}</label>
                <br/>
                <label class="label2" *ngIf="data?.field_format">{{data?.field_format}}</label>
                <label class="label2" *ngIf="!data?.field_format">--</label>
            </div>
            <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4 dotDisplay">
                <label class="label1">{{'País' | translate}}</label>
                <br/>
                <div>
                    <label class="label2">{{groundInformation?.city?.country_name}}
                        <br>
                    </label>
                </div>
            </div>
            <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4 dotDisplay">
                <label class="label1">{{'Ciudad' | translate}}</label>
                <br/>
                <div>
                    <label class="label2">{{groundInformation?.city?.city_name}}
                        <br>
                    </label>
                </div>
            </div>


        </div>
        <div class="ui-g large">
            <div class="ui-g-4  ui-sm-4 " *ngIf="groundInformation?.is_peloteando_certified">
                <label class="label1">{{textchangeoffile}}</label>
                <br/>
                <a *ngIf="filestatus" [href]="base_path_service?.base_path+groundInformation?.rule" class="label2" style="padding-left:15px;text-decoration:none;" download="true">{{"Haga clic para ver las reglas" | translate}}</a>
                <p style="padding: 15px;color: #8ec63f" *ngIf="!filestatus">--</p>
            </div>
            <div class="ui-g-4  ui-sm-4 " *ngIf="groundInformation?.is_peloteando_certified">
                <label class="label1">{{"Costo por hora" | translate}}</label>
                <br/>
                <label class="label2" style="cursor: pointer;" (click)="cost_per_game_popup=true;">{{'Haga clic para ver el costo' | translate}}</label>
            </div>
            <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4 dotDisplay" *ngIf="groundInformation?.is_peloteando_certified">
                <label class="label1">{{'Métodos de pago' | translate}}</label>
                <br/>
                <div>
                    <label class="label2" *ngFor="let pay of groundInformation?.payment_method">{{pay.option}}
                        <br>
                    </label>
                    <label class="label2" *ngIf="!groundInformation?.payment_method">--</label>
                </div>
            </div>
            <div class="ui-g-4  ui-sm-4 ">
                <label class="label1">{{'Nombre del chancha' | translate}}</label>
                <br/>
                <p style="padding: 15px;color: #8ec63f">
                    {{data?.ground_name}}
                </p>
            </div>
            <div class="ui-g-4  ui-sm-4 ">
                <label class="label1">{{'Descuento al pagar con tarjeta' | translate}}</label>
                <br/>
                <p style="padding: 15px;color: #8ec63f">
                    {{data?.discount?data?.discount:'--'}}{{data?.discount?'%':''}}

                </p>
            </div>
            <div class="ui-g-4  ui-sm-4 ">
                <label class="label1">{{"Pago minimo para reservar" | translate}}  </label>
                <br/>
                <p style="padding: 15px;color: #8ec63f">
                    {{data?.minimum_fee?data?.minimum_fee:'--'}}
                </p>
            </div>
            <!-- <div class="ui-g-4  ui-sm-4 ">
                <label class="label1">Vat(%)</label>
                <br/>
                <p style="padding: 15px;color: #8ec63f">
                    {{groundInformation?.vat?groundInformation?.vat:'--'}}
                </p>
            </div> -->
        </div>
    </div>
</div>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-sm-12  padd">
        <span class="title_bio">{{'BIO' | translate}}</span>
        <hr class="line">
        <p class="para">{{groundInformation?.bio}}</p>
    </div>
    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 padd">
        <span class="title_rank">{{'GALERÍA' | translate}}</span>
        <hr class="line">
    </div>

    <div class="ui-g-12 ui-sm-12 ui-md-12 padd rating_div">
        <div class="ui-g-9 ui-md-8 ui-sm-12 groundImageDiv" *ngIf="admin">
            <div class="ui-g-2 ui-sm-6 imageDiv" *ngFor="let info of groundImageInfo;let i of index;">
                <button type="button" class="choose_file_ground" style="cursor:pointer" *ngIf="info?.url=='' && admin">
                    <span style="cursor: pointer; color: black;position: relative;font-size: 1.2em;">{{'SUBIR' | translate}}</span>
                    <input type="file" name="img" value="upload" (change)="groundPicChange($event,input,'ground',info?.pos)" #input />
                </button>
                <img src='{{imageBasePath}}{{info?.url}}' alt="" class="choose_file_ground_img" *ngIf="info?.url!=''" (hover)="hoverTrue=true" />
                <div class="fileContainer choose" *ngIf="info?.url!='' && admin">
                    <img src='assets/images/upload.png' alt="" style="width: 25px" />
                    <input type="file" name="img" value="upload" (change)="groundPicChange($event,input,'ground',info?.pos)" #input />
                    <img src='assets/images/delete.png' (click)="delImgPos=info?.pos;deleteConfirmationMessage=true" class="delImage" alt="" />
                    <img src='assets/images/zoom.png' class=" previewImage" (click)="preview=true;previewUrl=info?.url " *ngIf="info?.url!=''" alt="" />
                </div>
            </div>
        </div>
        <div class="ui-g-9  ui-sm-12 groundImageDiv" *ngIf="!admin">
            <div class="ui-g-2 ui-sm-6 imageDiv" *ngFor="let info of ground_image;let i of index;">
                <img src='{{imageBasePath}}{{info?.image}}' alt="" class="choose_file_ground_img" (hover)="hoverTrue=true" />
                <div class="previewDiv choose">
                    <img src='assets/images/zoom.png' class=" previewImageAdmin" (click)="preview=true;previewUrl=info?.image " alt="" />
                </div>
            </div>
        </div>
        <div class="ui-g-3  ui-sm-12 " style="float:right; ">
            <div class="ui-g-12 ui-sm-12 rating_mob_view text-center">
                <span class="technique ">{{'SERVICIO AL CLIENTE' | translate}}</span>
            </div>
            <div class="ui-g-12 ui-sm-12 rating_bottom">
                <div class="rating ">
                    <p-rating [(ngModel)]="tech_rating " readonly="true " [cancel]="false "></p-rating>
                </div>
            </div>
            <div class="ui-g-12 ui-sm-12 text-center" style="padding-top:0%; ">
                <div class="ui-g-12 " style="display:grid">
                    <span class="total_rating ">{{'Ratings:' | translate}}{{total_rating}}</span>
                    <span class="att ">{{'PUEDE MEJORAR' | translate}}</span>
                </div>
            </div>
            <div class="ui-g-12 ui-sm-12 text-center " style="padding-top:0%; ">
                <span class="like-txt " (click)="ratingPopup() ">{{'Calificar la cancha' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="ui-g-12 ui-sm-12 padd " *ngIf="groundInformation?.is_peloteando_certified">
    <span class="title_shoutout ">{{'SHOUTOUTS' | translate}}</span>
    <hr class="line">
    <br>
    <div class="ui-g ui-fluid " *ngFor="let info of shoutout ">
        <div class="ui-g-1 ">
            <i class="fa fa-bullhorn fontAwesomeColor " aria-hidden="true " style="color:#8DCF25; "></i>
        </div>
        <div class="ui-g-11 ">
            <p style="margin-left:-7%;color: #828282;font-size:1.1em ">{{info.shoutout}}</p>
        </div>
    </div>
    <div style="margin-top:3%;float:right; ">
        <button *ngIf="see_more_bttn " type="button " pButton (click)="shoutoutPage() " label="{{'VER MAS' | translate}} " style="background: #C4C4C4; "></button>
    </div>
</div>
<!------------------------------Rating Popup---------------------------------------->

<div class="regpopup1 reg ">
    <p-dialog [(visible)]="showRatingPopup" class="model">
        <div class="ui-g ui-fluid" style="text-align: -webkit-center;">
            <div class="ui-g-12 ui-sm-12  delete_ground_header">
                <span>{{'MENSAJE' | translate}}</span>
            </div>
            <div class="ui-g-12 ">
                <p style="text-align:center; ">{{"SERVICIO AL CLIENTE" | translate}}</p>
            </div>
            <div class="ui-g-12">
                <div class="rating ">
                    <p-rating [(ngModel)]="user_rating " [cancel]="false "></p-rating>
                </div>
            </div>
            <p style="margin-top: 2%;margin-bottom:2%; color: darkcyan;width:100%;text-align:center ">{{'clasificaciones anteriores dadas por usted' | translate}}</p>
        </div>
        <div class="ui-g ">
            <div class="ui-g-6 ">
                <button type="button " pButton (click)="showRatingPopup=false" label="{{'CANCELAR' | translate}} " style="background-color:#C4C4C4; "></button>
            </div>
            <div class="ui-g-6 ">
                <button type="button " pButton (click)="updateRatingInfo() " class="ui-button-green " label="{{'ENVIAR' | translate}} "></button>
            </div>
        </div>
    </p-dialog>
</div>
<!--------------------Rating Popup End------------------------------------>
<div [class.backdrop]="ratingPopupBackdrop "></div>
<div [class.backdrop]="showRatingPopup"></div>
<div [class.backdrop]="cost_per_game_popup "></div>

<p-dialog [(visible)]="cost_per_game_popup " modal="modal " class="cost_per_game_profile ">
    <div class="ui-g ">
        <div class="ui-g-12 headingOfPopup ">
            <span>{{'Costo por hora' | translate}} </span>
        </div>
    </div>
    <div class="ui-g slot_div " style="text-align:center ">
        <div class="ui-g-4 ">
            <span>{{'Días' | translate}}</span>
        </div>
        <div class="ui-g-2 " *ngFor="let tInfo of timeSlot " style="text-align:center ">
            <span>{{tInfo?.from_time}}-{{tInfo?.to_time}}</span>
        </div>
    </div>
    <div class="ui-g ui-fluid " *ngFor="let info of data?.days;let i=index " style="text-align: center; ">
        <div class="ui-g-4 ">
            <label>{{info?.day}}</label>
        </div>
        <div class="ui-g-2 " *ngFor="let tInfo of info?.time_slot ">
            <label>{{tInfo?.amount}}</label>
        </div>
    </div>
    <hr style="margin-top: 15px">
    <div class="ui-g ui-fluid " style="padding-bottom: 5px;">
        <div class="ui-g-5 ui-sm-3">
        </div>
        <div class="ui-g-2 ui-sm-6">
            <button type="button " pButton (click)="cost_per_game_popup=false " label="{{'CERRAR' | translate}} "></button>
        </div>
        <div class="ui-g-5 ui-sm-3">
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="preview " modal="modal " class="groundImagePreview " showEffect="fade" [resizable]="false" [responsive]="true">
    <div class="ui-g " (click)="preview=false ">
        <div class="ui-g-12" id=" main ">
            <img src='{{imageBasePath}}{{previewUrl}}' alt=" " class="popupPreviewImage " />
        </div>
    </div>
</p-dialog>

<div [class.backdrop1]="preview " *ngIf="preview" (click)="preview=false ">
    <img style="float: right;" src='assets/images/crossIcon.png' class=" previewImage" (click)="preview=false" />
</div>

<div class="ui-g ui-fluid reservarMessage">
    <p-dialog [(visible)]="deleteConfirmationMessage" modal="modal" [modal]=true>
        <div class="ui-g">
            <div class="ui-g-12 headingOfPopupReserve">
                <span>{{'Confirmar' | translate}}</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <span style="color: darkcyan">{{'¿Estás seguro?' | translate}}</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-3">
                <button type="button" pButton (click)=" deleteConfirmationMessage=false" class="ui-button" label="{{'NO' | translate}}"></button>
            </div>
            <div class="ui-g-3">
                <button type="button" pButton (click)="deleteGroundImage(delImgPos);deleteConfirmationMessage=false;" class="ui-button-green" label="{{'SI' | translate}}"></button>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
    </p-dialog>
</div>
<div [class.backdrop]="deleteConfirmationMessage"></div>