.label1 {
    color: #828282;
}

.label2 {
    color: #8dcf24;
}

.container {
    background: #f2f2f2;
    padding-bottom: 2em;
    margin-left: 5px;
    margin-bottom: 10px;
}

.title_bio {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3em;
    float: left;
    margin-right: 5px;
}

.see_more {
    margin-left: 1%;
    cursor: pointer;
}

.title_rank {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3em;
    float: left;
    margin-right: 5px;
}

.title_shoutout {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3em;
    float: left;
    margin-right: 5px;
}

.line {
    margin-top: 10px;
}

.para {
    color: #828282;
    text-align: justify;
    margin-top: 25px;
    margin-left: 20px;
}

.dotDisplay {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8dcf24;
}

.attitute {
    color: red;
    margin-right: 13%;
    float: right;
}

.technique {
    color: #00253f;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3em;
}

.att {
    font-size: 1.2em;
    color: #8dcf24;
}

.total_rating {
    font-size: 1.2em;
}

.rating_div {
    background: #f2f2f2;
    margin-top: 1%;
}

.img {
    width: 10%;
    margin-top: 1%;
    height: 70px;
    border-radius: 50%;
    margin-left: 3%;
    float: left;
}

#rankName {
    margin-left: 15%;
    font-size: 1.5em;
    color: #828282;
    margin-top: 1%;
    padding-bottom: 1%;
}

#rankInfo {
    margin-left: 15%;
    text-align: justify;
    padding-right: 2%;
    color: #828282;
}

.rating {
    background: #828282;
    padding: 8px 0px 8px 0px;
    border-radius: 25px;
    text-align: -webkit-center;
    width: 50%;
}

.rate {
    margin-left: 9em;
    color: blue;
    text-decoration: underline;
}

.rank {
    background-color: #F2F2F2;
    margin-top: 2%;
}

.lab_rank {
    padding-left: 0px;
}

.lab_rank1 {
    padding-left: 0px;
    font-size: 1.5em;
}

.mobile {
    display: none;
}

.desktop_view {
    display: block;
}

.regpopup1 .ui-dialog {
    position: fixed;
    padding: 0;
    overflow: hidden;
    width: 281px;
    background: white !important;
    border-radius: 2%;
    margin-left: 17%;
    margin-top: 0.5px;
}

.reg>.model>.ui-dialog .ui-dialog-content {
    background: #00253f !important;
}

.like-txt {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
}

.backdrop1 {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 2000 !important;
}

.slot_div {
    margin-top: 10px;
    background-color: #F0F2F4;
    border: 1px solid lightgray;
}

.add_text {
    width: 315px;
     
}

.headingOfPopup {
    background-color: #00253F;
    text-align: center;
}

.headingOfPopup span {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'ChaletComprime CologneEighty';
}

.choose_file_ground_img {
    position: relative;
    width: 120px;
    margin-left: -6px;
    height: 120px;
    margin-top: -6px;
    overflow: hidden;
}

.groundImageDiv {
    /*width: 115px;*/
    text-align: center;
}

.choose_file_ground {
    position: relative;
    width: 95px;
    margin-left: -6px;
    height: 90px;
    margin-top: -6px;
    overflow: hidden;
}

input[type='file'] {
    height: 115px;
    width: 115px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.imageDiv {
    width: 120px;
    height: 120px;
    margin-right: 2px;
    margin-top: 5px;
    position: relative;
}

.imageDiv:hover .choose {
    display: block;
}

.imageDiv:hover .fa {
    display: block;
}

.choose {
    display: none;
}

.fa {
    display: none;
}

.fileContainer {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    height: 51%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
}

.delImage {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
}

.closeIcon {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    display: block;
    float: right;
    cursor: pointer;
    margin-top: 10px;
    z-index: 10050 !important;
}

.choose_file_ground {
    position: relative;
    width: 120px;
    margin-left: -6px;
    height: 120px;
    margin-top: -6px;
    overflow: hidden;
}

.previewImage {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-top: 7px;
    cursor: pointer;
}

.previewImageAdmin {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
}

.previewDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupPreviewImage {
    width: 785px;
    height: 458px;
}

.headingOfPopupReserve {
    background-color: #00253F
}

.headingOfPopupReserve span {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'ChaletComprime CologneEighty';
}

.rating_bottom {
    display: flex;
    justify-content: center;
}

.delete_ground_header {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.delete_ground_header span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

@media only screen and (max-width: 640px) {
    .large {
        display: none;
    }
    .rate {
        margin-left: 2em;
    }
    .mobile {
        display: block;
    }
    .popupPreviewImage {
        width: 281px;
        height: 296px;
    }
    .textEllipse {
        /* white-space: nowrap; */
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .desktop_view {
        display: none;
    }
    .sm {
        /* white-space: nowrap; */
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .technique {
        font-size: 2em;
    }
    .att {
        font-size: 1.2em;
        color: #8dcf24;
    }
}