 /**** desktop view ****/
 
 .footer {
     background: #113861;
     color: white;
     font-size: 14px;
 }
 
 .section {
     width: 80%;
     margin: auto;
 }
 
 .flex {
     display: flex;
     align-items: center;
 }
 /* .mobile {
     display: none
 }
  */
 
 .no-padding {
     padding-left: 0px;
     padding-right: 0px;
 }
 
 .logo {
     padding-right: 17px;
 }
 
 .logodiv {
     text-align: right;
     padding-right: 17px;
     padding: 40px 0px;
 }
 
 .social {
     padding: 30px 0px;
 }
 
 .main_div {
     margin: 20px 0px 0px 0px;
     line-height: 25px;
 }
 
 @media only screen and (max-width: 875px) and (min-width:640px) {
     .playstore {
         width: 100%
     }
 }
 
 @media only screen and (max-width: 640px) {
     .desktop {
         display: none;
     }
     .mobile {
         display: block;
     }
     .footer {
         font-size: 10px
     }
     .logodiv {
         text-align: center;
         padding: 0px 0px;
         display: none;
     }
     .display {
         display: grid;
         font-size: 12px;
     }
     .social {
         padding: 5px 0px
     }
     .main_div {
         margin: 0px
     }
 }
 
 @media only screen and (max-width: 1050px) and (min-width:900px) {
     .section {
         width: 94%;
     }
 }
 
 @media only screen and (max-width: 899px) and (min-width:640px) {
     .footer {
         font-size: 12px
     }
     .section {
         width: 94%;
     }
     .logo {
         padding-right: 10px;
     }
 }