<div class="footer no-padding">
    <div class="ui-g section no-padding">
        <div class="ui-g-9 ui-sm-12 no-padding">
            <div class="ui-g-12 no-padding display main_div">
                <!-- <div class="ui-g-2">
                    <p routerLinkActive="activeLink" routerLink="./../home/pricing">{{'Precios' | translate}}</p>
                </div> -->

                <span style="margin-right:50px;" (click)="openurl('https://pelotea.zendesk.com/')">
                    {{'Soporte' | translate}}
                </span>
                <span style="margin-right: 50px;" routerLinkActive="activeLink" routerLink="./../home/terms">
                    {{'Términos y Condiciones' | translate}}
                </span>
                <span style="margin-right: 50px;" routerLinkActive="activeLink" routerLink="./../home/about">
                  {{'Sobre Nosotros' | translate}}
                </span>
                <span style="margin-right: 50px;cursor:pointer" routerLinkActive="activeLink" routerLink="./../home/talk">
                    {{'Contáctanos' | translate}}
                </span>
            </div>

            <div class="ui-g-12  social">
                <img (click)="openurl('https://www.facebook.com/peloteandoapp/')" style="padding-right: 25px;" src="assets/images/Facebook_white.png">
                <img (click)="openurl('https://twitter.com/peloteandoapp/')" style="padding-right: 25px;" src="assets/images/Twitter_white.png">
                <img (click)="openurl('https://www.instagram.com/peloteandoapp/')" style="padding-right: 25px;" src="assets/images/Instagram.png" class="insta">
                <!-- <img style="padding-right: 10px;" src="assets/images/foot_whatsup.png" />
                    <p>+593 99 7100 102</p> -->
            </div>

        </div>

        <div class="ui-g-3 ui-sm-12 logodiv">
            <img class="logo" src="assets/images/pelo.png">
            <p>{{'&copy; 2018 Pelotea.com' | translate}}</p>
        </div>

        <!-- <div style=" width: 1145px;margin: auto; margin-bottom: 10px;" class="ui-g-12 section flex desktop">
           


          
        </div> -->

        <!-- <div class="ui-g-12 mobile">
            <div class="ui-g-12 flex">
                <! <img (click)="openurl('https://play.google.com/store/apps/details?id=com.pelotea&hl=en')" style="height: 35px;" class="playstore" src="assets/images/playstore.png"> -->
        <!-- <img (click)="openurl('https://www.facebook.com/peloteandoapp/')" style="padding-right: 10px;" src="assets/images/Facebook_white.png">
                <img (click)="openurl('https://twitter.com/peloteandoapp/')" style="padding-right: 10px;" src="assets/images/Twitter_white.png">
                <img (click)="openurl('https://www.instagram.com/peloteandoapp/')" style="padding-right: 10px;" src="assets/images/Instagram.png" class="insta">
                <img style="padding-right: 10px;" src="assets/images/foot_whatsup.png" />
            </div>  -->
        <!-- <div style="text-align: center;" class="ui-g-12">
                <p>+593 99 7100 102</p>
            </div> -->

        <!-- <div style="text-align: center;" class="ui-g-12 ">
                <img src="assets/images/pelo.png">
                <p>{{'&copy; 2018 Pelotea.com' | translate}}</p>
            </div>
        </div> -->


    </div>
</div>