.suggest {
    color: #113861;
    font-size: 18px;
    font-family: roboto-regular;
}
.suggest-list {
    color: #8b8e95;
    font-family: roboto-medium;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}

.skip-all{
    width: 20px
}