<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div style="display: flex;align-items: end;" class="ui-g-12">
            <div class="ui-g-10">
                <app-profile-complete [progress]="profile_complete_percentage"></app-profile-complete>
            </div>
            <div style="text-align: right;" class="ui-g-2">

                <img (click)="skipAll()" class="skip-all" src="assets/images/signup/Cross.png" />
            </div>
        </div>
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"What should we call you?" | translate}}
            </p>
            <span class="ui-float-label">
        <input (keyup)="validate($event)" [(ngModel)]="user" pInputText />
        <label for="float-input">{{"Username" | translate}}</label>
      </span>
            <img class="correct" *ngIf="check_user" src="assets/images/signup/correct.png" />
            <p class="exist" *ngIf="user_exist">{{"Username has already been taken" | translate}}</p>
            <p class="exist" *ngIf="user_short_length">{{"Username is too short." | translate}}</p>
            <p class="exist" *ngIf="!tagname_valid1">{{"Username must have one digit and one aplhabet" | translate}}</p>
        </div>

        <div class="ui-g-12" style=" display: flex;align-items: baseline;margin-top: 32px;">
            <div class="ui-g-4">
                <p class="suggest">
                    {{"Suggestions" | translate}}:
                </p>
            </div>
            <div col-8>
                <div class="suggest-list" no-padding (click)="selectUser(i)" *ngFor="let i of suggestions">
                    @{{i}}&nbsp;
                </div>
            </div>
        </div>

        <div class="ui-g-12" style="margin-top: 32px;">
            <button [disabled]="!check_user" (click)="next()" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}">
      </button>
        </div>
        <div class="ui-g-12" style="text-align: center">
            <p (click)="userName(true)" style="cursor: pointer;;color: #8b8e95;font-size: 16px;text-align: center;margin-top: 16px;display: grid;">
                {{"Skip" | translate}}
            </p>
        </div>
    </div>
</div>