.full-container {
    padding-top: 215px;
    background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 215px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../../assets/images/tourCoverPic.png) no-repeat;
    background-color: #ffffff;
    background-size: contain;
}

@media only screen and (max-width: 640px) {
    .full-container {
        padding-top: 126px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 215px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../../assets/images/tourCoverPic.png) no-repeat;
    }
    .background_img {
        padding-top: 50px !important;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 243px, #f8f8f8 0px) 0% 0%/100%, url(./../../../../assets/images/tourCoverPic.png) no-repeat !important;
        background-size: 100% 98% !important;
    }
    .head img {
        height: 80px;
        width: 120px;
    }
    .text {
        width: 92% !important;
    }
    .heading {
        padding: 10px 10px !important;
    }
}

.heading {
    padding: 15px 30px;
}

.background_img {
    background-image: url("./../../../../assets/images/tourCoverPic.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 5%;
    height: 110px;
}

.paddThisCol1 {
    padding-right: 3%;
}

.section {
    max-width: 970px;
    margin: 0 auto;
}

.crearfONT {
    border-bottom: 1px solid #828282;
    padding-bottom: 1%;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    font-size: 3.5em;
    color: #00253f;
    margin-bottom: -2%;
}

.paddThisCol {
    font-size: 12px;
}

.perfilyfONT {
    color: #00253F;
    font-size: 25px;
    font-family: 'ChaletComprime CologneEighty';
}

.ui-inputtext {
    padding: 10px 10px;
    width: 93%;
    font-family: 'Montserrat-Regular';
}

.paddLeft {
    padding-left: 3%;
    padding-bottom: 3%;
}

.paddLeft1 {
    padding-left: 6%;
    padding-bottom: 6%;
}

.paddLeft2 {
    padding-left: 6%;
    padding-bottom: 3%;
}

.ui-tabview-panel {
    display: block;
    width: 60%;
}

.paddSUBIR {
    padding-left: 3%;
}

.LoremPADD {
    padding-left: 10%;
}

.wallpic {
    max-width: 100%;
}

.text {
    padding: 10px 10px;
    height: 115px;
    border-radius: 20px;
    background: #f2f2f2;
    width: 90%;
    outline: none;
    width: 100%;
    color: #828282;
}

.text:focus {
    outline: none;
    border: 1px solid #9AD643;
}

.circleParent {
    border: 1px solid grey;
    border-radius: 20px;
    width: 80%;
    margin: auto;
}

.cercleSmall {
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 20px;
    float: left;
}

.PABLO {
    padding: 3% 3% 1% 3%;
}

.colorCLAVO {
    color: #40bf40;
    font-size: 10px;
}

.paddFont {
    margin-left: 2%;
}

.ui-inputtext.inpText {
    padding: 0px;
    width: 100%;
}

.topPDD {
    padding-top: 0px;
}

.backgr_img {
    padding-bottom: 3%;
}

.borderRight {
    border: none;
    cursor: pointer;
    background-color: #bfbfbf;
    outline: none;
    border-right: 1px solid grey;
    width: 21%;
    padding: 1%;
}

.paddTh {
    padding-left: 2%;
}

.hovers:hover {
    background-color: #208000;
}

.circlesm {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 50px 25px 50px 25px;
    margin: auto;
}

.Encontrar {
    padding: 2%;
}

.inpTXT {
    margin: 2%;
}

.btn {
    margin-left: 2%;
    margin-bottom: 2%;
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    width: 125px;
    height: 3em;
    margin-top: -10px;
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: #00253F;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    padding-top: 19px;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.name {
    opacity: .5;
}

.auto {
    width: 100px;
}

.ui-dropdown .ui-dropdown-label {
    width: 90%;
}

.errorText {
    color: red;
    position: absolute;
    padding-top: 2px;
    padding-left: 1%;
}

.image_cropper_heading {
    padding: 0;
    font-family: ChaletComprime CologneEighty;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
}

.result {
    margin: 40px auto;
    margin-bottom: 0;
    display: block;
    background: gray;
    width: 200px;
    border-radius: 100px;
}

.result>img {
    border-radius: 100px;
}

.square>img {
    width: 95%;
    margin-left: 2%;
    height: 30%;
    margin-top: 35%;
}

input[type='file'] {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.cancel {
    width: 85% !important;
}

.save {
    padding: 8px 16px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.cropper_label {
    padding-left: 5%;
    color: #828282;
    font-size: 1.2em;
}

.errorText {
    color: red;
    position: absolute;
    padding-top: 2px;
    padding-left: 1%;
}