<loader *ngIf="loader">
</loader>
<p-growl [value]="msgs"></p-growl>

<div class="ui-g  background_img">
    <div class="tournament_profil">
        <div class="ui-g">
            <p-dialog [(visible)]="display" modal="modal" showEffect="fade">
                <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                    <div class="ui-g-10 ui-md-10 ui-lg-10 heading">
                        <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                    </div>
                    <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                    </div>
                </div>
                <div class="ui-g" style="padding: 30px;padding-right:0;">
                    <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="circleImg">
                        <img-cropper #cropper [image]="data2" [settings]="cropperSettings2"></img-cropper>
                    </div>
                    <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="squareImg">
                        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                    </div>
                    <div class="ui-g-5 ui-sm-5 ui-md-5 ui-lg-5 text-center">
                        <label class="cropper_label">{{"Preview" | translate}}</label>
                        <span class="result rounded" *ngIf="circleImg">
                        <img [src]="data2.image" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight">
                    </span>
                        <span class="square" *ngIf="squareImg">
                        <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                    </span><br/>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-6  ui-md-6 ui-lg-6"></div>
                    <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
                        <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="disable()"></button>
                        <button pButton type="button" class="ui-button-green save" label="{{'Guardar' | translate}}" (click)="save()"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
    </div>
</div>
<div class="sections" style="max-width:970px;margin:auto;">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 paddThisCol">
            <p class="crearfONT">{{'CREAR EQUIPO' | translate}}</p>
        </div>
    </div>

    <div class="ui-g ui-fluid" style="padding-top:2%" [formGroup]="CreateTeamForm">
        <div class="ui-g-8 ui-md-8 ui-sm-12 ui-lg-8 paddThisCol">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6">
                    <p class="paddLeft">{{'Equipo' | translate}}<label style="color:red;margin-left:-1em;">*</label></p>
                    <input type="text" pInputText [formControl]="CreateTeamForm.controls['Name']" placeholder="{{'Nombre del equipo' | translate}}" />
                    <div *ngIf="!CreateTeamForm.controls['Name'].valid && CreateTeamForm.controls['Name'].dirty">
                        <p *ngIf="CreateTeamForm.controls['Name'].hasError('required')" style="color:red;">{{'Equipo Required.' | translate}}</p>
                    </div>
                </div>
                <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6">
                    <p class="paddLeft">{{'Slogan' | translate}}</p>
                    <input type="text" pInputText [formControl]="CreateTeamForm.controls['Motto']" placeholder="{{'Slogan del equipo' | translate}}" />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6 padd">
                    <p class="paddLeft">{{'Tipo' | translate}}<label style="color:red;margin-left:-1em;">*</label></p>
                    <p-dropdown [options]="gender" [formControl]="CreateTeamForm.controls['team_type']">
                    </p-dropdown>
                    <!-- <div class="ui-g-6">
                            <p class="paddLeft1">{{'País' | translate}}<label style="color:red;margin-left:-1em;">*</label></p>
                            <p-dropdown [options]="countries" [formControl]="CreateTeamForm.controls['country']" (onChange)='selectedcountryFun($event)'>
                            </p-dropdown>
                            <p *ngIf="country_required" class="errorText">{{'país deseado' | translate}}</p>
                        </div> -->
                </div>
                <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6 padd">
                    <p class="paddLeft">{{'Ciudad' | translate}}<label style="color:red;margin-left:-1em;">*</label><span style="color:darkcyan;font-size: 0.7em;">{{'Escoger una de las opciones que se despliegan' | translate}}</span></p>
                    <p-autoComplete formControlName='selectCity' placeholder="{{'Ciudad'| translate}}" (onSelect)="setLoaction($event)" field="description" [suggestions]="autocompleteItems" (completeMethod)="search($event)">
                    </p-autoComplete>
                    <!-- <p-autoComplete [formControl]="CreateTeamForm.controls['City']" (click)="selectedcityFun(CreateTeamForm.controls['City'].value)" field="label" [suggestions]="filteredCountries" (completeMethod)="filterCountrySingle($event)" [size]="30" placeholder="{{'Ciudad' | translate}}"
                        [minLength]="1"></p-autoComplete> -->
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-12 ui-lg-4 paddThisCol1">
            <div class="ui-g-12">
                <p class="paddLeft">Bio</p>
                <textarea pInputTextarea autoResize="autoResize" placeholder="{{'Cuentanos un poco de tu historia futbolística o cualquier cosa sobre ti' | translate}}" [formControl]="CreateTeamForm.controls['Bio']" class="text"></textarea>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 paddThisCol">
            <p class="perfilyfONT">{{'Logo y portada' | translate}}</p>
            <hr>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g-6 ui-md-5 ui-sm-12 ui-lg-6">
                <div class="ui-g">
                    <div class="ui-g-8 ui-sm-6">
                        <p align="right" *ngIf="image_name==''">{{'Imagen del logo' | translate}}</p>
                        <p align="right" style="overflow:hidden;width:21em;" *ngIf="image_name!=''">{{image_name}}</p>
                    </div>
                    <div class="ui-g-4 ui-sm-6 paddSUBIR">
                        <button type="button" class="choose_file" style="cursor:pointer">
                                <input type="file" name="img" value="upload" style="cursor:pointer" (change)="fileChangeListener($event,'profilepic')"/>
                                <span style="cursor:pointer;color: white;">{{'SUBIR' | translate}}</span> 
                             </button>
                    </div>
                </div>
            </div>
            <div class="ui-g-6 ui-md-5 ui-sm-12 ui-lg-6">
                <p class="LoremPADD">{{'Subir el logo de tu equipo de 300 x 300 pixels. Si no subes un logo el sistema asignará un logo generalizado del sistema para tu equipo. Si no subes el logo ahora no te preocupes lo podrás hacer más tarde.' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <p align="center">{{'Elige una Imagen de portada para tu equipo' | translate}}</p>
        </div>
    </div>
</div>

<div class="ui-g section">
    <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6 left-pro" *ngFor="let cover of coverPicList">
        <img src={{cover_url}}{{cover.cover_pic}} width="100%" height="100px" [class.name]="cover.id==cover_id" (click)="get_image(cover.cover_pic,cover.id)">
    </div>
</div>

<div class="ui-g paddThisCol section" style="padding-top:2em;padding-bottom: 90px">
    <div class="ui-g-8 ui-md-8 ui-sm-0 ui-lg-8"></div>
    <div class="ui-g-4 ui-md-4 ui-sm-12 ui-lg-4" style="text-align:end;">
        <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button buton-2 CANCELAR" (click)="cancel()"></button>
        <button pButton type="button" [disabled]="loader" label="{{'Continuar' | translate}}" class="ui-button-green buton-2 CANCELAR" (click)="onSubmitXhr(CreateTeamForm.value)"></button>
    </div>
</div>