input {
    width: 96%;
}

.heading {
    padding: 8px 0px 8px 0px;
}

.heading h2 {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
}

.footer {
    padding: 10px 0px 15px 0px;
}

.fb>button {
    font-family: 'Montserrat-Regular';
}

.terms_conditions {
    padding: 28px 0px 10px 0px;
    text-align: left;
}

.terms_conditions small {
    color: #8DCF25;
    font-weight: normal;
    font-size: 1em;
}

.or {
    padding: 10px 0px 10px 0px;
}

button.ui-button.ui-button-blue {
    width: 100%;
}

button.ui-button.ui-button-green {
    width: 93%;
}

#auth .ui-grid.ui-grid-pad>.ui-grid-row>div {
    padding: 5px 10px;
}

.error {
    position: absolute;
    padding-left: 10px;
}

.errorText {
    color: red;
}

.message :first-child {
    color: #828282;
    font-weight: normal;
    font-size: 1.1em;
}

.message :first-child span {
    color: darkcyan
}

.message :last-child {
    color: #828282;
    font-weight: normal;
    font-size: 1.1em;
    margin-top: 10px;
}

.message :last-child a {
    color: blue;
    cursor: pointer
}

.message {
    font-family: Montserrat-Light;
    font-size: 14px;
    height: 230px;
    padding-top: 45%;
    color: #888;
}

@media screen and (min-width:640px) and (max-width:2000px) {
    .chkboxx {
        padding-left: 1%;
        margin-right: 3%;
    }
    .error {
        position: absolute;
    }
}