<loader *ngIf="loader"></loader>
<div class="login_outer_style">
    <div *ngIf="!signup_status">
        <div class="ui-g heading">
            <div class="ui-g-12">
                <h2>{{'Regístrate' | translate}}</h2>
            </div>
        </div>
        <div class="ui-g social-button">
            <div class="ui-g-12 fb">
                <button pButton type="button" (click)="facebookLogin()" icon="fa fa-facebook" label="{{'Regístrate con Facebook' | translate}}"
                    class="ui-button-blue"></button>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 fb">
                <button (click)="googleLogin()" pButton style="background: #D64D3D !important;width:100%" type="button" label="{{'Regístrate con Google' | translate}}"
                    icon="fa fa-google"></button>
            </div>
        </div>

        <p class="or">{{'o con tu email' | translate}}</p>
        <form role="form" [formGroup]="signupForm" id="auth">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <input type="text" pInputText placeholder="{{'Nombre' | translate}}" [formControl]="signupForm.controls['first_name']" [(ngModel)]="userObj.name"
                            maxlength="80" id="inp" required/>

                        <div class="error" *ngIf='!signupForm.controls["first_name"].valid && signupForm.controls["first_name"].dirty'>
                            <p class="errorText"> {{'Se requiere el primer nombre' | translate}}</p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="ui-g">
                    <div class="ui-g-12">
                        <input type="text" pInputText placeholder="{{'Apellido' | translate}}" [formControl]="signupForm.controls['last_name']" [(ngModel)]="userObj.last_name"
                            maxlength="80" id="inp" required/>

                        <div class="error" *ngIf='!signupForm.controls["last_name"].valid && signupForm.controls["last_name"].dirty'>
                            <p class="errorText"> {{'Se requiere apellidos' | translate}}</p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="ui-g ">
                    <div class="ui-g-12">
                        <input type="text" pInputText placeholder="{{'Dirección de correo electrónico' | translate}}" (keyup)=emailVerify($event)
                            [formControl]="signupForm.controls['email']" [(ngModel)]="userObj.email" required/>
                        <div class="error" *ngIf='(!signupForm.controls["email"].valid && signupForm.controls["email"].dirty)'>
                            <p class="errorText"> {{'Ingresar email con el formato correcto' | translate}}</p>
                        </div>
                        <div class="error" *ngIf='emailExists '>
                            <p class="errorText"> {{"correo electrónico ya registrado" | translate}}</p>
                        </div>
                        <p-growl [value]="msgs"></p-growl>
                    </div>
                </div>
                <br />

                <div class="ui-g ">
                    <div class="ui-g-12 ">
                        <input type="password" pInputText placeholder="{{'Contraseña(Mínimo 6 carácteres)' | translate}}" [formControl]="signupForm.controls['password']"
                            [(ngModel)]="userObj.password" required (keyup)="checkLength(userObj.password)" />
                        <div class="error" *ngIf='!signupForm.controls["password"].valid && signupForm.controls["password"].dirty'>
                            <p class="errorText"> {{'Ingresar la contraseña' | translate}}</p>
                        </div>
                        <div class="error" *ngIf='passStatus '>
                            <p class="errorText">{{'Mínimo seis caracteres' | translate}}</p>
                        </div>
                    </div>
                </div>
                <br />

                <div class="ui-g ">
                    <div class="ui-g-12 " style="padding:0px;">
                        <div class="ui-g-4">
                            <div class="ui-g-10" style="padding:0px;">
                                <p-dropdown (onChange)="validMobile($event)" [options]="code" [formControl]="signupForm.controls['code']">
                                    <ng-template let-car pTemplate="label">
                                        <div style="display:flex;align-items:center">
                                            <div style="    width: 30px;">
                                                {{car.label}}
                                            </div>
                                            <div style="    text-align: right;" *ngIf="car.label=='+593'" class="ui-g-6">
                                                <img src="assets/images/Ecuador.png" style="width: 15px;height: 10px;  " />
                                            </div>
                                            <div *ngIf="car.label=='+502'" style="    text-align: right;" class="ui-g-6">
                                                <img src="assets/images/Guatemala-flag (1).jpg" style="width: 15px;height: 10px;  " />
                                            </div>
                                            <div *ngIf="car.label=='+1'" style="    text-align: right;" class="ui-g-6">
                                                <img src="assets/images/usa_flag.jpg" style="width: 15px;height: 10px;  " />
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <!-- <input type="text" [(ngModel)]="country_code" pInputText   [ngModelOptions]="{standalone: true}"> -->
                            </div>
                            <div class="ui-g-2">
                                <span style="font-size: 22px;">-</span>
                            </div>
                        </div>
                        <div class="ui-g-8">
                            <input type="number" pInputText placeholder="{{'Celular' | translate}}" min="0" (keyup)="mobileVerify($event.target.value)"
                                [formControl]="signupForm.controls['mobile']" [(ngModel)]="userObj.mobile" maxlength="{{length}}"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                required />
                        </div>
                    </div>
                </div>
                <div class="ui-g error" *ngIf="!isMobValid">
                    <p class="errorText">{{'Celular debe ser de' | translate}} {{length}} {{'dígitos' | translate}}</p>
                </div>
            </div>
            <div class="ui-g terms_conditions">
                <div class="ui-g-1 ui-sm-1 ui-lg-1 chkboxx">
                    <p-checkbox binary="true" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}"></p-checkbox>
                </div>
                <div class="ui-g-10 ui-sm-10 ui-lg-10 box-text">
                    <label class="ui-widget" style="text-decoration:underscore;">{{'He leído y acepto las' | translate}}
                        <small (click)="termsandcondition()" style="cursor:pointer;">{{"Condiciones de Uso" | translate}}</small> {{'y' | translate}}
                        <small (click)="privacyPolicy()" style="cursor:pointer;">{{'Política de Privacidad' | translate}}</small>
                    </label>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 auth">
                    <button pButton type="button" [disabled]="!signupForm.valid || !isMobValid || !checked || emailExists" label="{{'Regístrate' | translate}}"
                        class="ui-button-green" (click)="signup()"></button>
                </div>
            </div>
        </form>
        <div class="ui-g footer">
            <div class="ui-g-12">
                <p>
                    <span>{{'¿Ya tienes una cuenta de Pelotea?' | translate}}</span>
                    <a (click)="routing()" style="text-decoration: none;color: #8DCF25;font-size: 1em;font-weight:normal;cursor:pointer">
                        {{'Inicia sesión' | translate}}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class=" message" *ngIf="signup_status">
        <p>{{'Hemos enviado un email a' | translate}}
            <span>{{email_name}}.</span>{{'Ingresa a tu email y ábrelo para activar tu cuenta' | translate}}.</p>
        <p>{{'Si no has recibido un email de Pelotea, por favor revisa el spam. Has' | translate}}
            <a (click)="resendEmail()">{{'click aquí' | translate}}</a> {{'para reenviar el email de activación' | translate}}.</p>
    </div>
</div>