

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.img1{
    width: 60%;
    height: 100px;
    
}

.img2{
    height: 100px;
 
    
}
.img3{
    height: 81px;
    
}
.img4{
    
    width: 40%;
    height: 80px;
}
@media only screen and (min-width:1025px){
    
}
@media only screen and (min-width:320px) and (max-width:525px){
 
.img1{
    width: 40px;
    height: 30px;
    
}

.img2{
    height: 40px;
    
}
.img3{
     height: 30px;
    
}
.img4{
    width: 45px;
    height: 42px;
}
}

@media only screen and (min-width:526px) and (max-width:768px){
 
    .img1{
        width: 70%;
        height: 60px;
        
    }
    
    .img2{
        height: 101px;
        
    }
    .img3{
        height: 60px;
    }
    .img4{
        width: 50%;
        height: 72px;
    }
    }