<loader *ngIf="loader"></loader>
<iframe style="    width: 100%;
padding-top: 100px;border:0px;
height: 470px;" id='myFrame' src='' name="kis"></iframe>

<div class="ui-g payment_image">
    <div style="       display: flex;    align-items: center;    width: 80%;    margin: auto;" class="ui-g-12 ui-sm-12">

        <div style="text-align: center; " class="ui-g-3 ">
            <img class="img1" src="assets/images/payment/pci.png" />
        </div>

        <div class="ui-g-3  " style="text-align: center; ">
            <img class="img2" src="assets/images/payment/paymentez.png" />

        </div>

        <div class="ui-g-3  " style="text-align: center; ">
            <img class="img3" src="assets/images/payment/mc.png" />

        </div>
        <div class="ui-g-3  " style="text-align: center; ">
            <img  class="img4" src="assets/images/payment/Visa.png" />

        </div>
    </div>
</div>

<div [class.backdrop]="loader"></div>