<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>

<div class="selection-area">
    <div class="ui-g">
        <div style="padding: 5px" class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-6">
            <p class="drop-label">{{'Seleccione ligas' | translate}}</p>
            <p-dropdown (onChange)="leagueselect($event)" placeholder="{{'Select' | translate}}" [options]="leaguearray" [(ngModel)]="league_id"></p-dropdown>
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-6" style="padding: 5px">
            <div *ngIf="seasonsection">
                <p class="drop-label">{{'Filtrar por temporada' | translate}}</p>
                <p-dropdown placeholder="select" (onChange)="seasonselect($event)" [options]="sessonarray" [(ngModel)]="session_id"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
            <div class="reset" (click)="reset()">{{'Restablecer filtros' | translate}}</div>
        </div>
    </div>
</div>

<div class="text-center" *ngIf="nodata" style="margin-top:50px;font-size: 22px">
    {{'Datos no encontrados' | translate}}
</div>

<div class="ui-g" style="margin-top: 10px">
    <div class="ui-g-12 match_div" *ngFor="let i of team_scheduleInfo">
        <div class="ui-g-9 ui-sm-12">
            <div style="color: #8ec63f;font-size: 18px;padding-bottom: 10px; text-align: center;padding-top: 16px" class="ui-g-12">
                {{i?.tournament_name}} -
                <span style="color:white">
                        {{i?.round_name}}
                    </span>
            </div>
            <div class="ui-g-12 ui-sm-12 flex" style="padding-bottom: 16px">
                <div style="font-size: 14px;text-align: right" class="ui-g-4">
                    {{i?.team[0]?.team_name}}
                </div>
                <div style="text-align: center" class="ui-g-2">
                    <img class="team" [src]="i?.team[0]?.team_logo?basePath+i?.team[0]?.team_logo:'assets/images/team-profile-logo/default.png'" />
                </div>
                <div style="font-size: 18px;text-align: center" class="ui-g-1">
                    Vs
                </div>
                <div style="text-align: center" class="ui-g-2">
                    <img class="team" [src]="i?.team[1]?.team_logo?basePath+i?.team[1]?.team_logo:'assets/images/team-profile-logo/default.png'" />
                </div>
                <div style="font-size: 14px;" class="ui-g-3">
                    {{i?.team[1]?.team_name}}
                </div>
            </div>
        </div>

        <div class="ui-g-3 ui-sm-12 card_left_div">
            <span>{{'Fecha' | translate}}:</span>
            <span style="color:grey">{{i?.date | date:'dd-MM-yyyy'}}</span>
            <br>
            <span>{{'Hora' | translate}}:</span>
            <span style="color:grey">{{i?.date | date:'shortTime'}}</span>
            <br>
            <span>{{'Ground' | translate}}:</span>
            <span style="color:grey">{{i?.ground}}</span>
            <br>
            <span>{{'Week day' | translate}}:</span>
            <span style="color:grey">{{i?.date | date:'EEEE'}}</span>

        </div>

    </div>
</div>