.tab-btn1 {
    width: 100%;
    border-radius: 0px;
    background: #F0F2F3;
    color: #8b8e95;
    font-size: 15px;
    text-transform: none;
}

.tab-btn {
    background: #8ec63f !important;
    color: #333;
}

.team {
    width: 40px;
    height: 40px;
    border-radius: 47px;
}

.match_div {
    box-shadow: 0px 0px 4px 0px #d7d7d7;
    background-color: #113861;
    color: white;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 6px;
    height: 100%;
}

.flex {
    display: flex;
    align-items: center
}

div {
    padding: 0px;
}

.card_left_div {
    background: #e6e6e6;
    text-align: left;
    color: #8DCF24;
    font-size: 14px;
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 16px;
    line-height: 2;
}

@media only screen and (max-width: 640px) {
    .icon-bar span {
        font-size: 15px;
    }
    .tab-btn1 {
        font-size: 11px;
    }
    .team {
        width: 30px;
        height: 30px;
    }
    div {
        font-size: 12px !important
    }
}

.drop-label {
    font-size: 13px;
    color: #828282;
    margin: 10px 0;
    padding-left: 5px
}

.reset {
    background: #eef2f3;
    color: #333333;
    padding: 10px 10px;
    border-radius: 25px;
    margin-top: 16%;
    text-align: center;
    width: 46%;
    border: 1px solid #eef2f3;
    cursor: pointer;
}


/* .daysBttn {
    position: relative;
    top: 38px;
}

.daysBttn div {
    position: relative;
    width: 100%;
}

.daysBttn div button {
    position: absolute;
    right: 0px;
}

.arrow {
    font-size: 1.9em;
    margin-right: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

.active {
    background: #2E8B57 !important;
    border-radius: inherit;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2500;
}

.selectteam {
    background: #043760;
    color: white !important;
}

.rowCursor {
    cursor: pointer;
}

.selectteam:focus .invite_popup_name {
    color: white;
}

.invite_popup_header {
    background: #00253f;
    padding: 11px;
}

.invite_popup_header .popup_heading {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 4em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.invite_popup_header .fa {
    color: white;
    font-size: 22px;
    padding-top: 10px;
}

.invite_popup_name {
    font-family: ChaletComprime CologneEighty;
    color: #00253f;
    font-size: 20px;
    padding-left: 10px;
}

.invite_popup_city {
    color: #8DCF24;
    font-size: 12px;
}

.invite_popup_followers {
    color: #828282;
}

.invite_popup_followers span {
    color: #e6263d;
}



.fixture_card {
    padding: 10px 0;
    height: 100px;
    margin-bottom: 5px;
    background: #003366;
    margin-top: 10px;
}

.card_left_div {
    background: #e6e6e6;
    text-align: center;
    color: #66cc00;
    height: 85px;
    line-height: 25px;
}

.as_player {
    padding: 0px 8px;
    font-size: 11px;
}

.card_center_div {
    background: #003366;
    color: white;
    text-align: center;
    display: table-cell;
    height: 85px;
}

.fixture_text_row {
    height: 50px;
}

.fixture_text {
    vertical-align: -webkit-baseline-middle;
}

.fixture_img {
    height: 35px;
    width: 35px;
    vertical-align: -webkit-baseline-middle;
}

.fixture_text_time {
    vertical-align: -webkit-baseline-middle;
    font-size: 21px;
}

.top {
    height: 40px;
    background: #8DCF24;
    margin-top: 10px;
}

.card-heading {
    color: white;
    font-size: 24px;
    font-family: 'ChaletComprime CologneEighty';
}

.card-heading1 {
    color: white;
    font-size: 14px;
}

.card-text {
    color: white;
}

.card-image {
    height: 65px;
    width: 65px;
    border-radius: 50px;
}

.card-image1 {
    width: 93%;
    margin-top: -3px;
    border-radius: 50px;
}

.bt {
    width: 132px;
    margin-top: -4px;
    height: 38px;
    padding: 2px;
    font-size: 12px;
}

.no-data-msg {
    text-align: center;
    margin-top: 50px;
}

.no-msg-span {
    text-align: center;
    font-size: 20px;
    color: darkcyan;
}

.card-info {
    margin-top: -2px;
    padding-left: 20px;
}

.calendar {
    text-align: center;
    color: white;
}

.butn {
    text-align: center;
    padding-top: 0px;
}

.large {
    display: block;
}

.mobile {
    display: none;
}

.arrow_pos {
    padding-top: 5px;
    height: 40px;
    font-size: 24px;
    background-color: #8DCF25;
    display: inline-block;
}

.arrow {
    font-size: 1.2em;
    padding-left: 2px;
    cursor: pointer
}

.date_header {
    font-size: 1em;
}

.schedule {
    font-size: 0.8em;
    width: 70px;
    margin-left: -15px;
}

.day_select_bttn {
    text-align: end;
}

.info {
    background-color: darkcyan;
    width: 123px;
    padding-bottom: 25px;
    margin-top: -12px;
    margin-left: -12px;
    background-color: darkcyan;
}

@media only screen and (max-width: 40em) {
    .card-image1 {
        margin-top: 15px;
        height: 80px;
        width: 80px;
    }
    .head {
        padding: 0px;
    }
    .text {
        padding: 0px !important;
    }
    .card-heading {
        color: black;
        font-size: 13px;
    }
    .vs {
        color: black !important;
    }
    .card-text {
        font-size: 11px;
    }
    .fixture_card {
        padding: 0px 0px 0px 0px;
        ;
        height: initial;
        background: #fff;
        margin-top: 10px;
        border: 1px solid gray;
    }
    .bt {
        font-size: 11px;
        padding: 3px 0px 1px 0px;
        width: 10em;
        margin-top: 1px;
        height: 38px;
    }
    .butn {
        text-align: center;
        padding: 10px 0px 0px 15px;
    }
    .logo {
        padding: 8px 0px 0px 0px;
    }
    .card-info {
        background: #003366;
        padding: 15px 0px 0px 10px;
        margin: 0px;
    }
    .large {
        display: none;
    }
    .mobile {
        display: block;
    }
    .arrow {
        font-size: 0.6em;
        margin-top: 10px;
    }
} */