page-countryCode {
    .item-divider-md,
    .item-divider-ios {
        background-color: #E6EBF1 !important;
    }
    .item-divider-md .label-md,
    .item-divider-ios .label-ios {
        font-family: roboto-bold;
        color: #464646;
        font-size: 18px;
    }
    .item-inner {
        font-family: roboto-regular !important;
        color: #464646 !important;
        border-bottom: 1px solid #d7d7d7 !important;
    }
    a {
        color: #113861;
        font-size: 12px !important;
        font-family: roboto-regular;
    }
    .ion-alpha-sidebar {
        height: auto !important;
        top: 20% !important;
    }
    .toolbar-title-md,
    .toolbar-title-ios {}
}