<ion-header>
    <ion-navbar>
        <ion-title>
            <p style="font-family: roboto-bold;">
                {{'Calling codes' | translate}}
            </p>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-alpha-scroll [listData]="code" key="name" [itemTemplate]="alphaScrollItemTemplate" [currentPageClass]="currentPageClass" [highlight]="true" [triggerChange]="triggerAlphaScrollChange">
        <ng-template #alphaScrollItemTemplate let-item>
            <ion-item (click)="currentPageClass.onItemClick(item)">{{item.name}} {{item.dial_code}}</ion-item>
        </ng-template>
    </ion-alpha-scroll>
</ion-content>