<!-- <ion-header>
  <ion-navbar>
      <ion-title >{{(pay_by_other=='true'?"Pay for someone else" :"Make payment") | translate }}</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-navbar>
        <div class="header_div">
            <ion-title style="text-align: center;">{{(pay_by_other=='true'?"Pay for someone else" :"Make payment") | translate }}</ion-title>
            <button class="moreicon" ion-button icon-only>
        <!-- <ion-icon style="color:#113861" class="moreiconrotate" name="more"></ion-icon> -->
      </button>
        </div>
    </ion-navbar>
</ion-header>

<ion-content class="nopadding" class="body">
    <ion-grid style="background:white;padding:16px;margin-top:8px;">
        <ion-row>
            <ion-col col-12 no-padding class="payment_mode">{{'Select card to pay' | translate}}</ion-col>
        </ion-row>
        <ion-row *ngFor="let i of payment_data;let j=index" style="margin-top:16px;    align-items: center;">
            <ion-col col-1 text-left>
                <ion-radio (click)="card_select(i.card_reference,j);" [checked]="card[j]"></ion-radio>
            </ion-col>
            <ion-col col-2 text-left>
                <img [src]="i?.type=='mc'?'assets/images/payment/master_card.png':'assets/images/payment/visa_card.png'" />
            </ion-col>
            <ion-col col-6 text-left>
                <p no-margin style="color:#999;font-size:12px;"> {{i.bin}}-XXX-XXX-{{i.termination}}</p>
            </ion-col>
            <ion-col col-3 text-left (click)="card_remove(i.card_reference,j);">
                <span class="amount" style="color:#f45959;font-family:roboto-medium;font-size:13px;">{{'Remove' | translate}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="check_recurrent" style="margin-top:16px;align-items: center;">
            <ion-col text-left col-1>
                <ion-radio value="online" checked={{online}} (click)="status('online')"></ion-radio>
            </ion-col>
            <ion-col text-left col-11>
                <span style="color:#113861;font-size:14px;font-family:roboto-regular;">{{'Pay without saving card' | translate}}</span>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <div *ngIf="!payment_data.length">
    <ion-grid style="background:white;padding:16px;margin-top:8px;">
      <ion-row>
        <ion-col col-12 no-padding class="payment_mode">Select card to pay</ion-col>
      </ion-row>
      <ion-row style="margin-top:16px;">
        <ion-col col-12 style="padding-left:14px;">
          <p style="color:#999; font-family:roboto-regular;"> Add Card to Proceed for payment...</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
    <ion-grid class="maincard" style="align-items:left;margin-top:8px;">
        <ion-row (click)="addcard();">
            <ion-col col-12 no-padding class="payment_head" style="display:flex;align-items:center;">
                <img src="assets/images/add.png" class="add" />&nbsp;&nbsp;
                <span style="color:#464646;font-size:14px;font-family:roboto-regular;">{{'Add new card' | translate}}</span>
            </ion-col>
        </ion-row>
    </ion-grid>



    <ion-grid *ngIf="pay_by_other!='true'" style="background:white; padding:0 16px">
        <ion-row style="padding-top: 16px;">
            <ion-col no-padding col-12 class="payment_mode">{{"Payment details" | translate}}:</ion-col>
        </ion-row>
        <ion-row style="margin-top:12px;margin-bottom:10px">
            <ion-col no-padding col-6 class="payment_detail">{{"Complex name" | translate}}</ion-col>
            <ion-col no-padding col-6 class="payment_detail" text-right style="text-transform:capitalize">{{main_ground}}</ion-col>
        </ion-row>
        <ion-row style="margin-bottom:10px;">
            <ion-col no-padding col-6 class="payment_detail">{{"Field name" | translate}}</ion-col>
            <ion-col no-padding col-6 text-right class="payment_detail" style="text-transform:capitalize">{{ground_name}}</ion-col>
        </ion-row>
        <ion-row style="margin-bottom:10px;">
            <ion-col no-padding col-8 class="payment_detail">
                <span>{{'Reservation date' | translate}}</span>
                <br>
            </ion-col>
            <ion-col no-padding text-right col-4 class="payment_detail">{{start_date}}</ion-col>
        </ion-row>
        <ion-row style="margin-bottom:10px;">
            <ion-col no-padding col-8 class="payment_detail">{{'Reservation time' | translate}}</ion-col>
            <ion-col no-padding text-right col-4 class="payment_detail" style="text-transform:capitalize">{{start_time.slice(0,5)}}-{{end_time}}</ion-col>
        </ion-row>
        <ion-row style="margin-bottom:10px;">
            <!-- <ion-col no-padding col-9 class="payment_detail">Registration Fees</ion-col>
      <ion-col no-padding col-3 class="payment_detail" style="text-transform:capitalize"></ion-col>
      <ion-col no-padding col-9 class="payment_detail">(Minimum fee)</ion-col> -->
            <ion-col no-padding col-9 class="payment_detail">
                <span>{{'Payment amount' | translate}}</span>
                <br>
                <span *ngIf="min">({{"Minimum fee" | translate}})</span>
                <span *ngIf="!min">({{'Complete Fee with' | translate}} {{discount}}% {{'discount' | translate}})</span>
            </ion-col>
            <ion-col no-padding text-right col-3 class="payment_detail">$ {{p_amount}}</ion-col>
        </ion-row>

        <ion-row style="margin-bottom:10px;">
            <ion-col no-padding col-9 class="payment_detail">
                <span>{{"VAT" | translate}}(12%)</span>
            </ion-col>
            <ion-col no-padding text-right col-3 class="payment_detail">$ {{gateway_vat}}</ion-col>
        </ion-row>

        <ion-row style="margin-bottom:10px;">
            <ion-col no-padding col-9 class="payment_detail">
                <span>{{'Surcharge' | translate}} ({{vat_percentage}}%)</span>
            </ion-col>
            <ion-col no-padding text-right col-3 class="payment_detail">$ {{vat}}</ion-col>
        </ion-row>
        <ion-row style="margin-bottom:10px;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;    padding: 12px 0px;">
            <ion-col no-padding col-9 class="payment_detail">
                <span>{{'Subtotal' | translate}}</span>
            </ion-col>
            <ion-col no-padding text-right col-3 class="payment_detail">${{sub_total}}</ion-col>
        </ion-row>
        <ion-row style="margin-bottom:10px;">
            <ion-col no-padding col-9 class="payment_detail">{{'Paymentez fee' | translate}} (1.5%)</ion-col>
            <ion-col no-padding text-right col-3 class="payment_detail">${{gateway_amount}}</ion-col>
        </ion-row>
        <ion-row style="border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;">
            <ion-col no-padding col-9 class="payment_head" style="padding-top:12px;font-size:14px;">{{'Total amount payable' | translate}}</ion-col>
            <ion-col no-padding text-right col-3 class="payment_head" style="padding:12px 0px;font-size:14px;">${{t_amount}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col no-padding col-9 class="payment_head" style="padding-top:12px;font-size:14px;">{{'Pending amount' | translate}}</ion-col>
            <ion-col no-padding text-right col-3 class="payment_head" style="padding:12px 0px;font-size:14px;">${{final_amount}}</ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid *ngIf="pay_by_other=='true'" style="background:white; padding:0 16px">
        <ion-row margin-top margin-bottom>
            <ion-col no-padding col-12 class="payment_mode">{{'Payment details' | translate}}:</ion-col>
        </ion-row>

        <ion-row style="margin-bottom:10px;">
            <ion-col no-padding col-9 class="payment_detail">
                <span>{{'Pending Amount' | translate}}</span>
                <br>
            </ion-col>
            <ion-col no-padding text-right col-3 class="payment_detail">$ {{pay_by_other_amount}}</ion-col>
        </ion-row>

        <ion-row style="margin-bottom:10px;">
            <ion-col no-padding col-9 class="payment_detail">
                <span>{{'Vat' | translate}}(12%)</span>
            </ion-col>
            <ion-col no-padding text-right col-3 class="payment_detail">$ {{gateway_vat}}</ion-col>
        </ion-row>

        <ion-row style="margin-bottom:10px;">
            <ion-col no-padding col-9 class="payment_detail">
                <span>{{'Surcharge' | translate}} ({{pay_by_other_vat}}%)</span>
            </ion-col>
            <ion-col no-padding text-right col-3 class="payment_detail">$ {{pay_by_other_vat_amount}}</ion-col>
        </ion-row>
        <ion-row style="margin-bottom:10px;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;    padding: 12px 0px;">
            <ion-col no-padding col-9 class="payment_detail">
                <span>{{'Subtotal' | translate}}</span>
            </ion-col>
            <ion-col no-padding text-right col-3 class="payment_detail">${{sub_total}}</ion-col>
        </ion-row>
        <ion-row style="margin-bottom:10px;">
            <ion-col no-padding col-9 class="payment_detail">{{'Paymentez fee' | translate}} (1.5%)</ion-col>
            <ion-col no-padding text-right col-3 class="payment_detail">${{gateway_amount}}</ion-col>
        </ion-row>
        <ion-row style="border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;">
            <ion-col no-padding col-9 class="payment_head" style="padding-top:12px;font-size:14px;">{{'Total amount payable' | translate}}</ion-col>
            <ion-col no-padding text-right col-3 class="payment_head" style="padding:12px 0px;font-size:14px;">${{t_amount}}</ion-col>
        </ion-row>

    </ion-grid>

    <ion-grid style="    margin: 0px 0px 60px 0px;  ">
        <ion-row>
            <ion-col text-center col-3>
                <img class="payment" src="assets/images/payment/mc.png" />
            </ion-col>
            <ion-col text-center col-3>
                <img class="payment" src="assets/images/payment/Visa.png" />
            </ion-col>
            <ion-col text-center col-3>
                <img class="payment" src="assets/images/payment/paymentez.png" />
            </ion-col>
            <ion-col text-center col-3>
                <img class="payment" src="assets/images/payment/pci.png" />
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>

<ion-footer class="foot" style="bottom:-16px;">
    <button class="next" (click)="pay();" ion-button>{{'Pay now' | translate}}</button>`
</ion-footer>