@media screen and (min-width:320px) and (max-width:640px) {
    .reset {
        width: 70% !important;
        color: black;
        background: white;
        padding: 3% 3% 3% 3%;
        text-align: center;
        border-radius: 25px;
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 25%;
    }
}

.head {
    padding-top: 3%;
    padding-bottom: 4%;
    text-align: center;
}

.full-container {
    background: url('./../../../assets/images/back.jpg');
    background-size: 100% 100%;
    padding-top: 2%;
    height: 100%;
}

@media screen and (min-width:640px) and (max-width: 1640px) {
    .reset {
        color: black;
        background: white;
        padding: 3% 3% 3% 3%;
        text-align: center;
        border-radius: 25px;
        width: 39%;
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 25%;
    }
}

.contact {
    margin-bottom: 4%;
}

.reset-btn>button {
    background: #8DCF25;
    border: 1px solid #8DCF25;
}

.heading h2 {
    padding-bottom: 3%;
}