<p-growl [value]="msgs" sticky="sticky"></p-growl>

<div class="ui-grid ui-grid-responsive full-container">
    <div class="containers">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-12 head">
                    <img src="assets/images/logo.png" width="195px">

                </div>
            </div>
            <div *ngIf="apiHitting" style="text-align:center;">
                <img src="assets/images/loader1.gif" style="height: 60px;width: 60px;" />
            </div>

            <!--<div *ngIf="resetBlock" class="ui-grid-row reset">-->
            <div class="ui-g reset" *ngIf="isVerified">

                <div class="ui-g-12 heading">
                    <h2>{{'RESTABLECER LA CONTRASEÑA' | translate}}</h2>
                    <div class="ui-g-12 email mont">
                        <input type="password" pInputText placeholder="{{'Nueva contraseña' | translate}}" class="ui-button-green" (onkeyup)="password()" [(ngModel)]="userDetailsIns.new_password" />
                    </div>
                    <div class="ui-g-12 contact mont">
                        <input type="password" pInputText placeholder="{{'Confirmar contraseña' | translate}}" (onkeyup)="resetPassword()" [(ngModel)]="userDetailsIns.confirm_password" />
                    </div>
                    <div class="ui-g-12 reset-btn mont">
                        <button pButton type="button" label="{{'REINICIAR' | translate}}" [disabled]="btn" (click)=setPassword(userDetailsIns)></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="!isVerified && !isError" style="height: 500px;width: 100%;text-align: center;padding-top: 10%;">
    <img src="assets/images/loader1.gif" />
</div>
<div *ngIf="isError" style="padding-top: 50px;font-size: 24px;color: darkcyan;text-align: center;">
    <span>{{'Algo no está bien ya sea correo electrónico no es válido o ha sido vencido!!' | translate}}</span>
</div>