<div class="ui-g outer">
    <div class="ui-12 inner">
        <p *ngIf="!message">
            {{"Hacer clic" | translate}}<a (click)="activate()">
                  {{'aquí' | translate}}</a> {{"para activar su correo electrónico" | translate}}.</p>
        <p *ngIf="message">
            {{'El correo electrónico ya está activado' | translate}}.
            <a routerLink="./../home">{{'aquí' | translate}}</a>{{'Iniciar sesión' | translate}}.</p>
    </div>
</div>