.outer {
    widows: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 50px;
}

.inner {
    width: 100%;
    margin-top: 40px;
}

.inner p {
    font-size: 1.5em;
    margin-top: 100px;
}

.inner p a {
    color: blue;
    cursor: pointer;
}