<loader *ngIf="isLoaderActivated"></loader>
<p-growl [value]="msgs"></p-growl>

<!--for admin-->
<div class="full">
    <div class="outer_container" *ngIf="admins">
        <div class="ui-g">
            <div class="ui-g-12 ui-g-nopad">
                <img src="./assets/images/ground.jpg" alt="image" style="width:100%;height:250px;" />
            </div>
        </div>
        <div class="full-containers">
            <div class="middle" style="background-color:white;">
                <div class="ui-g round_name">
                    <div class="ui-g-10 ui-sm-12 round">
                        <span style="color:#373a3c">{{rounds}} / </span>
                        <span>{{team1.team_name}} VS. {{team2.team_name}}</span>
                    </div>
                    <div class="ui-g-2" style="display: flex;align-items: center;">
                    </div>
                </div>
                <div class="team-row">
                    <div class="ui-g">
                        <div class="ui-g-4 ui-sm-4" style="text-align:right">
                            <div class="team-flex">
                                <p class="n-text">{{team1.team_name}}</p>
                                <div style="margin-left: 10%;">
                                    <img [src]="team1.team_logo?basePath+team1.team_logo:'./assets/images/default_team.png'" class="circle" />
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-4 ui-sm-4" style="text-align:right">


                            <div class="ui-g">
                                <div class="ui-g-5" style="text-align:center">
                                    <p>{{'Goles' | translate}}</p>
                                    <br>
                                    <input type="number" name="quantity" min="0" max="50" class="inputNumber" [(ngModel)]="team1.goal" [disabled]="desc.isCancel || !is_edit">
                                    <br>
                                    <br>
                                    <p>{{'Penales' | translate}}</p>
                                    <br>
                                    <input type="number" name="quantity" min="0" max="50" class="inputNumber" [(ngModel)]="team1.penalties" [disabled]="desc.isCancel || !arePenalties">
                                </div>
                                <div class="ui-g-2" style="text-align:center">
                                    <div class="Vs">
                                        <h4>VS</h4>
                                    </div>
                                    <div>
                                        <p-checkbox [(ngModel)]="arePenalties" binary="true" [disabled]="desc.isCancel"></p-checkbox>
                                    </div>
                                </div>

                                <div class="ui-g-5" style="text-align:center">
                                    <p>{{'Goles' | translate}}</p>
                                    <br>
                                    <input type="number" name="quantity" min="0" max="50" class="inputNumber" [(ngModel)]="team2.goal" [disabled]="desc.isCancel || !is_edit">
                                    <br>
                                    <br>
                                    <p>{{'Penales' | translate}}</p>
                                    <br>
                                    <input type="number" name="quantity" min="0" max="50" class="inputNumber" [(ngModel)]="team2.penalties" [disabled]="desc.isCancel || !arePenalties">
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-4 ui-sm-4" style="text-align:right">
                            <div class="team-flex1">
                                <div style="margin-right: 8%;">
                                    <img [src]="team2.team_logo?basePath+team2.team_logo:'./assets/images/default_team.png'" class="circle" />
                                </div>
                                <p class="n-text">{{team2.team_name}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin:30px 0">
                    <p-tabView>
                        <p-tabPanel header="{{team1.team_name}}">
                            <div>
                                <p-dataTable [value]="team1.player_list" [style]="{color:'#828282'}">
                                    <p-column field="" header="{{'Nombre' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-col let-playerInfo="rowData" pTemplate="body">
                                            <span>{{playerInfo.player_name}}  </span>
                                            <p *ngIf="playerInfo?.is_banned" style="color: red;font-size: 10px;">{{"Player banned" | translate}}</p>
                                        </ng-template>
                                    </p-column>

                                    <p-column field="shirt_no" header="{{'Jersey' | translate}}" [style]="{border:'none'}"></p-column>


                                    <p-column header="{{'Accumulated cards' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-playerInfo="rowData" pTemplate="body">
                                            <div class="card-s">
                                                <!-- <p>R</p>
                                                <div class="red-c">
                                                    {{playerInfo?.total_cards.red_cards}}
                                                </div> -->
                                                <p>{{'A' | translate}}</p>
                                                <div class="yellow-c">
                                                    {{playerInfo?.total_cards.yellow_cards}}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-column>


                                    <p-column header="{{'Attended' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-player="rowData" pTemplate="body">
                                            <p-checkbox [(ngModel)]="player.is_attented" binary="true" #a [disabled]="!is_edit || desc.isCancel || suspended"></p-checkbox>
                                        </ng-template>
                                    </p-column>

                                    <p-column header="{{'Red card' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-player="rowData" pTemplate="body">
                                            <p-checkbox [(ngModel)]="player.red_card" #r binary="true" (onChange)="checkTeam1RedCard(player)" [disabled]="!is_edit || suspended || !player.is_attented || desc.isCancel"></p-checkbox>
                                        </ng-template>
                                    </p-column>

                                    <p-column header="{{'Yellow card' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-player="rowData" pTemplate="body">
                                            <input type="number" [disabled]="!is_edit || suspended || !player.is_attented || desc.isCancel" value="{{player.yellow_card}}" #y min="1" max="2" class="inputNumber" (click)="updateRowData(player,$event,3)" (keyup)="updateRowData(player,$event,3)">
                                        </ng-template>
                                    </p-column>

                                    <p-column header="{{'Assists' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-player="rowData" pTemplate="body">
                                            <input type="number" (click)="updateRowData(player,$event,4)" (keyup)="updateRowData(player,$event,4)" [disabled]="!is_edit || suspended || !player.is_attented || desc.isCancel" value="{{player.assist_goal}}" #as min="1" max="50" class="inputNumber">
                                        </ng-template>
                                    </p-column>
                                    <p-column header="{{'Goals' | translate}}" [style]="{border:'none'}">
                                        <ng-template let a let-player="rowData" pTemplate="body">
                                            <input type="number" (keyup)="updateRowData(player,$event,5)" (click)="updateRowData(player,$event,5)" [disabled]="!is_edit || suspended || !player.is_attented || desc.isCancel" value="{{player.goal}}" #g min="1" max="50" class="inputNumber">
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>

                                <div class="ui-g">

                                    <div style="padding: 30px 0px 0px 0px;font-size: 16px;margin-left: -17px" class="ui-g-12">
                                        <p>{{'Sanction' | translate}}</p>
                                    </div>

                                    <div *ngFor="let card of redCardArrayTeam1" class="ui-g-12" style="padding: 0px;display: flex;align-items: center;font-size: 16px;">

                                        <div style="padding: 0px" class="ui-g-3 ui-sm-4">
                                            <p style="font-size: 12px;font-family: Montserrat-Regular;    color: rgb(130, 130, 130);">
                                                {{card.name}}
                                            </p>
                                        </div>

                                        <div class="ui-g-3 ui-sm-4">
                                            <p-inputMask [disabled]="!is_edit" placeholder="{{'No of days' | translate}}" [(ngModel)]="card.sanction_games" slotChar="" [autoClear]='false' mask="99"></p-inputMask>
                                        </div>

                                        <div class="ui-g-6 ui-sm-4">
                                            <textarea [disabled]="!is_edit" rows="1" col="30" [maxLength]="100" placeholder="{{'Reason for ban' | translate}}" [(ngModel)]="card.sanction_reason" pInputTextarea></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="{{team2.team_name}}">
                            <div>
                                <p-dataTable [value]="team2.player_list" [style]="{color:'#828282'}">
                                    <p-column field="" header="{{'Nombre' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-col let-playerInfo="rowData" pTemplate="body">
                                            <span>{{playerInfo.player_name}}  </span>
                                            <p *ngIf="playerInfo?.is_banned" style="color: red;font-size: 10px;">{{"Player banned" | translate}}</p>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="shirt_no" header="{{'Jersey' | translate}}" [style]="{border:'none'}"></p-column>
                                    <p-column header="{{'Accumulated cards' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-playerInfo="rowData" pTemplate="body">
                                            <div class="card-s">
                                                <!-- <p>R</p>
                                                <div class="red-c">
                                                    {{playerInfo?.total_cards.red_cards}}
                                                </div> -->
                                                <p>{{'A' | translate}}</p>
                                                <div class="yellow-c">
                                                    {{playerInfo?.total_cards.yellow_cards}}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-column>
                                    <p-column header="{{'Attended' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-player="rowData" pTemplate="body">
                                            <p-checkbox [(ngModel)]="player.is_attented" binary="true" [disabled]="!is_edit || desc.isCancel || suspended  "></p-checkbox>
                                        </ng-template>
                                    </p-column>

                                    <p-column header="{{'Red card' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-player="rowData" pTemplate="body">
                                            <p-checkbox [(ngModel)]="player.red_card" binary="true" (onChange)="checkTeam2RedCard(player)" [disabled]="!is_edit || suspended || !player.is_attented || desc.isCancel"></p-checkbox>
                                        </ng-template>
                                    </p-column>
                                    <p-column header="{{'Yellow card' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-player="rowData" pTemplate="body">
                                            <input type="number" (keyup)="updateRowData(player,$event,3)" (click)="updateRowData(player,$event,3)" value="{{player.yellow_card}}" #pa min="1" max="2" [disabled]="!is_edit || suspended || !player.is_attented || desc.isCancel" class="inputNumber">
                                        </ng-template>
                                    </p-column>
                                    <p-column header="{{'Assists' | translate}}" [style]="{border:'none'}">
                                        <ng-template let-player="rowData" pTemplate="body">
                                            <input type="number" (keyup)="updateRowData(player,$event,4)" (click)="updateRowData(player,$event,4)" value="{{player.assist_goal}}" #pb min="1" max="50" class="inputNumber" [disabled]="!is_edit || suspended || !player.is_attented || desc.isCancel">

                                        </ng-template>
                                    </p-column>
                                    <p-column header="{{'Goals' | translate}}" [style]="{border:'none'}" [editable]="true">
                                        <ng-template let a let-player="rowData" pTemplate="body">
                                            <input type="number" (keyup)="updateRowData(player,$event,5)" (click)="updateRowData(player,$event,5)" value="{{player.goal}}" min="1" max="50" class="inputNumber" #pc [disabled]="!is_edit || suspended || !player.is_attented || desc.isCancel">
                                        </ng-template>
                                    </p-column>

                                </p-dataTable>

                                <div class="ui-g">

                                    <div style="padding: 30px 0px 0px 0px;font-size: 16px;margin-left: -17px" class="ui-g-12">
                                        <p>{{'Sanction' | translate}}</p>
                                    </div>

                                    <div *ngFor="let card of redCardArrayTeam2" class="ui-g-12" style="padding: 0px;display: flex;align-items: center;font-size: 16px;">

                                        <div style="padding: 0px" class="ui-g-3 ui-sm-4">
                                            <p style="font-size: 12px;font-family: Montserrat-Regular;    color: rgb(130, 130, 130);">
                                                {{card.name}}
                                            </p>
                                        </div>

                                        <div class="ui-g-3 ui-sm-4">
                                            <p-inputMask [disabled]="!is_edit" placeholder="{{'No of days' | translate}}" [autoClear]=false [(ngModel)]="card.sanction_games" slotChar="" mask="99"></p-inputMask>
                                        </div>

                                        <div class="ui-g-6 ui-sm-4">
                                            <textarea rows="1" col="30" [disabled]="!is_edit" [maxLength]="150" placeholder="{{'Reason for ban' | translate}}" [(ngModel)]="card.sanction_reason"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </p-tabPanel>
                    </p-tabView>
                </div>


                <div class="ui-g" style="padding-top: 15px;padding-bottom: 15px;">
                    <div class="ui-g-4 ui-sm-6" style="display:flex;align-items: center;padding-left: 0px;">
                        <p-checkbox [disabled]="!is_edit" (onChange)="checkCancel()" binary="true" [(ngModel)]="desc.isCancel"></p-checkbox>
                        <p class="cancel-label">{{'Se canceló el partido' | translate}}</p>
                    </div>

                    <div class="ui-g-4 ui-sm-6" style="display:flex;align-items: center;     ">
                        <p-checkbox [disabled]="!is_edit" (onChange)="checkSuspended()" binary="true" [(ngModel)]="suspended"></p-checkbox>
                        <p class="cancel-label">{{'Partido suspendido' | translate}}</p>
                    </div>

                    <div class="ui-g-12 ui-sm-12 txtarea">
                        <textarea [disabled]="!is_edit" class="txtArea" [maxLength]="100" placeholder="{{'Detallar la razón por la que se cancelo o suspendido el partido ...' | translate}}" [(ngModel)]="desc.description"></textarea>
                    </div>

                </div>

                <div class="ui-g" style="padding-bottom:20px;">
                    <div class="ui-g-4"></div>
                    <div class="ui-g-4"></div>
                    <div class="ui-g-2 ui-sm-6 text-right">
                        <button style="width: 100%" pButton type="button" label="{{'CANCELAR' | translate}}" class="ui-button-grey" (click)="routing()"></button>
                    </div>
                    <div class="ui-g-2 ui-sm-6">
                        <button style="width: 100%" pButton type="button" label="{{'GUARDAR' | translate}}" class="ui-button-green" (click)="updateResult()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--for user-->
<div class="full-container" *ngIf="!admins">
    <div class="sec-container">
        <div class="ui-g">
            <div class="ui-g-4 left-img">

                <span>
                    <img [src]="team1?.team_logo?basePath+team1?.team_logo:'./assets/images/default_team.png'">
                </span>
                <span>{{team1?.team_name}}</span>
            </div>
            <div class="ui-g-4 left-imgs">
                <strong>{{team1?.goal}}-{{team2?.goal}}</strong>
                <p style="color:white;font-size:16px;margin-top: -4%;" *ngIf="team1?.goal > team2?.goal ">
                    {{team1?.team_name}} {{'WON' | translate}}
                </p>
                <p style="color:white;font-size:16px;margin-top: -4%;" *ngIf="team2?.goal > team1?.goal ">
                    {{team2?.team_name}} {{'WON' | translate}}
                </p>

                <p style="color:white;font-size:16px;margin-top: -4%;" *ngIf="team1?.goal == team2?.goal ">
                    <span style="color:white;font-size:16px"> {{'Pena de partido' | translate}} {{team1.penalties}}-{{team2.penalties}}</span>
                    <br>
                    <span style="color:white;font-size:16px" *ngIf="team1?.penalties > team2.penalties"> {{team2?.team_name}} {{'WON' | translate}}</span>
                    <span style="color:white;font-size:16px" *ngIf="team1?.penalties < team2.penalties"> {{team1?.team_name}} {{"WON" | translate}} </span>
                    <span style="color:white;font-size:16px" *ngIf="team1?.penalties == team2.penalties"> {{'Empate' | translate}} </span>
                </p>
            </div>
            <div class="ui-g-4 left-img">
                <span>{{team2?.team_name}}</span>
                <span>
                    <img [src]="team2?.team_logo?basePath+team2?.team_logo:'./assets/images/default_team.png'">
                </span>
            </div>
        </div>


        <div class="ui-g ui lg-12 player-detail">
            <div class="ui-g-6 ui-lg-6 player1-detail" style="border-right: 2px solid #828282;">
                <div class="ui-g header-section">
                    <div class="ui-g-8 ui-lg-8">
                        <h4>{{'JUGADORES' | translate}}</h4>
                    </div>
                    <div class="ui-g-2 ui-lg-2">
                        <h4>{{'Jersey' | translate}}</h4>
                    </div>
                    <div class="ui-g-2 ui-lg-2">
                        <h4>{{'GOLES' | translate}}</h4>
                    </div>
                </div>

                <div class="ui-g player-name" *ngFor="let player of team1?.player_list">
                    <div *ngIf="player.is_attented" class="ui-g-12">
                        <div class="ui-g-8 ui-lg-8">
                            <span>{{player.player_name}}</span>
                            <span>
                                <img *ngIf="player?.red_card" src="./assets/images/red-card.png" style="width: 18px;height: 15px;" />
                            </span>
                            <span>
                                <img *ngIf="player?.yellow_card" src="./assets/images/yellow-card.png" style="width: 18px;height: 15px;" />
                            </span>
                            <span>
                                <img *ngIf="player?.yellow_card>1" src="./assets/images/yellow-card.png" style="width: 18px;height: 15px;" />
                            </span>
                        </div>
                        <div class="ui-g-2 ui-g-lg-2" style="text-align: center">
                            <p>{{player.shirt_no?player.shirt_no:'--'}}</p>
                        </div>
                        <div class="ui-g-2 ui-lg-2" style="text-align: center">
                            <p>{{player.goal}}</p>
                        </div>

                    </div>
                </div>

                <div class="ui-g-12 substitute">
                    <h4 class="sub">{{'SUSTITUIR' | translate}}</h4>
                    <div *ngFor="let player of team1?.player_list" class="subs">
                        <p *ngIf="!player.is_attented">{{player.player_name}}</p>
                    </div>
                </div>
            </div>

            <div class="ui-g-6 ui-lg-6 player1-detail">
                <div class="ui-g header-section">
                    <div class="ui-g-7 ui-lg-7">
                        <h4>{{'JUGADORES' | translate}}</h4>
                    </div>
                    <div class="ui-g-3 ui-lg-3" style="text-align: center;">
                        <h4>{{'Jersey' | translate}}</h4>
                    </div>
                    <div class="ui-g-2 ui-lg-2">
                        <h4>{{'GOLES' | translate}}</h4>
                    </div>
                </div>



                <div class="ui-g player-name" *ngFor="let player of team2?.player_list">
                    <div *ngIf="player.is_attented" class="ui-g-12">
                        <div class="ui-g-8 ui-lg-8">
                            <span>{{player.player_name}}</span>
                            <span>
                                <img *ngIf="player?.yellow_card" src="./assets/images/yellow-card.png" style="width: 18px;height: 15px;" />
                            </span>
                            <span>
                                <img *ngIf="player?.yellow_card>1" src="./assets/images/yellow-card.png" style="width: 18px;height: 15px;" />
                            </span>
                            <span>
                                <img *ngIf="player?.red_card" src="./assets/images/red-card.png" style="width: 18px;height: 15px;" />
                            </span>
                        </div>
                        <div class="ui-g-2 ui-lg-2">
                            <p>{{player.shirt_no?player.shirt_no:'--'}}</p>
                        </div>
                        <div class="ui-g-2 ui-lg-2" style="text-align: center">
                            <p>{{player.goal}}</p>
                        </div>

                    </div>
                </div>


                <div class="ui-g-12 substitute">
                    <h4 class="sub">{{'SUSTITUIR' | translate}}</h4>
                    <div *ngFor="let player of team2?.player_list" class="subs">
                        <p *ngIf="!player.is_attented">{{player.player_name}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-lg-12 play-text">
            <p>{{desc.description}}</p>
        </div>
        <div class="ui-g-12 ui-sm-12" style="padding-bottom:20px;">
            <div class="ui-g-8">
            </div>
            <div class="ui-g-4">
                <button pButton style="float: right" type="button" label="{{'CANCELAR' | translate}}" class="ui-button-grey" (click)="routing()"></button>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="showPopUp" modal="modal" class="saveresult " [resizable]='false' [responsive]=true>
    <div class="ui-g">
        <div class="ui-g-8">
            <div class="ui-g" style="border: 1px solid #d7d7d7;padding: 8px;">
                <div style="font-size: 14px;font-weight: bold;" class="ui-g-12">
                    {{"Are you sure to submit result ?" | translate}}
                </div>
                <div style="color: #8b8e95;line-height: 1.5;text-align: justify;" class="ui-g-12">
                    {{"Once you will submit the result of this match, you will not allow to done any changes in your previous match result.Please do verify your previous match result.If you already done ignore this message." | translate}}
                </div>
                <div style="display: flex;align-items: baseline;" class="ui-g-12">
                    <div style="padding: 0px" class="ui-g-1">
                        <p-checkbox binary="true" [(ngModel)]="readMsg"></p-checkbox>
                    </div>
                    <div style="font-size: 12px;text-align: justify;padding-left: 10px;" class="ui-g-11">
                        {{"I have read all the above statement and agree to submit result." | translate}}
                    </div>
                </div>
                <div style="text-align: right;" class="ui-g-12">
                    <button (click)="saveResult()" style="background: #8ec63f;font-size: 10px;text-transform: none;" pButton [disabled]="!readMsg" type="button" label="{{'Done' | translate}}"></button>
                </div>
            </div>
        </div>

        <div class="ui-g-4 bg-image">
            <img (click)="showPopUp=false" style="height: 20px;z-index: 1000000;cursor: pointer" src="assets/images/cross_pop.png" />
        </div>
    </div>
</p-dialog>

<div [class.backdrop]="showPopUp "></div>