/*admin css*/

.circle {
    background-color: black;
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.round_name {
    border-bottom: 0.5px solid #c9c9c9;
}

.round {
    padding-top: 10px;
}

span {
    color: #828282;
}

.round>span {
    color: #828282;
    font-size: 2.7em;
    font-family: "ChaletComprime CologneEighty";
    text-transform: capitalize;
}

.outerCircle {
    height: 100%;
    width: 100%;
}

.subs>p {
    font-size: 1.3em;
}

.full-containers {
    max-width: 970px;
    margin: auto;
}

.spinBlick {
    text-align: center;
    padding-top: 30px;
}

.spinBlick>label {
    font-size: 1.5em;
    padding-left: 0px;
}

.Vs {
    height: 26%;
    padding-top: 60px;
}

.Vs>h4 {
    color: #828282;
    font-size: 1.5em;
    font-weight: normal;
}

#penalty {
    color: #828282;
    font-size: 1.5em;
    font-weight: normal;
}

.team {
    font-size: 1.5em;
    color: #043760;
}

.goal {
    font-weight: bold;
    font-size: 2.5em;
    color: #043760;
}

.txtArea {
    width: 98%;
    border-radius: 10px;
    height: 70px;
    color: #828282;
    outline: none;
    padding: 1%;
}

#table1 {
    background: #f0f0f0;
    margin-top: 2%;
    margin-bottom: 2%;
}

.btnBlue {
    width: 200px;
    background-color: #043760 !important;
}

.inputNumber {
    border-radius: 25px;
    border: 1px solid #828282;
    outline: none;
    padding: 4% 10%;
    text-align: center;
    width: -moz-available;
}

.tableNg {
    border-bottom: 2px solid red;
}

.backTotournament {
    float: right;
    cursor: pointer;
    margin-top: 1%;
    color: #99cc00;
}


/*user css*/

.full-container {
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0) 287px, rgba(255, 255, 255, 0), #ffffff 0), url("./../../../../assets/images/tournament-profile-cover/default.png") no-repeat;
    background-color: #ffffff;
    background-size: contain;
    padding-top: 6%;
}

.sec-container {
    width: 970px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 90px;
}

.play-text>p {
    max-width: 970px;
    margin: 0 auto;
    padding-left: 6%;
    font-size: 15px;
    color: #828282;
}

.left-img>span>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card>img {
    width: 16px;
    height: 16px;
}

.left-imgs>h4 {
    color: white;
}

.left-img>span {
    color: white;
    margin-left: 3%;
    font-size: 1.7em;
}

.left-img {
    display: flex;
    align-items: center;
}

strong {
    color: white;
    font-size: 2em;
    padding-top: 4%;
}

.left-imgs {
    text-align: center;
    padding-top: 0%;
    line-height: 2.5;
}

.player-detail {
    max-width: 970px;
    margin: 0 auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.player1-detail {
    padding-left: 6%;
}

h4 {
    font-size: 2.2em;
    color: #828282;
    font-family: "ChaletComprime CologneEighty";
    font-weight: normal;
}

.header-section {
    margin-bottom: 15%;
}

.player-name {
    font-size: 1.3em;
    margin-bottom: -2%;
}

.sub {
    padding-top: 15%;
    padding-bottom: 3%;
}

.substitute>p {
    font-size: 1.3em;
    padding-bottom: 1%;
}

.icons {
    color: white;
    text-align: center;
    position: relative;
    width: 160px;
    z-index: 1;
}

.icn {
    position: absolute;
    top: 202px;
    width: 972px;
}

.fa {
    width: 25px;
    background: #113861;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    margin: 1%;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .round>span {
        font-size: 2.5em;
        text-transform: capitalize;
    }
    .round {
        text-align: center;
    }
    .circle {
        height: 82px;
        width: 82px;
    }
    .circle1 {
        height: 82px;
        width: 82px;
        margin-left: 20px;
    }
    .final {
        font-size: 7px;
        margin-left: -29px;
    }
    .final1 {
        font-size: 7px;
        margin-left: 29px;
    }
    .teams_1 {
        border-bottom: 18px solid white;
    }
    .icn {
        width: 320px;
    }
}

.team-row {
    background: #eff2f3;
    margin-top: 10px;
    padding: 20px 0;
}

.team-flex {
    display: flex;
    margin-top: 3%;
    justify-content: flex-end;
}

.team-flex1 {
    display: flex;
    margin-top: 3%;
    justify-content: flex-start;
}

.n-text {
    margin-top: 9%;
    font-size: 16px;
    text-transform: uppercase;
}

.cancel-label {
    color: #003d5f;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Montserrat-Light";
    margin-left: 10px;
}

.card-s {
    display: flex;
}

.yellow-c {
    height: 20px;
    width: 20px;
    background: yellow;
    text-align: center;
    color: #333333;
    margin-left: 7px;
    padding: 3px;
}

.red-c {
    height: 20px;
    width: 20px;
    background: red;
    text-align: center;
    color: white;
    margin-left: 7px;
    margin-right: 7px;
    padding: 3px;
}

.bg-image {
    background: url('../../../../assets/images/result_submit.png') no-repeat center center;
    background-size: cover;
    text-align: right
}

.ui-chkbox {
    margin: 0px !important
}