<ion-header>
    <div style="text-align:center">
        <img style="padding: 0px" class="header-logo" src="assets/images/pelo.png" />
    </div>
</ion-header>


<ion-content no-bounce no-padding>
    <ion-grid no-padding padding-left padding-top>

        <ion-col no-padding col-12>
            <p style="font-family: roboto-bold;font-size: 24px;margin-bottom: 0px">
                {{"What should we call you?" | translate}}
            </p>
            <p style="font-family: roboto-regular;color: #666;font-size: 18px;margin-top:5px;">
                {{"Your @username is unique.You can always change it later." | translate}}
            </p>
        </ion-col>

        <ion-col margin-top no-padding col-12>
            <ion-item no-padding>
                <ion-label [ngStyle]="{'color':(user_exist || user_short_length)?'#F25F63':'#113861','position': 'relative'}">@</ion-label>
                <ion-input [ngStyle]="{'color':(user_exist || user_short_length)?'#F25F63':'#113861','position': 'relative'}" (keyup)="validate($event)" [(ngModel)]="username" type="text">
                </ion-input>
            </ion-item>
            <i *ngIf="check_user" class="fa fa-check-circle-o ok" aria-hidden="true"></i>
            <i *ngIf="user_exist || user_short_length" class="fa fa-times-circle-o ok1" aria-hidden="true"></i>
            <p class="exist" *ngIf="user_exist">{{"Username has already been taken" | translate}}</p>.
            <p class="exist" *ngIf="user_short_length">{{"Username is too short." | translate}}</p>
        </ion-col>

        <p style="color:#464646; font-size: 16px;line-height: 1.5">
            {{"Suggestions" | translate}}:
            <span (click)="selectUser(i)" *ngFor="let i of suggestions" style="color: #113861;font-family: roboto-medium;font-size: 16px;">
                 @{{i}},
          </span>
        </p>

    </ion-grid>



</ion-content>

<ion-footer no-shadow no-padding>
    <ion-toolbar position="bottom" no-padding>
        <button class="not_now" (click)="userName(true)" full ion-button no-padding>{{"Not now" | translate}}</button>
        <button class="next" [disabled]="!check_user" (click)="userName(false)" full ion-button>{{'Next' | translate}}</button>
    </ion-toolbar>
</ion-footer>