page-set-user {
    .text-input-ios {
        font-size: 20px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        margin-right: 0px;
        width: 100%;
        margin-left: 0px !important;
        padding-right: 56px;
    }
    .text-input-md {
        font-size: 20px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        margin-right: 0px;
        width: 100%;
        padding-right: 56px;
        margin-left: 0px !important;
    }
    .item-ios.item-block .item-inner {
        padding-right: 0px;
    }
    .item-md.item-block .item-inner {
        padding-right: 0px;
    }
    .item-input-has-focus {
        color: #113861;
    }
    .ok {
        color: #7AC275;
        font-size: 30px;
        position: absolute;
        top: 10px;
        z-index: 65465464654654;
        right: 25px;
    }
    .ok1 {
        color: #F25F63;
        font-size: 30px;
        position: absolute;
        top: 10px;
        z-index: 65465464654654;
        right: 25px;
    }
    .next {
        width: 100px;
        border-radius: 30px;
        background: #113861;
        float: right;
        height: 45px;
        letter-spacing: .5px;
    }
    .not_now {
        width: 120px;
        background: transparent;
        float: left;
        height: 45px;
        color: #113861;
    }
    .toolbar-content-ios {
        padding: 8px 16px;
        background: white;
        padding-left: 0px
    }
    .toolbar-content-md {
        padding: 8px 16px;
        background: white;
        padding-left: 0px;
    }
    .footer-ios .toolbar-ios:first-child .toolbar-background-ios {
        border-top: 1px solid;
    }
    .footer-md .toolbar-md:first-child .toolbar-background-md {
        border-top: 1px solid;
    }
    .exist {
        font-size: 16px;
        background: #F25F63;
        margin: 0px;
        margin-left: -16px;
        padding: 16px 16px;
        color: white
    }
    .label-ios {
        margin-right: 0px !important;
    }
    .label-md {
        margin-right: 0px !important;
    }
}