.full-container {
    padding-top: 145px;
    background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 215px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../../assets/images/tourCoverPic.png) no-repeat;
    background-color: #ffffff;
    background-size: contain;
    padding-bottom: 90px;
}

.ui-float-label input.ui-state-filled~label {
    font-size: 12px !important
}

.ui-float-label input:focus~label {
    font-size: 12px !important
}

.ui-float-label label {
    font-size: 12px !important
}

.mobile {
    display: none;
}

.desktop {
    max-width: 970px;
    margin: auto;
}

@media only screen and (max-width:640px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block
    }
    .editor {
        font-size: 3em;
    }
    .radiobttn {
        padding-left: 18px;
    }
    .full-container {
        padding-top: 70px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 215px, #f8f8f8 0px) 0% 0%/100%, url(./../../../../assets/images/tourCoverPic.png) no-repeat;
        background-color: #ffffff;
        background-size: 100% 17%;
        background-repeat: no-repeat
    }
    .section {
        padding-top: 130px !important;
        ;
    }
}

.section {
    padding-top: 95px;
    max-width: 970px;
    margin: auto;
}

.circlesm {
    border: 1px solid #cfcfcf;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 3%;
    padding-right: 6%;
}

.circlesm1 {
    border: 1px solid #cfcfcf;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 50px 10px 50px 10px;
}

.Encontrar {
    padding: 2%;
}

.perfilyfONT {
    color: #00253F;
    font-size: 25px;
    font-family: 'ChaletComprime CologneEighty';
}

.inptxt {
    background: #fff;
    margin: 4%;
    width: 85%
}

.inptxt1 {
    background: #fff;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 62%
}

.editor {
    font-size: 3.5em;
    color: #00253f;
    white-space: nowrap;
    font-family: 'ChaletComprime CologneEighty';
}

.eliminat {
    background-color: red !important;
}

.cercleSmall {
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 20px;
    float: left;
}

.colorCLAVO {
    color: #40bf40;
    font-size: 10px;
}

.cancel {
    width: 85% !important;
}

.register {
    width: 85% !important;
}

.errorText {
    color: red;
    position: absolute;
}

.PABLO {
    width: 85%
}

.fixregheight {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50%;
    background-color: #F2F2F2;
}

.container {
    background: black;
    opacity: .4;
}

.popup1 {
    font-size: 3.5em;
    font-family: 'ChaletComprime CologneEighty';
    margin: auto;
}

.popup2 {
    font-size: 2.5em;
    font-family: 'ChaletComprime CologneEighty';
    margin: auto;
}

.align2 {
    text-align: center;
    padding: 0em 0em 2em 0em;
}

.align {
    padding: 0em 0em 2em 0em;
}

.align1 {
    text-align: center;
    padding: 2em 0em 2em 0em;
}

.image {
    width: 34em;
    height: 18em;
    margin-left: -1em;
}

.buton {
    padding: 0px;
    font-size: 10px;
}

.image_name {
    font-size: 1em;
    position: absolute;
    color: #828282;
    left: 6em;
    width: 14em;
    top: 83em;
    overflow: hidden;
}

.paddFont {
    display: flex;
    margin-top: 10px;
}

.jersey {
    color: darkcyan;
}

@media only screen and (max-width:640px) {
    .required {
        font-size: 8px;
    }
    .managetab1 {
        border-left: none !important;
    }
    .inptxt1 {
        width: 59%;
    }
    .top-bottom {
        border: 1px solid gray;
    }
    .top {
        background: #082f43;
    }
    .colorPABLO {
        color: white;
    }
    .cancel_div {
        text-align: -webkit-right;
    }
}