page-fieldprofile {
  .backarrow {
    position: absolute;
    z-index: 3;
    background: transparent;
    box-shadow: none;
  }
  .pic {
    // max-width: 20%;
    margin-right: 5px;
  }
  .photo {
    //  margin-top:5px;
    //   height:60px;
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
  }
  .logo_div {
    position: absolute;
    width: 100%;
    top: 110px;
  }
  .profile_info {
    padding: 65px 16px 32px 16px
  }
  .profile_info p {
    margin: 0px;
    color: #666666;
    font-family: roboto-regular;
    font-size: 13px;
    padding-bottom: 13px
  }
  .circle_icon {
    font-size: 5.5px;
    color: #464646;
    margin: 0 2px;
  }
  .playerDetail p {
    margin: 0px;
    color: #666666;
    font-family: roboto-regular;
    font-size: 13px;
  }
  .followers {
    width: 170px;
    margin: auto;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
  }
  .followers span {
    color: #464646;
    font-family: roboto-medium;
    font-size: 13px;
  }
  ion-col img {
    height: 36px;
  }
  ion-card img {
    height: 152px;
  }
  .menu {
    margin: 13px 8px 24px 8px;
    height: 55px;
  }
  .menu span {
    color: #464646;
    font-family: roboto-regular;
    font-size: 12px;
  }
  .playerDetail span {
    color: #464646;
    font-family: roboto-regular;
    font-size: 13px;
  }
  .playerDetail p {
    color: #999999;
    font-family: roboto-light;
    font-size: 12px;
    line-height: 20px
  }
  .button-inner {
    font-family: roboto-medium;
    font-size: 11px;
  }
  .loc {
    height: 52px;
    width: 52px;
  }
}
