<ion-content class="body" style="margin-top:0px;">
    <div class="spinn">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
    </div>
    <div *ngIf="!internet">
        <div>
            <button no-margin class="backarrow" (click)="back()" ion-button>
                <ion-icon ios="ios-arrow-back" md="md-arrow-back" style="font-size:24px"></ion-icon>
            </button>
            <ion-card style="margin:0px;width:100%;position:relative">
                <button class="moreicon_detail" ion-button icon-only (click)="presentPopover($event)" style="opacity:0">
                    <ion-icon class="moreiconrotate" name="more"></ion-icon>
                </button>
                <img src="{{fields?.Cover_Pic?path+fields?.Cover_Pic:'assets/images/ground/cover.jpg'}}" />
            </ion-card>
        </div>

        <div text-center class="logo_div">
            <img class="profile_logo" src="{{fields?.Profile_Pic?path+fields?.Profile_Pic:'assets/images/ground/ground_logo.png'}}" />
        </div>

        <ion-grid text-center class="profile_info" style="padding-bottom: 0px;">
            <ion-row>
                <ion-col no-padding>
                    <ion-title style="padding-bottom:13px">{{fields?.Ground_Name}}</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col no-padding style="text-transform: uppercase;">
                    <p>{{fields?.City}} | {{fields?.Country}}</p>
                </ion-col>
            </ion-row>


            <ion-row class="followers">
                <ion-col style="padding:8px 0px">
                    <span (click)="followerslist()">{{fields?.Ground_Followers}} {{'Followers' |translate}}</span>
                    <span> | {{fields?.No_of_connected_grounds}} {{'COURTS' |translate}}</span>
                </ion-col>
            </ion-row>


            <ion-row class="menu">

                <ion-col no-padding col-3 text-center (click)="ground_call()">
                    <img src="assets/images/Call.png" />
                    <br>
                    <span>{{'Call' |translate}}</span>
                </ion-col>
                <ion-col no-padding col-3 *ngIf="follow==false" (click)="folow();">
                    <img src="assets/images/Follow.png" />
                    <br>
                    <span>{{'Follow' |translate}}</span>
                </ion-col>

                <ion-col no-padding (click)="unfolow()" *ngIf="follow==true" col-3>
                    <img src="assets/images/Follow.png" />
                    <br>
                    <span>{{'Unfollow' |translate}}</span>
                </ion-col>
                <ion-col no-padding col-3 text-center (click)="message()" [style.opacity]="fields?.admin?0.5:1">
                    <img src="assets/images/Message.png" />
                    <br>
                    <span>{{'Message' |translate}}</span>
                </ion-col>

                <ion-col no-padding col-3 text-center (click)="share()">
                    <img src="assets/images/Share.png" />
                    <br>
                    <span>{{'Share' |translate}}</span>
                </ion-col>

                <!-- <ion-col style="padding:0px 0px 0px 10px" col-3 text-center (click)="getPlayerTeam()">
                <img src="assets/images/Map.png" />
                <br>
                <span>Direction</span>
            </ion-col> -->

            </ion-row>
            <ion-row>
                <ion-col no-padding col-12>
                    <button no-margin color="primary" ion-button block (click)="mk();" [style.opacity]="(fields?.admin||!fields?.is_peloteando_certified)?0.5:1">{{'Make reservation' | translate}}</button>
                    <!-- <ion-col col-12 no-padding>
                        <button no-margin ion-button block class="tablas" style="letter-spacing: 0px;" (click)="pay();" [style.opacity]="(fields?.admin||!fields?.is_peloteando_certified || !online_card)?0.5:1" no-padding>{{'Reservation done by someone else? Pay now' |translate}}</button>
                    </ion-col> -->
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid style="padding:24px 16px 0px 16px">
            <div *ngIf="sponser&& sponser.length" style="padding-top: 8px;">
                <ion-row>
                    <ion-col col-12 no-padding style="text-align:center;">
                        <h6>{{'Sponsors' |translate}}</h6>
                    </ion-col>
                </ion-row>
                <ion-row style="justify-content: center;">
                    <ion-col col-3 no-padding *ngFor="let i of sponser" style="text-align:center">
                        <img class="sponsor_image" [src]="path+i.image" />
                        <p class="sponser_name">{{i.sponser_name}}</p>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>


        <ion-grid class="playerDetail" padding style="background:white">
            <div *ngIf="fields?.Ground_Address || fields?.Ground_Contact" style="padding-top: 8px;">
                <ion-row style="    margin-bottom: 10px">
                    <ion-col no-padding>
                        <span style="color:#113861;font-size: 13px;font-family: roboto-regular;">
                            {{"Address" |translate}}
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-bottom: 10px">
                    <ion-col col-12 no-padding>
                        <p>{{fields?.Ground_Address}}</p>
                        <p>+ 593 {{fields?.Ground_Contact}}/ +593 {{fields?.Ground_Other_Contact}}</p>
                    </ion-col>

                </ion-row>
            </div>
        </ion-grid>

        <ion-grid *ngIf="fields?.Ground_Bio" padding style="margin-top: 8px;background: white;margin-bottom: 20px;">
            <ion-row style="margin-bottom: 10px">
                <span style="color:#113861;font-size: 13px;font-family: roboto-regular;">{{'Info' |translate}}</span>
            </ion-row>
            <ion-row>
                <p no-margin style="color: #999999;font-family: roboto-light;font-size: 14px;">{{fields?.Ground_Bio}}</p>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="fields?.Photo_Gallery && fields?.Photo_Gallery.length" padding style="margin-top: 8px;background: white;margin-bottom: 20px;">
            <ion-row style="margin-bottom: 10px">
                <span style="color:#113861;font-size: 13px;font-family: roboto-regular;">{{"Photos" |translate}}</span>
            </ion-row>
            <ion-row>
                <ion-col col-3 *ngFor="let i of photo" class="pic">
                    <img [src]="path+i.image" alt="LOGO" class="photo" (click)="showimage(path+i.image,i.image.slice(12))" />
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="fields?.Ground_Rules" padding style="margin-top: 8px;background: white;margin-bottom: 20px;">
            <ion-row style="margin-bottom: 10px">
                <ion-col col-2>
                    <span style="color:#113861;font-size: 13px;font-family: roboto-regular;">{{"Rules" |translate}}</span>
                </ion-col>
                <ion-col col-10 no-padding style="text-align:right;color: #464646;">
                    <span *ngIf="download" (click)="files();" tappable>
                        <img style="padding-top:15px" src="assets/images/download.png">
                    </span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>


    <div *ngIf="internet" class="emptystates">
        <img class="internet-icon" src="assets/images/no_internet.png">
        <p (click)="ionViewDidEnter()">{{'Try again' | translate}}</p>
    </div>
</ion-content>