page-signup {
    .bg-image {
        background-image: url('../assets/images/onboading/1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .container-signup {
        text-align: center;
        line-height: 50px;
        padding: 0px 16px;
        position: absolute;
        bottom: 0px;
    }
    .signup {
        width: 100%;
        background: white;
        color: #464646;
        text-transform: none;
        letter-spacing: 1px !important;
        font-weight: normal !important;
        padding: 25px 0px;
    }
    .fb-signup {
        width: 100%;
        background: #415697;
        color: white;
        text-transform: none;
        letter-spacing: 1px !important;
        font-weight: normal !important;
        padding: 25px 0px;
    }
    .google-signup {
        width: 100%;
        background: #D64D3D;
        color: white;
        text-transform: none;
        letter-spacing: 1px !important;
        font-weight: normal !important;
        padding: 25px 0px;
    }
}