<ion-content class="bg-image" no-bounce>

    <ion-grid style="margin-top: 60px;">
        <ion-col text-center col-12>
            <img style="height:100px" src="assets/images/pelo.png" />
        </ion-col>
    </ion-grid>

    <ion-grid class="container-signup">
        <ion-col no-padding col-12>
            <button ion-button (click)="signUp()" class="signup">
                {{'Register with phone or email' | translate}}</button>
        </ion-col>

        <ion-col no-padding col-12>
            <button ion-button (click)="fbSignUp()" class="fb-signup">
                {{'Register with Facebook' | translate}}</button>
        </ion-col>

        <ion-col no-padding col-12>
            <button ion-button (click)="googleSignUp()" class="google-signup">
                {{'Register with Google' | translate}}</button>
        </ion-col>

        <ion-col no-padding col-12>
            <p style="color: white;margin:10px 0px;font-size: 16px;">{{'Already have an account?' | translate}}&nbsp; <span style="font-weight:bold">{{'Login' | translate}}</span></p>
        </ion-col>
    </ion-grid>

</ion-content>