<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>

<div class="full-container">
    <div class="section">
        <div class="ui-g">
            <div class="ui-g-12">
                <h2 class="heading">{{'CREAR CANCHA' | translate}}</h2>
                <hr class="lines">
            </div>
        </div>
        <form [formGroup]="groundCreateForm">
            <div class="ui-g ui-fluid">
                <div class="ui-g-4 ui-sm-12">
                    <label> {{'Nombre del cancha' | translate}}<span class="star">*</span></label><br><br>
                    <input type="text" pInputText placeholder="{{'Nombre del cancha' | translate}}" formControlName="groundName" />
                    <div *ngIf="!groundCreateForm.controls['groundName'].valid && groundCreateForm.controls['groundName'].dirty ">
                        <p style="color: red">Nombre de tierra que se requieren</p>
                    </div>
                </div>
                <!-- <div class="ui-g-4 ui-sm-12">
                    <label>{{'Celular' | translate}}<span class="star">*</span></label><br><br>
                    <input type="text" pInputText [ngModelOptions]="{standalone: true}" [(ngModel)]="country_code" readonly="readonly" maxlength="4" class="country_code" />
                    <input type="text" pInputText placeholder="{{'Celular' | translate}}" formControlName="mobileNo" maxlength="9" class="mob_no" />
                    <div *ngIf="!groundCreateForm.controls['mobileNo'].valid  && groundCreateForm.controls['mobileNo'].dirty">
                        <p style="color: red;white-space: nowrap;">{{'Debe ser de 9 dígitos numéricos' | translate}}</p>
                    </div>
                </div> -->

                <div class="ui-g-4 ui-sm-12" style="padding:0px;position: relative;">
                    <label>{{'Celular' | translate}}<span class="star">*</span></label><br><br>
                    <p-dropdown (onChange)="validMobile($event)" [options]="code" [formControl]="groundCreateForm.controls['country_code']">
                        <ng-template let-car pTemplate="label">
                            <div style="display:flex;align-items:center">
                                <div style="    width: 30px;">
                                    {{car.label}}
                                </div>
                                <div style="    text-align: right;" *ngIf="car.label=='+593'" class="ui-g-6">
                                    <img src="assets/images/Ecuador.png" style="width: 15px;height: 10px;  " />
                                </div>
                                <div *ngIf="car.label=='+502'" style="    text-align: right;" class="ui-g-6">
                                    <img src="assets/images/Guatemala-flag (1).jpg" style="width: 15px;height: 10px;  " />
                                </div>
                                <div *ngIf="car.label=='+1'" style="    text-align: right;" class="ui-g-6">
                                    <img src="assets/images/usa_flag.jpg" style="width: 15px;height: 10px;  " />
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <input type="number" pInputText placeholder="{{'Celular' | translate}}" (keyup)="mobileVerify($event.target.value)" [formControl]="groundCreateForm.controls['mobileNo']" maxlength="{{length}}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        required />
                    <div class="ui-g error" *ngIf="isMobValid">
                        <p class="errorText">Celular debe ser de {{length}} dígitos</p>
                    </div>
                </div>





                <div class="ui-g-4 ui-sm-12">
                    <label>{{'Otros teléfonos' | translate}}<span class="star">*</span></label><br><br>
                    <input type="text" pInputText placeholder="{{'Otros teléfonos' | translate}}" formControlName="telephone" maxlength="15" />
                    <div *ngIf="!groundCreateForm.controls['telephone'].valid && groundCreateForm.controls['telephone'].dirty ">
                        <p style="color: red;white-space: nowrap;">En caso de ser 15 dígitos numéricos</p>
                    </div>
                </div>

            </div>
            <br>
            <div class="ui-g ui-fluid">


                <div class="ui-g-4 ui-sm-12">
                    <label>{{"País" | translate}}<span class="star">*</span></label><br><br>
                    <p-dropdown [options]="country_list" [style]="{'width':'100%'}" placeholder="{{'País' | translate}}" (onChange)="countryValid(groundCreateForm.controls['country'].value)" formControlName="country"></p-dropdown>
                </div>
                <div class="ui-g-4 ui-sm-12">
                    <label>{{"Ciudad" | translate}} <span class="star">*</span><span style="color:darkcyan;font-size: 0.8em;">{{'Escoger una de las opciones que se despliegan' | translate}}</span></label><br><br>
                    <p-autoComplete [suggestions]="filteredCity" field="location" (completeMethod)="filterCity($event)" [size]="30" placeholder="{{'Ciudad' | translate}}" [minLength]="1" formControlName="city" [disabled]="country_valid">
                    </p-autoComplete>
                    <div>
                        <p *ngIf="cityValidation" style="color: red">{{'Ciudad que no se encuentra' | translate}}</p>
                        <p *ngIf="citySelectValidation" style="color:red;white-space:nowrap">{{"Escoger una de las opciones que se despliegan" | translate}}</p>
                    </div>
                </div>
                <div class="ui-g-4 ui-sm-12">
                    <label>{{"Dirección" | translate}}<span class="star">*</span></label><br><br>
                    <textarea pInputTextarea class="rulestextarea" placeholder="{{'Dirección' | translate}}" formControlName="direction">
                        </textarea>
                    <div *ngIf="!groundCreateForm.controls['direction'].valid && groundCreateForm.controls['direction'].dirty ">
                        <p style="color: red">{{'Dirección se requieren' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p class="para">{{'Información Cancha' | translate}}</p>
                    <hr class="lines">
                </div>
            </div>
            <div class="ui-g ui-fluid">

                <div class="ui-g-8 ui-sm-12">
                    <div class="ui-g">
                        <div class="ui-g-3 ui-sm-6">
                            <label>{{'Modalidad de juego' | translate}}<span class="star">*</span></label><br><br>
                            <p-dropdown [options]="ground_levels" [style]="{'width':'100%'}" placeholder="{{'Modalidad de juego' | translate}}" formControlName="gameMode">
                            </p-dropdown>
                        </div>
                        <div class="ui-g-3 ui-sm-6">
                            <label>{{'Tipo de cancha' | translate}}<span class="star">*</span></label><br><br>
                            <p-dropdown placeholder="{{'Tipo de cancha' | translate}}" [options]="groundType" [style]="{'width':'100%'}" formControlName="groundTypes"></p-dropdown>
                        </div>


                        <div class="ui-g-3 ui-sm-6 multiselect">
                            <label>{{"Métodos de pago" | translate }}<span class="star">*</span></label><br><br>
                            <p-multiSelect [options]="paymentMethodLabels" formControlName="paymentMethod" (onChange)="validation(groundCreateForm.controls['paymentMethod'].value)"></p-multiSelect>
                            <div *ngIf="paymentMethodValidation">
                                <p style="color: red">{{"Métodos de pago se requieren" | translate}}</p>
                            </div>
                        </div>
                        <div class="ui-g-3 ui-sm-6">
                            <label>{{'Costo por hora' | translate}}<span class="star">*</span></label><br><br>
                            <button type="button" class="greenbtn" label="{{'Ingresar' | translate}}" pButton (click)="resetField();cost_per_game_popup=true"></button>
                            <div *ngIf="costOfGroundValidation">
                                <p style="color: red">{{'Costo por hora se requieren' | translate}}</p>
                            </div>
                        </div>
                        <div class="ui-g-3 ui-sm-6">
                            <label>{{'Conectar Canchas' | translate}}</label><br><br>
                            <button type="button" class="greenbtn" label="{{'Conectar' | translate}}" pButton (click)="connectGroundInfo();connect_cancha_popup=true"></button>
                            <span style="color:darkcyan;font-size: 0.8em;">{{'Para complejos con más de una cancha' | translate}}</span>
                        </div>
                        <div class="ui-g-3 ui-sm-6">
                            <br><br>
                            <button type="button" class="choose_file" style="cursor:pointer;padding: 10px;">
                                <span style="cursor: pointer; color: white;position: relative;font-size: 1.0em;">{{"política de la cancha" | translate}}</span>
                                <input type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" (change)="fileChangeListener($event)" />
                            </button>
                        </div>
                        <div class="ui-g-3 ui-sm-6" style="overflow:hidden;display: flex;align-items: center;">
                            <br><br> <label>{{file_name}}</label>
                        </div>
                    </div>
                </div>
                <div class="ui-g-4 ui-sm-12">
                    <label>{{"Información" | translate}}</label><br><br>
                    <textarea pInputTextarea class="rulestextarea" formControlName="bio" placeholder="{{'Escribe más detalles de la cancha o d como llegar' | translate}}">
                        </textarea>
                </div>
            </div>
            <br>
            <br>
            <div class="ui-g ui-fluid">
                <div class="ui-g-6 ui-sm-12"></div>
                <div class="ui-g-3 ui-sm-6">
                    <button type="button" class="cancelButton" label="{{'CANCELAR' | translate}}" pButton (click)="cancelButton()"></button>
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <button type="button" class="greenbtn" label="{{'CONTINUAR' | translate}}" pButton (click)="submitGroundForm(groundCreateForm.value)"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<p-dialog [(visible)]="cost_per_game_popup" modal="modal" class="cost_per_game">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 headingOfPopup">
            <span>{{'Costo por hora' | translate}}</span>
        </div>
    </div>
    <div class="ui-g ui-fluid slot_div">
        <div class="ui-g-1 mob_view">
        </div>
        <div class="ui-g-2 ">
            <span>{{'Días' | translate}}</span>
        </div>
        <div class="ui-g-2 slot_div_text" *ngFor="let sinfo of slot">
            <span>{{sinfo.from_time}}-{{sinfo.to_time}}</span>
        </div>
        <div class="ui-g-1 mob_view">

        </div>
    </div>
    <div class="ui-g ui-fluid" *ngFor="let info of daysInfo;let i of index">
        <div class="ui-g-1 mob_view">
        </div>
        <div class="ui-g-2">
            <br>
            <label>{{info?.day}}</label>
        </div>
        <div class="ui-g-2" *ngFor="let dInfo of info.price">
            <input type="number" min="0" pInputText placeholder="Costo" [(ngModel)]="dInfo.amount" />
        </div>

        <div class="ui-g-1 mob_view">
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1 mob_view">
        </div>
        <div class="ui-g-5">
            <button type="button" pButton (click)="cost_per_game_popup=false" label="{{'CANCELAR' | translate}}"></button>
        </div>
        <div class="ui-g-5">
            <button type="button" pButton class="ui-button-green" label="{{'Enviar' | translate}}" (click)="saveCostOfGround();cost_per_game_popup=false"></button>
        </div>
        <div class="ui-g-1 mob_view">
        </div>
    </div>
</p-dialog>
<div [class.backdrop]="cost_per_game_popup"></div>

<p-dialog [(visible)]="connect_cancha_popup" modal="modal" class="connect_cancha">
    <div class="ui-g">
        <div class="ui-g-12 headingOfPopup">
            <span>{{'Conectar cancha' | translate}}</span>
        </div>
    </div>
    <div style="height: 350px;overflow: scroll;position: relative;">
        <span class="default_text" *ngIf="connectGroundList.length != 0">{{'Default' | translate}}</span>
        <div class="ui-g ui-fluid" *ngFor="let info of connectGroundList;let i= index">
            <div class="ui-g-2">
                <img class="card-image" src="assets/images/default_team.png" *ngIf="!info?.profile_pic" />
                <img class="card-image" src='{{imageBasePath}}{{info?.profile_pic}}' *ngIf="info?.profile_pic" />
            </div>
            <div class="ui-g-6">
                <br>
                <br>
                <span>{{info?.ground_name}}</span>
            </div>
            <div class="ui-g-2">
                <br>
                <br>
                <p-radioButton name="groupname" value="{{info.id}}" [(ngModel)]="defaultGround" [disabled]="!info?.is_default"></p-radioButton>
            </div>
            <div class="ui-g-2">
                <br>
                <br>
                <p-checkbox name="ground" value='{{info.id}}' [(ngModel)]="connectGround" (click)="checkStatus(info)"></p-checkbox>
            </div>
        </div>
        <div class="ui-g-12 no_cancha_text" *ngIf="connectGroundList.length == 0">
            <span>{{'no cancha' | translate}}</span>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-6">
            <button type="button" pButton (click)="connect_cancha_popup=false" label="{{'CANCELAR' | translate}}"></button>
        </div>
        <div class="ui-g-6">
            <button type="button" pButton class="ui-button-green" label="{{'Conectar' | translate}}" (click)="Ground(); connect_cancha_popup=false"></button>
        </div>

    </div>

</p-dialog>

<div [class.backdrop]="connect_cancha_popup"></div>