.full-container {
    padding-top: 145px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../../assets/images/ground-profile-cover/default.jpg) no-repeat;
    background-size: 100% 25%;
    height: 60em;
    margin-bottom: 90px;
}

.heading {
    padding-top: 8%;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: 500;
    font-size: 3.5em;
    color: #00253f;
}

.section {
    max-width: 970px;
    margin: auto;
}

label {
    font-size: 1em !important;
    padding-left: 5px !important;
}

.para {
    font-family: 'ChaletComprime CologneEighty';
    font-weight: 500;
    font-size: 2.5em;
}

.rulestextarea {
    width: 100%;
    height: 100px;
}

.country_code {
    width: 20%;
    float: left;
}

.mob_no {
    width: 78%;
    margin-left: 2%;
}

.submitButton {
    float: right;
    background: #8DCF25;
    border: 1px solid #8DCF25;
    padding: 10px 50px;
}

.cancelButton {
    width: 100% !important;
    border: none !important;
}

.greenbtn {
    background-color: #8DCF25 !important;
    width: 100% !important;
    border: none !important;
}

.greenbtn1 {
    background-color: #8DCF25 !important;
    width: 100% !important;
    border: none !important;
    font-size: 10px;
    padding: 10px 0px;
}

.star {
    color: red;
}

.headingOfPopup {
    background-color: #00253F;
    text-align: center;
}

.headingOfPopup span {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'ChaletComprime CologneEighty';
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}

.card-image {
    width: 50px;
    margin-top: 15px;
    border-radius: 50px;
    height: 50px;
    padding-left: 0px;
}

.no_cancha_text {
    text-align: center;
    margin-top: 150px;
    font-size: 2em;
    color: darkcyan;
}

.slot_div {
    margin-top: 10px;
    background-color: #F0F2F4;
    border: 1px solid lightgray;
}

.slot_div_text {
    text-align: center
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    width: 150px;
    padding: 7px 6px 7px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: #8DCF25;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.default_text {
    margin-left: 230px;
    position: relative;
    top: 25px;
    color: darkcyan;
}

@media only screen and (max-width: 640px) {
    .heading {
        padding-top: 0%;
    }
    .full-container {
        padding-top: 143px !important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 140px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../../assets/images/ground-profile-cover/default.jpg) no-repeat;
    }
    .mob_view {
        display: none;
    }
}

@media only screen and (max-width: 938px) and (min-width:768px) {
    .greenbtn1 {
        padding: 5px 0px;
    }
}