<div class="wrap-dash">
  <div class="maindash-container">
  </div>


  <div class="ui-g wrap-content">
    <div class="ui-g-3 no-pad">
      <div class="sidenav-chat">
        <div class="search-area">
        </div>
        <p class="sidenav-heading">Shoutout</p>
        <p class="sidenav-heading">Favourites</p>
        <div class="list-height">
          <ul>
            <div>
              <li>
                <img style="margin-right:10px;height:12px" src="assets/images/chat/star.png" alt=""> League A</li>
              <span class="li-border"></span>
            </div>
            <div>
              <li>
                <img style="margin-right:10px;height:12px" src="assets/images/chat/star.png" alt=""> League B</li>
              <span class="li-border"></span>
            </div>
            <div>
              <li>
                <img style="margin-right:10px;height:12px" src="assets/images/chat/star.png" alt=""> League C</li>
              <span class="li-border"></span>
            </div>


          </ul>
        </div>

        <div class="flex">
          <p class="sidenav-heading">Groups</p>
          <img class="add-icon" src="assets/images/chat/add.png">
        </div>
        <div class="list-height">
          <ul>
            <li>League A</li>
          </ul>
        </div>

        <p class="sidenav-heading">Admins</p>
        <div class="list-height">
          <ul>
            <li>All league management</li>
            <li>League A</li>
            <li>League B</li>
            <li>League C</li>
          </ul>
        </div>

        <p class="sidenav-heading">Clubs</p>
        <!-- <div class="club-panel">
          <ul>
            <div *ngFor="let data of leagues;let i=index" class="flex">
              <li>{{data.name}}</li>
              <img class="add-icon" *ngIf="!collaps" (click)="open(i)" src="assets/images/chat/add.png" alt="">
              <img class="add-icon" *ngIf="collaps && colindex == i" (click)="close()" src="assets/images/chat/star.png" alt="">
            </div>
          </ul>
          <div *ngIf="colindex == i && showallcon" class="team-list">
            <ul>
              <li>League A</li>
              <li>League B</li>
              <li>League C</li>
            </ul>
          </div>

        </div> -->

      </div>
    </div>
    <div class="ui-g-9 no-pad right-content">
      <!-- <button (click)="moredetails()">Toggle</button>
      <div *ngIf="rightnav" class="right-sidenav">
        <div>
          <p>All about league management</p>
        </div>
      </div> -->
    </div>
  </div>









</div>