.wrap-dash {
    margin: 50px auto;
}

.maindash-container {
    height: 166px;
    background: url("/assets/images/dash/banner.png") no-repeat center;
    background-size: cover;
}

.wrap-content {
    margin: -9px 60px 0 60px;
    background: white;
    padding: 0;
}

.sidenav-chat {
    background: #002E45;
    height: 100vh;
    overflow: auto;
    color: white;
    font-family: 'Montserrat-Light';
}

.no-pad {
    padding: 0;
}

.sidenav-heading {
    font-size: 16px;
    margin: 10px;
}

.club-panel {
    background: #002B40;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px 10px;
    font-size: 12px;
    font-family: 'Montserrat-Light';
    transition: 0.3s;
}

.flex {
    display: flex;
}

.add-icon {
    height: 16px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 12px;
    cursor: pointer;
}

li:hover {
    cursor: pointer;
    background: #6A9143;
}

.li-border {
    border-bottom: 1px solid #123B50;
    width: 31px;
    display: block;
    margin-left: 10px;
}

.search-area {
    padding: 10px 5px;
    border-bottom: 1px solid #123B50;
}

.right-content {
    background: #F2F8FA;
}

.right-sidenav {
    background: white;
    height: 100vh;
    width: 200px;
    padding: 10px;
    float: right;
}




