page-homepage {
    .body {
        background: #f6f9ff;
    }
    .upcoming {
        display: flex;
        font-family: roboto-regular;
        font-size: 14px;
        color: #666;
        margin: 5px 0px
    }
    .bar-button-menutoggle-md ion-icon,
    .bar-button-menutoggle-ios ion-icon {
        font-size: 3.4rem;
        color: #113861;
    }
    .pin {
        width: 16px;
    }
    .fa {
        font-size: 10px;
    }
    .res {
        background: #32b995;
        height: 76px;
        border-radius: 4px; // padding:16px 12px !important;
        flex: 0 0 46.2%;
        margin-right: 16px;
        display: flex;
        align-items: center;
    }
    .exp {
        background: #2c2532;
        height: 76px;
        border-radius: 4px; // padding:16px 12px !important;
        flex: 0 0 46.2%;
        display: flex;
        align-items: center;
    }
    .img_top {
        height: 24px;
        width: 24px; // margin-right: 12px;
    }
    .exp1 {
        background: #2c2532;
        border-radius: 4px; // padding:16px 12px !important;
    }
    .img_top1 {
        height: 40px;
        width: 40px; // margin-right: 12px;
    }
    .icon_col {
        padding: 0px 0px 0px 6px;
        padding: 0px 0px 0px 16px;
    }
    .make-resrevation {
        margin-top: 10px;
        padding: 0px 8px
    }
    .cart {
        margin-top: 12px;
        padding: 0px;
        background: white;
        box-shadow: 1px 1px #d7d7d7 !important;
        border-radius: 4px;
        border: 1px solid #d7d7d7 !important;
    }
    .cart1 {
        border: 1px solid #d7d7d7;
        background: white; // box-shadow: 1px 1px #d7d7d7 ;
        border-radius: 4px;
        padding: 12px 8px;
        width: 150px;
        margin-right: 12px;
    }
    .main {
        font-size: 16px;
        color: #113861;
        font-family: 'roboto-medium';
        margin-bottom: 12px;
        padding-left: 16px !important;
    }
    .head {
        font-family: 'roboto-regular';
        font-size: 16px;
        margin-bottom: 8px;
    }
    .head1 {
        font-family: 'roboto-regular';
        font-size: 22px;
        margin-bottom: 8px;
    }
    .title_h {
        font-size: 20px;
        font-family: roboto-regular;
        color: #464646;
        text-transform: capitalize;
        text-align: center;
    }
    .login {
        font-size: 16px;
        font-family: roboto-regular;
        color: #8ec63f;
        text-transform: capitalize;
        text-align: center;
    }
    .contentgt {
        font-family: 'roboto-regular';
        font-size: 12px;
    }
    .team-main {
        color: #666;
        display: flex;
        overflow: scroll;
        font-size: 14px;
        margin: 0px 16px;
        font-family: roboto-regular;
        width: 100%!important;
    }
    .team-card {
        background: white;
        border: 1px solid #d7d7d7;
        line-height: 30px;
        border-radius: 4px;
        margin-right: 8px;
    }
    .cont {
        font-family: 'roboto-regular';
        font-size: 10px;
        margin-top: 4px;
        white-space: initial;
    }
    .cont1 {
        font-family: 'roboto-regular';
        font-size: 12px;
        margin-top: 4px;
        white-space: initial;
    }
    .verticalLine {
        width: 80%;
        width: 80%;
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
    .d {
        // padding-left: 6px;
        font-size: 30px;
        color: #333333;
        line-height: 24px;
        font-family: 'roboto-bold';
    }
    .team {
        // font-family: 'roboto-bold';
        // font-size: 13px;
        // color: #333333;
        margin: 0px;
        padding: 0px 5px;
        font-family: roboto-medium;
        color: #8b8e95;
        word-break: break-all;
    }
    .col1 {
        flex: 0 0 16px;
    }
    .toolbar-title-ios {
        font-size: 18px;
        font-family: roboto-regular;
        color: #464646;
    }
    .date {
        background: #2c2532;
        padding: 8px !important;
        width: 20%;
    }
    .overflow {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .secondheading_input {
        color: #666666;
        font-size: 12px;
        padding: 0px 18px 12px 18px;
    }
    .selector {
        max-width: inherit;
        width: 100%;
        padding: 0px;
    }
    .multilang {
        position: absolute;
        top: 20;
        right: 0px;
        border: 1px solid #F8F9FB;
        text-decoration: none;
        line-height: 42px;
        z-index: 545645454545;
        background: #F8F9FB;
        color: #888888;
        -webkit-box-shadow: 16px 14px 40px -10px #999;
        box-shadow: 16px 14px 40px -10px #999;
        cursor: pointer;
        width: 200px;
        /* height: 102px; */
    }
    .multilang ul li {
        display: flex;
        align-items: center;
    }
    .multifalg {
        position: relative;
    }
    .multilang ul li img {
        margin-right: 5px;
        height: 20px;
    }
    ion-col::-webkit-scrollbar {
        display: none;
    }
    ul.rating[_ngcontent-c0] li[_ngcontent-c0] {
        padding: 0px !important;
    }
    ul {
        padding-left: 0px;
        margin: 0px;
    }
    .ion-md-star {
        color: #8ec63f!important;
        font-size: 18px;
    }
    .ion-md-star-outline {
        color: #8b8e95!important;
        font-size: 18px;
    }
    @media only screen and (max-width:320px) {
        .icon_col {
            padding-left: 10px;
        }
    }
}