<ion-header>
    <ion-navbar>
        <ion-grid style="padding: 0px 0px;background: white;">
            <ion-row>
                <ion-col col-2></ion-col>
                <ion-col col-8 class="title_h overflow" (click)="city();">
                    <img src="assets/images/pin.png" class="pin">&nbsp;&nbsp;{{ show_location}}
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content no-padding class="body">

    <div class="spinn">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
    </div>



    <ion-grid *ngIf="!internet && country_name!='USA'" class="body animate-in-primary" style="    margin: 0px; margin-top:8px " no-padding>
        <ion-row no-padding style="justify-content:center;    margin: 5px 10px 0px 10px;    ">
            <ion-col no-padding col-6 class="res" (click)="pushPage('CanchasPage')">
                <ion-col col-3 no-padding class="icon_col">
                    <img src="assets/images/home/res.png" class="img_top" />
                </ion-col>
                <ion-col col-9 no-padding class="make-resrevation">
                    <span class="head" style="color:#ffffff"> {{'Reserve' | translate}}</span>
                    <p class="cont" style="color:#ffffff">{{'Tap to make a reservation' | translate}} </p>
                </ion-col>
            </ion-col>
            <ion-col no-padding col-6 class="exp" (click)="pushPage('ExplorePage')">
                <ion-col col-3 no-padding class="icon_col">
                    <img src="assets/images/explore.png" class="img_top" />
                </ion-col>
                <ion-col col-9 no-padding style="margin-top: 10px;padding:0px 8px">
                    <span class="head" style="color:#ffffff"> {{'Explore' | translate}}</span>
                    <br>
                    <p class="cont" style="color:#ffffff">{{'New leagues, teams and players' | translate}}</p>
                </ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="animate-in-primary" *ngIf="!internet && country_name=='USA' " no-padding>
        <ion-row no-padding style="     margin: 5px 10px 0px 10px;    ">

            <ion-col no-padding col-12 class="exp1" (click)="pushPage('ExplorePage')">
                <ion-row style="    display: flex;
    align-items: center;    padding: 8px 0px;
">
                    <ion-col col-2 class="icon_col">
                        <img src="assets/images/explore.png" class="img_top1" />
                    </ion-col>
                    <ion-col style="line-height: 25px;padding-left: 8px;" col-8 no-padding>
                        <span class="head1" style="color:#ffffff"> {{'Explore' | translate}}</span>
                        <br>
                        <p class="cont1" style="color:#ffffff;margin:0px">{{'What’s inside the app' | translate}}</p>
                    </ion-col>
                    <ion-col col-2 text-right style="        padding: 0px 10px 0px 0px;
                    ">
                        <img src="assets/images/Arrow.png" style="height: 20px; width: 20px;" />
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="!internet">
        <div class="animate-in-primary" *ngIf="upcoming_game && upcoming_record">
            <ion-grid no-padding>
                <ion-row *ngFor="let i of up" no-padding class="cart" style="border:none !important;margin:16px  16px 0px 16px;">

                    <ion-col no-padding col-12 class="main">
                        <span>{{'Your upcoming game' | translate}}</span>
                    </ion-col>

                    <div no-padding class="date">
                        <img style="width: 25px;" src="assets/images/home/home_calender.png" />
                        <p no-margin style="opacity: .7;padding-top: 5px;font-family:'roboto-medium';color:white;font-size: 12px">{{i?.date|date:'shortTime'}}
                        </p>
                        <p no-margin style="opacity: .7;padding-top: 5px;font-family:'roboto-medium';color:white;font-size: 12px">{{i?.date|date:'EEE dd'}}th
                        </p>
                        <p no-margin style="opacity: .7;padding-top: 5px;font-family:'roboto-medium';color:white;font-size: 12px">{{i?.date|date:'MMM yyyy'}}
                        </p>
                    </div>

                    <div class="verticalLine" no-padding>
                        <ion-row no-padding>
                            <ion-col col-12 no-padding class="upcoming">
                                <p class="team">
                                    {{i?.tournament_name }}&nbsp;
                                    <span *ngIf="i?.group_name">
                                        <i class="fa fa-circle" aria-hidden="true" style=" font-size:7px;color:#333;"></i>
                                    </span> {{i?.group_name}}
                                    <span *ngIf="i?.round_name">
                                        <i class="fa fa-circle" aria-hidden="true" style=" font-size:7px;color:#333;"></i>
                                    </span> {{i?.round_name }}
                                </p>
                            </ion-col>
                        </ion-row>

                        <ion-row style="display: flex;align-items: center;">
                            <ion-col no-padding style="display: flex;align-items: center;" col-5>
                                <img style="width: 35px;height: 35px;border-radius: 32px;" [src]="i?.team[0]?.team_logo?img+i?.team[0]?.team_logo:'assets/images/team/team_default.png'" />
                                <span class="team">{{i?.team[0]?.team_name }}</span>
                            </ion-col>
                            <ion-col no-padding col-1>
                                <span style="color: #113861">Vs</span>
                            </ion-col>
                            <ion-col style="display: flex;align-items: center;" col-6 no-padding>
                                <img style="width: 35px;height: 35px;border-radius: 32px;" [src]="i?.team[1]?.team_logo?img+i?.team[1]?.team_logo:'assets/images/team/team_default.png'" />
                                <span class="team">{{i?.team[1]?.team_name }}</span>
                            </ion-col>
                            <ion-col *ngIf="up?.ground" col-12 no-padding>
                                <p style="color: #113861;font-family: roboto-medium;margin: 8px 0px 0px 0px">{{"i?.ground"}}
                                </p>
                            </ion-col>
                        </ion-row>

                    </div>
                </ion-row>

            </ion-grid>
        </div>

        <ion-grid *ngIf="tourcheck" class="body animate-in-primary" style="padding:0px;">
            <ion-row style="padding-top:24px;    margin: 0px 16px;">
                <ion-col no-padding col-10 class="team" style="color:#666666">{{"Leagues near you" | translate}}</ion-col>
                <ion-col no-padding col-2 class="contentg" style="color:#8ec63f;display:flex;justify-content:flex-end  ;font-size:12px;" (click)="pushPage('TournamentsPage')">{{"View all" | translate}}</ion-col>
            </ion-row>

            <ion-row no-padding>
                <ion-col no-padding style="    margin: 0px 16px;      display:flex;overflow:scroll;width:50px;height:100px;">
                    <ion-col *ngFor="let tour of tours" col-8 class="cart" style="margin-right:12px;box-shadow:none !important;height:78px;padding:16px 12px;" (click)="profilehome('TournamentprofilePage',tour.id,lang=='en'?tour?.status:tour?.status_en)">
                        <ion-row no-padding>
                            <ion-col col-3 no-padding>
                                <img [src]="tour?.profile_pic?img+tour?.profile_pic:'assets/images/tournament/default.png'" class="logo" style="margin:0px 0px 0px 0px" />
                            </ion-col>
                            <ion-col col-8 no-padding>
                                <p class="contentgt overflow" style="color:#113861; margin:0px 0px 4px 12px; font-family: roboto-bold;;font-size: 13px;">{{tour?.tournament_name.slice(0,1) | uppercase}}{{tour?.tournament_name.slice(1) | lowercase}}</p>
                                <p class="contentgt overflow" style="color:#8b8e95; margin:0px 0px 4px 12px;">{{tour?.organization_name}}</p>
                                <p class="contentgt" style="color:#8ec63e; margin:0px 0px 4px 12px;">{{lang=='en'?tour?.status:tour?.status_en}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <!-- <ion-col col-2>
          <ion-infinite-scroll (ionInfinite)="doInfinite_tour($event,tour?.total_pages)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-col> -->

                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid *ngIf="teamcheck" class="body animate-in-primary" style="padding:0px;">

            <ion-row style="padding:12px 0px 8px 0px;margin:0px 16px">
                <ion-col col-10 class="team" no-padding style="color:#666666">{{'Teams near you' | translate}}</ion-col>
                <ion-col col-2 class="content" no-padding style="color:#8ec63f;display:flex;justify-content:flex-end;font-size:12px;color: #8ec63f" (click)="pushPage('TeamsPage')">{{"View all" | translate}}</ion-col>
            </ion-row>

            <ion-row>
                <div class="team-main ">
                    <ion-col (click)="profilehome('TeamdetailPage',team.id)" *ngFor="let team of teams" class="team-card" col-4 no-padding>
                        <ion-row no-padding>
                            <ion-col col-12 no-padding style="display:flex;justify-content:center;">
                                <img [src]="team?.team_logo?img+team?.team_logo:'assets/images/team/team_default.png'" class="logo" style="margin:8px;" />
                            </ion-col>
                            <ion-col col-12 no-padding style="display:flex;justify-content:center;">
                                <p class="overflow" style="padding:0px 5px;color:#113861" no-padding no-margin>
                                    {{team?.team_name}}
                                </p>
                            </ion-col>
                            <ion-col col-12 no-padding style="display:flex;justify-content:center;">
                                <rating [(ngModel)]="team.team_technique" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">
                                </rating>
                            </ion-col>
                            <ion-col col-12 no-padding style="display:flex;justify-content:center;padding:0px 5px;color: #8ec63f">
                                <p class="overflow" no-padding no-margin>
                                    {{team?.city}}
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </div>
            </ion-row>
        </ion-grid>



        <ion-grid *ngIf="playercheck" class="body animate-in-primary" style="padding:0px;margin-bottom: 20px;">
            <ion-row style="padding-top:24px;padding-bottom:8px;margin:0px 16px">
                <ion-col no-padding col-10 class="team" style="color:#666666"> {{'Top players' | translate}}</ion-col>
                <ion-col no-padding col-2 class="contentg" style="color:#113861;display:flex;justify-content:flex-end;font-size:12px;color: #8ec63f" (click)="pushPage('PlayersPage')">{{"View all" | translate}}</ion-col>
            </ion-row>


            <ion-row>
                <div class="team-main ">
                    <ion-col (click)="profilehome('PlayerdetailPage',player.id)" *ngFor="let player of players" class="team-card" col-4 no-padding>
                        <ion-row no-padding>
                            <ion-col col-12 no-padding style="display:flex;justify-content:center;">
                                <img [src]="player?.profile_pic?img+player?.profile_pic:'assets/images/player/defaultplayer.jpg'" class="logo" style="margin:8px;" />
                            </ion-col>
                            <ion-col col-12 no-padding style="display:flex;justify-content:center;">
                                <p class="overflow" style="padding:0px 5px;color:#113861" no-padding no-margin>
                                    {{player?.player_name.slice(0,1) | uppercase }}{{player?.player_name.slice(1) | lowercase}}
                                </p>
                            </ion-col>
                            <ion-col col-12 no-padding style="display:flex;justify-content:center;padding:0px 5px">
                                <p class="overflow" style="padding:0px 5px;color: #8b8e95" no-padding no-margin>
                                    {{lang=='en'?player?.position_en:player?.position}}
                                </p>
                            </ion-col>
                            <ion-col col-12 no-padding style="display:flex;justify-content:center;padding:0px 5px">
                                <p class="overflow" style="padding:0px 5px;color: #8ec63f" no-padding no-margin>
                                    {{player?.city}}
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </div>
            </ion-row>
        </ion-grid>
    </div>
    <div #map id="map"></div>

    <div *ngIf="internet" class="emptystates">
        <img class="internet-icon" src="assets/images/no_internet.png">
        <p (click)="ionViewWillLoad()">{{'Try again' | translate}}</p>
    </div>
</ion-content>
`