<p-growl [value]="message"></p-growl>
<loader *ngIf='loader'></loader>

<div class="full-container">
    <div class="section">
        <div class="ui-g">
            <div class="ui-g-12">
                <h2 class="heading">{{'Editar auspiciante' | translate}}
                    <p (click)="backToProfile()" class="back">{{'Volver al perfil' | translate}}</p>
                </h2>
                <hr>
            </div>
        </div>


        <div class="ui-g">
            <div class="ui-g-12 para2">
                <span>{{'Agregar Auspiciante' | translate}} </span> &nbsp;&nbsp;&nbsp;
                <span>({{'Al añadir más de un auspiciante,enumerar por prioridad del 1-5' | translate}})</span>
            </div>
        </div>
        <hr>
        <div class="ui-g ui-fluid setdivbackground2 ">
            <div *ngFor="let add of sponserInfo; let i=index" style="width:100%" class="setPadding">
                <div class="ui-g-3 ui-sm-6">
                    <label> {{'Nombre del auspiciante' | translate}}
                        <span class="star">*</span>
                    </label>
                    <br>
                    <br>
                    <input type="text" pInputText placeholder="{{'Nombre del auspiciante' | translate}}" [(ngModel)]="add.sponser_name" [class.borderColor]="add.valid" />
                </div>
                <div class="ui-g-2 ui-sm-6 ">
                    <label> {{'Prioridad' | translate}}
                        <span class="star">*</span>
                    </label>
                    <br>
                    <br>
                    <input type="number" pInputText placeholder="{{'Prioridad' | translate}}" [(ngModel)]="add.priority" />
                </div>
                <div class="ui-g-2 ui-sm-6 logotext">
                    <label>{{'Imagen del logo' | translate}}
                        <span class="star">*</span>
                    </label>
                </div>
                <div class="ui-g-2 ui-sm-6 imageDiv">
                    <img *ngIf="add.pk==null && file_src_sponser[i]!=null" src='{{file_src_sponser[i]}}' alt="" class="img" />
                    <img *ngIf="add.pk!=null" src='{{imageBasePath}}{{add.image}}' alt="" class="img" />

                    <button *ngIf="file_src_sponser[i]==null && add.pk==null" type="button" class="choose_file_sponser" style="cursor:pointer">
                        <span style="cursor: pointer; color:black;position: relative;font-size: 1.2em;">{{'SUBIR' | translate}}</span>
                        <input type="file" name="img" value="upload" style="cursor:pointer;height: 95px;width: 140px;" (change)="sponserPicChange($event,i,inputsponser)"
                            #inputsponser/>
                    </button>
                    <div class="fileContainer" *ngIf="add.pk!=null">
                        <img src='assets/images/upload.png' alt="" style="width: 25px" />
                        <input type="file" name="img" value="upload" (change)="sponserPicChange($event,i,input)" #input />
                    </div>
                </div>
                <div class="ui-g-2 ui-sm-6">
                    <br>
                    <br>
                    <button type="button" class="choose_file" style="cursor:pointer" (click)="fileChangeListener(i,add,'sponser')">
                        <span style="cursor: pointer; color: white;position: relative;font-size: 1.2em;">{{'ACTUALIZAR' | translate}}</span>

                    </button>
                </div>

                <div class="ui-g-1 ui-sm-6">
                    <img src="assets/images/del.jpg" class="delImg" (click)="deleteSponserField(i,add.pk)" />
                </div>
            </div>
            <br>
            <br>
            <div class="ui-g">
                <div class="ui-g-12">
                    <button type="button" class="addsponser" label="{{'AGREGAR AUSPICIANTE' | translate}}" pButton (click)="addSponserField()"></button>
                </div>
            </div>
        </div>

        <br>
        <br>
    </div>
</div>


<div [class.backdrop]="backdrop"></div>