.full-container {
    padding-top: 250px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../../../assets/images/back.jpg) no-repeat;
    background-size: 100% 25%;
    height: 60em;
}

.heading {
    font-family: 'ChaletComprime CologneEighty';
    font-weight: 500;
    font-size: 3.5em;
    color: #828282;
}

.section {
    max-width: 970px;
    margin: auto;
    margin-bottom: 50px;
}

label {
    font-size: 1em !important;
    padding-left: 5px !important;
}

.para {
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 2%;
}

.star {
    color: red;
}

.borderColor {
    border-color: red;
}

.cancelButton {
    float: right;
    padding: 6px 0px;
    text-align: center;
}

.setdivbackground {
    background-color: #F2F2F2;
}

.setdivbackground2 {
    background-color: #F2F2F2;
    padding-bottom: 5%;
    padding-top: 2%;
    padding-left: 2%;
}

.sponserbttn {
    padding-top: 2%;
    padding-left: 1%;
}

.spanpos {
    text-align: center;
    padding-left: 15%;
    padding-top: 4%;
}

.para2 {
    font-size: 1em;
    padding-bottom: 1%;
    padding-top: 2%;
}

.uigLeft {
    padding-left: 20px;
}

.logotext {
    padding-top: 5%;
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    width: 150px;
    padding: 7px 6px 7px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: #00253F;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.submitButton {
    float: right;
    background: #8DCF25;
    border: 1px solid #8DCF25;
    padding: 6px 0px;
    text-align: center;
}

.addsponser {
    float: left;
    background: #8DCF25;
    border: 1px solid #8DCF25;
    margin-top: 5%;
}

.icon1 {
    font-size: 0.9em;
    margin-left: 120%;
    margin-top: 35%;
}

.icon2 {
    font-size: 0.9em;
    margin-left: 120%;
    margin-top: 185%;
}

.icon3 {
    font-size: 0.9em;
    margin-left: 100%;
    margin-top: 25%;
}

.logotextcancha {
    padding-top: 2%;
}

.setdivbackground3 {
    background-color: #F2F2F2;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 1%;
}

.img {
    height: 105px;
    margin-left: 1%;
    padding-left: 10%;
    overflow: hidden;
    width: 120px;
}

.icon4 {
    font-size: 0.9em;
    margin-left: 100%;
    margin-top: 0%;
}

.delImg {
    width: 50%;
    border-radius: 50%;
    margin-top: 40%;
    height: 50%;
    cursor: pointer;
    margin-left: 15%;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}


/*******image cropper (praveen)********/

.image_cropper_heading {
    padding: 0;
    font-family: ChaletComprime CologneEighty;
    font-size: 4em !important;
    color: white;
    text-transform: uppercase;
}

.result {
    margin: 40px auto;
    margin-bottom: 0;
    display: block;
    background: gray;
    width: 200px;
    border-radius: 100px;
}

.result.rounded>img {
    border-radius: 100px;
}

input[type='file'] {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.cancel {
    width: 85% !important;
}

.save {
    padding: 8px 16px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.cropper_label {
    padding-left: 5%;
    color: #828282;
    font-size: 1.2em;
}


/********image cropper********/

.back {
    width: 10%;
    margin-left: 90%;
    cursor: pointer;
    font-size: 0.5em;
    margin-top: -3%;
    color: #99cc00;
}

.choose_file_ground {
    position: relative;
    width: 120px;
    margin-left: -6px;
    height: 70px;
    margin-top: -6px;
    overflow: hidden;
}


/*.choose {
    position: relative;
    width: 120px;
    margin-left: -6px;
    height: 70px;
    margin-top: -6px;
    overflow: hidden;
}*/

.choose {
    position: absolute;
    overflow: hidden;
    top: 435px;
    margin-left: 1%;
    border-radius: 25px;
    border: 1px solid grey;
}

.img {
    height: 105px;
    margin-left: 1%;
    padding-left: 10% !important;
    overflow: hidden;
    width: 120px;
}

.choose_file_ground_img {
    position: relative;
    width: 110px;
    margin-left: -6px;
    height: 110px;
    margin-top: -6px;
    overflow: hidden;
}

.groundImageDiv {
    width: 125px;
}

.groundImageDiv:hover .choose {
    display: block;
}

.choose {
    display: none;
}

.choose_file_sponser {
    overflow: hidden;
    position: relative;
    top: 0px;
    width: 145px;
    height: 100px;
}

.choose_file_sponser [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    height: 51%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    top: -65px;
    text-align: center;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    height: 51%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
}

.imageDiv:hover .choose {
    display: block
}

.choose {
    display: none;
}

@media only screen and (max-width: 640px) {
    .heading {
        padding-top: 14%;
        font-size: 1.8em;
    }
    .back {
        width: 24%;
        margin-left: 78%;
        font-size: 0.7em;
        margin-top: -7%;
    }
    .img {
        height: 45px;
        margin-left: 1%;
        padding-left: 10%;
        overflow: hidden;
        width: 80px;
    }
    .logotext {
        padding-top: 13%;
    }
    .delImg {
        width: 15%;
        margin-top: 5%;
        margin-left: 71%;
    }
    .setdivbackground3 {
        padding-left: 0%;
    }
    .mob_view {
        display: none;
    }
}

@media only screen and (max-width: 768px) and (min-width: 740px) {
    .back {
        width: 15%;
        margin-left: 85%;
        margin-top: -4%;
    }
    .heading {
        padding-top: 11%;
    }
}