<div class="selection-area">
    <div class="ui-g">
        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-6">
            <p class="drop-label">{{'Seleccione ligas' | translate}}</p>
            <p-dropdown (onChange)="leagueselect($event)" placeholder="select" [options]="leaguearray" [(ngModel)]="league"></p-dropdown>
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-6">
            <div *ngIf="seasonsection">
                <p class="drop-label">{{'Filtrar por temporada' | translate}}</p>
                <p-dropdown placeholder="select" (onChange)="seasonselect($event)" [options]="sessonarray" [(ngModel)]="season"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-12">
            <div class="reset" (click)="reset()">{{'Restablecer filtros' | translate}}</div>
        </div>
    </div>
</div>

<div class="text-center" *ngIf="nodta" style="margin-top:50px;color: darkcyan;font-size: 1.3em;">
    {{'Datos no encontrados' | translate}}
</div>
<div *ngIf="!nodta" style="margin-top:40px;">
    <div *ngFor="let data of historydata" class="content-row">
        <div class="ui-g">
            <div class="ui-g-7 ui-md-7 ui-sm-12">
                <div class="ui-g team-p">
                    <div class="ui-g-3" style="text-align:right">
                        <p>{{data?.team1_name}}</p>
                    </div>
                    <div class="ui-g-2 text-center">
                        <img class="img-player-t" [src]="data?.team1_logo?logo+data?.team1_logo:'assets/images/team-profile-logo/default.png'">
                    </div>
                    <div class="ui-g-2 text-center">
                        <div class="goal-r">
                            {{data?.team1_goals}} - {{data?.team2_goals}}
                        </div>
                    </div>
                    <div class="ui-g-2 text-center">
                        <img class="img-player-t" [src]="data?.team2_logo?logo+data?.team2_logo:'assets/images/team-profile-logo/default.png'">

                    </div>
                    <div class="ui-g-3" style="text-align:left">
                        <p>{{data?.team2_name}}</p>

                    </div>
                </div>

                <div class="des-p">
                    {{data?.tournament_name}} . {{data?.tournament_season}} . {{data?.tournament_date}}
                </div>
            </div>
            <div class="ui-g-5 ui-md-5 ui-sm-12">

                <div class="ui-g" style="margin-top: 12px;">
                    <div class="ui-g-3 text-center">
                        <p>{{'Tarjeta amarilla' | translate}}</p>
                    </div>
                    <div class="ui-g-3 text-center">
                        <p>{{'Tarjeta roja' | translate}}</p>
                    </div>
                    <div class="ui-g-3 text-center">
                        <p>{{'Asistir' | translate}}</p>
                    </div>
                    <div class="ui-g-3 text-center">
                        <p>{{'Goles' | translate}}</p>
                    </div>
                </div>

                <div class="ui-g">
                    <div class="ui-g-3 text-center">
                        <p>{{data?.yellow_card}}</p>
                    </div>
                    <div class="ui-g-3 text-center">
                        <p>{{data?.red_card}}</p>
                    </div>
                    <div class="ui-g-3 text-center">
                        <p>{{data?.assist}}</p>
                    </div>
                    <div class="ui-g-3 text-center">
                        <p>{{data?.goals}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>