@media screen and (min-width:320px) and (max-width:640px) {
    .grupo {
        font-size: 9px;
    }
    .iconss {
        margin-left: 0px !important;
    }
}

.head {
    background-image: url('./../../../../../assets/images/back.jpg');
    background-size: 100% 100%;
    height: 220px;
}

.icon-bar {
    width: 100%;
    text-align: center;
    overflow: auto;
}

.icon-bar a {
    width: 17%;
    padding: 12px 0px;
    float: left;
    transition: all 0.3s ease;
    color: #828282;
    font-size: 21px;
    text-decoration: none;
}

h3 {
    font-size: 1.3em;
}

.sections {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.section {
    margin-left: 6%;
}

.informacion>h3 {
    padding-left: 4%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.informacion>p {
    font-size: 1.1em;
}

.informacion>p {
    line-height: 1.8;
    padding-left: 4%;
}

.informacion {
    border: 2px solid #828282;
    padding-bottom: 7%;
    width: 85%;
}

.paletando {
    width: 85%;
    border: 2px solid #828282;
    margin-top: 10%;
}

.para {
    margin-top: 5%;
}

.paletando>h3 {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 4%;
}

.rank {
    padding-left: 4%;
}

big {
    font-size: 20px;
    margin: 5px;
}

hr {
    margin-top: 2%;
}

.linkCustom {
    border-radius: 3px;
}

.hoverOnTd {
    color: #737373;
    background-color: #e6e6e6;
    padding: 10px;
}

.hoverOnTd:hover {
    background-color: #66cc00;
    color: white;
    cursor: pointer;
}

.colDiv {
    background-color: #66cc00;
}

.colorSUm {
    color: white;
}

.part1div {
    background-color: #e6e6e6;
}

.match {
    color: #66cc00;
    font-size: 10px;
}

.value {
    color: #737373;
    font-size: 10px;
}

.franceCol {
    position: relative;
}

.france {
    float: left;
    margin-left: 5%;
    margin-top: 8%;
}

.left_team {
    float: left;
}

.circleImage {
    border-radius: 15px;
}

.circleDiv {
    height: 30px;
    width: 30px;
    background-color: red;
}

.colorRows {
    background-color: #003366;
    color: white;
    padding-bottom: 1%;
    padding-top: 1%;
}

.greyCol {
    background-color: #f2f2f2;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    color: #003366;
    font-size: 15px;
    padding: 0px;
    padding-bottom: 10px;
}

.iconss {
    border-radius: 15px;
    float: left;
    margin-top: 2%;
}

.france {
    margin-top: 4%;
}


/*================ not in use=================*/

.time {
    font-size: 16px;
    margin-top: 20%;
    margin-right: 10%;
}

.cirImage {
    border-radius: 15px;
    float: left;
    margin-left: 8%;
}

.Portugal {
    margin-top: 8% !important;
}

.widthRow {
    width: 97%;
}

.manual {
    margin-top: 5% !important;
}

.full-container {
    padding-top: 185px;
    background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 230px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../../../assets/images/tournament-profile-cover/default.png) no-repeat;
    background-size: 100%
}

.section {
    max-width: 970px;
    margin: auto;
}

.icons {
    color: white;
    text-align: center;
    position: relative;
    width: 160px;
    z-index: 1;
    top: -70px;
}

.team {
    text-align: left
}

@media screen and (min-width:320px) and (max-width:640px) {
    .grupo {
        font-size: 9px;
    }
    .iconss {
        margin-left: 0px !important;
    }
    .lft {
        margin-left: -3px;
    }
    .partidos {
        padding-top: 15% !important;
    }
    .icn {
        left: 190px !important;
    }
    .name {
        margin-left: 40px !important;
    }
}

.head {
    background-image: url('./../../../../../assets/images/back.jpg');
    background-size: 100% 100%;
    height: 220px;
}

.icon-bar {
    width: 100%;
    text-align: center;
    overflow: auto;
}

.icon-bar a {
    width: 17%;
    padding: 12px 0px;
    float: left;
    transition: all 0.3s ease;
    color: #828282;
    font-size: 21px;
    text-decoration: none;
}

h3 {
    font-size: 1.3em;
}

.partidos {
    border-bottom: 1px solid #828282;
}

.back {
    float: right;
    color: green;
}

.icons {
    top: 0px;
}

.heading {
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3em;
    color: grey;
}

.backTotournament {
    float: right;
    cursor: pointer;
    margin-top: 1%;
    color: #99cc00;
}

.partidos {
    padding-top: 5%;
}

.informacion>h3 {
    padding-left: 4%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.informacion>p {
    font-size: 1.1em;
}

.informacion>p {
    line-height: 1.8;
    padding-left: 4%;
}

.informacion {
    border: 2px solid #828282;
    padding-bottom: 7%;
    width: 85%;
}

.paletando {
    width: 85%;
    border: 2px solid #828282;
    margin-top: 10%;
}

.para {
    margin-top: 5%;
}

.paletando>h3 {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 4%;
}

.rank {
    padding-left: 4%;
}

big {
    font-size: 20px;
    margin: 5px;
}

hr {
    margin-top: 2%;
}

.linkCustom {
    border-radius: 3px;
}

.hoverOnTd {
    color: #737373;
    background-color: #e6e6e6;
    padding: 10px;
}

.hoverOnTd:hover {
    background-color: #66cc00;
    color: white;
    cursor: pointer;
}

.colDiv {
    background-color: #66cc00;
}

.colorSUm {
    color: white;
}

.part1div {
    background-color: #e6e6e6;
}

.match {
    color: #66cc00;
    font-size: 10px;
}

.value {
    color: #737373;
    font-size: 10px;
}

.franceCol {
    position: relative;
}

.france {
    float: left;
    margin-top: 8%;
    word-break: break-all;
}

.circleImage {
    border-radius: 15px;
}

.circleDiv {
    height: 30px;
    width: 30px;
    background-color: red;
}

.colorRows {
    background-color: #003366;
    color: white;
    padding-bottom: 1%;
    padding-top: 1%;
}

.iconss {
    border-radius: 50px;
    float: left;
    margin-top: 2%;
}

.france {
    margin-top: 2.5%;
}

.name {
    float: left;
    margin-left: 115px;
}

.redCard {
    width: 20px;
    height: 20px;
}


/*================ not in use=================*/

.time {
    font-size: 16px;
    margin-top: 20%;
    margin-right: 10%;
}

.cirImage {
    border-radius: 15px;
    float: left;
    margin-left: 8%;
}

.Portugal {
    margin-top: 8% !important;
}

.widthRow {
    width: 97%;
}

.manual {
    margin-top: 5% !important;
}

.icn {
    position: absolute;
    left: 850px;
}

.fa {
    width: 25px;
    background: #113861;
    font-size: 20px;
    border-radius: 50%;
    padding: 7px;
    margin: 1%;
    color: white;
    cursor: pointer;
}

.option_select {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#download {
    width: 795px;
    margin: 0 auto;
    margin-top: 20px;
    height: 440px;
    overflow-y: auto;
}

.top_text {
    font-size: 20px;
    padding-bottom: 10px;
    font-family: 'ChaletComprime CologneEighty';
    color: #00253f;
    line-height: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
}

.tour_logo {
    text-align: -webkit-center;
    padding: 0px;
    position: relative;
}

.tour_logo :nth-child(2) {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 50%;
    top: 120px;
    transform: translate(-50%, -50%);
    left: 50%;
    border: 2px solid #8DCF24;
}

.tour_logo :nth-child(1) {
    width: 100%;
}

.pelo_logo {
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    text-align: right;
}

.tour_name {
    text-align: center;
    font-size: 30px;
    font-family: 'ChaletComprime CologneEighty';
    text-transform: capitalize;
    margin-top: 45px;
    color: #0D2A43;
    display: grid;
}

.tour_name :nth-child(2) {
    color: gray;
    font-weight: 100;
    font-size: 0.5em;
    padding-top: 4px;
    font-family: 'Montserrat-Regular';
}

.tour_border {
    border-width: 0px 1px 0px 1px !important;
}

.group_wise {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat-Light';
    font-size: 0.9em;
    color: #0D2A43;
    font-weight: bold;
}

.group_name {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat-Light';
    font-size: 0.9em;
    color: #0D2A43;
    font-weight: bold;
}

.details {
    width: 100%;
    margin-top: 2px;
}

.details div {
    display: flex;
}

.details p {
    font-size: 20px;
    font-family: 'ChaletComprime CologneEighty';
    color: #00253f;
    padding-right: 42px;
    width: 100%;
}

.captain {
    font-size: 22px;
    font-family: 'ChaletComprime CologneEighty';
    color: #00253f;
    width: 100%;
    border-top: 0;
}

table,
th,
td {
    border-collapse: collapse;
    border-color: black;
    text-align: center;
    font-family: 'Montserrat-Light';
    padding-top: 5px;
    padding-bottom: 5px;
}

table,
tr,
td {
    font-size: 15px;
    font-family: 'Montserrat-Light';
}

th {
    background: #00253f;
    color: white
}

td {
    color: #003366;
    font-size: 0.9em;
    font-weight: 800;
}

table tr td:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

.yellow_card tr td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}

.yellow_card tr th:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}

table tr th:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

.fa-download {
    background: #8DCF25 !important;
    width: initial !important;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.table_info {
    padding: 0px;
    width: 700px;
    margin: 0 auto;
    margin-top: 10px;
    background: #f2f2f2;
}

.image_div {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.sponser {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    justify-content: center;
    font-size: 15px;
}

.sponser img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-left: 15px;
    border: 2px solid #8DCF24;
}

.header {
    position: relative;
    background: #0C2841
}

.header span {
    position: absolute;
    right: 10px;
    top: 15px;
    color: white;
    font-size: 1.2em;
    font-family: Montserrat-Light;
}

.header img {
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
}

.footer {
    position: relative;
    background: #0C2841;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer img {
    width: 50px;
    height: 40px;
}

.footer p {
    color: white
}

.delete_ground_header {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.delete_ground_header span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.table_name span {
    font-size: 15px;
}

.table_name {
    background: white;
    color: #113861;
    text-align: center;
}