<loader *ngIf='loader'></loader>

<div class="ui-g">
    <div class="ui-g-12 option_select">
        <p-dropdown [options]="types" class="dropdown" [(ngModel)]="selectedTypes" (onChange)="changeStatus(ref)" #ref></p-dropdown>
        <i class="fa fa-download downloadbttn" *ngIf="downloadBttnStatus" aria-hidden="true" (click)="tableInformation()" style="cursor: pointer"></i>
    </div>
</div>

<div class="ui-g" *ngIf="status == 'table' && pointsDetails?.length">
    <div class="ui-g-12 ui-g-nopad greyCol">
        <div *ngFor="let round of pointsDetails">
            <h3 style="text-align: -webkit-center">{{round.round_name}}</h3>
            <div *ngFor="let group of round.group" class="grupo" style="text-align: -webkit-center">
                <h3>{{group.group_name}}</h3>
                <div class="ui-g">
                    <div class="ui-g-12 ui-g-nopad colorRows">
                        <div class="ui-g">
                            <div class="ui-g-1 ui-sm-1 ">
                                <span>{{'P' | translate}}</span>
                            </div>
                            <div class="ui-g-4 ui-sm-3 ">
                                <span class="left_team">{{'EQUIPO' | translate}}</span>
                            </div>
                            <div class="ui-g-1 ui-sm-1 ">
                                <span>{{'Puntos' | translate}}</span>
                            </div>
                            <div class="ui-g-1 ui-sm-1 ">
                                <span>{{'PJ' | translate}}</span>
                            </div>
                            <div class="ui-g-1 ui-sm-1 ">
                                <span>{{'PG' | translate}}</span>
                            </div>
                            <div class="ui-g-1 ui-sm-1 ">
                                <span>{{'PP' | translate}}</span>
                            </div>
                            <div class="ui-g-1 ui-sm-1 ">
                                <span>{{'PE' | translate}}</span>
                            </div>
                            <div class="ui-g-1 ui-sm-1 ">
                                <span>{{'GF/GC' | translate}}</span>
                            </div>
                            <div class="ui-g-1 ui-sm-1 ">
                                <span>{{'GD' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g" *ngFor="let point of group.team;let i = index">
                    <div class="ui-g-1 ui-sm-1 lft">{{i+1}}</div>
                    <div class="ui-g-4 ui-sm-3 lft ui-g-nopad" style="display:flex">
                        <img class="iconss" [src]='point?.team_logo?imageUrl+point?.team_logo:"assets/images/default_team.png"' alt="images" height="30px" width="30px">
                        <span class="france">{{point.team_name}}</span>
                    </div>
                    <div class="ui-g-1 ui-sm-1 lft">{{point.points}}</div>
                    <div class="ui-g-1 ui-sm-1 lft">{{point.match_played}}</div>
                    <div class="ui-g-1 ui-sm-1 lft">{{point.won}}</div>
                    <div class="ui-g-1 ui-sm-1 lft">{{point.match_played-point.won-point.ties}} </div>
                    <div class="ui-g-1 ui-sm-1 lft">{{point.ties}} </div>
                    <div class="ui-g-1 ui-sm-1 lft">{{point.save_goals}}/{{point.goal_against}}</div>
                    <div class="ui-g-1 ui-sm-1 lft">{{point.goal_difference}}</div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="ui-g">
    <div class="ui-g-12 ui-lg-12 ui-sm-12 ">
        <div class="contain" align="center">
            <div class="ui-g">
                <div class="ui-g-12 ui-g-nopad greyCol" *ngIf="status=='goles' && scorerInfo?.length ; else other">
                    <div>
                        <div class="grupo">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-g-nopad colorRows">
                                    <div class="ui-g">
                                        <div class="ui-g-1 ui-sm-1 lft">{{'P' | translate}}</div>
                                        <div style="    text-align: left;" class="ui-g-5 ui-sm-6 lft ">
                                            <span class=" ">{{'Nombre' | translate}}</span>
                                        </div>
                                        <div class="ui-g-3 ui-sm-5 lft team">{{'Equipo' | translate}}</div>
                                        <div class="ui-g-3 ui-sm-5 lft">{{'Goles' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g" *ngFor="let group of scorerInfo;let i = index">
                                <div class="ui-g-1 ui-sm-1 lft">{{i+1}}</div>
                                <div class="ui-g-5 ui-sm-6 lft ui-g-nopad">
                                    <img class="iconss" [src]='group?.profile_pic?imageUrl+group?.profile_pic:"/assets/images/player-profile-logo/default.png"' alt="images" height="30px" width="30px">
                                    <span class="france">{{group?.player}} {{group?.last_name}} </span>
                                </div>
                                <div class="ui-g-3 ui-sm-5 team">{{group?.team_name}}</div>
                                <div class="ui-g-3 ui-sm-5 lft">{{group?.goal}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #other>
                    <div class="ui-g-12 ui-g-nopad greyCol" *ngIf="golesInfo.length && status !='table'">
                        <div>
                            <div class="grupo">
                                <div class="ui-g">
                                    <div class="ui-g-12 ui-g-nopad colorRows">
                                        <div class="ui-g">
                                            <div class="ui-g-1 ui-sm-1 lft">{{'P' | translate}}</div>
                                            <div class="ui-g-4 ui-sm-6 lft " style="    text-align: left;">
                                                <span class=" ">{{"Nombre" | translate}}</span>
                                            </div>
                                            <div class="ui-g-3 ui-sm-5 lft team">{{'Equipo' | translate}}</div>
                                            <div class="ui-g-2 ui-sm-5 lft">{{'Goles' | translate}}</div>
                                            <div class="ui-g-2 ui-sm-5 lft">{{(selectedTypes=='yellow_card'?'Tarjetas Amarillas':'Tarjetas Rojas') | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g" *ngFor="let group of golesInfo;let i = index">
                                    <div class="ui-g-1 ui-sm-1 lft">{{i+1}}</div>
                                    <div class="ui-g-4 ui-sm-6 lft ui-g-nopad">
                                        <img class="iconss" [src]='group?.profile_pic?imageUrl+group?.profile_pic:"/assets/images/player-profile-logo/default.png"' alt="images" height="30px" width="30px">
                                        <span class="france">{{group?.player}} {{group?.last_name}} </span>
                                    </div>
                                    <div class="ui-g-3 ui-sm-5 team">{{group?.team_name}}</div>
                                    <div class="ui-g-2 ui-sm-5 lft">{{group?.goal}}</div>
                                    <div class="ui-g-2 ui-sm-5 lft">{{selectedTypes=='yellow_card'?group?.total_yellow_card:group?.red_card}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>
<br>
<br>


<div class="ui-g" style="margin-top:2%">
    <div class="ui-g-12" *ngIf='pointsDetails.length==0 && scorerInfo.length==0 && (golesInfo.length==0 ||golesInfo[0]?.length==0) ' style="color: darkcyan;font-size: 18px;text-align: center;height: 300px">
        {{'Datos no encontrados' | translate}}
    </div>
</div>


<div class="ui-g ui-fluid pdfView pdfViewWidth">
    <p-dialog [(visible)]="pdfShow" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
        <div id="download" #layout>
            <div class="ui-g table_info" id="download_info" *ngIf="status=='table'" #tablehieght>
                <div class="ui-g-12 tour_logo">
                    <img [src]="tableInfo?.tournament_cover_pic?tableInfo?.tournament_cover_pic :'assets/images/tournament-profile-cover/default.png'">
                    <img [src]="tableInfo?.tournament_logo?tableInfo?.tournament_logo :'assets/images/tournament-profile-logo/default.png'">
                </div>
                <div class="ui-g-12 tour_name">
                    <span> {{tableInfo?.tournament_name}} </span>
                    <span>{{tableInfo?.city}} | {{tableInfo?.country}}</span>
                </div>
                <div class="ui-g-12 table_name">
                    <span> {{tableName}} </span>
                </div>
                <div class="captain">

                    <div class="group_wise">
                        <span>{{tableInfo?.data[0]?.round_name}}</span>
                    </div>
                    <div *ngFor="let info of tableInfo?.data[0]?.group">
                        <div *ngIf="groupValue == info.group_name">
                            <div class="group_name">
                                <span> {{info.group_name}}</span>
                            </div>
                            <div class="details">
                                <table style="width:100%" class="table_first">
                                    <tr>
                                        <th>{{'Equipo' | translate }}</th>
                                        <th>{{'Puntos'| translate }}</th>
                                        <th>{{'PJ' | translate}}</th>
                                        <th>{{'PG' | translate}}</th>
                                        <th>{{'PP' | translate }}</th>
                                        <th>{{'PE'| translate }}</th>
                                        <th>{{'GF/GC' | translate}}</th>
                                        <th>{{'GD' | translate}}</th>
                                    </tr>
                                    <tr *ngFor="let teamInfo of info.team;let i=index ">
                                        <td>
                                            <div class="image_div">
                                                <img [src]="teamInfo.team_logo?teamInfo.team_logo:'assets/images/default_team.png'" style="width:25px;height:25px;border-radius:100px" />
                                                <span style="margin-left:5px">{{teamInfo.team_name}}</span>
                                            </div>
                                        </td>
                                        <td>{{teamInfo.points}}</td>
                                        <td>{{teamInfo.match_played}}</td>
                                        <td>{{teamInfo.won}}</td>
                                        <td>{{teamInfo.loss}}</td>
                                        <td>{{teamInfo.ties}}</td>
                                        <td>{{teamInfo.save_goals}}/{{teamInfo.goal_against}}</td>
                                        <td>{{teamInfo.goal_difference}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="tableInfo?.sponsers==[]" class="ui-g-12 table_name">
                    <span> {{'Auspiciantes' | translate}} </span>
                </div>
                <div class="sponser" *ngIf="tableInfo?.sponsers">
                    <span *ngFor="let info of tableInfo?.sponsers">
                        <img [src]="info.sponsor_logo" />
                    </span>
                </div>
                <div style="background: #113861;color: white;" class="ui-g-12 footer_share text-center">
                    <img style="    width: 70px;" src="assets/images/pelo.png" />
                    <p>pelotea.com</p>
                    <!-- <div style="text-align:right" class="ui-g-6">
                            <img style="    margin-right: 20px;" src="assets/images/sponser_new.png" />
                            <p>official partner</p>
                        </div> -->
                </div>


            </div>

            <div class="ui-g table_info" id="download_info" *ngIf="status=='goles'" #tablehieght>
                <div class="ui-g-12 tour_logo">
                    <img [src]="tableInfo?.tournament_cover_pic?tableInfo?.tournament_cover_pic :'assets/images/tournament-profile-cover/default.png'">
                    <img [src]="tableInfo?.tournament_logo?tableInfo?.tournament_logo :'assets/images/tournament-profile-logo/default.png'">
                </div>
                <div class="ui-g-12 tour_name tour_border">
                    <span> {{tableInfo?.tournament_name}} </span>
                    <span>{{tableInfo?.city}} | {{tableInfo?.country}}</span>
                </div>
                <div class="ui-g-12 table_name">
                    <span> {{tableName}} </span>
                </div>
                <br>
                <div class="captain">
                    <div *ngIf="tableInfo">
                        <div class="details">
                            <table style="width:100%" class="table_first yellow_card">
                                <tr>
                                    <th>{{'Nombre' | translate }}</th>
                                    <th>{{'Equipo'| translate }}</th>
                                    <th>{{'Goles' | translate}}</th>

                                </tr>
                                <tr *ngFor="let teamInfo of tableInfo?.data;let i=index ">
                                    <td>
                                        <div class="image_div">
                                            <!-- <img [src]="teamInfo?.profile_pic?teamInfo?.profile_pic:'assets/images/player-profile-logo/default.png'" style="width:25px;height: 25px;border-radius:100px" /> -->
                                            <span style="margin-left:5px">{{teamInfo?.player}} {{teamInfo?.last_name?teamInfo.last_name:"--"}}</span>
                                        </div>
                                    </td>
                                    <td>{{teamInfo?.team_name?teamInfo?.team_name:"--"}}</td>
                                    <td>{{teamInfo.goal?teamInfo.goal:"--"}}</td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="tableInfo?.sponsers==[]" class="ui-g-12 table_name">
                    <span> {{'Auspiciantes' | translate}} </span>
                </div>
                <div class="sponser" *ngIf="tableInfo?.sponsers">
                    <span *ngFor="let info of tableInfo?.sponsers">
                        <img [src]="info.sponsor_logo" />
                    </span>
                </div>
                <div style="background: #113861;color: white;" class="ui-g-12 footer_share text-center">
                    <img style="    width: 70px;" src="assets/images/pelo.png" />
                    <p>pelotea.com</p>

                    <!-- <div style="text-align:right" class="ui-g-6">
                    <img style="    margin-right: 20px;" src="assets/images/sponser_new.png" />
                    <p>official partner</p>
                </div> -->
                </div>
            </div>


            <div class="ui-g table_info" id="download_info" *ngIf="status=='yellow_card'" #tablehieght>
                <div class="ui-g-12 tour_logo">
                    <img [src]="tableInfo?.tournament_cover_pic?tableInfo?.tournament_cover_pic :'assets/images/tournament-profile-cover/default.png'">
                    <img [src]="tableInfo?.tournament_logo?tableInfo?.tournament_logo :'assets/images/tournament-profile-logo/default.png'">
                </div>
                <div class="ui-g-12 tour_name tour_border">
                    <span> {{tableInfo?.tournament_name}} </span>
                    <span>{{tableInfo?.city}} | {{tableInfo?.country}}</span>
                </div>
                <div class="ui-g-12 table_name">
                    <span> {{tableName}} </span>
                </div>
                <br>
                <div class="captain">
                    <div *ngIf="tableInfo">
                        <div class="details">
                            <table style="width:100%" class="table_first yellow_card">
                                <tr>
                                    <th>{{'Nombre' | translate }}</th>
                                    <th>{{'Equipo'| translate }}</th>
                                    <th>{{'Goles' | translate}}</th>
                                    <th>{{'Tarjetas Amarillas' | translate}}</th>
                                </tr>
                                <tr *ngFor="let teamInfo of tableInfo?.data;let i=index ">
                                    <td>
                                        <div class="image_div">
                                            <!-- <img [src]="teamInfo.profile_pic?teamInfo.profile_pic:'assets/images/player-profile-logo/default.png'" style="width:25px;height: 25px;border-radius:100px" /> -->
                                            <span style="margin-left:5px">{{teamInfo.player}} {{teamInfo.last_name?teamInfo.last_name:"--"}}</span>
                                        </div>
                                    </td>
                                    <td>{{teamInfo.team_name?teamInfo.team_name:"--"}}</td>
                                    <td>{{teamInfo.goal?teamInfo.goal:"--"}}</td>
                                    <td>{{teamInfo.total_yellow_card?teamInfo.total_yellow_card:"--"}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="tableInfo?.sponsers==[]" class="ui-g-12 table_name">
                    <span> {{'Auspiciantes' | translate}} </span>
                </div>
                <div class="sponser" *ngIf="tableInfo?.sponsers">
                    <span *ngFor="let info of tableInfo?.sponsers">
                        <img [src]="info.sponsor_logo" />
                    </span>
                </div>
                <div style="background: #113861;color: white;" class="ui-g-12 footer_share text-center">
                    <img style="    width: 70px;" src="assets/images/pelo.png" />
                    <p>pelotea.com</p>

                    <!-- <div style="text-align:right" class="ui-g-6">
                            <img style="    margin-right: 20px;" src="assets/images/sponser_new.png" />
                            <p>official partner</p>
                        </div> -->
                </div>
            </div>

            <div class="ui-g table_info" id="download_info" *ngIf="status=='red_card'" #tablehieght>
                <div class="ui-g-12 tour_logo">
                    <img [src]="tableInfo?.tournament_cover_pic?tableInfo?.tournament_cover_pic :'assets/images/tournament-profile-cover/default.png'">
                    <img [src]="tableInfo?.tournament_logo?tableInfo?.tournament_logo :'assets/images/tournament-profile-logo/default.png'">
                </div>
                <div class="ui-g-12 tour_name tour_border">
                    <span> {{tableInfo?.tournament_name}} </span>
                    <span>{{tableInfo?.city}} | {{tableInfo?.country}}</span>
                </div>
                <div class="ui-g-12 table_name">
                    <span> {{tableName}} </span>
                </div>
                <br>
                <div class="captain">
                    <div *ngIf="tableInfo">
                        <div class="details">
                            <table style="width:100%" class="table_first yellow_card">
                                <tr>
                                    <th>{{'Nombre' | translate }}</th>
                                    <th>{{'Equipo'| translate }}</th>
                                    <th>{{'Goles' | translate}}</th>
                                    <th>{{'Tarjetas Rojas' | translate}}</th>
                                </tr>
                                <tr *ngFor="let teamInfo of tableInfo?.data;let i=index ">
                                    <td>
                                        <div class="image_div">
                                            <!-- <img [src]="teamInfo.profile_pic?teamInfo.profile_pic:'assets/images/player-profile-logo/default.png'" style="width:25px;height: 25px;border-radius:100px" /> -->
                                            <span style="margin-left:5px">{{teamInfo.player}} {{teamInfo.last_name?teamInfo.last_name:"--"}}</span>
                                        </div>
                                    </td>
                                    <td>{{teamInfo.team_name?teamInfo.team_name:"--"}}</td>
                                    <td>{{teamInfo.goal?teamInfo.goal:"--"}}</td>
                                    <td>{{teamInfo.red_card?teamInfo.red_card:'--'}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="tableInfo?.sponsers==[]" class="ui-g-12 table_name">
                    <span> {{'Auspiciantes' | translate}} </span>
                </div>
                <div class="sponser" *ngIf="tableInfo?.sponsers">
                    <span *ngFor="let info of tableInfo?.sponsers">
                        <img [src]="info.sponsor_logo" />
                    </span>
                </div>
                <div style="background: #113861;color: white;" class="ui-g-12 footer_share text-center">
                    <img style="    width: 70px;" src="assets/images/pelo.png" />
                    <p>pelotea.com</p>
                    <!-- <div style="text-align:right" class="ui-g-6">
                            <img style="    margin-right: 20px;" src="assets/images/sponser_new.png" />
                            <p>official partner</p>
                        </div> -->
                </div>
            </div>


        </div>
        <div class="ui-g-12" style="text-align:right">
            <a download="player.png" [href]="imageUrlDownload">
                <i class="downloadBttn fa fa-download" aria-hidden="true"></i>
            </a>
        </div>

    </p-dialog>
</div>

<div [class.backdrop]="pdfShow"></div>
<div [class.backdrop]="groupSelect"></div>

<p-dialog [(visible)]="groupSelect" modal="modal" class="delete_ground delete_ground_dropdown" [resizable]=false>
    <div class="ui-g  ui-fluid">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 delete_ground_header">
            <span>{{'MENSAJE' | translate}}</span>
        </div>
        <div class="ui-g-12">
            <p style="margin-left: 1%; margin-top: 5px; color:darkcyan">{{"Seleccionar grupo para descargar la imagen" | translate}}</p>
        </div>
        <div class="ui-g-12">
            <p-dropdown [style]="{'width':'100%'}" [options]="groupList" [(ngModel)]="groupValue"></p-dropdown>
        </div>
        <div class="ui-g-12 ">
            <div class="ui-g-6">
                <button type="button" class="cancelButton" label="{{'CANCELAR' | translate}}" pButton (click)="groupSelect=false"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" class="ui-button-green ui button" label="{{'De acuerdo' | translate}}" pButton (click)="tableDownload()"></button>
            </div>
        </div>
    </div>
</p-dialog>