<p-growl [(value)]="msgs"></p-growl>

<div class="ui-g  full-container">
    <div class="ui-g-12 quote_image">
        <img src="assets/images/common.jpg" />
        <p class="para_text">{{'Tienes una cancha o realizas torneos?' | translate}}
            <br>{{'Prueba Pelotea gratis!' | translate}}</p>
        <p class="stroke">
            <svg height="30" width="750">
                <g fill="none" stroke="white">
                    <path stroke-width="2" d="M5 20 l2155 0" />
                </g>
            </svg>
        </p>
        <p class="stroke_bottom">
            <svg height="30" width="700">
                <g fill="none" stroke="white">
                    <path stroke-width="2" d="M5 20 l2155 0" />
                </g>
            </svg>
        </p>
    </div>

    <div class="ui-g ui-fluid header_landing_width">
        <div class="ui-g-12 ui-sm-12">
            <p class="text_info">{{"Sé parte de la comunidad más grande de fútbol!" | translate}}</p>
            <div style="background-color: white; padding-bottom: 25px">
                <div class="ui-g  plateform">
                    <div class="ui-g-2 ui-sm-6 text-center">
                        <img src="assets/images/Players.png" />
                        <br>
                        <div class="tour_type_info_list">

                            <span class="static_font_size">
                                {{numberFormat(total_plateform_count?.total_player,',')}} {{'JUGADORES' | translate}}
                            </span>

                        </div>
                    </div>
                    <div class="ui-g-2 ui-sm-6 text-center">
                        <img src="assets/images/Teams.png" />
                        <br>
                        <div class="tour_type_info_list">

                            <span class="static_font_size">
                                {{ numberFormat(total_plateform_count?.total_team,',')}} {{"EQUIPOS" | translate}}
                            </span>

                        </div>
                    </div>
                    <div class="ui-g-2 ui-sm-6 text-center">
                        <img src="assets/images/Torneos.png" />
                        <br>
                        <div class="tour_type_info_list">

                            <span class="static_font_size">
                                {{ numberFormat(total_plateform_count?.total_tournment,',')}} {{'TORNEOS' | translate}}
                            </span>

                        </div>
                    </div>
                    <div class="ui-g-2 ui-sm-6 text-center">
                        <img src="assets/images/Reservaciones.png" />
                        <br>
                        <div class="tour_type_info_list">

                            <span class="static_font_size">
                                {{ numberFormat( total_plateform_count?.total_matchs,',')}} {{'PARTIDOS' | translate}}
                            </span>

                        </div>
                    </div>
                    <div class="ui-g-2 ui-sm-12 text-center">
                        <img src="assets/images/Reservations.png" />
                        <br>
                        <div class="tour_type_info_list">

                            <span class="static_font_size">
                                {{ numberFormat( total_plateform_count?.total_ground,',')}} {{'CANCHAS' | translate}}
                            </span>

                        </div>
                    </div>
                    <div class="ui-g-2 ui-sm-12 text-center">
                        <img src="assets/images/total_reservation.png" />
                        <br>
                        <div class="tour_type_info_list">

                            <span class="static_font_size">
                                {{ numberFormat( total_plateform_count?.total_reservations,',')}} {{'RESERVAS' | translate}}
                            </span>

                        </div>
                    </div>
                </div>
            </div>
            <p class="text_info_para">{{"Si estas interesado en usar Pelotea o si tienes alguna consulta, por favor llena los siguientes campos y un especialista se comunicará contigo dentro de los próximos 2 días" | translate}}</p>
        </div>
        <div class="ui-g-6 ui-sm-12 left_part">
            <div class="ui-g-12">
                <img src="assets/images/card.png" />
                <p>{{"No se necesita tu tarjeta de crédito" | translate}}</p>
            </div>
            <div class="ui-g-12">
                <img src="assets/images/User.png" />
                <p>{{"Capacitación gratuita de la plataforma" | translate}} </p>
            </div>
            <div class="ui-g-12">
                <img src="assets/images/phone.png" />
                <p>{{"Soporte 24/7 gratis cuando la necesites" | translate}}</p>
            </div>
        </div>
        <div class="ui-g-1 mobile-display">
        </div>
        <div class="ui-g-4 ui-sm-12  " [formGroup]="quote_form">
            <div class="ui-g-12 contact_info">
                <input pInputText type="text" placeholder="*{{'Nombre completo' | translate}}" formControlName="name" />
            </div>
            <div class="ui-g-12 contact_info">
                <input pInputText type="text" placeholder="*Email" formControlName="email" />
            </div>
            <div class="ui-g-3 contact_info">
                <p-dropdown (onChange)="validMobile($event)" [options]="code" [formControl]="quote_form.controls['country_code']">
                    <ng-template let-car pTemplate="label">
                        <div style="display:flex;align-items:center">
                            <div style="    width: 30px;">
                                {{car.label}}
                            </div>
                            <div style="    text-align: right;" *ngIf="car.label=='+593'" class="ui-g-6">
                                <img src="assets/images/Ecuador.png" style="width: 15px;height: 10px;  " />
                            </div>
                            <div *ngIf="car.label=='+502'" style="    text-align: right;" class="ui-g-6">
                                <img src="assets/images/Guatemala-flag (1).jpg" style="width: 15px;height: 10px;  " />
                            </div>
                            <div *ngIf="car.label=='+1'" style="    text-align: right;" class="ui-g-6">
                                <img src="assets/images/usa_flag.jpg" style="width: 15px;height: 10px;  " />
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="ui-g-9 contact_info">
                <input type="number" (keyup)="mobileVerify($event.target.value)" pInputText placeholder="{{'Teléfono' | translate}}" min="0" [formControl]="quote_form.controls['contact_number']" maxlength="{{length}}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    required />
                <div class="ui-g error" *ngIf="!isMobValid">
                    <p class="errorText">Celular debe ser de {{length}} dígitos</p>
                </div>
            </div>
            <div class="ui-g-12 contact_info">
                <p-dropdown (onChange)="emptycity()" [options]="countryList" [style]="{'width':'100%'}" formControlName="country"></p-dropdown>
            </div>
            <div class="ui-g-12 contact_info">
                <p-autoComplete [suggestions]="filteredLocation" [disabled]="!quote_form.controls['country'].value" (completeMethod)="filterLocation($event)" field="location" [size]="30" placeholder="*{{'Ciudad' | translate}}" [minLength]="1" formControlName="city">
                </p-autoComplete>
            </div>
            <div class="ui-g-12 contact_info">
                <input pInputText type="text" placeholder="{{'Organización o Nombre de la Empresa' | translate}}" formControlName="company_name" />
            </div>
            <div class="ui-g-12 contact_info">
                <p-dropdown [options]="quote_options" [style]="{'width':'100%'}" formControlName="learn_more_about"></p-dropdown>
            </div>
            <div class="ui-g-6 contact_info">
                <button pButton type="button" class="ui-button-green" label="{{'CONTÁCTANOS' | translate}}" [disabled]="!quote_form.valid || !isMobValid" (click)="submitForm()"></button>
            </div>
            <div class="ui-g-6 contact_info">
            </div>
        </div>
        <div class="ui-g-1 mobile-display">
        </div>
    </div>

</div>