.full-container {
    background-size: 100% 100%;
    height: 100%;
    margin-bottom: 90px;
    margin-top: 130px;
}

.quote_image img {
    width: 100%;
}

.quote_image {
    padding: 0px;
    position: relative;
}

.stroke {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
}

.stroke_bottom {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 52px;
}

.header_landing_width {
    width: 1140px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 80px;
}

.text_info {
    font-size: 35px;
    padding-bottom: 10px;
    font-family: 'ChaletComprime CologneEighty';
    text-align: center
}

.text_info_para {
    font-family: Montserrat-Light;
    line-height: 18px;
    font-size: 14px;
    padding-bottom: 70px;
    text-align: -webkit-center;
    letter-spacing: 1px
}

.para_text p {
    text-align: center;
    padding-bottom: 25px;
}

.left_part div {
    padding-bottom: 25px;
    padding-top: 50px;
}

.para_text {
    margin: 0 auto;
    font-size: 2.5em;
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'Montserrat-Light';
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 65px;
    width: 100%;
}

.left_part img {
    float: left;
    padding-right: 25px;
}

.left_part p {
    margin-top: 15px;
    font-family: Montserrat-Light;
    line-height: 18px;
    font-size: 14px;
}

.left_part {
    border-right: 1px solid #d7d7d7;
    padding-left: 100px;
}

.contact_info   {
    padding-bottom: 25px
}

.tour_type_info_list {
    text-align: center;
    display: initial;
}

.tour_type_info_list img {
    float: left;
    margin-left: 25px;
    padding-right: 5px;
    margin-top: 3px;
}

.static_font_size {
    font-size: 24px;
    font-family: 'ChaletComprime CologneEighty';
    color: #00253f;
    letter-spacing: 1px;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.redBorder {
    border: 1px solid red !important;
}

.plateform {
    width: 900px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.plateform img {
    height: 36px;
    padding-bottom: 15px;
    letter-spacing: 1px;
}

@media only screen and (max-width: 640px) {
    .header_landing_width {
        width: initial;
    }
    .mobile-display {
        display: none;
    }
    .left_part div {
        padding-top: 0px;
    }
    .left_part {
        padding-left: 10px;
        border: none
    }
    .tour_type_info_list img {
        float: left;
        margin-top: 15px;
        margin-left: initial;
        padding-right: initial
    }
    .quote_image img {
        height: 190px;
    }
    .quote_image p {
        top: -105px;
    }
    .quote_image p img {
        width: 140px;
        height: 90px;
    }
    .para_text {
        top: inherit;
    }
    .quote_image p {
        top: inherit
    }
    .text_info {
        text-align: inherit;
        padding-left: 10px;
        padding-right: 10px;
    }
    .plateform {
        width: inherit
    }
    .full-container {
        margin-top: 160px;
    }
}

@media only screen and (min-width: 640px) and (max-width:840px) {
    .header_landing_width {
        width: 100% !important;
    }
    .plateform {
        width: inherit !important;
    }
}

.error {
    position: absolute;
    padding-left: 10px;
}

.errorText {
    color: red;
}
