<div class="full-container">
    <div class="ui-g section" style="padding-bottom:1em;padding-top: 8em;border-bottom:1px solid gray;">
        <button pButton type="button" class="ui-button-green" label="{{'Regresar' | translate}}" (click)="back_to_profile()"></button>
        <h2 style="margin:auto;color:#00253f;">{{'Política de Privacidad' | translate}}</h2>
    </div>
    <div class="section" style="padding-top:1em;">
        <p><strong>INTRODUCTION</strong></p>
        <p>&nbsp;</p>
        <p align="justify">Welcome to Pelotea. We at Pelotea, Inc. (<strong>'Pelotea,' 'we,' 'us'</strong>&nbsp;or&nbsp;<strong>'our'</strong>) know that you take your privacy seriously. We do, too. Here are a few fundamental principles:</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">We don&rsquo;t ask you for personal information unless we really need it.</p>
        <p align="justify">We don&rsquo;t share your personal information with anyone except to comply with the law, develop our products and services, or protect our rights.</p>
        <p align="justify">We treat your personal information with the highest regard to privacy and security.<br /> </p>
        <p align="justify">Our Privacy Policy (<strong>&ldquo;Policy&rdquo;</strong>) explains how we and some of the companies we work with collect, use, share and protect information in relation to our mobile services, web site, and any software provided on or in connection
            with Pelotea services (collectively, the&nbsp;<strong>'Service'</strong>&nbsp;or&nbsp;<strong>&ldquo;Services&rdquo;</strong>), and your choices about the collection and use of your information.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">By using our Service you understand and agree that we are providing a platform for you to post content, including plans, activities, performances, photos, comments and other materials (<strong>'User Content'</strong>), to the Service and to share
            User Content publicly. This means that other Users may search for, see, use, or share any of your User Content that you make publicly available through the Service, consistent with the terms and conditions of this Privacy Policy and our Terms
            of Service (which can be found at&nbsp;<span style="color: #00abea;"><u>Pelotea.com/terms</u></span>).</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">Our Policy applies to all visitors, users, and others who access the Service (<strong>'Users'</strong>). The Service is not available to individuals who are younger than 13 years old.</p>
        <p align="justify"><br /> <br /> </p>
        <p align="justify">&nbsp;</p>
        <p align="justify">&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h2 class="western">INFORMATION COLLECTION AND USE</h2>
        <p align="justify">We collect and use your information below to provide our Service and to measure and improve it over time.</p>
        <h3 class="western">Basic Account Information</h3>
        <p align="justify">When you create or reconfigure a Pelotea account or guest account, you provide some personal information, such as your full name, username, email address, and phone number. On the Pelotea Service, your full name and username are listed publicly,
            including on your profile page, in search results, and in recommendations of local players to follow.</p>
        <h3 class="western">Contact Information</h3>
        <p align="justify">We may use your contact information, such as your email address or phone number, to customize your account. When you provide Pelotea with your phone number, you agree to receive text messages to that number from Pelotea. We may use your contact
            information to send you information about our Service, to market to you, to help prevent spam, fraud, or abuse, and to help others find your account. You may use your settings for email, SMS and mobile notifications to control notifications
            you receive from our Service. You may also unsubscribe from a notification by following the instructions contained within the notification. We may also send you Service-related messages (e.g., account verification, changes/updates to features
            of the Service, technical and security notices). Note that you may not opt out of Service-related messages.</p>
        <h3 class="western">Profile information</h3>
        <p align="justify">You may provide us with profile information to make public on the Service, such as your full name, a picture, your profile location, your gender, soccer position, a short biography. Other more private profile information such at your birthday
            is not made public and only used to display your age. You may also provide profile information from other Services (e.g., Twitter, Facebook, Instagram) if you have connected those accounts to your Pelotea account. This information allows us
            to help you or others be 'found' on Pelotea and build more trust in the community.</p>
        <h3 class="western">Your contacts</h3>
        <p align="justify">If you choose, you can use our features to locate other people with Pelotea accounts either through (i) your device&rsquo;s contacts list, (ii) third-party social media sites or (iii) through a search of names and usernames on Pelotea. If you
            choose to find someone through (i) your device's contacts list, then Pelotea will access your contacts list to determine whether or not someone associated with your contact is using Pelotea. If you choose to find someone through a (ii) third-party
            social media site, then you will be prompted to set up a link to the third-party service and you understand that any information that such service may provide to us will be governed by this Privacy Policy. We may later make suggestions to
            you and other users based on imported contacts. Finally, if you choose to find someone (iii) through a search of names or usernames on Pelotea then simply type a name to search and we will perform a search on our Service.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">Note about inviting other people to Pelotea: If you choose to invite someone to the Service, you may select a person directly from the contacts list on your device (address book, social media or other) and send a text, email or other communication
            message from your personal account. You understand and agree that you are responsible for any charges that apply to communications sent from your device, and because this invitation is coming directly from your personal account, Pelotea does
            not have access to or control this communication.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">If you elect to use our inviting feature or similar Service features for informing someone about our Service or for sending any type of communication to somebody else, Pelotea will require you to provide their contact information, phone number
            and/or email address or access that information directly from your contacts list if you have given us permission. Pelotea will automatically send that person a one-time email and/or SMS. Pelotea may store the information you provide for a
            period of time, provided that Pelotea will use such information (i) to identify if this person is or later becomes a member of Pelotea (ii) to send communications and notifications. You represent that you are authorized to provide any third
            party email address, phone number or other information that you provide to Pelotea.</p>
        <p align="justify">&nbsp;</p>
        <h3 class="western">Location information</h3>
        <p>&nbsp;</p>
        <p align="justify"><span style="color: #4f81bd;"><span style="font-family: Calibri, serif;"><em><strong>Determining your location&nbsp;-</strong></em></span></span> Pelotea&rsquo;s Service deals with events and activities that happen at venues in the real world,
            so in order to work, the Service needs to know your location. Whenever you open and use/interact with our app on your mobile device or go to one of our Sites, we may determine your location (e.g., latitude and longitude) by using data from
            your device, such as precise location information from GPS, information about wireless networks or cell towers near your mobile device, or your IP address. We may use and store information about your location to provide features of our Service,
            such as tracking an activity at your location, and to improve and customize the Service, for example, with more relevant content like local venues, games, friends and suggestions of players to interact with. This information is NOT shared
            with others. Also, we may use your mobile device&rsquo;s &lsquo;background location&rsquo; to provide the Service, including to send you notifications for reminders, friends, games, plans etc. near you.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify"><span style="color: #4f81bd;"><span style="font-family: Calibri, serif;"><em><strong>Venues&nbsp;-</strong></em></span></span> Your real-time location is not shared on the Pelotea app. If you write a comment, like or otherwise interact with a
            venue, users may infer that you have been to that location. Some content, like reviews, are time stamped and other users could use that information to infer when you were at a venue. Also, if you track an activity at a venue, Pelotea may show
            your friends and followers that you have played at that venue.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify"><span style="color: #4f81bd;"><span style="font-family: Calibri, serif;"><em><strong>Search and Recommendations&nbsp;-</strong></em></span></span> When listing users in our search or recommendations results, we use your location data, at a city
            level, to make these more relevant. We never share this information directly to other users but they could infer your city level location by seeing your profile appear in these search or recommendations results.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify"><span style="color: #4f81bd;"><span style="font-family: Calibri, serif;"><em><strong>Plans, games and Activities&nbsp;-</strong></em></span></span> Your location is mainly shared when you proactively decide to &ldquo;post a plan&rdquo; on the
            Pelotea app to tell the Service you&rsquo;re planning an activity in the future. This can happen (i) by creating an individual plan for yourself or (ii) by responding to a game. Your location is also shared when you proactively decide to &ldquo;track
            an activity&rdquo; on the Pelotea app to tell the Service about an activity you have performed. The location information shared with a &ldquo;plan&rdquo; or an &ldquo;activity&rdquo; is the location information of the venue where that plan
            will be taking place or where that activity has taken place.</p>
        <p align="justify">&nbsp;</p>
        <p align="justify"><span style="color: #4f81bd;"><span style="font-family: Calibri, serif;"><em><strong>Activity History&nbsp;-</strong></em></span></span> Each of your activities using the Service is saved to your 'Activity History' on your profile, which allows
            you and your friends to look back at all the venues, cities and countries where you have played since you created your Service account.</p>
        <h3 class="western">Links</h3>
        <p>We may keep track of how you interact with links across our Service, including our email notifications, third-party services, game invitations and client applications, by redirecting clicks or through other means. We do this to help improve our
            Service.
        </p>
        <h3 class="western">Cookies and similar technologies</h3>
        <p>When you visit the Service, we may use cookies and similar technologies like pixels, web beacons, and local storage to collect information about how you use Pelotea and provide features to you. You can control cookies through your browser settings
            and other tools. By continuing to use our Service through your computer or mobile device, you consent to our use of cookies, pixels and local storage in accordance with this Privacy Policy.</p>
        <h3 class="western">Log Data</h3>
        <p>When you use our Services, we may receive information (&ldquo;Log Data&rdquo;) such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device information (including device
            and application IDs), search terms, and cookie information. We receive Log Data when you interact with our Services, for example, when you visit our websites, sign into our Services, interact with our email notifications. We may also receive
            Log Data when you click on, view or interact with links on our Services. We may also collect similar information from emails, SMS, push notifications and in-app notifications sent to our Users which then help us track which communication messages
            are opened and which links are clicked by recipients. Pelotea uses Log Data to provide, understand, and improve our Service, to make inferences, and to customize the content we show you. If not already done earlier, we will either delete Log
            Data or remove any common account identifiers, such as your username, full IP address, or email address, after a maximum of 18 months.</p>
        <h3 class="western">Device identifiers</h3>
        <p>When you use a mobile device like a tablet or phone to access our Service, we may access, collect, monitor, store on your device, and/or remotely store one or more 'device identifiers.' Device identifiers are small data files or similar data structures
            stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device's operating system or other
            software, or data sent to the device by Pelotea. A device identifier may deliver information to us or to a third party partner about how you browse and use the Service and may help us or others provide reports or personalized content. Some
            features of the Service may not function properly if use or availability of device identifiers is impaired or disabled.</p>
        <h3 class="western">Metadata</h3>
        <p>Metadata is usually technical data that is associated with User Content. For example, Metadata can describe how, when and by whom a piece of User Content was collected and how that content is formatted. Users can add or may have Metadata added
            to their User Content including a hashtag (e.g., to mark keywords when you post content), geotag (e.g., to mark your location to a plan, activity or performance), comments or other data. This makes your User Content more searchable by others
            and more interactive. If you geotag your photo then, your latitude and longitude will be stored with the photo and could be searchable (e.g., through a location or map feature) if your photo is made public by you in accordance with your privacy
            settings.
        </p>
        <h3 class="western">Third-Parties and Affiliates</h3>
        <p>Pelotea uses a variety of third-party services to help provide our Service, such as hosting our various blogs and marketing sites, and to help us understand and improve the use of our Service, such as Google Analytics, Zendesk, Mixpanel and Mailchimp.
            These third-party service providers may collect information sent by your device or our Service, including the web pages you visit, add-ons, and other information that assists us in improving the Service.</p>
        <h2 class="western">HOW WE USE YOUR INFORMATION</h2>
        <p>In addition to some of the specific uses of information we describe in this Privacy Policy, we may use information that we receive to:</p>
        <p align="left"><span style="color: #000000;"><span style="font-family: Cambria, serif;"><span style="font-size: medium;">help you efficiently access your information after you sign in</span></span>
            </span>
        </p>
        <p align="left"><span style="color: #000000;"><span style="font-family: Cambria, serif;"><span style="font-size: medium;">remember information so you will not have to re-enter it during your visit or the next time you visit the Service</span></span>
            </span>
        </p>
        <p align="left"><span style="color: #000000;"><span style="font-family: Cambria, serif;"><span style="font-size: medium;">provide personalized content and information to you and others, which could include forms of marketing</span></span>
            </span>
        </p>
        <p align="left"><span style="color: #000000;"><span style="font-family: Cambria, serif;"><span style="font-size: medium;">provide, improve, test, and monitor the effectiveness of our Service</span></span>
            </span>
        </p>
        <p align="left"><span style="color: #000000;"><span style="font-family: Cambria, serif;"><span style="font-size: medium;">develop and test new products and features</span></span>
            </span>
        </p>
        <p align="left"><span style="color: #000000;"><span style="font-family: Cambria, serif;"><span style="font-size: medium;">monitor metrics such as total number of visitors, traffic, and demographic patterns</span></span>
            </span>
        </p>
        <p align="left"><span style="color: #000000;"><span style="font-family: Cambria, serif;"><span style="font-size: medium;">diagnose or fix technology problems</span></span>
            </span>
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h2 class="western">INFORMATION SHARING AND DISCLOSURE</h2>
        <p align="justify">We will not rent or sell your information to third parties outside Pelotea without your consent, except in the limited circumstances described in this Policy.</p>
        <h3 class="western">User Consent or Direction</h3>
        <p align="justify">Any information or content that you voluntarily disclose for posting to the Service, such as User Content, becomes available to the public, as controlled by any applicable privacy settings that you set. You can change your privacy settings on
            the Service at the moment you share the content or after the fact. Once you have shared User Content or made it public, that User Content may be re-shared by others. Subject to your privacy settings, any User Content that you make public is
            searchable and discoverable by other Users. If you remove information that you posted to the Service, copies may remain viewable in cached and archived pages of the Service, or if other Users have copied or saved that information.</p>
        <h3 class="western">Service Providers</h3>
        <p align="justify">We may share your information as well as information from tools like cookies, log files, and device identifiers and location data, with third-party organizations that help us provide the Service to you (<strong>'Service Providers'</strong>). Our
            Service Providers will be given access to your information as is reasonably necessary to provide the Service under reasonable confidentiality terms.</p>
        <h3 class="western">Non-Private or Non-Personal Information</h3>
        <p align="justify">We may share or disclose your non-private, aggregated or otherwise non-personal information, such as your public user profile information, public activities and plans, the people you follow or that follow you, the people you played with, or the
            number of users who clicked on a particular link. We may also combine your information with other information in a way that it is no longer associated with you and share that aggregated information.</p>
        <h3 class="western">Change of Control</h3>
        <p align="justify">If we sell or otherwise transfer part or the whole of Pelotea or our assets to another organization (e.g., in the course of a transaction like a merger, acquisition, bankruptcy, dissolution, liquidation), your information such as name and email
            address, User Content and any other information collected through the Service may be among the items sold or transferred. You will continue to own your User Content. The buyer or transferee will have to honor the commitments we have made in
            this Privacy Policy.</p>
        <h3 class="western">Law and Harm</h3>
        <p align="justify">We may access, preserve and share your information in response to a legal request (like a search warrant, court order or subpoena) if we have a good faith belief that the law requires us to do so. This may include responding to legal requests
            from jurisdictions outside of the United States where we have a good faith belief that the response is required by law in that jurisdiction, affects users in that jurisdiction, and is consistent with internationally recognized standards. We
            may also access, preserve and share information when we have a good faith belief it is necessary to: detect, prevent and address fraud and other illegal activity; to protect ourselves, you and others, including as part of investigations; and
            to prevent death or imminent bodily harm. Information we receive about you may be accessed, processed and retained for an extended period of time when it is the subject of a legal request or obligation, governmental investigation, or investigations
            concerning possible violations of our terms or policies, or otherwise to prevent harm.</p>
        <h2 class="western">HOW WE STORE YOUR INFORMATION</h2>
        <p align="justify">Your information collected through the Service may be stored and processed in the United States or any other country in which Pelotea or Service Providers maintain facilities. Pelotea or Service Providers may transfer information that we collect
            about you, including personal information across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the European Union or other regions with laws governing data collection
            and use that may differ from U.S. law, please note that we may transfer information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction. By registering for and
            using the Service you consent to the transfer of information to the U.S. or to any other country in which Pelotea or Service Providers maintain facilities and the use and disclosure of information about you as described in this Privacy Policy.</p>
        <p align="justify">We use commercially reasonable safeguards to help keep the information collected through the Service secure and take reasonable steps (such as requesting a unique passcode sent to your mobile device) to verify your identity before granting you
            access to your account. However, Pelotea cannot ensure the security of any information you transmit to Pelotea or guarantee that information on the Service may not be accessed, disclosed, altered, or destroyed.</p>
        <p align="justify">Please do your part to help us. You are responsible for maintaining the secrecy of your account information, and for controlling access to emails and SMS between you and Pelotea, at all times. Your privacy settings may also be affected by changes
            the social media services you connect to Pelotea make to their services. We are not responsible for the functionality, privacy, or security measures of any other organization.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h2 class="western">ACCESSING AND MODIFYING YOUR PERSONAL INFORMATION</h2>
        <h3 class="western">Account information and privacy settings</h3>
        <p align="justify">If you are a registered user of our Service, we provide you with tools and account settings to access, correct, delete, or modify the personal information you provided to us and associated with your account.</p>
        <h3 class="western">Communication</h3>
        <p align="justify">You may use your settings for email, SMS and mobile notifications to control notifications you receive from our Service. You can also unsubscribe from email communications from us by clicking on the 'unsubscribe link' provided in such communications.
            As noted above, you may not opt out of Service-related communications (e.g., account verification, changes/updates to features of the Service, technical and security notices).</p>
        <h3 class="western">Deleting your account</h3>
        <p align="justify">You can also permanently delete your Pelotea account. If you email us your deactivation request at&nbsp;<a href="mailto:privacy@pelotea.com"><span style="color: #0000ff;"><u>privacy@pelotea.com</u></span></a><u> </u>your account will be deactivated
            and then deleted. When your account is deactivated, it is not viewable on Pelotea. The process of deactivating your account from our systems can take up to a week. It may take up to 90 days to delete all of the things you've posted, like your
            plans, activities, photos, comments or other data stored in backup systems. While we are deleting this information, it is inaccessible to other people using Pelotea.</p>
        <p align="justify">Some of the things you do on Pelotea aren&rsquo;t stored in your account. For example, a game may still have chat messages from you or you will still appear in the game roster even after you delete your account. That information remains after
            you delete your account but we will remove any publicly identifying information such as your name or picture.</p>
        <p align="justify">Keep in mind that search engines and other third parties may still retain copies of your public information, like your user profile information and public activities, even after you have deleted the information from the Pelotea Service or deactivated
            your account.</p>
        <p align="justify"><br /> </p>
        <p align="justify">&nbsp;</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">&nbsp;</p>
        <p align="justify">&nbsp;</p>
        <h2 class="western">CHILDREN'S PRIVACY</h2>
        <p align="justify">Pelotea does not knowingly collect or solicit any information from anyone under the age of 13 or knowingly allow such persons to register for the Service. The Service and its content are not directed at children under the age of 13. In the event
            that we learn that we have collected personal information from a child under age 13 without parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under
            13, please contact us at&nbsp;<a href="mailto:privacy@pelotea.com"><span style="color: #0000ff;"><u>privacy@pelotea.com</u></span></a><span style="color: #00abea;"><u>.</u></span></p>
        <p>&nbsp;</p>
        <h2 class="western">7. OTHER WEBSITES AND SERVICES</h2>
        <p align="justify">
            <a name="_gjdgxs"></a> We are not responsible for the practices employed by any websites or services linked to or from our Service, including the information or content contained within them. Please remember that when you use a link to go from our Service to
            another website or service, our Privacy Policy does not apply to those third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link on our website, are subject to that
            third party's own rules and policies. In addition, you agree that we are not responsible and do not have control over any third-parties that you authorize to access your User Content. If you are using a third-party website or service and you
            allow them to access your User Content you do so at your own risk.</p>
        <h2 class="western">8. HOW TO CONTACT US</h2>
        <p>If you have any questions about this Privacy Policy or the Service, please contact us at&nbsp;<a href="mailto:privacy@pelotea.com"><span style="color: #0000ff;"><u>privacy@pelotea.com</u></span></a>. We will make every effort to resolve your concerns.</p>
        <h2 class="western">9. CHANGES TO OUR PRIVACY POLICY</h2>
        <p align="justify">Pelotea may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of Pelotea
            or the Service after any modification to this Privacy Policy will constitute your acceptance of such modification.</p>

    </div>
</div>