.submitButton {
    background: #8DCF25;
}

.biotextarea {
    width: 100%;
    height: 110px;
}

.error {
    position: absolute;
    padding-left: 10px;
    top: 100%
}

.errorText {
    color: red;
}

.rulestextarea {
    width: 100%;
    height: 110px;
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    width: 150px;
    padding: 7px 6px 7px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: #00253F;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.uploadPdfDiv {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #f2f2f2;
}

.star {
    color: red;
}