<loader *ngIf='loader'></loader>
<p-growl [value]="msgs"></p-growl>
<form [formGroup]="myForm">
    <div class="ui-g ui-fluid">
        <div class="ui-g-6 ui-sm-12">
            <label> {{'Nombre de la liga' | translate}}
                <span class="star">*</span>
            </label>
            <br>
            <br>
            <div>
                <input class="teandoInput" type="text" pInputText placeholder="{{'Nombre de la liga' | translate}}" formControlName="nombre" />
            </div>
            <div *ngIf="myForm.controls['nombre'].value.length==0 && myForm.controls['nombre'].dirty ">
                <p style="color: red">{{'Ingrese el Nombre de la liga' | translate}}</p>
            </div>
            <div *ngIf="myForm.controls['nombre'].value.length>50 && myForm.controls['nombre'].dirty ">
                <p style="color: red">{{'Por favor, introduzca un máximo de 50 caracteres' | translate}}</p>
            </div>
        </div>
        <!-- <div class="ui-g-6 ui-sm-12">
            <label> {{'Ciudad' | translate}}
                <span class="star">*</span>
                <span style="color:darkcyan;font-size: 0.6em;">{{'Escoger una de las opciones que se despliegan' | translate}}</span>
            </label>
            <br>
            <br>
            <div>
                <p-autoComplete [suggestions]="filteredCity" field="location" (completeMethod)="filterCity($event)" [size]="30" placeholder="{{'Ciudad' | translate}}" [minLength]="1" formControlName="ciudad" #test>
                    <ng-template let-brand pTemplate="item">
                        <p>{{brand.location}}</p>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div>
                <p *ngIf="cityValidation" style="color: red">{{'Ciudad que no se encuentra' | translate}}</p>
                <p *ngIf="citySelect" style="color: red;font-size: 0.9em;">{{"Escoger una de las opciones que se despliegan." | translate}}</p>
            </div>
        </div> -->
        <div class="ui-g-6 ui-sm-12">
            <label>{{'Tipo' | translate}}
                <span class="star">*</span>
            </label>
            <br>
            <br>
            <div>
                <p-dropdown [options]='gender_list' [style]="{'width':'100%'}" formControlName="genero"></p-dropdown>
            </div>
            <div *ngIf="genderValidation">
                <p style="color: red">{{"Género requerido" | translate}}</p>
            </div>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <label>{{'Modalidad' | translate}}
                <span class="star">*</span>
            </label>
            <br>
            <br>
            <div>
                <p-dropdown [options]='tournament_levels' [style]="{'width':'100%'}" formControlName="modalidad"></p-dropdown>
            </div>
        </div>

        <div class="ui-g-6 ui-sm-12">
            <label> {{'Nivel del torneo' | translate}}
                <span class="star">*</span>
            </label>
            <br>
            <br>
            <div>
                <p-dropdown [options]='tournament_divisions' [style]="{'width':'100%'}" formControlName="torneo"></p-dropdown>
            </div>
        </div>

        <div class="ui-g-3 ui-sm-6 ">
            <label style="white-space: nowrap">{{"Fecha inscripciones" | translate}}
                <span class="star">*</span>
            </label>
            <br>
            <br>
            <div>

                <p-calendar class=" calendar " [showIcon]=true [yearNavigator]=true yearRange='2016:2050' dateFormat='yy-mm-dd' (onSelect)="regStartDate($event)" placeholder="{{'Fecha de inicio' | translate}}" formControlName="fecha_three" [locale]="es" [readonlyInput]="true">
                </p-calendar>
            </div>
            <label *ngIf="regDateValidation" style="color:red;white-space:nowrap;">{{'fecha de registro inválida' | translate}}</label>
        </div>
        <div class="ui-g-3 ui-sm-6">
            <br>
            <br>
            <div>
                <p-calendar class=" calendar " [showIcon]=true [yearNavigator]=true yearRange='2016:2050' dateFormat='yy-mm-dd' (onSelect)="regEndDate($event)" placeholder="{{'Fecha de inicio' | translate}}" formControlName="fecha_four" [locale]="es" [readonlyInput]="true">
                </p-calendar>
            </div>
        </div>
        <div class="ui-g-3 ui-sm-6">
            <label style="white-space: nowrap;"> {{'Fecha del torneo o liga' | translate}}
                <span class="star">*</span>
            </label>
            <br>
            <br>
            <div>

                <p-calendar class=" calendar " [showIcon]=true [yearNavigator]=true yearRange='2016:2050' dateFormat='yy-mm-dd' (onSelect)="tournament_Start_Date($event)" placeholder="{{'Fecha de inicio' | translate}}" formControlName="fecha_one" [locale]="es" [readonlyInput]="true">
                </p-calendar>
            </div>
            <label *ngIf="tourDateValidation" style="color:red;white-space:nowrap;">{{'fecha de liga inválida' | translate}} </label>
        </div>
        <div class="ui-g-3 ui-sm-6">
            <br>
            <br>
            <div>

                <p-calendar class=" calendar " [showIcon]=true [yearNavigator]=true yearRange='2016:2050' dateFormat='yy-mm-dd' (onSelect)="tournament_End_Date($event)" placeholder="{{'Fecha de inicio' | translate}}" formControlName="fecha_two" [locale]="es" [readonlyInput]="true">
                </p-calendar>
            </div>
        </div>


        <div class="ui-g-6 ui-sm-12">
            <label> {{'Número de equipos' | translate}}
                <span class="star">*</span>
            </label>
            <br>
            <br>
            <div>
                <!-- (keyup)="equipoValidation(myForm.controls['equipos'].value)" -->
                <p-inputMask [autoClear]="false" slotChar="" mask="99" formControlName="equipos" placeholder="{{'Número de Equipos' | translate}}">
                </p-inputMask>
            </div>
            <div *ngIf="!myForm.controls['equipos'].valid && myForm.controls['equipos'].dirty ">
                <p style="color: red">{{'Ingresar el número de equipos' | translate}}</p>
            </div>
        </div>


        <div class="ui-g-6 ui-sm-12">
            <label>{{'Premio al campeón' | translate}}
                <span class="star">*</span>
            </label>
            <br>
            <br>
            <div>
                <p-inputMask [autoClear]="false" slotChar="" mask="9999999999" formControlName="premio" placeholder="{{'Premio al campeón' | translate}}">
                </p-inputMask>

            </div>
            <div *ngIf="!myForm.controls['premio'].valid && myForm.controls['premio'].dirty ">
                <p style="color: red">{{'Premio debe ser en número' | translate}}</p>
            </div>
        </div>

        <div class="ui-g-6 ui-sm-12 multiselect">
            <label>{{'Métodos de pago' | translate}}</label>
            <br>
            <br>
            <p-multiSelect [options]="paymentMethodLebals" [(ngModel)]="payment_mode" placeholder="Métodos de pago" formControlName="payment"></p-multiSelect>
        </div>

        <div class="ui-g-6 ui-sm-12">
            <label>{{'Estructura de puntaje' | translate}} </label>
            <br>
            <br>
            <p-dropdown [readonly]=true [options]="result_type" [style]="{width : '100%' }" class="dropdown" formControlName="result_type"></p-dropdown>
        </div>


        <!--<div class="ui-g">
        <br>
        <br>
        <label>Está automatizado </label>
        <p-checkbox formControlName="is_automated" [disabled]=true binary="true"></p-checkbox>
    </div>-->
        <!-- <div class="ui-g-2 ui-sm-6 multiselect">
            <label>{{'Celular' | translate}}
                <span class="star">*</span>
            </label>
            <br>
            <br>
            <p-inputMask mask="+999" formControlName="country_code" placeholder="{{'+593' | translate}}"></p-inputMask>
        </div>
        <div class="ui-g-3">
            <br>
            <br>
            <p-inputMask mask="999999999" formControlName="contact" placeholder="{{'Celular' | translate}}"></p-inputMask>
        </div> -->
        <!-- <div class="ui-g-6 " style="padding:0px;position: relative;">
                <div class="ui-g error" *ngIf="isMobValid">
                    <p class="errorText">Celular debe ser de {{length}} dígitos</p>
                </div>
                <label>{{'Celular' | translate}}
                            <span class="star">*</span>
                        </label>
                <br>
                <br>
                <div class="ui-g-5">
                    <div class="ui-g-12 code" style="padding:0px;">

                        <p-dropdown (onChange)="validMobile($event)" [options]="code" [formControl]="myForm.controls['country_code']">
                            <ng-template let-car pTemplate="label">
                                <div style="display:flex;align-items:center">
                                    <div style="    width: 30px;">
                                        {{car.label}}
                                    </div>
                                    <div style="    text-align: right;" *ngIf="car.label=='+593'" class="ui-g-6">
                                        <img src="assets/images/Ecuador.png" style="width: 15px;height: 10px;  " />
                                    </div>
                                    <div *ngIf="car.label=='+502'" style="    text-align: right;" class="ui-g-6">
                                        <img src="assets/images/Guatemala-flag (1).jpg" style="width: 15px;height: 10px;  " />
                                    </div>
                                    <div *ngIf="car.label=='+1'" style="    text-align: right;" class="ui-g-6">
                                        <img src="assets/images/usa_flag.jpg" style="width: 15px;height: 10px;  " />
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                </div>
                <div class="ui-g-7">
                    <input type="number" [(ngModel)]="number" pInputText placeholder="{{'Celular' | translate}}" (keyup)="mobileVerify($event.target.value)" [formControl]="myForm.controls['contact']" maxlength="{{length}}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        required />

                </div>

            </div> -->
        <div class="ui-g-6 ui-sm-12 ">
            <label>{{'Celular' | translate}}<span class="star">*</span></label><br><br>
            <p-dropdown [style]="{'width':'100%'}" filter="true" [options]="codes" [formControl]="myForm.controls['country_code']"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-sm-12 ">
            <br><br>
            <p-inputMask placeholder="{{'Celular' | translate}}" [formControl]="myForm.controls['contact']" [mask]="mask" slotChar="" maxlength='15' [autoClear]="false"></p-inputMask>
        </div>

        <div class="ui-g-6 ui-sm-12">
            <label> {{'Ciudad' | translate}}
                    <span class="star">*</span>
                    <!-- <span style="color:darkcyan;font-size: 0.7em;">{{'Escoger una de las opciones que se despliegan' | translate}}</span> -->
                </label>
            <br>
            <br>
            <div>
                <p-autoComplete formControlName="ciudad" placeholder="{{'Ciudad'| translate}}" (onSelect)="setLoaction($event)" field="description" [suggestions]="autocompleteItems" (completeMethod)="search($event)">
                </p-autoComplete>
            </div>
        </div>

        <div class="ui-g-6 ui-sm-12">
            <label>{{'Costo por Equipo' | translate}}
                    <span class="star">*</span>
                </label>
            <br>
            <br>
            <div>
                <p-inputMask (keyup)="checkCost($event)" [autoClear]="false" slotChar="" mask="9999999999" formControlName="cuota" placeholder="{{'Costo de registro' | translate}}">
                </p-inputMask>

            </div>
            <div *ngIf="!myForm.controls['cuota'].valid && myForm.controls['cuota'].dirty ">
                <p style="color: red">{{'Reg. tasa debe ser el número' | translate}}</p>
            </div>
        </div>

        <div class="ui-g-6 ui-sm-12">
            <label>
                {{"Cuotas mínimas" | translate }} </label>
            <br>
            <br>
            <p-inputMask [autoClear]="false" slotChar="" mask="9999999999" (keyup)="checkCost($event)" formControlName="min_fee">
            </p-inputMask>

            <div *ngIf="!myForm.controls['min_fee'].valid && myForm.controls['min_fee'].dirty">
                <p style="color: red">{{'Ingrese una tarifa mínima' | translate}}</p>
            </div>
            <div *ngIf="checkcost">
                <p style="color: red">{{'Minimum fee should be less than Costo por equipo ' | translate}}</p>
            </div>
        </div>
        <div class="ui-g-6 ui-sm-12">
            <label>
                    {{'Descuento' | translate}}(%) </label>
            <br>
            <br>
            <input type="number" formControlName="discount" pInputText />
        </div>
        <div class="ui-g-6 ui-sm-12">
            <label>
                        {{'IVA' | translate}}(%)
                    </label>
            <br>
            <br>
            <input type="number" formControlName="vat" pInputText />
        </div>

        <div class="ui-g-6 ui-sm-12">
            <label>{{'No de administradores' | translate}}
                    <span class="star">*</span>
                </label>
            <br>
            <br>
            <input type="text" pInputText formControlName="no_of_admins" readonly="true" />
        </div>
    </div>

    <div class="ui-g ui-fluid">
        <label>{{'Reglas' | translate}} </label>
        <br>
        <br>
        <div class="ui-g-12 uploadPdfDiv">
            <button type="button" class="choose_file" style="cursor:pointer">
                <span style="cursor: pointer; color: white;position: relative;font-size: 1.2em;">{{"SUBIR" | translate}}</span>
                <input type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" (change)="uploadPdf($event)" />
            </button>
            <label>{{pdfInfo}}</label>
        </div>

    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ">
            <label> Bio </label>
            <br>
            <br>
            <div>
                <textarea pInputTextarea class="biotextarea" formControlName="bio">
              </textarea>
            </div>
            <div *ngIf="!myForm.controls['bio'].valid && myForm.controls['bio'].dirty ">
                <p style="color: red">{{"Bio no debe ser mayor que 200 caracteres" | translate}}</p>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-6">
            <button type="button" class="cancelButton" label="{{'CANCELAR' | translate}}" pButton (click)="backToProfile()">
            </button>
        </div>
        <div class="ui-g-6">
            <button type="button" [disabled]="this.checkcost" class="submitButton" label="{{'CONTINUAR' | translate}}" pButton (click)="submitForm(myForm.value)">
            </button>
        </div>
    </div>
    <br>
    <br>
</form>