.role_container {
    width: 100%;
    margin: 180px auto;
}

.card-select1 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    padding: 30px 10px;
    text-align: center;
    background: #FAFBFC;
    transition: all 200ms ease-in;
    transform: scale(1);
    width: 100%;
    /* float: right; */
    margin-right: 0px;
}

.card-select2 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    padding: 30px 10px;
    text-align: center;
    background: #FAFBFC;
    transition: all 200ms ease-in;
    transform: scale(1);
    width: 100%;
    /* float: left; */
    margin-left: 0px;
}

.card-select1:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
    transition: all 200ms ease-in;
    transform: scale(1.1);
    cursor: pointer;
}

.card-select2:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
    transition: all 200ms ease-in;
    transform: scale(1.1);
    cursor: pointer;
}

.h-font {
    margin: 0px 0px 15px 0px;
    font-size: 24px;
    font-weight: 500;
    font-family: Roboto-Medium;
    text-align: center;
}

.p-font {
    color: #ABABAB;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.card-b {
    font-size: 22px;
    font-family: 'Roboto-Light';
}

.card-s {
    font-size: 14px;
    font-family: 'Roboto-Light';
}

@media only screen and (min-width: 640px) {
    .role_container {
        width: 100%;
        margin: 180px auto;
    }
    .card-select1 {
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        padding: 30px 10px;
        text-align: center;
        background: #FAFBFC;
        transition: all 200ms ease-in;
        transform: scale(1);
        width: 200px;
        float: right;
        margin-right: 30px;
    }
    .card-select2 {
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        padding: 30px 10px;
        text-align: center;
        background: #FAFBFC;
        transition: all 200ms ease-in;
        transform: scale(1);
        width: 200px;
        float: left;
        margin-left: 30px;
    }
}

.card {
    float: right;
    padding: 0;
    width: 100%;
    border: none;
}

.card .wrapper {
    background-color: #fff;
    min-height: 320px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.card .wrapper:hover .data {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.card .data {
    position: absolute;
    bottom: 80px;
    width: 100%;
    -webkit-transform: translateY(calc(70px + 1em));
    transform: translateY(calc(70px + 1em));
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}

.card .author {
    font-size: 12px;
}

.card .title1 {
    margin-top: 10px;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.card .title {
    margin-top: 10px;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.card .text {
    height: 70px;
    color: white;
    margin: 0;
    font-size: 13px;
    font-family: 'Montserrat-Light';
}

.example-1 .wrapper {
    background: url("/assets/images/emptys/team_member.png") 20% 1%/cover no-repeat;
}

.example-1 .content {
    /* box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3); */
    background: rgba(0, 0, 0, 0.3);
}

.example-1 .title a {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat-ExtraLight';
}

.example-2 .wrapper {
    background: url("/assets/images/emptys/team_manager.png") 20% 1%/cover no-repeat;
}

.example-2 .content {
    background: rgba(0, 0, 0, 0.3);
    /* box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3); */
}

.example-2 .title a {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat-ExtraLight';
}

.mob-align {
    margin-bottom: 50px;
}

@media only screen and (min-width: 640px) {
    .card {
        float: right;
        padding: 0 1.7rem;
        width: 55%;
        border: none;
    }
    .card .data {
        position: absolute;
        bottom: 0;
        width: 100%;
        -webkit-transform: translateY(calc(70px + 1em));
        transform: translateY(calc(70px + 1em));
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
    }
    .mob-align {
        margin-bottom: 0;
    }
}

/* .back-role {
    width: 100%;
    height: 140px;
    background: url("/assets/images/emptys/img1.jpeg") no-repeat center;
    background-size: cover;
} */