<div class="role_container">
  <div class="ui-g">
    <div class="ui-g-12">
      <p class="h-font">
        {{"What's your role on the team ?"|translate}}
      </p>
      <p class="p-font">{{"Decide the role for team you want to be a team manager or as a player"|translate}}</p>
    </div>

    <div class="ui-g-12">
      <div class="ui-g">
        <div class="ui-g-6 ui-sm-12 mob-align">
          <div class="example-1 card">
            <div class="wrapper" (click)="asplayer()">
              <div class="data">
                <div class="content">
                  <h1 class="title1">{{"Team member"|translate}}</h1>
                  <h1 class="title">
                    <a>{{"Join as a player"|translate}}</a>
                  </h1>
                  <p class="text">{{"Join your favorite team and start growing your soccer game today! You can always join another teams
                    later and can invite your friends."|translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g-6 ui-sm-12">
          <div class="example-2 card" style="float:left">
            <div class="wrapper" (click)="asmanager()">
              <div class="data">
                <div class="content">
                  <h1 class="title1">{{"Team manager"|translate}}</h1>
                  <h1 class="title">
                    <a>{{"Manage your team"|translate}}</a>
                  </h1>
                  <p class="text">{{"Join your team and start managing your team players. As a team manager, you can always enroll your team
                    to leagues and challenge other teams."|translate}}</p>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>