<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>

<div style="text-align:right;" *ngIf="!data_not_found" (click)="pdfPreview()" class="ui-g-12">
    <button class="ui-button-green" label="DOWNLOAD TRANSACTION LIST" pButton></button>
</div>

<div style=" background: #F2F2F2;    padding: 0px;" class="ui-g-12">

    <div *ngIf="!data_not_found" style="    text-align: center; font-size: 18px;" class="ui-g-12">

        {{"Detalles de la transacción" | translate}}
    </div>

    <div *ngIf="!data_not_found" style="    background: #113861;color: white;" class="ui-g-12">

        <div class="ui-g-3">
            {{"ID de transacción" | translate}}

        </div>

        <div class="ui-g-2">
            {{'Fecha y hora' | translate}}
        </div>

        <div class="ui-g-2">
            {{"Cantidad" | translate}}
        </div>

        <div class="ui-g-2">
            {{"Método de pago" | translate}}
        </div>
        <div style="text-align: center;" class="ui-g-3">
            {{"Acción" | translate}}
        </div>


    </div>

    <div style="cursor: pointer;" *ngFor="let results of result;let ind=index" class="ui-g-12">

        <div class="ui-g-3">
            {{results?.trans_id}}
        </div>

        <div class="ui-g-2">
            {{results?.trans_date}}
        </div>
        <div class="ui-g-2">
            $ {{results?.paid_amount}}
        </div>

        <div class="ui-g-2">
            {{results?.payment_mode=='cash'?results?.payment_mode:"Online"}}
        </div>

        <div [class.active]="results?.refund_amount" class="ui-g-3" style="text-align: center;cursor:pointer;color:#999">
            <p (click)="results?.refund_amount?refund(results?.trans_id):xyz()"> {{"Reembolso" | translate}}</p>
        </div>
    </div>

</div>

<div *ngIf="data_not_found" style="text-align: center;color: #113861;font-size: 30px;padding-top: 50px;" class="ui-g-12">
    {{'¡Ningún pago recibido todavía!' | translate}}
</div>

<div style="text-align: right;" class="ui-g-12">
    <button style="    width: 125px;" pButton label="{{'Espalda' | translate}}" [routerLink]="['../../tournament_payment']"></button>
    <button *ngIf="!show_add_bttn" style="    width: 125px;" class="ui-button-green" pButton label="{{'AÑADIR CANTIDAD' | translate}}" (click)=" addAmount()"></button>
</div>

<div [class.active]="result?.length==0"></div>

<!-- add amount popup -->
<p-dialog [resizable]='false' class="payment_status_dialog_tour" [(visible)]="add_amount" [dismissableMask]="true">
    <div style="text-transform: uppercase;font-size: 3em;font-family: 'ChaletComprime CologneEighty';background: #113861;  color: white;text-align: center;" class="ui-g-12">
        <p>{{"Cantidad recibida" | translate}}</p>
    </div>
    <div>
        <div class="ui-g-12">
            <div class="ui-g-6">
                {{'Nombre del torneo' | translate}}
            </div>
            <div class="ui-g-6">
                {{payment_details?.tournament}}
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-6">
                {{'Nombre del equipo' | translate}}
            </div>
            <div class="ui-g-6">
                {{payment_details?.team}}
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-6">
                {{'Monto pendiente' | translate}}
            </div>
            <div class="ui-g-6">
                {{payment_details?.amount}}
            </div>
        </div>


        <div style="text-align:right" class="ui-g-12">
            <div class="ui-g-6">
                <button style="    width:100%;
            margin-top: 15px;" class="ui-button-green" pButton label="{{'Cancelar' | translate}}" (click)="add_amount=false"></button>
            </div>
            <div class="ui-g-6">

                <button style="    width: 100%;
              margin-top: 15px;" class="ui-button-green" pButton label="{{'Recibido' | translate}}" (click)="receiveAmount()"></button>
            </div>

        </div>
    </div>

</p-dialog>
<!--end add amount popup  -->
<div [class.backdrop]="add_amount"></div>



<div [class.backdrop]="pdf_popup"></div>
<div class="ui-g ui-fluid pdfView pdfViewWidth">
    <p-dialog [(visible)]="pdf_popup" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
        <div id="download">
            <div class="ui-g table_info" #layout>
                <div class="ui-g-4  ">

                </div>
                <div class="ui-g-4 tour_logo">
                    <img src="{{tour_info?.tournament_logo?tour_info?.tournament_logo:'assets/images/tournament-profile-logo/default.png'}}" style="width: 60px;height: 60px;border-radius:100%" />
                </div>
                <div class="ui-g-4 pelo_logo">
                    <img src="/assets/images/pelo.png" style="   width: 50px;    margin-right:25px;height: 40px;">
                    <img src="assets/images/sponser_new.png" style="   width: 50px;    margin-right: 10px;height: 40px;">
                </div>
                <div class="ui-g-12 tour_name">
                    <p>{{tour_info?.tournament_name}}</p>
                </div>
                <div style="border-top: 1px solid;text-align: center;padding: 10px;font-size: 16px;font-family: 'Montserrat-Light';color: #00253f;" class="ui-g-12">
                    {{'Detalles de la transacción' | translate}} ({{tour_info?.team_name}})
                </div>


                <div class="ui-g-12 menu">
                    <div class="ui-g-3 items">{{'Transaction_Id' | translate}}</div>
                    <div class="ui-g-2 items">{{'DateTime' | translate}}</div>
                    <div class="ui-g-2 items">{{'Amount' | translate}}</div>
                    <div class="ui-g-3 items">{{'Payment Method' | translate}}</div>
                    <div style="text-align: center;" class="ui-g-2">
                        {{"Acción" | translate}}
                    </div>
                </div>

                <div class="ui-g-12 items-menu" [routerLink]="['../tournament-team-transaction',results.team_id]" *ngFor="let results of result_pdf;let ind=index">
                    <div class="ui-g-3 items">{{results?.trans_id}}</div>
                    <div class="ui-g-2 items">{{results?.trans_date}}</div>
                    <div class="ui-g-2 items">{{results?.paid_amount}}</div>
                    <div class="ui-g-3 items">
                        {{results?.payment_mode=='cash'?results?.payment_mode:"Online"}}
                    </div>
                    <div *ngIf="results?.refund_amount" class="ui-g-2" style="text-align: center;">
                        {{'Reembolso' | translate}}
                    </div>
                </div>

                <div *ngIf="show" class="ui-g-12 sponsers">
                    <p>{{'Patrocinadores' | translate}}</p>
                    <span *ngFor="let i of sponsers">
            <img [src]="i" />
          </span>
                </div>
            </div>
        </div>



        <div class="ui-g-12" style="text-align: right;font-size: 25px">
            <i class="fa fa-download" aria-hidden="true" (click)="downloadPdfBy()" style="cursor: pointer"></i>
        </div>

    </p-dialog>
</div>

<div [class.backdrop]="refund_popup"></div>


<!-- Popup on refund   -->
<p-dialog [(visible)]="refund_popup" [dismissableMask]="true" modal="modal" class="delete_ground" [resizable]=false [responsive]=true>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 header">
            <span>{{'MENSAJE' | translate}}</span>
        </div>
        <div class="ui-g-12">
            <p style="color:darkcyan;text-align: justify;">{{'¿Quieres reembolsar la transacción? ' | translate}}</p>
        </div>
        <div class="ui-g-12  ui-fluid">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button" label="{{'NO' | translate}}" (click)="refund_popup=false"></button>
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button-green" label="{{'SI' | translate}}" (click)="refunded();refund_popup=false"></button>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
    </div>
</p-dialog>
<!-- Popup end refund   -->
<div [class.backdrop]="payment_success_msg"></div>

<!-- Payment success popup -->
<p-dialog [resizable]='false' class="payment_status_dialog" [(visible)]="payment_success_msg">
    <div style="     border-radius: 4px;    text-align: center;

  padding: 12px;  border-bottom:1px solid #d7d7d7;background:#113861;color:white" class="ui-g-12">
        <span>{{'MENSAJE' | translate}}</span>
    </div>
    <div style="text-align: center;
    margin-top: 25px;
    color: #8ec63f;" class="ui-g-12">
        <p>{{'Hemos enviado su solicitud de reembolso a su banco asociado. ¡Consulte a su banco para obtener más información!' | translate}}</p>
    </div>
    <div style="text-align:center" class="ui-g-12">
        <button style="    width: 80px;
        margin-top: 15px;" class="ui-button-green" pButton label="{{'De acuerdo' | translate}}" (click)="payment_success_msg=false"></button>
    </div>
</p-dialog>
<!--  -->