.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
     
.table_info img {
    width: 60px;
    height: 60px;
}

.table_info {
    padding: 0px;
    width: 700px;
    margin: 0 auto;
    border: 1px solid;
    margin-top: 40px;
}

.top_text {
    font-size: 12px;
    padding-bottom: 10px;
    font-family: 'Montserrat-Light';
    color: #00253f;
    line-height: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
}

#download {
    width: 795px;
    margin: 0 auto;
    height: 460px;
    overflow-y: auto;
}

.tour_logo {
    text-align: center
}

.pelo_logo {
    text-align: right;
}

.tour_name {
    text-align: center;
    font-size: 30px;
    font-family: 'ChaletComprime CologneEighty';
    text-transform: capitalize;
}

.team_name {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Montserrat-Light';
    color: #00253f;
    justify-content: center
}

.menu{
    border-top: 1px solid;padding: 0px;font-size: 13px;font-family: 'Montserrat-Light';color: #113861;
}
.items-menu{
    cursor: pointer;padding: 0px;border-top: 1px solid;border-bottom:0px
}
.items{
    padding: 10px;border-right:1px solid;
}

.sponsers{
    text-align: center;padding: 0px;border-top: 1px solid black; 
}
.sponsers span img{
    height: 50px;width: 50px;border-radius: 25px;margin: 20px 0px 20px 20px;
}

.sponsers p{
    margin: 20px 0px 0px 0px;font-size: 18px;
}

.active{
    color: #113861 !important;
}

.header {
    background: #00253f;
    padding: 11px;
    text-align: center;
}
.header span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}