.full-container {
    padding-top: 145px;
    background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 224px, rgb(248, 248, 248) 0px), url(./../../../assets/images/team_filter.jpg) no-repeat;
    background-color: #ffffff;
    background-size: contain;
    padding-bottom: 200px;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.section {
    max-width: 970px;
    margin: auto;
}

.cityHint {
    padding: 0%;
    margin-left: 12%;
    font-size: 10px;
    color: darkcyan;
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}

.datos {
    text-align: center;
}

.team {
    color: white;
    font-size: 45px;
    font-weight: normal;
    padding: 0% 0px 3% 0%;
    font-family: 'ChaletComprime CologneEighty';
}

#MODALIDAD {
    color: lightslategray;
    font-size: 15px;
    font-weight: bold;
}

#merDiv {
    margin-left: 10%;
    margin-top: 7%;
}

.create_team {
    color: white;
    font-size: 20px;
    float: right;
    padding-top: 15px;
    cursor: pointer;
}

.drop-down {
    margin: 4% 0% 2% 7%;
}

.text {
    display: none;
}

.actions {
    display: none;
}

.fa {
    display: none;
}

.mobtn {
    display: none;
}

.bttn {
    width: 90px;
    font-size: 10px;
}


/**** shobhit-changes*******/

@media screen and (min-width: 640px) and (max-width:825px) {
    .full-container {
        padding-top: 43px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 72px, #f8f8f8 0px), url(./../../../assets/images/team_filter.jpg) no-repeat;
    }
    .bttn {
        width: 72%;
        font-size: 10px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 800px) and (max-width:1000px) {
    .full-container {
        padding-top: 71px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 140px, #f8f8f8 0px), url(./../../../assets/images/team_filter.jpg) no-repeat;
        width: 100%;
    }
    .bttn {
        margin-bottom: 3px !important;
    }
}

@media screen and (min-width: 1000px) and (max-width:1280px) {
    .full-container {
        padding-top: 90px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 172px, #f8f8f8 0px), url(./../../../assets/images/team_filter.jpg) no-repeat;
        background-color: #ffffff;
        background-size: contain;
    }
}


/**************shobhit*********************/

@media only screen and (max-width: 640px) {
    .full-container {
        padding-top: 100px !important;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 95px, black 145px, #f8f8f8 0px) 0% 0%/100%, url(./../../../assets/images/team_filter.jpg) no-repeat !important;
        background-size: inherit;
    }
    .fa {
        display: block;
    }
    .datos>h3 {
        padding: 15px;
        margin-left: 85px;
    }
    .mobtn {
        display: block;
        background: white !important;
    }
    .actions {
        display: block;
        position: fixed;
        bottom: 0%;
        left: 0%;
        z-index: 1;
        padding: 0px;
    }
    i.times {
        display: block;
        padding-top: 19%;
        font-size: 15px;
        border-radius: 50%;
        border: 1px solid #828282;
        height: 23px;
        width: 29px;
        color: #828282;
    }
    .clear>p {
        background-color: gray;
        padding-top: 10%;
        padding-bottom: 10%;
        color: white;
        text-align: center;
        font-size: 13px;
    }
    .apply>p {
        padding-top: 5%;
        padding-bottom: 5%;
        color: white;
        text-align: center;
        font-size: 13px;
    }
    .create_team {
        color: white;
        font-size: 15px;
        float: right;
        padding-top: 15px;
        cursor: pointer;
    }
    .gap1 {
        margin: 15px 15px;
    }
    .text {
        display: block;
    }
    .tops {
        margin-top: -2%;
    }
    .filtor {
        display: none;
    }
    .ui-c {
        font-size: 10px !important;
    }
    .team {
        color: white;
        font-size: 2.8px;
        font-weight: normal;
        padding: 13% 0% 0% 8%;
        font-family: 'ChaletComprime CologneEighty';
    }
    .div2Chlid1 {
        width: 90%;
        margin: auto;
    }
}

.div3 {
    background-color: orange;
}

.div4 {
    background-color: pink;
}

.btnFILTROS {
    width: 80%;
    margin-top: 5%;
    background-color: #043760 !important;
}

#MODALIDAD {
    color: lightslategray;
    font-size: 15px;
    font-weight: bold;
}

#merDiv {
    margin-left: 9%;
    margin-top: 0%;
    font-size: 1em;
}

.checkBOX {
    margin-top: -3%;
    margin-left: 5%;
}

.check1 {
    height: 50px !important;
}

.div2Chlid1 {
    background-color: white;
    border: 1px solid lightgray;
}

.backImage {
    position: relative;
}

.backImage>img {
    width: 100%;
    position: relative;
    height: 44px;
}

.merRow {
    position: absolute;
    top: 11%;
    width: 92%;
}

.COPA {
    color: #043760;
    font-size: 2.5em;
    font-family: 'ChaletComprime CologneEighty';
    text-transform: uppercase;
}

.Inscripciones {
    color: #8CCE25;
    line-height: 0.9;
    padding-bottom: 3%;
}

.copatext {
    padding-left: 5%;
    margin-top: 12%;
}

.CircleDiv {
    border-radius: 100px;
}

.CircleDiv>img {
    width: 60px;
    height: 60px;
    padding: 6%;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    cursor: pointer;
}

.smallcircle {
    border-radius: 25px;
    background-size: 100% 100%;
}

.smallcircle>img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 6%;
}

#marnCol {
    padding-left: 7%;
    padding-top: 22%;
}

.btnnns {
    text-align: center;
    padding: 4px;
    margin-bottom: 12px;
}

.bold {
    color: #828282;
}

.INSCRIBIR {
    width: 80%;
    height: 40px !important;
    background-color: #8CCE25 !important;
    border: none !important;
}

.FECHAcolor {
    color: #043760 !important;
    font-size: 13px;
}

.btnDiv {
    padding-top: 3%;
    padding-bottom: 3%;
}

.SIGUE {
    font-size: 5em;
    color: darkgrey;
    line-height: 1.0;
    font-family: 'ChaletComprime CologneEighty';
}

.GRANDE {
    font-size: 7em;
    color: #8CCE25;
    font-family: 'ChaletComprime CologneEighty';
}

.imgMargin {
    margin: 1%;
}

.fa-forward {
    display: none !important;
}

.fa-backward:before {
    display: none !important;
    ;
}

@media screen and (min-width:890px) and (max-width:1024px) {
    .CircleDiv>img {
        width: 55px;
        height: 55px;
        padding: 6%;
        border-radius: 50%;
        position: absolute;
        top: 21%;
    }
    .INSCRIBIR {
        width: 88%;
        height: 31px !important;
        font-size: 10px;
    }
}

@media screen and (min-width:1025px) and (max-width:1250px) {
    .CircleDiv>img {
        width: 60px;
        height: 60px;
        padding: 6%;
        border-radius: 50%;
        position: absolute;
        top: 20%;
    }
}

@media screen and (min-width:640px) and (max-width:890px) {
    .CircleDiv>img {
        width: 60px;
        height: 60px;
        padding: 6%;
        border-radius: 50%;
        position: absolute;
        top: 27%;
        left: -3%;
    }
    #marnCol {
        padding-top: 30%;
    }
    .INSCRIBIR {
        width: 88%;
        height: 31px !important;
        font-size: 10px;
    }
    .spaceBottom {
        padding-bottom: 2%;
        font-size: 0.9em;
    }
    #merDiv {
        font-size: 0.8em;
    }
    #MODALIDAD {
        font-size: 12px;
        font-weight: bold;
    }
}

.fa-backward {
    display: none;
}

.left-sidebar {
    border: 1px solid lightgray;
    background: white;
}

.gap {
    background: white;
}

@media screen and (min-width:320px) and (max-width:640px) {
    .gap {
        background: white;
    }
    .left-sidebar {
        border: 1px solid white;
    }
    .SIGUE {
        font-size: 2em;
    }
    .GRANDE {
        font-size: 3em;
    }
    .imgMargin {
        width: 50px;
        height: 50px;
    }
    .filtros {
        display: block;
    }
    .rowsBorder {
        border: none;
    }
    .filtors {
        display: block;
        margin: 0 auto;
        margin-bottom: 6%;
        width: 62%;
    }
    .tournament {
        color: white;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        padding: 7% 0px 7% 4%;
    }
}

.ui-dropdown .ui-dropdown-label {
    padding: 10px 6px !important;
}


/******POPUP****************/

.lines {
    width: 100%;
}

hr {
    width: 80%;
    margin: 0px;
}

h2.setheading {
    padding-bottom: 2%;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    color: #828282;
    font-size: 3.5em;
    padding-top: 2%;
}

.texts {
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 1.2em;
    color: #828282;
}

.one {
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.fetcha {
    font-size: 1.3em;
    color: #828282;
    margin-top: 2%;
    margin-bottom: 2%;
}

.hora {
    color: #828282;
    padding-left: 2%;
    padding-bottom: 3%;
}

.regpopup .ui-dialog .ui-dialog-content {
    zoom: 1;
    height: 375px !important;
    overflow: hidden !important;
}

.selectteam {
    background: #043760;
    ;
}

.fixregheight {
    overflow-y: scroll;
    height: 102px;
}