<p-growl [value]="msgs"></p-growl>
<loader *ngIf="activateLoader"></loader>
<div class="ui-g full-container">

    <div class="section">
        <div class="ui-g tops">
            <div class="ui-g-12 ui-sm-4 ui-md-6">
                <p class="team">{{'EQUIPOS' | translate}}</p>
            </div>
            <div class="ui-g-12 ui-sm-8 ui-md-6 text-right crear">
                <button *ngIf="userexist" pButton type="button" class="btnns" style="background-color:#8DCF25;" routerLink="create-team" label="{{'CREAR EQUIPOS' | translate}}"></button>
            </div>
        </div>


        <div class="ui-g rowsBorder">
            <div class="ui-g-12 mobtn">
                <div class="ui-g-10 ui-sm-10 text text-center">
                    <button pButton type="button" class="mob-btn" style="background-color:#00253f;padding: 8px 42px;" (click)="show=!show" (click)=fun()
                        label="{{'FILTROS' | translate}}"></button>
                </div>
            </div>
            <div *ngIf="!show" class="ui-g-3 ui-sm-12 left-sidebar gap1">

                <div class="ui-g-12">
                    <div align="center" class="filtor">
                        <h3 style="color:#043760;">{{'FILTROS' | translate}}</h3>
                    </div>
                </div>

                <div *ngIf="userexist" id="merDiv" style="margin-bottom: 5%;">
                    <p-checkbox name="group1" value="" binary="true" [(ngModel)]="myTeam" (click)="myTeams(1);teams=[];" label="{{'Mis Equipos' | translate}}"
                        class="check1">checkbox is not working</p-checkbox>
                </div>

                <div id="merDiv">
                    <p id="MODALIDAD">{{'Buscar' | translate}}</p>
                </div>
                <div class="ui-g-8 drop-down">
                    <input type="text" #t [disabled]="disable1" pInputText placeholder="{{'Buscar por nombre' | translate}}" (keyup)="nameFilter(t.value)"
                        [(ngModel)]="nameSelected" />
                </div>
                <!-- <div id="merDiv" class="ui-sm-12 ui-g-12">
                    <p id="MODALIDAD">{{'Ciudad' | translate}}</p>
                </div>
                <div class="ui-sm-12 ui-g-12 cityHint">
                    <p id="a">{{'Seleccione en la lista desplegable.' | translate}}</p>
                </div>
                <div class="ui-g-8 drop-down">
                    <p-autoComplete [suggestions]="cities" id="city" field="label" [(ngModel)]="selectedCityId" [disabled]="disable1" (onSelect)="locationFilter($event)" (completeMethod)="searchCity($event)" placeholder={{selectedCityId?selectedCityId:cityPlaceholder}} [minLength]="0"></p-autoComplete>
                </div> -->
                <div id="merDiv" class="ui-sm-12 ui-g-12">
                    <p id="MODALIDAD">{{'Genero' | translate}}</p>
                </div>

                <div id="merDiv" class="ui-g-12 ">

                    <p-checkbox name="group1" value="Masculino" label="{{'Masculino' | translate}}" (click)="getTeam(1);teams=[];" class="check1"
                        [(ngModel)]="gender"></p-checkbox>
                </div>
                <div id="merDiv" class="ui-g-12 ">
                    <p-checkbox name="group1" value="Femenino" label="{{'Femenino' | translate}}" (click)="getTeam(1);teams=[]" class="check1"
                        [(ngModel)]="gender"></p-checkbox>
                </div>
                <div id="merDiv" class="ui-g-12 ">
                    <p-checkbox name="group1" value="Mixto" label="{{'Mixto' | translate}}" (click)="getTeam(1);teams=[]" class="check1" [(ngModel)]="gender"></p-checkbox>
                </div>
                <div id="merDiv" class="ui-sm-12 ui-g-12">
                    <p id="MODALIDAD">{{'Actitud' | translate}}</p>
                </div>
                <div class="ui-g ui-g-12 checkBOX ">

                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" [(ngModel)]="attitu" value="1" (click)="!disable1?getTeam(1):'';reset()"></p-checkbox>
                        <img src="assets/images/1star.png" style="height: 15px;padding-left: 10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="2" [(ngModel)]="attitu" class="check1" (click)="!disable1?getTeam(1):'';reset()"></p-checkbox>
                        <img src="assets/images/2star.png" style="height: 15px;padding-left: 10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="3" [(ngModel)]="attitu" class="check1" (click)="!disable1?getTeam(1):'';reset()"></p-checkbox>
                        <img src="assets/images/3star.png" style="height: 15px;padding-left: 10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="4" [(ngModel)]="attitu" class="check1" (click)="!disable1?getTeam(1):'';reset()"></p-checkbox>
                        <img src="assets/images/4star.png" style="height: 15px;padding-left: 10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="5" [(ngModel)]="attitu" class="check1" (click)="!disable1?getTeam(1):'';reset()"></p-checkbox>
                        <img src="assets/images/5star.png" style="height: 17px;padding-left: 10px;" />
                    </div>
                </div>


                <div id="merDiv" class="ui-sm-12 ui-g-12">
                    <p id="MODALIDAD">{{'Tecnica' | translate}}</p>
                </div>
                <div class="ui-g ui-g-12 checkBOX ">

                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" [(ngModel)]="tech" value="1" (click)="!disable1?getTeam(1):'';reset()"></p-checkbox>
                        <img src="assets/images/1star.png" style="height: 15px;padding-left: 10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="2" [(ngModel)]="tech" class="check1" (click)="!disable1?getTeam(1):'';reset()"></p-checkbox>
                        <img src="assets/images/2star.png" style="height: 15px;padding-left: 10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="3" [(ngModel)]="tech" class="check1" (click)="!disable1?getTeam(1):'';reset()"></p-checkbox>
                        <img src="assets/images/3star.png" style="height: 15px;padding-left: 10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="4" [(ngModel)]="tech" class="check1" (click)="!disable1?getTeam(1):'';reset()"></p-checkbox>
                        <img src="assets/images/4star.png" style="height: 15px;padding-left: 10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="5" [(ngModel)]="tech" class="check1" (click)="!disable1?getTeam(1):'';reset()"></p-checkbox>
                        <img src="assets/images/5star.png" style="height: 17px;padding-left: 10px;" />
                    </div>
                </div>
            </div>

            <div class="ui-g-9 ui-sm-12 ui-g-nopad div2" style=" background:white;border-right: 1px solid lightgray;border-bottom: 1px solid lightgray;"
                *ngIf="cards">
                <div class="ui-g gap" *ngFor="let teamsinfo of teams">
                    <!--first card-->
                    <div *ngFor="let team of teamsinfo" class="ui-g-4 ui-sm-12 ui-g-nopad ui-lg-4 div2Chlid1">
                        <div class="ui-g-12 ui-g-nopad backImage">
                            <img class="cover_img" [src]="team?.cover_image?basePath+team?.cover_image:'assets/images/team-profile-cover/default.png'"
                                alt="cover_pic">
                            <div class="ui-g merRow">
                                <div class="ui-g-5">
                                    <div class="CircleDiv">
                                        <img (click)="profileRedirect(team?.id)" [src]="team?.team_logo?basePath+team?.team_logo:'assets/images/team-profile-logo/default.png'">

                                    </div>
                                </div>
                                <div class="ui-g-7 copatext">
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12" id="marnCol">
                            <p style="padding-bottom: 3%;">
                                <small style="color:#043760;">{{team?.city?team?.city?.location:'--------'}}</small>
                            </p>

                            <p class="COPA" style="max-height: 30px;overflow: hidden;" (click)="profileRedirect(team?.id)">
                                <a style="text-decoration: none;color: #043760;font-size: 25px;text-decoration:none;">{{team?.team_name}}</a>
                            </p>
                            <p class="Inscripciones">
                                <small style="color: #043760;">{{team?.moto?team?.moto:'---'}}</small>
                                <br>
                                <br>
                                <p class="FECHAcolor">{{"Fundado" | translate}}:
                                    <span>{{team?.create_at}}</span>
                                </p>
                                <br>
                        </div>
                        <div class="ui-g-12 btnnns">
                            <button *ngIf="userexist" pButton type="button" style="padding:6px" label="{{'PERFIL' | translate}}" (click)="profileRedirect(team?.id)"
                                class="ui-button-green ui bttn button"></button>
                            <button pButton type="button" style="width: 130px;font-size:10px;padding:6px" *ngIf="!team.follow && userexist" label="{{'SEGUIR' | translate}}"
                                (click)=follow(team) class="ui-button-green ui button"></button>
                            <button pButton type="button" style="width: 130px;font-size:10px;padding:6px" *ngIf="team.follow && userexist" label="{{'Dejar de seguir' | translate}}"
                                (click)=unfollow(team) class="ui-button-green ui button"></button>
                        </div>
                    </div>
                    <div *ngIf="isdata" class="ui-g-12 datos">
                        <h3 style="color: darkcyan;">{{'Datos no encontrados' | translate}}</h3>
                    </div>
                    <div *ngIf="isError">
                        <h3 style="padding: 150px;margin-left: 124px;color: darkcyan;">{{'Algunos de error vuelve a intentarlo ...' | translate}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="regpopup">
            <p-dialog header="Godfather I" [(visible)]="display" modal="modal" showEffect="fade">
                <div class="ui-g">
                    <div class="ui-g-4">
                        <h2 class="setheading">{{'RETAR UN EQUIPO' | translate}}</h2>
                    </div>
                    <div class="ui-g-8">
                        <h2 class="setheading">{{'RETAR UN EQUIPO' | translate}}</h2>
                    </div>
                    <hr class="lines">
                    <p class="texts">{{'Elegir una de sus listas de jugadores personalizado' | translate}}</p>
                </div>

                <div class="fixregheight">
                    <div *ngFor="let team1 of teams1" class="ui-g regpopuphover" [class.selectteam]="getId==team1.id" (click)="getChallengeId(team1.id)">
                        <hr class="lines">
                        <div class="ui-g-1 partdiv text-center one">
                            <img class="circleimg name" src={{team1.team_logo}} alt="images" height="50px" width="50px">
                        </div>
                        <div class="ui-g-2 partdiv text-center one">
                            <span style="color:#828282;font-size:16px;">{{team1.team_name}}</span>
                        </div>
                        <div class="ui-g-4 partdiv text-center one">
                            <span style="color:#9AD643;font-size:14px;">{{team1.moto}}</span>
                        </div>
                    </div>
                    <div *ngIf="disablebtn">
                        error
                    </div>
                </div>
                <div class="ui-g" style="padding-top:1.25%">
                    <div class="ui-g-12">
                        <p class="fetcha">{{'Llenar datos de calendario' | translate}}</p>
                        <hr class="lines">
                    </div>
                    <div class="ui-g-5">
                        <div>
                            <p class="hora" style="color:#043760;">{{'Fecha y hora' | translate}}</p>
                        </div>

                        <div style="color:black;">
                            <p-calendar [yearNavigator]=true yearRange='2016:2050' dateFormat='yy-mm-dd' [ngModelOptions]="{standalone: true}" [(ngModel)]="challengeDate">
                            </p-calendar>
                            <p *ngIf="dateValid" style="color:red;">{{'select date required' | translate}}</p>
                        </div>

                    </div>
                    <div class="ui-g-3" style="margin-left: -1%"></div>
                    <div class="ui-g-3" style="padding-top:10%;">
                        <button type="button" pButton (click)="cancel()" label="{{'CANCELAR' | translate}}" style="background-color:#C4C4C4;"></button>
                    </div>
                    <div class="ui-g-1" style="margin-left: -8%;padding-top:10%;">
                        <button type="button" pButton (click)="submitChallenge()" label="{{'RETAR' | translate}}" [disabled]="disablebtn" style="background-color: #9AD643"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
    </div>
</div>

<div [class.backdrop]="backdrop"></div>