<div class="wrap-dash">
  <div class="maindash-container">
  </div>
  <div class="buttons-w">
    <button class="toggle-but" (click)="uploadfeature()">Upload Featured</button>
    <button class="toggle-but" (click)="uploadgallery()">Upload Gallery</button>

  </div>

  <div *ngIf="featured" class="gallery-head">
    <p>Feature Photos</p>
  </div>
  <div *ngIf="!featured" class="gallery-head">
    <p>Gallery Photos</p>
  </div>

  <div *ngIf="featured" class="featured-photos">
    <div class="ui-g">
      <div *ngFor="let data of featureddata" class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
        <div class="gallary-bigcard">

          <div [ngStyle]="{ 'background-image': 'url('+logo+data?.image+')'}" class="gallary-bigcard-img">
            <img (click)="edit(data)" class="gallery-edit" src="assets/images/dash/editicon.png">
          </div>
          <div class="gallary-bigcard-content">
            <p class="t1">{{data?.headline}} </p>
            <p class="t2">{{data?.description}}</p>
            <p class="t2">{{data?.created_at}}</p>
          </div>
        </div>
      </div>
    </div>

    <p-paginator rows="10" pageLinkSize="3" (onPageChange)="paginate($event)" [totalRecords]="totalpages"></p-paginator>
  </div>
  <div *ngIf="!featured" class="featured-photos">
    <div class="ui-g">
      <div *ngFor="let data of picsdata" class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">

        <div class="gallary-small-card">
          <div [ngStyle]="{ 'background-image': 'url('+logo+data?.image+')'}" class="gallarysmallcard-img">
            <img (click)="edit(data.id)" class="gallery-edit" src="assets/images/dash/editicon.png">
          </div>
          <div class="gallarysmallcard-content">
            <p class="gsmall-card-f">{{data?.headline}}</p>
            <p class="gsmall-card-f">{{data?.created_at}}</p>
          </div>
        </div>
      </div>
    </div>
    <p-paginator rows="10" pageLinkSize="3" (onPageChange)="paginatepic($event)" [totalRecords]="ptotalpages"></p-paginator>
  </div>

  <img (click)="addfeature()" class="img-add" src="assets/images/addcard.png">
</div>

<!-- for feature dialog -->
<div [class.backdrop]="featuredialog"></div>
<div class="m-dialog" *ngIf="featuredialog">
  <div class="flex hed">
    <h4>Upload image</h4>
    <img (click)="closeDialog()" src="/assets/images/crossIcon.png" style="cursor:pointer;margin-left:auto;height:15px">
  </div>
  <div class="ui-g">
    <div class="ui-g-3">
      <button type="button" class="choose_file" style="cursor:pointer">
        <input type="file" name="img" value="upload" style="cursor:pointer" (change)="fileChangeListener($event,'coverPic')" />
        <span style="cursor:pointer; margin: auto;">Upload file</span>
      </button>
      <p *ngIf="fileselected" style="padding: 20px 0;color: #8dc351;"> File selected..</p>
    </div>
    <div class="ui-g-9">
      <div class="team-details">
        <p style="margin: 10px 0;">Heading
          <span style="color:red;">*</span>
        </p>
        <div class="m-input">
          <textarea pInputTextarea [(ngModel)]="featureheading"></textarea>
        </div>

        <p style="margin: 10px 0;">Description
          <span style="color:red;">*</span>
        </p>
        <div class="m-input">
          <textarea pInputTextarea [(ngModel)]="featuredescription"></textarea>
        </div>
      </div>
      <p *ngIf="dataerror" style="margin-top:10px;color:red;">Please enter all the details</p>
    </div>
  </div>

  <div class="m-foot">
    <button class="cancle" (click)="closeDialog()">Cancle</button>
    <button *ngIf="featured" (click)="savefeature('feature')" class="save">Save</button>
    <button *ngIf="!featured" (click)="savefeature('pic')" class="save">Save</button>
  </div>
</div>

<!-- for edit -->
<div [class.backdrop]="editdialog"></div>
<div class="m-dialog" *ngIf="editdialog">
  <div class="flex hed">
    <h4>Edit your image</h4>
    <img (click)="closeedit()" src="/assets/images/crossIcon.png" style="cursor:pointer;margin-left:auto;height:15px">
  </div>
  <div class="ui-g">
    <div class="ui-g-3">
      <div [ngStyle]="{ 'background-image': 'url('+logo+editedimage+')'}" type="button" class="choose_file" style="cursor:pointer">
        <input type="file" name="img" value="upload" style="cursor:pointer" (change)="fileChangeListener($event,'coverPic')" />
        <span style="cursor:pointer; margin: auto;">Upload file</span>
      </div>
      <p *ngIf="fileselected" style="padding: 20px 0;color: #8dc351;"> File selected..</p>
    </div>
    <div class="ui-g-9">
      <div class="team-details">
        <p style="margin: 10px 0;">Heading
          <span style="color:red;">*</span>
        </p>
        <div class="m-input">
          <textarea pInputTextarea [(ngModel)]="featureheading"></textarea>
        </div>

        <p style="margin: 10px 0;">Description
          <span style="color:red;">*</span>
        </p>
        <div class="m-input">
          <textarea pInputTextarea [(ngModel)]="featuredescription"></textarea>
        </div>
      </div>
      <p *ngIf="dataerror" style="margin-top:10px;color:red;">Please enter all the details</p>
    </div>
  </div>

  <div class="m-foot">
    <button class="cancle" (click)="closeedit()">Cancle</button>
    <button (click)="editsave()" class="save">Save</button>
  </div>
</div>



<p-dialog [(visible)]="display" modal="modal" showEffect="fade">
  <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
    <div class="ui-g-10 ui-md-10 ui-lg-10 heading">
      <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
    </div>
    <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
    </div>
  </div>
  <div class="ui-g" style="padding: 30px;padding-right:0;">
    <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="circleImg">
      <img-cropper #cropper [image]="data2" [settings]="cropperSettings2"></img-cropper>
    </div>
    <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="squareImg">
      <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    </div>
    <div class="ui-g-5 ui-sm-5 ui-md-5 ui-lg-5 text-center">
      <label class="cropper_label">{{"Preview" | translate}}</label>
      <span class="result rounded" *ngIf="circleImg">
        <img [src]="data2.image" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight">
      </span>
      <span class="square" *ngIf="squareImg">
        <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
      </span>
      <br/>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-6  ui-md-6 ui-lg-6"></div>
    <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
      <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="disable()"></button>
      <button pButton type="button" class="ui-button-green save" label="{{'Guardar' | translate}}" (click)="save()"></button>
    </div>
  </div>
</p-dialog>