.wrap-dash {
  margin: 50px auto;
  position: relative;
}

.toggle-but {
  background: #003041;
  padding: 10px;
  color: white;
  outline: none;
  border: 1px solid #003041;
  cursor: pointer;
  text-transform: capitalize;
  font-family: "Montserrat-Regular";
  border-radius: 4px;
}

.buttons-w {
  margin: 30px 60px 10px 60px;
}

.gallery-head {
  margin: 40px 80px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 30px;
  padding: 10px 0;
  font-family: "ChaletComprime CologneEighty";
  color: #003041;
}

.featured-photos {
  margin: 40px 80px;
}

.maindash-container {
  height: 166px;
  background: url("/assets/images/dash/banner.png") no-repeat center;
  background-size: cover;
}

.gallary-bigcard {
  transform: scale(0.9);
}

.gallary-bigcard:hover {
  transition: all 250ms ease-in;
  transform: scale(1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.gallary-bigcard-img {
  height: 230px;
  /* background: url("/assets/images/emptys/team_member.png") no-repeat; */
  background-size: cover;
  background-position: top center;
}

.gallary-bigcard-content {
  background: #002b40;
  color: white;
  padding: 10px;
}

.gallary-bigcard-content .t1 {
  color: white;
  margin: 8px 0;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.gsmall-card-f {
  font-size: 11px;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.gallary-bigcard-content .t2 {
  color: white;
  margin: 8px 0;
  font-size: 12px;
  font-family: "Montserrat-Light";
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.gallarysmallcard-img {
  height: 120px;
  background: url("/assets/images/emptys/re1.jpeg") no-repeat;
  background-size: cover;
  background-position: top center;
}

.gallarysmallcard-content {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.img-add {
  position: fixed;
  bottom: 10%;
  right: 2%;
  height: 70px;
  cursor: pointer;
  transform: scale(0.9);
}

.img-add:hover {
  transition: all 200ms ease-in;
  transform: scale(1);
}

.m-dialog {
  top: 13%;
  z-index: 40;
  width: 500px;
  background: #fff;
  position: fixed;
  margin: auto;
  right: 0;
  left: 0;
  padding: 20px;
}

.backdrop {
  /* display: none; */
  position: fixed;
  background: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 36;
}

.flex {
  display: flex;
}

.choose_file {
  font-family: "Montserrat-Regular";
  position: relative;
  display: inline-block;
  margin-top: 22px;
  font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
  height: 116px;
  width: 100%;
  color: #8dc351;
  border: 1px dashed #8dc351;
  background: transparent;
  background-size: contain;
  background-position: center;
}

.choose_file input[type="file"] {
  -webkit-appearance: none;
  position: absolute;
  padding-top: 19px;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 87%;
}

.team-details {
  padding: 20px;
}

.hed h4 {
  font-size: 17px;
  font-family: "Montserrat-Regular";
  font-weight: 500;
}

.m-foot {
  text-align: right;
}

.save {
  font-family: "Montserrat-Regular";
  background: #8dc351;
  border: 1px solid #8dc351;
  outline: none;
  cursor: pointer;
  padding: 7px 15px;
  color: white;
  border-radius: 37px;
}

.cancle {
  font-family: "Montserrat-Regular";
  background: #d3d4d4;
  border: 1px solid #d3d4d4;
  outline: none;
  cursor: pointer;
  padding: 7px 15px;
  color: #333333;
  border-radius: 37px;
}

.m-input .ui-inputtext {
  border-radius: 8px !important;
}

.image_cropper_heading {
  padding: 0;
  font-family: ChaletComprime CologneEighty;
  font-size: 4em;
  color: white;
  text-transform: uppercase;
}

.cropper_label {
  padding-left: 5%;
  color: #828282;
  font-size: 1.2em;
}

.result {
  margin: 40px auto;
  margin-bottom: 0;
  display: block;
  background: gray;
  width: 200px;
  border-radius: 100px;
}

.result > img {
  border-radius: 100px;
}

.square > img {
  width: 95%;
  margin-left: 2%;
  height: 30%;
  margin-top: 35%;
}

.gallery-edit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  height: 18px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
