<ion-header>
    <ion-navbar no-padding>
        <div padding class="header_div">
            <ion-title style="text-align: center;">{{'Fields' |translate}}</ion-title>
            <span style="color:#666666;font-family: roboto-regular;" (click)="modify();">{{'Filter' |translate}}</span>
        </div>
    </ion-navbar>
</ion-header>


<ion-content no-padding class="body">
    <div class="spinn">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
    </div>
    <ion-grid no-padding>
        <ion-row>
            <ion-card class="cal">
                <ion-card-content no-padding>
                    <ion-row class="calender">
                        <ion-col col-7 class="my">
                            <ion-datetime [monthShortNames]="months" [doneText]="lang=='en'?'Done':'Hecho'" [cancelText]="lang=='en'?'Cancel':'Cancelar'" no-padding (ionChange)="calendarFormat()" [min]="min_date" max="2050" displayFormat="MMM YYYY" [(ngModel)]="date"></ion-datetime>
                        </ion-col>
                        <ion-col col-4 class="arrow">
                            <i no-padding class="fa fa-angle-down" aria-hidden="true"></i>
                        </ion-col>
                    </ion-row>
                    <div padding-bottom style="display:flex;overflow:scroll;align-items: center;">
                        <div (click)="date_change(i.date,i.day)" [class.active]="selectd_date==i.date" *ngFor="let i of days" style="margin:16px 11px 0px 11px;font-family: roboto-regular;cursor:pointer;">
                            <p [class.date]="selectd_date==i.date">{{i.day}}</p>
                            <p [class.date]="selectd_date==i.date">{{i.date}}</p>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-row>
        <ion-row class="search">
            <ion-col col-12 no-padding>
                <ion-searchbar debounce="500" no-padding placeholder="{{'Search' | translate}}" (ionInput)="getItems($event)" [(ngModel)]="searchQuery" class="inner_search"></ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid no-padding>
        <div *ngIf="canchas.length">
            <div *ngFor="let cha of canchas">
                <ion-row class="maincard" style="margin-bottom:0px;">
                    <ion-col no-padding (click)="revuser(cha.id);" style="display: flex;align-items: center;justify-content: center;margin-bottom: 10px;">
                        <img [src]="cha?.profile_pic?img+cha?.profile_pic:'assets/images/ground/ground_logo.png'" class="logo" alt="LOGO" />
                        <div *ngIf="cha?.is_peloteando_certified">
                            <img style="position: absolute;left:35px;top:36px;width:20px;height:22px;" src="assets/images/ground/pelo_certification.png">
                        </div>
                    </ion-col>
                    <ion-col (click)="revuser(cha.id);" style="padding-bottom:16px;padding-left:8px;" col-7>
                        <p class="title">
                            {{cha?.name}}
                        </p>
                        <span class="sub_title">{{cha?.modality}} , {{lang=='en'?cha?.type_of_grass_en:cha?.type_of_grass}}</span>
                        <p class="sub_title" *ngIf="cha?.address">{{cha?.address}}</p>
                    </ion-col>
                    <ion-col no-padding (click)="revuser(cha.id);" col-3 text-right>
                        <p text-right class="title" style="margin-bottom:30px;font-size:13px;">${{cha?.min_amount}}-${{cha?.max_amount}}</p>
                    </ion-col>
                </ion-row>
                <ion-row class="maincard" style="padding-top: 10px;
                padding-left: 4%;
                padding-bottom: 10px;
                opacity: 1;
                border-top: 1px solid #d7d7d7;" *ngIf="cha.available_time_slots" [style.opacity]="cha?.is_peloteando_certified?1:0.5">
                    <span *ngFor=" let item of cha?.available_time_slots;let j = index">
            <ion-col no-padding style="padding-right:5px;" *ngIf='j<=2' col-3 (click)="field(cha.id,cha.is_peloteando_certified,cha?.admin);">
              <span class="time">{{item.slice(0,5)}}Hrs</span>
                    </ion-col>
                    </span>
                    <ion-col text-left col-3 class="show" (click)="field(cha.id,cha.is_peloteando_certified,cha?.admin);">
                        {{'Show all' | translate}}
                    </ion-col>
                </ion-row>
            </div>
        </div>

        <!-- <div *ngIf="no_data && !internet">
      <ion-row style="display:grid;justify-content:center;">
        <ion-col col-12 class="nodata_image"></ion-col>
      </ion-row>
    <ion-row class="nodata">
      <ion-col col-12>
        <p>DATA NOT FOUND</p>
      </ion-col>
    </ion-row>
    </div> -->

        <div class="emptystates" *ngIf="no_data && !internet">
            <img class="icon" src="assets/images/emptystates/no reservation.png">
            <p>{{"No fields" | translate}}</p>
        </div>

        <div *ngIf="internet" class="emptystates">
            <img class="internet-icon" src="assets/images/no_internet.png">
            <p (click)="canchaname(1,null)">{{'Try again' | translate}}</p>
        </div>
    </ion-grid>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>