page-canchas {
    .cal {
        width: 100%;
        margin: auto;
        box-shadow: none;
        border: none;
        padding: 16px;
        margin-top: 5px;
        border-bottom: 0.1px solid #d7d7d7;
    }
    .para {
        color: #8ec63e;
        font-size: 16px;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }
    .time {
        border: 1px solid #8ec63e;
        color: #8ec63e;
        padding: 6px;
        border-radius: 4px;
        font-family: "roboto-medium";
        font-size: 13px;
    }
    .show {
        color: #8ec63e !important;
        font-size: 14px;
        justify-content: flex-end;
        display: flex;
        font-family: "roboto-medium";
    }
    .time_slots {
        max-width: 32%;
        width: 30%;
    }
    .foot {
        padding-top: 16px;
        border-width: 100%;
    }
    @media screen and (min-width: 375px) {
        .show {
            margin-left: 40px !important;
        }
    }
    @media screen and (min-width: 412px) {
        .show {
            margin-left: 66px !important;
        }
    }
}