.head {
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3em;
}

.textbox {
    margin-left: -1em;
}

.btn {
    position: absolute;
    border-radius: 0px;
    height: 1.5em;
    padding: 0em;
    margin-left: 26em;
    overflow: hidden;
    width: 7em;
}

.over {
    overflow: hidden;
    height: 23px;
    margin-left: 3%;
}

.sm {
    overflow: hidden;
}

@media screen and (min-width:320px) and (max-width:1000px) {
    .btn {
        display: none;
    }
    .g3 {
        font-size: 10px;
    }
}

@media screen and (min-width:320px) and (max-width:640px) {
    .section {
        font-size: 10px !important;
    }
    .head {
        font-size: 18px;
    }
    .pagina {
        margin-left: -33%;
    }
    .over {
        height: 45px;
        margin-top: 5%;
        width: 100%;
    }
    .sm1 {
        padding-left: 23%;
    }
    .sm {
        width: 100%;
    }
}