<p-growl [value]="msgs"></p-growl>

<loader *ngIf='loader'></loader>
<div class="section1" *ngFor='let request of tournament'>
    <div class="ui-g card">
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-3 logo">
            <img [src]="request?.logo?basePath+request?.logo:'assets/images/tournament-profile-logo/default.png'" alt="image">
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-9 info">
            <p class="prime">{{request?.name}}</p>
            <p style="color:#e6263d;font-weight:bold;">{{request?.nick_name}}<label>{{request?.city}}</label></p>

            <p style="color:#8DCF25;font-weight:bold;" class="fundado">{{'Fecha de torneo' | translate}}:<span style="color:white;padding-left: 2%;">{{request?.start_date}}</span></p>
            <p style="color:#8DCF25;font-weight:bold;line-height: 1.3;" class="fundado">{{'Modalidad' | translate}}:<span style="color:white;padding-left: 2%;">"{{request?.tournament_level=='V5'?'5x5':(request?.tournament_level=='V6'?'6x6':(request?.tournament_level=='V7'?'7x7':(request?.tournament_level=='V9'?'9x9':'11x11')))}}"
</span></p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 rating">
            <p style="color:#8DCF25;font-size: 1.8em;margin-left: -40px;" class="prime">{{'FAIRNESS' | translate}}</p>
            <p-rating [ngModel]="request?.fairness" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <p style="color:white;"></p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 rating">
            <p style="color:#8DCF25;font-size: 1.8em;margin-left: -40px;" class="prime">{{'ORGANIZATION' | translate}}</p>
            <p-rating [ngModel]="request?.organization" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <p style="color:white;"></p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-12 edit-btn">
            <button pButton type="button" routerLink="/dashboard/tournaments/tournament-profile/{{request.id}}/points" label="{{'RESULTADOS' | translate}}" class="ui-button-green ui-button"></button>
        </div>

    </div>
</div>
<div class="ui-g" style="margin-top: 20px;height: 100px">
    <div class="ui-g-12 text-center" *ngIf="tournament.length==0">
        <span style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
    </div>
</div>