.content-row {
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    background: #eff2f3;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.goal-r {
    background: #8ccc44;
    color: white;
    padding: 8px 5px 8px 5px;
    font-size: 13px;
}

.team-p {
    /* display: flex;
    font-family: "Montserrat-Regular";
    justify-content: space-around;
    align-content: center;
    margin-top: 6px; */
}

.team-p p {
    color: #275376;
    font-size: 12px;
    margin-top: 10px;
    word-break: break-all;
}

.img-player-t {
    height: 35px;
    width: 35px;
}

.des-p {
    text-align: center;
    font-size: 11px;
    color: #275376;
    font-family: "Montserrat-Light";
    margin-top: 15px;
    margin-left: 6%;
}

.drop-label {
    font-size: 13px;
    color: #828282;
    margin: 10px 0;
}

.ui-dropdown {
    width: 100% !important;
}

.reset {
    background: #eef2f3;
    color: #333333;
    padding: 10px 10px;
    border-radius: 25px;
    margin-top: 16%;
    text-align: center;
    width: 46%;
    border: 1px solid #eef2f3;
    cursor: pointer;
}

.allcontent-head {
    font-size: 11px;
    color: #275376;
    padding: 10px 0 10px 28px;
}

.align-p {
    /* margin-top: 7px;  */
}

.allcontent-c {
    padding-left: 28px;
}

.font-b {
    font-size: 12px;
}

.show-buttons {
    cursor: pointer;
    margin-top: 38px;
    color: white;
    font-size: 10px;
    background: #8BC955;
    padding: 4px 4px;
    text-align: center;
}

.text-center p {
    word-break: break-all
}

@media only screen and (min-width: 640px) {
    .team-p p {
        color: #275376;
        font-size: 16px;
        margin-top: 10px;
    }
    .des-p {
        text-align: center;
        font-size: 13px;
        color: #275376;
        font-family: "Montserrat-Light";
        margin-top: 15px;
        margin-left: 6%;
    }
    .goal-r {
        background: #8ccc44;
        color: white;
        padding: 8px 10px 8px 10px;
        font-size: 16px;
    }
    .font-b {
        font-size: 18px;
    }
}