<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div *ngIf="is_phone" class="ui-g">
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"Enter your mobile number." | translate}}
            </p>

            <p-dropdown filter="true" [options]="codes" [(ngModel)]="country_code"></p-dropdown>

            <span class="ui-float-label">
              <!-- <input id="float-input" type="number" size="40" pInputText>  -->
              <p-inputMask (keyup)="validatePhone($event)"  [mask]="mask" slotChar="" maxlength='15' [(ngModel)]="mobile"  [autoClear]="false"></p-inputMask>
              <label for="float-input">{{"Mobile number" | translate}}</label>
            </span>
            <img class="correct" *ngIf="checkNumber" src="assets/images/signup/correct.png" />
            <p class="exist" *ngIf="checkNumberErrorMsg">{{"This number already registered" | translate}}</p>

        </div>

        <div *ngIf="lang!='es'" class="ui-g-12">
            <p class="agrement">
                {{"By registering, you agree with our" | translate}}
                <span (click)="termCondition()" style="color:#113861;font-size: 14px;font-family: roboto-medium;cursor: pointer;">{{"Terms of Conditions" | translate}}</span> {{"and"}}
                <span (click)="privacyPolicy()" style="color:#113861;font-size: 14px;font-family: roboto-medium;cursor: pointer">{{"Privacy Policy" | translate}}</span> {{"including the use of cookies."}}
            </p>
        </div>

        <div *ngIf="lang=='es'" class="ui-g-12">
            <p class="agrement">
                {{"Al registrarse, estas aceptando los" | translate}}
                <span (click)="termCondition()" style="color:#113861;font-size: 14px;font-family: roboto-medium;cursor: pointer">{{"Términos de Condiciones" | translate}}</span> {{"y"}}
                <span (click)="privacyPolicy()" style="color:#113861;font-size: 14px;font-family: roboto-medium;cursor: pointer">{{"Pólitica de Privacidad" | translate}}</span> {{"incluyendo el uso de cookies." | translate}}
            </p>
        </div>

        <div style="text-align: center" class="ui-g-12">
            <span class="register_with" (click)="is_phone=false">
                {{'Sign up with email' | translate}}
            </span>
        </div>

        <div class="ui-g-12" style="margin-top: 32px;">
            <button (click)="next('mobile')" class="signup-bttn" pButton type="button" [disabled]="!checkNumber" label="{{'Next' | translate}}"> </button>
        </div>
    </div>

    <div *ngIf="!is_phone" class="ui-g">
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"Enter your email to sign up." | translate}}
            </p>
            <span class="ui-float-label">
              <input  (keyup)="validate($event)" [(ngModel)]="email" pInputText />
              <label for="float-input">{{"Email" | translate}}</label>
            </span>
            <img class="correct" *ngIf="check_email" src="assets/images/signup/correct.png" />
            <p class="exist" *ngIf="email_exist">{{"Email has already been taken" | translate}}</p>
        </div>

        <div *ngIf="lang!='es'" class="ui-g-12">
            <p class="agrement">
                {{"By registering, you agree with our" | translate}}
                <span (click)="termCondition()" style="color:#113861;cursor: pointer;;font-size: 14px;font-family: roboto-medium">{{"Terms of Conditions" | translate}}</span> {{"and"}}
                <span (click)="privacyPolicy()" style="color:#113861;font-size: 14px;cursor: pointer;;font-family: roboto-medium;cursor: pointer;">{{"Privacy Policy" | translate}}</span> {{"including the use of cookies."}}
            </p>
        </div>

        <div *ngIf="lang=='es'" class="ui-g-12">
            <p class="agrement">
                {{"Al registrarse, estas aceptando los" | translate}}
                <span (click)="termCondition()" style="color:#113861;font-size: 14px;font-family: roboto-medium;cursor: pointer;">{{"Términos de Condiciones" | translate}}</span> {{"y"}}
                <span (click)="privacyPolicy()" style="color:#113861;font-size: 14px;font-family: roboto-medium;cursor: pointer">{{"Pólitica de Privacidad" | translate}}</span> {{"incluyendo el uso de cookies." | translate}}
            </p>
        </div>

        <div style="text-align: center" class="ui-g-12">
            <span class="register_with" (click)="is_phone=true">
                {{'Sign up with mobile' | translate}}
            </span>
        </div>

        <div class="ui-g-12" style="margin-top: 32px;">
            <button [disabled]="!check_email" (click)="next('email')" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}"> </button>
        </div>
    </div>
</div>