.ui-dropdown {
    width: 100% !important
}

.agrement {
    text-align: center;
    font-size: 16px;
    color: #8b8e95;
    line-height: 25px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.register_with{
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    color: #8b8e95;
    cursor:pointer;
}