<div *ngIf="results?.length>0" style="background: #F2F2F2; padding: 0px;" class="ui-g-12">
  
<div style="background: #113861;color: white;" class="ui-g-12">

  <div class="ui-g-3">
    Transaction Id
  </div>

  <div class="ui-g-3">
    Paid For
  </div>

  <div class="ui-g-3">
    Date & Time
  </div>

  <div class="ui-g-3">
    Amount
  </div>

</div>

<div style="cursor: pointer;" [routerLink]="['../user-payment-details',result.trans_id]"  *ngFor="let result of results;let ind=index" class="ui-g-12">

  <div class="ui-g-3">
    {{result?.trans_id}}
  </div>

  <div class="ui-g-3">
    {{result?.ground_name?result?.ground_name:result?.tournament_name}}
  </div>

  <div class="ui-g-3">
    {{result?.date_time|date:'dd/MM/yyyy'}}  {{result?.date_time|date:'shortTime'}} 
  </div>

  <div class="ui-g-3">
    {{result?.paid_amount}}
  </div>

</div>
<div *ngIf="total_pages>page" class="scroll" (click)="onScroll()">
  Load More
</div>
</div>

<div *ngIf="data_not_found" class="ui-g-12 data_not_found">
  {{'datos no encontrados' | translate}}
</div>