<div class="community_container">
  <div class="ui-g">
    <div class="ui-g-12">
      <p class="signup-heading">
        {{"community to be better way to play soccer" | translate}}
      </p>
    </div>


    <div style="text-align:center;width:100%">
      <img src="assets/images/communitysignup.png">
    </div>


    <div class="ui-g-12" style="margin-top: 32px;">

      <p style="text-align: center;font-size: 18px;color: #545454; margin:10px 0;">
        {{"Find your soccer community" | translate}}
      </p>

      <p style="text-align: center;font-size: 16px;color: #8b8e95;margin:10px 0;">
        {{"Join in to existing soccer community" | translate}}
      </p>
    </div>

    <div class="ui-g-12" style="text-align:center">
      <button (click)="next()" class="signup-bttn community-b" pButton type="button" label="{{'Find community' | translate}}">
      </button>
    </div>


  </div>
</div>