.community_container {
  width: 300px;
  margin: 180px auto;
}

.community-b {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .community_container {
    width: 600px;
    margin: 180px auto;
  }
  .community-b {
    width: 50%;
  }
}
