<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>

<div class="full-container">
    <div class="section">
        <div class="ui-g">
            <div class="ui-g-12">
                <p class="para">{{'EDITAR INFORMACIÓN DE CORTE' | translate}}</p>
                <hr class="lines">
            </div>
        </div>
        <form [formGroup]="form">
            <div formArrayName="items">
                <div *ngFor="let i of item.controls;let ind=index" style="padding: 35px 0px;border-bottom: 1px solid #999999;" class="ui-g ui-fluid">
                    <div class="ui-g-12 display" [formGroupName]="ind">
                        <div class="ui-g-2 ui-sm-6">
                            <label>{{"Nombre del campo" | translate }}</label>
                            <span class="star">*</span>
                            <br>
                            <br>
                            <input [readonly]="!check_new_court[ind] && !i.show" formControlName="ground_name" pInputText/>
                        </div>
                        <div class="ui-g-2 ui-sm-6">
                            <label>{{'Modalidad de juego' | translate}}
                <span class="star">*</span>
              </label>
                            <br>
                            <br>
                            <p-dropdown [disabled]="!check_new_court[ind] && !i.show" [options]="ground_levels" [style]="{'width':'100%'}" placeholder="{{'Modalidad de juego' | translate}}" formControlName="field_format">
                            </p-dropdown>
                        </div>
                        <div class="ui-g-2 ui-sm-6">
                            <label>{{'Tipo de cancha' | translate}}
                <span class="star">*</span>
              </label>
                            <br>
                            <br>
                            <p-dropdown [disabled]="!check_new_court[ind] && !i.show" placeholder="{{'Tipo de cancha' | translate}}" [options]="groundType" [style]="{'width':'100%'}" formControlName="type_of_field"></p-dropdown>
                        </div>
                        <div class="ui-g-2 ui-sm-6">
                            <label>{{"Cuotas mínimas" | translate }}</label>
                            <br>
                            <br>
                            <input [readonly]="!check_new_court[ind] && !i.show" type="number" formControlName="minimum_fee" pInputText/>
                        </div>
                        <div class="ui-g-2 ui-sm-6">
                            <label>{{"Descuento" | translate }}(%)</label>
                            <br>
                            <br>
                            <input [readonly]="!check_new_court[ind] && !i.show" type="number" formControlName="discount" pInputText/>
                        </div>
                        <div class="ui-g-2 ui-sm-6">
                            <label>{{'Costo por hora' | translate}}
                <span class="star">*</span>
              </label>
                            <br>
                            <br>
                            <button [disabled]="!check_new_court[ind] && !i.show" type="button" class="greenbtn" label="{{'Ingresar' | translate}}" pButton (click)="showCourtCost(ind)"></button>
                            <!-- <div *ngIf="!i.valid[ind]">
              <p style="color: red">{{'Costo por hora se requieren' | translate}}</p>
            </div> -->
                        </div>
                    </div>
                    <div class="ui-g-12" style="padding:20px 0px 0px 0px;">
                        <div class="ui-g-8 ui-sm-6">
                            <button *ngIf="!results[ind]?.is_primary " type="button" style="background:red;color:white;    width: 23.66%;
                " label="{{'ELIMINAR LA CORTE' | translate}}" pButton (click)="removeItem(results[ind],ind);"></button>
                        </div>
                        <div style="text-align:right" *ngIf="!i.show && !check_new_court[ind]" class="ui-g-4 ui-sm-6">
                            <button style="width:47% !important" type="button" (click)="i.show=true" class="greenbtn" label="{{'EDITAR' | translate}}" pButton></button>
                        </div>
                        <div *ngIf="i.show || check_new_court[ind]" style="text-align:right" class="ui-g-4 ui-sm-6">
                            <button [disabled]="!i.valid" style="width:47% !important" type="button" class="greenbtn" (click)="i.show=false;save(ind,i);" label="{{'GUARDAR' | translate}}" pButton></button>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="court_length>0" style="    padding: 20px 0px;
      " class="ui-g-12">
                <div class="ui-g-3 ui-sm-6">
                    <button type="button" class="greenbtn" label="{{'AGREGAR OTRO TRIBUNAL' | translate}}" pButton (click)="addItem(true)"></button>
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <button type="button" class="greenbtn" label="{{'ESPALDA' | translate}}" pButton (click)="back();"></button>
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <button type="button" class="greenbtn" label="{{'Establecer primaria' | translate}}" pButton (click)="courtList()"></button>
                </div>
                <div *ngIf="is_paid" class="ui-g-3 ui-sm-6">
                    <button type="button" class="greenbtn" label="{{'PERFIL' | translate}}" pButton (click)="goProfile()"></button>
                </div>
                <div *ngIf="!is_paid" class="ui-g-3 ui-sm-6">
                    <button type="button" class="greenbtn" label="{{'CONTINUAR' | translate}}" pButton (click)="continue()"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div [class.scroll]="court_length==0">

</div>
<p-dialog [(visible)]="cost_per_game_popup" modal="modal" class="cost_per_game">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 headingOfPopup">
            <span>{{'Costo por hora' | translate}}</span>
        </div>
    </div>
    <div class="ui-g ui-fluid slot_div">
        <div class="ui-g-1 mob_view">
        </div>
        <div class="ui-g-2 ">
            <span>{{'Días' | translate}}</span>
        </div>
        <div class="ui-g-2 slot_div_text" *ngFor="let sinfo of slot">
            <span>{{sinfo.from_time}}-{{sinfo.to_time}}</span>
        </div>
        <div class="ui-g-1 mob_view">

        </div>
    </div>
    <div class="ui-g ui-fluid" *ngFor="let info of daysInfo;let i of index">
        <div class="ui-g-1 mob_view">
        </div>
        <div class="ui-g-2">
            <br>
            <label>{{info?.day}}</label>
        </div>
        <div class="ui-g-2" *ngFor="let dInfo of info.price">
            <input type="number" min="0" pInputText placeholder="Costo" [(ngModel)]="dInfo.amount" />
        </div>

        <div class="ui-g-1 mob_view">
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1 mob_view">
        </div>
        <div class="ui-g-5">
            <button type="button" pButton (click)="cost_per_game_popup=false" label="{{'CANCELAR' | translate}}"></button>
        </div>
        <div class="ui-g-5">
            <button type="button" pButton class="ui-button-green" label="{{'Enviar' | translate}}" (click)="saveCourtCost();cost_per_game_popup=false"></button>
        </div>
        <div class="ui-g-1 mob_view">
        </div>
    </div>
</p-dialog>
<div [class.backdrop]="cost_per_game_popup"></div>


<!--**************courts popup*********************-->
<div class="court_primary">
    <p-dialog [(visible)]="court_popup" modal="modal" [dismissableMask]="true" [resizable]="false">
        <div style="position: sticky;top: 0px;" class="ui-g invite_popup_header">
            <div class="ui-g-8 ui-sm-6">
                <span class="popup_heading">{{'Establecer primaria' | translate}} </span>
            </div>

            <div class="ui-g-4 ui-sm-2 text-right">
                <i class="fa fa-times" style="cursor:pointer" (click)="court_popup=false;"></i>
            </div>
        </div>
        <div class="invite_popup_content_div">
            <div class="ui-g invite_popup_list" *ngFor="let referee of court_list;let ind=index">
                <div class="ui-g-2 ui-sm-2">
                    <img style="margin-left: 30px;height: 70px;border-radius: 61px;width: 70px;" src="{{referee?.profile_pic ? imageUrl + referee?.profile_pic : 'assets/images/ground-profile-logo/default.png'}}" class="invite_popup_image">
                </div>
                <div class="ui-g-8 ui-sm-6 mobile_margin" style="display: flex;align-items: center;padding-left:70px">
                    <p style="font-family: ChaletComprime CologneEighty;color: #00253f;font-size: 2.5em;" class="invite_popup_name">{{referee.name}}
                        <span class="cancha_text" style="font-size:0.3em">{{'canchas' | translate}}</span>
                    </p>
                </div>
                <p-radioButton name="groupname" (onClick)="setPrimary(ind)" [value]='referee.is_primary' [(ngModel)]="primary"></p-radioButton>
                <br>
            </div>
        </div>
        <div style="    text-align: right" class="ui-g-12">
            <button label="{{'Submit' | translate}}" class="ui-button-green" pButton (click)="submitPrimary()"></button>
        </div>
    </p-dialog>
</div>
<!--**************Invitation popup*********************-->

<div [class.backdrop]="court_popup"></div>
<div [class.backdrop]="deleteTournament"></div>
<!-- Popup on remove Court -->
<p-dialog [(visible)]="deleteTournament" [dismissableMask]="true" modal="modal" class="delete_ground" [resizable]=false [responsive]=true>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 header">
            <span>{{'MENSAJE' | translate}}</span>
        </div>
        <div class="ui-g-12">
            <p style="color:darkcyan;text-align: justify;">{{'¿Quieres eliminar este tribunal?' | translate}}</p>
        </div>
        <div class="ui-g-12  ui-fluid">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button" label="{{'NO' | translate}}" (click)="deleteTournament=false"></button>
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button-green" label="{{'SI' | translate}}" (click)="deleteCourt();deleteTournament=false"></button>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
    </div>
</p-dialog>
<!-- Popup end remove court -->