<ion-content class="body" style="margin-top:0px;">
    <div>
      <button no-margin class="backarrow" (click)="back()" ion-button>
        <ion-icon style="font-size: 24px;"   ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </button>
      <ion-card style="margin:0px;width:100%;position:relative">
        <button class="moreicon_detail" ion-button icon-only (click)="presentPopover($event)">
                <ion-icon  class="moreiconrotate" name="more"></ion-icon>
              </button>
        <img src="assets/images/team/team_cover.png" class="cover_img"/>
      </ion-card>
    </div>
    <div text-center class="logo_div">
      <img class="profile_logo" src="assets/images/team/team_default.png"/>
    </div>
  
    <ion-grid text-center class="profile_info" *ngFor="let i of organizationp">
  
      <ion-row>
        <ion-col no-padding>
          <ion-title style="padding-bottom:13px">{{i?.name}} </ion-title>
        </ion-col>
      </ion-row>
  
      <ion-row >
        <ion-col no-padding>
          <p>{{i?.city}} | {{i?.country}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid no-padding>
        <ion-row>
          <ion-col style="padding-left:16px;">
            <span style="color:#113861;font-size: 13px;font-family: roboto-regular;">
                {{'Tournamnets organized' | translate}}:
              </span>
          </ion-col>
        </ion-row>
</ion-grid>
<ion-grid style="padding-top:12px;">
    <ion-row *ngFor="let i of dataorg"  class="maincard">
      <ion-col no-padding style="display: flex;align-items: center;" col-2>
        <img class="logo" [src]="i.profile_pic?logo+i.profile_pic:'assets/images/tournament/default.png'" />
      </ion-col>
      <ion-col style="padding-left:16px" col-10 no-padding>
        <ion-row>
          <ion-col col-8 no-padding>
            <p class="title">
              {{i.tournament_name}}
            </p>
            <p class="sub_title" *ngIf="i?.organiser_name">
              {{i.organiser_name}}
            </p>
            <p class="sub_title" *ngIf="i?.city">
              {{i.city}},{{i.country}}
            </p>
          </ion-col>
          <ion-col col-4 text-right no-padding>
            <p text-right class="title" style="font-size:13px;">
              {{i.no_of_teams}} {{'Teams' | translate}}
            </p>
            <p style="color: #8ec63f;padding-top:4px" class="sub_title">
              {{i.status}}
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
</ion-grid>
  </ion-content>