page-organizationprofile {
    .backarrow {
        position: absolute;
        z-index: 3;
        background: transparent;
        box-shadow: none;
      }
      .logo_div {
        position: absolute;
        width: 100%;
        top: 110px;
      }
      .profile_info{
        padding:65px 16px 10px  16px;
      }
      .profile_info p {
        margin: 0px;
        color: #666666;
        font-family: roboto-regular;
        font-size: 13px;
        padding-bottom: 13px
      }
      .cover_img {
   
        width: 100%;
        height: 150px;
    }
}
