<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"Login with your register mobile number." | translate}}
            </p>

            <p-dropdown [options]="codes" filter="true" [(ngModel)]="country_code"></p-dropdown>

            <span class="ui-float-label">
              <!-- <input id="float-input" type="number" size="40" pInputText>  -->
              <p-inputMask (keyup)="validatePhone($event)"  [mask]="mask" slotChar="" maxlength='15' [(ngModel)]="mobile"  [autoClear]="false"></p-inputMask>
              <label for="float-input">{{"Mobile number" | translate}}</label>
            </span>
            <img class="correct" *ngIf="checkNumber" src="assets/images/signup/correct.png" />
            <p class="exist" *ngIf="checkNumberErrorMsg">{{"This number is not registered" | translate}}</p>

        </div>



        <div class="ui-g-12" style="margin-top: 32px;">
            <button (click)="checkMobile()" class="signup-bttn" pButton type="button" [disabled]="!checkNumber" label="{{'Next' | translate}}"> </button>
        </div>
    </div>