<p-growl [value]="msgs"></p-growl>
<loader *ngIf="loader" class="loadercomponent"></loader>
<div class="ui-g">
    <div class="ui-g-12 about-div">

        <div *ngIf="data?.country_flag" class="ui-g-4  ui-sm-6">
            <img style="width: 40px;height: 30px; " *ngIf="data?.country_flag" [src]="logo+data?.country_flag" />
            <p class="about_details">{{"Citizenship"| translate}}</p>
        </div>

        <div class="ui-g-4  ui-sm-6">
            <p class="about_details1"> {{data?.height?data?.height:"--"}}&nbsp;{{data?.height?"Cm":""}}</p>
            <p class="about_details">{{"Height"| translate}}</p>
        </div>

        <div class="ui-g-4  ui-sm-6">
            <p class="about_details1">{{lang=='es'?(data?.gender?data?.gender:"--"):(data?.gender?data?.gender_en:"--")}}</p>
            <p class="about_details">{{"Gender"| translate}}</p>
        </div>

        <div class="ui-g-4  ui-sm-6">
            <p class="about_details1">{{data?.age?data?.age:"--"}}</p>
            <p class="about_details">{{"Age"| translate}}</p>
        </div>

        <div class="ui-g-4  ui-sm-6">
            <p class="about_details1">{{lang=='es'?(data?.leg?data?.leg:"--"):(data?.leg_en?data?.leg_en:"--")}}</p>
            <p class="about_details">{{"Preferred foot"| translate}}</p>
        </div>

        <div class="ui-g-4  ui-sm-6">
            <p class="about_details1">
                {{lang=='es'?(data?.position?data?.position:"--"):(data?.position_en?data?.position_en:"--")}}
            </p>
            <p class="about_details">{{"Position"| translate}}</p>
        </div>

        <div class="ui-g-4  ui-sm-6">
            <p class="about_details1">
                {{data?.national_id?data?.national_id:"--"}}
            </p>
            <p class="about_details">{{"ID"| translate}}</p>
        </div>

    </div>

    <div style="display: flex;align-items: baseline;" class="ui-g-12">
        <div style="color: #8ec63f;font-size: 16px" class="ui-g-1 ui-sm-2">
            {{"About" | translate}}
        </div>
        <div style="    padding-left: 16px;        " class="ui-g-11 ui-sm-10">
            <hr>
        </div>
    </div>

    <div class="ui-g-1 ui-sm-2">

    </div>
    <div style="padding-left: 16px" class="ui-g-11 ui-sm-10">
        <p class="about_details">
            {{data?.bio}}
        </p>

    </div>
</div>
<!-- <div class="container info">
    <div class="ui-g ui-sm ui-md ui-lg mobile">
        <div class="ui-g-12 ui-sm-12  sm">
            <label class="label1">{{'Miembro desde el' | translate}}: </label>
            <label class="label2" *ngIf="!(players?.created_at==''||players?.created_at==null)">{{players?.created_at}}</label>
            <label class="label2" *ngIf="players?.created_at==''||players?.created_at==null">---</label>
        </div>
        <div class="ui-g-12 ui-sm-12  sm">
            <label class="label1">{{'Posición' | translate}}: </label>
            <label class="label2" *ngIf="!(players?.position==''||players?.position==null)">{{players?.position}}</label>
            <label class="label2" *ngIf="players?.position==''||players?.position==null">---</label></div>
        <div class="ui-g-12 ui-sm-12  sm">
            <label class="label1">{{'País' | translate}}: </label>
            <label class="label2" *ngIf="!(players?.country==''||players?.country==null)">{{players?.country}}</label>
            <label class="label2" *ngIf="players?.country==''||players?.country==null">---</label></div>
        <div class="ui-g-12 ui-sm-12  sm">
            <label class="label1">{{'La edad' | translate}}: </label>
            <label class="label2" *ngIf="!(age==null)">{{age}}</label>
            <label class="label2" *ngIf="age==null">---</label></div>
        <div class="ui-g-12 ui-sm-12  sm">
            <label class="label1">{{'Pierna' | translate}}: </label>
            <label class="label2" *ngIf="!(players?.leg==null||players?.leg=='')">{{players?.leg}}</label>
            <label class="label2" *ngIf="players?.leg==null||players?.leg==''">---</label></div>
        <div class="ui-g-12 ui-sm-12 sm">
            <label class="label1">{{'Profesional' | translate}}: </label>
            <label class="label2" *ngIf="players?.is_professional==true">${{players?.price}} por partido</label>
            <label class="label2" *ngIf="players?.is_professional==false||players?.is_professional==null">---</label></div>
        <div class="ui-g-12 ui-sm-12  sm">
            <label class="label1">{{'Género' | translate}}: </label>
            <label class="label2" *ngIf="!(players?.gender==''||players?.gender==null)">{{players?.gender}}</label>
            <label class="label2" *ngIf="players?.gender==''||players?.gender==null">---</label></div>
        <div class="ui-g-12 ui-sm-12 sm">
            <label class="label1">{{'Ciudad' | translate}}: </label>
            <label class="label2" *ngIf="!(players?.city==''||players?.city==null)">{{players?.city}}</label>
            <label class="label2" *ngIf="players?.city==''||players?.city==null">---</label></div>
        <div class="ui-g-12 ui-sm-12  sm">
            <label class="label1">{{'Arbitro' | translate}}: </label>
            <label class="label2" *ngIf="players?.is_referee==true">${{players?.referee_price}} por partido</label>
            <label class="label2" *ngIf="players?.is_referee==false||players?.is_referee==null">---</label>
        </div>
    </div>
    <div class="ui-g ui-md ui-sm ui-lg large info">
        <div class="ui-g-4  ui-sm-6  ui-sm-12 ">
            <label class="label1">{{'Miembro desde el' | translate}}</label><br/>
            <label class="label2" *ngIf="!(players?.created_at==''||players?.created_at==null)">{{players?.created_at}}</label>
            <label class="label2" *ngIf="players?.created_at==''||players?.created_at==null">---</label>
        </div>
        <div class="ui-g-4  ui-sm-6  ui-sm-12 ">
            <label class="label1">{{'Posición' | translate}}</label><br/>
            <label class="label2" *ngIf="!(players?.position==''||players?.position==null)">{{players?.position}}</label>
            <label class="label2" *ngIf="players?.position==''||players?.position==null">---</label>
        </div>
        <div class="ui-g-4  ui-sm-6  ui-sm-12">
            <label class="label1">{{'País' | translate}}</label><br/>
            <label class="label2" *ngIf="!(players?.country==''||players?.country==null)">{{players?.country}}</label>
            <label class="label2" *ngIf="players?.country==''||players?.country==null">---</label>
        </div>
    </div>
    <div class="ui-g ui-md ui-sm ui-lg large info">
        <div class="ui-g-4  ui-sm-6 ui-md-4 ui-sm-12 ui-lg-4">
            <label class="label1">{{'La edad' | translate}}</label><br/>
            <label class="label2" *ngIf="!(age==null)">{{age}}</label>
            <label class="label2" *ngIf="age==null">---</label>
        </div>
        <div class="ui-g-4  ui-sm-6 ui-md-4 ui-sm-12 ui-lg-4">
            <label class="label1">{{'Pierna' | translate}}</label><br/>
            <label class="label2" *ngIf="!(players?.leg==null||players?.leg=='')">{{players?.leg}}</label>
            <label class="label2" *ngIf="players?.leg==null||players?.leg==''">---</label>
        </div>
        <div class="ui-g-4  ui-sm-6 ui-md-4 ui-sm-12 ui-lg-4 large">
            <label class="label1">{{'Profesional' | translate}}</label><br/>
            <label class="label2" *ngIf="players?.is_professional==true">${{players?.price}} por partido</label>
            <label class="label2" *ngIf="players?.is_professional==false">---</label>
        </div>
    </div>
    <div class="ui-g ui-md ui-sm ui-lg large info">
        <div class="ui-g-4  ui-sm-6 ui-md-4 ui-sm-12 ui-lg-4">
            <label class="label1">{{"Género" | translate}}</label><br/>
            <label class="label2" *ngIf="!(players?.gender==''||players?.gender==null)">{{players?.gender}}</label>
            <label class="label2" *ngIf="players?.gender==''||players?.gender==null">---</label>
        </div>
        <div class="ui-g-4  ui-sm-6 ui-md-4 ui-sm-12 ui-lg-4">
            <label class="label1">{{'Ciudad' | translate}}</label><br/>
            <label class="label2" *ngIf="!(players?.city==''||players?.city==null)">{{players?.city}}</label>
            <label class="label2" *ngIf="players?.city==''||players?.city==null">---</label>
        </div>
        <div class="ui-g-4  ui-sm-6 ui-md-4 ui-sm-12 ui-lg-4">
            <label class="label1">{{'Arbitro' | translate}}</label><br/>
            <label class="label2" *ngIf="players?.is_referee==true">${{players?.referee_price}} por partido</label>
            <label class="label2" *ngIf="players?.is_referee==false||players?.is_referee==null">---</label>
        </div>
    </div>
</div>
<div class="ui-g ui-md ui-sm ui-lg">
    <div class="ui-g-12 ui-sm-12  padd">
        <span class="title_bio">BIO</span>
        <hr class="line">
        <p class="para">{{players?.bio}}</p>
    </div>
    <div class="ui-g-12 ui-sm-12 ">
        <span class="title_rank">{{"ESTADÍSTICAS" | translate}}</span>
        <hr class="line">
    </div>
    <div class="ui-g-9 ui-sm-12  rank">
        <div class="ui-g-12 ui-sm-12 info_team  mobile">
            <span class="lab_rank">{{'Torneos jugados' | translate}}: {{tournament_played}}</span>
            <span class="lab_rank">{{'Partidos jugados' | translate}}:{{match_played}} </span>
            <span class="lab_rank">{{'Goles anotados' | translate}}: {{total_goal}} </span>
        </div>
        <div class="ui-g-12 ui-sm-12  large">
            <label class="lab_rank">{{'Torneos jugados' | translate}}: </label><label class="lab_rank">{{tournament_played}}</label><br/>
            <label class="lab_rank">{{'Partidos jugados' | translate}}: </label><label class="lab_rank">{{match_played}}</label><br/>
            <label class="lab_rank">{{'Goles anotados' | translate}}:  </label><label class="lab_rank">{{total_goal}}</label><br/>
        </div>
    </div>
    <div class="ui-g-3  ui-sm-12 ">
        <div class="mob_show">
            <div class="ui-g-6 ui-sm-12 att_left">
                <span class="attitute">{{'ACTITUD' | translate}}</span>
                <span class="rating">
                <p-rating [(ngModel)]="attitute" readonly="true" [cancel]="false"></p-rating>
            </span>
                <span class="att">{{'PUEDE MEJORAR' | translate}}</span>
            </div>
            <div class="ui-g-6 ui-sm-12  att_left rate_pos">
                <span class="technique">{{'TÉCNICA' | translate}}</span>
                <span class="rating">
                <p-rating [(ngModel)]="technique" readonly="true" [cancel]="false"></p-rating>
            </span>
                <span class="att">{{'PUEDE MEJORAR' | translate}}</span>
            </div>
        </div>
        <div class="ui-g-12 ui-sm-12 rating_bottom">
            <span class="rate1">{{'RATINGS' | translate}}: {{total_technique}}</span>
            <a class="rate" *ngIf="!admin" (click)="rating_popup()">{{'Calificar el jugador' | translate}}</a>
        </div>
    </div>
    <div class="ui-g-12 ui-sm-12  ">
        <span class="title_shoutout">SHOUTOUTS</span>
        <hr class="line"><br/>
        <p *ngFor="let list of shoutout" style="margin-left:1em;overflow:hidden;white-space:nowrap;">
            <i class="fa fa-bullhorn fontAwesomeColor" aria-hidden="true" style="color:#8DCF25;"></i>
            <span *ngIf="!(list.shoutout==''||list.shoutout==null)">{{list.shoutout}}</span><span *ngIf="list.shoutout==''||list.shoutout==null">no shoutout</span>
            <br/><br/>
        </p>
        <button type="button" pButton *ngIf="shoutout!=''&&shoutout!=null" (click)="navigate_to_shoutout()" class="ui-button-green" label="{{'ver más' | translate}}" style="float:right;"></button>
    </div>
</div> -->

<div class="regpopup1 reg">
    <p-dialog [(visible)]="ratingpopup" class="model" showEffect="fade">
        <div class="ui-g">
            <div class="ui-g-12  delete_ground_header">
                <span>{{'MENSAJE' | translate}}</span>
            </div>
            <div class="ui-g-12" style="display: flex;align-items: center;padding:0px">
                <div class="ui-g-6 rating_popup">
                    <p>{{'ATTITUDE' | translate}}</p>
                </div>
                <div class="ui-g-6 rate_pop">
                    <span class="rating">
                <p-rating [(ngModel)]="attitute1" [cancel]="false"></p-rating>
                    </span>
                </div>
            </div>
            <div class="ui-g-12" style="display: flex;align-items: center;padding:0px">
                <div class="ui-g-6 rating_popup">
                    <p>{{'TÉCNICA' | translate}}</p>
                </div>
                <div class="ui-g-6 rate_pop">
                    <span class="rating">
                <p-rating [(ngModel)]="technique1" [cancel]="false"></p-rating>
                    </span>
                </div>
            </div>
            <div class="ui-g-12 ui-fluid">
                <div class="ui-g-6">
                    <button type="button" pButton (click)="cancel()" label="{{'CANCELAR' | translate}}" style="background-color:#C4C4C4;"></button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton (click)="rating()" class="ui-button-green" label="{{'ENVIAR' | translate}}"></button>
                </div>
            </div>
        </div>
    </p-dialog>
</div>
<div [class.backdrop]="backdrop"></div>