.label1 {
    color: #828282;
}

.label2 {
    color: #8dcf24;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.container {
    background: #f2f2f2;
    padding-top: 0.3em;
    margin-left: 8px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.title_bio {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2.5em;
    float: left;
    margin-right: 5px;
}

.title_rank {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2.5em;
    float: left;
    margin-right: 5px;
}

.title_shoutout {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2.5em;
    float: left;
    margin-right: 5px;
}

.line {
    margin-top: 10px;
}

.para {
    color: #828282;
    font-size: 1.2em;
    text-align: justify;
    margin-top: 25px;
    margin-left: 20px;
}

.sm {
    padding: 0px;
}

.attitute {
    color: #00253f;
}

.technique {
    color: #00253f;
}

.att {
    font-size: 10px;
}

.rating {
    background: #828282;
    padding: 5px 15px 7px 17px;
    margin: 4px 0px 4px 0px;
    border-radius: 25px;
    float: right;
}

.rate {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.rate1 {
    font-size: 10px;
}

.info {
    padding-left: 20px;
}

.rank {
    padding: 1em 0em 0em 1em;
}

.lab_rank {
    padding-left: 0px;
}

.lab_rank1 {
    padding-left: 0px;
    font-size: 1.5em;
}

.rating_bottom {
    padding-top: 1em;
    display: grid;
    justify-content: center;
    text-align: -webkit-center;
}

.name {
    font: normal 20pt Arial;
    color: #006600;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    margin-top: 0px;
}

.att_left {
    display: grid;
    text-align: -webkit-center;
    justify-content: end;
}

.rate_pos {
    justify-content: baseline;
}

@media only screen and (min-width: 640px) and (max-width: 890px) {
    .mobile {
        display: block !important;
    }
}

@media only screen and (min-width: 640px) {
    .mobile {
        display: none;
    }
}

.loadercomponent {
    position: absolute;
    top: 4.5em;
    left: 40.3em;
}

@media only screen and (max-width: 640px) {
    .large {
        display: none;
    }
    .info {
        padding-left: 0px;
    }
    .info_team {
        display: grid;
    }
    .mob_show {
        display: flex;
    }
}

.regpopup1 .ui-dialog {
    position: fixed;
    padding: 0;
    overflow: hidden;
    width: 281px;
    background: white !important;
    border-radius: 2%;
    margin-left: 17%;
    margin-top: 0.5px;
}

.ui-dialog .ui-dialog-content {
    background: white;
}

.buton {
    background: #8DCF25;
}

.reg>.model>.ui-dialog .ui-dialog-content {
    background: #00253f !important;
}

.rating_popup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rate_pop {
    display: flex;
    justify-content: center;
}

.delete_ground_header {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.delete_ground_header span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.about_details {
    font-size: 16px;
    color: #8b8e95;
    margin-top: 8px;
}

.about_details1 {
    font-size: 16px;
    color: #113861;
}

.about-div {
    background: #F0F2F3;
    padding: 32px 64px;
}

.about-div .ui-g-4 {
    margin-bottom: 16px;
    height: 70px;
    display: grid;
    align-items: flex-end;
}

@media only screen and (max-width: 640px) {
    .about-div {
        padding: 5px;
    }
    .about_details {
        font-size: 14px;
    }
    .about_details1 {
        font-size: 14px;
    }
}