.about_details {
    font-size: 16px;
    color: #8b8e95;
    margin-top: 8px;
}

.about_details1 {
    font-size: 16px;
    color: #113861;
}

.about-div {
    background: #F0F2F3;
    padding: 32px 64px;
}

.about-div .ui-g-4 {
    margin-bottom: 16px;
    height: 70px;
    display: grid;
    align-items: flex-end;
}

@media only screen and (max-width: 640px) {
    .about-div {
        padding: 5px;
    }
    .about_details {
        font-size: 14px;
    }
    .about_details1 {
        font-size: 14px;
    }
}