<p-growl [value]="msgs"></p-growl>
<loader *ngIf="loader" class="loadercomponent"></loader>
<div class="ui-g">
    <div class="ui-g-12 about-div">



        <div class="ui-g-4  ui-sm-6">
            <p class="about_details1"> {{data?.matches_played}}</p>
            <p class="about_details">{{"Matches played"| translate}}</p>
        </div>

        <div class="ui-g-4  ui-sm-6">
            <p class="about_details1">{{ data?.matches_won}}</p>
            <p class="about_details">{{"Matches won"| translate}}</p>
        </div>

        <div class="ui-g-4  ui-sm-6">
            <p class="about_details1">{{data?.goals}}</p>
            <p class="about_details">{{"Goals"| translate}}</p>
        </div>

        <div class="ui-g-4  ui-sm-6">
            <p-rating [ngModel]="data?.attitude" readonly="true" [cancel]="false"></p-rating>
            <p class="about_details">{{"Attitude"| translate}}</p>
        </div>

        <div class="ui-g-4  ui-sm-6">
            <p-rating [ngModel]="data?.technique" readonly="true" [cancel]="false"></p-rating>

            <p class="about_details">{{"Technique"| translate}}</p>
        </div>


    </div>

</div>