<loader *ngIf='loader'></loader>
<p-growl [value]="msgs"></p-growl>
<div class="container info" style="margin-top:20px">
    <div class="ui-g ui-sm ui-md ui-lg mobile">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">{{"Numero de equipos" | translate}} </label>
            <label class="label2">{{tournamentInfo?.max_no_of_teams ? tournamentInfo?.max_no_of_teams : "-"}}</label>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">{{'Ciudad' | translate}} </label>
            <label class="label2">{{tournamentInfo?.city?.location ? tournamentInfo?.city?.location : "-"}}</label>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">{{'Premio' | translate}} </label>
            <label class="label2">{{tournamentInfo?.prize ? tournamentInfo?.prize : "-"}}</label>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">{{'Costo por Equipo' | translate}} </label>
            <label class="label2">{{tournamentInfo?.registration_fee ? tournamentInfo?.registration_fee : "-"}}</label>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">{{'Nivel del Torneo' | translate}} </label>
            <label class="label2">{{tournamentInfo?.tournament_level ? tournamentInfo?.tournament_division : "-"}}</label>
        </div>

        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">{{'Metodo de pago' | translate}}: </label>
            <label class="label2" style="padding-left:11px;" *ngFor="let method of tournamentInfo?.payment_mode">{{method?.option ? method?.option : "-"}}
                <br>
            </label>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">{{'Celular' | translate}} </label>
            <label class="label2">{{tournamentInfo?.country_code}}{{tournamentInfo?.contact}}</label>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">{{'Reglas' | translate}}: </label>
            <a *ngIf="showPopup" class="rules" (click)="rules()">{{'Haga clic aquí para leer' | translate}}</a>
            <a *ngIf="!showPopup" [href]="Url" class="rules" target="_blank" download=true>{{'Haga click aquí para descargar' | translate}}</a>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">{{'Minimum fee' | translate}}</label>
            <label class="label2">{{tournamentInfo?.minimum_fee?tournamentInfo?.minimum_fee:'--'}} </label>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">{{'Descuento' | translate}}(%)</label>
            <label class="label2">{{tournamentInfo?.discount?tournamentInfo?.discount:'--'}} </label>
        </div>
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 sm">
            <label class="label1">Vat(%)</label>
            <label style="padding: 15px;color: #8ec63f">
                {{tournamentInfo?.vat?tournamentInfo?.vat:'--'}}
            </label>
        </div>
    </div>
    <div class="ui-g ui-md ui-sm ui-lg large info">
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Numero de equipos' | translate}}</label>
            <br/>
            <label class="label2">{{tournamentInfo?.max_no_of_teams ? tournamentInfo?.max_no_of_teams : "-"}}</label>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Costo por Equipo' | translate}}</label>
            <br/>
            <label class="label2">{{tournamentInfo?.registration_fee ? tournamentInfo?.registration_fee : "-"}}</label>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Metodo de pago' | translate}}</label>
            <br/>
            <label class="label2" *ngFor="let method of tournamentInfo?.payment_mode">{{method?.option ? method?.option : "-"}}
                <br>
            </label>
        </div>
    </div>
    <div class="ui-g ui-md ui-sm ui-lg large info">
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Ciudad' | translate}}</label>
            <br/>
            <label class="label2">{{tournamentInfo?.city?.location ? tournamentInfo?.city?.location : "-"}}</label>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Nivel del Torneo' | translate}}</label>
            <br/>
            <label class="label2">{{tournamentInfo?.tournament_level ? tournamentInfo?.tournament_division : "-"}}</label>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Reglas' | translate}}</label>
            <br/>
            <a *ngIf="showPopup" class="rules" (click)="rules()">{{'Haga clic aquí para leer' | translate}}</a>
            <a *ngIf="!showPopup" [href]="Url" class="rules" target="_blank" download=true>{{'Haga click aquí para descargar' | translate}}</a>
        </div>
    </div>
    <div class="ui-g ui-md ui-sm ui-lg large info">
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Premio' | translate}}</label>
            <br/>
            <label class="label2">{{tournamentInfo?.prize ? tournamentInfo?.prize : "-"}}</label>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Celular' | translate}}</label>
            <br/>
            <label class="label2">{{tournamentInfo?.country_code}}{{tournamentInfo?.contact}}</label>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Minimum fee' | translate}}</label>
            <br/>
            <label class="label2">{{tournamentInfo?.minimum_fee?tournamentInfo?.minimum_fee:'--'}} </label>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Descuento' | translate}}(%)</label>
            <br/>
            <label class="label2">{{tournamentInfo?.discount?tournamentInfo?.discount:'--'}} </label>
        </div>
        <div class="ui-g-4 ui-md-4 ui-sm-4 ui-lg-4">
            <label class="label1">{{'Vat' | translate}}(%)</label>
            <br/>
            <p style="padding: 15px;color: #8ec63f">
                {{tournamentInfo?.vat?tournamentInfo?.vat:'--'}}
            </p>
        </div>
    </div>
</div>
<div class="ui-g ui-md ui-sm ui-lg">
    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 padd">
        <span class="title_bio">{{'BIO' | translate}}</span>
        <hr class="line">
        <p class="para">{{tournamentInfo?.description}}</p>
        <!--<br>-->
    </div>
    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
        <span class="title_rank">{{'GALERÍA' | translate }}</span>
        <hr class="line">
    </div>
    <div class="ui-g-9 ui-sm-12 ui-md-7 ui-lg-8 rank groundImageDiv" *ngIf="admin">
        <div class="ui-g-2 ui-sm-6 imageDiv" *ngFor="let info of tournamentImageInfo;let i of index;" style="width: 125px;height: 125px">
            <button type="button" class="choose_file_ground" style="cursor:pointer" *ngIf="info?.url=='' && admin">
                <span style="cursor: pointer; color: black;position: relative;font-size: 1.2em;">{{'SUBIR' | translate}}</span>
                <input type="file" name="img" value="upload" (change)="tournamentPicChange($event,input,'tournament',info?.pos)" #input />
            </button>
            <img src='{{imageBasePath}}{{info?.url}}' alt="" class="choose_file_ground_img" *ngIf="info?.url!=''" (hover)="hoverTrue=true" />
            <div class="fileContainer choose" *ngIf="info?.url!='' && admin">
                <img src='assets/images/upload.png' alt="" style="width: 25px" />
                <input type="file" name="img" value="upload" (change)="tournamentPicChange($event,input,'tournament',info?.pos)" #input />
                <img src='assets/images/delete.png' (click)="delImgPos=info?.pos;deleteConfirmationMessage=true" class="delImage" alt="" />
            </div>
            <div class="previewDiv choose">
                <img src='assets/images/zoom.png' class=" previewImage" (click)="preview=true;previewUrl=info?.url " *ngIf="info?.url!=''" alt="" />
            </div>
        </div>
    </div>

    <div class="ui-g-9 ui-sm-12 ui-md-12 ui-lg-8 rank groundImageDiv" *ngIf="!admin">
        <div class="ui-g-2 ui-sm-6 imageDiv" *ngFor="let info of imageInfo;let i of index;" style="width: 125px;height: 125px">
            <img src='{{imageBasePath}}{{info?.image}}' alt="" class="choose_file_ground_img" (hover)="hoverTrue=true" />
            <div class="previewDiv choose">
                <img src='assets/images/zoom.png' class=" previewImageAdmin" (click)="preview=true;previewUrl=info?.image " alt="" />
            </div>
        </div>
    </div>


    <div class="ui-g-3 ui-md-5 ui-sm-12 ui-lg-4 pad">
        <div class="ui-g-6 ui-sm-6 ratting_bottom">
            <span class="attitute">{{'ORGANIZACIÓN' | translate}}</span>
            <span class="rating">
                <p-rating [ngModel]="tournamentInfo?.organization" readonly="true" [cancel]="false"></p-rating>
            </span>
            <span class="att">{{'PUEDE MEJORAR' | translate}}</span>
        </div>
        <div class="ui-g-6 ui-sm-6 ratting_bottom">
            <span class="technique">{{'parcialidad' | translate}}</span>
            <span class="rating">
                <p-rating [ngModel]="tournamentInfo?.fairness" readonly="true" [cancel]="false"></p-rating>
            </span>
            <span class="att">{{'PUEDE MEJORAR' | translate}}</span>
        </div>
        <div class="ui-g-12 ui-sm-12  rating_text">
            <span class="rate_span">{{'Rating' | translate}}:{{tournamentInfo?.total}}</span>
            <a class="rate" (click)="showModal()">{{'Califica este torneo' | translate}}</a>
        </div>
    </div>
    <div class="ui-g-12 ui-sm-12 padd2">
        <span class="title_shoutout">{{'SHOUTOUTS' | translate}}</span>
        <hr class="line">
        <br>
        <div class="shoutout ui-g-12" *ngFor="let list of tournamentInfo?.shoutout">
            <div class="ui-g-1" style="width:4%;">
                <i class="fa fa-bullhorn fontAwesomeColor" aria-hidden="true" style="color:#8DCF25;margin-left:15px;"></i>
            </div>
            <div class="ui-g-11" style="width:96%;">
                <span>{{list.shoutout}}</span>
            </div>
        </div>
    </div>

    <div class="regpopup1 reg">
        <p-dialog [(visible)]="visble" modal="modal">
            <div class="ui-g">
                <div class="ui-g-12 ui-sm-12  delete_ground_header">
                    <span>{{'MENSAJE' | translate}}</span>
                </div>
                <div class="ui-g-6 rating_popup">
                    <p style="color: #00253f;text-transform:uppercase">{{'ORGANIZACIÓN' | translate}}</p>
                </div>
                <div class="ui-g-6">
                    <span class="rating">
                        <p-rating [(ngModel)]="organization" [cancel]="false"></p-rating>
                    </span>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6 rating_popup">
                    <p style="color: #00253f;text-transform:uppercase">{{'parcialidad' | translate}}</p>
                </div>
                <div class="ui-g-6">
                    <span class="rating">
                        <p-rating [(ngModel)]="fairness" [cancel]="false"></p-rating>
                    </span>
                </div>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12" style="display:flex">
                    <button type="button" pButton (click)="cancel()" label="{{'CANCELAR' | translate}}" style="background-color:#C4C4C4;"></button>
                    <button type="button" pButton (click)="updateRating()" class="ui-button-green" label="{{'SALVAR' | translate}}"></button>
                </div>
            </div>
        </p-dialog>
    </div>

    <!--- Rules popup -->
    <div class="register_referee">
        <p-dialog [(visible)]="registerRefereePopup" modal="modal">
            <div class="ui-g">
                <div class="ui-g-12 text-center" style="padding-top: 40px;; color: #828282;font-size: 1.5em;">
                    <span *ngIf="no_rules">{{'No hay reglas encontrado !!' | translate}}</span>
                    <span *ngIf="!no_rules">{{tournamentInfo?.rule}}</span>
                </div>
            </div>
            <div class="ui-g" style="padding:20px;">
                <div class="ui-g-12 text-center">
                    <button pButton type="button" label="{{'cancelar' | translate}}" class="ui-button-grey" (click)="registerRefereePopup=false;"></button>
                </div>
            </div>
        </p-dialog>
    </div>
    <!--- Rules popup -->
    <div [class.backdrop1]="registerRefereePopup"></div>
    <div [class.backdrop]="backdrop"></div>
    <div [class.backdrop1]="visble"></div>
    <p-dialog [(visible)]="preview " modal="modal " class="groundImagePreview " [resizable]="false">
        <div class="ui-g " (click)="preview=false ">
            <div class="ui-g-12" id=" main ">
                <img src='{{imageBasePath}}{{previewUrl}}' alt=" " class="popupPreviewImage " />
            </div>
        </div>
    </p-dialog>
    <div [class.backdrop]="preview " *ngIf="preview" (click)="preview=false">
        <img style="float: right;" src='assets/images/crossIcon.png' class=" preview" (click)="preview=false" />
    </div>
</div>

<div class="ui-g ui-fluid reservarMessage">
    <p-dialog [(visible)]="deleteConfirmationMessage" modal="modal" [modal]=true>
        <div class="ui-g">
            <div class="ui-g-12 headingOfPopupReserve">
                <span>{{'Confirmar' | translate}}</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <span style="color: darkcyan">{{'¿Estás seguro?' | translate}}</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-3">
                <button type="button" pButton (click)=" deleteConfirmationMessage=false" class="ui-button" label="{{'NO' | translate}}"></button>
            </div>
            <div class="ui-g-3">
                <button type="button" pButton (click)="deleteTournamentImage(delImgPos);deleteConfirmationMessage=false;" class="ui-button-green" label="{{'SI' | translate}}"></button>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
    </p-dialog>
</div>
<div [class.backdrop1]="deleteConfirmationMessage"></div>