.label1 {
    color: #828282;
}

.label2 {
    color: #8dcf24;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2000;
}

.backdrop1 {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.container {
    background: #f2f2f2;
    padding-bottom: .3em;
    padding-top: 0.3em;
}

.title_bio {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2.5em;
    float: left;
    margin-right: 5px;
}

.title_rank {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2.5em;
    float: left;
    margin-right: 5px;
}

.title_shoutout {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2.5em;
    float: left;
    margin-right: 5px;
}

.line {
    margin-top: 10px;
}

.para {
    color: #828282;
    padding: 10px;
    text-align: justify
}

.sm {
    padding: 0px;
}

.attitute {
    color: #00253f;
    text-transform: uppercase;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2em;
}

.att {
    font-size: 10px;
}

.rating {
    background: #828282;
    padding: 5px 30px 7px 30px;
    margin: 4px 0px 4px 0px;
    border-radius: 25px;
    float: right;
}

.info {
    padding-left: 20px;
}

.padd {
    padding: 2em 0em 2em 0em;
}

.pad {
    padding: 1em 0em 0em 0em;
}

.padd1 {
    padding: 1em 0em 2em 0em;
}

.padd2 {
    padding: 0em 0em 2em 0em;
}

.rank {
    padding: 1em 0em 0em 1em;
}

.lab_rank {
    padding-left: 0px;
}

.lab_rank1 {
    padding-left: 0px;
    font-size: 1.5em;
}

.loadercomponent {
    position: absolute;
    top: 4.5em;
    left: 40.3em;
}

.rules {
    color: #8dcf24;
    padding-left: 15px;
    font-size: 1.1em;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

.padd a {
    color: #00253f;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.padd a:hover {
    color: #8dcf24;
}

.groundImageDiv {
    text-align: center;
}

.imageDiv:hover .choose {
    display: block;
}

.choose {
    display: none;
}

.choose_file_ground {
    position: relative;
    width: 120px;
    margin-left: -6px;
    height: 110px;
    margin-top: -6px;
    overflow: hidden;
}

input[type='file'] {
    height: 105px;
    width: 115px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.choose_file_ground_img {
    position: relative;
    width: 120px;
    margin-left: -6px;
    height: 110px;
    margin-top: -6px;
    overflow: hidden;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    top: -105px;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    height: 51%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
}

.delImage {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-left: 45px;
    cursor: pointer;
}

.preview {
    width: 25px;
    height: 20px;
    display: block;
    margin-top: 51px;
    cursor: pointer;
    background-color: aliceblue;
}

.previewImage {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-left: 45px;
    margin-top: 6px;
    cursor: pointer;
}

.previewImageAdmin {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-left: 42px;
    margin-top: 30px;
    cursor: pointer;
}

.previewDiv {
    position: relative;
    top: -100px;
}

.popupPreviewImage {
    width: 786px;
    height: 459px;
}

.headingOfPopupReserve {
    background-color: #00253F
}

.headingOfPopupReserve span {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'ChaletComprime CologneEighty';
}

.ratting_bottom {
    display: grid;
    text-align: -webkit-center;
}

.rating_text {
    display: grid;
    text-align: center;
}

.rating_popup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete_ground_header {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.delete_ground_header span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

@media only screen and (min-width: 640px) {
    .mobile {
        display: none;
    }
    .large {
        display: block;
    }
    .rate {
        cursor: pointer;
        color: #00253f;
        text-decoration: underline;
        font-size: 1em;
    }
    .technique {
        color: #00253f;
        text-transform: uppercase;
        font-family: 'ChaletComprime CologneEighty';
        font-size: 2em;
        /* float: right; */
    }
}

@media screen and (min-width:640px) and (max-width:1000px) {
    .popupPreviewImage {
        width: 442px;
        height: 320px;
    }
}

@media only screen and (max-width: 640px) {
    .rating {
        margin: 4px 8px 4px 0px;
    }
    .mobile {
        display: block;
    }
    .large {
        display: none;
    }
    .popupPreviewImage {
        width: 282px !important;
        height: 300px !important;
    }
    .info {
        padding-left: 0px;
    }
    .padd1 {
        padding: 2em 0em 2em 0em;
    }
    .rate {
        cursor: pointer;
        color: #00253f;
        text-decoration: underline;
        font-size: .9em;
    }
    .technique {
        color: #00253f;
        text-transform: uppercase;
        font-family: 'ChaletComprime CologneEighty';
        font-size: 2em;
    }
    .line1 {
        margin-left: 80px;
    }
}

.regpopup1 .ui-dialog {
    position: fixed;
    padding: 0;
    overflow: hidden;
    width: 281px;
    background: white !important;
    border-radius: 2%;
    margin-left: 17%;
    margin-top: 0.5px;
}

.ui-dialog .ui-dialog-content {
    background: white;
}

.buton {
    background: #8DCF25;
}

.reg>.model>.ui-dialog .ui-dialog-content {
    background: #00253f !important;
}