<ion-header>
    <ion-navbar no-padding>
        <div style="text-align:center">
            <img class="header-logo" src="assets/images/pelo.png" />
        </div>
    </ion-navbar>
</ion-header>

<ion-content no-bounce padding-left padding-top>
    <ion-grid no-padding>

        <ion-col no-padding col-12>
            <p style="font-family: roboto-bold;font-size: 24px;margin-bottom: 0px">
                {{"What's your number?" | translate}}
            </p>
            <p style="font-family: roboto-regular;color: #666;font-size: 18px;margin-top:5px;">
                {{"Dont worry, we'll keep it private." | translate}}
            </p>
        </ion-col>

        <ion-col margin-top no-padding col-12>
            <ion-item no-padding>
                <ion-input readonly (click)="selectCountry_code()" style="position: relative;" [(ngModel)]="country_name">
                </ion-input>
            </ion-item>
            <i style="position: absolute;" class="fa fa-angle-down down" aria-hidden="true"></i>
        </ion-col>

        <ion-col margin-top [formGroup]="form" no-padding col-12>
            <ion-item no-padding>
                <ion-input (keyup)="validatePhone($event)" [brmasker]="{mask:'(999)999-9999', len:18, type:'num'}" type="text" formControlName="phone" placeholder="{{'Phone number' | translate}}" style="position: relative;">
                </ion-input>
            </ion-item>
            <i *ngIf="checkNumber" class="fa fa-check-circle-o ok" aria-hidden="true"></i>
            <p *ngIf="!checkNumberErrorMsg" style="font-family: roboto-regular;color: red;">{{'This number already registered' | translate}}</p>
        </ion-col>

        <ion-col margin-top no-padding col-12>
            <p class="agrement">
                {{"By registering, you agree to the" | translate}}
                <span style="color:#113861">{{"Terms of Service" | translate}}</span> {{"and"}}
                <span style="color:#113861">{{"Privacy Policy" | translate}}</span> {{", including" | translate}}
                <span style="color:#113861">{{"Cookie Use." | translate}}</span> {{"Others will be able to find you by email or phone number when provided." | translate}}
            </p>
        </ion-col>

        <!-- <ion-row>
            <ion-col text-center col-6>
                <p style="color: #113861;font-family: roboto-regular;font-size: 16px;margin: 0px;">{{"Privacy options"}}</p>
            </ion-col>
            <ion-col col-6>
                <p style="color: #113861;font-family: roboto-regular;font-size: 16px;margin: 0px;"> {{"Use email instead"}}</p>
            </ion-col>
        </ion-row> -->

    </ion-grid>
</ion-content>

<ion-footer no-shadow no-padding>
    <ion-toolbar position="bottom" no-padding>
        <button (click)="onBoading2(form.value)" class="next" [disabled]="!checkNumber" full ion-button>{{'Next' | translate}}</button>
    </ion-toolbar>
</ion-footer>