<p-growl [value]="msgs"></p-growl>
<loader *ngIf="loader"></loader>
<div class="full-container">
    <div class="section">
        <div class="ui-g head">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 text-center">
                <img src="./../../../assets/images/pelo.png">
            </div>
        </div>
        <form role="form" [formGroup]="completeProfileForm">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-g top_profile">
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 forms">
                        <h2 class="complete_profile">{{'COMPLETA TU PERFIL' | translate}}</h2>
                    </div>
                </div>
                <div class="ui-g ui-sm ui-md ui-lg">
                    <div class="ui-g-4 ui-sm-6 ui-md-4 ui-lg-4">
                        <label class="lab">{{'Nombre' | translate}}</label><span class="asterisk">*</span>
                        <br>
                        <br>
                        <input placeholder="{{'Nombre' | translate}}" type="text" pInputText [(ngModel)]="profileDataIns.name" maxlength="100" [formControl]="completeProfileForm.controls['Nombre']" />
                        <div *ngIf="!completeProfileForm.controls['Nombre'].valid && completeProfileForm.controls['Nombre'].dirty">
                            <p *ngIf="completeProfileForm.controls['Nombre'].hasError('required')" style="color:red;">{{'Nombre Required.' | translate}}</p>
                        </div>
                    </div>
                    <div class="ui-g-4 ui-sm-6 ui-md-4 ui-lg-4">
                        <label class="lab">{{'Apellido' | translate}}</label>
                        <br>
                        <br>
                        <input placeholder="{{'Apellido' | translate}}" type="text" pInputText [(ngModel)]="profileDataIns.last_name" maxlength="100" [formControl]="completeProfileForm.controls['Apellido']" />
                    </div>

                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4">
                        <label class="lab">Email ({{'usuario' | translate}})</label><span class="asterisk">*</span>
                        <br>
                        <br>
                        <input placeholder="Email" type="text" [disabled]="true" pInputText [(ngModel)]="Email" maxlength="100" [formControl]="completeProfileForm.controls['Email']" />
                        <div *ngIf="!completeProfileForm.controls['Email'].valid && completeProfileForm.controls['Email'].dirty">
                            <p *ngIf="completeProfileForm.controls['Email'].hasError('pattern')" style="color:red;">{{'Email incorrecto!' | translate}}</p>
                            <p *ngIf="completeProfileForm.controls['Email'].hasError('required')" style="color:red;">{{'Correo electronico requerido!.' | translate}}</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g school_info">
                    <div class="ui-g-4 ui-sm-12 u  dob">
                        <label class="lab">{{'Fecha de nacimiento' | translate}}</label>
                        <br>
                        <br>
                        <p-calendar placeholder="{{'Ingresa tu Fecha de nacimiento' | translate}}" [monthNavigator]="true" [yearNavigator]="true" yearRange='1950:2050' (onSelect)='datepicker($event)' [(ngModel)]="profileDataIns.dob" dateFormat='yy-mm-dd' [formControl]="completeProfileForm.controls['dob']"
                            [locale]="es"></p-calendar>
                    </div>
                    <div class="ui-g-4 ui-sm-12 ">
                        <label class="lab">{{'Género' | translate}}</label><span class="asterisk">*</span>
                        <br>
                        <br>
                        <p-dropdown [options]="genderList" (onChange)='selectedGenderFun($event.value)' [style]="{'width':'100%'}" [(ngModel)]="selectedGender" [formControl]="completeProfileForm.controls['gender']" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                    <div class="ui-g-4 ui-sm-12   nickname">
                        <label>{{'Celular' | translate}}</label>
                        <label style="color:red;margin-left:-1em;">*</label>
                        <br>
                        <br>
                        <div class="ui-g-4">
                            <p-dropdown (onChange)="validMobile($event)" [(ngModel)]="country_code" [options]="code" [formControl]="completeProfileForm.controls['country_code']">
                                <ng-template let-car pTemplate="label">
                                    <div style="display:flex;align-items:center;    padding: 0px !important;
                                            ">
                                        <div style="    width: 30px;">
                                            {{car.label}}
                                        </div>
                                        <div style="    text-align: right;" *ngIf="car.label=='+593'" class="ui-g-6">
                                            <img src="assets/images/Ecuador.png" style="width: 15px;height: 10px;  " />
                                        </div>
                                        <div *ngIf="car.label=='+1'" style="    text-align: right;" class="ui-g-6">
                                            <img src="assets/images/usa_flag.jpg" style="width: 15px;height: 10px;  " />
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="ui-g-8">
                            <input type="text" maxlength="{{length}}" [(ngModel)]="profileDataIns.Mobile " minlength="{{length}}" placeholder="{{'Celular' | translate}}" pInputText [formControl]="completeProfileForm.controls['Mobile']" />
                        </div>

                        <div class="ui-g-12 " *ngIf="!completeProfileForm.controls['Mobile'].valid && completeProfileForm.controls['Mobile'].dirty">
                            <p *ngIf="completeProfileForm.controls['Mobile'].hasError('pattern')" style="color:red;margin-left:4%;">{{'Mobile No debe ser un nÃºmero!' | translate}}</p>
                            <p *ngIf="!completeProfileForm.controls['Mobile'].hasError('pattern')&&completeProfileForm.controls['Mobile'].hasError('minlength')" style="color:red;margin-left:4%">{{"Celular debe ser de" | translate}} {{length}} {{'dígitos' | translate}}</p>
                            <p *ngIf="!completeProfileForm.controls['Mobile'].hasError('pattern')&&completeProfileForm.controls['Mobile'].hasError('maxlength')" style="color:red;margin-left:4%;">{{"Celular debe ser de" | translate}} {{length}} {{'dígitos' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="informacion_jugador ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                    <p>{{"Información Jugador" | translate}}</p>
                </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-lg-8 forms">
                        <div class="ui-g">
                            <div class="ui-g-3 ui-sm-6 ui-md-3 ui-lg-3">
                                <label class="lab">{{'Apodo' | translate}}</label>
                                <br>
                                <br>
                                <input placeholder="{{'Escribe tu apodo' | translate}}" type="text" pInputText [(ngModel)]="profileDataIns.nick_name" maxlength="100" [formControl]="completeProfileForm.controls['name']" />
                            </div>
                            <div class="ui-g-3 ui-sm-6 ui-md-3 ui-lg-3">
                                <label class="lab">{{'País' | translate}}</label><span class="asterisk">*</span>
                                <br>
                                <br>
                                <p-dropdown [options]="countryList" (onChange)='selectedCountryFun($event)' [style]="{'width':'100%'}" [(ngModel)]="selectedCountry" [formControl]="completeProfileForm.controls['country']"></p-dropdown>
                                <p *ngIf="country_required" style="color:red;">{{'Requerido País!' | translate}}</p>
                            </div>
                            <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                                <label class="lab">{{'Ciudad' | translate}}</label><span class="asterisk">*</span>
                                <br>
                                <span style="color:darkcyan;font-size: 0.7em;    padding-left: 8px;">{{'Escoger una de las opciones que se despliegan' | translate}}</span>
                                <br>
                                <p-autoComplete [suggestions]="filteredLocation" (completeMethod)="filterLocation($event)" (onSelect)='getLocation($event)' (onDropdownClick)='getLocation($event)' field="location" [size]="30" placeholder="{{'Ciudad' | translate}}" [minLength]="1" [(ngModel)]="city_name"
                                    [formControl]="completeProfileForm.controls['city']">
                                </p-autoComplete>
                            </div>
                        </div>
                        <br>
                        <div class="ui-g">
                            <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                                <label class="lab">{{'Posición preferida' | translate}}</label><span class="asterisk">*</span>
                                <br>
                                <br>
                                <p-dropdown [options]="positionList" (onChange)='selectedPositionFun($event)' [style]="{'width':'100%'}" [formControl]="completeProfileForm.controls['position']"></p-dropdown>
                            </div>
                            <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                                <label class="lab">{{'Pierna Pref' | translate}}</label><span class="asterisk">*</span>
                                <br>
                                <br>
                                <p-dropdown [options]="prefferedLegList" (onChange)='selectedPrefLegFun($event)' [style]="{'width':'100%'}" [(ngModel)]="selectedLeg" [formControl]="completeProfileForm.controls['pref_leg']"></p-dropdown>
                            </div>

                            <!-- <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 is_professional">
                                <label class="lab">{{'¿Eres un árbitro?' | translate}}</label>
                                <span style="text-align:right">
                                    <p-checkbox type="checkbox" [(ngModel)]="profileDataIns.is_referee" binary="true" [ngModelOptions]="{standalone: true}" ></p-checkbox>
                                </span>
                                <br>
                                <br>
                                <input type="text" pInputText [readonly]="!profileDataIns.is_referee" [(ngModel)]="profileDataIns.referee_price" [formControl]="completeProfileForm.controls['referee_price']" placeholder="{{'¿Cuánto cobras por partido?' | translate}}" />
                                <div *ngIf="!completeProfileForm.controls['referee_price'].valid && completeProfileForm.controls['referee_price'].dirty">
                                    <p *ngIf="completeProfileForm.controls['referee_price'].hasError('maxlength')" style="color:red;">{{'Por favor, introduzca el máximo número 6!' | translate}} </p>
                                    <p *ngIf="completeProfileForm.controls['referee_price'].hasError('pattern')" style="color:red;">{{'Por favor, introduzca el número!' | translate}} </p>

                                </div>
                            </div> -->
                        </div>

                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4 ui-lg-4 forms bio_desktop" style="padding-left:0">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
                                <div class="ui-g">
                                    <label class="lab">Bio</label>
                                    <br>
                                    <br>
                                    <textarea rows="5" cols="30" placeholder="{{'Cuentanos un poco de tu historia futbolÃ­stica o cualquier cosa sobre ti' | translate}}" [(ngModel)]="profileDataIns.bio" [ngModelOptions]="{standalone: true}" pInputTextarea autoResize="autoResize" style="height:150px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-sm-12 ui-md-4 ui-lg-4 forms bio_mobile">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
                                <label class="lab">Bio</label>
                                <br>
                                <br>
                                <textarea rows="5" cols="30" placeholder="Bio" pInputTextarea placeholder="{{'Cuentanos un poco de tu historia futbolÃ­stica o cualquier cosa sobre ti' | translate}}" style="height:122px;max-height:122px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g bttons">
                    <div class="ui-g-12 ui-sm-11 ui-md-12 ui-lg-12 forms">
                        <div class="ui-g-12 ui-md-8 ui-lg-8 add">
                        </div>
                        <div class="ui-g-12 ui-sm-12 ui-md-4 ui-lg-4">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6 auth">
                                </div>
                                <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6 auth">
                                    <button pButton type="button" class="ui-button-green buton-2" label="{{'CONTINUAR' | translate}}" (click)="saveDetails(profileDataIns)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>