<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader' class="loadercomponent"></loader>
<div class="scroll1">
    <div class="ui-g scroll">
        <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6" [ngClass]='{"accepted-button": !activeLink , "rejected-button": activeLink}'
            (click)="approved()">{{"Solicitudes Recibidas" | translate}}</div>
        <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6" [ngClass]='{"accepted-button": activeLink, "rejected-button": !activeLink}' (click)="requested()">{{'Solicitudes enviadas' | translate}}</div>
    </div>
</div>
<div class="ui-g linkCustom">
    <div class="ui-g-3 ui-sm-3 ui-md-3 ui-lg-3 hoverOnTd">
        <span></span>
    </div>
</div>


<!--****************************request_recieved****************************/!-->
<div *ngIf="type == 'accepted'">



    <div class="team-filter">
        <p>Filter by team request</p>
        <div class="new-dropdown">
            <p-dropdown placeholder="select" (onChange)="teamselectfilter($event)" [options]="teamarray" [(ngModel)]="teamfilter"></p-dropdown>
        </div>
    </div>





    <div class="ui-g ui-fluid match" style="margin:0em 0em 1em 0em;" *ngFor="let l of team_referee_list">
        <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 borderOfCard">
            <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                <img [src]="l.logo?basePath+l.logo:'assets/images/tournament-profile-logo/default.png'" class="card-image" />
            </div>
            <div class="ui-g-8 ui-sm-8 ui-md-8 ui-lg-8 teamSpanDiv">
                <span class="teamSpan">{{l.match_team1_name}}</span>
                <span>VS</span>
                <span class="teamSpan">{{l.match_team2_name}}</span>
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding-left:1.3em;">
                    <button pButton type="button" label="{{'ÁRBITRO' | translate}}" class="ui-button as_player"></button>
                </div>
            </div>
            <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2 ">
                <img src="./assets/images/coke.jpg" class="card-image" />
            </div>
        </div>
        <div class="ui-g-8 ui-sm-12 ui-md-8 ui-lg-8 backColor">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6">
                <div class="ui-g-6 ui-sm-12 ui-md-4 ui-lg-4 text">
                    <span class="textColor">{{'Fecha Partido' | translate}}:</span>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-8 ui-lg-8 text">
                    <span style="color:white">{{l.date_time}}</span>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-4 ui-lg-4 text1">
                    <span class="textColor">{{'Horario' | translate}}:</span>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-8 ui-lg-8 text">
                    <span style="color:white">{{l.ground_name}}</span>
                </div>
            </div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 record">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <button pButton type="button" label="{{'VER PERFIL' | translate}}" (click)="team(l.requested_team)" class="ui-button-green ui-button bttn"></button>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 drop">
                    <p-dropdown [options]="actions" [(ngModel)]="selectedAction" (onChange)="team_referee_post(l.match_pk)" [style]="{'width':'83%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g ui-fluid match" style="margin:0em 0em 1em 0em;" *ngFor="let l of team_player_list">
        <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 borderOfCard">
            <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                <img [src]="l.team.team_logo?basePath+l.team.team_logo:'./assets/images/default_team.png'" class="card-image" />
            </div>
            <div class="ui-g-8 ui-sm-8 ui-md-8 ui-lg-8 teamSpanDiv1">
                <span class="teamSpan1" style="white-space:nowrap;">{{l.team.team_name}}</span>
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding-left:1.3em;">
                    <button pButton type="button" label="{{'EQUIPO' | translate}}" class="ui-button as_player"></button>
                </div>
            </div>
        </div>
        <div class="ui-g-8 ui-sm-12 ui-md-8 ui-lg-8 backColor">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6" style="padding-top:1.5em;">
                <span style="color:white">{{'Te gustaría aceptar la invitación para ser parte de este equipo?' | translate}}</span>
            </div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 record">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <button pButton type="button" label="{{'VER PERFIL' | translate}}" (click)="team(l.team.pk)" class="ui-button-green ui-button bttn"></button>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 drop">
                    <p-dropdown [options]="actions" [(ngModel)]="selectedAction" (onChange)="team_player_post(l.team.pk)" [style]="{'width':'83%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <!-- player request -->

    <div class="ui-g ui-fluid match" style="margin:0em 0em 1em 0em;" *ngFor="let l of playerlist">
        <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 borderOfCard">
            <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                <img [src]="l.profile_pic?basePath+l.profile_pic:'./assets/images/default_team.png'" class="card-image" />
            </div>
            <div class="ui-g-8 ui-sm-8 ui-md-8 ui-lg-8 teamSpanDiv1">
                <span class="teamSpan1" style="white-space:nowrap;">{{l.player_name}}
                </span>
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding-left:1.3em;">
                    <button pButton type="button" label="{{'Comunidad' | translate}}" class="ui-button as_player"></button>
                </div>
            </div>
        </div>
        <div class="ui-g-8 ui-sm-12 ui-md-8 ui-lg-8 backColor">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6" style="padding-top:1.5em;">
                <span style="color:white">{{'Te gustaría aceptar la invitación del jugador para formar parte de tu comunidad?' | translate}}</span>
            </div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 record">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <!-- <button pButton type="button" label="{{'VER PERFIL' | translate}}" (click)="team(l.team.pk)" class="ui-button-green ui-button bttn"></button> -->
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 drop">
                    <p-dropdown [options]="actions" [(ngModel)]="selectedAction" (onChange)="player_post(l.community_id,l.player_id)" [style]="{'width':'83%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <!-- player request -->

    <!-- teammanager request -->

    <div class="ui-g ui-fluid match" style="margin:0em 0em 1em 0em;" *ngFor="let l of team_manager_list">
        <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 borderOfCard">
            <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                <img [src]="l.profile_pic?basePath+l.profile_pic:'./assets/images/default_team.png'" class="card-image" />
            </div>
            <div class="ui-g-8 ui-sm-8 ui-md-8 ui-lg-8 teamSpanDiv1">
                <span class="teamSpan1" style="white-space:nowrap;">{{l.player_name}}
                </span>
                <p class="teamSpan1"> Team : {{l.team_name}}
                </p>
                <p *ngIf="l.created_team_name != null" class="teamSpan1"> Team created : {{l.created_team_name}}
                </p>

                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding-left:1.3em;">
                    <button pButton type="button" label="{{'Comunidad' | translate}}" class="ui-button as_player"></button>
                </div>
            </div>
        </div>
        <div class="ui-g-8 ui-sm-12 ui-md-8 ui-lg-8 backColor">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6" style="padding-top:1.5em;">
                <span style="color:white">Would you like to accept the invitation to be manager of the team</span>
            </div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 record">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <!-- <button pButton type="button" label="{{'VER PERFIL' | translate}}" (click)="team(l.team.pk)" class="ui-button-green ui-button bttn"></button> -->
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 drop">
                    <p-dropdown [options]="actions" [(ngModel)]="selectedAction" (onChange)="player_post(l.community_id,l.player_id)" [style]="{'width':'83%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <!-- teammanager request-->







    <div class="ui-g ui-fluid match" style="margin:0em 0em 1em 0em;" *ngFor="let l of tournament_list">
        <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 borderOfCard">
            <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                <img [src]="l.logo?basePath+l.logo:'assets/images/tournament-profile-logo/default.png'" class="card-image" />
            </div>
            <div class="ui-g-8 ui-sm-8 ui-md-8 ui-lg-8 teamSpanDiv1">
                <span class="teamSpan1" style="white-space:nowrap;">{{l.tournament_name}}</span>
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding-left:1.3em;">
                    <button pButton type="button" label="{{'ÁRBITRO' | translate}}" class="ui-button as_player"></button>
                </div>
            </div>
        </div>
        <div class="ui-g-8 ui-sm-12 ui-md-8 ui-lg-8 backColor">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6">
                <span style="color: #8DCF24;">{{'Fecha' | translate}}: </span>
                <span *ngIf="l?.date" style="color:white"> {{l?.date}}</span>
                <span *ngIf="!l?.date" style="color:white">--</span>
                <br>
                <span style="color: #8DCF24;">{{'Hora' | translate}}: </span>
                <span style="color:white" *ngIf="l?.time"> {{l?.time}}</span>
                <span *ngIf="!l?.time" style="color:white">--</span>
                <br>
                <br>
                <span style="color:white">{{'¿Le gustaría añadir en este torneo ?' | translate}}</span>
            </div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 record">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <button pButton type="button" label="{{'VER PERFIL' | translate}}" (click)="tournament(l.tournament_pk)" class="ui-button-green ui-button bttn"></button>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 drop">
                    <p-dropdown [options]="actions" [(ngModel)]="selectedAction" (onChange)="tournament_post(l.tournament_pk)" [style]="{'width':'83%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </div>

</div>

<!--/***************************request_sent************************/!-->
<div *ngIf="type == 'requested'">
    <div class="ui-g ui-fluid match" style="margin:0em 0em 1em 0em;" *ngFor="let l of player_team_list">
        <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 borderOfCard">
            <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                <img [src]="l.team.team_logo?basePath+l.team.team_logo:'./assets/images/default.png'" class="card-image" />
            </div>
            <div class="ui-g-8 ui-sm-8 ui-md-8 ui-lg-8 teamSpanDiv1">
                <span class="teamSpan1" style="white-space:nowrap;">{{l.team.team_name}}</span>
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding-left:1.3em;">
                    <button pButton type="button" label="{{'JUGADOR' | translate}}" class="ui-button as_player"></button>
                </div>
            </div>
        </div>
        <div class="ui-g-8 ui-sm-12 ui-md-8 ui-lg-8 backColor">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6" style="padding-top:1.5em;">
                <span style="color:white">{{'Su solicitud ha sido enviado con éxito !' | translate}}</span>
            </div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 record">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <button pButton type="button" label="{{'Ver perfil' | translate}}" (click)="team(l.team.pk)" class="ui-button-green ui-button bttn"></button>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 drop">
                    <button pButton *ngIf=true type="button" label="{{'CANCELAR PETICIÓN' | translate}}" (click)="cancel_team(l.pk)" class="ui-button-red ui-button bttn"></button>>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g ui-fluid match" style="margin:0em 0em 1em 0em;" *ngFor="let l of tournament_list">
        <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 borderOfCard">
            <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                <img [src]="l.logo?basePath+l.logo:'./assets/images/tournament-profile-logo/default.png'" class="card-image" />
            </div>
            <div class="ui-g-8 ui-sm-8 ui-md-8 ui-lg-8 teamSpanDiv1">
                <span class="teamSpan1" style="white-space:nowrap;">{{l.tournament_name}}</span>
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding-left:1.3em;">
                    <button pButton type="button" label="{{'TORNEO' | translate}}" class="ui-button as_player"></button>
                </div>
            </div>
        </div>
        <div class="ui-g-8 ui-sm-12 ui-md-8 ui-lg-8 backColor">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6" style="padding-top:1.5em;">
                <span style="color:white">{{"Su solicitud ha sido enviado como árbitro el 23 de julio el año 2016" | translate}}</span>
            </div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 record">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <button pButton type="button" label="{{'Ver perfil' | translate}}" (click)="tournament(l.tournament_pk)" class="ui-button-green ui-button bttn"></button>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 drop">
                    <button pButton *ngIf=true type="button" label="{{'CANCELAR PETICIÓN' | translate}}" (click)="cancel_tournament(l.request_pk)"
                        class="ui-button-red ui-button bttn"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid match" style="margin:0em 0em 1em 0em;" *ngFor="let l of ground_booking">
        <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 borderOfCard">
            <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                <img [src]="l.profile_pic?basePath+l.profile_pic:'./assets/images/ground-profile-logo/default.png'" class="card-image" />
            </div>
            <div class="ui-g-8 ui-sm-8 ui-md-8 ui-lg-8 teamSpanDiv1">
                <span class="teamSpan1" style="white-space:nowrap;">{{l.ground_name}}</span>
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding-left:1.3em;">
                    <button pButton type="button" label="{{'Cancha' | translate}}" class="ui-button as_player"></button>
                </div>
            </div>
        </div>
        <div class="ui-g-8 ui-sm-12 ui-md-8 ui-lg-8 backColor">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6" style="padding-top:1.5em;">
                <span style="color:white">{{'Su solicitud ha sido enviado como árbitro el 23 de julio el año 2016' | translate}}</span>
            </div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 record">
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6">
                    <button pButton type="button" label="{{'Ver perfil' | translate}}" (click)="ground(l.ground_pk,l.main_ground)" class="ui-button-green ui-button bttn"></button>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 drop">
                    <button pButton *ngIf=true type="button" label="{{'CANCELAR PETICIÓN' | translate}}" (click)="cancel_ground(l.request_pk)"
                        class="ui-button-red ui-button bttn"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-g" style="margin-top: 20px;height: 100px" *ngIf="type == 'requested'">
    <div class="ui-g-12 text-center" *ngIf="player_team_list && player_team_list.length==0&&tournament_list && tournament_list.length==0&&ground_booking && ground_booking.length==0">
        <span style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
    </div>
</div>
<div class="ui-g" style="margin-top: 20px;height: 100px" *ngIf="type == 'accepted'">
    <div class="ui-g-12 text-center" *ngIf="(team_referee_list && team_referee_list.length==0 && team_player_list && team_player_list.length==0 && tournament_list && tournament_list.length==0)">
        <span style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
    </div>
</div>