.accepted-button {
    background: #f2f2f2;
    text-align: center;
    border: #cfcfcf 1px solid;
    color: #828282;
    cursor: pointer;
    font-size: 15px;
}

.rejected-button {
    background: #8DCF25;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.borderOfCard {
    background-color: white;
}

.card-image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: -10%;
}

.match {
    border: 1px solid black;
}

.backColor {
    background-color: #043760;
    padding-top: 1%;
}

.textColor {
    color: #8DCF24
}

.bttn {
    padding: 1px 10px 3px 10px;
    font-size: 12px;
    height: 36px;
    width: 132px;
}

.bttn span {
    font-size: 12px;
}

.teamSpan {
    font-size: 1.5em;
    color: #275376;
}

.teamSpan1 {
    color: #275376;
    font-size: 1.8em;
    padding-left: .5em;
    font-family: 'ChaletComprime CologneEighty';
    word-break: break-all;
}

.teamSpanDiv {
    text-align: center;
}

.partidosDiv {
    background: #8DCF24;
    text-align: center;
    padding-bottom: 1%;
}

.partidosDiv span {
    color: white;
    font-size: 2em
}

.mesgDiv {
    background-color: #F2F2F2;
    border: 1px solid;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin: 1%;
}

.mesgDiv span {
    font-size: 13px;
}

.as_player {
    float: left;
    padding: 3px;
    font-size: 12px;
    background: #275376;
    width: 110px;
}

.text {
    padding: .5em 0em .5em 0em;
}

.text1 {
    padding: .5em 0em .5em 0em;
}

.ui-dropdown {
    width: 82%;
    height: 38px;
    margin-top: 1.4em;
}

.record {
    padding: 5px;
}

.loadercomponent {
    position: absolute;
    left: 40.5em;
    top: 4.5em;
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
    .bttn {
        width: 115px !important;
    }
}

@media only screen and (max-width: 640px) {
    .scroll1 {
        overflow-x: scroll;
    }
    .scroll {
        width: 200%;
    }
    .accepted-button {
        padding: 5px 0px 5px 0px;
    }
    .rejected-button {
        padding: 5px 0px 5px 0px;
    }
    .text {
        padding: 0em;
    }
    .text1 {
        padding: 2em 0em 0em 0em;
    }
    .bttn {
        padding: 2px 10px 0px 10px;
        font-size: 12px;
    }
    .record {
        padding: 0px;
    }
}
.team-filter{
    text-align: right;
    margin: 30px 0;
}
.team-filter p{
    font-size: 16px;
    margin: 10px 0;
    color: #828282;
}