<loader *ngIf='loader'> </loader>
<p-growl [value]="msgs"></p-growl>

<div class="background">
    <div class="section">
        <div class="ui-g head">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 text-center">
            </div>
        </div>

        <div class="ui-g container">
            <div class="ui-g-12 bd-bm title_text">
                <span>{{'CREAR LIGA' | translate}}</span>
            </div>
        </div>
        <br>
        <form [formGroup]="createTournamentForm">
            <div class="ui-g ui-fluid">
                <div class="ui-g-8 ui-sm-12">
                    <div class="ui-g">
                        <div class="ui-g-6 ui-sm-12">
                            <label>{{'Nombre de la liga' | translate}}
                                <span class="star">*</span>
                            </label>
                            <br>
                            <br>
                            <div>
                                <input type="text" pInputText placeholder="{{'Nombre de la liga' | translate}}" [formControl]="createTournamentForm.controls['tournament_name']" />
                            </div>
                            <div *ngIf="createTournamentForm.controls['tournament_name'].value.length==0 && createTournamentForm.controls['tournament_name'].dirty ">
                                <p style="color: red">{{'Ingrese el Nombre de la liga' | translate}}</p>
                            </div>
                            <div *ngIf="createTournamentForm.controls['tournament_name'].value.length>50">
                                <p style="color: red">{{'Por favor, introduzca un máximo de 50 caracteres' | translate}}</p>
                            </div>
                        </div>
                        <div class="ui-g-6 ui-sm-12">
                            <label> {{'Ciudad' | translate}}
                                <span class="star">*</span>
                                <span style="color:darkcyan;font-size: 0.7em;">{{'Escoger una de las opciones que se despliegan' | translate}}</span>
                            </label>
                            <br>
                            <br>
                            <div>
                                <p-autoComplete [formControl]="createTournamentForm.controls['selectCity']" placeholder="{{'Ciudad'| translate}}" (onSelect)="setLoaction($event)" field="description" [suggestions]="autocompleteItems" (completeMethod)="search($event)">
                                </p-autoComplete>
                                <!-- <p-autoComplete [suggestions]="filteredCity" field="location" (completeMethod)="filterCity($event)" (onSelect)='getCity($event)' [size]="30" placeholder="{{'Ciudad' | translate}}" [minLength]="1" [formControl]="createTournamentForm.controls['city']">
                                </p-autoComplete> -->
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">

                        <div class="ui-g-3 ui-sm-12 ">
                            <label>{{'Genero' | translate}}
                                <span class="star"> *</span>
                            </label>
                            <br>
                            <br>
                            <div>
                                <p-dropdown [options]="genderList" [style]="{'width':'100%'}" [formControl]="createTournamentForm.controls['tournament_type']"></p-dropdown>
                            </div>
                            <div *ngIf="genderValidation">
                                <p style=" color: red">{{'Género Requerido' | translate}}</p>
                            </div>
                        </div>
                        <div class="ui-g-3 ui-sm-12 ">
                            <label>{{'Modalidad' | translate}}
                                <span class="star"> *</span>
                            </label>
                            <br>
                            <br>
                            <div>
                                <p-dropdown [options]="tournamentLebelList" [style]="{'width':'100%'}" [formControl]="createTournamentForm.controls['tournament_level']">
                                </p-dropdown>
                            </div>
                            <div *ngIf="modalityValidation ">
                                <p style=" color: red">{{"Modality Required" | translate}} *</p>
                            </div>
                        </div>
                        <!-- <div class="ui-g-6 ui-sm-12">
                            <label style="margin-bottom: 7px;display: block;">{{'Celular' | translate}}
                                <span class="star"> *</span>
                            </label>
                            <div class="ui-g-4">
                                <p-inputMask mask="+999" readonly [(ngModel)]="country_code" placeholder="{{'+593' | translate}}" [formControl]="createTournamentForm.controls['country_code']"></p-inputMask>
                            </div>
                            <div class="ui-g-8">
                                <p-inputMask mask="999999999" placeholder="{{'Celular' | translate}}" [formControl]="createTournamentForm.controls['contact']"></p-inputMask>
                            </div>
                            <! <div *ngIf="createTournamentForm.controls['tournament_name'].valid ">
                                <p style=" color: red">{{"Modality Required" | translate}} *</p>
                            </div> -->
                        <!-- </div> -->
                        <!-- <div class="ui-g-6 ui-sm-12" style="padding:0px;">
                            <label>{{'Celular' | translate}}<span class="star">*</span></label><br><br>
                            <div class="ui-g-4">
                                <div class="ui-g-10" style="padding:0px;">
                                    <p-dropdown (onChange)="validMobile($event)" [options]="code" [formControl]="createTournamentForm.controls['country_code']">
                                        <ng-template let-car pTemplate="label">
                                            <div style="display:flex;align-items:center">
                                                <div style="    width: 30px;">
                                                    {{car.label}}
                                                </div>
                                                <div style="    text-align: right;" *ngIf="car.label=='+593'" class="ui-g-6">
                                                    <img src="assets/images/Ecuador.png" style="width: 15px;height: 10px;  " />
                                                </div>
                                                <div *ngIf="car.label=='+502'" style="    text-align: right;" class="ui-g-6">
                                                    <img src="assets/images/Guatemala-flag (1).jpg" style="width: 15px;height: 10px;  " />
                                                </div>
                                                <div *ngIf="car.label=='+1'" style="    text-align: right;" class="ui-g-6">
                                                    <img src="assets/images/usa_flag.jpg" style="width: 15px;height: 10px;  " />
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                                <div class="ui-g-2">
                                    <span style="font-size: 22px;">-</span>
                                </div>
                            </div>
                            <div style="position: relative;" class="ui-g-8">
                                <p-inputMask placeholder="{{'Celular' | translate}}" [mask]="mask" [formControl]="createTournamentForm.controls['contact']" (keyup)="mobileVerify($event)" [autoClear]="false"></p-inputMask>
                                <div class="ui-g error" *ngIf="isMobValid">
                                    <p class="errorText">{{"Celular debe ser de" | translate}} {{length}} {{'dígitos' | translate}}</p>
                                </div>
                            </div>

                        </div> -->

                        <div class="ui-g-3 ui-sm-12 ">
                            <label>{{'Celular' | translate}}<span class="star">*</span></label><br><br>
                            <p-dropdown filter="true" [style]="{'width':'100%'}" [options]="codes" [formControl]="createTournamentForm.controls['country_code']"></p-dropdown>
                        </div>
                        <div class="ui-g-3 ui-sm-12 ">
                            <br><br>
                            <p-inputMask placeholder="{{'Celular' | translate}}" [formControl]="createTournamentForm.controls['contact']" [mask]="mask" slotChar="" maxlength='15' [autoClear]="false"></p-inputMask>
                        </div>
                    </div>

                </div>
                <div class="ui-g-4 ui-sm-12 textAreaDiv">
                    <div class="ui-g-12">
                        <label> Bio</label>
                        <br>
                        <br>
                        <div>
                            <textarea pInputTextarea placeholder="{{'Detalla un poco de información de tu torneo o liga' | translate}}" class="teandotextArea" [formControl]="createTournamentForm.controls['bio']">
                                    </textarea>
                        </div>
                        <div *ngIf="!createTournamentForm.controls['bio'].valid && createTournamentForm.controls['bio'].dirty ">
                            <p style="color: red">{{'Bio no debe ser mayor que 200 caracteres' | translate}}</p>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-2 ui-sm-12 ">
                        <label>{{'Fecha inscripciones' | translate}}
                            <span class="star">*</span>
                        </label>
                        <br>
                        <br>
                        <p-calendar [showIcon]=true [minDate]="minDate" [monthNavigator]=true [yearNavigator]=true yearRange='2018:2050' dateFormat='yy-mm-dd' (onSelect)="regStartDate($event)" placeholder="{{'Fecha de inicio' | translate}}" [formControl]="createTournamentForm.controls['registration_start_date']"
                            [locale]="langauge" [readonlyInput]="true">
                        </p-calendar>
                        <label *ngIf="regDateValidation" style="color:red;white-space:nowrap;">{{'fecha de registro inválida' | translate}}</label>
                    </div>
                    <div class="ui-g-2 ui-sm-12 ">
                        <label>&nbsp;</label>
                        <br>
                        <br>
                        <p-calendar [showIcon]=true [minDate]="minDate" [monthNavigator]=true [yearNavigator]=true yearRange='2018:2050' dateFormat='yy-mm-dd' (onSelect)="regEndDate($event)" placeholder="{{'Fecha final' | translate}}" [formControl]="createTournamentForm.controls['registration_end_date']"
                            [locale]="langauge" [readonlyInput]="true">
                        </p-calendar>

                    </div>
                    <div class="ui-g-2 ui-sm-12 ">
                        <label>{{'Fecha del liga' | translate}}
                            <span class="star">*</span>
                        </label>
                        <br>
                        <br>
                        <p-calendar class=" calendar " [minDate]="minDate" [monthNavigator]=true [showIcon]=true [yearNavigator]=true yearRange='2018:2050' dateFormat='yy-mm-dd' (onSelect)="tournamentStartDate($event)" placeholder="{{'Fecha de inicio' | translate}}" [formControl]="createTournamentForm.controls['start_date']"
                            [locale]="langauge" [readonlyInput]="true">
                        </p-calendar>
                        <label *ngIf="tourDateValidation" style="color:red;white-space:nowrap;">{{'fecha de liga inválida' | translate}} </label>
                    </div>
                    <div class="ui-g-2 ui-sm-12">
                        <label>&nbsp;</label>
                        <br>
                        <br>
                        <p-calendar class=" calendar " [minDate]="minDate" [monthNavigator]=true [showIcon]=true [yearNavigator]=true yearRange='2018:2050' dateFormat='yy-mm-dd' placeholder="{{'Fecha final' | translate}}" (onSelect)="tournamentEndtDate($event)" [formControl]="createTournamentForm.controls['end_date']"
                            [locale]="langauge" [readonlyInput]="true">
                        </p-calendar>
                    </div>
                    <div class="ui-sm-12 ui-g-2">
                        <label>
                            {{'No de administradores' | translate}}
                            <span class="star">*</span>

                        </label>
                        <br>
                        <br>
                        <input type="number" formControlName="no_of_admins" pInputText/>
                        <div *ngIf="!createTournamentForm.controls['no_of_admins'].valid && createTournamentForm.controls['no_of_admins'].dirty ">
                            <p style="color: red">{{'Ingresar el número de admin' | translate}} </p>
                        </div>
                    </div>

                </div>
                <br>

            </div>


            <br>
            <br>
            <div class="ui-g continueBttn">
                <div class="ui-g-6">
                </div>
                <div class="ui-g-6 ui-sm-12">
                    <button type="button" class="cancelButton" label="{{'CANCELAR' | translate}}" pButton (click)="cancelButton()"></button>
                    <button pButton type="button" [disabled]="isMobValid" class="button" label="{{'CONTINUAR' | translate}}" (click)="firstFormData(createTournamentForm.value)"></button>
                </div>
            </div>
        </form>
        <br>
        <br>
    </div>
</div>