.background {
    padding-top: 168px;
    background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 230px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../../assets/images/tournament-profile-cover/default.png) no-repeat;
    background-size: 100%
}

.title_text span {
    padding-top: 6%;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3.5em;
    color: #00253f;
}

.error {
    position: absolute;
    padding-left: 10px;
}

.errorText {
    color: red;
}

@media only screen and (max-width: 640px) {
    .background {
        padding-top: 95px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 95px, rgba(0, 0, 0, 1) 145px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../../assets/images/tournament-profile-cover/default.png) no-repeat;
        background-size: 100%
    }
    .title_text span {
        padding-top: 15%;
    }
    .head img {
        height: 80px;
        width: 120px;
    }
    .teandotextArea {
        width: 100%;
        height: 115px;
    }
    .isAuto {
        margin-top: 15px !important;
    }
}

.isAuto {
    margin-top: 60px;
}

.mobView {
    display: none;
}

.deskView {
    display: block
}

.section {
    max-width: 970px;
    margin: auto;
    margin-top: 50px
}

.continueBttn {
    text-align: right;
}

.head img {
    width: 145px;
    height: 100px;
}

.logo {
    padding-top: 3%;
    max-width: 100%;
}

.button {
    background-color: #66cc00 !important;
    border-color: #66cc00 !important;
}

@media only screen and (min-width: 641px) {
    .input {
        width: 40%;
    }
    .mobView {
        display: block;
    }
    .deskView {
        display: none;
    }
}

@media only screen and (min-width: 1025px) {
    .input {
        width: 40%;
    }
}

@media only screen and (min-width: 1441px) {
    .input {
        width: 40%;
    }
}

@media only screen and (min-width: 641px) {
    .input1 {
        width: 44%;
        margin-left: 10%;
    }
}

@media only screen and (min-width: 1025px) {
    .input1 {
        width: 44%;
        margin-left: 10%;
    }
}

@media only screen and (min-width: 1441px) {
    .input1 {
        width: 44%;
        margin-left: 10%;
    }
}

.bd-bm {
    border-bottom: 1px solid grey;
    margin-left: 1%;
    margin-right: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bio {
    height: 150px;
    width: 250px;
}

@media only screen and (min-width: 640px) {
    .bio {
        height: 270px;
        width: 350px;
    }
}

.teandoInput {
    width: 100%;
}

.teandotextArea {
    width: 100%;
    height: 115px;
}

.uigLeft {
    padding-right: 20px;
}

.uigRight {
    padding-left: 20px;
}

.uigChildLeft {
    padding: 0 20px 0 0;
    white-space: nowrap;
}

.uigChildRight {
    padding: 0 0 0 20px;
    white-space: nowrap;
}

.formGroupTaendo {
    margin-bottom: 20px;
}

.formLabelTaendo {
    margin-bottom: 10px;
}

label {
    padding-left: 10px;
    white-space: nowrap;
}

.star {
    color: red;
}