.para {
    color: #fff;
}

.section {
    max-width: 970px;
    margin: auto;
    margin-top: -50px;
}

.background {
    width: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.55), gray);
    overflow: hidden;
    height: 15em;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.profile_pic {
    width: 100%;
    height: 100%;
}

.selectteam {
    background: #043760;
}

.dd:hover .choose {
    display: block;
}

.choose {
    display: none;
    cursor: pointer;
    position: absolute;
    margin-top: -9em;
    margin-left: 1.5em;
    font-size: 6px;
}

.model_name {
    font-size: 2em;
    color: #00253f;
    font-family: ChaletComprime CologneEighty;
}

.tournament_name {
    position: relative;
    color: #113861;
    text-transform: none;
    font-size: 24px;
    font-weight: 600;
    font-family: RobotoCondensed-Light;
}

.tournament_date {
    color: #828282;
}

.icon-bar {
    padding-bottom: 2%;
    margin-top: 2%;
}

.icon-bar span {
    font-size: 3em;
}

.icon-bar span a {
    text-decoration: none;
    color: #828282;
    margin-right: 10px;
    font-family: 'ChaletComprime CologneEighty';
}

.activeLink {
    color: #00253f !important;
}

.active a {
    color: #00253f !important;
}

.active {
    color: #00253f !important;
}

.seemore {
    display: none;
}

.seemore1 {
    display: none;
}

.followers_btn {
    padding: 2px 0px;
    font-size: 11.5px;
    width: 8em;
}

.followers_count {
    font-size: 27px;
    color: #113861;
    /* position: relative; */
    color: #113861;
    /* text-transform: none; */
    font-size: 24px;
    font-weight: bold;
    font-family: RobotoCondensed-Light;
}

.follow {
    margin-left: -1.5em;
}

.loadercomponent {
    position: absolute;
    top: 19.7em;
    left: 40.4em;
}

.invite_popup_header {
    background: #00253f;
    padding-top: 5px;
    padding-bottom: 5px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.invite_popup_header .popup_heading {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 3.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.invite_popup_header .fa {
    color: white;
    font-size: 22px;
    padding-top: 10px;
}

.invite_popup_name {
    font-family: ChaletComprime CologneEighty;
    color: #00253f;
    font-size: 2.5em;
}

.invite_popup_city {
    color: #8DCF24;
    font-size: 1.3em;
}

.invite_popup_followers {
    color: #828282;
}

.invite_popup_followers span {
    color: #e6263d;
}

.referee_text {
    padding: 1px 5px;
    font-size: 10px;
    background: #043760;
    font-family: Montserrat-Regular;
    text-transform: uppercase;
    border-radius: 25px;
    margin-left: 10px;
    color: white;
}

.cover_image {
    height: 28.5em;
}

.icons {
    color: white;
    text-align: center;
    position: relative;
    width: 160px;
    z-index: 1;
    float: right
}

.icn {
    position: absolute;
}

.fa {
    width: 25px;
    background: #113861;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    margin: 1%;
    color: white;
    cursor: pointer;
}

.downloadBttn {
    width: 35px;
    background: white;
    color: black;
}

.share_profile {
    position: absolute;
    top: 55px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    right: 43%;
}

.share_cover {
    width: 496px;
    height: 96px;
}

.image_div {
    position: relative;
    text-align: -webkit-center
}

.outer_div {
    width: 500px;
    border: 1px solid;
    margin: 0 auto;
    height: 440px;
    position: relative;
    margin-top: 20px;
    background: white;
}

.name {
    text-align: -webkit-center;
    color: #474747;
    letter-spacing: 1px;
    font-size: 1.4em;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: Roboto-Medium;
}

.gender {
    width: 100%;
    text-align: -webkit-center;
    color: #474747;
    font-size: 1.3em;
    text-transform: capitalize;
    font-family: Roboto-Light;
}

#point {
    font-size: 3em;
    padding-left: 5px;
    padding-right: 5px;
}

.info {
    margin-top: 40px;
    line-height: 1.5em;
}

.inner_info span {
    font-size: 1.2em;
}

.inner_info {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.rating_left {
    text-align: -webkit-right;
    padding-right: 20px;
}

.rating_right {
    padding-left: 20px;
}

.rating_left p {
    font-family: Roboto-Medium;
    font-size: 1.2em;
    width: 30%;
    text-align: -webkit-center;
}

.rating_right p {
    font-family: Roboto-Medium;
    font-size: 1.2em;
    width: 30%;
    text-align: -webkit-center;
}

.player_info {
    width: 280px;
    margin: 0 auto;
    margin-top: 80px;
    font-family: Roboto-Medium;
    font-size: 1.2em;
}

.player_info img {
    width: 35px;
}

.footer_share {
    height: 70px;
    background: #00365D;
    position: absolute;
    bottom: 0px;
}

.footer_share img {
    width: 50px;
    height: 40px;
}

.footer_share p {
    color: white
}

.share_bttn {
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.share_bttn p {
    display: flex;
    align-items: center;
    text-align: -webkit-left;
    position: absolute;
}

@media only screen and (min-width:1440px) {
    .cover_btn {
        margin-right: 17.6% !important;
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    .cover_btn {
        margin-right: 4% !important;
    }
}

@media only screen and (min-width: 768px)and (max-width:800px) {
    .followers_btn {
        font-size: 9px !important;
    }
}

@media screen and (min-width: 640px) and (max-width: 890px) {
    .profile_pic {
        width: 100% !important;
        height: 100% !important;
    }
    .followers_btn {
        font-size: 9.5px !important;
        width: 9em !important;
    }
    .follow_bttn {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 640px) {
    .cover_pic {
        width: 127%;
        height: 110px;
        position: absolute;
        margin-left: -14%;
        z-index: 1;
        top: -52px;
    }
    .changeCover {
        display: none;
        margin-left: 980px;
        margin-top: 20px;
        cursor: pointer;
        height: 40px;
    }
    .cover_pic:hover .changeCover {
        display: block;
    }
    .followers_btn {
        padding: 2px 0px;
        font-size: 11.5px;
        width: 9em;
    }
    .section {
        max-width: 970px;
        margin: auto;
        margin-top: -95px;
        position: relative;
        margin-bottom: 90px;
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -o-animation: fadein 2s;
    }
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .background {
        width: 100%;
        height: 250px;
    }
    .dd:hover .choose {
        display: block;
    }
    .profile_pic {
        position: relative;
        width: 100%;
        height: 100%;
        border: 2px solid white;
        background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.55), gray);
        overflow: hidden;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    @keyframes slideInFromLeft {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }
    .selectteam {
        background: #043760;
    }
    .choose {
        display: none;
        cursor: pointer;
        position: absolute;
        margin-top: -7.5em;
        margin-left: 1.9em;
        font-size: 12px;
    }
    .tournament_name_div {
        text-align: left;
        display: flex;
        align-items: center;
    }
    .tournament_name {
        position: relative;
        color: #113861;
        text-transform: none;
        font-size: 24px;
        font-weight: bold;
        font-family: RobotoCondensed-Light;
    }
    .tournament_country {
        color: #8b8e95;
        text-transform: none;
        font-size: 16px;
    }
    .tournament_date {
        color: #828282;
    }
    .icon-bar {
        padding-bottom: 1%;
        margin-top: 1%;
    }
    .icon-bar span {
        font-size: 3em;
    }
    .icon-bar span a {
        text-decoration: none;
        color: #828282;
        margin-right: 10px;
        font-family: RobotoCondensed-Light;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
    }
    .activeLink {
        color: #00253f !important;
    }
}

.image_cropper_heading {
    padding: 0;
    font-family: ChaletComprime CologneEighty;
    font-size: 3em;
    color: white;
    text-transform: uppercase;
}

.result {
    margin: 40px auto;
    margin-bottom: 0;
    display: block;
    background: gray;
    width: 200px;
    border-radius: 100px;
}

.result.rounded>img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

input[type='file'] {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.cancel {
    width: 85% !important;
}

.save {
    padding: 8px 16px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.cropper_label {
    padding-left: 5%;
    color: #828282;
    font-size: 1.2em;
}

.square>img {
    width: 95%;
    margin-left: 2%;
    height: 30%;
    margin-top: 35%;
}

@media only screen and (max-width: 930px) {
    .scroll {
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 640px) {
    .icon-bar span {
        font-size: 15px;
    }
    .profile_pic {
        width: 150px !important;
        height: 160px !important;
    }
    .tournament_name {
        font-size: 16px !important
    }
    .cover_image {
        overflow: scroll;
    }
    .changeCover {
        display: none
    }
    button.tooltip {
        display: none;
    }
    .cov {
        padding: 0px 30px !important;
    }
    .coverbtn {
        height: 8.2em !important;
    }
    .tournament_name {
        color: #00253f;
    }
    .text-right {
        padding: 16px !important;
    }
    .follow {
        margin-left: -.5em;
    }
    .tournament_name_div {
        text-align: left;
        display: flex;
        align-items: center;
    }
    .mob {
        margin-left: 1em;
    }
    .mob_pic {
        padding: .5em !important;
    }
    .spn {
        width: 16em !important;
    }
    .fixreg {
        height: 200px !important;
    }
    .fixregheigh {
        height: 195px;
    }
    .cancel1 {
        float: right;
    }
    .div_spn {
        left: 2em !important;
        top: -8em !important;
    }
    .confirm {
        margin-left: 0px !important;
    }
    .text_area {
        width: 87% !important;
    }
    .hed {
        margin-top: -3em;
    }
    .cover_btn {
        font-size: 7px;
        margin-top: 10em;
    }
    .icn {
        left: 10px;
        margin-top: -20px;
    }
}

.upload-class {
    padding: 10px;
    color: white;
    background: #002B40;
    border-radius: 4px;
}