<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader' class="loadercomponent"></loader>
<div>
    <img class="background" [src]="cover_pic?basepath + cover_pic:'assets/images/cover_img2.jpg'">
    <div class="section" [class.container]="enable">
        <!-- <div class="cover_pic">
            <button pButton type="button" *ngIf="admin" class="changeCover" label="{{'ESCOGER' | translate}}" (click)="cover_dialog()"></button>
        </div> -->
        <div class="ui-g share_bttn">
            <p>
                <i class="downloadBttn fa fa-download" aria-hidden="true" style="background: transparent;color:white" (click)="downloadAsImage()"></i>
            </p>
        </div>
        <div class="ui-g hed">
            <div class="ui-g-2 ui-sm-6 dd">
                <img [src]="profile_pic?base_path_service.image_url+profile_pic:'assets/images/profile/profile.png'" class="profile_pic"
                />
                <button pButton type="button" *ngIf="admin" class="choose" label="{{'ESCOGER' | translate}}" style="cursor:pointer;">
                    <input accept="image/*" type="file" class="input" (change)="fileChangeEvent($event)" />
                </button>
            </div>
            <div class="ui-g-10 ui-sm-12">
                <div class="ui-g-12 ui-fluid text-right " style="padding-top:60px;display: table-cell;">
                    <button (click)='showmsgs()' *ngIf="!admin" pButton type="button" pTooltip="mensaje" class="tooltip" tooltipPosition="top"
                        icon="fa fa-comment" class="ui-button-green" style="width:15%;top:5px;height:36px;margin-right:0%;margin-left:-0.5em;"></button>
                    <button (click)='navigate_msgs()' *ngIf="admin" pButton type="button" icon="fa fa-comment" class="ui-button-green" style="width:15%;top:5px;height:36px;margin-right:0%;margin-left:-0.5em;"></button>
                    <button *ngIf="!admin" pButton type="button" label="{{'invitar' | translate}}" (click)="registerPopupWindow()" style="background:#8DCF25; vertical-align: -webkit-baseline-middle;cursor:pointer;height:36px;width:128px;padding:0px 0px 0px 0px;"></button>
                    <button class="follow_bttn" *ngIf="!admin&&!player_detail?.follow" pButton type="button" (click)="follow_player_profile()"
                        label="{{'Seguir' | translate}}" style="background:#8DCF25; vertical-align: -webkit-baseline-middle;cursor:pointer;height:36px;width:128px;"></button>
                    <button class="follow_bttn" *ngIf="!admin&&player_detail?.follow" pButton type="button" (click)="unfollow_player_profile()"
                        label="{{'Dejar de Seguir' | translate}}" style="padding:1px;background:#8DCF25; vertical-align: -webkit-baseline-middle;cursor:pointer;height:36px;width:128px;"></button>
                    <button *ngIf="admin" (click)='routing()' pButton type="button" label="{{'EDITAR' | translate}}" style="background:#8DCF25; vertical-align: -webkit-baseline-middle;cursor:pointer;height:36px;;width:auto;margin-right:0%;"></button>
                    <p-dropdown *ngIf="admin" [options]="create" [(ngModel)]="creat_selection" (onChange)="creat()"></p-dropdown>
                </div>
                <div class="ui-g-12 tournament_name_div">
                    <p style="display: inline;padding-right: 20px;border-right: 2px solid #d7d7d7;">
                        <span class="tournament_name">{{player_detail?.full_name}}</span>
                        <br>
                        <span class="tournament_country">{{player_detail?.tag_name}}</span>
                    </p>

                    <p style="display: inline;padding:0px 20px;border-right: 2px solid #d7d7d7;">
                        <span class="tournament_name">{{player_detail?.city}}</span>
                        <br>
                        <span class="tournament_country">{{player_detail?.country}}</span>
                    </p>
                    <p (click)="player_followings()" style="display: inline;padding: 0px 20px;border-right: 2px solid #d7d7d7;cursor: pointer;">
                        <span class="followers_count">{{player_detail?.following}}</span>
                        <br>
                        <span class="tournament_country">
                            {{"Following" | translate}}
                        </span>
                    </p>
                    <p (click)="player_followers()" style="display: inline;padding-left: 20px;cursor: pointer;">
                        <span class="followers_count">{{player_detail?.follower}}</span>
                        <br>
                        <span class="tournament_country">
                            {{"seguidores" | translate}}
                        </span>
                    </p>
                </div>
            </div>
            <div *ngIf="admin" class="ui-g-3 ui-sm-6">
                <app-profile-complete [progress]="player_detail?.profile_complete"></app-profile-complete>
            </div>
            <div *ngIf="player_detail?.profile_complete<100 && admin" class="ui-g-9 ui-sm-6">
                <button (click)="completeProfile()" pButton type="button" label="{{'Complete profile' | translate}}" style="background:#8DCF25; vertical-align: -webkit-baseline-middle;cursor:pointer;height:36px;;width:auto;margin-right:0%;"></button>
            </div>
        </div>

        <div style="text-align:right; cursor:pointer;">
            <a class="upload-class" routerLinkActive="activeLink" *ngIf="admin" (click)="togallery()">Upload Gallery Images </a>
        </div>



        <div class="ui-g">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="position:relative;margin-bottom: 200px">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
                        <hr>
                        <div class="scroll">
                            <div class="icon-bar" style="width:80em;">
                                <span [class.active]="info" (click)="payment_team=false" style="cursor:pointer;">
                                    <a routerLinkActive="activeLink" routerLink='information'>{{'Biography' | translate}} </a>
                                    <a>|</a>
                                </span>
                                <span (click)="info=false;payment_team=false" style="cursor:pointer;">
                                    <a routerLinkActive="activeLink" *ngIf="admin" routerLink='statistic'> {{'Statistics' | translate}}</a>
                                    <a *ngIf="admin">|</a>
                                </span>
                                <span (click)="info=false;payment_team=false" style="cursor:pointer;">
                                    <a routerLinkActive="activeLink" *ngIf="admin" routerLink='schedule'> {{'Schedule' | translate}}</a>
                                    <a *ngIf="admin">|</a>
                                </span>
                                <span (click)="info=false;payment_team=false" style="cursor:pointer;">
                                    <a routerLinkActive="activeLink" *ngIf="admin" routerLink='requests'> {{'SOLICITUDES' | translate}}</a>
                                    <a *ngIf="admin">|</a>
                                </span>
                                <span (click)="info=false;payment_team=false" style="cursor:pointer;">
                                    <a routerLinkActive="activeLink" routerLink='equipos'>{{'EQUIPOS' | translate}} |</a>
                                </span>
                                <span (click)="info=false;payment_team=false" style="cursor:pointer;">
                                    <a routerLinkActive="activeLink" routerLink='torneos'>{{'LIGAS' | translate}} |</a>
                                </span>
                                <!-- <span (click)="info=false;payment_team=true" [class.active]="payment_team" style="cursor:pointer;">
                                    <a routerLinkActive="activeLink" *ngIf="admin" routerLink='user-payments'>{{'PAGOS' | translate}} |</a>
                                </span> -->
                                <span (click)="info=false;payment_team=false" style="cursor:pointer;">
                                    <a routerLinkActive="activeLink" routerLink='history'>{{'HISTORIAL' | translate}} |</a>
                                </span>
                                <span (click)="info=false;payment_team=false" style="cursor:pointer;">
                                    <a routerLinkActive="activeLink" *ngIf="admin" routerLink='saved-card'>{{'SAVED CARD' | translate}} </a>
                                </span>

                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <!--************** Image Cropper Popup*********************-->
        <div class="tournament_profil">
            <div class="ui-g">
                <p-dialog [(visible)]="display" modal="modal" showEffect="fade" [dismissableMask]="true" [resizable]="false">
                    <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                        <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-12" style="padding: 15px 30px;">
                            <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                        </div>
                        <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                        </div>
                    </div>

                    <div class="ui-g" style="padding: 30px;padding-right:0;">
                        <div class="ui-g-7" style="border:2px dashed gray;cursor:pointer;text-align: center;width: 300px ;height: 300px ">
                            <image-cropper style="background: black;" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
                                [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
                        </div>
                        <div class="ui-g-5   text-center">
                            <label class="cropper_label">{{'Preview' | translate}}</label>
                            <span class="square">
                                <img [src]="croppedImage" *ngIf="croppedImage" />
                            </span>
                            <br/>
                        </div>
                    </div>

                    <!-- <div class="ui-g" style="padding: 30px;padding-right:0;">
                        <div class="ui-g-7 ui-sm-6 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer;text-align: center;">
                            <img-cropper id="test" #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                        </div>
                        <div class="ui-g-5 ui-sm-4 ui-md-4 ui-lg-5 text-center">
                            <label class="cropper_label">{{'Preview' | translate}}</label>
                            <span class="result rounded">
                                <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                            </span>
                            <br/>
                        </div>
                    </div> -->
                    <div class="ui-g">
                        <div class="ui-g-6 ui-sm-2 ui-md-6 ui-lg-6"></div>
                        <div class="ui-g-6 ui-sm-10 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
                            <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="disable()"></button>
                            <button pButton type="button" class="ui-button-green save" label="{{'Guardar' | translate}}" (click)="save()"></button>
                        </div>
                    </div>
                </p-dialog>
            </div>
        </div>
        <!--************** Image Cropper Popup*********************-->
        <!--************** cover_pic Popup**********************!-->
        <div class="tournament_profil1">
            <div class="ui-g">
                <p-dialog [(visible)]="cover_popup" modal="modal" showEffect="fade" [dismissableMask]="true" [resizable]="false">
                    <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                        <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-12 cov" style="padding: 15px 30px;">
                            <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                        </div>
                        <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                        </div>
                    </div>
                    <div class="ui-g cover_image">
                        <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6" *ngFor="let cover of coverPicList">
                            <img src={{cover_url}}{{cover.cover_pic}} width="100%" height="100px" [class.name]="cover.id==cover_id" (click)="get_cover(cover.id)">
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-6 ui-sm ui-md-6 ui-lg-6"></div>
                        <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right" style="padding-right:30px; padding-bottom:30px;">
                            <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="disable_cover()"></button>
                            <button pButton type="button" class="ui-button-green save" label="{{'Guardar' | translate}}" (click)="save_cover()"></button>
                        </div>
                    </div>
                </p-dialog>
            </div>
        </div>
        <!--************** cover_pic Popup**********************!-->
        <!--**************Invitation popup*********************-->
        <div class="regpopup invited">
            <p-dialog header="Godfather I" [(visible)]="registerPopup" modal="modal" showEffect="fade" [dismissableMask]="true" [resizable]="false">
                <div class="ui-g ui-sm ui-md ui-lg invite_popup_header">
                    <div class="ui-g-11 ui-sm-12 ui-md-12 ui-lg-12 auto">
                        <span class="popup_heading" style="white-space:nowrap;">{{'INVITACIÓN DE JUGADORES' | translate}}</span>
                    </div>
                </div>
                <div class="fixregheigh">
                    <div class="fixreg" style="height: 300px;overflow-y: scroll;">
                        <div *ngFor="let team1 of regDetails" class="ui-g ui-sm ui-md ui-lg regpopuphover" [class.selectteam]="team_id==team1.id"
                            (click)="getChallengeId(team1.id)" style="display:block;margin:auto;">
                            <div class="ui-g ui-sm ui-md ui-lg">
                                <div class="ui-g-2 ui-sm-4 ui-md-2 ui-lg partdiv text-right">
                                    <img class="circleimg name" [src]="team1?.team_logo?basepath+team1?.team_logo:'assets/images/default.png'" alt="images" height="70px"
                                        width="70px" style="border-radius:50%;">
                                </div>
                                <div class="ui-g-9 ui-sm-8 ui-md-9 ui-lg-9 partdiv">
                                    <p [class.clr]="color" [class.para]="team_id==team1.id" style="font-size:3em;text-transform:uppercase;font-family: 'ChaletComprime CologneEighty';">{{team1.team_name}}
                                        <span class="referee_text">{{'equipo' | translate}}</span>
                                        <p>
                                            <p style="color:#9AD643;font-size:14px;text-transform:uppercase;">{{team1.moto}}</p>
                                </div>
                            </div>
                            <hr style="color:#cfcfcf;width:90%;margin:-3px;">
                        </div>
                    </div>
                    <div class="ui-g ui-sm ui-md ui-lg div_spn" *ngIf="regDetails==''||regDetails==null" style="color:darkcyan;font-size:1.3em;position:relative;left:10em;top:-10em;">
                        <span class="spn" style="width:20em;">Todavía no se ha .. Por favor, crear equipos de primer equipo!</span>
                    </div>
                </div>
                <div class="ui-g ui-sm ui-md ui-lg" style="padding-top: 1%;padding-left: 3%;">
                    <div class="ui-g-7 ui-sm-12 ui-md-7 ui-lg-7"></div>
                    <div class="ui-g-4 ui-sm-6 ui-md-4 ui-lg-4">
                        <button type="button" class="cancel1" pButton (click)="regPopupClose()" label="{{'CANCELAR' | translate}}" style="background-color:#C4C4C4;"></button>
                    </div>
                    <div class="ui-g-1 ui-sm-6 ui-md-1 ui-lg-1 confirm" style="margin-left:-15%;">
                        <button type="button" pButton (click)="confirm()" label="{{'SIGUIENTE' | translate}}" style="background-color: #9AD643"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
        <!--**************Invitation popup*********************-->
        <!--***************confirmation popup******************!-->
        <div class="regpopup2 reg">
            <p-dialog header="Godfather I" [(visible)]="confirmpopup" modal="modal" showEffect="fade" [dismissableMask]="true" [resizable]="false">
                <div class="ui-g">
                    <div class="ui-g-12" style="margin:auto;padding-bottom:4em;">
                        <label style="font-size:2em;color:#043760;padding-left:0px;">{{'Está usted seguro de invitar a este jugador a tu equipo?' | translate}}</label>
                    </div>
                    <div class="ui-g-6" style="padding:0px;text-align:right;">
                        <button type="button" style="height:36px;width:132px;" pButton (click)=" confirmpopup=false;backdrop=false;team_id = null"
                            label="{{'CANCELAR' | translate}}"></button>
                    </div>
                    <div class="ui-g-6" style="padding:0px;">
                        <button type="button" pButton (click)="invite()" label="{{'CONFIRMAR' | translate}}" style="background-color:#9AD643;height:36px;width:132px;"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
        <!--***************confirmation popup******************!-->
        <!----------------message modal---------------->
        <div class="invited">
            <p-dialog [(visible)]="mesgs" modal="modal" [dismissableMask]="true" [resizable]="false">
                <div class="ui-g ui-sm ui-md ui-lg invite_popup_header">
                    <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6" style="padding:15px 0 10px 15px">
                        <span class="popup_heading" style="white-space:nowrap;">{{'ESCRIBE UN MENSAJE' | translate}}</span>
                    </div>
                </div>
                <div class="ui-g ui-sm ui-md ui-lg mob_pic" style="padding: 0 20px;">
                    <div class="ui-g-1 ui-sm-2 ui-md-1 ui-lg-2" style="display:flex;align-items:center;">
                        <span style="margin-top:0em;font-size:1.5em;color:gray;">Para:</span>
                    </div>
                    <div class="ui-g-2 ui-sm-4 ui-md-2 ui-lg-2 text-right mob">
                        <img [src]="profile_pic?base_path_service.image_url+profile_pic:'assets/images/default_player.png'" style="float:left;width:65px;border-radius:50%;height:65px;"
                        />
                    </div>
                    <div class="ui-g-9 ui-sm-6 ui-md-8 ui-lg-8" style="display:flex;align-items:center;margin-left:-2em;">
                        <span class="model_name">{{player_detail?.name}}</span>
                        <span class="model_name" style="padding-left:.3em">{{player_detail?.last_name}}</span>
                    </div>
                </div>
                <hr style="width:95%;margin:auto;">
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding:3%;">
                    <textarea rows="6" cols="90" class="text_area" [(ngModel)]="reply_msgs" [formControl]="mssge.controls['replymsgs']" pInputTextarea
                        autoResize="autoResize" style="border-radius:0px;overflow-y:hidden;color:#828282; padding:15px;width:95%;"></textarea>
                </div>
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-6 ui-sm ui-md-6 ui-lg-6"></div>
                    <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right" style="padding: 0 10px 15px 0px;">
                        <button pButton type="button" label="{{'CANCELAR' | translate}}" class="ui-button-grey" (click)="mesgs=false; backdrop=false"></button>
                        <button pButton type="button" class="ui-button-green save" [disabled]="!mssge.valid" label="{{'ENVIAR' | translate}}" (click)="send_msg()"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
        <!----------------message modal---------------->
    </div>
</div>
<div [class.backdrop]="backdrop"></div>
<div [class.backdrop]="mesgs"></div>
<div [class.backdrop]="registerPopup"></div>
<div [class.backdrop]="cover_popup"></div>
<div [class.backdrop]="display"></div>
<div [class.backdrop]="downloadProfile"></div>

<div class="ui-g ui-fluid pdfView">
    <p-dialog [(visible)]="downloadProfile" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
        <div #layout class="outer_div">
            <div class="image_div">
                <img class="share_cover" [src]='downloadDataInfo?.cover_pic' alt="My image" />
                <img class="img-circle share_profile" [src]='downloadDataInfo?.profile_pic' alt="My image" />
            </div>

            <div class="info">
                <p class="name">{{downloadDataInfo?.name}} ({{downloadDataInfo?.nick_name?downloadDataInfo?.nick_name:"--"}}) </p>
                <p class="gender">{{downloadDataInfo?.gender}} | {{downloadDataInfo?.city}} </p>
                <div class="inner_info">
                    <span class="gender">{{downloadDataInfo?.position}}</span>
                    <span id="point"> .</span>
                    <span class="gender">{{downloadDataInfo?.leg}} </span>
                </div>
                <div class="ui-g-6 rating_left share">
                    <p-rating [stars]="5" [(ngModel)]="attitude" [cancel]="false"></p-rating>
                    <p> {{'Actitud' | translate}}</p>
                </div>
                <div class="ui-g-6 rating_right share">
                    <p-rating [stars]="5" [(ngModel)]="techniq" [cancel]="false"></p-rating>
                    <p> {{'Tecnica' | translate}}</p>
                </div>
                <div class="player_info">
                    <div class="ui-g-4 text-center">
                        <p>
                            <img src="assets/images/goal.png" />
                            <br> {{downloadDataInfo?.goals?downloadDataInfo?.goals:""}} Goles
                        </p>
                    </div>
                    <div class="ui-g-4 text-center">
                        <p>
                            <img src="assets/images/Partidos.png" />
                            <br>{{downloadDataInfo?.played_games?downloadDataInfo?.played_games:""}} Partidos</p>
                    </div>
                    <div class="ui-g-4 text-center">
                        <p>
                            <img src="assets/images/Reservaciones.png" />
                            <br> {{downloadDataInfo?.tournament_played?downloadDataInfo?.tournament_played:""}} Torneos</p>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 footer_share text-center">

                <img src="assets/images/pelo.png" />
                <p>pelotea.com</p>

                <!-- <div style="text-align:right" class="ui-g-6">
                        <img style="    margin-right: 20px;" src="assets/images/sponser_new.png" />
                        <p>official partner</p>
                    </div> -->
            </div>
        </div>
        <div style="width: 100%;text-align: right">
            <a download="playerProfile.png" [href]="imageUrl">
                <i class="downloadBttn fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    </p-dialog>
</div>