.section {
    max-width: 970px;
    margin: auto;
}

.background {
    height: 17em;
    width: 100%;
}

.top {
    height: 3em;
    display: flex;
    align-items: center;
}

.bottom {
    height: 3em;
    display: flex;
    align-items: center;
}

.botton {
    text-decoration: none;
    color: black;
}

.head {
    color: #373a3c;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.activeLink {
    color: green !important;
}

.border {
    border: 1px solid lightgray;
}

.volver {
    left: 44em;
}

@media screen and (min-width:320px) and (max-width:1000px) {
    .volver {
        left: 5em;
    }
}

@media screen and (min-width:320px) and (max-width:640px) {
    .section {
        font-size: 10px !important;
    }
}