<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader' class="loadercomponent"></loader>
<div style="margin-bottom: 90px">
    <img class="background" [src]="cover_pic?basepath+cover_pic:'assets/images/cover_img3.jpg'">
    <div class="section">
        <p class="head" style="white-space:nowrap;">{{'Buzón de mensajes' | translate}}</p>
    </div>
    <div class="section" style="background:gainsboro;padding:1em .5em 5em .5em;">
        <div class="ui-g">
            <div class="ui-g-3" style="background:#fff;height:16em;border:1px solid lightgray;">
                <div class="ui-g top" style="cursor:pointer;" [class.border]="inbox" (click)="send=false;inbox=true;" routerLink="inbox">
                    <p><a routerLinkActive="activeLink" class="botton" routerLink="inbox">{{'Bandeja de entrada' | translate}}</a></p>
                </div>
                <div class="ui-g bottom" style="cursor:pointer;" [class.border]="send" (click)="send=true;inbox=false;" routerLink="sent">
                    <p><a routerLinkActive="activeLink" class="botton" routerLink="sent"> {{'Mensajes enviados' | translate}}</a></p>
                </div>
            </div>
            <div class="ui-g-8" style="background:#fff;margin-left:1%;width:74%;border:1px solid lightgray;">
                <div class="ui-g" style="padding: 0em 1em 0em 1.5em;">
                    <button pButton type="button" (click)="back_to_profile()" class="volver" label="{{'VOLVER' | translate}}"></button>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>