.full-container {
    padding-top: 120px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/news_feed_cover.jpg) no-repeat;
}

.perfil {
    width: 130px;
    font-size: 0.8em;
    height: 36px;
    margin-bottom: 5px;
}

.seguir {
    width: 130px;
    font-size: 0.8em;
    height: 36px;
}

@media(max-width:640px) {
    .perfil {
        width: 130px;
        font-size: 0.8em;
        height: 36px;
        margin-bottom: 5px;
    }
    .seguir {
        width: 130px;
        font-size: 0.8em;
        height: 36px;
    }
}

.head_content_name {
    color: white;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 45px;
}

.volver {
    padding-top: 30px;
}

.seemore {
    display: none;
}

.follower_img {
    height: 70px;
    width: 70px;
    vertical-align: middle;
    border-radius: 35px;
}

.follower_name {
    font-size: 30px;
    font-family: 'ChaletComprime CologneEighty';
    text-transform: uppercase;
}

.follower_nickname {
    font-size: 16px;
    color: #8DCF25;
    text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
    .section {
        max-width: 970px;
        margin: auto;
        margin-top: 60px;
    }
}

@media screen and (min-width:640px) and (max-width:1100px) {
    .full-container {
        padding-top: 123px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/tournament-profile-cover/default.png) no-repeat;
    }
}

@media screen and (min-width:1100px) and (max-width:1800px) {
    .full-container {
        padding-top: 180px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/tournament-profile-cover/default.png) no-repeat;
        background-size: 100%;
    }
}

@media only screen and (min-width: 640px) {
    .section {
        max-width: 970px;
        margin: auto;
        margin-bottom: 300px;
    }
    .head_content_name {
        color: white;
        font-family: 'ChaletComprime CologneEighty';
        font-size: 3em;
    }
    .volver {
        padding-top: 17px;
    }
    .referee_text {
        padding: 1px 5px;
        font-size: 10px;
        background: #294398;
        font-family: Montserrat-Regular;
        text-transform: uppercase;
        border-radius: 25px;
        margin-left: 10px;
        color: white;
    }
    .follower_img {
        height: 70px;
        width: 70px;
        vertical-align: middle;
        border-radius: 35px;
    }
    .follower_name {
        font-size: 30px;
        font-family: 'ChaletComprime CologneEighty';
        text-transform: uppercase;
    }
    .follower_nickname {
        font-size: 16px;
        color: #8DCF25;
        text-transform: uppercase;
    }
}