<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>
<div class="full-container">
    <div class="section">
        <!-- top section -->
        <div class="ui-g sec" style="margin:0 10px">
            <div class="ui-g-9 ui-sm-7 left-info">
                <p class="head_content_name">{{'Seguidores' | translate}}</p>
                <p>{{'TIENE' | translate}} {{follower}} {{'Seguidores' | translate}}</p>

            </div>
            <div class="ui-g-3 ui-lg-3 ui-sm-5  text-right volver hover_green">
                <button pButton type="button" class="ui-button" style="width:110px;height:36px;background-color:#C4C4C4;" (click)="routing()" label="{{'VOLVER' | translate}}"></button>
            </div>
        </div>

        <!-- tournament followers -->
        <div class="ui-g" *ngFor="let followers of followersList,let i =index" style="margin:10 10px;border-bottom: 1px solid #cfcfcf;">
            <div class="ui-g-1 ui-sm-3 ">
                <img [src]="followers?.profile_pic?basePath+followers?.profile_pic:'assets/images/default_player.png'" class="follower_img">
            </div>
            <div class="ui-g-7 ui-sm-5 " style="padding-top: 18px;">
                <p class="follower_name">{{followers.name}} {{followers.last_name}}
                    <span class="referee_text" *ngIf="followers.is_referee">{{'arbitro' | translate}}</span>
                    <span class="player_text" *ngIf="!followers.is_referee">{{'Jugador' | translate}}</span>
                </p>
                <p class="follower_nickname">{{followers.nick_name}}</p>
            </div>
            <div class="ui-g-4 ui-sm-4 text-right" style="padding-top: 20px;">
                <button type="button" pButton class="ui-button-green perfil" label="{{'Ver perfil' | translate}}" (click)=redirectPlayerprofile(followers.id)></button>
                <button *ngIf="!followers.admin" type="button" pButton class="ui-button-green seguir" label="{{followers.follow?'dejar de seguir':'SEGUIR' | translate}}" style="" (click)=follow(followers.id,followers.follow,i)></button>
            </div>
        </div>

        <!-- tournament followers -->
        <div class="ui-g-10 ui-lg-10" style="margin-left:4%;" *ngIf="showSeeMore">
            <button type="button" pButton label="{{'VER MAS' | translate}}" (click)="seeMore()" class="ui-button-green" style="float:right;"></button>
        </div>
        <div class="ui-g" style="margin-top: 20px;" *ngIf="!followersList.length">
            <div class="ui-g-12 text-center">
                <span style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
            </div>
        </div>
    </div>
</div>