<loader *ngIf='loader'>
</loader>
<div>
    <img class="background" src="assets/images/ground-profile-cover/default.jpg">
    <div class="section">
        <button pButton type="button" label="Regresar" class="ui-button back" (click)="back()"></button>
        <div class="ui-g ui-fluid">
            <div class="ui-g-4 ui-sm-6 ">
                <span class="select_ground_text">Seleccionar cancha</span>
                <br>
                <br>
                <p-dropdown [options]="connectGroundDropdown" [style]="{'width':'100%'}" [(ngModel)]="connectGroundId" (onChange)="connectGroundChangeInfo()">
                    <ng-template let-car pTemplate="item">
                        <div class="ui-g">
                            <img *ngIf="car.value.img" src='{{imageUrl}}{{car.value.img}}' style="width:24px;height:24px;border-radius: 50px;" />
                            <img *ngIf="car.value.img == null" src='assets/images/default_team.png' style="width:24px;height:24px;border-radius: 50px;" />
                            <label>{{car.label}}</label>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="ui-g-3 ui-sm-6">
                <span class="select_ground_text">Seleccionar Mes</span>
                <br>
                <br>
                <p-dropdown [options]="monthOption" [style]="{'width':'100%'}" [(ngModel)]="selectedMonth">
                </p-dropdown>
            </div>
            <div class="ui-g-3 ui-sm-6">
                <span class="select_ground_text">Seleccionar Año</span>
                <br>
                <br>
                <p-dropdown [options]="yearOption" [style]="{'width':'100%'}" [(ngModel)]="selectedYear">
                </p-dropdown>
            </div>
            <div class="ui-g-2 ui-sm-6">
                <br>
                <br>
                <button pButton type="button" label="Continuar" class="ui-button-green" (click)="reserveInfo()"></button>

            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 info_text">
                <span>Reservas del administrador : {{no_of_reservation?.total_admin_reservations}}</span>
                <span>Reservas por usuarios : {{no_of_reservation?.and_someone_total}}</span>
                <span> Reservas por torneos : {{no_of_reservation?.total_tournament}}</span>
                <span> Reservas totales : {{no_of_reservation?.total_reservations_all}}</span>
            </div>
        </div>
        <div class="ui-g" *ngIf="reserveInfoByUser.length">
            <div class="ui-g-12 heading">
                <span>Reserva Simple</span>
            </div>
        </div>
        <div *ngIf="reserveInfoByUser.length">
            <div class="contain greyCol">
                <div class="ui-g ">
                    <div class="ui-g-3 ">
                        <span>Nombre</span>
                    </div>
                    <div class="ui-g-4 ">
                        <span>Email</span>
                    </div>
                    <div class="ui-g-2">
                        <span>Hora</span>
                    </div>
                    <div class="ui-g-1">
                        <span>Fecha</span>
                    </div>
                    <div class="ui-g-2" style="text-align: center">
                        <span>Recurrente</span>
                    </div>
                </div>
            </div>
            <div class="ui-g info" *ngFor="let info of reserveInfoByUser">
                <div class="ui-g-3 ">
                    <span>{{info.name}}</span>
                </div>
                <div class="ui-g-4 ">
                    <span>{{info.email_id}}</span>
                </div>
                <div class="ui-g-2 ">
                    <span>{{info.from_time}} to {{info.to_time}}</span>
                </div>
                <div class="ui-g-2">
                    <span>{{info.from_date}}</span>
                </div>
                <div class="ui-g-1">
                    <span>{{info.recurrent_reservations?'Yes':'No'}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g" *ngIf="reserveInfoByTournament.length">
            <div class="ui-g-12 heading">
                <span>Torneo de Reservas</span>
            </div>
        </div>
        <div *ngIf="reserveInfoByTournament.length">
            <div class="contain greyCol">
                <div class="ui-g ">
                    <div class="ui-g-6 ">
                        <span>Torneo Nombre</span>
                    </div>
                    <div class="ui-g-2 textInfo ">
                        <span>Hora de inicio</span>
                    </div>
                    <div class="ui-g-2 textInfo">
                        <span>Hora de finalización</span>
                    </div>
                    <div class="ui-g-2 textInfo">
                        <span>Fecha</span>
                    </div>
                </div>
            </div>
            <div class="ui-g info" *ngFor="let info of reserveInfoByTournament">
                <div class="ui-g-6 ">
                    <span>{{info.tournament_name}}</span>
                </div>
                <div class="ui-g-2 textInfo">
                    <span>{{info.from_time}} </span>
                </div>
                <div class="ui-g-2 textInfo">
                    <span>{{info.to_time}}</span>
                </div>
                <div class="ui-g-2 textInfo">
                    <span>{{info.from_date}}</span>
                </div>

            </div>
        </div>

        <div class="ui-g" style="margin-top:25px">
            <div class="ui-g-12" *ngIf='reserveInfoByUser.length < 1 && reserveInfoByTournament.length < 1' style="color: darkcyan;font-size: 18px;text-align: center;height: 300px">
                Reserva Información no encontrada.
            </div>
        </div>
    </div>
</div>