.section {
    width: 970px;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 25px;
    position: relative;
}

.select_ground_text {
    font-size: 1.2em;
    margin-top: 12px;
    margin-left: 10px;
}

.greyCol {
    background-color: #003366;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    color: #f2f2f2;
    font-size: 13px;
    border-radius: 10px;
    text-align: left;
}

.info {
    text-align: left;
    color: #003366;
    font-size: 13px;
    margin-top: 15px;
    border-bottom: 1px solid;
}

.background {
    width: 100%;
}

.back {
    position: absolute;
    right: 0px;
    top: -70px
}

.heading {
    text-align: center;
    color: #003366;
    font-size: 1.3em;
    margin-top: 50px;
}

.textInfo {
    text-align: center
}

.info_text {
    display: inline-grid !important;
    font-size: 1.2em;
    color: #003366;
    margin-top: 20px;
}

.info_text span {
    padding-bottom: 5px
}