.progress-outer {
    width: 90%;
    margin: auto;
    background-color: #666;
    border-radius: 8px;
    margin-top: 16px
}
.progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    background: #8ec63f;
    height: 6px;
    border-radius: 8px;
}