<div class="progress-outer">
    <div class="progress-inner" [style.width]="progress + '%'">
    </div>
</div>
<p style="text-align: center;color: #666;font-size: 18px;padding: 8px 0px;">
    {{'Profile completion' | translate}}:&nbsp;<span style="color: #8ec63f">{{progress}}%</span>
</p>