<loader *ngIf="loader"></loader>
<div class="registration_container">
  <div class="ui-g">

    <div style="text-align: center" class="ui-g-12" padding>

      <p style="margin-bottom: 32px" class="signup-heading">
        {{"Congrats!" | translate}}
      </p>


      <p   style="margin-bottom: 32px;color: #8b8e95;font-size: 16px;text-align: center; ">
        {{"You've successfully created your account." | translate}}
      </p>

      <img style="width:110px;" src="assets/images/signup/congrates.png" />
    </div>

    <div class="ui-g-12" style="margin-top: 32px;">
      <button (click)="completeProfile()" class="signup-bttn" pButton type="button" label="{{'Complete profile' | translate}}">
      </button>
    </div>

    <div class="ui-g-12" style="text-align: center">
      <p (click)="skipAll()" style="cursor: pointer;;color: #8b8e95;font-size: 16px;text-align: center;margin-top: 16px;display: grid;">
        {{"I'll do later" | translate}}
      </p>
    </div>

  </div>
</div>