<div class="registration_container">
    <div class="ui-g">
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"Alright, let's start with your name." | translate}}
            </p>
            <span class="ui-float-label">
              <input [(ngModel)]="full_name" (keyup)="validateFullName($event)" id="float-input" type="text" size="40" pInputText> 
              <label for="float-input">{{"Full name" | translate}}</label>
            </span>
            <img class="correct" *ngIf="full_name_valid" src="assets/images/signup/correct.png" />
            <p class="exist" *ngIf="full_name_error">{{"Please enter full name" | translate}}</p>

        </div>
        <div class="ui-g-12" style="margin-top: 60px;">
            <button (click)="next()" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}"> </button>
        </div>
    </div>
</div>