<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>

<!------------------------------------to display player data---------------------------------------------->
<div *ngIf="isAdmin">
    <button pButton type="button" style="float: right;margin-top: 10px;margin-bottom: 10px;" routerLink="./../manage-player" label="{{'Gestionar Jugadores' | translate}}" class="ui-button-green ui-button"></button>
</div>

<div class="section1" *ngFor='let request of player'>
    <div class="ui-g card">
        <div class="ui-g-10 ui-sm-12">
            <div class="ui-g-2 ui-lg-2 ui-md-3 ui-sm-3 logo">
                <img [src]="request?.profile_pic?basePath+request?.profile_pic:'assets/images/default.png'" alt="image">
            </div>
            <div class="ui-g-5 ui-lg-4 ui-md-5 ui-sm-9 info">
                <p class="prime">{{request?.name}} {{request.last_name?request?.last_name:''}}</p>
                <p style="color:#e6263d;font-weight:bold;">{{request?.nick_name}}<label>{{request?.city}}</label></p>
                <p *ngIf="request?.position !=''" style="color:#8DCF25;font-weight:bold;" class="fundado">{{'Posición' | translate}}:<span style="color:white;padding-left: 2%;">{{request?.position}}</span></p>
                <p *ngIf="request?.position==''" style="color:#8DCF25;font-weight:bold;" class="fundado">{{'Posición' | translate}}:<span style="color:white;padding-left: 2%;">--</span></p>
                <p *ngIf="request?.age !=null" style="color:#8DCF25;font-weight:bold;line-height: 1.3;" class="fundado">{{'La edad' | translate}}:<span style="color:white;padding-left: 2%;">{{request?.age}}</span></p>
                <p *ngIf="request?.age==null" style="color:#8DCF25;font-weight:bold;line-height: 1.3;" class="fundado">{{'La edad' | translate}}:<span style="color:white;padding-left: 2%;">--</span></p>
                <p *ngIf="request?.shirt_no !=null" style="color:#8DCF25;font-weight:bold;line-height: 1.3;" class="fundado">{{'Número de camiseta' | translate}}:<span style="color:white;padding-left: 2%;">{{request?.shirt_no}}    
</span></p>
                <p *ngIf="request?.shirt_no==null" style="color:#8DCF25;font-weight:bold;line-height: 1.3;" class="fundado">{{'Número de camiseta' | translate}}:<span style="color:white;padding-left: 2%;">--    
</span></p>
                <p style="color:#8DCF25;font-weight:bold;line-height: 1.3;" class="fundado">{{'ID' | translate}}:<span style="color:white;padding-left: 2%;">{{request?.national_id?request?.national_id:"--"}}</span></p>



            </div>
            <div class="ui-g-3 ui-lg-3 ui-md-2 rating">
                <p style="color:#8DCF25;font-size: 1.8em;margin-left: -50px;" class="prime">{{'ACTITUD' | translate}}</p>
                <p-rating [ngModel]="request?.attitude" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
                <p style="color:white;"></p>
            </div>
            <div class="ui-g-3 ui-lg-3 ui-md-2 rating">
                <p style="color:#8DCF25;font-size: 1.8em;margin-left: -50px;" class="prime">{{'TÉCNICA' | translate}}</p>
                <p-rating [ngModel]="request?.technique" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
                <p style="color:white;"></p>
            </div>
        </div>
        <div class="ui-g-2 ui-sm-12 ver-perfil" style="padding:0px;">
            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 edit-btn" *ngIf="request?.admin  && !request?.status ">
                <button pButton type="button" style="width: 136px;height:40px;margin-top: 30px;font-size: .90499993165em;" label="{{'EDITAR' | translate}}" class="ui-button-green ui-button" [routerLink]="['/dashboard/player/player-profile', request.id]"></button>
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12" *ngIf="!request?.admin && !request?.status">
                <button pButton type="button" style="width: 136px;height:40px;font-size: .90499993165em;" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button" [routerLink]="['/dashboard/player/player-profile', request.id]"></button>
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 edit-btn2" *ngIf="!request?.admin && !request?.status">
                <button pButton type="button" style="width: 136px;height:40px;font-size: .90499993165em;" label="{{request?.follow?'Dejar de seguir':'Seguir'}}" (click)="followPlayer(request.id,request?.follow)" class="ui-button-green ui-button"></button>
            </div>
        </div>
    </div>
</div>
<div class="ui-g" style="margin-top: 100px;height: 100px">
    <div class="ui-g-12 text-center" *ngIf="player.length==0 ">
        <span style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
    </div>
</div>