.accepted-button {
    background: #f2f2f2;
    padding: 13px;
    text-align: center;
    border: #cfcfcf 1px solid;
    color: #828282;
    cursor: pointer;
}

.rejected-button {
    background: #8DCF25;
    padding: 13px;
    text-align: center;
    cursor: pointer;
}

.infm {
    font-size: 12px;
    text-transform: lowercase;
    font-weight: bold;
    color: #8DCF25;
    font-family: 'Montserrat-Regular';
}

.activeLink {
    background: #8DCF25;
}

.hoverOnTd {
    color: #737373;
    /*// background-color: #e6e6e6;*/
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border: 1px solid #737373;
}

.hoverOnTd:hover {
    /*background-color: #8DCF24;*/
    /*color: white;*/
    cursor: pointer;
}


/*// card1-view*/

.section1 {
    max-width: 970px;
    margin: auto;
    margin-bottom: 5px;
}

.main-container {
    margin-top: -8%;
}

.logo>img {
    width: 82px;
    height: 82px;
    border-radius: 50%;
}

.logo {
    text-align: center;
}

.info {
    padding-left: 2%;
    line-height: 1;
    padding-top: 1%;
}

.card {
    background: #043860;
}

.rating {
    padding-top: 2%;
    text-align: center;
}

.prime {
    font-family: 'ChaletComprime CologneEighty';
}

.edit-btn {
    display: flex;
    align-items: center;
    margin-left: 0%;
}

.edit-btn1 {
    margin-top: 20px;
    padding-left: 82px;
}

.edit-btn2 {
    display: flex;
    align-items: center;
    margin-top: 0px
}

.p-rating {
    background: gray;
    border-radius: 25px;
    width: 75%;
}

.funda {
    display: none;
}

.prime {
    color: white;
    font-size: 2em;
}

.infom {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    border: 1px solid #828282;
}

@media screen and (min-width:320px) and (max-width:640px) {
    .rating {
        display: none;
    }
    .ver-perfil {
        background: #043860;
    }
    .fundado {
        display: none;
    }
    .prime {
        color: #043860;
    }
    .funda {
        background: #043860;
    }
    .edit-btn {
        background: #043860;
        padding-left: 24%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .card {
        background: white;
    }
    .funda {
        display: block;
        color: red;
        padding: 2% 0% 2% 9%;
    }
    .logo>img {
        width: 60px;
        height: 60px;
    }
    .info {
        padding-top: 4%;
        display: flex;
        align-items: center;
    }
    .prime {
        font-size: 2em;
    }
    .card {
        width: 100%;
        margin: auto;
        border: 1px solid black;
    }
    .edit-btn1 {
        margin-top: 20px;
        padding-left: 16px;
        background: #043860;
    }
    .edit-btn2 {
        display: flex;
        align-items: center;
        margin-left: 50%;
        padding-bottom: 15px;
        margin-top: -47px;
        padding: 0px;
    }
}