page-otp-verification {
    .text-input-ios {
        font-size: 20px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        margin-right: 0px;
        width: 100%;
        padding-right: 56px;
        color: #113861;
    }
    .text-input-md {
        font-size: 20px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        margin-right: 0px;
        width: 100%;
        padding-right: 56px;
        color: #113861;
    }
    .item-ios.item-block .item-inner {
        padding-right: 0px;
    }
    .item-md.item-block .item-inner {
        padding-right: 0px;
    }
    .item-input-has-focus {
        color: #113861;
    }
    .next {
        border-radius: 30px;
        background: #113861;
        height: 45px;
        width: 110px;
        margin-top: 16px;
        letter-spacing: .5px;
    }
}