<ion-header>
    <ion-navbar no-padding>
        <div style="text-align:center">
            <img class="header-logo" src="assets/images/pelo.png" />
        </div>
    </ion-navbar>
</ion-header>


<ion-content no-bounce no-padding>
    <ion-grid no-padding padding-left padding-top>

        <ion-col no-padding col-12>
            <p style="font-family: roboto-bold;font-size: 24px;margin-bottom: 0px">
                {{"We sent you a code?" | translate}}.
            </p>
            <p style="font-family: roboto-regular;color: #666;font-size: 18px;margin-top:5px;">
                {{"Enter it below to verify" | translate}} {{sign_up_data.country_code}} {{sign_up_data.phone}}.
            </p>
        </ion-col>

        <ion-col margin-top no-padding col-12>
            <ion-item no-padding>
                <ion-input (keyup)="validate($event)" [(ngModel)]="otp" [brmasker]="{mask:'99-99-99', len:8, type:'num'}" type="text" placeholder="{{'Verification code'}}" style="position: relative;">
                </ion-input>
            </ion-item>
        </ion-col>

    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col col-12 text-center>
                <button class="next" [disabled]="!verifyOtpDigiit" (click)="verifyOtp()" ion-button>{{'Verify' | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>