.full-container {
    padding-top: 250px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../../assets/images/ground-profile-cover/default.jpg) no-repeat;
    background-size: 100% 20%;
    padding-bottom: 90px;
}

.heading {
    font-family: 'ChaletComprime CologneEighty';
    font-weight: 500;
    font-size: 3.5em;
}

.section {
    max-width: 970px;
    margin: auto;
}

label {
    font-size: 1em !important;
    padding-left: 5px !important;
}

.para {
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 2%;
}

.cancelButton {
    float: right;
    padding: 6px 0px;
    text-align: center;
}

.setdivbackground {
    background-color: #F2F2F2;
}

.setdivbackground2 {
    background-color: #F2F2F2;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

.sponserbttn {
    padding-top: 2%;
    padding-left: 1%;
}

.spanpos {
    text-align: center;
    padding-left: 15%;
    padding-top: 4%;
}

.para2 {
    font-size: 1em;
    padding-bottom: 1%;
    padding-top: 2%;
}

.uigLeft {
    padding-left: 20px;
}

.logotext {
    padding-top: 5%;
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    width: 150px;
    padding: 7px 6px 7px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: #00253F;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.choose_file_ground {
    position: relative;
    width: 120px;
    margin-left: -6px;
    height: 70px;
    margin-top: -6px;
    overflow: hidden;
}

.submitButton {
    float: right;
    background: #8DCF25;
    border: 1px solid #8DCF25;
    padding: 6px 0px;
    text-align: center;
}

.addsponser {
    float: left;
    background: #8DCF25;
    border: 1px solid #8DCF25;
    margin-top: 5%;
}

.icon1 {
    font-size: 0.9em;
    margin-left: 100%;
    margin-top: 0%;
}

.icon2 {
    font-size: 0.9em;
    margin-left: 100%;
}

.icon3 {
    font-size: 0.9em;
    margin-left: 100%;
    margin-top: 25%;
}

.logotextcancha {
    padding-top: 2%;
}

.setdivbackground3 {
    background-color: #F2F2F2;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 10%;
}

.img {
    margin-top: 10%;
    height: 105px;
    margin-left: 1%;
    padding-left: 10% !important;
    overflow: hidden;
    width: 120px;
}

.img1 {
    margin-top: 10%;
    height: 35px;
    margin-left: 0%;
    padding-left: 10% !important;
    overflow: hidden;
    width: 100px;
}

.img2 {
    margin-top: 25%;
    height: 50px;
    margin-left: 0%;
    padding-left: 10% !important;
    overflow: hidden;
    width: 60px;
    border-radius: 50%;
}

.img3 {
    margin-top: -15%;
    height: 105px;
    margin-left: 20%;
    padding-left: 10% !important;
    overflow: hidden;
    width: 120px;
}

.img4 {
    margin-top: 0%;
    height: 105px;
    margin-left: 20%;
    padding-left: 10% !important;
    overflow: hidden;
    width: 120px;
}

.icon4 {
    font-size: 0.9em;
    margin-left: 100%;
    margin-top: 0%;
}

.delImg {
    width: 50%;
    border-radius: 50%;
    margin-top: 55%;
    height: 50%;
    cursor: pointer;
    margin-left: 135%;
}

.star {
    color: red;
}

.borderColor {
    border-color: red;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}


/*******image cropper (praveen)********/

.image_cropper_heading {
    padding: 0;
    font-size: 2em !important;
    color: white;
    text-transform: uppercase;
}

.result {
    margin: 40px auto;
    margin-bottom: 0;
    display: block;
    background: gray;
    width: 200px;
    border-radius: 100px;
}

.result.rounded>img {
    border-radius: 100px;
}

.square>img {
    width: 95%;
    margin-left: 2%;
    height: 30%;
    margin-top: 35%;
}

input[type='file'] {
    height: 40px;
    width: 116px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 101px;
}

.cancel {
    width: 85% !important;
}

.save {
    padding: 8px 16px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.cropper_label {
    padding-left: 5%;
    color: #828282;
    font-size: 1.2em;
}


/********image cropper********/

@media only screen and (max-width: 640px) {
    .full-container {
        background-size: 100% 10%;
    }
    .stage_row{
        margin-left: 40px !important;
    }
    .text2{
        margin-left: 0px !important ;
       }
      
       .text1{
          margin-left: 0px !important;
          
       }
    .spanpos {
        text-align: left;
        padding-left: 6%;
        padding-top: 4%;
    }
    .img2 {
        margin-top: 50%;
        margin-left: 110%;
    }
    .img1 {
        margin-top: 35%;
        margin-left: 110%;
    }
 
    .logotextcancha {
        padding-top: 6%;
    }
    .img3 {
        margin-top: -57%;
        margin-left: 110%;
    }
    .logotext {
        padding-top: 13%;
    }
    .img4 {
        margin-left: 60%;
        height: 60px;
        width: 85px;
        margin-top: 50%;
    }
    .delImg {
        width: 20%;
        margin-top: 20px;
        height: 9%;
        margin-left: 150px;
    }
    .image_cropper_heading {
        font-size: 3em !important;
    }
    .org_subir {
        margin-left: -15%;
    }
    .choose_file {
        width: 135px;
    }
    .setdivbackground3 {
        padding-left: 0px;
    }
}

.stage{
    display: flex;
     align-items: center;
     position: relative;
     padding-right: 0px;
     padding-left: 0px;
     text-align: center;
     
 } 
 .stage_img{
   padding-right: 0px;
   padding-left: 0px;

 }

 .stage_line{
   border-bottom: 1px solid #d7d7d7;
   width: 100%;
   margin: 0px -15px 0px -9px;
   
 }
  
 .stage_row{
     margin-left: 90px;
 }

 .text2{
    margin-left: -50px;
   }
  
   .text1{
      margin-left: -30px;
      
   }