<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>

<div class="full-container">
    <div class="section">
        <div *ngIf="!demo" class="ui-g stage_row">
            <div class="ui-g-3   ">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/1.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Ingrese los detalles primarios' | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3 stage_img">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/2 opt.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Ingrese los detalles completos' | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3  stage_img ">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/3.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text1">
                    <p>{{"Seleccionar paquete" | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3 stage_img  ">
                <div class="ui-g-12  ">
                    <img src="assets/images/stages/4.png" />
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Seleccionar la opción de pago' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <h2 class="heading">{{name}}</h2>
                <hr>
            </div>
        </div>


        <div class="ui-g">
            <div class="ui-g-12 para">
                <p>{{'Elegir imagen de la portada y el perfil' | translate}}</p>
            </div>
        </div>

        <div class="ui-g setdivbackground">
            <div class="ui-g-12">

                <div class="ui-g-6 ui-sm-12">
                    <div class="ui-g-6 center spanpos"><label>{{'Imagen de perfil' | translate}}</label></div>
                    <div class="ui-g-6 text-left">
                        <button type="button" class="choose_file" style="cursor:pointer">
               <span style="cursor: pointer;color: white;position: relative;font-size: 1.2em;">{{'SUBIR' | translate}}</span>
               <input accept="image/x-png,image/gif,image/jpeg"  type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" (change)="fileChangeListener($event,'args','profile')" />
               </button>
                    </div>
                </div>

                <div class="ui-g-6 ui-sm-12">
                    <div class="ui-g-1">
                        <img src='{{ file_src_profile }}' alt="" class="img2" *ngIf="file_src_profile!=''" />
                    </div>
                    <div class="ui-g-11">
                        <div class="ui-g-4">
                            <div><i class="fa fa-4x fa-chevron-left icon2" aria-hidden="true"></i></div>
                        </div>
                        <div class="ui-g-8">
                            <p style="text-align:justify">
                                {{'Te recomendamos usar Imagenes de Minimo 300*300 px en.Jpg 0.png Para Una major visualizacion.' | translate}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="ui-g-12">

                <div class="ui-g-6 ui-sm-12">
                    <div class="ui-g-6 center spanpos"><label>{{'Imagen de portada' | translate}}</label></div>
                    <div class="ui-g-6 text-left">
                        <button type="button" class="choose_file" style="cursor:pointer">
                            <span style="cursor: pointer; color: white;position: relative;font-size: 1.2em;">{{'SUBIR' | translate}}</span>
                            <input accept="image/x-png,image/gif,image/jpeg"  type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" (change)="fileChangeListener($event,'args','cover')" />
                        </button>
                    </div>
                </div>

                <div class="ui-g-6 ui-sm-12">
                    <div class="ui-g-1">
                        <img src='{{ file_src_cover }}' alt="" class="img1" *ngIf="file_src_cover!=''" />
                    </div>
                    <div class="ui-g-11">
                        <div class="ui-g-4">
                            <div><i class="fa fa-4x fa-chevron-left icon2" aria-hidden="true"></i></div>
                        </div>
                        <div class="ui-g-8">
                            <p style="text-align:justify">
                                {{'Te recomendamos usar Imagenes de Minimo 300*300 px en.Jpg 0.png Para Una major visualizacion.' | translate}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- <div class="ui-g">
      <div class="ui-g-12 para2">
        <p>{{'Court imágenes' | translate}}</p>
      </div>
    </div>
    <hr>
    <div class="ui-g setdivbackground">
      <div class="ui-g-12" *ngFor="let i of courts.court_ids;let ind=index">
        <div class="ui-g-6 ui-sm-12 center">
          <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6 center spanpos"><label>{{i.name}}</label></div>
          <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6 text-left">
            <button type="button" class="choose_file" style="cursor:pointer">
                                <span style="cursor: pointer; color: white;position: relative;font-size: 1.2em;">{{'SUBIR' | translate}}</span>
                                <input accept="image/x-png,image/gif,image/jpeg"  type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" (change)="courtProfile($event,i.id,ind)" />
                            </button>
          </div>
        </div>
        <div class="ui-g-6 ui-sm-12 hide ">
          <div class="ui-g-1">
            <img src={{court_image[ind]}} alt="" class="img2" *ngIf="court_image[ind]" />
          </div>
          <div class="ui-g-11">
            <div class="ui-g-4">
              <div><i class="fa fa-4x fa-chevron-left icon1" aria-hidden="true"></i></div>
            </div>
            <div class="ui-g-8">
              <p style="text-align:justify">
                {{'Te recomendamos usar Imagenes de Minimo 300*300 px en.Jpg 0.png Para Una major visualizacion.' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
 -->

        <div class="ui-g">
            <div class="ui-g-12 para2">
                <p>{{'otro Imagen' | translate}}</p>
            </div>
        </div>
        <hr>
        <div class="ui-g ui-fluid setdivbackground3">
            <div style="text-align:center" class="ui-g-2 ui-sm-6 " *ngFor="let info of groundImageInfo;let i of index;">
                <button type="button" class="choose_file_ground" style="cursor:pointer" *ngIf="info?.url==''">
                        <span style="cursor: pointer; color: white;position: relative;font-size: 1.2em;">{{'IMAGE' | translate}}</span>
                        <input accept="image/x-png,image/gif,image/jpeg"  type="file" name="img" value="upload" (change)="groundPicChange($event,input,'ground',info?.pos)" #input />
                  </button>
                <img src='{{imageBasePath}}{{info.url}}' alt="" class="choose_file_ground" *ngIf="info?.url!=''" />
            </div>
        </div>


        <div class="ui-g">
            <div class="ui-g-12 para2">
                <span>{{'Agregar Auspiciante' | translate}} </span> &nbsp;&nbsp;&nbsp; <span>({{'Al añadir más de un auspiciante,enumerar por prioridad del 1-5' | translate}})</span>
            </div>
        </div>
        <hr>
        <div class="ui-g ui-fluid setdivbackground2 ">
            <div *ngFor="let add of sponser_list; let i=index" style="width:100%" class="setPadding">
                <div class="ui-g-3 ui-sm-12">
                    <label>{{' Nombre del auspiciante' | translate}} <span class="star">*</span></label><br><br>
                    <input type="text" pInputText placeholder="Nombre del auspiciante" [(ngModel)]="add.sponser_name" [class.borderColor]="add.sponserNameValid" />
                </div>
                <div class="ui-g-2 ui-sm-12">
                    <label> {{'Prioridad' | translate}} </label><br><br>
                    <input type="text" pInputText placeholder="{{'Prioridad' | translate}}" [(ngModel)]="add.priority" />
                </div>
                <div class="ui-g-2 ui-sm-6 logotext text_hide">
                    <label>{{"Imagen de logo" | translate}}</label>
                </div>
                <div class="ui-g-2 ui-sm-6">
                    <br><br>
                    <button type="button" class="choose_file" style="cursor:pointer">
                        <span style="cursor: pointer; color: white;position: relative;font-size: 1.2em;">{{'SUBIR' | translate}}</span>
                        <input accept="image/x-png,image/gif,image/jpeg"  type="file" name="img" value="upload" style="cursor:pointer;height: 48px;"
                         (change)="sponserPicChange($event,i,'sponser' ,input3)" #input3 />
                  </button>
                </div>
                <div class="ui-g-1 ui-sm-2">
                    <img src='{{ add.sponserImage }}' alt="" class="img4" *ngIf="add.sponserImage!=null" />
                </div>
                <div class="ui-g-1 ui-sm-10">
                    <img src="assets/images/del.jpg" class="delImg" (click)="deleteSponserField(i)" />
                </div>
            </div>
            <br>
            <br>
            <div class="ui-g">
                <div class="ui-g-12">
                    <button type="button" class="addsponser" label="{{'AGREGAR AUSPICIANTE' | translate}}" pButton (click)="addSponserField()"></button>
                </div>
            </div>
        </div>

        <br><br>
        <div class="ui-g ui-fluid">
            <div class="ui-g-8 text_hide"></div>
            <div class="ui-g-2 ui-sm-6">
            </div>
            <div class="ui-g-2 ui-sm-6">
                <button type="button" class="submitButton" label="{{'CONTINUAR' | translate}}" pButton (click)="createGround()"></button>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>

<!--************** Image Cropper Popup*********************-->
<div class="tournament_profil">
    <div class="ui-g">
        <p-dialog [(visible)]="display" modal="modal" showEffect="fade">
            <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 15px 30px;">
                    <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                </div>
            </div>
            <div class="ui-g" style="padding: 30px;padding-right:0;">
                <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="squareImg">
                    <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                </div>
                <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="circleImg">
                    <img-cropper #cropper [image]="data2" [settings]="cropperSettings2"></img-cropper>
                </div>
                <div class="ui-g-5 ui-sm-5 ui-md-5 ui-lg-5 text-center">
                    <label>{{'Preview' | translate}}</label>
                    <span class="result rounded" *ngIf="circleImg">
                            <img [src]="data2.image" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight">
                        </span>
                    <span class="square" *ngIf="squareImg">
                			<img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
              			</span>
                    <br/>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-6  ui-md-6 ui-lg-6"></div>
                <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
                    <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="display=false;backdrop=false;"></button>
                    <button pButton type="button" class="ui-button-green save" label="{{'GUARDAR' | translate}}" (click)="uploadCropImage()"></button>
                </div>
            </div>
        </p-dialog>
    </div>
</div>
<!--************** Image Cropper Popup*********************-->

<div [class.backdrop]="backdrop"></div>