.full-container {
    padding-top: 145px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 225px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/cancha_filter.jpg) no-repeat;
    background-color: #ffffff;
    background-size: contain;
    padding-bottom: 200px;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.section {
    width: 970px;
    margin: auto;
}

.tournament {
    color: white;
    font-size: 45px;
    font-weight: normal;
    padding: 0% 0px 3% 0%;
    font-family: 'ChaletComprime CologneEighty';
}

.search-results {
    height: 71rem;
    overflow-y: scroll;
}

.create_tournament {
    color: white;
    font-size: 20px;
    float: right;
    padding-top: 15px;
    cursor: pointer;
}

.drop-down {
    margin: 4% 0% 0% 7%;
}

.text {
    display: none;
}

.datos>h3 {
    padding: 150px;
    margin-left: 85px;
}

.actions {
    display: none;
}

.fa {
    display: none;
}

.mobtn {
    display: none;
}

.cityHint {
    margin-left: 10%;
    font-size: 10px;
    color: darkcyan;
    padding-top: 3px;
    margin-bottom: -3px;
}


/**** shobhit-changes*******/

@media screen and (min-width: 640px) and (max-width:825px) {
    .full-container {
        padding-top: 43px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 72px, #f8f8f8 0px), url(./../../../assets/images/player_filter.jpg) no-repeat;
    }
}

@media screen and (min-width: 800px) and (max-width:1000px) {
    .full-container {
        padding-top: 71px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 140px, #f8f8f8 0px), url(./../../../assets/images/player_filter.jpg) no-repeat;
        width: 100%;
    }
}

@media screen and (min-width: 1000px) and (max-width:1280px) {
    .full-container {
        padding-top: 90px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, black 172px, #f8f8f8 0px), url(./../../../assets/images/player_filter.jpg) no-repeat;
        background-color: #ffffff;
        background-size: contain;
    }
}

@media screen and (min-width: 640px) and (max-width:800px) {
    .header {
        height: 36px !important;
    }
}

@media only screen and (max-width: 640px) {
    .full-container {
        padding-top: 90px !important;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 136px, black 95px, #f8f8f8 0px) 0% 0%/100%, url(./../../../assets/images/cancha_filter.jpg) no-repeat !important;
        background-size: inherit;
    }
    .create_tournament {
        color: white;
        font-size: 15px;
        float: right;
        padding-top: 15px;
        cursor: pointer;
    }
    .datos>h3 {
        padding: 15px;
        margin-left: 95px;
    }
    .text {
        display: block;
    }
    .rowsBorder {
        border: 1px solid white;
    }
    .filtor {
        display: none;
    }
    .fa {
        display: block;
    }
    .mobtn {
        display: block;
    }
    .actions {
        display: block;
        position: fixed;
        bottom: 0%;
        left: 0%;
        z-index: 1;
        padding: 0px;
    }
    i.times {
        display: block;
        padding-top: 19%;
        font-size: 15px;
        border-radius: 50%;
        border: 1px solid #828282;
        height: 23px;
        width: 29px;
        color: #828282;
    }
    .clear>p {
        background-color: gray;
        padding-top: 10%;
        padding-bottom: 10%;
        color: white;
        text-align: center;
        font-size: 13px;
    }
    .apply>p {
        padding-top: 10%;
        padding-bottom: 10%;
        color: white;
        text-align: center;
        font-size: 13px;
    }
    .div2Chlid1 {
        width: 90%;
        margin: auto;
    }
}


/*my css*/

.firstRow {
    padding-top: 35px;
}

.bgImage {
    background-image: url(./../../../assets/images/tourCoverPic.png);
    background-size: 100%;
    max-width: 100%;
    padding-top: 5%;
}

.spaceBottom {
    padding-bottom: 2%;
    font-size: 1em;
    color: #828282;
}

#TORNIOS {
    color: white;
    font-family: Arial;
    font-size: 45px;
    font-weight: bold;
    padding: 10% 0px 3% 15%;
}

#Logo {
    position: absolute;
    top: 2%;
    left: 2%;
}

.rowsBorder {
    border: 1px solid lightgray;
    background: white;
}

.div3 {
    background-color: orange;
}

.div4 {
    background-color: pink;
}

.btnFILTROS {
    width: 80%;
    margin-top: 5%;
    background-color: #043760 !important;
}

#MODALIDAD {
    color: lightslategray;
    font-size: 15px;
    font-weight: bold;
}

label {
    font-size: 1em;
}

.my_tournament {
    margin-bottom: 5%;
    margin-left: 5%;
    font-size: 1em;
}

#merDiv {
    margin-left: 9%;
    margin-top: 7%;
    font-size: 1.2em;
}

.ui-dropdown label.ui-dropdown-label {
    cursor: pointer;
    font-size: 10px !important;
}

.checkBOX {
    margin-top: 5%;
    margin-left: 5%;
}

.check1 {
    height: 50px !important;
}

.backImage .cover_img {
    border-bottom: 1px solid lightgrey;
}

.div2 {
    border-left: 1px solid lightgrey;
}

.div2Chlid1 {
    background-color: white;
    border: 1px solid lightgray;
}

.backImage {
    position: relative;
}

.backImage>img {
    width: 100%;
    position: relative;
    height: 44px;
}

.merRow {
    position: absolute;
    top: 23%;
    width: 92%;
}

.COPA {
    color: #043760;
    font-size: 2.5em;
    font-family: 'ChaletComprime CologneEighty';
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Inscripciones {
    color: #8CCE25;
    line-height: 0.9;
    padding-bottom: 3%;
}

.copatext {
    padding-left: 1%;
}

.CircleDiv {
    border-radius: 100px;
}

.CircleDiv>img {
    width: 60px;
    height: 60px;
    padding: 6%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.smallcircle {
    border-radius: 25px;
    background-size: 100% 100%;
}

.smallcircle>img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 6%;
}

#marnCol {
    padding-left: 7%;
    padding-top: 18%;
}

.bold {
    color: #828282;
}

.INSCRIBIR {
    background-color: #8CCE25 !important;
    border: none !important;
    padding: 4px;
    margin-bottom: 12px;
}

.FECHAcolor {
    color: #043760 !important;
    padding-top: 3%;
}

.btnDiv {
    padding-top: 3%;
    padding-bottom: 3%;
}

.SIGUE {
    font-size: 5em;
    color: darkgrey;
    line-height: 1.0;
    font-family: 'ChaletComprime CologneEighty';
}

.GRANDE {
    font-size: 7em;
    color: #8CCE25;
    font-family: 'ChaletComprime CologneEighty';
}

.imgMargin {
    margin: 1%;
}

.fa-forward {
    display: none !important;
}

.fa-backward:before {
    display: none !important;
    ;
}

.fa {
    display: none;
}

@media screen and (min-width:890px) and (max-width:1024px) {
    .CircleDiv>img {
        width: 60px;
        height: 60px;
        padding: 6%;
        border-radius: 50%;
        position: absolute;
        top: 0;
    }
    .INSCRIBIR {
        width: 88%;
        height: 31px !important;
        font-size: 10px;
        margin-bottom: 3px;
    }
}

@media screen and (min-width:1025px) and (max-width:1250px) {
    .CircleDiv>img {
        width: 60px;
        height: 60px;
        padding: 6%;
        border-radius: 50%;
        position: absolute;
        top: 0;
    }
}

@media screen and (min-width:640px) and (max-width:890px) {
    .CircleDiv>img {
        width: 60px;
        height: 60px;
        padding: 6%;
        border-radius: 50%;
        position: absolute;
        top: 27%;
        left: -3%;
    }
    #marnCol {
        padding-top: 40%;
    }
    .INSCRIBIR {
        width: 80% !important;
        height: 31px !important;
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: inherit !important;
    }
    .spaceBottom {
        padding-bottom: 2%;
        font-size: 0.9em;
    }
    #merDiv {
        font-size: 0.8em;
    }
    #MODALIDAD {
        font-size: 14px;
        font-weight: bold;
    }
}

.fa-backward {
    display: none;
}

.input-text {
    margin: 4% 0% 0% 7%;
}

.verify_img {
    height: 18px;
    position: absolute;
    right: 0px;
    top: 45px;
}

@media screen and (min-width:320px) and (max-width:640px) {
    .SIGUE {
        font-size: 2em;
    }
    .GRANDE {
        font-size: 3em;
    }
    .imgMargin {
        width: 50px;
        height: 50px;
    }
    .filtros {
        display: block;
    }
    .rowsBorder {
        border: none;
    }
    .filtors {
        display: block;
        margin: 0 auto;
        margin-bottom: 6%;
        width: 62%;
    }
    .tournament {
        color: white;
        font-size: 24px;
        font-weight: normal;
        padding: 7% 0px 7% 4%;
        font-family: 'ChaletComprime CologneEighty';
    }
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1
}
.invite_popup_header{
    text-align: center;
    padding: 5px 0px 5px 60px;
    margin-bottom: 20px;
    color: white;
    background: #113861;
    
}