<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="ui-g full-container">
    <div class=" section">
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-4 ui-md-6">
                <p class="tournament">{{'CANCHAS' | translate}}</p>
            </div>
            <div class="ui-g-12 ui-sm-8 ui-md-6 text-right">
                <button pButton type="button" class="ui-button-green butns" [routerLink]="['../create-ground']" label="{{'CREAR CANCHA' | translate}}"></button>
            </div>

        </div>

        <!--=========  Section 2 ==========-->

        <div class="ui-g rowsBorder">
            <div class="ui-g-12 mobtn">
                <div class="ui-g-10 ui-sm-10 text text-center">
                    <button pButton type="button" class="mob-btn" style="background-color:#00253f;padding: 8px 42px;" (click)="show=!show" (click)=fun() label="{{'FILTROS' | translate}}"></button>
                </div>

            </div>


            <div *ngIf="!show" class="ui-g-3 ui-sm-12 left-sidebar gap1">
                <!--//==================== Start Filter ======================= //-->
                <div class="ui-g-12">
                    <div align="center" class="filtor">
                        <h3 style="color:#043760;">{{"FILTROS" | translate}}</h3>
                    </div>

                </div>


                <div class="my_tournament">
                    <p-checkbox name="group1" value="" binary="true" [(ngModel)]="myGround" (click)="myGrounds(1);groundData=[]" label="{{'Mis Canchas' | translate}}" class="check1">checkbox is not working></p-checkbox>
                </div>

                <!----------------NAME FILTER------------------------------------------------>
                <div id="merDiv">
                    <p id="MODALIDAD">{{"Buscar" | translate}}</p>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-8 input-text">
                        <input type="text" [(ngModel)]="nameSelected" [disabled]="disable1" pInputText placeholder="{{'Buscar por nombre' | translate}}" (keyup)="filter()" />
                    </div>
                </div>

                <!------------------CITY FILTER------------------------------------------------>
                <!-- <div id="merDiv">
                    <p id="MODALIDAD">{{"Ciudad" | translate}}</p>
                </div>

                <div class="cityHint">
                    <p id="a">{{'Seleccione en la lista desplegable.' | translate}}</p>
                </div>

                <div class="ui-g">
                    <div class="ui-g-8 drop-down">
                        <p-autoComplete [suggestions]="cities" field="location" [disabled]="disable1" (onSelect)="cityFilter($event)" (completeMethod)="searchCity($event)" placeholder="{{'Ciudad' | translate}}" [minLength]="0">
                            <ng-template let-selectedCity pTemplate="item">
                                <span>{{selectedCity.location}}</span>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div> -->

                <!---------------------TYPE FILTER-------------------------------------------->
                <div id="merDiv">
                    <p id="MODALIDAD">{{"Tipo" | translate}}</p>
                </div>

                <div class="ui-g checkBOX ">
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" value="Salón" [(ngModel)]="type" label="{{'Salón' | translate}}" (click)="filter()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="Césped sintético" [(ngModel)]="type" label="{{'Césped sintético' | translate}}" class="check1" (click)="filter()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="Césped natural" [(ngModel)]="type" label="{{'Césped natural' | translate}}" class="check1" (click)="filter()"></p-checkbox>
                    </div>
                </div>

                <!-----------------COST FILTER-------------------------------------------->


                <!--------------------MODALITY FILTER-------------------------------------------------->
                <div id="merDiv">
                    <p id="MODALIDAD">{{"Modalidad" | translate}}</p>
                </div>

                <div class="ui-g checkBOX ">

                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V5" [(ngModel)]="modality" label="5 V 5" class="check1" (click)=filter()></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V6" [(ngModel)]="modality" label="6 V 6" class="check1" (click)=filter()></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V7" [(ngModel)]="modality" label="7 V 7" class="check1" (click)=filter()></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V8" [(ngModel)]="modality" label="8 V 8" class="check1" (click)=filter()></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V9" [(ngModel)]="modality" label="9 V 9" class="check1" (click)=filter()></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V11" [(ngModel)]="modality" label="11 V 11" class="check1" (click)=filter()></p-checkbox>
                    </div>
                </div>
                <!-------------------------------RATING FILTER------------------------------------------>
                <div id="merDiv">
                    <p id="MODALIDAD">{{"Rating" | translate}}</p>
                </div>

                <div class="ui-g checkBOX ">

                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="1" [(ngModel)]="rating" class="check1" (click)=filter()></p-checkbox>
                        <img src="assets/images/1star.png" style="height:15px;padding-left:10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="2" [(ngModel)]="rating" class="check1" (click)=filter()></p-checkbox>
                        <img src="assets/images/2star.png" style="height:15px;padding-left:10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="3" [(ngModel)]="rating" class="check1" (click)=filter()></p-checkbox>
                        <img src="assets/images/3star.png" style="height:15px;padding-left:10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="4" [(ngModel)]="rating" class="check1" (click)=filter()></p-checkbox>
                        <img src="assets/images/4star.png" style="height:15px;padding-left:10px;" />
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="5" [(ngModel)]="rating" class="check1" (click)=filter()></p-checkbox>
                        <img src="assets/images/5star.png" style="height:17px;padding-left:10px;" />
                    </div>

                </div>
                <!---------------RATING filter ends here-->
                <!--CARD VIEW starts here------------------------------------------------------------------------>
            </div>

            <div class="ui-g-9 ui-sm-12 ui-g-nopad div2 " *ngIf="cards">
                <div class="ui-g gap" *ngFor="let groundInfo of groundData">
                    <!---------------first card---------------------------------------------------------------->
                    <div *ngFor="let ground of groundInfo" class="ui-g-4 ui-sm-12 ui-g-nopad ui-lg-4 div2Chlid1">
                        <div class="ui-g-12 ui-g-nopad backImage">
                            <img class="cover_img" [src]="ground.cover_pic==null?'assets/images/ground-profile-cover/default.jpg':basePath+ground.cover_pic" alt="cover_pic">
                            <div class="ui-g merRow">
                                <div class="ui-g-5">
                                    <div class="CircleDiv">
                                        <img [routerLink]="['/dashboard/ground/ground-profile'+'/'+ground?.id ]" [src]="ground.profile_pic==null?'assets/images/ground-profile-logo/default.png':basePath+ground.profile_pic">
                                    </div>
                                    <img *ngIf="ground?.is_peloteando_certified" class="verify_img" src="assets/images/verify.png" />
                                </div>
                                <div class="ui-g-7 copatext">
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12" id="marnCol">
                            <div class="ui-g-12" style="padding-left:0;">
                                <p class="COPA" [routerLink]="['/dashboard/ground/ground-profile'+'/'+ground?.id ]">
                                    <a style="text-decoration:none; color:#043760;font-size: 25px;">{{ground?.ground_name?ground?.ground_name:'----'}} </a>
                                </p>
                            </div>
                            <p class="FECHAcolor">{{"Tipo" | translate}}</p>
                            <small style="color: #828282;">{{ground?.type_of_field?ground?.type_of_field:'Unknown'}}</small>
                            <p style="color:#043760;">{{"Modalidad" | translate}} </p>
                            <small style="color:#828282;">{{ground?.field_format?ground?.field_format:'----'}}</small>
                            <p style="color:#043760;">{{'Costo desde' | translate}}</p>
                            <small style="color:#828282;">{{ground.cost_per_game?ground?.cost_per_game:'....'}}</small>
                            <p style="color:#043760;">{{'Ciudad' | translate}}</p>
                            <small style="color:#828282;">{{ground.city.city_name?ground?.city?.city_name:'....'}}</small>
                            <p style="color:#043760;">{{'Teléfono' | translate}}</p>
                            <small style="color:#828282;">{{'+593'}}{{ground?.contact?ground?.contact:'----'}}</small>
                        </div>
                        <div class="ui-g-12" style="text-align: center">
                            <button pButton type="text" style="width: 45%" [routerLink]="['/dashboard/ground/ground-profile'+'/'+ground?.id ]" label="{{'Info' | translate}}" class="INSCRIBIR"></button>
                            <button *ngIf="ground?.is_peloteando_certified" pButton type="text" style="width: 45%" (click)="reserve(ground?.court_id,ground?.id,ground?.payment_method)" label="{{'RESERVAR' | translate}}" class="INSCRIBIR"></button>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="isdata" style="text-align:center;">
                    <h3 class="datos" style="color: darkcyan;">{{'Datos no encontrados' | translate}}</h3>
                </div>


                <div *ngIf="isError">
                    <h3 style="padding: 150px;margin-left: 124px;color: darkcyan;">{{'Algunos de error vuelve a intentarlo ...' | translate}}</h3>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Dummy field confirmation popup -->
<div class="dummy_confirm">
    <p-dialog [(visible)]="backdrop" modal="modal" [dismissableMask]="true" [resizable]="false">
        <div class="ui-g invite_popup_header">
            <div class="ui-g-9">
                <span class="popup_heading">{{'Message' | translate}}</span>
            </div>
            <div class="ui-g-3 text-right">
                <span style="cursor:pointer" (click)="backdrop=false">
                    X
                </span>
            </div>
        </div>
        <div style="text-align:center" class="ui-g-12">
            Do you want to create Demo field?
        </div>
        <div style="text-align:right" class="ui-g-12">
            <button pButton type="button" class="ui-button-green" (click)="confirm('yes')" label="Yes"></button>
            <button pButton type="button" class="ui-button-green" (click)="confirm('no')" label="No"></button>

        </div>

    </p-dialog>
</div>
<!-- Cloded dummy confirmation popup -->
<div [class.backdrop]="backdrop"></div>