<div class="full-container">
    <div class="section">

        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 paddThisCol">
                <span class="tournament_name">{{tournament_name}}</span>
                <img *ngIf="showProfileBttn" src="assets/images/del.jpg" class="delImg" (click)="deleteTournament=true" pTooltip="Eliminar el torneo" />
                <a [routerLink]="['/dashboard/tournaments/tournament-profile',id]"><span class="backTotournament">
                    {{'Volver al torneo' | translate}}</span></a>
                <hr class="hrtag">
            </div>
        </div>

        <div class="ui-g paddThisCol">
            <div class="ui-g-4 ui-md-4 ui-sm-12 ui-lg-4 bg1">
                <div class="ciRclediv">
                    <a [routerLink]="['edit-tournament']">
                        <div class="ui-g">
                            <div class="ui-g-12 paddrem" [class.activeLink]="tournamentLink" id="edit-tournament" (click)='setActiveClass("edit-tournament")'>
                                <span class="paso merLEFT">{{"Paso" | translate}} 1-</span> <span class="perfil">{{'Perfil' | translate}}</span>
                            </div>
                        </div>
                    </a>
                    <a [routerLink]="['create-round']">
                        <div class="ui-g">
                            <div class="ui-g-12 paddrem" [class.activeLink]="!tournamentLink" id="create-round" (click)='setActiveClass("create-round")'>
                                <span class="paso merLEFT">{{"Paso" | translate}} 2-</span> <span class="perfil">{{'Rondas' | translate}}</span>
                            </div>
                        </div>
                    </a>
                    <div class="ui-g ">
                        <div class="ui-g-12 paddrem" [id]='rounds?.round_name' *ngFor='let rounds of roundsDetails' (click)='rountsRoutingFun(rounds); setActiveClass(rounds?.round_name)'>
                            <label>{{rounds?.round_name}} ({{rounds?.round_type}})</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-8 ui-md-8 ui-sm-12 ui-lg-8 bg2 paddRowTorneo">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>


<p-dialog [(visible)]="roundValidation" modal="modal" class="delete_ground" [resizable]=false [responsive]=true>
    <div class="ui-g  ui-fluid">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 header">
            <span>{{'MENSAJE' | translate}}</span>
        </div>
        <div class="ui-g-12">
            <p style="margin-left: 1%; margin-top: 5px; color:darkcyan">{{"En la actualización de sus dependencias se eliminarán" | translate}}</p>
        </div>
        <div class="ui-g-12 ">
            <div class="ui-g-6">
                <button type="button" class="cancelButton" label="{{'CANCELAR' | translate}}" pButton (click)="roundValidation=false"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" class="ui-button-green ui button" label="{{'De acuerdo' | translate}}" pButton (click)="roundValidationRouting()"></button>
            </div>
        </div>
    </div>
</p-dialog>

<div [class.backdrop]="roundValidation"></div>
<div [class.backdrop]="deleteTournament"></div>

<p-dialog [(visible)]="deleteTournament" modal="modal" class="delete_ground" [resizable]=false [responsive]=true>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 header">
            <span>{{'MENSAJE' | translate}}</span>
        </div>
        <div class="ui-g-12">
            <p style="color:darkcyan;text-align: justify;">{{'La información relacionada con este torneo será eliminada' | translate}}</p>
        </div>
        <div class="ui-g-12  ui-fluid">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button" label="{{'NO' | translate}}" (click)="deleteTournament=false"></button>
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button-green" label="{{'SI' | translate}}" (click)="deleteTournamentInfo();deleteTournament=false"></button>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
    </div>
</p-dialog>