.full-container {
    padding-top: 200px;
    background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 215px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../../assets/images/tournament-profile-cover/results-back.png) no-repeat;
    background-color: #ffffff;
    background-size: 100%;
    padding-bottom: 90px;
}

.section {
    max-width: 970px;
    margin: auto;
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}

.header {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.header span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

@media screen and (max-width:640px) {
    .full-container {
        padding-top: 139px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 95px, black 145px, #f8f8f8 0px) 0% 0%/100%, url(./../../../../assets/images/tournament-profile-cover/results-back.png) no-repeat;
    }
}

.drop {
    padding: 5px 10px;
}

.background_img {
    background-image: url("./../../../../assets/images/back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.paddThisCol {
    padding: 3% 2% 0% 2%;
    max-width: 970px;
    margin: 0 auto;
}

.tournament_name {
    font-size: 3.5em;
    color: #00253f;
    font-weight: normal;
    font-family: 'ChaletComprime CologneEighty';
    text-transform: uppercase;
}

.backTotournament {
    float: right;
    cursor: pointer;
    margin-top: 1%;
    color: #99cc00;
}

.ciRclediv a {
    text-decoration: none;
}

.ciRclediv {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #b3b3b3;
    height: 358px;
    overflow-y: scroll;
    background: #f2f2f2;
    padding-left: 15px;
}

.ciRclediv::-webkit-scrollbar {
    -webkit-appearance: none;
}

.colPAD {
    padding: 2%;
}

.mrgnTOPCreateTeam {
    margin-top: 2%;
}

.paddrem:hover .perfil {
    color: white;
}

.paddrem {
    padding-bottom: 3%;
    padding-top: 4%;
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

.paddrem:hover {
    background-color: #99cc00;
    cursor: pointer;
}

.paso {
    color: #000033;
    font-size: 18px;
}

.perfil {
    color: #8c8c8c;
    font-size: 15px;
}

.merLEFT {
    margin-left: 4%;
}

.borderRDUS {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.ELEGIR {
    font-size: 20px;
    color: #666666;
}

.btnn {
    width: 40%;
    padding: 2%;
    border: none !important;
    font-size: 18px;
}

.secndBtn {
    width: 95%;
    padding: 3%;
    border: none !important;
    font-size: 15px;
}

.paddRowTorneo {
    padding: 1% 0% 1% 3%;
}

.Tcolor {
    color: #99cc00;
    font-size: 18px;
}

.MERtOP {
    margin-top: 3%;
}

.rounds {
    width: 100%;
    background-color: #e6e6e6;
    border-radius: 30px;
}

.ronda1 {
    color: #666666;
    font-size: 18px;
}

.gFonts {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
}

.mrgintopp {
    margin-top: 2%;
}

.agregarRonda {
    color: #666666;
    font-size: 25px;
}

.roundDetail {
    color: #666666;
    font-size: 18px;
    padding-left: 5%;
}

.textWidth {
    width: 100%;
}

.BtnContinuar {
    width: 95%;
    padding: 3%;
    border: none !important;
    font-size: 15px;
}

.editPen {
    font-size: 18px;
    color: #666666;
    margin-left: 1%;
}

.tops {
    width: 970px;
    margin: 0 auto;
}

.delImg {
    width: 3%;
    border-radius: 50%;
    float: right;
    margin-left: 25px;
    cursor: pointer;
}


/*===================== @media query=====================*/

@media(max-width:1025px) {
    .btnn {
        width: 100%;
        padding: 2%;
        background-color: #99cc00 !important;
        border: none !important;
        font-size: 18px;
    }
    .secndBtn {
        width: 85%;
        font-size: 14px;
    }
    .bgcolo {
        margin-left: 13%;
    }
}

@media screen and (min-width:320px) and (max-width:640px) {
    .roundDetail {
        font-size: 16px;
    }
    .paddRowTorneo {
        padding: 1% 0% 1% 0%;
    }
    .delImg {
        width: 7%;
    }
    .tournament_name {
        font-size: 1.7em;
    }
}

.activeLink {
    background: #99cc00 !important;
    color: white;
}

.active {
    background: red;
}