<div class="findcommunity_container">


    <div class="base-area search_c">
        <div class="ui-g">
            <div class="ui-g-12">
                <p class="content_heading">
                    {{"Find your football community and experience the sport like a pro!" | translate}}
                </p>
                <p class="para">{{"Find the league, venue, academy, team or scouting organization that fits your needs." | translate}}</p>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-5 ui-sm-12">
                <div style="position: relative;padding: 0px" class="drop-down com1-search">
                    <input type="text" #t pInputText placeholder="Search here" (keyup)="communityfilter(t.value)" [(ngModel)]="nameSelected" />
                    <img style="position: absolute;left: 12px;width: 22px;top: 14px;" src="assets/images/searchi.png" />
                </div>
            </div>
            <div class="ui-g-2 ui-sm-12 text-center">
                <p style="margin-top: 10px;color:white;font-size: 20px;">{{"IN" | translate}}</p>
            </div>
            <div class="ui-g-5 ui-sm-12">
                <div class="com-location">
                    <div class="ui-g">
                        <div style="position: relative;padding: 0px" class="ui-g-12 drop-down">
                            <p-autoComplete placeholder="{{'Where are you located?'| translate}}" (onSelect)="setLoaction($event)" field="description" [suggestions]="autocompleteItems" (completeMethod)="search($event)">
                            </p-autoComplete>
                            <img style="position: absolute;left: 8px;width: 22px;top: 10px;" src="assets/images/city_location.png" />
                        </div>
                        <!-- <div (click)="currentPosition()" class="ui-g-5 current-location">
                <p style="padding-top: 13px;font-size: 13px;padding-right: 8px;">{{'Use current location'| translate}} </p>
                <img style="position: absolute;left: 2px;width: 18px;top: 12px;" src="assets/images/my_location.png" />
              </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div style="display:flex;margin-bottom: 20px;width: 100%;">
      <span class="border-s"></span>
      <p style="font-size: 16px;color: #8b8e95;margin:10px 0;">
        Select Filters
      </p>
      <span class="border-r" style="width: 70%;"></span>
    </div>

    <div class="flex">
      <p-checkbox label="Leagues" name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
      <p-checkbox label="Field reservation" name="groupname" value="val2" [(ngModel)]="selectedValues"></p-checkbox>
      <p-checkbox label="Scouting" name="groupname" value="val3" [(ngModel)]="selectedValues"></p-checkbox>
      <p-checkbox label="Team Management" name="groupname" value="val4" [(ngModel)]="selectedValues"></p-checkbox>
      <button (click)="next()" class="signup-bttn search-b" pButton type="button" label="Search">
      </button>
    </div> -->

    </div>


    <div class="heding-align">
        <span *ngIf="!searcharea" class="sub-head">
            Communities near by you {{"Communities near by you" | translate}}
            <!-- <span class="span-b"></span> -->
        </span>
        <span *ngIf="searcharea" class="sub-head">
            {{"Search results" | translate}}
        </span>
        <div class="r_right">
            <button (click)="joinpelotea()" class="team-create">
                {{"Join Pelotea community" | translate}}
            </button>
        </div>
    </div>



    <!-- for nearby communities -->
    <div *ngIf="!searcharea" class="wrap-community">
        <div class="styleloader">
            <loader *ngIf="loadr"></loader>
        </div>
        <div *ngIf="noneardata">
            <div>
                <!-- <div class="emptycard">
                    <h4 class="s-empty">No communities found</h4>
                    <p class="p-empty">We are unable to find a community nearby you, please search again with different keywords or location</p>
                </div> -->
                <div class="emptycardpelo">
                    <img class="logo-p" src="assets/images/emptys/logo_pelotea.png">
                    <h4 class="s-empty">Pelotea</h4>
                    <p class="p-empty" style="bottom: 77px;">{{"Didn't find any community, dont worry you can always join pelotea"|translate}}</p>
                    <span (click)="joinpelotea()" class="join-color">+ {{"Join"|translate}}</span>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div *ngFor="let data of nearbycommunity" class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                <div class="community-card-d">
                    <div *ngIf="data?.community_banner!=null" class="community-card-head" [ngStyle]="{ 'background-image': 'url('+logo+data?.community_banner+')' }">
                        <img [src]="logo+data?.community_logo" class="community-logo">
                    </div>
                    <div *ngIf="data?.community_banner==null" class="community-card-head" [ngStyle]="{ 'background-image': 'url(/assets/images/emptys/img1.jpeg)' }">
                        <img [src]="logo+data?.community_logo" class="community-logo">
                    </div>

                    <div class="community-card-content">
                        <h2>{{data?.community_name}}</h2>
                        <div style="margin: 8px 0 0 0;">
                            <img style="margin-top:3px;position:absolute" src="assets/images/emptys/teams.png">
                            <span>{{data?.members}} {{"members" | translate}}</span>
                        </div>
                        <div style="margin: 8px 0 0 0;">
                            <img style="margin-top:6px;position:absolute" src="assets/images/emptys/flag.png">
                            <span>{{data?.community_country}}</span>
                        </div>
                        <p *ngIf="data?.community_bio!=null">{{"There is no description available about the community."|translate}}
                        </p>
                        <p *ngIf="data?.community_bio==null">{{data?.community_bio}}
                        </p>
                        <button (click)="joinnow(data)" class="join-but">{{"Join" | translate}} ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- for search results -->
    <div *ngIf="searcharea" class="wrap-community">
        <div *ngIf="nodata">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-6 ui-sm-12">
                    <div class="emptycard empty-rightalign ">
                        <h4 class="s-empty">{{"No communities found" | translate}}</h4>
                        <p class="p-empty">{{"We are unable to find a community matching your keywords, please search again with different keywords"|translate}}</p>
                    </div>
                </div>
                <div class="ui-g-6 ui-md-6 ui-sm-12">
                    <div class="emptycardpelo empty-leftalign ">
                        <img class="logo-p" src="assets/images/emptys/logo_pelotea.png">
                        <h4 class="s-empty">Pelotea</h4>
                        <p class="p-empty" style="bottom: 77px;">{{"Didn't find any community, don’t worry you can always join the community of Pelotea" | translate}}</p>
                        <span (click)="joinpelotea()" class="join-color">+ {{"Join"|translate}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="styleloader">
            <loader *ngIf="activateLoader"></loader>
        </div>
        <div class="ui-g">
            <div *ngFor="let data of communitysearch" class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-12">
                <div class="community-card-d">
                    <div *ngIf="data?.community_banner!=null" class="community-card-head" [ngStyle]="{ 'background-image': 'url('+logo+data?.community_banner+')' }">
                        <img [src]="logo+data?.community_logo" class="community-logo">
                    </div>
                    <div *ngIf="data?.community_banner==null" class="community-card-head" [ngStyle]="{ 'background-image': 'url(/assets/images/emptys/img1.jpeg)' }">
                        <img [src]="logo+data?.community_logo" class="community-logo">
                    </div>
                    <div class="community-card-content">
                        <h2>{{data?.community_name}}</h2>
                        <div style="margin: 8px 0 0 0;">
                            <img style="margin-top:3px;position:absolute" src="assets/images/emptys/teams.png">
                            <span>{{data?.members}} {{"members" | translate}}</span>
                        </div>
                        <div style="margin: 8px 0 0 0;">
                            <img style="margin-top:6px;position:absolute" src="assets/images/emptys/flag.png">
                            <span>{{data?.community_country}}</span>
                        </div>
                        <p>{{data?.community_bio?data.community_bio:'There is no description available about the community.' }}
                        </p>
                        <button (click)="joinnow(data)" class="join-but">{{"Join"|translate}} ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- success dialog -->
<div [class.backdrop]="joinpeloteacommunity"></div>
<div *ngIf="joinpeloteacommunity" class="join-dialog">
    <div class="responsive-ig">
    </div>
    <div class="shoutout-midcontent">
        <div>
            <p class="f1">{{"Join Pelotea for free and enjoy the gaming experience with us!"|translate}}</p>
            <div class="flex">
                <!-- <img src="assets/images/emptys/logo_pelotea.png"> -->
                <ul class="u_l">
                    <li>{{"Create or join the leagues."|translate}}</li>
                    <li>{{"Create or join the teams as manager."|translate}}</li>
                    <li>{{"Join the teams as a player."|translate}}</li>
                </ul>
            </div>
            <div style="text-align: right;">
                <button class="cancle" (click)="closejoin()">Cancle</button>
                <button (click)="continue()" class="save">{{"continue" | translate}}</button>
            </div>
        </div>
    </div>
</div>
<!-- success dialog -->