/* new css */

.wrap-community {
    padding: 25px;
    margin: 0% 2% 2% 2%;
}

.community-card-d {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 370px;
    transition: all 200ms ease-in;
    transform: scale(1);
}

.community-card-d:hover {
    transition: all 200ms ease-in;
    transform: scale(1);
}

.community-card-head {
    height: 100px;
    /* background: url("/assets/images/emptys/notsigned.png") no-repeat center; */
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.community-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: -28px;
    left: 14px;
}

.community-card-content {
    padding: 40px 20px 20px 20px;
}

.community-card-content h2 {
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: "Roboto-Light";
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.community-card-content span {
    font-size: 14px;
    line-height: 28px;
    font-family: "Montserrat-Light";
    color: black;
    margin-left: 28px;
}

.community-card-content p {
    font-size: 12px;
    color: #8b8e95;
    font-family: "Montserrat-Regular";
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.join-but {
    border: 1px solid #8fc44f;
    padding: 7px 20px;
    color: #8fc44f;
    border-radius: 25px;
    background: white;
    font-size: 13px;
    font-family: "Montserrat-Regular";
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    position: fixed;
    bottom: 16px;
}

.content_heading {
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat-Regular";
    text-align: center;
    color: white;
}

.para {
    margin: 10px 0px 20px 0px;
    text-align: center;
    color: white;
    font-family: "Montserrat-Regular";
    font-size: 14px;
}

.base-area {
    background: url("/assets/images/emptys/community_search.png") no-repeat center;
    background-size: cover;
    height: 315px;
}

.search_c {
    padding: 15px;
}

.sub-head {
    font-size: 22px;
    font-weight: 500;
    font-family: "Montserrat-Regular";
    text-align: center;
}

.span-b {
    border-bottom: 2px solid #dbdbdb;
    width: 90%;
    height: 4px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 11px;
}

.emptycard {
    height: 350px;
    width: 300px;
    background: url("/assets/images/emptys/nocom.png") no-repeat center;
    background-size: cover;
    margin: auto;
    position: relative;
    transition: all 200ms ease-in;
    transform: scale(0.9);
}

.emptycard:hover {
    transition: all 200ms ease-in;
    transform: scale(1);
}

.emptycardpelo {
    height: 350px;
    width: 300px;
    background: url("/assets/images/emptys/joinpelotea.png") no-repeat center;
    background-size: cover;
    margin: auto;
    position: relative;
    transition: all 200ms ease-in;
    transform: scale(0.9);
}

.emptycardpelo:hover {
    transition: all 200ms ease-in;
    transform: scale(1);
}

.s-empty {
    position: absolute;
    bottom: 128px;
    left: 7%;
    display: block;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.p-empty {
    position: absolute;
    bottom: 64px;
    display: block;
    left: 7%;
    right: 7%;
    color: white;
    line-height: 18px;
    font-size: 13px;
}

.findcommunity_container {
    width: 100%;
    margin: 180px auto;
}

.join-color {
    color: #8dc351;
    font-size: 14px;
    border-radius: -1%;
    cursor: pointer;
    bottom: 37px;
    left: 20px;
    position: absolute;
    display: inline-block;
    border: 1px solid #8dc351;
    padding: 2px 10px;
}

.logo-p {
    top: 40px;
    left: 20px;
    position: absolute;
}

.empty-rightalign {
    float: right;
    margin-right: 15px;
}

.empty-leftalign {
    float: left;
    margin-left: 15px;
}

.heding-align {
    text-align: center;
    margin: 26px 40px 0px 40px;
    border-bottom: 2px solid #dbdbdb;
    padding: 0 0 25px 0;
}

.r_right {
    float: right;
}

.team-create {
    font-family: "Montserrat-Regular";
    background: #8dc351;
    border: 1px solid #8dc351;
    outline: none;
    cursor: pointer;
    padding: 7px 12px;
    color: white;
    border-radius: 37px;
    font-size: 14px;
}

.join-dialog {
    top: 13%;
    z-index: 40;
    width: 300px;
    background: #fff;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    padding: 20px;
}

.responsive-ig {
    background: url("/assets/images/emptys/re1.jpeg") no-repeat center;
    height: 190px;
    background-size: cover;
}

.f1 {
    font-size: 18px;
    margin: 10px 20px 10px 20px;
    color: #171e22;
}

.f2 {
    margin: 16px 20px 20px 20px;
    color: #171e22;
    font-size: 14px;
}

.btn-align {
    border-radius: 0;
    margin: 0 20px 20px 20px;
}

.shoutout-midcontent {
    margin: 15px;
}

.backdrop {
    /* display: none; */
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 36;
}

.save {
    font-family: "Montserrat-Regular";
    background: #8dc351;
    border: 1px solid #8dc351;
    outline: none;
    cursor: pointer;
    padding: 7px 15px;
    color: white;
    border-radius: 37px;
}

.cancle {
    font-family: "Montserrat-Regular";
    background: #d3d4d4;
    border: 1px solid #d3d4d4;
    outline: none;
    cursor: pointer;
    padding: 7px 15px;
    color: #333333;
    border-radius: 37px;
}

.flex {
    display: flex;
}

.u_l {
    margin: 0;
}

.u_l li {
    margin: 5px 0;
}

@media only screen and (min-width: 640px) {
    .community-card-d {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        height: 370px;
        transition: all 200ms ease-in;
        transform: scale(0.9);
    }
    .base-area {
        background: url("/assets/images/emptys/community_search.png") no-repeat center;
        background-size: cover;
        height: 186px;
    }
    .content_heading {
        font-size: 24px;
        font-weight: 500;
        font-family: "Montserrat-Regular";
        text-align: center;
    }
    .search_c {
        padding: 20px 100px;
    }
    .findcommunity_container {
        width: 100%;
        margin: 130px auto;
    }
    .join-dialog {
        top: 13%;
        z-index: 40;
        width: 500px;
        background: #fff;
        position: fixed;
        margin: auto;
        right: 0;
        left: 0;
        padding: 0px;
    }
}