<loader *ngIf='loader'></loader>
<p-growl [value]="msgs"></p-growl>
<div class="full-container">
    <div class="section">

        <div class="ui-g">

            <div class="ui-g-12">
                <h2 class="heading">{{'OPCIÓN DE PAGO' | translate}}</h2>
                <hr>
            </div>

            <div *ngIf="show_min_and_discount" class="ui-g-12">
                <div class="ui-g-12 option-container">
                    <div class="ui-g-9 option1">
                        <p-radioButton name="payment" value="minimum_fee" label="{{'Pago mínimo con tarjeta' | translate}}" [(ngModel)]="selected_payment_option"></p-radioButton>
                    </div>
                    <div style="text-align:right;color:#666666" class="ui-g-3">
                        $ {{pay_min_fee}}
                    </div>
                </div>
                <div class="ui-g-12 option-details">
                    {{'Cancela el monto mínimo que acepta la cancha con tu tarjeta de débito o crédito' | translate}}
                </div>
            </div>

            <div *ngIf="show_min_and_discount" class="ui-g-12 ">
                <div class="ui-g-12 option-container">
                    <div class="ui-g-9 option1">
                        <p-radioButton name="payment" value="discount" label="{{'Pago completo con tu tarjeta y recibe un descuento' | translate}}" [(ngModel)]="selected_payment_option"></p-radioButton>
                    </div>
                    <div style="text-align:right;color:#666666" class="ui-g-3">
                        $ {{discount_money}}
                    </div>
                </div>
                <div class="ui-g-12 option-details">
                    {{'Cancela el monto completo de la reserva con tu tarjeta de débito o crédito y recibe un' | translate}} {{discount}} % {{"de descuento" | translate}}
                </div>
            </div>

            <div *ngIf="recurrent=='false' && show_cash" class="ui-g-12">
                <div class="ui-g-12 option-container">
                    <div class="ui-g-11 option1">
                        <p-radioButton name="payment" value="cash" label="{{'Pagar después en efectivo o a través de una transferencia bancaria' | translate}}" [(ngModel)]="selected_payment_option"></p-radioButton>
                    </div>
                    <div style="text-align:right;color:#666666;    padding: 0 6px 0px 0px;" class="ui-g-1">
                        $ {{cash}}
                    </div>
                </div>
                <div class="ui-g-12 option-details">
                    <!-- Pay in cash {{team_registration?"for tournament":"at the field"}} without a discount -->
                    {{'Cancela con efectivo cuando llegues a la cancha o envía una transferencia bancaria' | translate}}
                </div>
            </div>

            <div class="ui-g-12 ui-sm-12" style="margin-top: 20px;">
                <div class="ui-g-6 ui-sm-2">
                </div>
                <div style="display: flex;text-align: center;" class="ui-g-6 ui-sm-10">
                    <div class="ui-g-6 ui-sm-6">
                        <button style="width:100%" class="" pButton (click)="back()" label="{{'REGRESSA' | translate}}"></button>
                    </div>
                    <div class="ui-g-6  ui-sm-6">
                        <button class="ui-button-green" style="width:100%" pButton (click)="pay()" label="{{ 'CONTINUAR' | translate}}"></button>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>