.full-container {
    padding-top: 230px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/ground-profile-cover/default.jpg) no-repeat;
    background-size: 100% 55%;
    padding-bottom: 90px;
}

.section {
    max-width: 900px;
    margin: auto;
}

.heading {
    font-family: 'ChaletComprime CologneEighty';
    font-weight: 500;
    font-size: 3.5em;
    color: #00253f;
}

.option1 {
    font-size: 16px;
}

.option-container {
    display: flex;
    align-items: center;
    padding: 0px;
}

.option-details {
    color: #666666;
    padding: 0px 60px 0px 47px;
}

@media only screen and (max-width:480px) and (min-width:320px) {
    .option1 {
        font-size: 12px;
    }
    .option-details {
        padding: 0px 60px 0px 43px;
    }
}