<loader *ngIf='loader'> </loader>
<p-growl [value]="msgs"></p-growl>

<div class="section">
    <div class="ui-g">
        <div class="ui-g-12 heading" style="">
            <p>{{'Ingrese los detalles de su tarjeta' | translate}}</p>
        </div>
        <form [formGroup]="form">
            <div style="    padding-top: 5%;    " class="ui-g-12 payment_row">

                <div class="ui-g-3 ui-sm-12">
                    {{'Número de tarjeta' | translate}}
                    <!-- <span class="star">*</span> -->

                </div>
                <div style="position: relative;" class="ui-g-9 ui-sm-12">
                    <p-inputMask (keyup)="validateCard($event)" [autoClear]="false" placeholder="XXXX-XXXX-XXXX-XXXX" mask="9999-9999-9999-9999" formControlName="number">
                    </p-inputMask>
                    <img class="card_logo" *ngIf="card_type=='Visa'" src="assets/images/visa_card.png" />
                    <img class="card_logo" *ngIf="card_type=='MasterCard'" src="assets/images/master_card.png" />
                    <img class="card_logo" *ngIf="card_type=='American Express'" src="assets/images/american.png" />
                    <div class="ui-g error" *ngIf="!cardValid">
                        <p class="errorText">{{'Tarjeta no valida' | translate}} </p>
                    </div>
                </div>
            </div>

            <div class="ui-g-12 payment_row">
                <div class="ui-g-3 ui-sm-12">
                    {{'Nombre en la tarjeta' | translate}}
                    <!-- <span class="star">*</span> -->
                </div>
                <div style="    position: relative;                " class="ui-g-9 ui-sm-12">
                    <input pInputText formControlName="name" />

                    <div class="ui-g error" *ngIf="form.controls['name'].value.length==0 && form.controls['name'].dirty ">
                        <p class="errorText">{{'Nombre obligatorio' | translate}} </p>
                    </div>
                    <div class="ui-g error" *ngIf="form.controls['name'].value.length>56">
                        <p class="errorText">{{'longit máx excedida' | translate}} </p>
                    </div>
                </div>
            </div>

            <div class="ui-g-12 payment_row">
                <div class="ui-g-3 ui-sm-12">
                    {{'Fecha de caducidad' | translate}}
                    <!-- <span class="star">*</span> -->
                </div>
                <div style="position: relative;" class="ui-g-9 ui-sm-12">
                    <div style="padding-left: 0px" class="ui-g-6">
                        <p-dropdown (onChange)="validateExpireDate()" formControlName="exp_month" placeholder="{{'Seleccione mes' | translate}}" [options]="months">

                        </p-dropdown>
                    </div>
                    <div class="ui-g-6">
                        <p-dropdown (onChange)="validateExpireDate()" formControlName="exp_year" placeholder="{{'Seleccione el año' | translate}}" [options]="years">

                        </p-dropdown>
                    </div>
                    <div class="ui-g error" *ngIf="!expiry_date">
                        <p class="errorText">{{'fecha de vencimiento inválida' | translate}} </p>
                    </div>
                </div>
            </div>



            <div style="position: relative;" class="ui-g-12 payment_row">
                <div class="ui-g-3 ui-sm-12">
                    {{"CVV" | translate}}
                </div>
                <div style="position:relative" class="ui-g-3 ui-sm-12">
                    <input type="password" pInputText formControlName="cvc" placeholder="{{'Ingresa cvv' | translate}}" />

                    <!-- <p-inputMask [autoClear]="false" slotChar="" placeholder="{{'Ingresa cvv' | translate}}" formControlName="cvc" mask="9999"></p-inputMask> -->
                    <!-- <input pInputText type="number" formControlName="cvc" /> -->
                    <!-- <div class="ui-g error" *ngIf="form.controls['cvc'].value.length==0 && form.controls['cvc'].dirty ">
                        <p class="errorText">{{'cvv obligatorio' | translate}} </p>
                    </div> -->
                    <div class="ui-g error" *ngIf="form.controls['cvc'].value.length<3 && form.controls['cvc'].dirty ">
                        <p class="errorText">{{'al menos 3 dígitos' | translate}} </p>
                    </div>
                    <div class="ui-g error" *ngIf="form.controls['cvc'].value.length > 4 && form.controls['cvc'].dirty ">
                        <p class="errorText">{{'longit máx excedida' | translate}} </p>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="ui-g">
        <!-- <div [style.display]="{ 'display': 'none'}" class="ui-g-12">
            <p-checkbox [(ngModel)]="selectedValues" binary="true"></p-checkbox>
            <span>Save this card</span>
        </div> -->

        <div style="text-align:right; " class="ui-g-12">
            <button type="button" label="{{'CANCELAR' | translate}}" pButton (click)="cancelButton()"></button>
            <button pButton type="button" [disabled]="button_click || form.invalid || !expiry_date || !cardValid" class="ui-button-green" label="{{'CONTINUAR' | translate}}" (click)="firstFormData()"></button>
        </div>

    </div>
    <div class="ui-g payment_image">
        <div style="       display: flex;    align-items: center;padding: 30px 0px;" class="ui-g-12 ui-sm-12">

            <div style="text-align: left;padding:0px " class="ui-g-3 ">
                <img class="img1" src="assets/images/payment/pci.png" />
            </div>

            <div class="ui-g-3  " style="text-align: center;padding:0px ">
                <img class="img2" src="assets/images/payment/stripe.png" />

            </div>

            <div class="ui-g-3  " style="text-align: right;padding:0px ">
                <img class="img3" src="assets/images/payment/mc.png" />

            </div>
            <div class="ui-g-3  " style="text-align: right;padding:0px ">
                <img class="img4" src="assets/images/payment/Visa.png" />

            </div>
        </div>
    </div>
</div>