.section {
    width: 60%;
    margin: auto;
}

.payment_row {
    display: flex;
    align-items: center;
    padding-bottom: 25px
}

.error {
    position: absolute;
    padding-left: 10px;
    top: 93%
}

.errorText {
    color: red;
}

.heading {
    padding-top: 12%;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3.5em;
    color: #00253f;
    border-bottom: 1px solid grey;
}

.card_logo {
    position: absolute;
    top: 12px;
    width: 40px;
    right: 30px;
    height: 25px;
}

@media screen and (min-width:1100px) {
    .section {
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width:700px) {
    .section {
        width: 90%;
        margin: auto;
    }
    .payment_row {
        display: block;
    }
}

@media screen and (min-width:500px) and (max-width:800px) {
    .heading {
        padding-top: 20%;
        font-size: 2.5em;
    }
}

@media screen and (min-width:320px) and (max-width:499px) {
    .heading {
        padding-top: 30%;
        font-size: 2.0em;
    }
    .card_logo {
        position: absolute;
        top: 18px;
        width: 25px;
        right: 30px;
        height: 15px;
    }
}

.img1 {
    width: 60%;
    height: 100px;
}

.img2 {
    height: 100px;
}

.img3 {
    height: 81px;
}

.img4 {
    width: 40%;
    height: 80px;
}

@media only screen and (min-width:320px) and (max-width:525px) {
    .img1 {
        width: 40px;
        height: 30px;
    }
    .img2 {
        height: 40px;
    }
    .img3 {
        height: 30px;
    }
    .img4 {
        width: 45px;
        height: 42px;
    }
}

@media only screen and (min-width:526px) and (max-width:768px) {
    .img1 {
        width: 70%;
        height: 60px;
    }
    .img2 {
        height: 101px;
    }
    .img3 {
        height: 60px;
    }
    .img4 {
        width: 50%;
        height: 72px;
    }
}

.star {
    color: red;
}