<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div *ngIf="!show_password" style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"Choose a strong password to keep your data safe." | translate}}
            </p>
            <span class="ui-float-label">
              <input [(ngModel)]="password" (keyup)="validate($event)" id="float-input" type="password" size="40" pInputText> 
              <label for="float-input">{{"Password" | translate}}</label>
            </span>
            <img (click)="show_password=true" class="correct" src="assets/images/signup/eye.png" />

        </div>

        <div *ngIf="show_password" style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"Choose a strong password to keep your data safe." | translate}}
            </p>
            <span class="ui-float-label">
              <input [(ngModel)]="password" (keyup)="validate($event)" id="float-input" type="text" size="40" pInputText> 
              <label for="float-input">{{"Password" | translate}}</label>
            </span>
            <img (click)="show_password=false" class="correct" src="assets/images/signup/eye_hide.png" />

        </div>
        <div class="ui-g-12" style="margin-top: 60px;">
            <button (click)="next()" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}"> </button>
        </div>
    </div>
</div>