select.month-dp{
    background:white;
    height: 20px;
    /*float: right;*/
    color:#666666;
}
select.year-dp{
    background:white;
    height: 20px;
    /*float: right;*/
    color:#666666;
}
select.hour{
    background:white;
    height: 19px;
    color:#666666; 
    width: 38px;
}
.title{
    margin:0.8em;
}
span.left{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 100%;
    margin-top: -8px;
}
a.ancor{
    font-size: 12px;
}