<span [ngClass]="{'ui-calendar':true,'ui-calendar-w-btn':showIcon}" [ngStyle]="style" [class]="styleClass">
            <ng-template [ngIf]="!inline">
                <input #inputfield type="text" [attr.id]="inputId" [attr.required]="required" [value]="inputFieldValue" (focus)="onInputFocus($event)" (keydown)="onInputKeydown($event)" (click)="closeOverlay=false" (blur)="onInputBlur($event)"
                    [readonly]="readonlyInput" (input)="onUserInput($event)" [ngStyle]="inputStyle" [class]="inputStyleClass" [placeholder]="placeholder||''" [disabled]="disabled" [attr.tabindex]="tabindex"
                    [ngClass]="'ui-inputtext ui-widget ui-state-default ui-corner-all'"
                    ><button type="button" [icon]="icon" pButton *ngIf="showIcon" (click)="onButtonClick($event,inputfield)"
                    [ngClass]="{'ui-datepicker-trigger':true,'ui-state-disabled':disabled}" [disabled]="disabled" tabindex="-1"></button>
            </ng-template>
            <div #datepicker class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" [ngClass]="{'ui-datepicker-inline':inline,'ui-shadow':!inline,'ui-state-disabled':disabled,'ui-datepicker-timeonly':timeOnly}" 
                [ngStyle]="{'display': inline ? 'inline-block' : (overlayVisible ? 'block' : 'none')}" (click)="onDatePickerClick($event)" [@overlayState]="inline ? 'visible' : (overlayVisible ? 'visible' : 'hidden')">
                <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all " style="height:52px" *ngIf="!timeOnly && (overlayVisible || inline)">
                    <ng-content select="p-header"></ng-content>
                    <a class="ui-datepicker-prev ui-corner-all" href="#" (click)="prevMonth($event)">
                        <span class="fa fa-angle-left left"></span>
</a>
<a class="ui-datepicker-next ui-corner-all" href="#" (click)="nextMonth($event)">
    <span class="fa fa-angle-right left"></span>
</a>
<div class="ui-datepicker-title title">
    <span class="ui-datepicker-month" *ngIf="!monthNavigator">{{locale.monthNames[currentMonth]}}</span>
    <select class="month-dp" *ngIf="monthNavigator" (change)="onMonthDropdownChange($event.target.value)">
                            <option [value]="i" *ngFor="let month of locale.monthNames;let i = index" [selected]="i == currentMonth">{{month}}</option>
                        </select>
    <select class="year-dp " *ngIf="yearNavigator" (change)="onYearDropdownChange($event.target.value)">
                            <option [value]="year" *ngFor="let year of yearOptions" [selected]="year == currentYear">{{year}}</option>
                        </select>
    <span class="ui-datepicker-year" *ngIf="!yearNavigator">{{currentYear}}</span>
</div>
</div>
<table class="ui-datepicker-calendar" *ngIf="!timeOnly && (overlayVisible || inline)">
    <thead>
        <tr>
            <th scope="col" *ngFor="let weekDay of weekDays;let begin = first; let end = last">
                <span>{{weekDay}}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let week of dates">
            <td *ngFor="let date of week" [ngClass]="{'ui-datepicker-other-month ui-state-disabled':date.otherMonth,
                                'ui-datepicker-current-day':isSelected(date),'ui-datepicker-today':date.today}">
                <a class="ui-state-default ancor" href="#" *ngIf="date.otherMonth ? showOtherMonths : true" [ngClass]="{'ui-state-active':isSelected(date), 'ui-state-highlight':date.today, 'ui-state-disabled':!date.selectable}" (click)="onDateSelect($event,date)">{{date.day}}</a>
            </td>
        </tr>
    </tbody>

</table>
<div class="ui-datepicker-title title">
    <p *ngIf="showTime||timeOnly">

        <span style="margin-right: 1px;">Hora</span>
        <select class="hour" (change)="incrementHour($event)" [(ngModel)]="currentHour">
                   <option value="{{h.value}}"  *ngFor="let h of hours;let i = index" >{{h.label}}</option>
            </select>
        <span style="margin-left: 5px;margin-right: 1px;">Minutos</span>
        <select class="hour" (change)="incrementMinute($event)" [(ngModel)]="currentMinute">
                   <option value="{{t.value}}"  *ngFor="let t of minutes;let i = index" >{{t.label}}</option>
            </select>
    </p>
</div>

<ng-content select="p-footer"></ng-content>
</div>
</span>