<!-- <ion-header>
  <ion-navbar>
          <ion-title  >{{"Followers" | translate}}</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-navbar>
        <div class="header_div" style="margin-left:0px">
            <ion-title style="text-align: center;">{{"Followers" | translate}}</ion-title>
            <button class="moreicon" ion-button icon-only (click)="presentPopover($event)">
      <!-- <ion-icon style="opacity:0" class="moreiconrotate" name="more"></ion-icon> -->
    </button>
        </div>
    </ion-navbar>
</ion-header>

<ion-content class="body">
    <div class="spinn">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
    </div>
    <div *ngIf="!datacheck">
        <ion-grid no-padding>
            <ion-row (click)="followprofile(i.id)" class="maincard" *ngFor="let i of result">
                <ion-col style="display: flex;align-items: center; justify-content: center;" col-2 no-padding>
                    <img class="logo" [src]="i?.profile_pic?cover_pic+i?.profile_pic:'assets/images/ground/ground_logo.png'" />
                </ion-col>
                <ion-col no-padding style="padding-left:8px" col-10>
                    <ion-row>
                        <ion-col no-padding col-7>
                            <p class="title">
                                {{i?.name}} {{i?.last_name}}
                            </p>
                            <p class="sub_title" *ngIf="i?.nick_name">{{i?.nick_name}}</p>
                            <p class="sub_title" *ngIf="i?.city">{{i?.city}},{{i?.country}}</p>
                        </ion-col>

                        <ion-col no-padding text-right col-5>
                            <p class="title" style="font-size:13px;">{{lang=='en'?i?.position_en:i?.position}}</p>
                            <img *ngIf="i?.country=='Ecuador'" style="height:13px;width:19px;margin-top: 5px;" src="assets/images/Ecuador.png" />
                            <img *ngIf="i?.country=='United States'" style="height:13px;width:19px;margin-top: 5px;" src="assets/images/usa_flag.jpg" />
                            <img *ngIf="i?.country=='Guatemala'" style="height:13px;width:19px;margin-top: 5px;" src="assets/images/guatemala.png" />
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="internet" style="text-align: center;font-size: 20px;color: #464646;font-family: roboto-regular;">
        <img src="assets/images/no_internet.png">
        <p (click)="getPlayersList(1)">{{'Try Again' | translate}}</p>
    </div>
    <div *ngIf="datacheck">
        <ion-row no-padding class="nodata">
            <ion-col no-padding col-12>
                <p no-margin>{{"No followers" | translate}}</p>
            </ion-col>
        </ion-row>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>