<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div *ngIf="!show_password" style="position: relative;" class="ui-g-12">
            <p style="margin-bottom: 32px" class="signup-heading">
                {{"Reset password" | translate}}
            </p>
            <p style="color: #8b8e95;font-size: 16px;text-align: center;line-height: 24px; " class="signup-heading">
                {{"Change your Pelotea password make sure it's unique to previous password." | translate}}
            </p>
            <span class="ui-float-label">
              <input [(ngModel)]="password" (keyup)="validate($event)" id="float-input" type="password" size="40" pInputText> 
              <label for="float-input">{{"Password" | translate}}</label>
            </span>
            <img (click)="show_password=true" class="correct" src="assets/images/signup/eye.png" />

        </div>

        <div *ngIf="show_password" style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"Reset password" | translate}}
            </p>
            <p style="color: #8b8e95;font-size: 16px;text-align: center;line-height: 24px;margin-bottom: 32px" class="signup-heading">
                {{"Change your Pelotea password make sure it's unique to previous password." | translate}}
            </p>
            <span class="ui-float-label">
              <input [(ngModel)]="password" (keyup)="validate($event)" id="float-input" type="text" size="40" pInputText> 
              <label for="float-input">{{"Password" | translate}}</label>
            </span>
            <img (click)="show_password=false" class="correct" src="assets/images/signup/eye_hide.png" />

        </div>
        <div class="ui-g-12" style="margin-top: 60px;">
            <button (click)="setPassword()" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}"> </button>
        </div>
    </div>
</div>