page-loginmodal {
    
        .main_logo{
            text-align: center;
            padding-top: 16px !important;
            padding-bottom: 16px !important;
        }
        .logo{
            width: 130px;
            height: 85px;
        }
        .main{
          text-align: center;
            color: #464646;
            font-size: 14px;
            padding-bottom: 26px !important;
        }
        .head{
            text-align: center;
            color: #999999;
            margin-top: 12px;
            margin-bottom: 12px;
            font-size: 13px;
        }
        
        .pass{
            color: #999999;
            font-size: 15px;
            padding-top:16px !important;
            padding-bottom:30px !important;
        }
        .foot{
            margin-top:10px;
            margin-bottom: 24px;
        }
        .login{
            text-align: center;
            padding-left:32px !important;
            padding-right: 32px !important;
        }
        
        .input{
            left: -10px;
        }
        .acc{
            color:#464646;
            display: flex;
            font-size:14px;
            align-content:left;
        }
        .move{
            font-size:16px;
            color:#999999;
            display:flex;
            justify-content: flex-end;
            padding-top:18px !important;
            padding-right: 14px !important;
        }
        .signup{
            justify-content: flex-end;
            display: flex;
            bottom:14px;
        }
        .create{
            background: #113861;
            width: 95px;
            height: 45px;
            font-size: 15px;
            text-transform: none;
            font-family:'roboto-regular';
        }
        .log{
            background-color:#8ec63f;
            text-transform: none;
            height: 44px;
            width:100%;
            font-family: 'roboto-regular';
            font-size: 14px;
            letter-spacing: 0px;
        }
        .fb{
            background-color: #365899;
            text-transform: none;
            width:100%;
            height: 42px;
            font-family: 'roboto-regular';
            font-size: 14px;
            letter-spacing: 0px;
        }
        .ion-logo-facebook:before {
            content: "\f236";
            width: 24px;
            font-size: 26px;
        }
        .label-md[floating]{
        color: #464646;
        }
        
        
        .form{
            width:100%;
        }
        .valid{
            color:red;
            display: flex;
            justify-content: flex-start;
            padding-left:16px;
            padding-right:32px;
        }
        
        .item-input-has-focus .label-md[stacked],
         .input-has-focus .label-md[stacked],
          .item-input-has-focus .label-md[floating],
           .input-has-focus .label-md[floating]{
        color: #464646;
         }
        }
