<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 class="move"(click)="cancel();">Cancel</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="main_logo" ><img src="assets/images/pelo.png" class="logo"/></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="main">Feel Like a pro</ion-col>
    </ion-row>
  </ion-grid>

    <ion-grid no-padding class="login">
    <ion-row>
      <ion-col col-12 class="fb_button">
        <button ion-button (click)="fbLoginCheck()" class="fb">
          <ion-icon margin-right ios="logo-facebook" md="logo-facebook"></ion-icon>
           Login with Facebook</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="head">Or</ion-col>
    </ion-row>
    <ion-row>
      <form [formGroup]="form" class="form">
        <ion-item class="input">
          <ion-label floating >Username</ion-label>
          <ion-input formControlName="user" class="data" type="email"></ion-input>
        </ion-item>
        <div class="valid">
          <p *ngIf="form.controls.user.hasError('maxlength') && form.controls.user.dirty">Enter email with the correct format</p>
        </div>
        <ion-item class="input">
          <ion-label floating>Password</ion-label>
          <ion-input formControlName="pass" class="data" type="password"></ion-input>
        </ion-item>
        <div class="valid">
          <p *ngIf="form.controls.pass.hasError('maxlength') && form.controls.pass.dirty">Enter Password</p>
        </div>
      </form>
    </ion-row>
    <ion-row>
        <ion-col col-12 style="padding-top:24px">
      <p class="invalid" *ngIf="loginVAlid">Invalid Login</p>
      <button ion-button class="log" [disabled]="!form.valid" (click)="login()">Log in</button>
          </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="pass">Forget password?</ion-col>
    </ion-row>
    <ion-row class="foot">
        <ion-col col-8 class="acc">Don't have an account?</ion-col>
        <ion-col col-4 class="signup"><button ion-button class="create" (click)="signup()">Create</button></ion-col>
      <ion-col col-1></ion-col>
      </ion-row>
  </ion-grid>
</ion-content>