<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"Login with your register email address." | translate}}
            </p>
            <span class="ui-float-label">
                  <input (keyup)="validate($event)" [(ngModel)]="email" pInputText />
                  <label for="float-input">{{"Email" | translate}}</label>
            </span>
            <img class="correct" *ngIf="check_email" src="assets/images/signup/correct.png" />
            <p class="exist" *ngIf="email_exist">{{"Email is not registered" | translate}}</p>
        </div>
        <div class="ui-g-12" style="margin-top: 32px;">
            <button [disabled]="!check_email" (click)="validateEmail()" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}">
      </button>
        </div>

    </div>
</div>