<p-growl [value]="msgs"></p-growl>
<div class="ui-grid ui-grid-responsive full-container">
    <div class="containers">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-12 head">
                    <img src="./../../../assets/images/logo.png" width="195px">
                </div>
            </div>
            <div class="ui-g reset res" *ngIf="passwordChanged">
                <div class="ui-g-12 heading">
                    <h2>{{'Cambia la contraseña' | translate}}</h2>
                </div>
                <div class="ui-g-12 contact mont">
                    <input type="password" pInputText placeholder="{{'Contraseña actual' | translate}}" (keyup)="validate(1,$event)" [(ngModel)]="userObj.old_password" />
                </div>
                <div *ngIf="currentPasswordError" class="ui-g-12 error">
                    <span class="error-mgs">{{'Mínimo 6 carácteres' | translate}}</span>
                </div>
                <div class="ui-g-12 contact mont">
                    <input type="password" pInputText placeholder="{{'Confirmar contraseña' | translate}}" (keyup)="validate(2,$event)" [(ngModel)]="userObj.new_password" />
                </div>
                <div *ngIf="newPasswordError" class="ui-g-12 error">
                    <span class="error-mgs">*{{"Mínimo 6 carácteres" | translate}}</span>
                </div>
                <div class="ui-g-12 contact mont">
                    <input type="password" pInputText placeholder="{{'Confirmar contraseña' | translate}}" (keyup)="validate(3,$event)" [(ngModel)]="userObj.confirm_password" />
                </div>
                <div *ngIf="showConfirmPasswordError" class="ui-g-12 error">
                    <span class="error-mgs">{{"Nueva contraseña y confirmación de contraseña no coinciden .." | translate}}</span>
                </div>
                <div class="ui-g-6 mont">
                    <button (click)="goTobackPage()" pButton type="button" style="background-color:#DDDDDD;" label="{{'Regresa' | translate}}"></button>
                </div>
                <div class="ui-g-6 reset-btn mont">
                    <button pButton type="button" label="{{'REINICIAR' | translate}}" (click)=changePassword()></button>
                </div>
            </div>
            <div class="ui-g reset" *ngIf="!passwordChanged">
                <div class="ui-g-12"><span>{{'Contraseña cambiada con éxito...!' | translate}}</span></div>
                <div class="ui-g-6 reset-btn mont">
                    <button routerLink="/dashboard" pButton type="button" style="width: 125px;margin-top: 20px;" label="{{'dashboard' | translate}}"></button>
                </div>
                <div class="ui-g-12 reset-btn mont">
                    <span>{{'Usted será redirigido al Dashboard....' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>