<loader *ngIf="loader" class="loadercomponent"></loader>
<p-growl [value]="msgs"></p-growl>

<div class="section1" *ngFor='let request of team'>
    <div class="ui-g card">
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-3 logo">
            <img *ngIf="!request?.team_logo" src="assets/images/Rectangle.png" alt="image">
            <img *ngIf="request?.team_logo" src="{{imageBasepath}}{{request?.team_logo}}" alt="image">
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-9 info">
            <p class="prime">{{request.team_name}}</p>
            <p style="color:#e6263d;font-weight:bold;white-space:nowrap;width: 185px;text-overflow: ellipsis;overflow: hidden;">{{request.moto}}</p>
            <br>
            <p style="color:#8DCF25;font-weight:bold;white-space:nowrap;" class="fundado">{{'Fundado' | translate}}:<span style="color:white;padding-left: 2%;">Junio 2016</span></p>
            <p style="color:#8DCF25;font-weight:bold;line-height:1.3;white-space:nowrap;" class="fundado">{{'Número de jugadores' | translate}}:<span style="color:white;padding-left: 2%;">{{request.no_of_player}}
</span></p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 rating">
            <p style="color:#8DCF25;font-size: 2em;padding-left:15%;" class="prime">{{'ACTITUD' | translate}}</p>
            <p-rating [ngModel]="request.team_attitude" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <br>
            <span style="color:white;margin-left:1.8em;">{{'Puede mejorar' | translate}}</span>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 rating">
            <p style="color:#8DCF25;font-size: 2em;padding-left:15%;" class="prime">{{'TÉCNICA' | translate}}</p>
            <p-rating [ngModel]="request.team_technique" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <br>
            <span style="color:white;margin-left:1.8em;">{{'Puede mejorar' | translate}}</span>
        </div>
        <div class="funda ui-g-6 ui-sm-6">
            <p style="color:#8DCF25;font-weight:bold;white-space:nowrap;">{{'Fundado' | translate}}:<br><span style="color:white;">--</span></p><br>
            <p style="color:#8DCF25;font-weight:bold;line-height: 1.3;white-space:nowrap;">{{'Número de jugadores' | translate}}:<br><span style="color:white;">7</span></p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-6 edit-btn" *ngIf="admin">
            <button style="margin-bottom: 5px;margin-top: 25px;width: 105px;" pButton type="button" (click)="edit(request.id)" label="{{'EDITAR' | translate}}" class="ui-button-green ui-button"></button>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-6 ver_mas" style="text-align: end" *ngIf="!admin">
            <button style="margin-bottom: 5px;margin-top: 25px;width: 105px;" pButton type="button" (click)="see_more(request.id)" label="{{'VER MÁS' | translate}}" class="ui-button-green ui-button"></button>
        </div>
    </div>
</div>
<div class=" ui-g " style="margin-top: 20px;height: 100px ">
    <div class="ui-g-12 text-center " *ngIf="status=='pending' &&team.length==0 ">
        <span style="color: darkcyan;font-size: 1.3em; ">{{'Datos no encontrados' | translate}}</span>
    </div>
</div>