<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>
<div class="ui-g">
    <img class="background" src="assets/images/tournament-profile-cover/default.png">
    <div class="section">
        <div class="ui-g ui-fluid top_profile">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
                <h2 class="complete_profile">{{'EDITAR TORNEO' | translate}}<span class="backTotournament" (click)="backToProfile()">{{"Volver al torneo" | translate}}</span></h2>
            </div>
        </div>
        <div *ngIf="sponserId == 'org'">
            <div class="ui-g">
                <div class="ui-g-12">
                    <p class="organization">{{'Organización' | translate}}</p>
                </div>
            </div>
            <div class="ui-g setdivbackground">
                <div class="ui-g-3 ui-sm-12">
                    <label> {{'Nombre del organización' | translate}}</label><span style="color:red">*</span><br><br>
                    <input type="text" class="mob_org" pInputText placeholder="{{'Nombre del organización' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="organization_name" />
                </div>
                <div class="ui-g-2 ui-sm-6 spanpos">
                    <br><br>
                    <span>{{'Imagen de logo' | translate}}</span>
                </div>
                <div class="ui-g-2 ui-sm-6">
                    <br><br>
                    <button type="button" class="choose_file" style="cursor:pointer;margin-top:1%">
                  <span style="cursor: pointer; color: white;position: relative;font-size: 1.1em;">{{'SUBIR' | translate}}</span>
                  <input type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" 
								  (change)="organizationImageUploadEvent($event,input,organization_name)" #input />
              </button>
                </div>
                <div class="ui-g-1 ui-sm-6">
                    <br><br>
                    <img src='{{file_src_organization}}' alt="" class="img" *ngIf="file_src_organization!=''" />
                </div>
                <div class="ui-g-1 ui-sm-1">
                    <br><br>
                    <div><i class="fa fa-4x fa-chevron-left icon2" aria-hidden="true"></i></div>
                </div>
                <div class="ui-g-3 ui-sm-5">
                    <br><br>
                    <p class="paraText">
                        {{'Subir el logo dew tu equipo de 300x300 pixeles. Si no subes un logo el sistema asignará un logo generalizado del sistema para tu equipo.Si no subes el logo ahora, no te preocupes lo podrás hancer más trade.' | translate}}
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="sponserId !='org' ">
            <div class="ui-g">
                <div class="ui-g-12 organization">
                    <span>{{'AUSPICIANTE' | translate}}</span>&nbsp;&nbsp;&nbsp; <span>({{'Al añadir más de un auspiciante,enumerar por prioridad del 1-5' | translate}})</span>
                </div>
            </div>
            <div class="setdivbackground ">
                <div class="ui-g ui-fluid" *ngFor="let add of sponser; let i=index ">
                    <div class="ui-g-3 ui-sm-12">
                        <label> {{"Nombre del auspiciante" | translate}}</label><span style="color:red">*</span><br><br>
                        <input type="text" pInputText placeholder="{{'Nombre del auspiciante' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="add.name" [class.error]="checkStatus" />
                    </div>
                    <div class="ui-g-2 ui-sm-6 spanpos"><br><br>
                        <span>{{"Imagen de logo" | translate}}</span>
                    </div><br><br>
                    <div class="ui-g-2 ui-sm-6">
                        <br>
                        <br>
                        <button type="button" class="choose_file" style="cursor:pointer;margin-top:1%">
                        <span style="cursor: pointer; color: white;position: relative;font-size: 1.1em;">{{'SUBIR' | translate}}</span>
                        <input type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" 
				        (change)="sponserImageUploadEvent($event,i,input2,add.id,add.name)" #input2/>
                    </button>
                    </div>
                    <div class="ui-g-3 ui-sm-6">
                        <img *ngIf="add.pk=='' && file_src_sponser[i]!=null" src='{{file_src_sponser[i]}}' alt="" class="img" />
                        <img *ngIf="add.pk!=''" src='{{imageBasePath}}{{add.pic}}' class="img" />
                    </div>
                    <div class="ui-g-2 ui-sm-6">
                        <img src="assets/images/del.jpg" class="delImg" (click)="deleteSponserField(i,add.id)" />
                    </div>
                </div>
                <br>
                <div>
                    <button type="button" class="ui-button-green" label="{{'Agregar Auspiciante' | translate}}" pButton style="margin-left:1%;" (click)="addSponserList()" *ngIf="buttonStatus">
            </button>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>