.section {
    width: 970px;
    margin: auto;
}

.top_profile {
    padding-top: 5px;
}

.complete_profile {
    border-bottom: 1px solid #828282;
    padding-bottom: 1%;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    color: #828282;
}

.organization {
    text-transform: uppercase;
}

.setdivbackground {
    background-color: #F2F2F2;
    padding-top: 2%;
    padding-bottom: 30%;
}

.spanpos {
    padding: 18px;
    text-align: center;
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    width: 150px;
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: #00253F;
    height: 35px;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.icon {
    font-size: 1em;
    margin-left: 100%;
}

.icon2 {
    font-size: 1em;
    margin-left: 170%;
}

.paraText {
    padding-left: 20%;
    text-align: justify;
    padding-right: 2%;
}

.paraText2 {
    text-align: justify;
    padding-right: 2%;
}

.img {
    height: 80px;
    margin-left: 30%;
    padding-left: 8% !important;
    overflow: hidden;
    width: 90px;
    margin-top: 5%;
}

.back {
    width: 10%;
    margin-left: 90%;
    cursor: pointer;
    font-size: 0.7em;
    margin-top: -2%;
    color: green;
    border-bottom: 1px solid #828282;
}

.delImg {
    width: 20%;
    border-radius: 50%;
    margin-top: 25%;
    height: 30%;
    cursor: pointer;
    margin-left: 15%;
}

.backTotournament {
    float: right;
    cursor: pointer;
    margin-top: 1%;
    color: #99cc00;
    font-size: 0.7em;
}

.error {
    border: 1px solid red;
}

.background {
    width: 100%;
    height: 15em;
}

@media only screen and (max-width: 640px) {
    .top_profile {
        padding-top: 55px;
    }
    .mob_org {
        width: 93%;
    }
    .icon2 {
        margin-left: 2%;
    }
    .paraText {
        padding-left: 0px !important;
    }
}