<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'> </loader>

<div class="full-container">

    <div class="section">
        <div *ngIf="total_pages>page" class="scroll" (click)="onScroll()">
            {{'Carga más' | translate}}
        </div>
        <div class="ui-g partidos">
            <div class="ui-g-4 ui-sm-7">
                <span class="heading">{{"CREAR PARTIDOS" | translate}}</span>
            </div>
            <div class="ui-g-8 ui-sm-5 text-right">
                <a [routerLink]="['/dashboard/tournaments/tournament-profile',tourId,'schedule' ]">
                    <span class="backTotournament">
                        {{'Volver al league' | translate}}
                    </span>
                </a>
            </div>
        </div>
        <!--For SE type -->
        <div class="ui-g top_row" *ngIf="key=='SE' || key=='DE'">
            <div class="ui-g-12">
                <span class="headingSE">{{round_name}}</span>
            </div>
        </div>
        <!--For SE type -->

        <!--For Group type -->
        <div class="ui-g top_row ui-fluid" *ngIf="key=='group'">
            <div class="ui-g-3 ui-sm-12 ui-md-3 ui-lg-3">
                <label>{{'Nombre de la ronda' | translate}}</label>
                <br>
                <br>
                <input type="text" pInputText maxlength="100" [disabled]="true" [(ngModel)]="round_name" [disabled]="true" />
            </div>
            <div class="ui-g-3 ui-sm-12 ui-md-3 ui-lg-3">
                <label>{{'Ida-Y-Vuelta' | translate}}</label>
                <br>
                <br>
                <p-dropdown *ngIf="!update_status" [options]="noOfMatches" [(ngModel)]="matches" selectedLabel="choose" [style]="{'width':'100%'}"></p-dropdown>
                <p-dropdown *ngIf="update_status" [options]="noOfMatches" [disabled]="update_status" [(ngModel)]="team_count" [style]="{'width':'100%'}" [(ngModel)]="matches" selectedLabel="choose"></p-dropdown>
            </div>
            <div class="ui-g-3 ui-sm-12 ui-md-3 ui-lg-3">
                <label>{{'Horario disponible' | translate}}</label>
                <br>
                <br>
                <p-dropdown (onChange)='changedropdown($event)' *ngIf="!update_status" [options]="schedule_res" [(ngModel)]="schedule_id" [style]="{'width':'100%'}"></p-dropdown>
                <p-dropdown *ngIf="update_status" [options]="schedule_res" [disabled]="update_status" [(ngModel)]="schedule_id" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-3 ui-sm-12 ui-md-3 ui-lg-3 text-right">
                <label></label>
                <br>
                <br>
                <button *ngIf="!update_status" (click)="createFixture()" pButton type="button" label="{{'GUARDAR' | translate}}" class="ui-button-green top_edit_btn"></button>
                <button *ngIf="update_status" (click)="dialog()" pButton type="button" label="{{'EDITAR' | translate}}" class="ui-button-green top_edit_btn edit_modal"></button>
            </div>
            <div class="ui-g-12">
                <p class="instruction" style="color: darkcyan;word-spacing: 3px;">
                    {{'Instrucciones:Seleccionar se los partidos son ida y vuelta y hacer click en GUARDAR' | translate}}.</p>

            </div>
            <div class="ui-g-1 ui-sm-3 sort_label">
                <span>{{'VER POR' | translate}}</span>
            </div>
            <div class="ui-g-3 ui-sm-9">
                <p-dropdown [options]="sortList" (onChange)='selectedSortingOptionFun($event)' [style]="{'width':'100%'}" [(ngModel)]="selectedOption"></p-dropdown>
            </div>
        </div>
        <div class="ui-g" *ngIf="create_fixture || fixtureListSE.length>0 || matchListSEInfo.length>0 || fixtureListDE.length > 0 || matchListDE.length>0 || GroupFixtureList.length>0">
            <div class="ui-g-12 partidos">
                <span class="heading">{{'PARTIDOS' | translate}}</span>
            </div>
        </div>

        <div class="ui-g">

            <div class="ui-g-12 blueDiv" style="text-align:center;" *ngIf="groupList.length>0">
                <div class="ui-g-1">
                    <i style="color: white;" class="fa fa-chevron-left" id="rightarrow" (click)="previousGroup()"></i>
                </div>

                <div class="ui-g-10">
                    <p-dropdown id="blue_dropdown" [options]="groupList" [(ngModel)]="selectedGroup" (onChange)="selectGroupFromDropdown($event)" selectedLabel="choose"></p-dropdown>
                </div>

                <div class="ui-g-1">
                    <i style="color: white;" class="fa fa-chevron-right" id="leftarrow" (click)="nextGroup()"></i>
                </div>
            </div>
            <!-- <div style="text-align: center;color: red;font-size: 14px;padding-top: 40px;" *ngIf="!fixture_group" class="ui-g-12">
                <span>This feature is not available for the Tournament whose fixtures are created before 25/10/2017</span>
            </div> -->
            <!-- <div *ngFor="let GroupFixtureList of GroupFixtureListInfo;let j=index"> -->
            <div class="ui-g-12" *ngFor="let fix of GroupFixtureListInfo;let i=index">
                <div class="ui-g ui-fluid fixture_list">
                    <div class="ui-g-1 ui-sm-12 ui-md-1 ui-lg-1">
                        <span style="vertical-align: -webkit-baseline-middle">{{'Partido' | translate}}-{{(i+1)}}</span>
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <input type="text" pInputText maxlength="100" [value]="fix.team1" [disabled]="true" />
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <input type="text" pInputText maxlength="100" [value]="fix.team2" [disabled]="true" />
                    </div>
                    <div style="position:relative" class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <p style="color: red;position: absolute;top: -8px;left: 20px; " *ngIf="valid_date_group[i]!=undefined && !valid_date_group[i]">{{"Fecha requerida" | translate}}</p>
                        <custom-p-calendar [id]='"dob"+i' [readonlyInput]=true [hourFormat]="24" [showTime]=true [hourFormat]="24" [disabled]="!fix.flag" [(ngModel)]="dates[i]" dateFormat='yy-mm-dd' timeFormat="HH:MM" [monthNavigator]="true" [yearNavigator]="true" yearRange='2016:2050'
                            (onSelect)="datepicker($event,i,j)" [locale]="es"></custom-p-calendar>
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2 dropdown">
                        <p-dropdown [options]="refereeList" [disabled]="fix.is_accepted_by_referee=='accepted' || !fix.flag" [style]="{'width':'100%'}" (onChange)='selectedRefereeFun($event,j,i,fix)' [ngModel]="fix?.referee?.id"></p-dropdown>
                        <!--span *ngIf="fix.referee_status" style="color:red; font-size: .9em;"> Confirmación esta pendiente</span-->
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2 dropdown">
                        <p-dropdown [options]="ground" [disabled]="fix.is_accepted_by_ground=='accepted' || !fix.flag" [style]="{'width':'100%'}" (onChange)='selectedGroundFun($event,j,i,fix)' [ngModel]="fix?.ground?.id"></p-dropdown>
                        <!--span *ngIf="fix.ground_status" style="color:red;font-size: .9em;"> Confirmación esta pendiente</span-->
                    </div>
                    <div class="ui-g-1 ui-sm-11 ui-md-1 ui-lg-1">
                        <button pButton type="button" *ngIf="fix.flag" class="ui-button-green edit_btn" style="padding: 8px 0;" (click)="saveFixture(fix,'update',i)" id="bt{{i}}" label="{{'GUARDAR' | translate}}"></button>
                        <button pButton type="button" *ngIf="!fix.flag" class="ui-button-green edit_btn" style="padding: 8px 0;" (click)="updateFixture(fix,i)" id="bt{{i}}" label="{{'EDITAR' | translate}}"></button>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>

        <!-- 
        <p *ngIf="GroupFixtureList.length > 0" style="color: darkcyan;text-align: justify">
            Instrucciones: En cada grupo detallar la fecha, hora, árbitro y cancha para los partidos. Para hacer esto hacer click en EDITAR al lado derecho del pedido. actualizar la información y hacer click en GUARDAR. Si no genes el árbitro o la cancha confirmada,
            o simplemente el árbitro y/o cancha no tienen un perfil en Pelotea, dejar esos campos vatios. Si este es el caso, especificar la cancha en DIO en INFORMACIÓN del torneo. Hacer lo mismo para todos los grupos.
        </p> -->

        <!--For Group type -->

        <!--For SE type -->
        <!-- <div *ngFor="let matchListSE of matchListSEInfo;let j=index"> -->
        <div class="ui-g ui-fluid" *ngFor="let match of matchListSEInfo;let i=index">
            <div class="ui-g-12">
                <div class="ui-g fixture_list">
                    <div class="ui-g-1 ui-sm-12 ui-md-1 ui-lg-1">
                        <span style="vertical-align: -webkit-baseline-middle">{{'Partido' | translate}}-{{(i+1)}}</span>
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <input type="text" pInputText maxlength="100" [value]="match.team1" [disabled]="true" />
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <input type="text" pInputText maxlength="100" [value]="match.team2" [disabled]="true" />
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <custom-p-calendar [id]='"dob"+i' [hourFormat]="24" [readonlyInput]=true [showTime]=true [hourFormat]="24" [disabled]="!match.flag" [(ngModel)]="dates[i]" dateFormat='yy-mm-dd' timeFormat="HH:mm" [monthNavigator]="true" [yearNavigator]="true" yearRange='2016:2050'
                            timeControlType="select" (onSelect)="datepicker($event,i,date)" [locale]="es"></custom-p-calendar>
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <p-dropdown [options]="refereeList" [disabled]="match.is_accepted_by_referee=='accepted' || !match.flag" (onChange)='selectedRefereeFun($event,j,i)' [ngModel]="match.referee?.id" [style]="{'width':'100%'}"></p-dropdown>
                        <span *ngIf="match.referee_status" style="color:red; font-size: .9em;"> {{'Confirmación esta pendiente' | translate}}</span>
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <p-dropdown [options]="ground" [disabled]="match.is_accepted_by_ground=='accepted' || !match.flag" (onChange)='selectedGroundFun($event,j,i)' [ngModel]="match.ground?.id" [style]="{'width':'100%'}"></p-dropdown>
                        <span *ngIf="match.ground_status" style="color:red;font-size: .9em;">{{'Confirmación esta pendiente' | translate}}</span>
                    </div>
                    <div class="ui-g-1 ui-sm-12 ui-md-1 ui-lg-1">
                        <button pButton type="button" *ngIf="match.flag" class="ui-button-green edit_btn" style="padding: 8px 0;" (click)="saveFixture(match,'update',i)" label="{{'GUARDAR' | translate}}"></button>
                        <button pButton type="button" *ngIf="!match.flag" class="ui-button-green edit_btn" style="padding: 8px 0;" (click)="updateFixture(match,i)" label="{{'EDITAR' | translate}}"></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <div class="ui-g ui-fluid" *ngFor="let fixture of fixtureListSE;let i=index">
            <div class="ui-g-12">
                <div class="ui-g fixture_list">
                    <div class="ui-g-1 ui-sm-12 ui-md-1 ui-lg-1">
                        <span style="vertical-align: -webkit-baseline-middle">{{'Partido' | translate}}-{{(matchListSEInfo?.length+1)}}</span>
                        <!-- <span *ngIf="!matchListSEInfo[matchListSEInfo?.length-1]?.length" style="vertical-align: -webkit-baseline-middle">Partido-{{i+1}}</span> -->
                    </div>

                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <p-dropdown [options]="team1List" (onChange)='selectedTeam1Fun($event)' placeholder="{{'Escoger' | translate}}" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <p-dropdown [options]="team2List" (onChange)='selectedTeam2Fun($event)' placeholder="{{'Escoger' | translate}}" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                    <div style="position:relative" class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <p style="color: red;position: absolute;top: -8px;left: 20px; " *ngIf="showmsg">{{'Fecha requerida' | translate}}</p>
                        <custom-p-calendar placeholder="Select date" [readonlyInput]=true [id]='"dob"+i' [hourFormat]="24" [hourFormat]="24" [showTime]=true dateFormat='yy-mm-dd' timeFormat="HH:mm" [monthNavigator]="true" [yearNavigator]="true" yearRange='2016:2050' [locale]="es"
                            (onSelect)="datepicker($event)"></custom-p-calendar>
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <p-dropdown [options]="refereeList" placeholder="{{'Escoger Arbitro' | translate}}" [(ngModel)]="refree_se_id" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                    <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                        <p-dropdown [options]="ground" [(ngModel)]="ground_se_id" placeholder="{{'Escoger Chancha' | translate}}" [style]="{'width':'100%'}"></p-dropdown>

                    </div>
                    <div class="ui-g-1 ui-sm-12 ui-md-1 ui-lg-1">
                        <button pButton type="button" class="ui-button-green edit_btn" style="padding: 8px 0;" (click)="saveSeFixture('add',fixture)" id="bt{{i}}" label="{{'GUARDAR' | translate}}"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g ui-fluid" *ngIf="isSE && no_teams && (page==total_pages)">
            <div class="ui-g-2">
                <button (click)="addPartidos()" [disabled]="!enable_partidos_btn" pButton type="button" label="{{'AÑADIR PARTIDOS' | translate}}" style="width:125%;" class="ui-button-green"></button>
            </div>
        </div>
        <!--For SE type -->

        <!--For DE type -->
        <!-- <div *ngFor="let matchListDE of matchListDEInfo;let j=index"> -->
        <div class="ui-g ui-fluid" *ngFor="let match of matchListDEInfo;let i=index">
            <div class="ui-g-8 blueHeading">{{match?.team1}}
                <span style="color:#66cc00;padding:0 5px;">vs</span> {{match?.team2}}
            </div>
            <div class="ui-g-4 text-right" style="padding-top:2%">
                <button pButton type="button" style="width: 45%;" class="ui-button-green" *ngIf="!match?.flag" (click)="editDeFixture(match,i)" label="{{'EDITAR' | translate}}"></button>
            </div>
            <div class="ui-g de_fixture_list">
                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" *ngFor="let fix of match?.fixture;let k=index">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                            <span style="vertical-align: -webkit-baseline-middle">{{'Partido' | translate}}-{{ 1 + k}}</span>
                        </div>
                        <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                            <input type="text" pInputText maxlength="100" [value]="fix.team1" [disabled]="true" />
                        </div>
                        <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                            <input type="text" pInputText maxlength="100" [value]="fix.team2" [disabled]="true" />
                        </div>
                        <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                            <p style="color:red;position: absolute;top: 5px;" *ngIf="fix.show">{{'Fecha requerida' | translate}}</p>
                            <custom-p-calendar [readonlyInput]=true [id]='"dob"+i' [hourFormat]="24" [showTime]=true dateFormat='yy-mm-dd' [disabled]="!match.flag" timeFormat="HH:MM" [monthNavigator]="true" [yearNavigator]="true" yearRange='2016:2050' [(ngModel)]="fix.date_time"
                                [locale]="es"></custom-p-calendar>
                        </div>
                        <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                            <p-dropdown [options]="refereeList" (onChange)='selectedDERefereeFun(fix, $event)' [style]="{'width':'100%'}" [disabled]="fix.is_accepted_by_referee=='accepted' || !match.flag" [ngModel]="fix.referee"></p-dropdown>
                        </div>
                        <div class="ui-g-2 ui-sm-12 ui-md-2 ui-lg-2">
                            <p-dropdown [options]="ground" (onChange)='selectedDEGroundFun(fix, $event)' [style]="{'width':'100%'}" [disabled]="fix.is_accepted_by_ground=='accepted' || !match.flag" [ngModel]="fix.ground"></p-dropdown>
                        </div>
                    </div>
                </div>
                <button pButton type="button" class="ui-button-green de_save_button" *ngIf="match?.flag" (click)="saveDeFixture(match,'update',j,i);" id="bt{{i}}" label="{{'GUARDAR' | translate}}"></button>
            </div>
        </div>
        <!-- </div> -->

        <div class="ui-g ui-fluid" *ngFor="let fixture of fixtureListDE;let i=index">
            <div class="ui-g-12">
                <div class="ui-g de_teams">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4">
                        <p-dropdown [options]="team1List" (onChange)='selectedTeam1Fun($event)' [ngModel]="selectOption" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4">
                        <p-dropdown [options]="team2List" (onChange)='selectedTeam2Fun($event)' [ngModel]="selectOption" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 text-right">
                        <button pButton type="button" style="width: 45%;" class="ui-button-green" (click)="saveDeTeams('add')" id="bt{{i}}" label="{{'CONTINUAR' | translate}}"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid" *ngIf="isDE && no_teams && (page==total_pages )" style="padding-top: 10px;">
            <div class="ui-g-2">
                <button (click)="addPartidos()" style="width:125%;" [disabled]="!enable_partidos_btn" pButton type="button" label="{{'AÑADIR PARTIDOS' | translate}}" class="ui-button-green"></button>
            </div>
        </div>
        <!--For DE type -->
        <!-- shoutout code -->
        <div class="backdrop" *ngIf="backdrop_div"></div>
        <div class="warning">
            <p-dialog [(visible)]="editPopup" modal="modal" showEffect="fade">
                <div class="ui-g" style="background: #00253f; color: white; border-bottom:1px solid #c9c9c9">
                    <div class="ui-g-12" style="padding-top: 15px;">
                        <label class="label1">{{'Warning' | translate}}</label>
                    </div>
                </div>
                <!--<hr />-->
                <textarea rows="6" cols="30" pInputTextarea [disabled]="true">{{'¿Seguro que quieres editar esto?' | translate}}</textarea>
                <div class="ui-g text-right">
                    <div class="ui-g-12" style="padding:0 15px">
                        <button type="button" class="ui-button-green" pButton (click)="editFixture()" label="{{'sí' | translate}}" style="width: 75px;"></button>
                        <button type="button" class="ui-button-grey" pButton (click)="editPopup=false; backdrop_div=false" label="NO" style="width: 75px;"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
        <!-- shoutout code -->

    </div>
</div>