.full-container {
    padding-top: 200px;
    background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 215px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../../assets/images/tournament-profile-cover/results-back.png) no-repeat;
    background-color: #ffffff;
    background-size: 100%;
    padding-bottom: 25px;
}

.blue_dropdown {
    width: 90% !important;
}

#calender.ng2-datetime-picker {
    background-color: blue;
}

@media screen and (max-width:640px) {
    .full-container {
        padding-top: 139px;
        background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 95px, black 145px, #f8f8f8 0px) 0% 0%/100%, url(./../../../../assets/images/tournament-profile-cover/results-back.png) no-repeat;
    }
    button.top_edit_btn {
        width: 30%;
    }
    .instruction {
        padding-left: 10%;
        padding-right: 20%;
    }
    .blue_dropdown {
        width: 70%;
    }
    .edit_btn {
        width: 110% !important;
    }
}

.top-view {
    width: 90%;
    margin-top: 2%;
}

.ui-tabview .ui-tabview-nav.ui-widget-header li a {
    font-size: 15px !important;
    padding-right: 37% !important;
}

.head {
    background-image: url('./../../../../assets/images/back.jpg');
    background-size: 100% 100%;
    height: 220px;
}

.icon-bar {
    width: 100%;
    text-align: center;
    overflow: auto;
}

.icon-bar a {
    width: 17%;
    padding: 12px 0px;
    float: left;
    transition: all 0.3s ease;
    color: #828282;
    font-size: 21px;
    text-decoration: none;
}

h3 {
    font-size: 1.3em;
}

.sections {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.section {
    margin-left: 6%;
}

.informacion>h3 {
    padding-left: 4%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.informacion>p {
    font-size: 1.1em;
}

.informacion>p {
    line-height: 1.8;
    padding-left: 4%;
}

.informacion {
    border: 2px solid #828282;
    padding-bottom: 7%;
    width: 85%;
}

.paletando {
    width: 85%;
    border: 2px solid #828282;
    margin-top: 10%;
}

.para {
    margin-top: 5%;
}

.paletando>h3 {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 4%;
}

.rank {
    padding-left: 4%;
}

big {
    font-size: 20px;
    margin: 5px;
}

hr {
    margin-top: 2%;
}

.contain {
    width: 70%;
}

.linkCustom {
    border-radius: 3px;
}

.hoverOnTd {
    color: #737373;
    background-color: #e6e6e6;
    padding: 10px;
}

.hoverOnTd:hover {
    background-color: #66cc00;
    color: white;
    cursor: pointer;
}

.colDiv {
    background-color: #8DCF24;
    padding: 1.2%;
    text-align: center;
}

.colorSUm {
    color: white;
    text-align: center;
}

.part1div {
    background-color: #e6e6e6;
}

.match {
    color: #66cc00;
    font-size: 10px;
}

.value {
    color: #737373;
    font-size: 10px;
}

.franceCol {
    position: relative;
}

.france {
    float: left;
    margin-left: 10%;
    margin-top: 8%;
}

.circleImage {
    border-radius: 15px;
}

.circleDiv {
    height: 30px;
    width: 30px;
    background-color: red;
}

.colorRows {
    background-color: #003366;
    color: white;
}

.time {
    font-size: 16px;
    margin-top: 20%;
    margin-right: 10%;
}

.cirImage {
    border-radius: 15px;
    float: left;
    margin-left: 8%;
}

.Portugal {
    margin-top: 8% !important;
}

.widthRow {
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
}

.manual {
    margin-top: 5% !important;
}

@media screen and (min-width:640px) and (max-width:1800px) {
    .drop-down {
        width: 18% !important;
        margin-right: -2%;
    }
}


/*=========my css*===========*/

.section {
    max-width: 970px;
    margin: auto;
    margin-bottom: 50px;
    position: relative
}

.heading {
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3em;
    color: grey;
}

.headingSE {
    font-size: 1.5em;
    color: grey;
}

.partidos {
    border-bottom: 1px solid #828282;
}

.back {
    float: right;
    color: green;
}

.partidos {
    padding-top: 3%;
}

.w100 {
    width: 100%;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.horizental-line {
    border: 1px solid grey;
}

.btngreen {
    width: 100% !important;
    float: right !important;
    margin-top: 40px;
}

.para {
    margin-left: 3%;
    padding: 2%;
    font-weight: bold;
    color: grey;
}

.round_name {
    padding: 2%;
    font-weight: bold;
    color: grey;
}

.round_name {
    padding: 2%;
    margin-top: 5%;
}

.blueDiv {
    padding: 0;
    background-color: #00253F;
    border-radius: 25px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.blueHeading {
    padding: 1%;
    background-color: #00253F;
    border-radius: 25px;
    color: white;
    margin-bottom: 2%;
    margin-top: 2%;
}

.span-1 {
    padding-top: 15%;
}

.groupbutton {
    width: 100%;
}

.help {
    padding-right: 2%;
}

.ddown {
    padding: 0px;
}

.m1 {
    padding: 2%;
}

.fixture_list input {
    display: table-cell;
}

.top_row {
    padding-top: 20px;
}

.backdrop {
    display: block;
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}

.de_fixture_list {
    border: 1px solid #cfcfcf;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 20px;
    position: relative;
}

.de_teams {
    padding: 20px 0;
}

.de_save_button {
    position: absolute;
    top: 135px;
    width: 140px;
    right: 10px;
}

.edit_btn {
    width: 125%;
}

.top_edit_btn {
    width: 50%;
}

.backTotournament {
    float: right;
    cursor: pointer;
    margin-top: 1%;
    color: #99cc00;
    font-size: 1em;
}

#leftarrow {
    float: right;
    cursor: pointer;
    background: #00253F;
    padding: 14px;
    border-radius: 25px;
}

#rightarrow {
    float: left;
    cursor: pointer;
    background: #00253F;
    padding: 14px;
    border-radius: 25px;
}

.label1 {
    margin: 0;
    color: white;
    padding-left: 15px;
    font-size: 4em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.active {
    margin-top: 400px !important;
}

.scroll {
    position: absolute;
    bottom: -50px;
    right: 0px;
    cursor: pointer;
    color: #8ec63f;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.sort_label {
    display: flex;
    align-items: center;
}