<ion-header>
    <ion-navbar no-padding>
        <div style="text-align:center">
            <img class="header-logo" src="assets/images/pelo.png" />
        </div>
    </ion-navbar>
</ion-header>

<ion-content no-bounce padding-left padding-top>

    <ion-grid [formGroup]="form" no-padding>

        <ion-col no-padding col-12>
            <p style="font-family: roboto-bold;font-size: 24px;">
                {{'Hi. What is your name?' | translate}}
            </p>
        </ion-col>

        <ion-col no-padding col-12>
            <ion-item no-padding>
                <ion-input formControlName="full_name" style="position: relative;" placeholder="{{'Full name' | translate}}">
                </ion-input>
            </ion-item>
            <i *ngIf="form.controls.full_name.valid" class="fa fa-check-circle-o ok" aria-hidden="true"></i>
            <p style="font-family: roboto-regular;color: red;" *ngIf="form.controls.full_name.hasError('maxlength')">{{'max length exceeded' | translate}}</p>
        </ion-col>

    </ion-grid>
</ion-content>

<ion-footer no-shadow no-padding>
    <ion-toolbar position="bottom" no-padding>
        <button (click)="onBoading1(form.value)" class="next" [disabled]="!form.valid" full ion-button>{{'Next' | translate}}</button>
    </ion-toolbar>
</ion-footer>