<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div style="display: flex;align-items: end;" class="ui-g-12">
            <div class="ui-g-10">
                <app-profile-complete [progress]="profile_complete_percentage"></app-profile-complete>
            </div>
            <div style="text-align: right;" class="ui-g-2">

                <img (click)="skipAll()" class="skip-all" src="assets/images/signup/Cross.png" />
            </div>
        </div>
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"What is your preferred leg?" | translate}}
            </p>
            <div class="ui-g-12" style=" text-align: center;">
                <button [class.leg-active]="leg=='Izquierda'" (click)="leg='Izquierda'" class="leg" pButton type="button" label="{{'Left footed' | translate}}">
          </button>
            </div>
            <div style=" text-align: center;" class="ui-g-12">
                <button [class.leg-active]="leg=='Derecha'" (click)="leg='Derecha'" class="leg" pButton type="button" label="{{'Right footed' | translate}}">
          </button>
            </div>
            <div class="ui-g-12" style=" text-align: center;">
                <button [class.leg-active]="leg=='Ambidiestro'" (click)="leg='Ambidiestro'" class="leg" pButton type="button" label="{{'Ambidextrous' | translate}}">
          </button>
            </div>

        </div>

        <div class="ui-g-12" style="margin-top: 32px;">
            <button (click)="setLeg(false)" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}">
      </button>
        </div>
        <div class="ui-g-12" style="text-align: center">
            <p (click)="setLeg(true)" style="cursor: pointer;;color: #8b8e95;font-size: 16px;text-align: center;margin-top: 16px;display: grid;">
                {{"Skip" | translate}}
            </p>
        </div>

    </div>