.leg {
    background: transparent !important;
    color: #8b8e95;
    border: 1px solid #8b8e95;
    /* width: 150px; */
    font-family: roboto-regular;
    margin: 16px 0px;
    border-radius: 44px;
    font-size: 14px;
    color: #333 !important;
    font-family: roboto-medium !important;
    width: 50%;
    font-family: roboto-medium !important;
    text-transform: none;
}
.leg-active {
    background: transparent !important;
    color: #8ec63f;
    border-radius: 44px;
    border: 1px solid #8ec63f;
    background: #8ec63f !important;
    color: white !important;
    font-family: roboto-medium !important;

}