.full-container {
    background-size: 100% 100%;
    height: 100%;
    margin-top: 130px;
}

.quote_image img {
    width: 100%;
}

.quote_image {
    padding: 0px;
    position: relative;
}

.stroke {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 25px;
}

.stroke_bottom {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.quote_image div {
    padding: 0px;
}

.para_text {
    margin: 0 auto;
    position: absolute;
    bottom: 80px;
    font-size: 2.5em;
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'Montserrat-Light';
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    text-align: center
}

.head {
    font-size: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-family: 'ChaletComprime CologneEighty';
    padding-left: 50px;
}

.head_para {
    padding-bottom: 70px;
    font-family: Montserrat-Light;
    font-size: 14px;
    color: #888;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: justify;
    padding-right: 60px;
    padding-left: 50px;
}

.text-about {
    display: flex;
    align-items: center;
}

.map {
    text-align: center;
    background-color: #F8F9FB;
    padding-bottom: 50px;
}

.map img {
    padding-bottom: 25px;
    padding-top: 25px;
}

.map_para {
    background-color: #F8F9FB;
    text-align: center;
    font-size: 2em;
    padding-top: 25px;
}

.office_para {
    font-size: 2em;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center
}

.office {
    display: flex;
    align-items: center;
}

.office img {
    width: 470px;
}

.address {
    text-align: left;
    font-family: Montserrat-Light;
    font-size: 14px;
}

.address p i {
    padding-right: 25px;
}

.address p {
    padding-bottom: 5px;
    color: #888
}

.city {
    padding-bottom: 20px;
    font-size: 30px;
    color: #27414E !important
}

.header_landing_width {
    width: 1140px;
    margin: 0 auto;
}

.user_parteners {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
}

.static_font_size {
    font-size: 30px;
    font-family: Montserrat-Light;
    color: #444;
}

.user_video_info {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Montserrat-Light;
    line-height: 18px;
    font-size: 14px;
    color: #888
}

@media only screen and (max-width: 640px) {
    .quote_image p {
        top: inherit;
    }
    .quote_image p img {
        width: 140px;
        height: 90px;
    }
    .quote_image img {
        height: 190px;
    }
    .map img {
        width: 300px;
    }
    .office img {
        width: 150px
    }
    .address {
        padding-bottom: 5px;
        font-size: 10px;
    }
    .address p i {
        padding-right: 10px;
    }
    .city {
        font-size: 17px;
    }
    .header_landing_width {
        width: initial
    }
    .full-container {
        margin-top: 160px;
    }
}

@media only screen and (min-width: 640px) and (max-width:840px) {
    .office img {
        width: 330px;
    }
}