<div class="ui-g full-container ">
    <div class="ui-g-12 quote_image ">
        <img src="assets/images/common.jpg " />
        <p class="para_text ">{{'Sobre Nosotros' | translate}}</p>
        <p class="stroke ">
            <svg height="80 " width="350 ">
                <g fill="none " stroke="white ">
                     <path stroke-width="2 " d="M5 20 l500 0 " />
                </g>
            </svg>
        </p>
        <p class="stroke_bottom ">
            <svg height="80 " width="300 ">
                <g fill="none " stroke="white ">
                     <path stroke-width="2 " d="M5 20 l415 0 " />
                </g>
            </svg>
        </p>
    </div>
    <div class="ui-g ">
        <div class="ui-g-5 ui-sm-12 ">
            <img src="assets/images/managetournament.png " style="width: 100% " />
        </div>
        <div class="ui-g-7 ui-sm-12 text-about">
            <div>
                <p class="head "> {{'Que es Pelotea?' | translate}}</p>
                <p class="head_para ">{{'Pelotea es una plataforma de fútbol que ayuda a los jugadores, equipos, árbitros, administradores de torneos, ligas y canchas a interactuar uno con el otro creando una experiencia profesional en el fútbol amateur.' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="ui-g" style="width: 100%">
        <div class="ui-g-12 map_para">
            <p>{{'Países donde operamos' | translate}} </p>
        </div>
        <div class="ui-g-12 map">
            <img src="./assets/images/map.png" />
        </div>
    </div>
    <div class="ui-g header_landing_width">
        <div class="ui-g-12 office_para">
            <p>{{'Nuestras oficinas' | translate}}</p>
        </div>
        <div class="ui-g-12 office">
            <div class="ui-g-6">
                <img src="./assets/images/san.jpg" />
            </div>
            <div class="ui-g-6 ">
                <div class="address">
                    <p class="city">{{'Oficinas en Ecuador' | translate}}</p>
                    <p><i class="fa fa-address-card-o" aria-hidden="true"></i>Av. Coruña E12-148 y Valladolid. EdificioGalley - Coworking La Floresta.</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +593 2 323 0089</p>
                    <p><i class="fa fa-whatsapp" aria-hidden="true"></i> +593 9 710 0102</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> info@pelotea.com</p>
                </div>

            </div>

        </div>
        <div class="ui-g-12 office">
            <div class="ui-g-6 address">
                <p class="city">{{'Oficinas en Estados Unidos' | translate}}</p>
                <p><i class="fa fa-address-card-o" aria-hidden="true"></i>101 California Street Suite 2710 San Francisco, CA 94111</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> +1 415 688 9103</p>
                <p><i class="fa fa-whatsapp" aria-hidden="true"></i> +1 415 688 9103</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> info@pelotea.com</p>

            </div>
            <div class="ui-g-6">
                <img src="./assets/images/ecuador.jpg" />
            </div>

        </div>

    </div>
    <br>
    <div class="ui-g header_landing_width">
        <div class="ui-g-12 user_parteners">
            <span class="static_font_size">{{'Nuestros Partners' | translate}}</span>
            <br>
            <span></span>
            <br>
            <span class="user_video_info">{{"Pelotea busca desarrollar alianzas con organizaciones profesionales y amateur de futbol, clubes, universidades, marcas y empresas privadas." | translate}} </span>
            <br>
            <button pButton type="button" routerLink="./../talk" label="{{'CONTÁCTANOS' | translate}}" class="ui-button-green" style="margin-top: 10px;margin-bottom: 50px;"></button>
        </div>
    </div>
</div>