<div class="ui-g full-container">
    <div class="ui-g-12  quote_image">

        <img src="assets/images/common.jpg" />
        <p class="para_text">{{'Clientes' | translate}} </p>
        <p class="stroke">
            <svg height="80" width="200">
                <g fill="none" stroke="white">
                     <path stroke-width="2" d="M5 20 l500 0" />
                </g>
            </svg>
        </p>
        <p class="stroke_bottom">
            <svg height="80" width="150">
                <g fill="none" stroke="white">
                     <path stroke-width="2" d="M5 20 l415 0" />
                </g>
            </svg>
        </p>
    </div>
    <div class="ui-g landin_page" *ngFor="let story_info of storyCollection;let j=index">
        <div class="ui-g-4 ui-sm-12  image_div" [class.active]="status==info.id" (click)="status=info.id;increment=i;customerInfo(info.id)" *ngFor="let info of story_info let i=index">
            <img [src]="info?.thumbnail_image?imageUrl+info?.thumbnail_image:'./assets/images/Banner.jpg'" />
            <div class="show-text">
                <p class="name">{{info?.name}}</p>
                <p class="city">{{'ciudad' | translate}}:{{info?.city.city_name}}</p>
                <p class="designation">{{info?.designation}}</p>
            </div>
            <div id="triangle-up" *ngIf="show && increment ==i && story_info[increment].id ==status" [@myAnimation]></div>
        </div>
        <div class="ui-g-12 ui-sm-12 view" [@myAnimation] *ngIf="show && story_info[increment].id ==status" (click)="show=!show">
            <div class="ui-g-4 ui-sm-12 show_image">
                <img class="view_img" [src]="cInfo?.thumbnail_image?imageUrl+cInfo?.thumbnail_image:'./assets/images/Banner.jpg'" />
            </div>
            <div class="ui-g-8 ui-sm-12  view_div" id="style-1">
                <p class="view_name">{{cInfo?.name}}</p>
                <p class="view_city">{{'ciudad' | translate}}: {{cInfo?.city.city_name}}</p>
                <p class="view_designation"> {{cInfo?.designation}}</p>
                <p id="view_info" [innerHTML]="cInfo.compose_story">
                </p>
            </div>
        </div>
    </div>
    <div [class.backdrop]="show" (click)="show=!show"></div>
    <div class="ui-g landin_page_bottom">
        <div class="ui-g-12 bottom_bttn" style="text-align: center">
            <p>{{'Pelotea es una plataforma de fútbol que ayuda a los jugadores, equipos, árbitros, administradores de torneos, ligas y canchas a interactuar uno con el otro creando una experiencia profesional en el fútbol amateur.' | translate}}</p>
            <button pButton type="button" routerLink="./../talk" label="{{'CONTÁCTANOS' | translate}}" class="ui-button-green" style="margin-top: 10px;margin-bottom: 50px;"></button>
        </div>
    </div>
</div>