.full-container {
    background-size: 100% 100%;
    height: 100%;
    margin-bottom: 90px;
    margin-top: 130px;
}

.quote_image img {
    width: 100%;
}

.quote_image div {
    padding: 0px;
}

.quote_image {
    padding: 0px;
    position: relative;
}

.stroke {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.stroke_bottom {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15px;
}

.para_text {
    margin: 0 auto;
    position: absolute;
    bottom: 85px;
    font-size: 2.5em;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat-Light';
    text-align: center;
    text-transform: uppercase;
    width: 100%
}

.quote_image {
    position: relative;
}

.bottom_bttn p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Montserrat-Light;
    font-size: 14px;
    color: #888;
    line-height: 22px;
    letter-spacing: 1px;
}

.landin_page {
    width: 1140px;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center
}

.image_div {
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.landin_page_bottom {
    width: 1140px;
    margin: 0 auto;
}

.image_div p {
    position: absolute;
    font-family: Montserrat-Light;
    color: white;
}

.name {
    top: 5%;
    font-size: 2em;
    width: 100%;
    text-transform: capitalize;
    cursor: pointer
}

.city {
    width: 100%;
    top: 35%;
    font-size: 1.5em;
    cursor: pointer
}

.designation {
    width: 100%;
    top: 65%;
    font-size: 1.2em;
    cursor: pointer
}

.image_div img {
    height: 250px;
    filter: brightness(100%);
    cursor: pointer;
    flex-shrink: 0;
    max-width: 100%;
}

.view {
    background-color: #19365E;
    z-index: 2;
    filter: brightness(100%);
    margin-left: 5px;
    margin-right: 5px;
}

.show_image {
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.view_img {
    height: 250px;
    filter: brightness(100%);
    cursor: pointer;
    flex-shrink: 0;
    max-width: 100%;
}

.view p {
    font-family: Montserrat-Light;
    color: white;
    text-align: justify;
    padding-left: 10px;
    line-height: 25px;
}

.view_name {
    font-size: 2em;
    text-transform: capitalize;
}

.view_city {
    font-size: 1.5em;
}

.view_designation {
    font-size: 1.2em;
}

#view_info {
    font-size: 1em;
}

.view_div {
    overflow-y: scroll;
    height: 260px;
    padding-right: 25px;
}

#style-1::-webkit-scrollbar {
    width: 3px;
    background-color: #19365E;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 1.3);
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.active {
    z-index: 2
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 35px solid #19365E;
    position: absolute;
    bottom: -25px;
    left: 50%;
    z-index: 2;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.show-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    background: black;
    height: 102px;
    width: 96%;
    left: 50%;
    transform: translate(-50%, 0);
    top: 30%;
}

.image_div:hover .show-text {
    opacity: 0.9;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

@media only screen and (max-width: 640px) {
    .quote_image p {
        top: inherit;
    }
    .quote_image p img {
        width: 140px;
        height: 90px;
    }
    .quote_image img {
        height: 190px;
    }
    .landin_page {
        width: 100%;
    }
    .view {
        height: inherit;
        width: 100%;
        margin-left: 0px;
    }
    .show-text {
        opacity: 1
    }
    .full-container {
        margin-top: 160px;
    }
    .view_img {
        float: initial;
        padding-left: 0px;
    }
}

@media screen and (min-width: 640px) and (max-width: 890px) {
    .show-text {
        width: 223px;
    }
    .landin_page {
        width: 100%;
    }
    .image_div img {
        width: 225px;
        padding-left: 0px;
    }
    .view {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
}