page-explore {
    // .header_div {
    //     display: none;
    // }
    // .tabs-md .tab-button.has-title-only,
    // .tabs-ios .tab-button.has-title-only {
    //     padding: 0 0px;
    // }
    // .tb.tabs-md .tabbar,
    // .tb.tabs-ios .tabbar {
    //     background: #8ec63f !important;
    //     // padding: 0px !important;
    // }
    // .tb.tabs-md .tab-button[aria-selected="true"],
    // .tb.tabs-ios .tab-button[aria-selected="true"] {
    //     color: #ffffff;
    //     border-bottom: 2px solid white;
    // }
    // .tb.tabs-md .tab-button[aria-selected="false"] .tab-button-text,
    // .tb.tabs-ios .tab-button[aria-selected="false"] .tab-button-text {
    //     color: #ffffff;
    //     opacity: 2px;
    // }
    // .tb.tabs-md[tabsHighlight="true"] .tab-highlight,
    // .tb.tabs-ios[tabsHighlight="true"] .tab-highlight {
    //     background: #ffffff;
    // }
    // .tabs-ios[tabsPlacement="top"] .tabbar,
    // .tabs-md[tabsPlacement="top"] .tabbar {
    //     background: #8ec63f !important;
    // }
    // .tabs-ios .tab-button.has-title-only .tab-button-text {
    //     color: #fff;
    //     font-family: "roboto-regular";
    //     font-size: 14px;
    // }
    // .tabs-md .tab-button-text {
    //     font-size: 1.4rem;
    // }
    // .searchbar-ios {
    //     margin-top: 13px;
    // }
    .tabs-ios .tabbar {
        top: 0px;
        border: 0px;
        background: #8ec63f;
        margin: 0px;
        padding: 0px;
        border-bottom-width: 0px !important;
    }
    .tabs-ios .tab-button {
        color: white
    }
    .tabs-ios .tab-button[aria-selected=true] {
        padding: 0px;
        color: white;
        border-bottom: 3px solid white;
        margin: 0px;
    }
    .tabs-md .tabbar {
        top: 0px;
        border: 0px;
        background: #8ec63f;
        margin: 0px;
        padding: 0px;
        border-bottom-width: 0px !important;
    }
    .tabs-md .tab-button {
        color: white
    }
    .tabs-md .tab-button[aria-selected=true] {
        padding: 0px;
        color: white;
        border-bottom: 3px solid white;
        margin: 0px;
    }
}