<!-- <ion-header>
    <ion-navbar>
        <ion-title>{{'Explore' | translate}}</ion-title>
    </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-navbar no-padding>
        <div padding class="header_div">
            <ion-title style="text-align: center;">{{"Explore" | translate}}</ion-title>
        </div>

    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <ion-tabs tabsPlacement="top" class="tb">
        <ion-tab [root]="tab1Root" [rootParams]="obj" tabTitle="{{'Leagues' | translate}}"></ion-tab>
        <ion-tab [root]="tab2Root" [rootParams]="obj" tabTitle="{{'Teams' | translate}}"></ion-tab>
        <ion-tab [root]="tab3Root" [rootParams]="obj" tabTitle="{{'Players' | translate}}"></ion-tab>
    </ion-tabs>
</ion-content>