.full-container {
    padding-top: 185px;
    background: linear-gradient(to bottom, rgba(90, 81, 81, 0) 125px, rgba(0, 0, 0, 1) 230px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../../../assets/images/tournament-profile-cover/default.png) no-repeat;
    background-size: 100%
}

.section {
    max-width: 970px;
    margin: auto;
}

.icons {
    color: white;
    text-align: center;
    position: relative;
    width: 160px;
    z-index: 1;
    top: -70px;
}

.team {
    text-align: left
}

@media screen and (min-width:320px) and (max-width:640px) {
    .grupo {
        font-size: 9px;
    }
    .iconss {
        margin-left: 0px !important;
    }
    .lft {
        margin-left: -3px;
    }
    .partidos {
        padding-top: 15% !important;
    }
    .icn {
        left: 190px !important;
    }
    .name {
        margin-left: 40px !important;
    }
}

.head {
    background-image: url('./../../../../../assets/images/back.jpg');
    background-size: 100% 100%;
    height: 220px;
}

.icon-bar {
    width: 100%;
    text-align: center;
    overflow: auto;
}

.icon-bar a {
    width: 17%;
    padding: 12px 0px;
    float: left;
    transition: all 0.3s ease;
    color: #828282;
    font-size: 21px;
    text-decoration: none;
}

h3 {
    font-size: 1.3em;
}

.partidos {
    border-bottom: 1px solid #828282;
}

.back {
    float: right;
    color: green;
}

.icons {
    top: 0px;
}

.heading {
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3em;
    color: grey;
}

.backTotournament {
    float: right;
    cursor: pointer;
    margin-top: 1%;
    color: #99cc00;
}

.partidos {
    padding-top: 5%;
}

.informacion>h3 {
    padding-left: 4%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.informacion>p {
    font-size: 1.1em;
}

.informacion>p {
    line-height: 1.8;
    padding-left: 4%;
}

.informacion {
    border: 2px solid #828282;
    padding-bottom: 7%;
    width: 85%;
}

.paletando {
    width: 85%;
    border: 2px solid #828282;
    margin-top: 10%;
}

.para {
    margin-top: 5%;
}

.paletando>h3 {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 4%;
}

.rank {
    padding-left: 4%;
}

big {
    font-size: 20px;
    margin: 5px;
}

hr {
    margin-top: 2%;
}

.linkCustom {
    border-radius: 3px;
}

.hoverOnTd {
    color: #737373;
    background-color: #e6e6e6;
    padding: 10px;
}

.hoverOnTd:hover {
    background-color: #66cc00;
    color: white;
    cursor: pointer;
}

.colDiv {
    background-color: #66cc00;
}

.colorSUm {
    color: white;
}

.part1div {
    background-color: #e6e6e6;
}

.match {
    color: #66cc00;
    font-size: 10px;
}

.value {
    color: #737373;
    font-size: 10px;
}

.franceCol {
    position: relative;
}

.france {
    float: left;
    margin-left: 10%;
    margin-top: 8%;
}

.circleImage {
    border-radius: 15px;
}

.circleDiv {
    height: 30px;
    width: 30px;
    background-color: red;
}

.colorRows {
    background-color: #003366;
    color: white;
    padding-bottom: 1%;
    padding-top: 1%;
}

.greyCol {
    background-color: #f2f2f2;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    color: #003366;
    font-size: 16px;
}

.iconss {
    border-radius: 50px;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
}

.france {
    margin-top: 2.5%;
}

.name {
    float: left;
    margin-left: 115px;
}

.redCard {
    width: 20px;
    height: 20px;
}


/*================ not in use=================*/

.time {
    font-size: 16px;
    margin-top: 20%;
    margin-right: 10%;
}

.cirImage {
    border-radius: 15px;
    float: left;
    margin-left: 8%;
}

.Portugal {
    margin-top: 8% !important;
}

.widthRow {
    width: 97%;
}

.manual {
    margin-top: 5% !important;
}

.icn {
    position: absolute;
    left: 850px;
}

.fa {
    width: 25px;
    background: #113861;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    margin: 1%;
    color: white;
    cursor: pointer;
}