<div class="section">
    <div class="ui-g" *ngIf="scorerInfo.length >0">
        <div class="ui-g-12 ui-lg-12 ui-sm-12 ">
            <div class="contain" align="center">
                <div class="ui-g">
                    <div class="ui-g-12 ui-g-nopad greyCol">
                        <div>
                            <div class="grupo">
                                <div class="ui-g">
                                    <div class="ui-g-12 ui-g-nopad colorRows">
                                        <div class="ui-g">
                                            <div class="ui-g-1 ui-sm-1 lft">P</div>
                                            <div class="ui-g-5 ui-sm-6 lft "><span class="name">{{'Nombre' | translate}}</span></div>
                                            <div class="ui-g-3 ui-sm-5 lft team">{{'Equipo' | translate}}</div>
                                            <div class="ui-g-3 ui-sm-5 lft">{{"Goles" | translate}}</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g" *ngFor="let group of scorerInfo;let i = index">
                                    <div class="ui-g-1 ui-sm-1 lft">{{i+1}}</div>
                                    <div class="ui-g-5 ui-sm-6 lft ui-g-nopad">
                                        <img class="iconss" [src]='group?.profile_pic?imageUrl+group?.profile_pic:"/assets/images/player-profile-logo/default.png"' alt="images" height="30px" width="30px">
                                        <span class="france">{{group?.player}} {{group?.last_name}} </span>
                                    </div>
                                    <div class="ui-g-3 ui-sm-5 team">{{group?.team_name}}</div>
                                    <div class="ui-g-3 ui-sm-5 lft">{{group?.goal}}</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="ui-g-12" style="text-align: center" style="height: 100px;text-align: center;">
        <span *ngIf="!scorerInfo.length" style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
    </div>
</div>