.accepted-button {
    background: #f2f2f2;
    padding: 13px;
    text-align: center;
    border: #cfcfcf 1px solid;
    color: #828282;
    cursor: pointer;
}

.rejected-button {
    background: #8DCF25;
    padding: 13px;
    text-align: center;
    cursor: pointer;
}

.infm {
    font-size: 12px;
    text-transform: lowercase;
    font-weight: bold;
    color: #8DCF25;
    font-family: 'Montserrat-Regular';
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.activeLink {
    background: #8DCF25;
}

.hoverOnTd {
    color: #737373;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border: 1px solid #737373;
}

.section1 {
    max-width: 970px;
    margin: auto;
    margin-bottom: 5px;
}

.main-container {
    margin-top: -8%;
}

.logo>img {
    width: 82px;
    height: 82px;
    border-radius: 50%;
}

.logo {
    text-align: center;
}

.info {
    padding-left: 2%;
    line-height: 1;
    padding-top: 2%;
}

.card {
    background: #043860;
}

.rating {
    padding-top: 2%;
    text-align: center
}

.prime {
    font-family: 'ChaletComprime CologneEighty';
}

.edit-btn {
    text-align: end;
    padding: 3em 0em 3em 0em;
}

.p-rating {
    background: gray;
    border-radius: 25px;
    margin-bottom: .3em;
    padding: 0.5em 0.5em .6em 1.3em;
}

.funda {
    display: none;
}

.prime {
    color: white;
    font-size: 2em;
}

.infom {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    border: 1px solid #828282;
}

.loadercomponent {
    position: absolute;
    left: 40.5em;
    top: 4.5em;
}

@media screen and (min-width:320px) and (max-width:640px) {
    .rating {
        display: none;
    }
    .fundado {
        display: none;
    }
    .edit {
        margin-right: 6em;
    }
    .more {
        margin-right: 6em;
    }
    .prime {
        color: #043860;
    }
    .funda {
        background: #043860;
    }
    .edit-btn {
        background: #043860;
    }
    .card {
        background: white;
    }
    .funda {
        display: block;
        color: red;
        padding: 2% 0% 2% 9%;
    }
    .logo>img {
        width: 60px;
        height: 60px;
    }
    .info {
        padding-top: 4%;
    }
    .prime {
        font-size: 2em;
    }
    .card {
        width: 90%;
        margin: auto;
        border: 1px solid black;
    }
}