<loader *ngIf="loader" class="loadercomponent"></loader>

<div class="section1" *ngFor='let tour of tournament'>
    <div class="ui-g card">
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-3 logo">
            <img *ngIf="!tour?.tournament_logo" src="assets/images/tournament-profile-logo/default.png" alt="image">
            <img *ngIf="tour?.tournament_logo" src="{{imageBasePath}}{{tour?.tournament_logo}}" alt="image">
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-9 info">
            <p class="prime">{{tour.tournament_name}}</p>
            <p style="color:#e6263d;font-weight:bold;">{{tour.tag_line}}</p>
            <br>
            <p style="color:#8DCF25;font-weight:bold;" class="fundado">{{"Fecha de torneo" | translate}}:<span style="color:white;padding-left: 2%;">Junio 2016</span></p>
            <p style="color:#8DCF25;font-weight:bold;line-height: 1.3;" class="fundado">{{'Número de jugadores' | translate}}:<span style="color:white;padding-left: 2%;">{{tour.no_of_player}}
</span></p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 rating">
            <p style="color:#8DCF25;font-size: 2em;" class="prime">{{'ORGANIZATION' | translate}}</p>
            <p-rating [ngModel]="tour?.tournament_organization" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <br>
            <span style="color:white;">{{'Puede mejorar' | translate}}</span>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 rating">
            <p style="color:#8DCF25;font-size: 2em;" class="prime">{{'FAIRNESS' | translate}}</p>
            <p-rating [ngModel]="tour?.tournament_fairness" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <br>
            <span style="color:white;">{{'Puede mejorar' | translate}}</span>
        </div>
        <div class="funda ui-g-6 ui-sm-6">
            <p style="color:#8DCF25;font-weight:bold;">{{'Fecha de torneo' | translate}}:<br><span style="color:white;">Junio 2016</span></p><br>
            <p style="color:#8DCF25;font-weight:bold;line-height: 1.3;">{{'Número de jugadores' | translate}}:<br><span style="color:white;">{{tour.tournament_level}}</span></p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-6 edit-btn" *ngIf="admin">
            <button pButton type="button" label="{{'EDITAR' | translate}}" class="ui-button-green ui-button"></button>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-6 edit-btn" *ngIf="!admin">
            <button pButton type="button" label="{{'VER MÁS' | translate}}" class="ui-button-green ui-button" (click)="redirectProfile(tour?.id)"></button>
        </div>
    </div>
</div>
<div class="ui-g" style="margin-top: 20px;height: 100px">
    <div class="ui-g-12 text-center" *ngIf="status=='approved'&&tournament.length==0">
        <span style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
    </div>
</div>