.borderOfCard {
    padding-top: 2%;
    background-color: white;
}

.card-image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: -10%;
}

.match {
    border: 1px solid black;
    margin-top: 1%;
    margin-bottom: 1%;
}

.no-data-msg {
    text-align: center;
    margin-top: 70px;
    height: 200px;
}

.adjustHeight {
    height: 200px;
}

.no-msg-span {
    text-align: center;
    font-size: 20px;
    color: darkcyan;
}

.backColor {
    background-color: #043760;
    padding-top: 2%;
}

.textColor {
    color: #8DCF24
}

.bttn {
    height: 85%;
    padding-top: 5%;
}

.bttn span {
    font-size: 12px;
}

.teamSpan {
    font-size: 1.5em;
    color: #275376;
}

.teamSpanDiv {
    text-align: center;
    font-size: 1.5em;
    margin-top: 2%;
    font-family: ChaletComprime CologneEighty;
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.partidosDiv {
    background: #8DCF24;
    text-align: center;
}

.partidosDiv span {
    color: white;
    font-size: 1.5em
}

.mesgDiv {
    background-color: #F2F2F2;
    border: 1px solid;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin: 1%;
}

.mesgDiv span {
    font-size: 13px;
}

.web_view {
    display: block;
}

.mobile_view {
    display: none;
}

@media only screen and (max-width: 640px) {
    .sm1 {
        font-size: 0.8em
    }
    .bttn {
        height: 39px;
        padding-top: 6%;
    }
    .web_view {
        display: none;
    }
    .mobile_view {
        display: block;
    }
    .dropdownback {
        padding-left: 69%;
        margin-top: -50px;
        width: 30%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .card-image {
        height: 35px;
        width: 35px;
    }
}