<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>

<div class="ui-g match ui-fluid" *ngFor="let info of requestInfo">
    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 sm borderOfCard">
        <div class="ui-g-2">
            <img *ngIf="info?.team1_logo" src={{imageUrl}}{{info?.team1_logo}} class="card-image" />
            <img *ngIf="!info?.team1_logo" src="assets/images/team-profile-logo/default.png" class="card-image" />
        </div>
        <div class="ui-g-8 teamSpanDiv">
            <span class="teamSpan">{{info?.team1_name}}</span>
            <span>VS</span>
            <span class="teamSpan">{{info?.team2_name}}</span>
        </div>
        <div class="ui-g-2 ">
            <img *ngIf="info?.team2_logo" src={{imageUrl}}{{info?.team2_logo}} class="card-image" />
            <img *ngIf="!info?.team2_logo" src="assets/images/team-profile-logo/default.png" class="card-image" />
        </div>
    </div>
    <div class="ui-g-8  ui-sm-12 ui-md-8 ui-lg-8 sm backColor">
        <div class="ui-g">
            <div class="ui-g-6 ui-sm-8 ui-md-6 ui-lg-6 sm ">
                <span class="textColor">{{'Fecha Partido' | translate}}:</span>
                <span style="color:white">{{info?.match_date}}</span> <br><br>
                <span class="textColor">{{'Horario' | translate}}:</span>
                <span style="color:white">{{info?.from_time}}-{{info?.to_time}} hrs</span><br><br>
                <span class="textColor">{{"Tipo de reserva" | translate}}:</span>
                <span style="color:white">{{info?.recurrent_reservations_type ? info.recurrent_reservations_type:'--'}}</span>
            </div>
            <div class="ui-g-3 ui-sm-4 ui-md-3 ui-lg-3 sm1">
                <button pButton type="button" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button" (click)="redirectTeamProfile(info?.request_by)"></button>
            </div>
            <div class="ui-g-3 ui-sm-4 dropdownback web_view">
                <p-dropdown [options]="status_lebels" placeholder="{{'Status' | translate}}" [(ngModel)]="statusLevel" (onChange)="postStatus(info?.request_pk,statusLevel)" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-g mobile_view">
            <div class="ui-sm-8">
            </div>
            <div class="ui-sm-4 dropdownback">
                <p-dropdown [options]="status_lebels" placeholder="{{'Status' | translate}}" [(ngModel)]="statusLevel" (onChange)="postStatus(info?.request_pk,statusLevel)" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>
    </div>
    <div class="ui-g-12  ui-sm-12 ui-md-12 ui-lg-12 sm mesgDiv" *ngIf="info?.message">
        <span style="color: #275376">{{'Nota personal:' | translate}}</span><br>
        <span>{{info?.message}}
                </span><br>
    </div>
</div>
<div class="ui-g match ui-fluid" *ngFor="let info of tournamentMatchList">
    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 sm borderOfCard">
        <div class="ui-g-2">
            <img *ngIf="info?.team1_logo" src={{imageUrl}}{{info?.team1_logo}} class="card-image" />
            <img *ngIf="!info?.team1_logo" src="assets/images/team-profile-logo/default.png" class="card-image" />

        </div>
        <div class="ui-g-8 teamSpanDiv">
            <span class="teamSpan">{{info?.team1_name}}</span><br>
            <span>VS</span><br>
            <span class="teamSpan">{{info?.team2_name}}</span>
        </div>
        <div class="ui-g-2 ">
            <img *ngIf="info?.team2_logo" src={{imageUrl}}{{info?.team2_logo}} class="card-image" />
            <img *ngIf="!info?.team2_logo" src="assets/images/team-profile-logo/default.png" class="card-image" />
        </div>
    </div>
    <div class="ui-g-8  ui-sm-12 ui-md-8 ui-lg-8 sm backColor">
        <div class="ui-g">
            <div class="ui-g-4 ui-sm-6 ui-md-4 ui-lg-4 sm ">
                <span class="textColor">{{'Fecha Partido' | translate}}:</span>
                <span style="color:white">{{info?.match_date}}</span> <br><br>
                <span class="textColor">{{'Horario' | translate}}:</span>
                <span style="color:white">{{info?.from_time}} hrs</span>
            </div>
            <div class="ui-g-2 ui-sm-4 ui-md-2 ui-lg-2 sm">
                <img *ngIf="info?.tournament_logo" src="{{imageUrl}}{{info?.tournament_logo}}" class="card-image" />
                <img *ngIf="!info?.tournament_logo" src="assets/images/tournament-profile-logo/default.png" class="card-image" />
            </div>
            <div class="ui-g-3 ui-sm-4 ui-md-3 ui-lg-3 sm1">
                <button pButton type="button" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button " (click)="redirectTournamentProfile(info?.tournament_pk)"></button>
            </div>
            <div class="ui-g-3 ui-sm-4 dropdownback web_view">
                <p-dropdown [options]="status_lebels" [(ngModel)]="statusLebel" (onChange)="postStatus(info?.request_pk,statusLebel)" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-g mobile_view">
            <div class="ui-sm-8">
            </div>
            <div class="ui-sm-4 dropdownback">
                <p-dropdown [options]="status_lebels" [(ngModel)]="statusLebel" (onChange)="postStatus(info?.request_pk,statusLebel)" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
        </div>
    </div>
    <div class="ui-g-12  ui-sm-12 ui-md-12 ui-lg-12 sm mesgDiv" *ngIf="info?.message">
        <span style="color: #275376">{{['Nota personal:' | translate]}}</span><br>
        <span>{{info?.message}}
                </span><br>
    </div>
</div>
<div class="ui-g match ui-fluid" *ngFor="let info of tournamentBookingList; let i=index">
    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 sm borderOfCard">
        <div class="ui-g-2">
            <img *ngIf="info?.profile_pic" src={{imageUrl}}{{info?.profile_pic}} class="card-image" />
            <img *ngIf="!info?.profile_pic" src="assets/images/footcir.png" class="card-image" />
        </div>
        <div class="ui-g-8 teamSpanDiv">
            <span class="teamSpan">{{info?.name}}<span>  </span>{{info?.last_name}}</span><br>
        </div>
        <div class="ui-g-2 ">
        </div>
    </div>
    <div class="ui-g-8  ui-sm-12 ui-md-8 ui-lg-8 sm backColor">
        <div class="ui-g">
            <div class="ui-g-6 ui-sm-8 ui-md-6 ui-lg-6 sm ">
                <span class="textColor">{{'Fecha Partido' | translate}}:</span>
                <span style="color:white">{{info?.match_date}}</span> <br><br>
                <span class="textColor">{{'Horario' | translate}}:</span>
                <span style="color:white">{{info?.from_time}}-{{info?.to_time}} hrs</span><br><br>
                <span class="textColor">{{'Tipo de reserva' | translate}}:</span>
                <span style="color:white">{{info?.recurrent_reservations_type ? info.recurrent_reservations_type:'--'}}</span>
            </div>
            <div class="ui-g-3 ui-sm-4 ui-md-3 ui-lg-3 sm1">
                <button pButton type="button" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button " (click)="redirectPlayerProfile(info?.request_by)"></button>
            </div>
            <div class="ui-g-3 ui-sm-4 dropdownback web_view">
                <p-dropdown [options]="status_lebels" (onChange)="postReqStatus(info?.request_pk,bookingStatusLabel)" [style]="{'width':'100%'}" [(ngModel)]="bookingStatusLabel">
                </p-dropdown>
            </div>
        </div>
        <div class="ui-g mobile_view">
            <div class="ui-sm-8">
            </div>
            <div class="ui-sm-4 dropdownback">
                <p-dropdown [options]="status_lebels" (onChange)="postReqStatus(info?.request_pk,bookingStatusLabel)" [style]="{'width':'100%'}" [(ngModel)]="bookingStatusLabel">
                </p-dropdown>
            </div>
        </div>
    </div>
    <div class="ui-g-12  ui-sm-12 ui-md-12 ui-lg-12 sm mesgDiv" *ngIf="info?.message">
        <span style="color: #275376">{{'Nota personal:' | translate}}</span><br>
        <span>{{info?.message}}
                </span><br>
    </div>
</div>
<div class="no-data-msg">
    <span *ngIf="noData" class="no-msg-span">{{'No hay partidos este día!' | translate}}</span>
</div>