<loader *ngIf='loader'></loader>
<p-growl [value]="msgs"></p-growl>
<div class="ui-g">
    <div class="ui-g-6 ui-sm-12 report">
        <span *ngIf="admin">
            <a routerLinkActive="activeLink" routerLink="./../reservation-info">{{'Reporte de reservas' | translate}}</a>
        </span>
    </div>

</div>


<div class="ui-g daysBttnPos">
    <div style="    text-align: right;">
        <span class="arrow_pos">
            <i class="fa fa-4x fa-chevron-left arrow " aria-hidden="true" (click)="previousDate(ref)"></i>
            <i class="fa fa-4x fa-chevron-right arrow" aria-hidden="true" (click)="nextDate(ref)"></i>
        </span>
        <!-- <button pButton type="button" label="{{'Semana' | translate}}" [class.active]="selected_link == 'semana'" class="ui-button-green bttn schedule day_select_bttn"
            (click)="sortBy('week',ref);selected_link='semana'"></button> -->
    </div>
</div>

<div class="ui-g daysBttn">
    <p-schedule [allDaySlot]='allDaySlot' [locale]="langauge" [defaultView]="defaultView" [events]="events" #ref [header]="header" (onEventClick)="handleEventClick($event)"></p-schedule>
</div>


<div [class.backdrop1]="reservarPopup"></div>

<div class="ui-g ui-fluid reservar ">
    <p-dialog [(visible)]="reservarPopup" modal="modal " [dismissableMask]="true">
        <div class="ui-g ">
            <div class="ui-g-12 headingOfPopup ">
                <span>{{'RESERVAR CANCHA' | translate}}</span>
            </div>
        </div>

        <div class="ui-g ">
            <div class="ui-g-12 priceInfo ">
                <span *ngIf="price > 0;else elseBlock">{{"RESERVAR PRECIO" | translate}} ${{price}}</span>
                <ng-template #elseBlock>
                    <span> {{'PRECIO' | translate}} --</span>
                </ng-template>
            </div>
        </div>
        <br>
        <div class="ui-g">
            <label>{{'Fecha de la reserva' | translate}}</label>
            <label class="hora">{{'Horario' | translate}}</label>
            <div class="ui-g-6">
                <span style="float: left;margin-left: 10px;">{{matchDate}}</span>
            </div>
            <div class="ui-g-6">
                <span>{{fromTime}}</span>
                <span>To</span>
                <span>{{toTime}}</span>
            </div>
        </div>
        <br>
        <div [class.reserve_div]="admin" [class.reserve_div_nonadmin]="!admin" id="style-1">
            <div class="ui-g">
                <div class="ui-g-12">
                    <p-checkbox id="checkbox" name="recurrent" label="{{'Reserva recurrente' | translate}}" [(ngModel)]="selectedValues" binary=false></p-checkbox>
                </div>
            </div>
            <div class="ui-g" *ngIf="selectedValues">
                <div class="ui-g-12">
                    <p-radioButton id="everyday" name="everyday" label="{{'Todos los días a esta hora' | translate}}" value='everyday' [(ngModel)]="selectedRadioValue"></p-radioButton>
                </div>
                <div class="ui-g-12" style="text-align: -webkit-auto;">
                    <p-radioButton id="week" name="week" label="{{'Mismo día y misma hora, una vez a la semana' | translate}}" value='once_a_day' [(ngModel)]="selectedRadioValue"> </p-radioButton>
                </div>
                <div class="ui-g-12">
                    <label style="display: flex">{{'Hasta la fechaa' | translate}}
                        <span class="star">*</span>
                    </label>
                    <br>
                    <p-calendar [minDate]="minDate" [yearNavigator]=true yearRange='2016:2050' [locale]="es_lang" dateFormat='yy-mm-dd' [(ngModel)]="tillDate" placeholder="Hasta la fecha" [readonlyInput]="true">
                    </p-calendar>
                </div>
            </div>
            <br>
            <div class="ui-g ui-fluid" *ngIf="admin">
                <div class="ui-g-12">
                    <p-radioButton id="week" name="Outside" label="{{'Cliente externo' | translate}}" value='false' [(ngModel)]="playerStatus">
                    </p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton id="everyday" name="Peloteando" label='Usuario de Pelotea' value='true' [(ngModel)]="playerStatus"></p-radioButton>
                </div>
                <div class="ui-g-12" *ngIf="playerStatus=='true'; else outsite_peloteando">
                    <p-autoComplete [suggestions]="player_list" [(ngModel)]="existing_name" (completeMethod)="filterBrands($event)" [size]="30" placeholder="*Buscar jugadores dentro de Pelotea" (onSelect)="handleDropdownClick($event)">
                        <ng-template let-brand pTemplate="item">
                            <div class="ui-g ui-md ui-sm ui-lg">
                                <div class="ui-g-7 ui-md-7 ui-sm-7 ui-lg-7 ui-g-nopad" style="line-height: 40px;">
                                    <div class="cercleSmall">
                                        <img [src]="brand?.profile_pic?imageUrl+brand?.profile_pic:'assets/images/default.png'" class="cercleSmall" />
                                    </div>
                                    <span class="colorPABLO paddFont">{{brand?.name}} {{brand?.last_name}}</span>
                                </div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <span style="color: red;float: left;margin-left: 15px;" *ngIf="name_valid">{{'Nombre inválido' | translate}}</span>
                </div>
                <ng-template #outsite_peloteando>
                    <div class="ui-g-12">
                        <input type="text" pInputText placeholder="*{{'Nombre' | translate}}" [formControl]="name" />
                    </div>
                </ng-template>
                <div class="ui-g-12">
                    <input type="text" pInputText placeholder="{{'E-mail' | translate}}" [formControl]="guestEmail" *ngIf="playerStatus=='true'; else outsite_email" />
                    <ng-template #outsite_email>
                        <input type="text" pInputText placeholder="{{'*E-mail' | translate}}" [formControl]="guestEmail" />
                    </ng-template>
                    <span style="color: red;float: left;margin-left: 15px;" *ngIf="!guestEmail.valid && guestEmail.dirty">{{'Email inválido' | translate}}</span>
                </div>
                <div class="ui-g-12">
                    <p-inputMask mask="9999999999" placeholder="{{'Phone' | translate}}" [(ngModel)]="phone"></p-inputMask>
                </div>
                <div class="ui-g-12">
                    <p-dropdown [options]="source_options" [(ngModel)]="select_option" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 setlabel">
                    <label>{{'Mensaje' | translate}}</label>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <textarea rows="4" cols="30" maxlength="50" placeholder="{{'Mensaje' | translate}}" pInputTextarea [(ngModel)]="message"></textarea>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <button type="button" pButton (click)="reservarPopup=false;message=''" label="{{'CANCELAR' | translate}}"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="check_validation();reservarPopup=false;" class="ui-button-green" label="{{'RESERVAR' | translate}}"></button>
            </div>
        </div>
    </p-dialog>
</div>
<div [class.backdrop]="week_popup"></div>
<div class="ui-g ui-fluid reservarMessage">
    <p-dialog [(visible)]="reservePopupMobile">
        <div class="ui-g">
            <div class="ui-g-12 headingOfPopupReserve">
                <span>{{"SOLICITUD RESERVA" | translate}}</span>
            </div>
        </div>
        <div class="ui-g">
            <label class="reserveLabelText">{{'La solicitud de reserva ha sido enviada al administrador de la cancha. Sin embargo la reserva no está confirmada
                hasta que usted reciba un email de confirmación del administrador de la cancha. Si quiere llamar a la cancha
                para dar seguimiento por favor llamar al' | translate}}</label>
        </div>
        <p style="color:#828282;">{{mobiles}}</p>
        <div class="ui-g">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)=" reserveCanchaInfo()" class="ui-button-green" label="{{'ENVIAR' | translate}}"></button>
            </div>
        </div>
    </p-dialog>
</div>


<div class="ui-g ui-fluid">
    <p-dialog [(visible)]="week_popup" modal="modal" [dismissableMask]="true" class="ground_schedule_popup" (click)="week_popup=false">
        <div class="ui-g fixture_card " *ngIf="Property=='player'">

            <div class="ui-g-4 ui-sm-12" style="background-color:white;">
                <div class="ui-g-3">
                    <img class="card-image" src="assets/images/default.png" *ngIf="!profileInformation?.profile_pic" />
                    <img class="card-image" src='{{imageUrl}}{{profileInformation?.profile_pic}}' *ngIf="profileInformation?.profile_pic" />
                </div>
                <div class="ui-g-9">
                    <div class="ui-g-12 schedule_div_info">
                        <span *ngIf="profileInformation?.is_existed || profileInformation?.is_admin" class="card-heading" style="color:black;">{{profileInformation?.name}} {{profileInformation?.last_name}}</span>
                        <span *ngIf="!profileInformation?.is_existed " class="card-heading" style="color:black;">{{profileInformation?.email}}</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-4 ui-sm-6" style="background: #003366;display: flex;align-items: center">
                <div class=" ui-g-12 ">
                    <span class="card-heading " style="color:#66cc00; ">{{'Horario de Reserva:' | translate}}</span>
                    <span class="card-text ">{{profileInformation?.from_time}}-{{profileInformation?.to_time}}</span>
                    <br>
                    <span class="card-heading " style="color:#66cc00; ">{{'Fecha:' | translate}}</span>
                    <span class="card-text ">{{profileInformation?.date}}</span>
                    <br>
                    <span *ngIf="admin && profileInformation?.date<date_obj" class="card-heading " style="color:#66cc00; ">{{'Pending Amount:' | translate}}</span>
                    <span *ngIf="admin && profileInformation?.date<date_obj" class="card-text ">{{profileInformation?.pending_amount}}</span>

                </div>
            </div>
            <div class="ui-g-4 ui-sm-6 " style="background: #003366;text-align: left" [class.displayBttn]="!profileInformation?.is_admin &&  !profileInformation?.reserved_by">
                <p-checkbox *ngIf="admin && profileInformation?.date<date_obj" [disabled]="check_attended" name="check_in" (onChange)="attended(profileInformation?.id)" [(ngModel)]="check_attended" binary="true" [label]="profileInformation?.is_payment_done?'Checked In':'Checked In & Paid'"></p-checkbox>
                <div class="ui-g-12">
                    <button pButton type="button " *ngIf="profileInformation?.is_existed && profileInformation?.is_admin || profileInformation?.reserved_by" label="{{'VER PERFIL' | translate}} " class="ui-button-green" style="width: 100%" (click)="redirectPlayerProfile(profileInformation?.player_pk)"></button>
                </div>

                <div *ngIf="profileInformation?.date>=date_obj" class="ui-g-12">
                    <button pButton type="button " style="width: 100%" *ngIf="profileInformation?.is_admin || profileInformation?.reserved_by " label="{{'CANCELAR RESERVA' | translate}} " (click)="cancelSimpleBooking(profileInformation?.id) " class="ui-button-green profileBttn"></button>
                </div>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 mesgDiv " *ngIf="profileInformation?.message ">
                <span style="color: #275376 ">{{'Nota personal:' | translate}}</span>
                <br>
                <span>{{profileInformation?.message}}
                </span>
                <br>
            </div>
        </div>

        <div class="ui-g fixture_card " *ngIf="Property=='match' ">
            <div class="ui-g-5 ">
                <div class="ui-g-3 ">
                    <img class="card-image " src="images/default_team.png " *ngIf="!profileInformation?.team1_logo " />
                    <img class="card-image " src='{{imageUrl}}{{profileInformation?.team1_logo}}' *ngIf="profileInformation?.team1_logo " />
                </div>
                <div class="ui-g-6 ">
                    <div class="ui-g-12 schedule_div ">
                        <span class="card-heading ">{{profileInformation?.team1_name}}</span>
                        <p style="color:black;">VS</p>
                        <span class="card-heading ">{{profileInformation?.team2_name}}</span>
                    </div>
                </div>
                <div class="ui-g-3 ">
                    <img class="card-image " src="images/default_team.png " *ngIf="!profileInformation?.team2_logo " />
                    <img class="card-image " src='{{imageUrl}}{{profileInformation?.team2_logo}}' *ngIf="profileInformation?.team2_logo " />
                </div>
            </div>
            <div class="ui-g-3 card-info-week backColor ">
                <div class="ui-g-12 ">
                    <span class="card-heading " style="color:#66cc00; ">{{'Horario:' | translate}}</span>
                    <span class="card-text ">{{profileInformation?.time}}</span>
                </div>
            </div>
            <div class="ui-g-4 backColor">
                <div class="ui-g-4 ">
                </div>
                <div class="ui-g-8 butn ">
                    <div class=ui-g-12>
                        <button pButton type="button " label="{{'VER PERFIL' | translate}}" (click)="redirectToProfile(profileInformation?.team1_pk) " class="ui-button-green" [class.activeAdmin]="!profileInformation?.is_admin || !profileInformation?.reserved_by"></button>
                    </div>
                    <div class=ui-g-12>
                        <button pButton type="button " *ngIf="profileInformation?.is_admin" label="{{'CANCELAR RESERVA' | translate}} " (click)="deleteScheduleWithoutTour(profileInformation?.match_pk) " class="ui-button-green bt "></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g fixture_card " *ngIf="Property=='tournament' ">

            <div class="ui-g-5 ui-sm-12">
                <div class="ui-g-3 ">
                    <img class="card-image " src="assets/images/default_team.png " *ngIf="!profileInformation?.team1_logo " />
                    <img class="card-image " src='{{imageUrl}}{{profileInformation?.team1_logo}}' *ngIf="profileInformation?.team1_logo " />
                </div>
                <div class="ui-g-6 ">
                    <div class="ui-g-12 schedule_div ">
                        <span class="card-heading "> {{profileInformation.team1_name}}</span>
                        <p style="color:black; ">VS</p>
                        <span class="card-heading ">{{profileInformation?.team2_name}}</span>
                    </div>
                </div>
                <div class="ui-g-3 ">
                    <img class="card-image " src="assets/images/default_team.png " *ngIf="!profileInformation?.team2_logo " />
                    <img class="card-image " src='{{imageUrl}}{{profileInformation?.team2_logo}}' *ngIf="profileInformation?.team2_logo " />
                </div>
            </div>
            <div class="ui-g-3  ui-sm-6 card-info-week backColorTour">
                <div class="ui-g-12 ">
                    <span class="card-heading " style="color:#66cc00; ">{{'Horario:' | translate}}</span>
                    <span class="card-text ">{{profileInformation?.time}}</span>
                    <br>
                    <span class="card-heading " style="color:#66cc00; ">{{'Fecha:' | translate}}</span>
                    <span class="card-text ">{{profileInformation?.date}}</span>
                    <br>
                </div>
            </div>
            <div class="ui-g-4 ui-sm-6 backColorTour">
                <div class="ui-g-4 ">
                    <img *ngIf="profileInformation?.tournament_logo " class="card-image2 " src={{imageUrl}}{{profileInformation?.tournament_logo}} style="margin-top:7px; " />
                    <img *ngIf="!profileInformation?.tournament_logo " class="card-image2 " src="assets/images/tournament-profile-logo/default.png " style="margin-top:7px; " />
                </div>
                <div class="ui-g-8 butn ">
                    <div class=ui-g-12>
                        <button pButton type="button " label="{{'VER PERFIL' | translate}} " (click)="tournamentProfile(profileInformation?.tournament_id) " class="ui-button-green bt "></button>
                        <button pButton type="button " *ngIf="profileInformation?.is_admin" label="{{'CANCELAR RESERVA' | translate}} " (click)="deleteScheduleWithTour(profileInformation?.fixture_pk) " class="ui-button-green bt "></button>
                    </div>
                </div>
            </div>

        </div>
    </p-dialog>
</div>

<div [class.backdrop]="week_popup " (click)="week_popup=false;"></div>

<div class="ui-g mobView">
    <div class="ui-g-12">
        <div class="ui-g-6" style="background-color: #3a87ad;margin-top: 5px;"></div>
        <div class="ui-g-6" style="padding: 0px;text-align: -webkit-center;">{{'Reserva' | translate}}</div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-6" style="background-color:#9FDDF1;margin-top: 5px;"></div>
        <div class="ui-g-6" style="padding: 0px;text-align: -webkit-center;">{{'Torneo' | translate}}</div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-6" style="background-color:#8ec63f;margin-top: 5px;"></div>
        <div class="ui-g-6" style="padding: 0px;text-align: -webkit-center;">{{'Reserva para la cola' | translate}}</div>
    </div>
</div>
<div [class.backdrop1]="cancel_reservation_status"></div>
<p-dialog [(visible)]="cancel_reservation_status" modal="modal " class="delete_ground cancel_reservation" [resizable]=false [responsive]=true>
    <div class="ui-g ">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 header_messg">
            <span>{{'MENSAJE' | translate}}</span>
        </div>
        <div class="ui-g-12 " style="text-align: center">
            <p style="color:darkcyan;text-align: justify; ">{{'Falta menos de 4 horas para tu reserva. Por favor llamar al administrador de la cancha al' | translate}} {{status?.mobile}} {{'para ver si se puede cancelar la reserva.' | translate}}</p>
        </div>
        <div class="ui-g-12 ui-fluid " style="text-align: center;margin-top: 15px; ">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-6">
                <button type="button " pButton class="ui-button-green " label="{{'De acuerdo' | translate}}" (click)="cancel_reservation_status=false "></button>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
    </div>
</p-dialog>
<!-- Add queue popup -->
<div [class.backdrop1]="recurrent_queue_popup"></div>
<div class="ui-g ui-fluid reservar ">
    <p-dialog [(visible)]="recurrent_queue_popup" modal="modal " [dismissableMask]="true">
        <div class="ui-g ">
            <div class="ui-g-12 headingOfPopup ">
                <span>{{'RESERVAR CANCHA' | translate}}(QUEUE)</span>
            </div>
        </div>
        <div style="margin-top: 20px;" class="ui-g">
            <label>{{'Fecha de la reserva' | translate}}</label>
            <label class="hora">{{'Horario' | translate}}</label>
            <div class="ui-g-6">
                <span style="float: left;margin-left: 10px;">{{matchDate}}</span>
            </div>
            <div class="ui-g-6">
                <span>{{fromTime}}</span>
                <span>To</span>
                <span>{{toTime}}</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 setlabel">
                <label>{{'Mensaje' | translate}}</label>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <textarea rows="4" cols="30" maxlength="50" placeholder="{{'Mensaje' | translate}}" pInputTextarea [(ngModel)]="message"></textarea>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <button type="button" class="changebc" pButton (click)="recurrent_queue_popup=false;message=''" label="{{'CANCELAR' | translate}}"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="check_validation();recurrent_queue_popup=false;" class="ui-button-green" label="{{'RESERVAR' | translate}}"></button>
            </div>
        </div>
    </p-dialog>
</div>

<!-- end add queue popup -->

<!-- Payment cash request popup -->
<div class="payment_status_dialog1">
    <p-dialog [resizable]='false' class="" modal="modal" [dismissableMask]="true" [(visible)]="request_sent_msg">
        <div style="background: #113861;
        color: white;
        padding: 0.5em;
        font-size: 36px;text-align:center;
        font-family: 'ChaletComprime CologneEighty';" class="ui-g-12">
            <p>{{"SOLICITUD RESERVA" | translate}}</p>
        </div>
        <div style="  text-align: justify;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        color: #828282;
        padding-left: 15px;
        font-size: 1.1em;" class="ui-g-12">
            <p>{{'La solicitud de reserva ha sido enviada al administrador de la cancha. Sin embargo la reserva no está confirmada hasta que usted reciba un email de confirmación del administrador de la cancha. Si quiere llamar a la cancha para dar seguimiento
                por favor llamar al' | translate}}</p>
        </div>
        <div style="color:#8ec63f;text-align:center" class="ui-g-12">
            <p>{{mobiles}}</p>
        </div>
        <!-- <div style="text-align:center" class="ui-g-12">
            <button style="      width: 100px !important;" pButton label="ok" class="ui-button-green" (click)="request_sent_msg=false"></button>
        </div> -->
    </p-dialog>
</div>
<!--  -->

<div [class.backdrop]="request_sent_msg"></div>
<div [class.backdrop]="reservePopupMobile"></div>