.fixture_card {
    border: 1.5px solid black;
}

.changebc {
    background: #666!important
}

.card_left_div {
    background: #e6e6e6;
    text-align: center;
    color: #66cc00;
    height: 85px;
    line-height: 25px;
}

.card_center_div {
    background: #003366;
    color: white;
    text-align: center;
    display: table-cell;
    height: 85px;
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}

.backdrop1 {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
}

.fixture_text_row {
    height: 50px;
}

.hora {
    margin-left: 68px;
}

.schedule_div {
    text-align: center;
    font-size: 1.8em;
    font-family: ChaletComprime CologneEighty;
    width: 105%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.schedule_div_info {
    text-align: center;
    font-size: 2.8em;
    font-family: ChaletComprime CologneEighty;
    word-break: break-all;
}

.fixture_text {
    vertical-align: -webkit-baseline-middle;
}

.fixture_img {
    height: 35px;
    width: 35px;
    vertical-align: -webkit-baseline-middle;
}

.fixture_text_time {
    vertical-align: -webkit-baseline-middle;
    font-size: 21px;
}

.top {
    height: 40px;
    background: #8DCF24;
}

.card-heading {
    color: black;
    font-size: 20px;
    font-family: 'ChaletComprime CologneEighty';
}

.card-text {
    color: white;
}

.card-image {
    width: 65px;
    margin-top: 5px;
    border-radius: 50px;
    height: 65px;
}

.report {
    display: inline-block;
    margin-top: 10px;
}

.select_ground_text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.select_ground_text span {
    font-size: 1.5em;
    margin-top: 4px;
}

.card-image-schedule {
    width: 25px;
    margin-top: -6px;
    border-radius: 50px;
    height: 30px;
    cursor: pointer;
}

.vS {
    margin-left: 3px;
    color: white;
}

.card-image-schedule-img {
    width: 30px;
    border-radius: 50px;
    height: 30px;
    margin-left: 13px;
    cursor: pointer;
}

.card-image2 {
    width: 100%;
    border-radius: 50px;
    height: 60px;
}

.bt {
    width: 132px;
    margin-top: 20px;
    height: 35px;
    font-size: 1em;
    font-family: inherit;
    padding: 0px;
}

.sort_by {
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2em;
    margin-top: 9px;
}

.sort {
    margin-left: -60px;
}

.bt1 {
    width: 132px;
    margin-top: 0px;
    height: 35px;
    font-size: 1em;
    padding-top: 0%;
    font-family: inherit;
    padding: 0px;
}

.profileBttn {
    height: 35px;
    padding-top: 0%;
}

.displayBttn {
    display: flex;
    align-items: center;
    text-align: right;
}

.week_inside_div {
    margin-top: -7px;
    cursor: pointer;
}

.reserve_inside_div {
    padding: 13px;
}

.no-data-msg {
    text-align: center;
    margin-top: 70px;
    height: 300px;
}

.no-msg-span {
    text-align: center;
    font-size: 20px;
    color: darkcyan;
}

.card-info {
    padding-top: 10px;
    padding-left: 20px;
}

.card-info-week {
    padding-left: 20px;
    padding-top: 30px;
}

.active {
    background: #2E8B57 !important;
}

.calendar {
    text-align: center;
    color: white;
}

.butn {
    text-align: center;
    padding-top: 0px;
    margin-left: 0px !important;
}

.schedule {
    border-radius: 0px;
    width: 85px;
}

.daysBttnPos {
    position: relative;
    top: 38px;
    z-index: 4545454;
}

.daysBttnPos div {
    position: relative;
    width: 100%;
}

.daysBttnPos div button {
    position: absolute;
    right: 0px;
}

.arrow {
    font-size: 1.9em;
    margin-right: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

.arrow_pos {
    background-color: #8DCF25;
    height: 32px;
    display: inline-block;
}

.time_text {
    padding-top: 55px;
    font-size: 1.5em;
}

.week_info {
    text-align: center;
    padding-top: 5px;
}

.week_time {
    font-size: 1.0em;
    width: 81px;
    background-color: white;
    border: 1px solid lightgray;
    text-align: center;
}

.week_div {
    height: 33px;
    width: 13%;
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
}

.week_div_info {
    height: 40px;
    background-color: #F0F2F4;
    border: 1px solid lightgray;
}

.week_div_info_inner {
    height: 40px;
    background-color: #F0F2F4;
    border: 1px solid lightgray;
    width: 124.8px;
    text-align: center;
}

.date_header {
    font-size: 2em;
    margin-left: 100px;
}

.day_select_bttn {
    text-align: end;
}

.headingOfPopup {
    background-color: #00253F
}

.headingOfPopup span {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'ChaletComprime CologneEighty';
}

.headingOfPopupReserve {
    background-color: #00253F
}

.headingOfPopupReserve span {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'ChaletComprime CologneEighty';
}

.setlabel {
    text-align: left;
}

.reserveLabelText {
    text-align: justify;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px
}

.priceInfo {
    margin-top: 3px;
    background-color: #F0F2F4;
    border: 1px solid lightgray;
    font-size: 1.1em;
}

.bookDiv {
    color: #8DCF25 !important;
}

.simpleBookingDiv {
    margin-top: -12px;
    width: 123px;
    margin-left: -49px;
    background-color: #00253f;
    height: 31.4px;
}

.challengingDiv {
    margin-top: -12px;
    width: 122px;
    margin-left: -48px;
    background-color: #00253f;
    height: 31.4px;
    position: absolute;
}

.challengingTourDiv {
    margin-top: -12px;
    width: 122px;
    margin-left: -48px;
    background-color: #00253f;
    height: 31.4px;
    position: absolute;
}

.messageHover:hover+.message {
    display: block !important;
    z-index: 10;
}

.message {
    display: none;
    color: #000;
    background: #999;
}

.mesgDiv {
    background-color: #F2F2F2;
    border: 1px solid;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin: 1%;
}

.backColor {
    background: #003366;
    height: 106px;
}

.backColorTour {
    background: #003366;
}

.activeAdmin {
    margin-top: 20px;
}

.mob {
    display: none;
}

.desk {
    display: block;
}

#week {
    display: flex;
    margin-left: 15px;
}

#everyday {
    display: flex;
    margin-left: 15px;
}

#checkbox {
    display: flex;
    margin-left: 5px;
}

.star {
    color: red;
}

.daysBttn {
    position: relative;
}

.header_messg {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.header_messg span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.cercleSmall {
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 20px;
    float: left;
}

.colorPABLO {
    margin-left: 15px;
}

.reserve_div {
    height: 290px;
    overflow-y: scroll;
}

.reserve_div_nonadmin {
    height: inherit;
    overflow-y: none;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #F0F2F4;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 220, 0, 1.3);
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .arrow {
        padding-left: 5px;
    }
    .week_div_info {
        width: 755px;
    }
    .week_div_info_inner {
        width: 98.7px;
    }
    .week_time {
        width: 67px;
    }
}

@media only screen and (max-width: 640px) {
    .hora {
        margin-left: 20px;
    }
    .card-info {
        padding-left: 0px;
    }
    .card-text {
        color: white;
    }
    .butn {
        padding-top: 0px;
        margin-left: 1%;
    }
    .bt {
        width: 82px !important;
        font-size: 0.8em !important;
    }
    .sort {
        margin-left: 0px;
    }
    .week_time {
        padding-top: 16px;
        font-size: 1.0em;
        width: 40px;
    }
    .week_div {
        height: 50px;
        width: 12%;
    }
    .week_div_info_inner {
        width: 39.4px;
        font-size: 0.8em;
    }
    .arrow {
        font-size: 1.2em;
        cursor: pointer;
        margin-top: 10px;
    }
    .date_header {
        font-size: 1em;
    }
    .schedule {
        font-size: 0.8em;
        width: 82px;
        margin-left: -15px;
    }
    .date_header {
        margin-left: 0px;
    }
    .day_select_bttn {
        text-align: start;
    }
    .time_text {
        padding-top: 0px;
    }
    .card-image-schedule-img {
        width: 25px;
        border-radius: 50px;
        height: 25px;
        margin-left: -2px;
        cursor: pointer;
    }
    .simpleBookingDiv {
        margin-top: -45px;
        width: 35px;
        margin-left: -12px;
        background-color: #00253f;
        height: 68.4px;
    }
    .card-image-schedule-img {
        display: none;
    }
    .card-image-schedule {
        display: none;
    }
    .vS {
        display: none;
    }
    .challengingDiv {
        margin-top: -24px;
        width: 35px;
        margin-left: -13px;
        background-color: deepskyblue;
        height: 47.4px;
    }
    .challengingTourDiv {
        margin-top: -24px;
        width: 35px;
        margin-left: -13px;
        background-color: darkcyan;
        height: 47.4px;
    }
    .mobView {
        display: block;
        padding-bottom: 10px;
    }
    .mob {
        display: block;
    }
    .desk {
        display: none;
    }
    .select_ground_text span {
        font-size: 1.2em;
    }
    .report {
        text-align: center
    }
}