<!-- header code -->
<p-growl [value]="msgs"></p-growl>
<loader *ngIf="loader"></loader>
<div class="full-container header">
    <div class="main-container">
        <div class="ui-g web_header">
            <div class="ui-g-2  logo">
                <!-- <img src="assets/images/pelo.png" alt="logo" [routerLink]="['/dashboard']" style="cursor:pointer"> -->
                <img class="logo-c" *ngIf="communitydata?.community_logo ==null" src="assets/images/default_team.png" alt="logo" (click)=tocommunity()>
                <img class="logo-c" *ngIf="communitydata?.community_logo !=null" [src]="logo+communitydata?.community_logo" alt="logo" (click)=tocommunity()>

            </div>
            <div class="ui-g-4  headin">
                <ul class="unorder">
                    <!-- <li class="li_data">
                        <a routerLinkActive="activeLink" routerLink="ground">{{'Canchas' | translate}}</a>
                        <span>|</span>
                    </li> -->
                    <li class="li_data">
                        <a routerLinkActive="activeLink" (click)="chatpopup()">{{"Chat"|translate}}</a>
                        <span>|</span>
                    </li>
                    <li class="li_data">
                        <a routerLinkActive="activeLink" routerLink="team">{{'Equipos' | translate}}</a>
                        <span>|</span>
                    </li>
                    <li class="li_data">
                        <a routerLinkActive="activeLink" routerLink='player'>{{'Jugadores' | translate}}</a>
                        <span>|</span>
                    </li>
                    <li class="li_data">
                        <a routerLinkActive="activeLink" routerLink="tournaments">{{'Ligas' | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="ui-g-6 right_section">
                <div class="right_div ui-g-12" style="padding-top: 4px;display: flex;position: relative;align-items: center;">
                    <p *ngIf="userpart" (click)="gotToLocation()" class="location">
                        <img style="margin-right: 8px;" src="assets/images/location.png">
                        <span>{{location}}</span>
                    </p>
                    <small *ngIf="userpart" class="shoutout" (click)="showDialog()" style="vertical-align: -webkit-baseline-middle;text-transform: uppercase; position:relative">
                        <img src="assets/images/shoutout_icon.png" style="vertical-align: -webkit-baseline-middle; padding-right:7px; position:absolute; top:4px; left: 5px;">
                        <span>{{'shoutout' | translate}}</span>
                    </small>
                    <small *ngIf="!userpart" style="margin-left:15px" class="join-str" (click)="joinanothercommunity()">
                        <span>{{"Join other community"|translate}}</span>
                    </small>
                    <small *ngIf="!userpart" class="reg-str" (click)="toregister()">
                        <span>{{"Join the community"|translate}}</span>
                    </small>

                    <i *ngIf="userpart" id="logoutModal" class="fa fa-bell-o icon" style="vertical-align: -webkit-baseline-middle;position: relative;"
                        (click)="click=true;notify()">
                        <small id="logoutModal" style="position: absolute;left: 13px;top: -10px;border-radius: 2px;padding: 3px;color: white;font-size: 13px;background: #fa3e3e;cursor: pointer;"
                            *ngIf="not && counts!=0" (click)="notify()">{{counts}}</small>
                    </i>
                    <div id="logoutModal" class="notification" *ngIf="notifications" [@myAnimation]>
                        <p style="font-family:'ChaletComprime CologneEighty';">{{'NOTIFICACIONES' | translate}}</p>
                        <div class="ui-g top" *ngFor="let notify of notification">
                            <a (click)="notifications=false; navigate_to_link(notify.link)" [routerLinkActive]="[ 'active']">
                                <div class="ui-g-3 notification-image">
                                    <img [src]="notify?.profile_pic?basePath+notify?.profile_pic:'assets/images/default_player.png'" style="width: 45px;height: 45px;border-radius:50%;"
                                        alt="cover_pic">
                                </div>
                                <div class="ui-g-9 notice">
                                    <p>{{notify.notification}}</p>
                                    <span *ngIf="notify.time.days">{{notify.time.days}} days ago</span>
                                    <span *ngIf="notify.time.hours>0&&notify.time.days==0">{{notify.time.hours}} hours ago</span>
                                    <span *ngIf="notify.time.minutes>0&&notify.time.hours==0">{{notify.time.minutes}} minutes ago</span>
                                    <span *ngIf="notify.time.minutes==0&&notify.time.hours==0&&notify.time.days==0">just now</span>
                                </div>
                            </a>
                        </div>
                        <div *ngIf="datas">{{'No tienes notificaciones' | translate}}</div>
                        <hr>
                        <div class="ui-g-12 text-center" style="background: #828282;margin-top: -6%;">
                            <p>
                                <a [routerLink]="['/dashboard/notification']" *ngIf="!datas" (click)="ver()" style="text-decoration:none;color:#f6f6f6;">{{'VER MAS' | translate}}</a>
                            </p>
                        </div>
                    </div>
                    <p *ngIf="userpart">
                        <small id="logoutModal" style="color:white;cursor:pointer;font-size: 11px;" (click)="showInfo()">{{username}} {{last_name}}</small>
                    </p>

                    <img *ngIf="userpart" id="logoutModal" [src]="profile ? profile:'assets/images/player-profile-logo/default.png'" alt="image"
                        class="profile_pic" (click)="showInfo()" style="vertical-align: -webkit-baseline-middle;cursor:pointer;    margin-left: 10px;                   ">

                    <div id="logoutModal" class="ui-g-2 ui-lg-2 ui-md-4 dropdown-list" *ngIf="show1" [@myAnimation]>
                        <div class="ui-g upper-head" style="border-bottom: 1px solid #dbdbdb;    padding-bottom: 15px;">
                            <div class="ui-g-4 no-pad" style="text-align:left">
                                <img [src]="profile ? profile:'assets/images/player-profile-logo/default.png'" style="width: 70px;height: 70px;border-radius:9%;">
                            </div>
                            <div class="ui-g-8 no-pad" style="text-align:left;">
                                <p class="p-h1" (click)="routing();show1=false">{{username}} {{last_name}}</p>
                                <p class="p-h2">{{user_email}}</p>
                                <span class="p-g" [routerLink]="['/dashboard/player/edit-player',userId]" (click)="show1=false">{{'Editar mi perfil' | translate}}</span>
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #dbdbdb;padding:0;">
                            <div class="flex margin-w">
                                <img style="height: 20px;" src="assets/images/ic/password_community.png">
                                <p class="l-font" (click)="saveCurrentRoute()" (click)="show1=false">{{'Cambiar contraseña' | translate}}</p>
                            </div>
                            <div class="flex margin-w">
                                <img style="height: 20px;" src="assets/images/ic/chat_coomunity.png">
                                <p class="l-font" (click)="messages();show1=false">{{'Buzón de mensajes' | translate}}</p>
                            </div>
                            <div class="flex margin-w">
                                <img style="height: 20px;" src="assets/images/ic/request_community.png">
                                <p class="l-font" (click)="requestPlayer();show1=false">{{"Solicitudes" | translate}}</p>
                            </div>

                            <div class="flex margin-w">
                                <img style="height: 20px;" src="assets/images/ic/switch_community.png">
                                <p class="l-font" (click)="togallery();show1=false">Upload Gallery Images</p>
                            </div>
                            <div class="flex margin-w">
                                <img style="height: 20px;" src="assets/images/ic/switch_community.png">
                                <p class="l-font" (click)="joinanothercommunity();show1=false">{{"Join other community"|translate}}</p>
                            </div>
                            <div class="flex margin-w">
                                <img style="height: 20px;" src="assets/images/ic/switch_community.png">
                                <p class="l-font" (click)="completeProfile();show1=false">Complete profile</p>
                            </div>
                        </div>

                        <div class="ui-g upper-head" style="border-bottom: 1px solid #dbdbdb;padding: 5px;">
                            <div class="ui-g-3 no-pad" style="text-align:left;">
                                <img style="height: 44px;width:44px;" class="logo-c" *ngIf="communitydata?.community_logo ==''" src="assets/images/default_team.png"
                                    alt="logo" (click)=tocommunity()>
                                <img style="height: 44px;width:44px;" class="logo-c" *ngIf="communitydata?.community_logo !=''" [src]="logo+communitydata?.community_logo"
                                    alt="logo" (click)=tocommunity()>
                            </div>
                            <div class="ui-g-9 no-pad" style="text-align:left;">
                                <p class="p-h1" (click)="routing();show1=false">{{comname}}</p>
                            </div>
                        </div>

                        <div style="border-bottom: 1px solid #dbdbdb;padding:2px 10px;text-align:left">
                            <p class="cc-f">Your other community :</p>
                            <div class="wrp-li">
                                <ul>
                                    <li *ngFor="let data of usercommunities" (click)="toselectedcommunity(data?.community_id);show1=false" style="position: relative;display: flex;">
                                        <!--<img class="cm-img" [src]="logo+data?.community_logo">-->
                                        <span>
                                            <img style="height: 18px;margin-top:2px" src="assets/images/ic/switch_community.png">
                                        </span>
                                        <span class="swi-ch"> Switch to</span>
                                        <span class="cm-sp"> {{data?.community_name}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #dbdbdb;padding: 4px;">
                            <div class="flex margin-w">
                                <img style="height: 20px;" src="assets/images/ic/logout.png">
                                <p class="l-font" routerLink="./../home" (click)="logout();show1=false">{{'Cerrar sesión' | translate}}</p>
                            </div>
                        </div>

                    </div>

                    <div class="ui-g-2" style="float:right">
                        <div style="position:relative">
                            <img *ngIf="displayFlag=='es'" id="flag" src="assets/images/Ecuador.png" style="cursor:pointer" />
                            <img *ngIf="displayFlag=='en'" id="flag" src="assets/images/usa_flag.jpg" style="cursor:pointer" />
                            <img *ngIf="displayFlag=='pt'" id="flag" src="assets/images/portuguese_flag.jpg" style="cursor:pointer" />
                            <div *ngIf="displayDiv" class="multilang " [@myAnimation]>
                                <ul style="list-style-type: none;padding-left: 20px;padding-right: 20px;">
                                    <li id="eng">
                                        <img src="assets/images/usa_flag.jpg" />{{'English'}}</li>
                                    <li id="span">
                                        <img src="assets/images/Ecuador.png" />{{'Español'}}</li>
                                    <li id="port">
                                        <img src="assets/images/portuguese_flag.jpg" />{{'Português'}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="ui-g mobile_header">
            <div class="ui-g-2 ui-md-2">
                <i (click)="opennav()" class="fa fa-bars icon" style="vertical-align: -webkit-baseline-middle;"></i>
            </div>
            <div class="ui-g-6 ui-md-8 logo text-center">
                <img class="mobile_logo" src="assets/images/pelo.png" alt="logo" [routerLink]="['/dashboard']" style="cursor:pointer">
            </div>
            <div style="display: flex;
            align-items: center;" class="ui-g-4 ui-md-2">
                <div class="ui-g-6 ui-md-6" style="text-align:right">
                    <i id="logoutModal" class="fa fa-bell-o icon" style="position:relative;cursor: pointer;vertical-align: -webkit-baseline-middle;"
                        (click)="click=true;notify()">
                        <small id="logoutModal" class="sml" *ngIf="not && counts!=0" (click)="notify()">{{counts}}</small>
                    </i>
                </div>
                <div id="logoutModal" class="notification" *ngIf="notifications" [@myAnimation]>
                    <p style="font-family:'ChaletComprime CologneEighty';">{{'NOTIFICACIONES' | translate}}</p>

                    <div class="ui-g top" *ngFor="let notify of notification">
                        <a (click)="notifications=false;navigate_to_link(notify.link)">
                            <div class="ui-g-3 notification-image">
                                <img [src]="notify?.profile_pic?basePath+notify?.profile_pic:'assets/images/default_player.png'" style="width: 45px;height: 45px;border-radius:50%;"
                                    alt="cover_pic">
                            </div>
                            <div class="ui-g-9 notice">
                                <p>{{notify.notification}}</p>
                                <span *ngIf="notify.time.days">{{notify.time.days}} days ago</span>
                                <span *ngIf="notify.time.hours>0&&notify.time.days==0">{{notify.time.hours}} hours ago</span>
                                <span *ngIf="notify.time.minutes>0&&notify.time.hours==0">{{notify.time.minutes}} minutes ago</span>
                                <span *ngIf="notify.time.minutes==0&&notify.time.hours==0&&notify.time.days==0">{{'just now' | translate}}</span>
                            </div>
                        </a>
                    </div>
                    <div *ngIf="datas">{{'No tienes notificaciones' | translate}}</div>
                    <hr>
                    <div class="ui-g-12 text-center" style="background: #828282;margin-top: -6%;">
                        <p>
                            <a [routerLink]="['/dashboard/notification']" *ngIf="!datas" (click)="ver()" style="text-decoration:none;color:#f6f6f6;">{{'VER MAS' | translate}}</a>
                        </p>
                    </div>
                </div>
                <div class="multifalg ui-g-6 ui-md-6">
                    <img *ngIf="displayFlag=='es'" id="flag" src="assets/images/Ecuador.png" style="cursor:pointer" />
                    <img *ngIf="displayFlag=='en'" id="flag" src="assets/images/usa_flag.jpg" style="cursor:pointer" />
                    <img *ngIf="displayFlag=='pt'" id="flag" src="assets/images/portuguese_flag.jpg" style="cursor:pointer" />

                    <div *ngIf="displayDiv" class="multilang" [@myAnimation]>
                        <ul style="list-style-type: none;padding-left: 20px;padding-right: 20px;">
                            <li id="eng">
                                <img style="height:15px" src="assets/images/usa_flag.jpg" />{{'English'}}</li>
                            <li id="span">
                                <img style="height:15px" src="assets/images/Ecuador.png" />{{'Español'}}</li>
                            <li id="port">
                                <img style="height:15px" src="assets/images/portuguese_flag.jpg" />{{'Português'}}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- header code -->

<!--sidenav for mobile-->
<div id="mySidenav" class="sidenav">
    <div class="head-sidenav">
        <div class="logo-sidenav" style="padding-left: 22px;">
            <p class="head-text2" (click)="routing();closeNav()">
                <img id="logoutModal" [src]="profile ? profile:'assets/images/player-profile-logo/default.png'" alt="image" class="profile_pic"
                    (click)="showInfo()" style="vertical-align: -webkit-baseline-middle;cursor:pointer">
                <small class="mob_prof_name" (click)="showInfo()">{{username}} {{last_name}}</small>
            </p>
        </div>
        <div class="close-sidenav">
            <i (click)="closeNav()" class="fa fa-close" style=" font-size: 22px;"></i>
        </div>
    </div>
    <div class="all-anchor" style="padding-top: 30px;">
        <div class="anchor">
            <a (click)="closeNav()" routerLink="../home/location">{{'Location' | translate}}</a>
        </div>
        <div class="anchor">
            <a (click)="closeNav()" routerLink="ground">{{'Canchas' | translate}}</a>
        </div>
        <div class="anchor">
            <a (click)="closeNav()" routerLink="team">{{'Equipos' | translate}}</a>
        </div>
        <div class="anchor">
            <a (click)="closeNav()" routerLink="player">{{'Jugadores' | translate}}</a>
        </div>
        <div class="anchor">
            <a (click)="closeNav()" routerLink="tournaments">{{'Torneos & Ligas' | translate}}</a>
        </div>
    </div>
    <p class="anchor" (click)="closeNav()">
        <a (click)="showDialog()">{{'shoutout' | translate}}</a>
    </p>
    <p class="anchor" (click)="saveCurrentRoute()">
        <a (click)="closeNav()">{{"Cambiar contraseña" | translate}}</a>
    </p>
    <p class="anchor" [routerLink]="['/dashboard/player/edit-player',userId]">
        <a (click)="closeNav()">{{'Editar mi perfil' | translate}}</a>
    </p>
    <p class="anchor">
        <a (click)="messages()">{{"Buzón de mensajes" | translate}}</a>
    </p>
    <p class="anchor">
        <a (click)="requestPlayer()">{{'Solicitudes' | translate}}</a>
    </p>
    <p class="anchor">
        <a (click)="joinanothercommunity()">Join other community</a>
    </p>
    <p class="anchor">
        <a (click)="completeProfile()">Complete profile</a>
    </p>

    <p class="anchor" (click)="closeNav()">
        <a routerLink="./../home" (click)="logout()">{{'Cerrar sesión' | translate}}</a>
    </p>
</div>
<!--sidenav for mobile closed-->

<div [class.backdrop]="display"></div>

<!-- shoutout code -->
<div *ngIf="display" class="shoutout-dialog">
    <div class="shoutout-head">
        <span>{{'Enviar un shoutout' | translate}}</span>
        <div style="margin-left:auto">
            <img (click)="closeDialog()" src="/assets/images/crossIcon.png" style="height:15px;cursor: pointer;">
        </div>
    </div>
    <div class="hr">{{'A quien' | translate}}</div>
    <div class="shoutout-midcontent">
        <div class="ui-g">
            <div class="ui-g-6 ui-md-6">
                <p-radioButton class="s-rad" name="groupname" value="all" label="{{'Todos los miembros del equipo' | translate}}" [(ngModel)]="membertype"></p-radioButton>
            </div>
            <div class="ui-g-6 ui-md-6">
                <p-radioButton name="groupname" value="manager" label="{{'Gerentes de equipo' | translate}}" [(ngModel)]="membertype"></p-radioButton>
            </div>
        </div>
        <div class="ui-g" style="margin: 20px 0;">
            <div class="ui-g-9 ui-md-6">
                <p-multiSelect class="psel" defaultLabel="{{'Seleccione ligas' | translate}}" [options]="leaguearray" [(ngModel)]="leagues"
                    [panelStyle]="{minWidth:'15em'}"></p-multiSelect>
            </div>
            <div *ngIf="leagues.length" class="ui-g-3 ui-md-6">
                <button type="button" pButton class="ui-button-green" (click)="showclubs()" label="{{'Mostrar equipos' | translate}}"></button>
            </div>
        </div>
        <div *ngIf="clubsdisplay && teamsdata.length" class="clubsdisplay">
            <div class="flex">
                <span class="g-text">{{'Seleccionar equipos' | translate}}</span>
                <div style="margin-left:auto;margin-right: 25px;">
                    <p-checkbox (onChange)="selectall($event)" name="groupname" label="Selectall" [(ngModel)]="selectedValues"></p-checkbox>
                </div>
            </div>
            <div class="ui-g">
                <div *ngFor="let data of teamsdata" class="ui-g-6 ui-md-6">
                    <p-checkbox name="groupname" [value]="data.id" [label]="data.team_name" [(ngModel)]="teamselected"></p-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="shoutout-tarea">
        <textarea style="height: 80px;" placeholder="{{'Escribe algo aquí ...' | translate}}" pInputTextarea [(ngModel)]="shoutoutmsg"></textarea>
    </div>
    <p id="err" *ngIf="errormsg" style="color:red;">{{'por favor seleccione todos los campos' | translate}}</p>
    <div class="shoutout-foot">
        <button type="button" pButton (click)="closeDialog()" label="{{'CANCELAR' | translate}}"></button>
        <button type="button" pButton class="ui-button-green" [disabled]="loader" (click)="postshoutout()" label="{{'ENVIAR' | translate}}"></button>
    </div>
</div>


<!-- chatpopup -->
<div [class.backdrop]="chatpop"></div>

<div *ngIf="chatpop" class="chat-pop">
    <div class="chat-pop-h" style="display:flex">
        <p>{{"Welcome to Pelotea’s Chat"|translate}}</p>
        <img style="margin-left: auto;height:30px;cursor:pointer" (click)="closechatpop()" src="assets/images/dash/clo.png">
    </div>
    <div class="text-center">
        <img class="img_s" src="assets/images/dash/chat_illustration.png">
    </div>
    <div class="chat-feature">
        <p class="chat-feature-h">
            {{"Chat features"|translate}}
        </p>
        <div class="ui-g">
            <div class="ui-g-6">
                <div style="margin: 20px 0;display:flex">
                    <img style="height:30px" src="assets/images/dash/one_to_one_feature.png">
                    <span class="p-c"> {{"One to one chat with your club members"|translate}}</span>
                </div>
                <div style="margin: 20px 0;display:flex">
                    <img style="height:30px" src="assets/images/dash/create_group_feature.png">
                    <span class="p-c">{{"You always can create groups with your club members"|translate}}</span>
                </div>
            </div>
            <div class="ui-g-6">
                <div style="margin: 20px 0;display:flex">
                    <img style="height:30px" src="assets/images/dash/favourite_feature.png">
                    <span class="p-c">{{"You will have your personal Favorite list"|translate}}</span>
                </div>
                <div style="margin: 20px 0;display:flex">
                    <img style="height:30px" src="assets/images/dash/manger_feature.png">
                    <span class="p-c">{{"Chat with team managers directly"|translate}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button (click)="joincommunity()" class="j_oin">{{"Join the community"|translate}}</button>
    </div>
</div>
<!-- when community does not exist -->
<div [class.backdrop]="communitynotexist"></div>
<div class="m-dialog" *ngIf="communitynotexist">
    <div class="gradient">
        <div class="ui-g">
            <div class="ui-g-6 ui-sm-12" style="padding: 15px;">
                <div class="main-pop-content">
                    <p class="f1" style="margin-top:10%">{{"Opps! Community does not exist !"|translate}}</p>
                    <p class="f2" style="margin-top:10%">{{"Tap 'Find community' button below to find community that really exist"|translate}}</p>
                    <button type="button" style="margin-top:10%" pButton class="custom-button ui-button-green" (click)="tocommunnity()" label="Find community"></button>

                </div>
            </div>
            <div class="ui-g-6 ui-sm-12 no-pad">
                <img class="main-pop-image" src="assets/images/emptys/community_not_exist.png">
            </div>
        </div>
    </div>
</div>


<div class="wrap-outlet">
    <router-outlet></router-outlet>
</div>