.full-container {
    background: #00253f;
    position: fixed;
    width: 100%;
    z-index: 65646464646496841;
}

.main-container {
    margin: auto;
    max-width: 970px;
}

.com_logonav {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.sml {
    position: absolute;
    right: 112px;
    top: 2px;
    border-radius: 2px;
    padding: 2px;
    color: white;
    font-size: 13px;
    background: #fa3e3e;
    cursor: pointer;
}

.home {
    position: absolute;
    top: 100px;
    color: white;
}

@media only screen and (max-width: 880px) {
    .sml {
        position: absolute;
        right: 8px;
        top: 0px;
        border-radius: 2px;
        padding: 2px;
        color: white;
        font-size: 13px;
        background: #fa3e3e;
        cursor: pointer;
    }
}

.web_header {
    display: none;
}

.mobile_header {
    display: block;
    position: relative;
}

.mobile_logo {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.header {
    background: #00253f;
    z-index: 99;
    height: 70px;
}

.icon {
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* .shoutout_popup_header {
        background: #00253f;
        padding: 11px;
    }

    .shoutout_popup_header span {
        margin: 0;
        color: white;
        padding-left: 5px;
        padding-top: 7px;
        font-size: 2.5em;
        text-transform: uppercase;
        font-family: ChaletComprime CologneEighty;
    } */

/*sidenav*/

.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    left: -280px;
    transition: all 0.8s ease;
}

.sidenav a {
    font-size: 1em;
    padding-left: 5px;
    font-weight: normal;
    color: #828282;
}

.sidenav a:hover {
    color: #374254;
}

.close-sidenav {
    margin-left: auto;
    padding-right: 15px;
    padding-top: 3px;
}

.head-sidenav {
    padding: 10px 0px;
    background: white;
    display: flex;
    height: 30px;
}

.foot-sidenav {
    background: #00253f;
    position: absolute;
    width: 260px;
    padding: 15px;
    bottom: 0;
}

.head-text {
    font-family: "Source Sans Pro Bold";
    padding: 30px 0px 10px 22px;
    font-size: 1em;
    color: #babdbf;
}

.head-text2 {
    font-family: "Source Sans Pro Bold";
    font-size: 1.3em;
    color: #6a6f72;
    text-transform: uppercase;
    padding-top: 15px;
}

.head-text2 img {
    width: 50px;
    border-radius: 30px;
    height: 50px;
}

.mob_prof_name {
    vertical-align: -webkit-baseline-middle;
    color: #828282;
    cursor: pointer;
    font-weight: bold;
    padding-left: 5px;
}

.head-text2 a {
    color: #828282;
    text-decoration: none;
    text-transform: uppercase;
}

.anchor {
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cfcfcf;
}

.anchor a:hover {
    color: #00253f;
}

.anchor a {
    text-decoration: none;
    text-transform: uppercase;
}

.activeLink {
    border-bottom: 1px solid #8dcf25;
}

.notification {
    position: absolute;
    background: white;
    width: 74%;
    text-align: left;
    top: 50px;
    left: -5%;
    box-shadow: 1px 3px 15px black;
}

.notification>p {
    font-size: 2.5em;
    font-weight: normal;
    background: #00253f;
    color: white;
    padding: 5%;
}

.notice>span {
    color: #8dcf24;
}

.top {
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: 1px solid #cfcfcf;
}

.notice>p {
    margin-bottom: 6%;
    color: #828282;
    line-height: 1.5;
}

.top:hover {
    background: #f6f6f6;
    cursor: pointer;
}

.img {
    height: 25px;
    width: 25px;
}

/*sidenav closed*/
.chat-pop {
    top: 13%;
    z-index: 40;
    width: 300px;
    background: #fff;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    padding: 20px 10px;
}
.img_s{
    height: 100px;
}
.j_oin {
    letter-spacing: 1px;
    background: #8dc351;
    font-family: "DINPro-Medium";
    border-radius: 19px;
    color: white;
    padding: 8px 16px 10px 16px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    margin-top: 10px;
    /* margin-left: 10px; */
}
.chat-pop-h p{
    font-size: 18px;
    font-family: 'DINPro-Medium';
}
.chat-feature-h{
    font-size: 16px;
    font-family: 'DINPro-Medium';
}
.p-c{
    font-size: 14px;
    font-family: 'DINPro-Regular';
    margin-left: 10px;
    line-height: 23px;
}
@media only screen and (min-width: 800px) {
    .web_header {
        display: block;
    }
    .mobile_header {
        display: none;
    }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
    .header {
        height: 36px !important;
    }
    .notification {
        position: absolute;
        width: 32%;
        top: 40px;
        left: 66%;
    }
    .count {
        position: absolute;
        top: -5px;
    }
    .sml {
        top: -6px;
    }
}

@media screen and (min-width: 500px) and (max-width: 640px) {
    .notification {
        position: absolute;
        width: 42%;
        top: 100%;
        left: 56%;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .notification {
        position: absolute;
        width: 56%;
        top: 98%;
        left: 42%;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .shtout {
        padding-right: 1em;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .shtout {
        padding-right: 4.6em;
    }
}

@media screen and (min-width: 425px) and (max-width: 640px) {
    .shtout {
        padding-right: 7.6em;
    }
}

@media only screen and (min-width: 640px) {
    .chat-pop {
        top: 13%;
        z-index: 40;
        width: 600px;
        background: #fff;
        position: fixed;
        margin: auto;
        right: 0;
        left: 0;
        padding: 20px;
    }
    .img_s{
        height: 200px;
    }
    .j_oin {
        letter-spacing: 1px;
        background: #8dc351;
        font-family: "DINPro-Medium";
        border-radius: 19px;
        color: white;
        padding: 8px 16px 10px 16px;
        cursor: pointer;
        font-size: 14px;
        border: none;
        margin-top: 10px;
    }
    .chat-pop-h p{
        font-size: 24px;
        font-family: 'DINPro-Medium';
    }
    .chat-feature-h{
        font-size: 20px;
        font-family: 'DINPro-Medium';
    }
    .p-c{
        font-size: 16px;
        font-family: 'DINPro-Regular';
        margin-left: 20px;
        line-height: 23px;
    }

    .profile_pic:hover .logout {
        display: block;
        color: white;
    }
    .logout {
        color: white;
        display: none;
    }
    .right_section {
        text-align: right;
    }
    .main-container {
        margin: auto;
        max-width: 1150px;
        position: relative;
    }
    .logo {
        padding-top: 2%;
    }
    .right_section {
        padding: 12px 0px 8px 0px;
        text-align: right;
        display: table-cell;
    }
    .li_data {
        list-style: none;
    }
    .fixed-drop {
        position: absolute;
        top: 101%;
        right: 179px;
    }
    .li_data a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-family: 'DINPro-Medium';
        font-size: 16px;
    }
    .li_data span {
        color: white;
        margin: 0 10px;
    }
    .unorder {
        display: flex;
        padding-left: 0;
    }
    .headin {
        padding: 12px 0px 8px 0px;
    }
    .shoutout {
        background: #8dcf24;
        border: 1px solid white;
        border-radius: 15px;
        color: white;
        padding: 2% 3% 1% 7%;
        cursor: pointer;
    }
    .backdrop {
        /* display: none; */
        position: fixed;
        background: #000;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .header {
        background: #00253f;
        z-index: 99;
        height: 70px;
    }
    .profile_pic {
        height: 35px;
        width: 35px;
        border-radius: 25px;
    }
    .icon {
        padding: 0px 10px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    /*** header gradient css ****/
    .full-container {
        background: #00253f;
        position: fixed;
        width: 100%;
        z-index: 20;
    }
    .outlet {
        opacity: 0.3;
        background-color: rgba(8, 16, 35, 0.7);
    }
    /*** header gradient css ****/
    .label1 {
        color: #03375f;
        width: 100%;
    }
    .label2 {
        float: right;
        color: white;
    }
    .img {
        float: right;
        height: 25px;
        margin-top: -5px;
        margin-left: 5px;
        width: 25px;
    }
    .color {
        background: #8dcf24;
    }
    .no-pad {
        padding: 0;
    }
    /************dropdown********************/
    .dropdown-list {
        position: absolute;
        right: 0;
        background: white;
        width: 55%;
        padding-bottom: 1%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        top: 49px;
        padding: 10px;
    }
    .text-info {
        text-align: left;
        padding-left: 6%;
    }
    .text-info p {
        margin-top: 5px;
    }
    /* .shoutout_popup_header {
            background: #00253f;
            padding: 11px;
        }
        .shoutout_popup_header span {
            margin: 0;
            color: white;
            padding-left: 5px;
            padding-top: 7px;
            font-size: 2.5em;
            text-transform: uppercase;
            font-family: ChaletComprime CologneEighty;
        } */
}

.multilang {
    position: absolute;
    top: 30px;
    right: 0px;
    border: 1px solid #f8f9fb;
    text-decoration: none;
    line-height: 35px;
    z-index: 2;
    background: #f8f9fb;
    color: #888888;
    box-shadow: 16px 14px 40px -10px #999;
    cursor: pointer;
}

.multilang ul li {
    display: flex;
    align-items: center;
}

.multifalg {
    position: relative;
}

.multilang ul li img {
    margin-right: 5px;
    height: 20px;
}

.location {
    background: #8ec63f;
    border-radius: 50px;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    color: white;
    margin-right: 8px;
    width: 150px;
    word-break: break-all;
    text-align: left;
    height: 26px;
    cursor: pointer;
}

.shoutout-dialog {
    top: 20%;
    z-index: 14;
    width: 450px;
    background: #fff;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    padding: 20px;
}

.shoutout-head {
    display: flex;
}

.shoutout-head span {
    color: #333333;
    text-transform: none;
    font-size: 18px;
}

.hr {
    color: #8b8e95;
    font-size: 16px;
    border-bottom: 1px solid #dbdbdb;
    margin: 16px 0;
}

.shoutout-tarea {
    margin: 15px 0;
}

.shoutout-tarea .ui-inputtext {
    border-radius: 0;
    background: white;
}

.flex {
    display: flex;
}

.shoutout-foot {
    text-align: right;
}

.out-down .ui-dropdown {
    width: 100%;
}

.g-text {
    color: #a6db5c;
    font-size: 15px;
}

.clubsdisplay {
    overflow-y: auto;
    height: 120px;
}

.noteam {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

.logo-c {
    cursor: pointer;
    height: 70px;
    /* width: 55px; */
    border-radius: 50%;
}

.wrap-outlet {
    margin: auto;
    max-width: 1800px;
}

/* profile */

.p-h1 {
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    word-break: break-all;
    text-transform: capitalize;
    font-family: 'DINPro-Medium';
}

.cc-f {
    font-size: 18px;
    margin: 5px 0;
    cursor: pointer;
    word-break: break-all;
    text-transform: capitalize;
    color: #9C9C9C;
    font-family: 'DINPro-Medium';
}

.p-h2 {
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    margin: 5px 0;
    color: #747474;
    word-break: break-all;
}

.flex {
    display: flex;
}

.margin-w {
    margin: 8px 0;
    cursor: pointer;
}

.l-font {
    margin-left: 20px;
    margin-top: 3px;
    font-size: 16px;
    color: #747474;
    font-family: 'DINPro-Medium';
}

.p-g {
    color: #8DC351;
    border-bottom: 1px solid;
}

.upload-class {
    padding: 10px;
    color: white;
    background: #002B40;
    border-radius: 4px;
}

.cm-img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.cm-sp {
    display: inline-block;
    font-size: 16px;
    font-family: 'DINPro-Bold';
}

.swi-ch {
    margin-left: 10px;
    margin-right: 8px;
    font-size: 16px;
    color: #6B6B6B;
    font-family: 'DINPro-Medium';
}

.wrp-li {
    overflow: auto;
    height: 100px;
}

.wrp-li ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrp-li li {
    padding: 10px 0;
    word-break: break-all;
    cursor: pointer;
    border-bottom: 1px solid #dbdbdb;
}

.user-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
    overflow: hidden;
    color: white;
}

.reg-str {
    background: #8DC351;
    text-transform: capitalize;
    border-radius: 15px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 12px;
    border: none;
    margin-left: 20px;
}

.join-str {
    background: transparent;
    text-transform: capitalize;
    border-radius: 15px;
    color: white;
    padding: 7px 16px;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid white;
}


.m-dialog {
    top: 13%;
    z-index: 40;
    width: 300px;
    background: #fff;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    padding: 0;
}
.main-pop-content {
    padding: 15px 15px 0 15px;
    border: 1px dashed #dbdbdb;
    height: 95%;
}

.f1 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    color: #171e22;
    font-family: "Roboto-Medium";
}

.f2 {
    color: #515252;
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
}

.custom-button {
    border-radius: 0;
    margin-top: 20px;
}

.backdrop {
    /* display: none; */
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 24;
}
.main-pop-image {
    height: 100%;
    width: 100%;
}
@media only screen and (min-width: 640px) {
    .m-dialog {
        top: 13%;
        z-index: 40;
        width: 650px;
        background: #fff;
        position: fixed;
        margin: auto;
        right: 0;
        left: 0;
        padding: 0;
    }
}