<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>


<div class="wrap-dash">

    <div class="maindash-container">
        <!--<div class="ui-g wrap-trans">
            <div class="ui-g-12">
                <div class="trans-card ui-g" (click)="completeProfile()">
                    <div class="ui-g-2">
                        <img style="height: 32px;" src="assets/images/dash/plustrans.png">
                    </div>
                    <div class="ui-g-8">
                        <p style="margin-top:8px;">Complete your Profile</p>
                    </div>
                    <div class="ui-g-2">
                        <img style="height:15px;margin-top:10px;" src="assets/images/dash/arrowtrans.png">
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    <!-- news section -->
    <!-- <div class="news-feed">
        <div *ngIf="newsdatalatest!=null" class="ui-g">
            <div class="news-wrap">
                <div class="ui-g-4 ui-lg-4 ui-md-12 ui-sm-12">
                    <div class="news-left">
                        <span>LATEST NEWS</span>
                        <p class="n1">{{newsdatalatest?.news_title}} </p>
                    </div>
                </div>
                <div class="ui-g-4 ui-lg-4 ui-md-12 ui-sm-12">
                    <div *ngIf="newsdatalatest?.news_image!=null" class="news-img" [ngStyle]="{ 'background-image': 'url('+logo+newsdatalatest?.news_image+')' }">
                    </div>
                    <div *ngIf="newsdatalatest?.news_image==null" class="news-img" [ngStyle]="{ 'background-image': 'url('+logo+newsdatalatest?.news_thumbnail_image+')' }">
                    </div>
                </div>
                <div class="ui-g-4 ui-lg-4 ui-md-12 ui-sm-12">
                    <div class="news-right">
                        <h2>{{newsdatalatest?.news_headline}} </h2>
                        <p *ngIf="newsdatalatest?.image_content!=''" class="n2"> {{newsdatalatest?.image_content}}</p>
                        <p *ngIf="newsdatalatest?.video_content!=''" class="n2"> {{newsdatalatest?.video_content}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="all-news">
                <div *ngIf="!noimagenews">
                    <div *ngFor="let news of newsdataimage  " class="ui-g-3">
                        <div class="small-news ui-g">
                            <div class="ui-g-2 ui-lg-2 ui-md-12 ui-sm-12 nopad">
                                <div class="logo-news" [ngStyle]="{ 'background-image': 'url('+logo+news?.news_thumbnail_image+')' }">
                                </div>
                            </div>
                            <div class="ui-g-10 ui-lg-10 ui-md-12 ui-sm-12 nopad">
                                <p>{{news?.news_headline}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!novideonews">
                    <div *ngFor="let news of newsdatavideo" class="ui-g-3">
                        <div class="small-news ui-g">
                            <div class="ui-g-2 ui-lg-2 ui-md-12 ui-sm-12 nopad">
                                <div class="logo-news" [ngStyle]="{ 'background-image': 'url('+logo+news?.news_thumbnail_image+')' }">
                                </div>
                            </div>
                            <div class="ui-g-10 ui-lg-10 ui-md-12 ui-sm-12 nopad">
                                <p>{{news?.news_headline}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- news section -->


    <div *ngIf="!userinfo" class="bigbanner">
        <div class="text-center">
            <h2 class="big-banner-h2">{{"Welcome to"|translate}} {{comname}} {{"Community"|translate}}</h2>
            <p class="big-banner-p">{{"Discover turfs,games and other local players.A lot of great feature for your successful soccer experience waiting for you!"|translate}}</p>
            <hr class="border_g">
        </div>
        <div class="big-banner-content">
            <div class="ui-g" style="margin-top:20px">
                <div class="ui-g-4 ui-lg-4 ui-sm-12">
                    <div style="margin: 20px 0;display:flex">
                        <img style="height:30px" src="assets/images/dash/chat_comm.png">
                        <span class="p-c">{{"One to one chat with your club members"|translate}}</span>
                    </div>
                </div>
                <div class="ui-g-4 ui-lg-4 ui-sm-12">
                    <div style="margin: 20px 0;display:flex">
                        <img style="height:30px" src="assets/images/dash/team_stats.png">
                        <span class="p-c">{{"Easily find your fixtures, results, tables and your stats"|translate}}</span>
                    </div>
                </div>
                <div class="ui-g-4 ui-lg-4 ui-sm-12">
                    <div style="margin: 20px 0;display:flex">
                        <img style="height:30px" src="assets/images/dash/explore.png">
                        <span class="p-c">{{"Explore more players and teams near by"|translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button (click)="joincommunity()" class="j_oin">{{"Join the community"|translate}} ></button>
        </div>

    </div>

    <div class="wrap-home-details">
        <div class="ui-g">
            <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-12">
                <!-- stats -->
                <div class="main-card">
                    <div class="main-card-head">
                        {{"Your stats"|translate}}
                    </div>
                    <div *ngIf="userstatdata==undefined">
                        <div class="text-center">
                            <img style="margin-top:3%" src="assets/images/dash/my_statas.png">
                        </div>
                        <div class="previous_no-content text-center">
                            <p style="font-family: 'DINPro-Bold';font-size:16px;margin-bottom:10px">{{"Your stats will appear here"|translate}}</p>
                            <p class="previous-s-t">{{"Join the community to see your stats and explore new leagues"|translate}}</p>

                            <button (click)="joincommunity()" class="j_oin">{{"Join the community"|translate}} ></button>
                        </div>
                    </div>
                    <div *ngIf="userstatdata!=undefined" class="main-card-content">
                        <div class="stat-info">
                            <div *ngIf="userstatdata?.profile_pic!=null" class="stat-img" [ngStyle]="{ 'background-image': 'url('+logo+userstatdata?.profile_pic+')' }">
                                <div class="stat-img-in">
                                    <p>{{lang=='es'?(userstatdata?.position_code):(userstatdata?.position_code_en)}}</p>
                                </div>
                            </div>
                            <div *ngIf="userstatdata?.profile_pic==null" class="stat-img" [ngStyle]="{ 'background-image': 'url(/assets/images/dash/my_profile.png)' }">
                                <div class="stat-img-in">
                                </div>
                            </div>
                            <div class="stat-i">
                                <p class="p1">
                                    {{userstatdata?.player_name}}</p>
                                <div *ngFor="let data of userstatdata?.team_list" class="flex">
                                    <img *ngIf="userstatdata.team_logo!=null" style="height:15px;" [src]="logo+userstatdata?.team_logo">
                                    <img *ngIf="userstatdata.team_logo==null" style="height:15px;" src="assets/images/dash/stats_team.png">
                                    <p class="p2" style="margin-top: -3pxpx;margin-left: 5px;max-width: 100px;">{{data?.team_name?data?.team_name:'-'}}</p>
                                </div>
                                <p class="p2" style="font-size: 12px;font-family: 'Montserrat-Regular';">Matches played : {{userstatdata?.match_played?userstatdata?.match_played:'-'}}</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="userstatdata!=undefined">
                        <div class="stat-c">
                            <span>{{"Position"|translate}}</span>
                            <span>{{lang=='es'?(userstatdata?.position):(userstatdata?.position_en)}}</span>
                        </div>
                        <div class="stat-c">
                            <span>{{"Goals"|translate}}</span>
                            <span>{{userstatdata?.goals?userstatdata?.goals:'-'}}</span>
                        </div>
                        <div class="stat-c">
                            <span>{{"Assists"|translate}}</span>
                            <span>{{userstatdata?.assists?userstatdata?.assists:'-'}}</span>
                        </div>
                        <div class="stat-c">
                            <span>{{"Citizenship"|translate}}</span>
                            <img *ngIf="userstatdata?.country_flag!=null" style="height:22px;" [src]="logo+userstatdata?.country_flag">
                            <img *ngIf="userstatdata?.country_flag==null" style="height:22px;" src="assets/images/dash/emptyflag.png">
                        </div>
                    </div>
                </div>
                <!-- top scrorers -->
                <div *ngIf="!notopplayers" class="main-card">
                    <div class="main-card-head">
                        {{"Top scorers"|translate}}
                    </div>
                    <div *ngFor="let top of peloteandoPlayerInfo" class="main-card-content">
                        <div class="stat-info">
                            <div *ngIf="top?.profile_pic !=null" class="stat-img" [ngStyle]="{ 'background-image': 'url('+logo+top?.profile_pic+')' }">
                                <div *ngIf="top?.position_code!=null || top?.position_code_en!=null" class="stat-img-in">
                                    <p>{{lang=='es'?(top?.position_code):(top?.position_code_en)}}</p>
                                </div>
                            </div>

                            <div *ngIf="top?.profile_pic ==null" class="stat-img" [ngStyle]="{ 'background-image': 'url(assets/images/dash/user_placeholder.png)' }">
                                <div *ngIf="top?.position_code!=null || top?.position_code_en!=null" class="stat-img-in">
                                    <p>{{lang=='es'?(top?.position_code):(top?.position_code_en)}}</p>
                                </div>
                            </div>
                            <div class="stat-i">
                                <p class="p1">
                                    {{top?.full_name}}
                                </p>
                                <div class="flex">
                                    <img *ngIf="top.team_logo==null" style="height:15px;" src="assets/images/dash/stats_team.png">
                                    <img *ngIf="top.team_logo!=null" style="height:15px;" [src]="logo+top?.team_logo">
                                    <p class="p2" style="margin-top: 0px;margin-left: 5px;">{{top?.team_name}}</p>
                                </div>
                                <p class="p2" style="font-family: 'Montserrat-Regular';">{{"Matches played"|translate}} {{top?.matches_played}}</p>
                                <img *ngIf="top?.country_flag!=null" style="height:22px;" [src]="logo+top?.country_flag">
                                <img *ngIf="top?.country_flag==null" style="height:22px;" src="assets/images/dash/emptyflag.png">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- top teams -->
                <div *ngIf="!notopteams" class="main-card">
                    <div class="main-card-head">
                        {{"Top teams"|translate}}
                    </div>
                    <div *ngFor="let team of topteams; let i=index">
                        <div class="topteam-card">
                            <div class="topteam-card-s">
                                <div class="logo-img-wrap">
                                    <img *ngIf="team?.team_logo!=null" style="height: 30px;width:30px;border-radius:50%;margin-top: 24%;" [src]="logo+team?.team_logo">
                                    <img *ngIf="team?.team_logo==null" style="height: 30px;width:30px;border-radius:50%;margin-top: 24%;" src="assets/images/dash/stats_team.png">
                                </div>
                                <span class="capitalize" style="margin-top:4%;margin-left: 3%;font-size:14px;letter-spacing: 1px;color:white;font-family: 'DINPro-Medium';">{{team?.team_name}}
                                </span>
                            </div>
                        </div>
                        <div class="stat-c">
                            <span>{{"Rank"|translate}}</span>
                            <span>{{i+1}}</span>
                        </div>
                        <div class="stat-c">
                            <span>{{"Matches won"|translate}}</span>
                            <span>{{team?.match_won}}/{{team?.match_played}}</span>
                        </div>
                        <div class="stat-c">
                            <span>{{"Total goals"|translate}}</span>
                            <span>{{team?.goals_taken}}</span>
                        </div>
                    </div>
                </div>
                <!-- leagues open -->
                <div *ngIf="!noleague" class="main-card">
                    <div class="main-card-head">
                        {{"Leagues open"|translate}}
                    </div>
                    <div *ngFor="let league of upcommingleagues">
                        <div *ngIf="league?.cover_pic==null" class="leagues-card" [ngStyle]="{ 'background-image': 'url(/assets/images/dash/leagues.png)' }">
                            <div class="leagues-card-s">
                                <span class="capitalize" style="font-size:16px;">{{league?.tournament_name}} </span>
                                <p class="capitalize" style="font-size:12px;">{{league?.country_name}}</p>
                            </div>
                        </div>
                        <div *ngIf="league?.cover_pic!=null" class="leagues-card" [ngStyle]="{ 'background-image': 'url('+logo+league?.cover_pic+')' }">
                            <div class="leagues-card-s">
                                <span class="capitalize" style="font-size:16px;">{{league?.tournament_name}} </span>
                                <p class="capitalize" style="font-size:12px;">{{league?.country_name}}</p>
                            </div>
                        </div>
                        <p style="color:red;margin:10px">{{league?.days_left}} {{"days left for registration"|translate}}</p>
                        <div class="stat-c">
                            <span>{{"Modality"|translate}}</span>
                            <span>{{league?.tournament_level}}</span>
                        </div>
                        <div class="stat-c">
                            <span>{{"Teams"|translate}}</span>
                            <span>{{league?.team_count}}</span>
                        </div>
                        <div class="stat-c">
                            <span>{{"Level"|translate}}</span>
                            <span>{{lang=='es'?(league?.tournament_division):(league?.tournament_division_en)}}</span>
                        </div>
                        <div class="stat-c">
                            <span>{{"Fees"|translate}}</span>
                            <span>${{league?.registration_fee}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-9 ui-lg-9 ui-md-9 ui-sm-12">
                <div class="dash-wrapper">
                    <div *ngIf="nosponser" class="sponsers">
                        <div *ngFor="let sponser of sponsers" class="text-center">
                            <div class="sponser-img" [ngStyle]="{ 'background-image': 'url('+logo+sponser?.image+')' }">
                            </div>
                            <p style="margin-top: 10px;">{{sponser?.name}}</p>
                            <!-- <p class="sponser-d" style="margin-top: 10px;">{{sponser?.description}}</p> -->
                        </div>
                    </div>
                    <div class="main-bold-title" style="margin-top:0">
                        {{"Upcoming fixture"|translate}}
                    </div>
                    <div *ngIf="leaguefilter" class="league-drop">
                        <p-dropdown optionLabel="name" [options]="filterdataarray" (onChange)="filterfixtures($event)"></p-dropdown>
                    </div>

                    <!-- fixture -->
                    <!-- rating your last game -->

                    <div *ngIf="fixturedata!=null" class="rating-card">
                        <p style="padding: 12px 0;font-size: 16px;font-family: 'DINPro-Medium';">{{"Your next game"|translate}}: {{tournament_name}}
                        </p>
                        <div class="rating-card-head2">
                            <div *ngIf="fixturedata?.player_status!=null" class="fixture-badge">
                                {{fixturedata?.player_status}}
                            </div>
                            <div class="fixture-head-content">
                                <div class="fixt-detail">
                                    <span>{{fixturedata?.date|date :'dd-MMM-yyyy'}} {{fixturedata?.date|date :'shortTime'}}</span>
                                    <img style="margin: 0 10px;" src="assets/images/dash/ic_fields.png">
                                    <span>{{fixturedata?.field_name?fixturedata?.field_name:'No data for field'}}</span>
                                </div>
                                <div class="league-detail1">
                                    <p class="color-white" style="margin-top: 4%;">{{fixturedata?.team1_name}}</p>
                                    <div class="logo-img-wrap">
                                        <img *ngIf="fixturedata?.team1_logo!=null" style="height: 30px;margin-top: 23%;width: 30px;border-radius: 50%;" [src]="logo+fixturedata?.team1_logo">
                                        <img *ngIf="fixturedata?.team1_logo==null" style="height: 30px;margin-top: 23%;width: 30px;border-radius: 50%;" src="assets/images/default_team_logo.png">
                                    </div>
                                    <div class="logo-img-wrap">
                                        <img *ngIf="fixturedata?.team2_logo!=null" style="height: 30px;margin-top: 23%;width: 30px;border-radius: 50%;" [src]="logo+fixturedata?.team2_logo">
                                        <img *ngIf="fixturedata?.team2_logo==null" style="height: 30px;margin-top: 23%;width: 30px;border-radius: 50%;" src="assets/images/default_team_logo.png">

                                    </div>
                                    <p class="color-white" style="margin-top: 4%">{{fixturedata?.team2_name}}</p>
                                </div>
                                <div *ngIf="fixturedata?.player_status!=null" class="status-maintain">
                                    <div (click)="statusupdate(fixturedata.fixture_id,'going')" class="status-badge" style="background:#6A9436;color:white">
                                        Going
                                    </div>
                                    <div (click)="statusupdate(fixturedata.fixture_id,'maybe')" class="status-badge" style="background:white;color:#333333">
                                        Maybe
                                    </div>
                                    <div (click)="statusupdate(fixturedata.fixture_id,'no')" class="status-badge" style="background:#D43F3A;color:white">
                                        No
                                    </div>
                                </div>


                            </div>
                            <!-- <div class="drop-available">
                            <p-dropdown [options]="availabledata" (onChange)="statusupdate(fixturedata.fixture_id)" [(ngModel)]="selectedstatus"></p-dropdown>
                        </div> -->
                        </div>
                        <div class="rating-card-content">
                            <div class="ui-g">
                                <div class="ui-g-6 ui-lg-6 ui-sm-12" style="border-right: 1px solid #dbdbdb;">
                                    <p class="mobile" style="padding: 10px;">{{fixturedata?.team1_name}}</p>
                                    <div *ngFor="let team of fixturedata?.team1_players">
                                        <div class="ui-g">
                                            <div class="ui-g-5">
                                                <div class="flex">
                                                    <img class="mini-img2" src="assets/images/dash/dummyplayer.png">
                                                    <p class="mini-text2">{{team?.player_name}}</p>
                                                </div>
                                            </div>
                                            <div class="ui-g-4">
                                                <p class="table-font">{{lang=='es'?(team?.position):(team?.position_en)}}</p>
                                            </div>
                                            <div class="ui-g-3">
                                                <p class="table-font">{{team?.match_status}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-6 ui-lg-6 ui-sm-12">
                                    <p class="mobile" style="padding: 10px;">{{fixturedata?.team2_name}}</p>
                                    <div *ngFor="let team of fixturedata?.team2_players">
                                        <div class="ui-g">
                                            <div class="ui-g-5">
                                                <div class="flex">
                                                    <img class="mini-img2" src="assets/images/dash/dummyplayer.png">
                                                    <p class="mini-text2">{{team?.player_name}}</p>
                                                </div>
                                            </div>
                                            <div class="ui-g-4">
                                                <p class="table-font">{{lang=='es'?(team?.position):(team?.position_en)}}</p>
                                            </div>
                                            <div class="ui-g-3">
                                                <p class="table-font">{{team?.match_status}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="nofixtures && fixturedata==null" class="empty-table">
                        <div class="ui-g" style="border: 1px solid #dbdbdb;padding:20px;margin-top: 10px;">
                            <div class="ui-g-6 ui-lg-6 ui-sm-12">
                                <div class="no-fix-margin">
                                    <p class="empty-head-text">{{"No upcoming fixtures"|translate}}</p>
                                    <p class="empty-content-text">{{"Your upcoming fixture will come here. You must be part of a team and league to see upcoming fixtures."|translate}}</p>

                                </div>
                            </div>
                            <div class="ui-g-6 ui-lg-6 ui-sm-12">
                                <img class="image-responsive" src="assets/images/dash/No_result.png">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div *ngFor="let data of fixtures; let i=index" class="content-row">
                            <p class="date-data">{{data?.date|date :'dd MMMM yyyy'}} - {{data?.round_name}}</p>
                            <div class="ui-g fixh">
                                <div class="ui-g-8 ui-lg-8 ui-md-8 ui-sm-12 nopad">
                                    <div>
                                        <div class="ui-g team-p">
                                            <div class="ui-g-4" style="text-align:right">
                                                <p>{{data?.team1_name}}</p>
                                            </div>
                                            <div class="ui-g-1 text-center">
                                                <img class="img-player-t" [src]="data?.team1_logo?logo+data?.team1_logo:'assets/images/sponser_new.png'">
                                            </div>
                                            <div class="ui-g-2 text-center">
                                                <div class="fixh-r">
                                                    {{data?.date|date :'shortTime'}}
                                                </div>
                                            </div>
                                            <div class="ui-g-1 text-center">
                                                <img class="img-player-t" [src]="data?.team2_logo?logo+data?.team2_logo:'assets/images/sponser_new.png'">
                                            </div>
                                            <div class="ui-g-4" style="text-align:left">
                                                <p>{{data?.team2_name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12 nopad">
                                    <div class="flex res-r" style="margin-top: 10px;">
                                        <img src="assets/images/dash/ic_fields.png">
                                        <p style="margin-top: 1px;font-size: 14px; margin-left: 7px;">{{data?.field_name?data?.field_name:'No data for field'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fixture closed -->
                    <div class="web">
                        <div class="main-bold-title">
                            {{"Tables"|translate}}
                        </div>
                        <div *ngIf="leaguefilter" class="league-drop">
                            <p-dropdown optionLabel="name" [options]="filterdataarray" (onChange)="filterfixtures($event)"></p-dropdown>
                        </div>
                        <table style="width:100%;box-shadow: 0 1px 2px rgba(0,0,0,.2);">
                            <tr class="table-result">
                                <!-- <th class="table-th">position</th> -->
                                <th class="table-th" style="text-align:left">{{"Club"|translate}}</th>
                                <th class="table-th">{{"played"|translate}}</th>
                                <th class="table-th">{{"Won"|translate}}</th>
                                <th class="table-th">{{"Drawn"|translate}}</th>
                                <th class="table-th">{{"Lost"|translate}}</th>
                                <th class="table-th">{{"GF"|translate}}</th>
                                <th class="table-th">{{"GA"|translate}}</th>
                                <th class="table-th">{{"Points"|translate}}</th>
                                <th class="table-th">+/-</th>
                            </tr>
                            <tr *ngFor="let item of tabledata;let i=index;">
                                <!-- <td class="text-center table-font">{{i+1}}</td> -->
                                <td>
                                    <img *ngIf="item?.team_logo!=null" class="mini-img2" [src]="logo+item?.team_logo">
                                    <img *ngIf="item?.team_logo==null" class="mini-img2" src="assets/images/dash/stats_team.png">
                                    <p class="mini-text2">{{item?.team_name}}</p>
                                </td>
                                <td class="text-center table-font">{{item?.match_played}}
                                </td>
                                <td class="text-center table-font">{{item?.won}}</td>
                                <td class="text-center table-font">{{item?.ties}}</td>
                                <td class="text-center table-font">{{item?.loss}}</td>
                                <td class="text-center table-font">{{item?.save_goals}}</td>
                                <td class="text-center table-font">{{item?.goal_against}}</td>
                                <td class="text-center table-font">{{item?.points}}</td>
                                <td class="text-center table-font">{{item?.save_goals}}/{{item?.goal_against}}</td>
                            </tr>
                        </table>

                        <div *ngIf="notables" class="empty-table">
                            <img class="image-responsive" src="assets/images/dash/tables_ph.png">
                            <p class="empty-head-text">{{"Your matches seems to be empty"|translate}}</p>
                            <p class="empty-content-text">{{"Your match table will appear here, Once you will the part of any league ongoing"|translate}}</p>
                        </div>

                    </div>
                    <!-- results -->

                    <div>
                        <div class="main-bold-title">
                            {{"Results"|translate}}
                        </div>
                        <div *ngIf="leaguefilter" class="league-drop">
                            <p-dropdown optionLabel="name" [options]="filterdataarray" (onChange)="filterresults($event)"></p-dropdown>
                        </div>
                        <div *ngIf="noresuts" class="empty-table">
                            <div class="ui-g" style="border: 1px solid #dbdbdb;padding:20px">
                                <div class="ui-g-6 ui-lg-6 ui-sm-12">
                                    <div style="margin-top: 21%;">
                                        <p class="empty-head-text">{{"No results yet"|translate}}</p>
                                        <p class="empty-content-text">{{"Your match results will appear here!"|translate}}</p>
                                    </div>
                                </div>
                                <div class="ui-g-6 ui-lg-6 ui-sm-12">
                                    <img class="image-responsive" src="assets/images/dash/result_ph.png">
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!noresuts">
                            <!-- <div class="ui-g" style="padding: 14px 14px 5px 14px;">
                            <div class="ui-g-8 ui-lg-8 ui-md-7 ui-sm-12 nopad">
                                <p class="sub-head-text">Previous match results</p>
                            </div>
                            <div class="ui-g-4 ui-lg-4 ui-md-7 ui-sm-12 nopad">
                                <p class="web sub-head-text">Venue</p>
                            </div>
                        </div> -->
                            <div *ngFor="let data of results; let i=index" class="content-row">
                                <p class="date-data">{{data?.tournament_date|date :'dd MMMM yyyy'}} {{data?.tournament_date|date :'shortTime'}}</p>
                                <div class="ui-g">
                                    <div class="ui-g-8 ui-md-8 ui-sm-12 nopad">
                                        <div>
                                            <div class="ui-g team-p">
                                                <div class="ui-g-4" style="text-align:right">
                                                    <p>{{data?.team1_name}}</p>
                                                </div>
                                                <div class="ui-g-1 text-center">
                                                    <img class="img-player-t" [src]="data?.team1_logo?logo+data?.team1_logo:'assets/images/dash/stats_team.png'">
                                                </div>
                                                <div class="ui-g-2 text-center">
                                                    <div class="goal-r">
                                                        {{data?.team1_goals}} - {{data?.team2_goals}}
                                                    </div>
                                                </div>
                                                <div class="ui-g-1 text-center">
                                                    <img class="img-player-t" [src]="data?.team2_logo?logo+data?.team2_logo:'assets/images/dash/stats_team.png'">
                                                </div>
                                                <div class="ui-g-4" style="text-align:left">
                                                    <p>{{data?.team2_name}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-g-3 ui-md-3 ui-sm-12 nopad">
                                        <div class="flex res-r">
                                            <img src="assets/images/dash/ic_fields.png">
                                            <p style="margin-top: 1px;font-size: 14px;    margin-left: 7px;">{{data?.field_name?data?.field_name:'No data found'}}</p>
                                        </div>
                                    </div>
                                    <div class="ui-g-1 ui-md-1 ui-sm-12 nopad">
                                        <p *ngIf="!collaps" (click)="open(i)" class="show-buttons">{{'Mostrar más' | translate}}</p>
                                        <p *ngIf="collaps && colindex == i" (click)="close()" class="show-buttons">{{'Muestra menos' | translate}}</p>
                                    </div>
                                </div>
                                <div *ngIf="colindex == i && showallcon" style="background:white;">
                                    <div class="allcontent-head">
                                        <div class="ui-g" style="color: white;background: #568306;">
                                            <div class="ui-g-3 ui-md-3 ui-sm-4">
                                                <p class="align-p font-b">{{"Players"|translate}}</p>
                                            </div>
                                            <div class="ui-g-2 ui-md-2 ui-sm-4">
                                                <p class="align-p font-b">{{"Position"|translate}}</p>
                                            </div>
                                            <div class="ui-g-2 ui-md-2 ui-sm-4">
                                                <p class="align-p font-b">{{"Club"|translate}}</p>
                                            </div>
                                            <div class="ui-g-5 ui-md-5 ui-sm-12">
                                                <div class="ui-g">
                                                    <div class="ui-g-3 text-center">
                                                        <p class="font-b">{{'Tarjeta amarilla' | translate}}</p>
                                                    </div>
                                                    <div class="ui-g-3 text-center">
                                                        <p class="font-b">{{'Tarjeta roja' | translate}}</p>
                                                    </div>
                                                    <div class="ui-g-3 text-center">
                                                        <p class="font-b">{{'Asistir' | translate}}</p>
                                                    </div>
                                                    <div class="ui-g-3 text-center">
                                                        <p class="font-b">{{'Goles' | translate}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center" *ngIf="noplayers" style="margin-top:50px">
                                        {{'Datos no encontrados' | translate}}
                                    </div>
                                    <div class="result-scroll-div">
                                        <div *ngFor="let data of data?.players" class="allcontent-c">
                                            <div class="ui-g">
                                                <div class="ui-g-3 ui-md-3 ui-sm-4">
                                                    <div class="flex">
                                                        <img *ngIf="data?.profile_pic ==null" class="mini-img" src="assets/images/dash/players_place_holder.png">
                                                        <img *ngIf="data?.profile_pic !=null" class="mini-img" [src]="logo+data?.profile_pic">

                                                        <p class="mini-text">{{data?.player_name}}</p>
                                                    </div>
                                                </div>
                                                <div class="ui-g-2 ui-md-2 ui-sm-4">
                                                    <p style="font-size:14px;font-family: 'DINPro-Medium';"> {{lang=='es'?(data?.player_position):(data?.player_position_en)}}</p>
                                                </div>
                                                <div class="ui-g-2 ui-md-2 ui-sm-4">
                                                    <div class="flex">
                                                        <img *ngIf="data?.player_team_logo ==null" class="mini-img" src="assets/images/dash/stats_team.png">
                                                        <img *ngIf="data?.player_team_logo !=null" class="mini-img" [src]="logo+data?.player_team_logo">
                                                        <p class="mini-text">{{data?.team_name}}</p>
                                                    </div>
                                                </div>
                                                <div class="ui-g-5 ui-md-5 ui-sm-12">
                                                    <div class="ui-g">
                                                        <div class="ui-g-3 text-center">
                                                            <p>{{data?.player_yellow}}</p>
                                                        </div>
                                                        <div class="ui-g-3 text-center">
                                                            <p>{{data?.player_red}}</p>
                                                        </div>
                                                        <div class="ui-g-3 text-center">
                                                            <p>{{data?.player_assist}}</p>
                                                        </div>
                                                        <div class="ui-g-3 text-center">
                                                            <p>{{data?.player_goal}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- rating your last game -->
                    <div *ngIf="playerrankings!=null" class="main-bold-title">
                        {{"Rating your last game"|translate}}
                    </div>
                    <div *ngIf="playerrankings!=null" class="rating-card">
                        <div class="rating-card-head">
                            <div class="league-detail">
                                <span>{{playerrankings?.date_time|date :'dd-MMM-yyyy'}} {{playerrankings?.date_time|date :'shortTime'}}</span>
                                <img style="margin: 0 10px;" src="assets/images/dash/ic_fields.png">
                                <span>{{playerrankings?.ground?playerrankings?.ground:'No data for field'}}</span>
                            </div>


                            <!--rate-head-content-->
                            <div class=" ui-g base-row">
                                <div class="ui-g-3 text-center">
                                    <p class="color-white" style="margin-top:4%">{{playerrankings?.team1_name}}
                                    </p>
                                </div>
                                <div class="ui-g-2">
                                    <div class="logo-img-wrap">
                                        <img *ngIf="playerrankings?.team1_logo!=null" class="lil-img" [src]="logo+playerrankings?.team1_logo">
                                        <img *ngIf="playerrankings?.team1_logo==null" class="lil-img" src="assets/images/dash/upcoming_matches_teams.png">
                                    </div>
                                </div>
                                <div class="ui-g-2">
                                    <div class="goal-area">
                                        {{playerrankings?.team1_goals}} - {{playerrankings?.team2_goals}}
                                    </div>
                                </div>
                                <div class="ui-g-2">
                                    <div class="logo-img-wrap" style="float:right;">
                                        <img *ngIf="playerrankings?.team2_logo!=null" class="lil-img" [src]="logo+playerrankings?.team2_logo">
                                        <img *ngIf="playerrankings?.team2_logo==null" class="lil-img" src="assets/images/dash/upcoming_matches_teams.png">
                                    </div>
                                </div>
                                <div class="ui-g-3 text-center">
                                    <p class="color-white" style="margin-top:4%">{{playerrankings?.team2_name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="rating-card-content">
                            <div class="ui-g">
                                <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12" style="border-right: 1px solid #dbdbdb;">
                                    <p class="mobile" style="padding: 10px;"> {{playerrankings?.team1_name}}</p>

                                    <div *ngFor="let team of playerrankings?.player_list1">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                                <div class="flex">
                                                    <img *ngIf="team.profile_pic!=null" class="mini-img2" [src]="logo+team?.profile_pic">
                                                    <img *ngIf="team.profile_pic==null" class="mini-img2" src="assets/images/dash/players_place_holder.png">
                                                    <p class="mini-text2">{{team?.full_name}}</p>
                                                </div>
                                            </div>
                                            <div class="ui-g-4 text-center">
                                                <p class="table-font">{{lang=='es'?(team?.position):(team?.position_en)}}</p>

                                            </div>
                                            <div class="ui-g-4 text-center">
                                                <p-rating [(ngModel)]="team.rating" (onRate)="rateval1($event,team)" [cancel]="false"></p-rating>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12">
                                    <p class="mobile" style="padding: 10px;">{{playerrankings?.team1_name}}</p>

                                    <div *ngFor="let team of playerrankings?.player_list2">
                                        <div class="ui-g">
                                            <div class="ui-g-4">
                                                <div class="flex">
                                                    <img *ngIf="team.profile_pic!=null" class="mini-img2" [src]="logo+team?.profile_pic">
                                                    <img *ngIf="team.profile_pic==null" class="mini-img2" src="assets/images/dash/players_place_holder.png">
                                                    <p class="mini-text2">{{team?.full_name}}</p>
                                                </div>
                                            </div>
                                            <div class="ui-g-4 text-center">
                                                <p class="table-font">{{lang=='es'?(team?.position):(team?.position_en)}}</p>

                                            </div>
                                            <div class="ui-g-4 text-center">
                                                <p-rating [(ngModel)]="team.rating" (onRate)="rateval2($event,team)" [cancel]="false"></p-rating>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- previous stats -->

                    <div class="ui-g" style="margin-top: 30px;">
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 nopad">
                            <div class="main-card mr-right">
                                <div class="main-card-head">
                                    {{"Previous match stats"|translate}}
                                </div>
                                <div *ngIf="previousstats==null">
                                    <div class="text-center">
                                        <img style="margin-top:3%" src="assets/images/dash/previous_stats.png">
                                    </div>
                                    <div class="previous_no-content text-center">
                                        <p class="empty-content-text">{{"You can always see your previous match stats with your opponent team."|translate}}</p>
                                        <button *ngIf="!userinfo" (click)="joincommunity()" class="j_oin">{{"Join the community"|translate}} ></button>
                                    </div>
                                </div>
                                <div *ngIf="previousstats!=null">
                                    <div class="previousstat-card">
                                        <div class="topteam-card-s">
                                            <div class="flex-it" style="width: 100%;">
                                                <p class="stat-fs">{{previousstats?.team1_name}}</p>
                                                <img *ngIf="previousstats?.team1_logo!=null" style="height: 25px;" [src]="logo+previousstats?.team1_logo">
                                                <img *ngIf="previousstats?.team1_logo==null" style="height: 25px;" src="assets/images/dash/community_logo.png">

                                                <div class="goal-area">
                                                    {{previousstats?.team1_goals}} - {{previousstats?.team2_goals}}
                                                </div>
                                                <img *ngIf="previousstats?.team2_logo!=null" style="height: 25px;" [src]="logo+previousstats?.team2_logo">
                                                <img *ngIf="previousstats?.team2_logo==null" style="height: 25px;" src="assets/images/dash/community_logo.png">
                                                <p class="stat-fs">{{previousstats?.team2_name}}</p>
                                            </div>
                                        </div>
                                        <img *ngIf="previousstats?.profile_pic!=null" class="previous-stat-image" [src]="logo+previousstats?.profile_pic">
                                        <img *ngIf="previousstats?.profile_pic==null" class="previous-stat-image" src="assets/images/dash/user_placeholder.png">

                                    </div>
                                    <div>
                                        <div class="stat-c" style="margin-top: 9%;">
                                            <span>{{"Goals"|translate}}</span>
                                            <span>{{previousstats?.goals}}</span>
                                        </div>
                                        <div class="stat-c">
                                            <span>{{"Assists"|translate}}</span>
                                            <span>{{previousstats?.assists}}</span>
                                        </div>
                                        <div class="stat-c">
                                            <span>Cards</span>
                                            <span>Y {{previousstats?.yellow_card}} R {{previousstats?.red_card}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 nopad">
                            <div class="main-card mr-left">
                                <div class="main-card-head">
                                    {{"Shoutout"|translate}}
                                </div>
                                <div *ngIf="!shoutoutsection">
                                    <div class="text-center">
                                        <img style="margin-top:3%" src="assets/images/dash/Shoutouts.png">
                                    </div>
                                    <div class="previous_no-content text-center">
                                        <p class="empty-content-text">{{"Get in touch with your community manager directly with our chat feature"|translate}}
                                        </p>
                                        <button (click)="joincommunity()" class="j_oin">{{"Join the community"|translate}} ></button>
                                    </div>
                                </div>

                                <div *ngIf="shoutoutsection" class="shoutout-card-head">
                                    <div *ngIf="noshoutouts">
                                        <div class="text-center">
                                            <img style="margin-top:3%" src="assets/images/dash/Shoutouts.png">
                                        </div>
                                        <div class="previous_no-content text-center">
                                            <p class="empty-content-text">
                                                You will see the shoutouts here!
                                            </p>
                                        </div>
                                    </div>
                                    <div *ngFor="let card of shoutoutdata" class="stat-info" style="padding:10px;">
                                        <div *ngIf="card?.user?.user_name!=null" class="shoutout-img" [ngStyle]="{ 'background-image': 'url('+logo+card?.user?.user_name+')' }">
                                        </div>
                                        <div *ngIf="card?.user?.user_name==null" class="shoutout-img" [ngStyle]="{ 'background-image': 'url(/assets/images/dash/user_placeholder.png)' }">
                                        </div>
                                        <div class="shoutout-i">
                                            <p class="p1">{{card?.user?.user_name}}</p>
                                            <p class="p2">{{card?.league_name}}</p>
                                            <p class="p3">{{card?.shoutout}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- photo gallary -->
                    <div *ngIf="biggallarydata?.image !=null && !nogallery" class="main-bold-title">
                        {{"Photo Gallery"|translate}}
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12">
                            <div *ngIf="biggallarydata?.image !=null" class="gallary-bigcard">
                                <div [ngStyle]="{ 'background-image': 'url('+logo+biggallarydata?.image+')' }" class="gallary-bigcard-img">
                                </div>
                                <div class="gallary-bigcard-content">
                                    <p class="t1">{{biggallarydata?.headline}} </p>
                                    <p class="t2">{{biggallarydata?.description}}</p>
                                    <p class="t2">{{biggallarydata?.created_at}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-8 ui-lg-8 ui-md-8 ui-sm-12 nopad">
                            <div *ngIf="!nogallery" class="ui-g">
                                <div *ngFor="let img of gallerydata" class="ui-g-6 ">
                                    <div class="gallary-small-card">
                                        <div [ngStyle]="{ 'background-image': 'url('+logo+img?.image+')' }" class="gallarysmallcard-img">
                                        </div>
                                        <div class="gallarysmallcard-content">
                                            <p class="gsmall-card-f">{{img?.headline}}</p>
                                            <p class="gsmall-card-f">{{img?.created_at}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- lower sponsers -->
        <div *ngIf="nosponser" class="sponsers">
            <div *ngFor="let sponser of sponsers" class="text-center">
                <div class="sponser-img" [ngStyle]="{ 'background-image': 'url('+logo+sponser?.image+')' }">
                </div>
                <p style="margin-top: 10px;">{{sponser?.name}}</p>
                <!-- <p class="sponser-d" style="margin-top: 10px;">{{sponser?.description}}</p> -->
            </div>
        </div>
    </div>
</div>


<!-- when not logged in -->
<div [class.backdrop]="displaydialog"></div>
<div class="m-dialog" *ngIf="displaydialog">
    <div class="gradient">
        <div class="ui-g">
            <div class="ui-g-6 ui-sm-12" style="padding: 15px;">
                <div class="main-pop-content">
                    <p class="f1">{{"Please complete the signup process to continue."|translate}}</p>
                    <p class="f2">{{"Tap 'SIGNUP' button below to complete the signup process, if already completed signup then just 'LOGIN'"|translate}}</p>
                    <button type="button" pButton class="custom-button ui-button-green" (click)="tosignup()" label="Signup"></button>
                </div>
            </div>
            <div class="ui-g-6 ui-sm-12 no-pad">
                <img class="main-pop-image" src="assets/images/emptys/notsigned.png">
            </div>
        </div>
    </div>
</div>
<!-- when community does not exist -->
<div [class.backdrop]="communitynotexist"></div>
<div class="m-dialog" *ngIf="communitynotexist">
    <div class="gradient">
        <div class="ui-g">
            <div class="ui-g-6 ui-sm-12" style="padding: 15px;">
                <div class="main-pop-content">
                    <p class="f1" style="margin-top:10%">{{"Opps! Community does not exist !"|translate}}</p>
                    <p class="f2" style="margin-top:10%">{{"Tap 'Find community' button below to find community that really exist"|translate}}</p>
                    <button type="button" style="margin-top:10%" pButton class="custom-button ui-button-green" (click)="tocommunnity()" label="Find community"></button>

                </div>
            </div>
            <div class="ui-g-6 ui-sm-12 no-pad">
                <img class="main-pop-image" src="assets/images/emptys/community_not_exist.png">
            </div>
        </div>
    </div>
</div>
<!-- when user logged in but is not approved -->
<div [class.backdrop]="requestsent"></div>
<div class="m-dialog" *ngIf="requestsent">
    <div class="gradient">
        <div class="ui-g">
            <div class="ui-g-6 ui-sm-12" style="padding: 15px;">
                <div class="main-pop-content">
                    <p class="f1">{{"Your Request for community has been already sent !"|translate}}</p>
                    <p class="f2">{{"Please wait until your request will accept by community manager."|translate}}
                    </p>
                    <button type="button" pButton class="custom-button ui-button-green" (click)="tocommunnity()" label="Done"></button>

                </div>
            </div>
            <div class="ui-g-6 ui-sm-12 no-pad">
                <img class="main-pop-image" src="assets/images/emptys/player-popup.png">
            </div>
        </div>
    </div>
</div>