/* css for the dialogs */

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 36;
}

.shoutout-head {
    display: flex;
}

.shoutout-head span {
    color: #333333;
    text-transform: none;
    font-size: 18px;
}

.f1 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    color: #171e22;
    font-family: "Roboto-Medium";
}

.f2 {
    color: #515252;
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
}

.custom-button {
    border-radius: 0;
    margin-top: 20px;
}

.backdrop {
    /* display: none; */
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 24;
}

.m-dialog {
    top: 13%;
    z-index: 40;
    width: 300px;
    background: #fff;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    padding: 0;
}

.no-pad {
    padding: 0;
}

.main-pop-image {
    height: 100%;
    width: 100%;
}

.main-pop-content {
    padding: 15px 15px 0 15px;
    border: 1px dashed #dbdbdb;
    height: 95%;
}

@media only screen and (min-width: 640px) {
    .m-dialog {
        top: 13%;
        z-index: 40;
        width: 650px;
        background: #fff;
        position: fixed;
        margin: auto;
        right: 0;
        left: 0;
        padding: 0;
    }
}

/* all new css for dash */

.dummy-i {
    background: url("/assets/images/default.png") no-repeat center;
    background-size: cover;
}

.wrap-dash {
    margin: 50px auto;
}

.no-shouts {
    text-align: center;
    margin-top: 20%;
    font-size: 18px;
    /* position: absolute; */
    color: #002b40;
}

.maindash-container {
    height: 166px;
    background: url("/assets/images/dash/banner.png") no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.news-feed {
    background: #0c2f4a;
    color: white;
}

.news-img {
    height: 270px;
    /* background: url("/assets/images/emptys/re1.jpeg") no-repeat center; */
    background-size: cover;
}

.news-wrap {
    margin: 10px 20px;
    width: 100%;
}

.all-news {
    width: 100%;
    margin: 10px 20px 30px 20px;
}

.news-wrap span {
    font-size: 30px;
    color: #8dc351;
    line-height: 60px;
    font-family: "DINPro-Medium";
}

.news-wrap h2 {
    font-size: 22px;
    text-decoration: underline;
    background: #0c2f4a;
    font-family: "DINPro-Medium";
    font-weight: 500;
    line-height: 43px;
}

.n1 {
    font-family: "DINPro-Medium";
    font-size: 29px;
    line-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.n2 {
    margin-top: 4%;
    font-size: 16px;
    font-family: "DINPro-Regular";
    opacity: 0.9;
    line-height: 27px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-left {
    margin-right: 40px;
}

.news-right {
    margin-left: 0;
}

.logo-news {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

.day-results {
    margin-top: 20px;
}

.flex {
    display: flex;
}

.small-news {
    border-right: 1px dashed;
}

.small-news p {
    font-size: 13px;
    font-family: "DINPro-Regular";
    display: -webkit-box;
    letter-spacing: 1px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: auto;
    margin-left: 20px;
    margin-right: 10px;
    line-height: 1.571;
}

.wrap-home-details {
    margin: 10px 0 30px 0;
}

.main-card {
    border: 1px solid #dbdbdb;
    margin-bottom: 15px;
}

.main-card-head {
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 22px;
    font-family: "DINPro-Medium";
    text-transform: capitalize;
}

.main-bold-title {
    padding: 30px 0 0 0;
    font-size: 22px;
    font-family: "DINPro-Medium";
    text-transform: capitalize;
}

.sponsers {
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    background: #eef1f1;
}

.main-card-content {
    /* padding: 10px; */
    border-bottom: 1px solid #dbdbdb;
}

.stat-c {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    font-size: 17px;
    font-family: "DINPro-Medium";
}

.stat-info {
    display: flex;
    padding: 15px;
}

.stat-img {
    /* background: url("/assets/images/footcir.png") no-repeat center; */
    background-size: cover;
    height: 120px;
    width: 120px;
    position: relative;
}

.stat-img-in {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 7px;
}

.shoutout-img {
    background: url("/assets/images/footcir.png") no-repeat center;
    background-size: cover;
    height: 35px;
    width: 50px;
}

.stat-i .p1 {
    font-size: 16px;
    margin: 5px 0;
    text-transform: capitalize;
    font-family: "DINPro-Medium";
}

.stat-i {
    margin-left: 15px;
}

.stat-i .p2 {
    font-size: 12px;
    margin: 5px 0;
    line-height: 19px;
    font-family: "DINPro-Medium";
    font-family: "Montserrat-Light";
}

.shoutout-i {
    margin-left: 15px;
}

.shoutout-i .p1 {
    font-size: 16px;
    margin: 3px 0;
}

.shoutout-i .p2 {
    font-size: 14px;
    margin: 3px 0;
    color: #00344a;
}

.shoutout-i .p3 {
    font-size: 13px;
    margin: 3px 0;
}

.capitalize {
    text-transform: capitalize;
}

.leagues-card {
    /* background: url("/assets/images/dash/leagues.png") no-repeat center; */
    background-size: cover;
    height: 100px;
    position: relative;
}

.topteam-card {
    background: url("/assets/images/dash/teams_bg.png") no-repeat center;
    background-size: cover;
    height: 110px;
    position: relative;
}

.previousstat-card {
    background: url("/assets/images/dash/previous_match.png") no-repeat center;
    background-size: cover;
    height: 80px;
    position: relative;
}

.topteam-card-s {
    top: 27px;
    left: 11px;
    position: absolute;
    width: 100%;
    display: flex;
}

.flex-it {
    display: flex;
    justify-content: space-around;
}

.previous-stat-image {
    height: 50px;
    position: absolute;
    top: 75%;
    left: 2%;
}

.stat-fs {
    text-transform: capitalize;
    font-size: 12px;
    max-width: 115px;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.leagues-card-s {
    color: white;
    top: 35px;
    left: 20px;
    position: absolute;
}

.shoutout-card-head {
    height: 226px;
    overflow: auto;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.nopad {
    padding: 0;
}

/* this is for collapse */

.content-row {
    /* margin-bottom: 10px; */
    border-bottom: 1px solid #dbdbdb;
}

.text-center {
    text-align: center;
}

.goal-r {
    background: #002b40;
    color: white;
    padding: 4px 0px 4px 0px;
    font-size: 12px;
}

.team-p p {
    font-size: 11px;
    word-break: break-all;
    text-transform: capitalize;
    margin-top: 4px;
    font-family: "DINPro-Bold";
}

.img-player-t {
    height: 18px;
    width: 18px;
    margin-top: 3px;
}

.des-p {
    text-align: center;
    font-size: 12px;
    color: #275376;
    font-family: "Montserrat-Light";
    margin-top: 15px;
    margin-left: 6%;
}

.drop-label {
    font-size: 13px;
    color: #828282;
    margin: 10px 0;
}

.ui-dropdown {
    width: 100% !important;
}

.drop-available {
    position: absolute;
    right: 7px;
    bottom: 13px;
    width: 42%;
}

.reset {
    background: #eef2f3;
    color: #333333;
    padding: 10px 10px;
    border-radius: 25px;
    margin-top: 16%;
    text-align: center;
    width: 46%;
    border: 1px solid #eef2f3;
    cursor: pointer;
}

.allcontent-head {
    font-size: 12px;
    color: #275376;
    padding: 0;
}

.align-p {
    margin-top: 7px;
}

.allcontent-c {
    padding-left: 0;
}

.font-b {
    font-size: 15px;
    font-family: "DINPro-Medium";
}

.show-buttons {
    cursor: pointer;
    color: white;
    font-size: 12px;
    background: #8bc955;
    padding: 8px 4px;
    text-align: center;
    margin-top: 10px;
}

.mini-img {
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

.mini-text {
    display: inline-block;
    margin-left: 10px;
    /* margin-top: 4px; */
    text-transform: capitalize;
    font-size: 14px;
    /* font-size: 15px; */
    font-family: "DINPro-Medium";
}

.mini-img2 {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.mini-text2 {
    display: inline-block;
    margin-left: 8px;
    text-transform: capitalize;
    font-size: 11px;
    font-family: "DINPro-Bold";
}

.previous-s-t {
    font-size: 14px;
    font-family: "DINPro-Regular";
    color: #646b77;
}

.table-th {
    padding: 15px;
    font-family: "Montserrat-Regular";
    text-transform: capitalize;
    font-weight: 500;
}

.table-result {
    background: #edf1f1;
}

.table-font {
    font-size: 11px;
    text-transform: capitalize;
    font-family: "DINPro-Medium";
}

/* for gallery */

.gallary-bigcard-img {
    height: 265px;
    background-size: cover;
    background-position: top center;
}

.gallary-bigcard-content {
    background: #003d5e;
    color: white;
    padding: 10px;
}

.gallary-bigcard-content .t1 {
    color: white;
    margin: 5px 0 10px 0;
    font-size: 16px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "DINPro-Medium";
}

.gsmall-card-f {
    font-size: 12px;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
    color: #616a7a;
}

.gallary-bigcard-content .t2 {
    color: white;
    margin: 5px 0;
    font-size: 13px;
    letter-spacing: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: "Roboto-Light";
    overflow: hidden;
    font-family: "DINPro-Regular";
}

.gallarysmallcard-img {
    height: 120px;
    background-size: cover;
    background-position: top center;
}

.gallarysmallcard-content {
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: 55px;
}

/* rating css */

.rating-card-head {
    height: 192px;
    background: url(/assets/images/dash/next_match.png) no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.rating-card-head2 {
    height: 192px;
    background: url(/assets/images/dash/result_previous_match.png) no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    display: flex;
}

.logo-img-wrap {
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 50%;
}

.rating-card-content {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 200px;
    overflow: auto;
}

.color-white {
    color: white;
    font-size: 11px;
    font-weight: 600;
    text-transform: capitalize;
}

.rate-head-content {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

.badge-rate {
    color: white;
    margin-top: 14px;
    position: absolute;
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 6px 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

.rate-flex {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.result-scroll-div {
    height: 160px;
    overflow: auto;
}

.goal-area {
    padding: 4px 10px;
    height: 15px;
    background: #002b40;
    color: white;
    font-size: 12px;
    text-align: center;
}

.base-row {
    width: 100%;
    margin: auto;
}

.league-detail {
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 44px 0;
}

.fixture-head-content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.league-detail1 {
    display: flex;
    justify-content: space-around;
}

.fixture-badge {
    text-transform: capitalize;
    position: absolute;
    top: 15px;
    font-size: 13px;
    right: 6px;
    background: #2c244f;
    color: white;
    padding: 12px 14px;
}

.date-data {
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    font-size: 14px;
    font-family: "DINPro-Regular";
    color: #76766f;
    font-family: "DINPro-Medium";
}

.fixh:hover {
    background: #578026;
    color: white;
}

.fixh-r {
    background: #76766f;
    color: white;
    padding: 4px 0px 4px 0px;
    font-size: 16px;
}

.fixh:hover .fixh-r {
    background: white;
    color: #578026;
}

.arrow-ahead {
    cursor: pointer;
    color: white;
    font-size: 8px;
    padding: 4px 4px;
    text-align: center;
    margin-top: 9px;
}

.sponser-d {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.sponser-img {
    height: 50px;
    width: 80px;
    background-size: cover;
    margin: auto;
}

.empty-table {
    text-align: center;
    padding: 0;
}

.empty-head-text {
    font-size: 24px;
    margin: 5px 0;
    font-family: "DINPro-Medium";
}

.empty-content-text {
    font-size: 18px;
    margin: 5px 0;
    height: 63px;
    font-family: "DINPro-Regular";
}

.image-responsive {
    width: 100%;
    height: auto;
}

.mr-right {
    margin-right: 0;
}

.mr-left {
    margin-left: 0;
}

.sub-head-text {
    font-size: 16px;
}

/* this is for collapse */

.wrap-trans {
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.trans-card {
    background: rgba(0, 25, 42, 0.7);
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: all 200ms ease-in;
    transform: scale(0.9);
    font-size: 14px;
}

.trans-card:hover {
    transition: all 200ms ease-in;
    transform: scale(1);
}

.mobile {
    display: block;
}

.lil-img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 24%;
}

.res-r {
    margin-top: 5px;
    text-align: center;
    display: block;
}

.web {
    display: none;
}

.fixt-detail {
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 0;
}

.table-result .table-th {
    padding: 12px;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "DINPro-Medium";
}

.previous_no-content {
    padding: 20px 20px 40px 20px;
}

.j_oin {
    letter-spacing: 1px;
    background: #8dc351;
    font-family: "DINPro-Medium";
    border-radius: 19px;
    color: white;
    outline: none;
    padding: 8px 16px 10px 16px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    margin-top: 30px;
}

.status-maintain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.status-badge {
    padding: 10px 40px;
    cursor: pointer;
}

.bigbanner {
    background: #0c2f4a;
    color: white;
    padding: 20px 10px;
}

.big-banner-h2 {
    font-family: "DINPro-Medium";
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 10px;
}

.big-banner-p {
    font-size: 15px;
    margin: 0;
    font-family: "DINPro-Medium";
}

.p-c {
    font-size: 15px;
    font-family: "DINPro-Regular";
    margin-left: 10px;
    line-height: 23px;
}

.big-banner-content {
    margin: 0 5%;
}

.border_g {
    border: 1px solid #8dc351;
    width: 100px;
}

.no-fix-margin {
    margin-top: 0
}

.dash-wrapper {
    margin-left: 0;
}

@media only screen and (min-width: 640px) {
    .dash-wrapper {
        margin-left: 15px;
    }
    .no-fix-margin {
        margin-top: 21%
    }
    .bigbanner {
        background: #0c2f4a;
        color: white;
        padding: 30px 60px;
    }
    .big-banner-h2 {
        font-family: "DINPro-Medium";
        text-transform: uppercase;
        font-size: 27px;
        font-weight: 500;
    }
    .big-banner-p {
        font-size: 18px;
        margin: 2% 16%;
        font-family: "DINPro-Medium";
    }
    .p-c {
        font-size: 18px;
        font-family: "DINPro-Regular";
        margin-left: 10px;
        line-height: 23px;
    }
    .border_g {
        border: 1px solid #8dc351;
        width: 160px;
    }
    .big-banner-content {
        margin: 0 5%;
    }
    .mini-img2 {
        height: 18px;
        width: 18px;
        border-radius: 50%;
    }
    .fixt-detail {
        color: white;
        text-align: center;
        font-size: 12px;
        padding: 14px 0;
    }
    .drop-available {
        position: absolute;
        right: 7px;
        bottom: 13px;
        width: 20%;
    }
    .fixture-head-content {
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .fixture-badge {
        text-transform: capitalize;
        position: absolute;
        top: 15px;
        font-size: 14px;
        right: 6px;
        background: #00253F;
        color: white;
        padding: 10px 43px;
    }
    .web {
        display: block;
    }
    .allcontent-c {
        padding-left: 28px;
    }
    .rating-card-head {
        height: 235px;
        background: url(/assets/images/dash/next_match.png) no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
    .table-font {
        font-size: 12px;
        text-transform: capitalize;
        font-family: "DINPro-Medium";
    }
    .rating-card-head2 {
        height: 235px;
        background: url(/assets/images/dash/result_previous_match.png) no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
        display: flex;
    }
    .news-wrap {
        margin: 10px 80px;
        width: 100%;
    }
    .base-row {
        width: 80%;
        margin: auto;
    }
    .color-white {
        color: white;
        font-size: 12px;
        font-weight: 600;
        text-transform: capitalize;
    }
    .logo-img-wrap {
        height: 60px;
        width: 60px;
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
        border-radius: 50%;
    }
    .lil-img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-top: 24%;
    }
    .all-news {
        width: 100%;
        margin: 10px 80px 30px 80px;
    }
    .news-right {
        margin-left: 30px;
    }
    .wrap-home-details {
        margin: 10px 60px 30px 60px;
    }
    .empty-table {
        text-align: center;
        padding: 0px;
    }
    .team-p p {
        font-size: 13px;
    }
    .des-p {
        text-align: center;
        font-size: 12px;
        color: #275376;
        font-family: "Montserrat-Light";
        margin-top: 15px;
        margin-left: 6%;
    }
    .goal-r {
        background: #103860;
        color: white;
        padding: 4px 0px 4px 0px;
        font-size: 14px;
    }
    .mr-right {
        margin-right: 10px;
    }
    .mr-left {
        margin-left: 10px;
    }
    .wrap-trans {
        width: 65%;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .show-buttons {
        cursor: pointer;
        color: white;
        font-size: 10px;
        background: #8bc955;
        padding: 8px 4px;
        text-align: center;
        margin-top: 0px;
    }
    .trans-card {
        background: rgba(0, 25, 42, 0.7);
        color: white;
        padding: 15px;
        cursor: pointer;
        transition: all 200ms ease-in;
        transform: scale(0.9);
        font-size: 16px;
    }
    .news-wrap h2 {
        font-size: 25px;
        text-decoration: underline;
        background: #0c2f4a;
        font-family: "DINPro-Medium";
        font-weight: 500;
        line-height: 43px;
    }
    .league-detail {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .mobile {
        display: none;
    }
    .img-player-t {
        height: 23px;
        width: 23px;
        margin-top: 3px;
    }
    .res-r {
        margin-top: 5px;
        display: flex;
    }
    .allcontent-head {
        font-size: 12px;
        color: #275376;
        padding: 10px 0 10px 28px;
    }
    .mini-text2 {
        display: inline-block;
        margin-left: 8px;
        text-transform: capitalize;
        font-size: 12px;
        font-family: "DINPro-Bold";
    }
    .previous_no-content {
        padding: 20px 15px 30px 15px;
    }
}

@media only screen and (min-width: 1400px) {
    .previous_no-content {
        padding: 20px 30px 40px 30px;
    }
    .mini-text2 {
        display: inline-block;
        margin-left: 8px;
        text-transform: capitalize;
        font-size: 14px;
        font-family: "DINPro-Bold";
    }
    .fixt-detail {
        color: white;
        text-align: center;
        font-size: 14px;
        padding: 14px 0;
    }
    .drop-available {
        position: absolute;
        right: 7px;
        bottom: 13px;
        width: 20%;
    }
    .fixture-head-content {
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .fixture-badge {
        text-transform: capitalize;
        position: absolute;
        top: 15px;
        font-size: 16px;
        right: 6px;
        background: #2c244f;
        color: white;
        padding: 12px 43px;
    }
    .web {
        display: block;
    }
    .allcontent-c {
        padding-left: 28px;
    }
    .rating-card-head {
        height: 235px;
        background: url(/assets/images/dash/next_match.png) no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
    }
    .table-font {
        font-size: 16px;
        text-transform: capitalize;
        font-family: "DINPro-Medium";
    }
    .rating-card-head2 {
        height: 235px;
        background: url(/assets/images/dash/result_previous_match.png) no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
        display: flex;
    }
    .news-wrap {
        margin: 10px 80px;
        width: 100%;
    }
    .base-row {
        width: 80%;
        margin: auto;
    }
    .color-white {
        color: white;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
    }
    .logo-img-wrap {
        height: 60px;
        width: 60px;
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
        border-radius: 50%;
    }
    .lil-img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-top: 24%;
    }
    .all-news {
        width: 100%;
        margin: 10px 80px 30px 80px;
    }
    .news-right {
        margin-left: 30px;
    }
    .wrap-home-details {
        margin: 10px 60px 30px 60px;
    }
    .empty-table {
        text-align: center;
        padding: 0;
    }
    .team-p p {
        font-size: 15px;
    }
    .des-p {
        text-align: center;
        font-size: 13px;
        color: #275376;
        font-family: "Montserrat-Light";
        margin-top: 15px;
        margin-left: 6%;
    }
    .goal-r {
        background: #002b40;
        color: white;
        padding: 4px 0px 4px 0px;
        font-size: 16px;
    }
    .mr-right {
        margin-right: 10px;
    }
    .mr-left {
        margin-left: 10px;
    }
    .wrap-trans {
        width: 65%;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .show-buttons {
        cursor: pointer;
        color: white;
        font-size: 10px;
        background: #8bc955;
        padding: 8px 4px;
        text-align: center;
        margin-top: 0px;
    }
    .trans-card {
        background: rgba(0, 25, 42, 0.7);
        color: white;
        padding: 15px;
        cursor: pointer;
        transition: all 200ms ease-in;
        transform: scale(0.9);
        font-size: 18px;
    }
    .news-wrap h2 {
        font-size: 30px;
        text-decoration: underline;
        background: #0c2f4a;
        font-family: "DINPro-Medium";
        font-weight: 500;
        line-height: 43px;
    }
    .league-detail {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .mobile {
        display: none;
    }
    .img-player-t {
        height: 23px;
        width: 23px;
        margin-top: 3px;
    }
    .res-r {
        margin-top: 5px;
        display: flex;
    }
    .allcontent-head {
        font-size: 12px;
        color: #275376;
        padding: 10px 0 10px 28px;
    }
    .mini-img2 {
        height: 22px;
        width: 22px;
        border-radius: 50%;
    }
}