.login {
    width: 100%;
    background: #8ec63f;
    height: 50px;
    text-transform: none;
    font-size: 16px;
    position: relative;
}

.backdrop {
    /* display: none; */
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 24;
}

.m-dialog {
    top: 13%;
    z-index: 40;
    width: 300px;
    background: #fff;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    padding: 0;
}

.no-pad {
    padding: 0;
}

.main-pop-image {
    height: 100%;
    width: 100%;
}

.main-pop-content {
    padding: 15px 15px 0 15px;
    border: 1px dashed #dbdbdb;
    height: 95%;
}

.f1 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    color: #171E22;
    font-family: 'Roboto-Medium';
}

.f2 {
    color: #515252;
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.success-dialog {
    top: 13%;
    z-index: 40;
    width: 300px;
    background: #fff;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    padding: 20px;
}

.responsive-ig {
    background: url("/assets/images/dash/logimg.png") no-repeat center;
    height: 150px;
    background-size: cover;
}

.dashed {
    margin: 2% 10%;
}

.f-com {
    margin-top: 9px;
    font-size: 16px;
    text-transform: capitalize;
}

.shoutout-midcontent {
    margin: 15px;
    height: 170px;
    overflow: auto;
}

.community-card {
    box-shadow: 0 1px 18px rgba(0, 0, 0, .2);
    padding: 5px;
    margin-bottom: 15px;
}

.c-c {
    padding: 20px;
    text-align: center;
}

.community-l {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

@media only screen and (min-width: 640px) {
    .m-dialog {
        top: 13%;
        z-index: 40;
        width: 650px;
        background: #fff;
        position: fixed;
        margin: auto;
        right: 0;
        left: 0;
        padding: 0;
    }
    .success-dialog {
        top: 13%;
        z-index: 40;
        width: 500px;
        background: #fff;
        position: fixed;
        margin: auto;
        right: 0;
        left: 0;
        padding: 0;
    }
}

.backhome {
    padding: 10px;
    width: 127px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-top: 7%;
    background: #8EC63F;
    color: white;
    cursor: pointer;
    font-family: Montserrat-Light;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #8EC63F;
}