<loader *ngIf="loader"></loader>
<div class="registration_container">
    <div class="ui-g">
        <div class="ui-g-12">
            <p style="margin-bottom: 16px" class="signup-heading">
                {{"Welcome back" | translate}},
            </p>
            <p style="font-size: 16px;margin-bottom: 32px;color: #8b8e95" class="signup-heading">
                {{"Login to continue" | translate}}
            </p>
        </div>

        <div style="margin-bottom: 16px" class="ui-g-12">
            <button routerLink="email-login" class="login" pButton label="{{'Email address' | translate}}">
                <img item-right style="position: absolute;left: 24px;width: 22px;top: 18px" src="assets/images/loginsignup/email.png" />
                <img item-right style="position: absolute;right: 24px;width: 12px;top: 18px" src="assets/images/loginsignup/arrow.png" />
            </button>
            <p style="font-size: 16px;color: #8b8e95;text-align: center!important;margin: 8px 0px">{{"Or" | translate}}</p>
            <button pButton class="login" routerLink="mobile-login" label="{{'Mobile number' | translate}}">
                <img item-right style="position: absolute;left: 24px;width: 16px;" src="assets/images/loginsignup/mobile.png" />
                <img item-right style="position: absolute;right: 24px;width: 12px;top: 18px;" src="assets/images/loginsignup/arrow.png" />
            </button>
        </div>

        <div class="ui-g-12">
            <p style="text-align: center;font-size: 16px;color: #8b8e95;">
                {{"Or login with :" | translate}}
            </p>
        </div>

        <div class="ui-g-12" style="margin-top: 16px;text-align: center">
            <img style="width: 70px;" (click)="fbLogin()" src="assets/images/loginsignup/facebook.png" />
            <img style="width: 70px;" (click)="googleLogin()" src="assets/images/loginsignup/google.png" />
        </div>
        <p *ngIf="passerr" style="margin: auto;;color: red;">User does not exist !</p>
        <div class="ui-g-12" style="margin-top: 16px;text-align: center;font-size: 14px;color: #8b8e95;cursor: pointer;">
            <p style="display: inline;" routerLink="../../signup">{{'New to Pelotea?' | translate}}&nbsp;
                <span style="font-weight:bold;color: #8ec63f">{{'Sign up' | translate}}</span>
            </p>
        </div>
    </div>
</div>


<div [class.backdrop]="requestsent"></div>
<div class="m-dialog" *ngIf="requestsent">
    <div class="gradient">
        <div class="ui-g">
            <div class="ui-g-6 ui-sm-12" style="padding: 15px;">
                <div class="main-pop-content">
                    <p class="f1">Your Request for community has been already sent !</p>
                    <p class="f2">Please wait until your request will accept by community manager</p>
                    <!-- <button type="button" pButton class="custom-button ui-button-green" (click)="tocommunnity()" label="Join Pelotea"></button> -->
                    <button type="button" pButton class="custom-button ui-button-green" (click)="tocommunnity()" label="Home"></button>
                </div>
            </div>
            <div class="ui-g-6 ui-sm-12 no-pad">
                <img class="main-pop-image" src="assets/images/emptys/player-popup.png">
            </div>
        </div>
    </div>
</div>


<!-- requets sent code -->
<div [class.backdrop]="selectcommunity"></div>
<!-- requets sent code -->
<div *ngIf="selectcommunity" class="success-dialog">
    <div class="responsive-ig">
        <div class="c-c">
            <p class="f1" style="color:white; font-family: 'Montserrat-Light';">Your community</p>
            <p class="f2" style="color:white; font-family: 'Montserrat-Light';">Select a community in which you want to login, You can always switch later</p>
        </div>
    </div>
    <div class="shoutout-midcontent" id="style-2">
        <div *ngIf="notpart" style="text-align: center;">
            <p style="font-size: 18px;margin-top: 31px;">
                You are not a part of any community. your request for community is still pending!
            </p>
            <button class="backhome" (click)="cleardata()">Home</button>
        </div>

        <div *ngIf="!notpart" class="dashed">
            <div *ngFor="let data of usercommunities" class="community-card">
                <div class="ui-g" style="cursor:pointer" (click)="toselectedcommunity(data?.community_id)">
                    <div class="ui-g-2">
                        <img class="community-l" [src]="logo+data?.community_logo">
                    </div>
                    <div class="ui-g-8">
                        <p class="f-com">{{data?.community_name}}</p>
                    </div>
                    <div class="ui-g-2">
                        <img style="margin-top: 12px;" src="assets/images/dash/right_arrow.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>