<!-- <ion-header>
  <ion-navbar>
    <button style="float:right;background: transparent;color:#113861;font-family: roboto-regular;font-size: 18px;" ion-button
      (click)="cancel()">
      {{'Cancel' | translate}}
    </button>
  </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-navbar no-padding>
        <div padding class="header_div" style="justify-content: flex-end;">
            <span style="font-family: roboto-regular;font-size: 16px;color: #113861;" (click)="cancel()">{{'Cancel' | translate}}</span>
        </div>
    </ion-navbar>
</ion-header>


<ion-content class="body">
    <div class="spinn">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
    </div>
    <div #layout style="background:white;margin: 10px;height:430px;border:1px solid #d7d7d7">
        <div>
            <ion-card style="margin:0px;width:100%;position:relative">
                <img [src]="fields?.cover_pic?fields?.cover_pic:'assets/images/ground/cover.jpg'" />
            </ion-card>
        </div>

        <div text-center class="logo_div" style="width:95%">
            <img class="profile_logo" [src]="fields?.profile_pic?fields?.profile_pic:'assets/images/ground/ground_logo.png'" style=" border: 2px solid #d7d7d7;" />
        </div>
        <ion-grid text-center class="profile_info">
            <ion-row>
                <ion-col no-padding>
                    <ion-title style="padding-bottom:13px">{{fields?.name}}</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col no-padding style="text-transform: uppercase;">
                    <p>{{fields?.city}} | {{fields?.country}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="followers">
                <ion-col style="padding:8px 0px">
                    <span>{{fields?.follower}} {{'Followers' | translate}} | {{fields?.no_of_courts}} {{"Courts" | translate}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid no-padding>
            <ion-row class="footer_share">
                <ion-col col-12 text-center>
                    <img src="assets/images/pelo.png" />
                    <p>pelotea.com</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-grid style="text-align:center;border: 1px solid #d7d7d7;width: 94%;margin-bottom:30px">
        <ion-row>
            <ion-col col-12 style="font-size: 16px;font-family: roboto-regular; color:#113861;text-transform: capitalize;margin-bottom:10px">{{'Share via' | translate}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 (click)="shareviafb()">
                <ion-icon ios="logo-facebook" md="logo-facebook" style="color:#3B5998;font-size:3em"></ion-icon>
            </ion-col>

            <ion-col col-6 (click)="shareviawhatsapp()">
                <ion-icon ios="logo-whatsapp" md="logo-whatsapp" style="color:#34af23;font-size:3em"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>