page-fieldprofile-modal {
    .logo_div {
        position: absolute;
        width: 100%;
        top: 110px;
    }
    .profile_info {
        padding: 52px 16px 54px 16px
    }
    .profile_info p {
        margin: 0px;
        color: #666666;
        font-family: roboto-regular;
        font-size: 13px;
        padding-bottom: 13px
    }
    .followers {
        margin: auto;
        border-bottom: 1px solid #d7d7d7;
        border-top: 1px solid #d7d7d7;
    }
    .followers span {
        color: #464646;
        font-family: roboto-medium;
        font-size: 13px;
    }
    ion-card img {
        height: 152px;
    }
    .button-inner {
        font-family: roboto-bold;
        font-size: 12px;
    }
    .footer_share {
        height: 70px;
        background: #00365D;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .footer_share img {
        width: 50px;
        height: 40px;
    }
    .footer_share p {
        color: white;
        margin: 0px;
    }
}