<loader *ngIf='loader'></loader>
<div>
    <img class="background" src="assets/images/tournament-profile-cover/default.png">
    <div class="player_profil">
        <div class="section">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12">
                    <h2>{{tournament_name}}</h2>
                    <hr>
                </div>
            </div>


            <form [formGroup]="createTournamentForm2">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-8 ui-sm-12">

                        <div class="ui-g">
                            <div style="    padding-left: 0px;" class="ui-g-6 ui-sm-12">
                                <label> {{'Nivel del torneo' | translate}}
                                    <span class="star">*</span>
                                </label>
                                <br>
                                <br>
                                <p-dropdown [options]="tournamentDivision" [style]="{width : '100%' }" class="dropdown" [formControl]="createTournamentForm2.controls['divisionName']"></p-dropdown>
                                <div *ngIf="divisionValidation">
                                    <p style="color: red">{{'Division required' | translate}}</p>
                                </div>
                            </div>

                            <div class="ui-g-6 ui-sm-12 multiselect">
                                <label>{{'Método de pago' | translate}}</label>
                                <br>
                                <br>
                                <p-multiSelect [options]="paymentMethodLebals" [formControl]="createTournamentForm2.controls['payment']" placeholder="Métodos de pago"></p-multiSelect>
                            </div>
                        </div>
                        <br>
                        <div class="ui-g">
                            <div style="    padding-left: 0px;" class="ui-g-6  ">
                                <label> {{'Número de equipos' | translate}}
                                    <span class="star">*</span>
                                </label>
                                <br>
                                <br>
                                <p-inputMask [autoClear]="false" slotChar="" mask="99" placeholder="{{'Número de equipos' | translate}}" [formControl]="createTournamentForm2.controls['noOfTeam']">
                                </p-inputMask>
                                <div *ngIf="!createTournamentForm2.controls['noOfTeam'].valid && createTournamentForm2.controls['noOfTeam'].dirty ">
                                    <p style="color: red">{{'Ingresar el número de equipos' | translate}}</p>
                                </div>
                            </div>
                            <div class="ui-g-6 ">
                                <label> {{'Premio al campeón' | translate}}($)
                                    <span class="star">*</span>
                                </label>
                                <br>
                                <br>
                                <p-inputMask [autoClear]="false" slotChar="" mask="9999999999" placeholder="{{'Premio al campeón' | translate}}" [formControl]="createTournamentForm2.controls['prize']">
                                </p-inputMask>
                                <div *ngIf="!createTournamentForm2.controls['prize'].valid && createTournamentForm2.controls['prize'].dirty ">
                                    <p style="color: red">{{'Premio debe ser en número' | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div style="padding:5px 0px" class="ui-g-3 ui-sm-12">
                                <label> {{'Costo por equipo' | translate}}($)
                                    <span class="star">*</span>
                                </label>
                                <br>
                                <br>
                                <p-inputMask [autoClear]="false" slotChar="" mask="9999999999" (keyup)="checkCost($event)" placeholder="Cuota" [formControl]="createTournamentForm2.controls['regFee']">
                                </p-inputMask>
                                <div *ngIf="!createTournamentForm2.controls['regFee'].valid && createTournamentForm2.controls['regFee'].dirty ">
                                    <p style="color: red">{{'Reg. tasa debe ser el número' | translate}}</p>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-sm-12">
                                <label> {{'Cuotas mínimas' | translate}}($)
                                </label>
                                <br>
                                <br>
                                <p-inputMask [autoClear]="false" slotChar="" mask="9999999999" (keyup)="checkCost($event)" [formControl]="createTournamentForm2.controls['min_fee']">
                                </p-inputMask>

                                <div *ngIf="checkcost">
                                    <p style="color: red">{{'Minimum fee should be less than Costo por equipo ' | translate}}</p>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-sm-12">
                                <label> {{'Descuento' | translate}}(%)
                                </label>
                                <br>
                                <br>
                                <p-inputMask [autoClear]="false" slotChar="" mask="99" [formControl]="createTournamentForm2.controls['discount']">
                                </p-inputMask>

                            </div>
                            <div class="ui-g-3 ui-sm-12">
                                <label> {{'Vat' | translate}}(%)
                                    </label>
                                <br>
                                <br>
                                <p-inputMask [autoClear]="false" slotChar="" mask="99" [formControl]="createTournamentForm2.controls['vat']">
                                </p-inputMask>

                            </div>
                        </div>
                    </div>
                    <div class="ui-g-4 ui-sm-12">
                        <div class="ui-g-12">
                            <label> {{'Reglas' | translate}}</label>
                            <br>
                            <br>
                            <div class="ui-g-6" style="padding: 0;">
                                <button type="button" class="choose_file" style="cursor:pointer;">
                                    <span style="cursor: pointer; color: white;position: relative;font-size: 1.1em;">{{'SUBIR' | translate}}</span>
                                    <input type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" (change)="rulesPdfUploadEvent($event)"
                                        [disabled]="disableRulePdf" />
                                </button>
                            </div>
                            <div class="ui-g-4 textLabel">
                                <label>{{uploadFile}}</label>
                            </div>
                            <div class="ui-g-2">
                                <img src="assets/images/del.jpg" class="delImg" (click)="deletePdfFile()" />
                            </div>
                        </div>

                        <div class="ui-g-12">
                            <br>
                            <label>{{'Estructura de puntaje' | translate}} </label>
                            <br>
                            <br>
                            <p-dropdown [options]="result_type" [style]="{width : '100%' }" class="dropdown" [formControl]="createTournamentForm2.controls['result_type']"></p-dropdown>
                        </div>
                        <div class="ui-g-12">
                            <Span style="color: darkcyan">
                                {{'Normal- PG=3, PP=0 y PE=1' | translate}}
                                <br> {{'Especial-PG=3 en tiempo regular, PG=2 en penales, PP=0 en tiempo regular, PP=1 en penales, PE=1' | translate}}
                            </Span>
                        </div>
                    </div>
                </div>

                <div class="ui-g">
                    <div class="ui-g-12 ">
                        <p class="para">{{'Portada y logo del torneo' | translate}}</p>
                    </div>
                </div>
                <div class="setdivbackground">
                    <div class="ui-g ">
                        <div class="ui-g-2 ui-sm-6 spanpos">
                            <span>{{'Imagen de la portada' | translate}}</span>
                        </div>
                        <div class="ui-g-2 ui-sm-6">
                            <button type="button" class="choose_file" style="cursor:pointer">
                                <span style="cursor: pointer; color: white;position: relative;font-size: 1.1em;">{{'SUBIR' | translate}}</span>
                                <input type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" (change)="fileChangeListener($event,'profile',input1)"
                                    #input1 />
                            </button>
                        </div>
                        <div class="ui-g-2 ui-sm-6">
                            <div *ngIf="file_srcs_profile!=''">
                                <img src='{{ file_srcs_profile }}' alt="" class="img1" />
                            </div>
                        </div>
                        <div class="ui-g-1 ui-sm-1">
                            <div>
                                <i class="fa fa-4x fa-chevron-left icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="ui-g-5 ui-sm-5">
                            <p class="paraText">
                                {{'Sube una imagen de portada. Si no subes ahora, no te preocupes, lo podrás hacer más tarde.' | translate}}
                            </p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6 spanpos">
                            <span>{{'Imagen del logo' | translate}}</span>
                        </div>
                        <div class="ui-g-2 ui-sm-6">
                            <button type="button" class="choose_file" style="cursor:pointer">
                                <span style="cursor: pointer; color: white;position: relative;font-size: 1.1em;">{{'SUBIR' | translate}}</span>
                                <input type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" (change)="fileChangeListener($event,'logo',input2)"
                                    #input2 />
                            </button>
                        </div>

                        <div class="ui-g-2 ui-sm-6">
                            <div *ngIf="file_srcs_logo!=''">
                                <img src='{{ file_srcs_logo}}' alt="" class="img2" />
                            </div>
                        </div>
                        <div class="ui-g-1 ui-sm-1">
                            <i class="fa fa-4x fa-chevron-left icon" aria-hidden="true"></i>
                        </div>
                        <div class="ui-g-5 ui-sm-5">
                            <p class="paraText">
                                {{"Sube el logo del torneo. Si no subes ahora, no te preocupes, lo podrás hacer más tarde." | translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p class="para">{{'Logo de la organización que realiza el torneo' | translate}}</p>
                    </div>
                </div>
                <div class="ui-g setdivbackground">
                    <div class="ui-g-3 ui-sm-12">
                        <label> {{'Nombre de la organización' | translate}}</label>
                        <br>
                        <br>
                        <input type="text" pInputText placeholder="{{'Nombre de la organización' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="organization_name" />
                    </div>
                    <div class="ui-g-2 ui-sm-6 spanpos">
                        <br>
                        <br>
                        <span>{{'Imagen del logo' | translate}}</span>
                    </div>
                    <div class="ui-g-2 ui-sm-6">
                        <br>
                        <br>
                        <button type="button" class="choose_file" style="cursor:pointer;margin-top:1%">
                            <span style="cursor: pointer; color: white;position: relative;font-size: 1.1em;">{{'SUBIR' | translate}}</span>
                            <input type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" (change)="organizationImageUpload($event,'organization',input3)"
                                #input3/>
                        </button>
                    </div>
                    <div class="ui-g-2 ui-sm-6">
                        <div *ngIf="file_srcs_organization!=''">
                            <br>
                            <br>
                            <img src='{{ file_srcs_organization }}' alt="" class="img" />
                        </div>
                    </div>
                    <div class="ui-g-1 ui-sm-1">
                        <br>
                        <br>
                        <div>
                            <i class="fa fa-4x fa-chevron-left icon" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="ui-g-2 ui-sm-5">
                        <br>
                        <br>
                        <p class="paraText">
                            {{'Sube el logo de la organización que realiza el torneo. Si no tienes el logo no te preocupes, lo podrás hacer más adelante' | translate}}
                        </p>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-12 para">
                        <span>{{'AUSPICIANTE' | translate}}</span>&nbsp;&nbsp;&nbsp;
                        <span>({{'Al añadir más de un auspiciante,enumerar por prioridad del 1-5' | translate}})</span>
                    </div>
                </div>
                <div class="ui-g setdivbackground ui-fluid" style="padding-left:2%">
                    <div class="ui-g-12" *ngFor="let add of sponser; let i=index ">
                        <div class="ui-g-3 ui-sm-12">
                            <label> {{'Nombre del auspiciante' | translate}}</label>
                            <br>
                            <br>
                            <input type="text" pInputText placeholder="{{'Nombre del auspiciante' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="add.name" />
                        </div>
                        <div class="ui-g-2 ui-sm-6 spanpos">
                            <br>
                            <br>
                            <span>{{'Imagen del auspiciante' | translate}}</span>
                        </div>
                        <br>
                        <br>
                        <div class="ui-g-2 ui-sm-6">
                            <button type="button" class="choose_file" style="cursor:pointer;margin-top:1%">
                                <span style="cursor: pointer; color: white;position: relative;font-size: 1.1em;">{{'SUBIR' | translate}}</span>
                                <input type="file" name="img" value="upload" style="cursor:pointer;height: 48px;" (change)="sponserImageUpload($event,'sponser',input4,i)"
                                    #input4 />
                            </button>
                        </div>
                        <div class="ui-g-1 ui-sm-1">
                            <div>
                                <i class="fa fa-4x fa-chevron-left icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="ui-g-4 ui-sm-4">
                            <p class="paraText">
                                {{"Sube el logo de tu auspiciante. Si no tienes el logo no te preocupes, lo podrá hacer más adelante." | translate}}
                            </p>
                        </div>
                    </div>
                    <div class="ui-g-3">
                        <button type="button" class="addsponser" label="{{'AGREGAR AUSPICIANTE' | translate}}" pButton (click)="addSponserList()"></button>
                    </div>
                </div>

                <br>
                <br>
                <div class="ui-g footerBttn">
                    <div class="ui-g-6 ui-sm-12"></div>
                    <div class="ui-g-6 ui-sm-12">
                        <button pButton type="button" label="{{'CREAR TORNEO' | translate}}" class="greenbtn" (click)="createTournament()"></button>
                    </div>
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>


    <!--************** Image Cropper Popup*********************-->
    <div class="tournament_profil">
        <div class="ui-g">
            <p-dialog [(visible)]="display" modal="modal" showEffect="fade">
                <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                    <div class="ui-g-12 ui-md-12 ui-lg-12" style="padding: 15px 30px;">
                        <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                    </div>
                </div>
                <div class="ui-g" style="padding: 30px;padding-right:0;">
                    <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="circleImg">
                        <img-cropper #cropper [image]="data2" [settings]="cropperSettings2"></img-cropper>
                    </div>
                    <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="squareImg">
                        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                    </div>

                    <div class="ui-g-5 ui-sm-5 ui-md-5 ui-lg-5 text-center">
                        <label>{{'Preview' | translate}}</label>
                        <span class="result rounded" *ngIf="circleImg">
                            <img [src]="data2.image" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight">
                        </span>
                        <span class="square" *ngIf="squareImg">
                            <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                        </span>

                        <br/>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-6  ui-md-6 ui-lg-6"></div>
                    <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
                        <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="display=false;backdrop=false;"></button>
                        <button pButton type="button" class="ui-button-green save" label="{{'GUARDAR' | translate}}" (click)="updateCropImage()"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
    </div>
    <!--************** Image Cropper Popup*********************-->

    <div [class.backdrop]="backdrop"></div>