h2 {
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #828282;
}

.background {
    width: 100%;
    height: 15em;
}

.para {
    border-bottom: 1px solid #828282;
    padding-bottom: 1%;
    margin-bottom: 2%;
    padding-top: 1%;
    font-weight: normal;
    padding-right: 30px;
    font-size: 1.2em;
}

.paraText {
    text-align: justify;
    padding-right: 10%;
}

.delImg {
    width: 60%;
    border-radius: 50%;
    margin-left: 10%;
    cursor: pointer;
}

.textLabel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    width: 150px;
    padding: 7px 6px 7px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: #00253F;
    height: 35px;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.star {
    color: red;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.img {
    height: 45px;
    margin-left: 35%;
    padding-left: 10% !important;
    overflow: hidden;
    width: 75px;
}

.img1 {
    height: 40px;
    margin-left: 35%;
    padding-left: 10% !important;
    overflow: hidden;
    width: 80px;
}

.img2 {
    height: 75px;
    margin-top: -20%;
    margin-left: 48% !important;
    overflow: hidden;
    width: 75px;
    border-radius: 50%;
}


/*******image cropper (praveen)********/

.image_cropper_heading {
    padding: 0;
    font-family: ChaletComprime CologneEighty;
    font-size: 2.5em !important;
    color: white;
    text-transform: uppercase;
}

.result {
    margin: 40px auto;
    margin-bottom: 0;
    display: block;
    background: gray;
    width: 200px;
    border-radius: 100px;
}

.result.rounded>img {
    border-radius: 100px;
}

.square>img {
    width: 95%;
    margin-left: 2%;
    height: 30%;
    margin-top: 35%;
}

input[type='file'] {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.cancel {
    width: 85% !important;
}

.save {
    padding: 8px 16px !important;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.cropper_label {
    padding-left: 5%;
    color: #828282;
    font-size: 1.2em;
}


/********image cropper********/

@media only screen and (max-width: 640px) {
    .head img {
        height: 80px;
        width: 120px;
    }
    .image_cropper_heading {
        font-size: 2em !important;
    }
    .canclebtn {
        width: 50% !important;
    }
}

.head img {
    width: 145px;
    height: 100px;
}

.section {
    max-width: 970px;
    margin: auto;
}

.background-img {
    background-image: url(./../../../../assets/images/back.jpg);
    background-size: 100% 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.tournament_name {
    font-size: 3.5em;
    color: grey;
    font-weight: normal;
    font-family: 'ChaletComprime CologneEighty';
    text-transform: uppercase;
}

.heading {
    font-size: 16px;
    color: grey;
    margin-left: 6%;
    font-weight: bold;
}

.drpodown {
    width: 80% !important;
    height: 3px;
}

.txtbox {
    padding: 5% !important;
    border-radius: 20px !important;
    width: 81% !important;
    outline: none;
    margin-left: 3%;
    margin-top: 10px !important;
    background-color: #F2F2F2;
    border: 1px solid grey;
}

.textarea {
    border-radius: 20px;
    margin-left: 3%;
    margin-top: 10px;
    width: 80% !important;
    height: 125px !important;
}

.prefil {
    color: blue;
    font-size: 14px;
    margin-left: 2%;
}

.subirbtn {
    background-color: #00253F !important;
    width: 45% !important;
}

.icon {
    color: grey;
    float: right;
    margin-top: 2.5%;
    font-size: 1em;
}

.btnheading {
    margin-top: 25px;
}

.subirbtn2 {
    background-color: #00253F !important;
    width: 45% !important;
}

.greenbtn {
    background-color: #8DCF25 !important;
    border: none !important;
}

.footerBttn {
    text-align: right;
}

.canclebtn {
    width: 30%;
}

.langth {
    margin-right: 20% !important;
}

.leftbtnrow {
    margin-top: 20px;
}

@media (max-width:550px) {
    .hide {
        display: none;
    }
    .center {
        margin-right: 30px;
    }
    .background-img {
        background-size: 100%;
    }
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    width: 150px;
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: #00253F;
    height: 35px;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.perfil button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.teandoInput {
    width: 100%;
}

.teandotextArea {
    width: 100%;
    height: 125px;
}

.textAreaDiv {
    padding-top: 1%;
}

.uigLeft {
    padding-right: 20px;
}

.uigRight {
    padding-left: 20px;
}

.uigChildLeft {
    padding: 0 20px 0 0;
    white-space: nowrap;
}

.uigChildRight {
    padding: 0 0 0 20px;
    white-space: nowrap;
}

.formGroupTaendo {
    margin-bottom: 20px;
}

.formLabelTaendo {
    margin-bottom: 10px;
}

label {
    padding-left: 10px;
}

.setdivbackground {
    background-color: #F2F2F2;
    padding-top: 2%;
    padding-bottom: 2%;
}

.spanpos {
    margin-top: 1%;
    text-align: center;
}

.addsponser {
    float: left;
    background: #8DCF25;
    border: 1px solid #8DCF25;
    width: 215px;
    margin-left: 10px;
}


/*****************image cropper*******************/

.circleCrop {
    margin-top: 21px;
    display: block;
    margin-left: -24px;
    width: 200px;
    border-radius: 102px;
    overflow: auto;
}

.rectangleCrop {
    margin-top: 21px;
    display: block;
    margin-left: -24px;
    background: gray;
    width: 200px;
}

.rectangleCrop.rounded>img {
    border-radius: 102px;
}

input[type='file'] {
    height: 25px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}


/*********************image cropper*****************/

.container {
    background: black;
    opacity: .4;
}