<ion-header>
    <ion-navbar>
        <div class="header_div">
            <ion-title style="text-align: center;">{{'Compose message' | translate}}</ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content class="body">
    <ion-grid no-padding>
        <ion-row class="maincard" style="border-bottom:1px solid #d7d7d7;margin:0px">
            <ion-col no-padding style="display: flex;align-items: center;justify-content:center" col-2>
                <img class="logo" [src]="logo?image+logo:'assets/images/player/defaultplayer.jpg'" />
            </ion-col>
            <ion-col style="padding-left:8px" col-10 no-padding>
                <ion-row>
                    <ion-col col-10 no-padding>
                        <p class="title">
                            {{name}}
                        </p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="messagedata">
            <textarea placeholder="{{'Enter text here' | translate}}" class="textbox" [(ngModel)]="message"></textarea>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="foot">
    <button (click)="send();" style="border-radius: 0px" class="next" ion-button>{{'Send' | translate}}</button>
</ion-footer>