page-composemessage {
  .messagedata {
    color: #666666;
    font-family: roboto-regular;
    font-size: 14px;
    padding: 16px;
    background: white;
  }
  .textbox {
    background: #f6f9ff;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    padding: 10px;
  }
  .button-md:hover:not(.disable-hover) {
    background-color: #113861 !important;
  }
}
