<loader *ngIf='loader'></loader>
<p-growl [value]="msgs"></p-growl>
<div *ngIf="total_pages>page" class="scroll" (click)="onScroll()">
    {{'Carga más' | translate}}
</div>
<div class="ui-g web_round_list" style="margin-bottom: 5px; margin-top:2%;">
    <div class="ui-g-3 ui-md-4 ui-sm-4 hoverOnTd" *ngFor="let round of round_Details;let i=index" [class.rounds]="round.id==roundID" (click)="API_getFixture(round, round.group);round_status=round.status;roundID=round.id;is_fixture=round.is_fixture_created;round_position=round?.round_position">
        <span>{{round?.round_name}}</span>
    </div>
</div>

<div class="ui-g ui-fluid mobile_round_list">
    <div class="ui-g-12">
        <div class="ui-g-3 ui-md-4 ui-sm-4 hoverOnTd" *ngFor="let round of round_Details;let i=index" [class.rounds]="round.id==roundID" (click)="API_getFixture(round, round.group);round_status=round.status;roundID=round.id;is_fixture=round.is_fixture_created;">
            <span>{{round?.round_name}}</span>
        </div>
    </div>
</div>

<div class="ui-g " *ngIf="!no_rounds">
    <div class="ui-g-1 ui-sm-3 sort_label">
        <span>{{'VER POR' | translate}}</span>
    </div>
    <div class="ui-g-3 ui-sm-9">
        <p-dropdown [options]="sortList" (onChange)='selectedSortingOptionFun($event)' [style]="{'width':'100%'}" [(ngModel)]="selectedOption"></p-dropdown>
    </div>

    <div class="ui-g-8 ui-sm-12 buttonDiv" *ngIf="loadTime">
        <button pButton type="button" *ngIf="is_admin && !is_fixture" label="{{'Crear Fixture' | translate}}" class="ui-button-green" (click)="routing(true)">
        </button>
        <button pButton type="button" *ngIf="is_admin" label="{{'EDITAR ' | translate}}" class="ui-button-green " (click)='fixturePopup=true'></button>
        <button pButton type="button" *ngIf="is_admin && roundType == 'group'" label="{{'ACTUALIZAR RESULTADOS' | translate}}" class="ui-button-green" (click)="confirmationResult=true;type='publish'">
        </button>
        <button pButton type="button" *ngIf="is_admin" label="{{'finalizar ronda' | translate}}" class="ui-button-green" (click)="nextRoundTeam('reset');type='final';groupCounter=0;selectedGroupForRound=null">
        </button>
        <a target="_blank" *ngIf="dateType">
            <i class="fa fa-download downloadButton" aria-hidden="true" (click)="shareFixtureInfo(); "></i>
        </a>
    </div>
</div>

<div class="ui-g top" *ngIf="groupType && is_fixture && sub_group">
    <div class="ui-g-1 text-left">
        <!-- <img src="assets/images/arrow_left.png" style="cursor:pointer;width: 20px;" (click)="previousGroup()" /> -->
    </div>
    <div style="position: relative;" class="ui-g-10 calendar">
        <p-dropdown id="group_dropdown" [options]="groupList" (onChange)='selectedGroupFun($event)' [style]="{'width':'80%'}" [(ngModel)]="selectedGroup" [ngModelOptions]="{standalone: true}">
        </p-dropdown>
        <!-- <i class="fa fa-angle-down arrow"></i> -->
    </div>
    <div class="ui-g-1 text-right">
        <!-- <img src="assets/images/arrow_right.png" style="cursor:pointer;width: 20px;" (click)="nextGroup()" /> -->
    </div>
</div>
<!-- <div style="text-align: center;color: red;font-size: 14px;padding-top: 40px;" *ngIf="!sub_group" class="ui-g-12">
    <span>This feature is not available for the Tournament whose fixtures are created before 25/10/2017</span>
</div> -->
<!-- Group type -->
<div *ngFor="let GroupFixtureData of GroupFixtureDataInfo">
    <div class="ui-g" style="color:grey;padding-top: 5px;font-size:1.2em;cursor:pointer" *ngFor="let fixture of GroupFixtureData">
        <div class="ui-g-2 ui-sm-2 card_left_div">
            <span>{{'Fecha' | translate}}:</span>
            <span style="color:grey">{{fixture?.date_time?(fixture?.date_time | date:'dd MMM, yyyy'):'-'}}</span>
            <br>
            <span>{{'Hora' | translate}}:</span>
            <span style="color:grey">{{fixture?.date_time?(fixture?.date_time | date:'shortTime'):'-'}}</span>


        </div>
        <div class="ui-g-8 ui-sm-8 card_center_div" (click)="resultRouting(fixture,'group')">
            <div class="ui-g">
                <div class="ui-g-4 fixture_middle_content">
                    <span class="fixture_text">{{fixture.team1}}</span>
                </div>
                <div class="ui-g-4">
                    <div class="ui-g-3 text-left">
                        <img *ngIf="!fixture?.team1_logo" src="assets/images/Rectangle.png" alt="images/Rectangle.png" class="fixture_img">
                        <img *ngIf="fixture?.team1_logo" src='{{imageUrl}}{{fixture?.team1_logo}}' alt="images/Rectangle.png" class="fixture_img">
                    </div>
                    <div style="    text-align: center;" class="ui-g-6">
                        <span *ngIf="fixture.is_result && fixture.team1_goal != null && fixture.team2_goal != null" class="fixture_text_time">{{fixture.team1_goal}} - {{fixture.team2_goal}}</span>
                        <p *ngIf="fixture.is_result && fixture.team1_goal != null && fixture.team2_goal != null && (fixture?.team1_panelty || fixture?.team2_panelty)" class="fixture_text_penality">P({{fixture.team1_panelty}} - {{fixture.team2_panelty}})</p>
                        <span class="fixture_text_time" *ngIf=" fixture.is_result && fixture.team1_goal == null && fixture.team2_goal == null ">{{'--'}}</span>
                    </div>
                    <div class="ui-g-3 text-right">
                        <img *ngIf="!fixture?.team2_logo" src="assets/images/Rectangle.png" alt="images/Rectangle.png" class="fixture_img">
                        <img *ngIf="fixture?.team2_logo" src='{{imageUrl}}{{fixture?.team2_logo}}' alt="images/Rectangle.png" class="fixture_img">
                    </div>
                    <div style="text-align: center;color: #8ec63f;" class="ui-g-12">
                        <p *ngIf="fixture?.is_cancelled || fixture?.is_suspended">{{"Match" | translate}}
                            <span *ngIf="fixture?.is_cancelled">{{"cancelled" | translate}} </span>
                            <span *ngIf="fixture?.is_suspended">{{"suspended" | translate}} </span>
                        </p>
                    </div>
                </div>
                <div class="ui-g-4 fixture_middle_content ">
                    <span class="fixture_text fix_txt">{{fixture.team2}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-2 ui-sm-2 card_left_div">
            <span>{{'Cancha' | translate}}</span>
            <a (click)="pdfPreview(fixture?.fixture_id)" target="_blank">
                <i class="fa fa-download downloadButton" aria-hidden="true"></i>
            </a>
            <br>
            <span style="color:grey" class="ground_name_text">{{fixture.ground ? fixture.ground.ground_name : '-'}}</span>
        </div>
    </div>
</div>
<!-- SE and DE type -->
<div *ngFor="let DeSeFixtureData of DeSeFixtureDataInfo">
    <div class="ui-g" style="color:grey;padding-top: 5px;cursor: pointer" *ngFor="let fixture of DeSeFixtureData">
        <div class="ui-g-2 card_left_div">
            <span>{{'Fecha' | translate}}:</span>
            <span style="color:grey">{{fixture.date_time|date:'dd MMM, yyyy'}}</span>
            <br>
            <span>{{'Hora' | translate}}:</span>
            <span style="color:grey">{{fixture.date_time|date:'shortTime'}}</span>
        </div>
        <div class="ui-g-8 card_center_div" (click)="resultRouting(fixture)">
            <div class="ui-g">
                <div class="ui-g-4 fixture_middle_content">
                    <span class="fixture_text">{{fixture.team1}}</span>
                </div>
                <div class="ui-g-4">
                    <div class="ui-g-3">
                        <img *ngIf="!fixture?.team1_logo" src="assets/images/Rectangle.png" alt="images/Rectangle.png" class="fixture_img">
                        <img *ngIf="fixture?.team1_logo" src='{{imageUrl}}{{fixture?.team1_logo}}' alt="images/Rectangle.png" class="fixture_img">
                    </div>
                    <div class="ui-g-6">
                        <span *ngIf="fixture.is_result && fixture.team1_goal != null && fixture.team2_goal != null " class="fixture_text_time">{{fixture.team1_goal}} - {{fixture.team2_goal}}</span>
                        <p *ngIf="fixture.is_result && fixture.team1_goal != null && fixture.team2_goal != null && (fixture?.team1_panelty || fixture?.team2_panelty)" class="fixture_text_penality">P({{fixture.team1_panelty}} - {{fixture.team2_panelty}})</p>
                        <span class="fixture_text_time" *ngIf="fixture.is_result && fixture.team1_goal == null && fixture.team2_goal == null ">{{'--'}}</span>

                    </div>
                    <div class="ui-g-3">
                        <img *ngIf="!fixture?.team2_logo" src="assets/images/Rectangle.png" alt="images/Rectangle.png" class="fixture_img">
                        <img *ngIf="fixture?.team2_logo" src='{{imageUrl}}{{fixture?.team2_logo}}' alt="images/Rectangle.png" class="fixture_img">
                    </div>
                    <div style="text-align: center;color: #8ec63f;" class="ui-g-12">
                        <p *ngIf="fixture?.is_cancelled || fixture?.is_suspended">{{"Match" | translate}}
                            <span *ngIf="fixture?.is_cancelled">{{"canceled" | translate}} </span>
                            <span *ngIf="fixture?.is_suspended">{{"suspended" | translate}} </span>
                        </p>
                    </div>
                </div>
                <div class="ui-g-4 fixture_middle_content">
                    <span class="fixture_text fix_txt">{{fixture.team2}}</span>

                </div>
            </div>
        </div>
        <div class="ui-g-2 card_left_div">
            <span>{{'Cancha' | translate}}</span>
            <a (click)="pdfPreview(fixture?.fixture_id)" target="_blank">
                <i class="fa fa-download downloadButton" aria-hidden="true"></i>
            </a>
            <br>
            <span class="ground_name_text" style="color:grey">{{fixture.ground ? fixture.ground.ground_name : '-'}}</span>
        </div>
    </div>
</div>

<div class="ui-g-12 text-center" style="margin-top: 100px;" *ngIf="GroupFixtureDataInfo.length===0 && roundType=='group'|| DeSeFixtureDataInfo.length===0 && roundType=='SE' || DeSeFixtureDataInfo.length===0 && roundType=='DE'">
    <span style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
</div>

<div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 text-center">
    <span class="round_created" *ngIf='no_rounds && !is_admin' style="color:darkcyan">
        {{'Crea primero las rondas y después el fixture ' | translate}}
    </span>
    <br>
    <br>
    <button *ngIf='is_admin && no_rounds && registeredTeam' pButton type="button" label="{{'Crear RONDAS' | translate}}" class="ui-button-green" (click)="routing(false);"></button>
    <br>
    <br>
    <span class="round_created" *ngIf='!is_fixture && is_admin' style="color:darkcyan">
        {{'Para poder crear las rondas y fixtures. asegurarse de tener todos los cupos Ilenos.' | translate}}
    </span>
</div>
<div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 text-center">
    <span class="round_created" *ngIf="!is_fixture && !no_rounds && !is_admin" style="color:darkcyan">
        {{'No hay accesorios creados aún !!!' | translate }}
    </span>
</div>
<div class="ui-g-12 " *ngIf="!is_fixture && is_admin">
    <p style="color:darkcyan;margin-left: 90px;">{{"Instrucciones: Este es el segundo paso. Hacer click en CREAR RONDAS para empezar la planeación y estructuración del torneo." | translate}}</p>
</div>
<div class="ui-g ui-fluid reservarMessage">
    <p-dialog [(visible)]="confirmationResult" modal="modal" [modal]=true>
        <div class="ui-g">
            <div class="ui-g-12 headingOfPopupReserve">
                <span>{{'Confirmar' | translate}}</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <span style="color: darkcyan">{{'¿Estás seguro?' | translate}}</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-3">
                <button type="button" pButton (click)=" confirmationResult=false" class="ui-button" label="{{'NO' | translate}}"></button>
            </div>
            <div class="ui-g-3">
                <button *ngIf="type=='publish'" type="button" pButton (click)="finalizeRound(roundID,'publish');confirmationResult=false" class="ui-button-green" label="{{'SI' | translate}}"></button>
                <button *ngIf="type=='final'" type="button" pButton (click)="finalizeRound(roundID,'final');confirmationResult=false;" class="ui-button-green" label="{{'SI' | translate}}"></button>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
    </p-dialog>
</div>
<div [class.backdrop]="confirmationResult"></div>
<div [class.backdrop]="nextRoundRegistartion" (click)='nextRoundRegistartion=false'></div>
<div class="ui-g ui-fluid  nextRound">
    <p-dialog [(visible)]="nextRoundRegistartion" modal="modal" [resizable]=false [responsive]=true>
        <div class="ui-g invite_popup_header">
            <div class="ui-g-12 ui-sm-12">
                <span class="popup_heading">{{'Equipo para moverse en' | translate}} {{nextRoundName}}</span>
            </div>
        </div>
        <div *ngIf="nextRoundData" style="padding-left: 5px;padding-right: 5px;">
            <div class="ui-g top " style="margin-top: 5px;" *ngIf="nextRoundGroup">
                <div class="ui-g-1 text-left">
                    <img src="assets/images/arrow_left.png" style="cursor:pointer;width: 20px;" (click)="previousGroupForNextRound()" />
                </div>
                <div class="ui-g-10 calendar">
                    <p-dropdown id="group_dropdown" [options]='nextRoundGroupList' (onChange)='selectedGroupFunForNextRound()' [style]="{'width':'80%'}" [(ngModel)]="selectedGroupForRound" [ngModelOptions]="{standalone: true}"></p-dropdown>
                </div>
                <div class="ui-g-1 text-right">
                    <img src="assets/images/arrow_right.png" style="cursor:pointer;width: 20px;" (click)="nextGroupForNextRound()" />
                </div>
            </div>
            <div class="ui-g nextRoundDiv ui-fluid">
                <div class="ui-g-3">
                    <span>{{'Logo' | translate}}</span>
                </div>
                <div class="ui-g-3">
                    <span style="float:left">{{'Nombre' | translate}}</span>
                </div>
                <div class="ui-g-3">
                    <span style="float:left">{{'Ciudad' | translate}}</span>
                </div>
                <div class="ui-g-3">
                </div>
            </div>
            <hr style=" width: 100%;">
            <div class="scrolling">
                <div class="ui-g ui-fluid" *ngFor="let info of nextRoundData;let i=index;">
                    <div class="ui-g-3">
                        <img [src]="info?.profile_pic?imagePath+info?.profile_pic:'assets/images/Rectangle.png'" alt="images/Rectangle.png" class="team_img">
                    </div>
                    <div class="ui-g-3 text_center">
                        <span style="margin-left: 5px">{{info?.name?info?.name:'--'}}</span>
                    </div>
                    <div class="ui-g-3 text_center">
                        <span style="margin-left: 12px">{{info?.city?info?.city:'--'}}</span>
                    </div>
                    <div class="ui-g-3 text_center">
                        <p-checkbox name="groupname" [(ngModel)]="nextRoundArray" [value]="info.id"></p-checkbox>
                    </div>
                </div>
                <div class="ui-g" *ngIf="nextRoundData.length==0">
                    <div class="ui-g-12" style="margin-top: 20%;">
                        <span style="color: darkcyan;font-size: 1.5em">{{'Datos no encontrados' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="ui-g" *ngIf="nextRoundData && nextRoundData.length!=0">
            <div class="ui-g-2 mobview">
            </div>
            <div class="ui-g-4 ui-sm-6">
                <button type="button" pButton class="ui-button" label="{{'CANCELAR' | translate}}" (click)="nextRoundRegistartion=false;selectedGroup=groupStatus;counter=0"></button>
            </div>
            <div class="ui-g-4 ui-sm-6">
                <button type="button" pButton class="ui-button-green" label="{{'ENVIAR' | translate}}" (click)="postNextRoundData();selectedGroup=groupStatus;counter=0"></button>
            </div>
            <div class="ui-g-2 mobview">
            </div>
        </div>
        <div class="ui-g" *ngIf="nextRoundData && nextRoundData.length==0">
            <div class="ui-g-12 ui-sm-12">
                <button style=" width: 200px;" type="button" pButton class="ui-button" label="{{'CANCELAR' | translate}}" (click)="nextRoundRegistartion=false;"></button>
            </div>
        </div>
    </p-dialog>
</div>
<div [class.backdropMessage]="nextRoundMessage" (click)='nextRoundMessage=false'></div>
<div class="ui-g ui-fluid reservarMessage">
    <p-dialog [(visible)]="nextRoundMessage" modal="modal" [modal]=true>
        <div class="ui-g">
            <div class="ui-g-12 headingOfPopupReserve">
                <span>{{'Mensaje' | translate}}</span>
            </div>
        </div>
        <div class="ui-g" style="margin-top: 10px;">
            <div class="ui-g-12">
                <span style="color: darkcyan">{{'Lo siento, no tienes ninguna ronda más' | translate}}</span>
            </div>
        </div>
        <br>
        <br>
        <div class="ui-g">
            <div class="ui-g-12">
                <button type="button" style="width: 120px;" pButton (click)=" nextRoundMessage=false" class="ui-button" label="{{'De acuerdo' | translate}}"></button>
            </div>
        </div>
    </p-dialog>
</div>
<div [class.backdrop]="regTeamPopup"></div>
<div class="ui-g ui-fluid reservarMessage">
    <p-dialog [(visible)]="regTeamPopup" modal="modal" [modal]=true>
        <div class="ui-g">
            <div class="ui-g-12 headingOfPopupReserve">
                <span>{{'Mensaje' | translate}}</span>
            </div>
        </div>
        <div class="ui-g" style="margin-top: 10px;">
            <div class="ui-g-12">
                <span style="color: darkcyan">{{'El número de equipos no es igual al equipo registrado' | translate}}</span>
            </div>
        </div>
        <br>
        <br>
        <div class="ui-g">
            <div class="ui-g-6">
                <button type="button" pButton (click)="regTeamPopup=false;" class="ui-button" label="{{'Cancelar' | translate}}"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="regTeamPopup=false;routingForRound()" class="ui-button-green" label="{{'Ignorar' | translate}}"></button>
            </div>
        </div>
    </p-dialog>
</div>
<div [class.backdrop]="pdfShow"></div>

<div class="ui-g ui-fluid pdfView pdfViewWidth">
    <p-dialog [(visible)]="pdfShow" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
        <div class="ui-g" #layout>
            <div class="ui-g-12 main_div_pdf">

                <div style="    border: 1px solid #d7d7d7;padding: 4px 8px;" class="ui-g-6">
                    <div class="ui-g-12">
                        <p class="headingpdf"> {{mylist?.tournament_name}} </p>
                    </div>
                    <div class="ui-g-12 leaguedetailspdf">
                        <div class="ui-g-2">
                            <img class="pdf_image" [src]="mylist?.tournament_logo?mylist?.tournament_logo:'assets/images/tournament-profile-logo/default.png'">
                        </div>
                        <div class="ui-g-10">
                            <div class="ui-g-6">
                                <p style="color: #113861">{{'Fetcha' | translate}} : <span style="color: #333">{{mylist?.date | date:"dd/MMM/yyyy"}}</span></p>

                            </div>
                            <div class="ui-g-6">
                                <p style="color: #113861"> {{'Hora' | translate}} : <span style="color: #333">{{mylist?.date | date:'shortTime'}}</span></p>
                            </div>
                            <div class="ui-g-6">
                                <p style="color: #113861">{{'Canchas' | translate}} : <span style="color: #333">{{mylist?.fixture_ground?mylist?.fixture_ground:""}}</span></p>
                            </div>
                            <div class="ui-g-6">
                                <p style="color: #113861">{{'Arbitro' | translate}}(s) : <span style="color: #333">{{mylist?.referee_name}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="border: 1px solid #d7d7d7;border-left: 0px;padding: 4px 8px;" class="ui-g-6">
                    <div class="ui-g-12">
                        <div style="text-align: center" class="ui-g-10">
                            <p class="headingpdf"> {{"Auspiciantes" | translate}} </p>
                        </div>
                        <div style="text-align: right" class="ui-g-2">
                            <img src="/assets/images/pelo.png" style="height: 31px" />
                        </div>
                    </div>
                    <div style="text-align: center;" class="ui-g-12">
                        <span style="margin-right: 16px;" *ngFor="let i of sponsers">
                            <img  class="pdf_image" [src]="i"/>
                        </span>
                    </div>
                </div>

            </div>

            <div style="padding: 0px;border: 1px solid #d7d7d7;border-top: 0px;" class="ui-g-12">
                <div style="width: 70%;margin: auto;display: flex;align-items: center;">
                    <div style="padding: 0px" class="ui-g-5">
                        <div class="ui-g-2">
                            <img [src]="mylist?.player_team1_json.team1_logo?mylist?.player_team1_json.team1_logo:'./assets/images/team-profile-logo/default.png'" style="height: 25px;width: 25px;;border-radius: 100%">
                        </div>
                        <div class="ui-g-10" style="padding-top: 8px">
                            <p style="color: #113861">{{mylist?.player_team1_json.team1_name}}</p>
                            <div style="display: flex;align-items: flex-end;padding: 0px;padding-top: 4px" class="ui-g-12">
                                <div class="fill-box1">
                                </div>
                                <span style="margin: 0px 16px 0px 5px;">{{"Goles" | translate}}</span>
                                <div class="fill-box1"> </div>
                                <span style="margin: 0px 0px 0px 5px;">{{"Penales" | translate}}</span>
                            </div>
                            <div style="padding: 0px;padding-top: 4px" class="ui-g-12">
                                <p style="color: #113861;margin-top: 6px;font-size: 10px">{{'Capitán' | translate}}:</p>
                                <p style="color: #113861;margin-top: 6px;font-size: 10px">{{'Team manager' | translate}}:</p>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;font-size: 16px;" class="ui-g-2">
                        VS
                    </div>
                    <div style="padding: 0px" class="ui-g-5">
                        <div class="ui-g-2">
                            <img [src]="mylist?.player_team2_json.team2_logo?mylist?.player_team2_json.team2_logo:'./assets/images/team-profile-logo/default.png'" style="height: 25px;width: 25px;;border-radius: 100%">
                        </div>
                        <div class="ui-g-10">
                            <p style="color: #113861">{{mylist?.player_team2_json.team2_name}}</p>
                            <div style="display: flex;align-items: flex-end;padding: 0px;padding-top: 4px" class="ui-g-12">
                                <div class="fill-box1">
                                </div>
                                <span style="margin: 0px 16px 0px 5px;">{{"Goles" | translate}}</span>
                                <div class="fill-box1"> </div>
                                <span style="margin: 0px 0px 0px 5px;">{{"Penales" | translate}}</span>
                            </div>
                            <div style="padding: 0px;padding-top: 4px" class="ui-g-12">
                                <p style="color: #113861;margin-top:6px;font-size: 10px">{{'Capitán' | translate}}:</p>
                                <p style="color: #113861;margin-top: 6px;font-size: 10px">{{'Team manager' | translate}}:</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div style="padding: 4px 0px;background: #f7f7f7;color: #113761;" class="ui-g-12 no-padding">
                <div class="ui-g-6 no-padding">
                    <div class="ui-g-12 no-padding">
                        <div style="text-align: center" class="ui-g-1  no-padding">
                            {{'J' | translate}}
                        </div>
                        <div class="ui-g-4  no-padding " style="text-align: center">
                            {{'Players' | translate}}
                        </div>

                        <div class="ui-g-3  no-padding" style="text-align: center">
                            {{'Id' | translate}}
                        </div>
                        <div class="ui-g-1  no-padding" style="text-align: center">
                            {{'A' | translate}}
                        </div>
                        <div class="ui-g-1  no-padding" style="text-align: center">
                            {{'R' | translate}}
                        </div>
                        <div class="ui-g-1  no-padding" style="text-align: center">
                            {{'As' | translate}}
                        </div>
                        <div class="ui-g-1  no-padding" style="text-align: center">
                            {{'G' | translate}}
                        </div>

                    </div>
                </div>
                <div class="ui-g-6 no-padding">
                    <div class="ui-g-12 no-padding">
                        <div class="ui-g-1  no-padding" style="text-align: center">
                            {{'J' | translate}}
                        </div>
                        <div class="ui-g-4  no-padding" style="text-align: center">
                            {{'Players' | translate}}
                        </div>

                        <div class="ui-g-3  no-padding" style="text-align: center">
                            {{'Id' | translate}}
                        </div>
                        <div class="ui-g-1  no-padding" style="text-align: center">
                            {{'A' | translate}}
                        </div>
                        <div class="ui-g-1  no-padding" style="text-align: center">
                            {{'R' | translate}}
                        </div>
                        <div class="ui-g-1  no-padding" style="text-align: center">
                            {{'As' | translate}}
                        </div>
                        <div class="ui-g-1  no-padding" style="text-align: center">
                            {{'G' | translate}}
                        </div>

                    </div>
                </div>
            </div>


            <div class="ui-g-12 no-padding">
                <div class="ui-g-6 no-padding">
                    <div *ngFor="let item of mylist?.player_team1_json?.player_team1_list" class="ui-g-12 no-padding">
                        <div class="ui-g-1   pdfplayerno">
                            {{item.shirt_no?item.shirt_no:' '}}
                        </div>
                        <div class="ui-g-4    pdfplayername">
                            {{item.name?item.name:" "}}
                            <p *ngIf="item?.is_banned" class="ban">
                                {{'Prohibición de jugador' | translate}}
                            </p>
                        </div>

                        <div class="ui-g-3    pdfplayerid">
                            {{item.national_id}}
                        </div>
                        <div class="ui-g-1   pdfplayerstats">
                        </div>
                        <div class="ui-g-1   pdfplayerstats">
                        </div>
                        <div class="ui-g-1  pdfplayerstats">
                        </div>
                        <div class="ui-g-1   pdfplayerstats">
                        </div>

                    </div>
                </div>
                <div class="ui-g-6 no-padding">
                    <div *ngFor="let item of mylist?.player_team2_json?.player_team2_list" class="ui-g-12 no-padding">
                        <div class="ui-g-1    pdfplayerno" style="    border-left: 0px;">
                            {{item.shirt_no?item.shirt_no:' '}}
                        </div>
                        <div class="ui-g-4   pdfplayername">
                            {{item.name?item.name:" "}}
                            <p *ngIf="item?.is_banned" class="ban">
                                {{'Prohibición de jugador' | translate}}
                            </p>
                        </div>

                        <div class="ui-g-3  no-padding pdfplayerid">
                            {{item.national_id}}
                        </div>
                        <div class="ui-g-1    pdfplayerstats">
                        </div>
                        <div class="ui-g-1    pdfplayerstats">
                        </div>
                        <div class="ui-g-1    pdfplayerstats">
                        </div>
                        <div class="ui-g-1    pdfplayerstats">
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="ui-g-12" style="text-align: right;font-size: 25px;padding: 4px 0px 0px 0px">
            <i class="fa fa-download" aria-hidden="true" (click)="downloadPdfBy()" style="cursor: pointer"></i>
        </div>
    </p-dialog>
</div>


<!-- <div class="ui-g ui-fluid pdfView pdfViewWidth">
    <p-dialog [(visible)]="pdfShow" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
            <div class="ui-g table_info" #layout>
                <div class="ui-g-4 top_text">
                    <p>{{'Hora' | translate}} : {{mylist?.date | date:'shortTime'}}</p>
                    <p>{{'Fetcha' | translate}} : {{mylist?.date | date:"dd/MMM/yyyy"}}</p>
                    <p>{{'Canchas' | translate}} : {{mylist?.fixture_ground?mylist?.fixture_ground:""}}</p>
                    <p>{{'Arbitro' | translate}}(s) : {{mylist?.referee_name}}</p>


                </div>
                <div class="ui-g-4 tour_logo">
                    <img [src]="mylist?.tournament_logo?mylist?.tournament_logo:'assets/images/tournament-profile-logo/default.png'" style="border-radius: 100%;">
                </div>
                <div class="ui-g-4 pelo_logo">
                    <img src="/assets/images/pelo.png" style="   width: 50px;    margin-right:25px;
                    
                    height: 40px;">

                </div>
                <div class="ui-g-12 tour_name">
                    <p> {{mylist?.tournament_name}} </p>
                </div>
                <div class="name_div">
                    <div class="ui-g">
                        <div class="ui-g-4 team_name">
                            <p style="margin-left: 10px;text-transform:capitalize">{{mylist?.player_team1_json.team1_name}}</p>
                            <div class="fill-box1">
                            </div>

                        </div>
                        <div class="ui-g-4 vs team-vs">
                            <img [src]="mylist?.player_team1_json.team1_logo?mylist?.player_team1_json.team1_logo:'./assets/images/team-profile-logo/default.png'" style="border-radius: 100%">
                            <p style="margin-top: 20px;">Vs</p>
                            <img [src]="mylist?.player_team2_json.team2_logo?mylist?.player_team2_json.team2_logo:'./assets/images/team-profile-logo/default.png'" style="border-radius: 100%;">
                        </div>
                        <div class="ui-g-4 team_name_one">

                            <p style="margin-right: 10px;text-transform:capitalize">{{mylist?.player_team2_json.team2_name}}</p>
                            <div class="fill-box2">
                            </div>
                        </div>
                    </div>

                    <div class="ui-g">
                        <div class="ui-g-4 team_name">
                            <div class="fill-box1">
                            </div>
                        </div>
                        <div class="ui-g-4 vs team-vs">
                            <p style="margin-top: 20px">{{'sanciones' | translate}}</p>
                        </div>
                        <div class="ui-g-4 team_name_one">
                            <div class="fill-box2">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="captain">
                    <div class="ui-g-6 captain_name_first">
                        <p style="text-align:center;text-transform:capitalize">{{mylist?.player_team1_json.team1_name}}</p>
                    </div>
                    <div class="ui-g-6 captain_name_second">
                        <p style="text-align:center;text-transform:capitalize">{{mylist?.player_team2_json.team2_name}}</p>
                    </div>
                    <div class="details">
                        <table style="width:50%" class="table_first height-t">
                            <tr>
                                <th>{{'J' | translate}}</th>
                                <th>{{'Id' | translate}}</th>
                                <th>{{'Players' | translate}}</th>
                                <th>{{'A' | translate}}</th>
                                <th>{{'R' | translate}}</th>
                                 <th>{{'As' | translate}}</th>
                                <th>{{'G' | translate}}</th>

                            </tr>
                            <tr *ngFor="let item of mylist?.player_team1_json?.player_team1_list">
                                <td>{{item.shirt_no?item.shirt_no:' '}}</td>
                                <td>{{item.national_id}}</td>
                                <td>{{item.name?item.name:" "}}
                                    <span *ngIf="item.is_banned" class="ban">{{'Prohibición de jugador' | translate}}</span>
                                </td>
                                <td>{{item.total_yellow_card}}</td>
                                <td>{{item.total_red_card}}</td>
                                <td>{{item.assist_goals?item.assist_goals:'-'}}</td>
                                <td>{{item.goal?item.goal:'-'}}</td>

                            </tr>
                        </table>
                        <table style="width:50%" class="table_second height-t">
                            <tr>
                                <th>{{'J' | translate}}</th>
                                <th>{{'Id' | translate}}</th>
                                <th>{{'Players' | translate}}</th>

                                <th>{{'A' | translate}}</th>
                                <th>{{'R' | translate}}</th>
                                 <th>{{'As' | translate}}</th>
                                <th>{{'G' | translate}}</th>
                            </tr>
                            <tr *ngFor="let item of mylist?.player_team2_json?.player_team2_list">
                                <td>{{item.shirt_no?item.shirt_no:' '}}</td>
                                <td>{{item.national_id}}</td>
                                <td>{{item.name?item.name:" "}}
                                    <span *ngIf="item.is_banned" class="ban">{{'Prohibición de jugador' | translate}}</span>
                                </td>
                                <td>{{item.total_yellow_card}}</td>
                                <td>{{item.total_red_card}}</td>
                                <td>{{item.assist_goals?item.assist_goals:'-'}}</td>
                                <td>{{item.goal?item.goal:'-'}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="ui-g" style="margin: 10px 0 20px 0;">
                        <div class="ui-g-6">
                            <p>{{'Capitán' | translate}}-{{mylist?.player_team1_json.captain_of_team1?mylist?.player_team1_json.captain_of_team1:"--"}}</p>
                        </div>
                        <div class="ui-g-6 ">
                            <p>{{'Capitán'| translate}}-{{mylist?.player_team2_json.captain_of_team2?mylist?.player_team2_json.captain_of_team2:"--"}}</p>
                        </div>

                    </div>

                    <div class="ui-g" style="margin: 10px 0 20px 0;">
                        <div class="ui-g-6">
                            <p>{{'Team manager' | translate}}-{{mylist?.player_team1_json.captain_of_team1?mylist?.player_team1_json.captain_of_team1:"--"}}</p>
                        </div>
                        <div class="ui-g-6 ">
                            <p>{{'Team manager'| translate}}-{{mylist?.player_team2_json.captain_of_team2?mylist?.player_team2_json.captain_of_team2:"--"}}</p>
                        </div>

                    </div>

                    <div *ngIf="!sponser_list_length" style="     text-align: center;
                    padding: 0px;
                    border: 1px solid black;
                    " class="ui-g-12">
                        <p style="margin: 20px 0px 0px 0px;
                        font-size: 18px;">{{'Auspiciantes' | translate}}</p>
                        <span *ngFor="let i of sponsers">
                            <img [src]="i" style="   height: 50px;width: 50px;border-radius: 25px;    margin: 20px 0px 20px 20px;
                            " />
                        </span>
                    </div>
                </div>
            </div>

        <div class="ui-g-12" style="text-align: right;font-size: 25px">
            <i class="fa fa-download" aria-hidden="true" (click)="downloadPdfBy()" style="cursor: pointer"></i>
        </div>

    </p-dialog>
</div> -->


<div [class.backdrop]="fixtureImageSharePopup"></div>
<div class="ui-g ui-fluid pdfView pdfViewWidth">
    <p-dialog [(visible)]="fixtureImageSharePopup" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
        <div id="download_image" #layoutShare>
            <div class="ui-g table_info_image" id="download_info" #tablehieght>
                <div class="ui-g-12 tour_logo_image">
                    <img [src]="fixtureShareData?.cover_pic?fixtureShareData?.cover_pic :'assets/images/tournament-profile-cover/default.png'">
                    <img [src]="fixtureShareData?.tournament_logo?fixtureShareData?.tournament_logo :'assets/images/tournament-profile-logo/default.png'">
                </div>
                <div class="ui-g-12 tour_name_image tour_border">
                    <span> {{fixtureShareData?.tournament_name}}</span>
                    <span>{{fixtureShareData?.city}} | {{fixtureShareData?.country}}</span>
                </div>
                <div class="ui-g-12 table_name_image">
                    <span> {{date_info_fetcha}} </span>
                </div>
                <br>
                <div class="captain_image" *ngFor="let info of fixtureShareData?.data">

                    <div class="ui-g">

                        <div class="ui-g-4 fixture_image_div ">
                            <span class="fixture_text_left">{{info.team1}}</span>
                            <span class="fixture_text_left">{{'Cancha' | translate}}: {{info?.ground?info?.ground:'--'}}</span>

                        </div>
                        <div class="ui-g-3 center_div">
                            <img [src]="info?.team1_logo?info?.team1_logo: 'assets/images/Rectangle.png'" class="fixture_img_share">
                            <div>
                                <span *ngIf="info.is_result && info.team1_goal != null && info.team2_goal != null ">{{info.team1_goal}} - {{info.team2_goal}}</span>
                                <p *ngIf="info.is_result && info.team1_goal != null && info.team2_goal != null && (info?.team1_panelty || info?.team2_panelty)">P({{info.team1_panelty}} - {{info.team2_panelty}})</p>
                                <span *ngIf="info.is_result && info.team1_goal == null && info.team2_goal == null ">{{'--'}}</span>
                            </div>
                        </div>

                        <div class="ui-g-1 fixture_image_div">
                            <img [src]="info?.team2_logo?info?.team2_logo: 'assets/images/Rectangle.png'" alt="images/Rectangle.png" class="fixture_img_share">
                        </div>
                        <div class="ui-g-4 groundText">
                            <span class="fixture_text_right">{{info.team2}}</span>
                            <span class="fixture_text_right">{{'Hora' | translate}}: {{info?.date_time?info?.date_time:'--'}}</span>
                        </div>
                    </div>


                </div>
                <div class="ui-g-12 table_name_image" *ngIf="fixtureShareData?.sponsors">
                    <span> {{'Auspiciantes' | translate}} </span>
                </div>
                <div class="sponser_image" *ngIf="fixtureShareData?.sponsors">
                    <span *ngFor="let info of fixtureShareData?.sponsors">
                        <img [src]="info.sponsor_logo" />
                    </span>
                </div>
                <div class="ui-g-12 footer_image">
                    <img src="/assets/images/pelo.png">
                    <span>Pelotea.com</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12" style="text-align:right">
            <a download="player.png" [href]="imageUrlDownload">
                <i class="downloadBttn fa fa-download" aria-hidden="true"></i>
            </a>
        </div>
    </p-dialog>
</div>


<div [class.backdrop]="fixturePopup"></div>
<p-dialog [(visible)]="fixturePopup" class="delete_ground delete_ground_dropdown" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
    <div class="ui-g  ui-fluid">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 delete_ground_header">
            <span>{{'MENSAJE' | translate}}</span>
        </div>
        <div class="ui-g-12 popupBttn">
            <p style="margin-left: 1%; margin-top: 5px; color:darkcyan">{{"Haga clic para editar fixture" | translate}}</p>
        </div>
        <div class="ui-g-12 popupBttn">
            <button pButton type="button" style="width: 155px" label="{{'EDITAR RONDAS' | translate}}" class="ui-button-green edit_round_button" (click)='editRoundFun()'>
            </button>
            <button *ngIf="is_fixture" pButton type="button" style="width: 155px" label="{{'EDITAR FIXTURE' | translate}}" class="ui-button-green edit_round_button" (click)='editFixtureFun()'></button>
        </div>
    </div>
</p-dialog>