    /*** mobile css ***/
    
    .pdf_image {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    
    .headingpdf {
        font-size: 14px;
        color: #113861;
        font-family: roboto-medium;
        padding: 5px 0px;
    }
    
    .main_div_pdf div {
        padding: 0px
    }
    
    .main_div_pdf {
        padding: 0px
    }
    
    .leaguedetailspdf {
        display: flex;
        align-items: center;
        padding-top: 4px;
        line-height: 2;
    }
    
    .pdfplayerid {
        border-bottom: 1px solid #d7d7d7;
        border-right: 1px solid #d7d7d7;
        /* border-top: 0px; */
        /* border-right: 0px; */
        height: 25px;
        /* display: flex; */
        padding: 4px 0px 0px 0px;
        /* align-items: center; */
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        font-size: 10px;
    }
    
    .pdfplayername {
        border-bottom: 1px solid #d7d7d7;
        /* border-top: 0px; */
        /* border-right: 0px; */
        height: 25px;
        /* display: flex; */
        padding: 2px 0px 0px 0px;
        /* align-items: center; */
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        font-size: 10px;
    }
    
    .pdfplayerno {
        border: 1px solid #d7d7d7;
        border-top: 0px;
        border-right: 0px;
        height: 25px;
        padding: 4px 0px 0px 0px;
        /* display: flex; */
        /* align-items: center; */
        text-align: center;
    }
    
    .pdfplayerstats {
        height: 25px;
        border-bottom: 1px solid #d7d7d7;
        border-right: 1px solid #d7d7d7;
    }
    
    .web_round_list {
        display: none;
    }
    
    .mobile_round_list {
        display: block;
    }
    
    .viewBy {
        display: block;
    }
    
    .mobile_round_list {
        font-size: 11px;
    }
    
    .sort_label {
        display: flex;
        align-items: center;
    }
    
    .head {
        background-image: url('./../../../../../assets/images/back.jpg');
        background-size: 100% 100%;
        height: 220px;
    }
    
    .icon-bar {
        width: 100%;
        text-align: center;
        overflow: auto;
    }
    
    .icon-bar a {
        width: 17%;
        padding: 12px 0px;
        float: left;
        transition: all 0.3s ease;
        color: #828282;
        font-size: 21px;
        text-decoration: none;
    }
    
    h3 {
        font-size: 1.3em;
    }
    
    .sections {
        width: 80%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    .section {
        margin-left: 6%;
    }
    
    .informacion>h3 {
        padding-left: 4%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    
    .informacion>p {
        font-size: 1.1em;
    }
    
    .informacion>p {
        line-height: 1.8;
        padding-left: 4%;
    }
    
    .informacion {
        border: 2px solid #828282;
        padding-bottom: 7%;
        width: 85%;
    }
    
    .paletando {
        width: 85%;
        border: 2px solid #828282;
        margin-top: 10%;
    }
    
    .para {
        margin-top: 5%;
    }
    
    .paletando>h3 {
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 4%;
    }
    
    .rank {
        padding-left: 4%;
    }
    
    big {
        font-size: 20px;
        margin: 5px;
    }
    
    hr {
        margin-top: 2%;
    }
    
    .contain {
        width: 70%;
    }
    
    .linkCustom {
        border-radius: 3px;
    }
    
    .hoverOnTd {
        color: #737373;
        background-color: #e6e6e6;
        text-transform: uppercase;
        padding: 10px;
        cursor: pointer;
        height: 45px;
    }
    
    .rounds {
        background-color: #8DCF24;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }
    
    .colDiv {
        background-color: #8DCF24;
        padding: 1.2%;
        text-align: center;
    }
    
    .colorSUm {
        color: white;
    }
    
    .part1div {
        background-color: #e6e6e6;
    }
    
    .match {
        color: #8DCF24;
        font-size: 12px;
    }
    
    .name {
        margin: 4%;
    }
    
    .matches {
        color: white;
    }
    
    .value {
        color: #737373;
        font-size: 12px;
    }
    
    .franceCol {
        position: relative;
    }
    
    .france {
        font-size: 12px;
        float: left;
        margin-left: 10%;
        margin-top: 8%;
    }
    
    .circleImage {
        border-radius: 15px;
    }
    
    .circleDiv {
        height: 30px;
        width: 30px;
        background-color: red;
    }
    
    .colorRows {
        background-color: #003366;
        color: white;
    }
    
    .time {
        font-size: 12px;
        margin-top: 20%;
        margin-right: 10%;
    }
    
    .cirImage {
        border-radius: 15px;
        float: left;
        margin-left: 8%;
    }
    
    .Portugal {
        margin-top: 8% !important;
    }
    
    .widthRow {
        width: 98%;
        margin-left: 1%;
    }
    
    .manual {
        margin-top: 5% !important;
    }
    /**************querterfinal********************/
    
    .colDi {
        background-color: #8DCF24;
        padding: 1.2%;
        padding-left: 9%;
        color: white;
    }
    
    .circleimg {
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    
    .partdiv {
        background: #00253f;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    span.franc {
        color: white;
    }
    
    .matchh {
        color: #8DCF24;
        font-size: 1.2em;
    }
    
    .timee {
        padding-top: 4%;
        padding-bottom: 4%;
        font-size: 3em;
        color: white;
    }
    
    .valuee {
        color: white;
    }
    
    .no_rounds {
        padding: 10px;
        background: #003366;
        color: white;
    }
    
    .fixture_card {
        padding: 10px 0;
        height: 60px;
        margin-bottom: 5px;
    }
    
    .card_center_div {
        background: #003366;
        color: white;
    }
    
    .card_left_div {
        background: #e6e6e6;
        text-align: left;
        color: #8DCF24;
        font-size: 10px;
        line-height: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .fixture_img {
        height: 30px;
        width: 30px;
        vertical-align: -webkit-baseline-middle;
        border-radius: 60%;
        margin-left: -16px;
    }
    
    .team_img {
        height: 30px;
        width: 30px;
        vertical-align: -webkit-baseline-middle;
        border-radius: 60%;
    }
    
    .fixture_text {
        vertical-align: -webkit-baseline-middle;
        font-size: 9px;
    }
    
    .fixture_text_time {
        vertical-align: -webkit-baseline-middle;
        font-size: 1em;
    }
    
    .fixture_text_result {
        cursor: pointer;
        vertical-align: -webkit-baseline-middle;
        font-size: 1em;
    }
    
    .fixture_text_row {
        height: 50px;
    }
    
    .matchdetails {
        width: 95%;
        height: 25%;
        background-color: #004D87;
    }
    
    .dateselect {
        width: 95%;
        height: 7.5%;
        background-color: #8DCF24;
        margin-bottom: 1%;
    }
    
    #leftarrow {
        float: right;
        cursor: pointer;
    }
    
    #rightarrow {
        float: left;
        cursor: pointer;
    }
    
    .calenderposition {
        margin-left: 40%;
        margin-top: -8%;
    }
    
    .matchdetails h4 {
        color: white;
    }
    
    .top {
        height: 35px;
        background: #8DCF24;
    }
    
    .calendar {
        text-align: center;
        color: white;
    }
    
    .calendar_def {
        text-align: center;
        color: white;
        padding: 0px;
    }
    
    .fixture_middle_content {
        display: flex;
        align-items: center;
        padding-left: 0px;
    }
    
    .bttn {
        margin-left: 0px;
        width: 140px;
        height: 36px;
        padding-top: 1px;
        padding: 0px;
    }
    
    .resultados {
        padding: 0px;
        height: 36px;
    }
    
    .finalRonda {
        padding: 0px;
        height: 36px;
    }
    
    .scrolling {
        height: 120px;
        overflow-y: scroll;
    }
    
    .invite_popup_header {
        background: #00253f;
        padding: 11px;
    }
    
    .invite_popup_header .popup_heading {
        margin: 0;
        color: white;
        padding-left: 0;
        padding-top: 7px;
        font-size: 2em;
        text-transform: uppercase;
        font-family: ChaletComprime CologneEighty;
    }
    
    .nextRoundDiv {
        background-color: #003366;
        color: white;
        padding-bottom: 1%;
        padding-top: 1%;
        margin-top: 5px;
    }
    
    .backdrop {
        position: fixed;
        background: rgba(14, 14, 14, 0.42);
        ;
        width: 100%;
        height: 100%;
        top: 45px;
        left: 0px;
        z-index: 1
    }
    
    .mobview {
        display: none;
    }
    
    .text_center {
        text-align: left;
        margin-top: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 65px;
        overflow: hidden;
    }
    
    .arrow {
        position: absolute;
        top: -3px;
        background: transparent !important;
        font-size: 23px;
        left: 61%
    }
    /******* web css *******/
    
    @media only screen and (min-width: 640px) {
        .arrow {
            position: absolute;
            top: -3px;
            left: 56%;
            background: transparent;
            font-size: 23px;
        }
        .web_round_list {
            display: block;
            text-align: center;
        }
        .bttn {
            width: 155px;
            height: 36px;
            padding-top: 1px;
            margin-left: 78px;
            padding: 0px;
        }
        .edit_round_button {
            font-size: 0.98em
        }
        .fixture_middle_content {
            display: flex;
            align-items: center;
            padding-left: 10px;
            position: relative;
        }
        .fix_txt {
            position: absolute;
            right: 10px;
        }
        .mobile_round_list {
            display: none;
        }
        .viewBy {
            display: block;
        }
        .head {
            background-image: url('./../../../../../assets/images/back.jpg');
            background-size: 100% 100%;
            height: 220px;
        }
        .icon-bar {
            width: 100%;
            text-align: center;
            overflow: auto;
        }
        .icon-bar a {
            width: 17%;
            padding: 12px 0px;
            float: left;
            transition: all 0.3s ease;
            color: #828282;
            font-size: 21px;
            text-decoration: none;
        }
        h3 {
            font-size: 1.3em;
        }
        .sections {
            width: 80%;
            margin: 0 auto;
            margin-top: 5%;
        }
        .section {
            margin-left: 6%;
        }
        .informacion>h3 {
            padding-left: 4%;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
        .informacion>p {
            font-size: 1.1em;
        }
        .informacion>p {
            line-height: 1.8;
            padding-left: 4%;
        }
        .informacion {
            border: 2px solid #828282;
            padding-bottom: 7%;
            width: 85%;
        }
        .paletando {
            width: 85%;
            border: 2px solid #828282;
            margin-top: 10%;
        }
        .para {
            margin-top: 5%;
        }
        .paletando>h3 {
            padding-top: 3%;
            padding-bottom: 3%;
            padding-left: 4%;
        }
        .rank {
            padding-left: 4%;
        }
        big {
            font-size: 20px;
            margin: 5px;
        }
        hr {
            margin-top: 2%;
        }
        .contain {
            width: 70%;
        }
        .linkCustom {
            border-radius: 3px;
        }
        .hoverOnTd {
            color: #737373;
            text-align: center;
            background-color: #e6e6e6;
            text-transform: uppercase;
            padding: 10px;
            cursor: pointer;
            border: 1px solid #cfcfcf;
        }
        .rounds {
            background-color: #8DCF24;
            color: white;
            text-transform: uppercase;
            text-align: center;
        }
        .colDiv {
            background-color: #8DCF24;
            padding: 1.2%;
            text-align: center;
        }
        .colorSUm {
            color: white;
        }
        .part1div {
            background-color: #e6e6e6;
        }
        .match {
            color: #8DCF24;
            font-size: 12px;
        }
        .name {
            margin: 4%;
        }
        .matches {
            color: white;
        }
        .value {
            color: #737373;
            font-size: 12px;
        }
        .franceCol {
            position: relative;
        }
        .france {
            font-size: 12px;
            float: left;
            margin-left: 10%;
            margin-top: 8%;
        }
        .circleImage {
            border-radius: 15px;
        }
        .circleDiv {
            height: 30px;
            width: 30px;
            background-color: red;
        }
        .colorRows {
            background-color: #003366;
            color: white;
        }
        .time {
            font-size: 12px;
            margin-top: 20%;
            margin-right: 10%;
        }
        .cirImage {
            border-radius: 15px;
            float: left;
            margin-left: 8%;
        }
        .Portugal {
            margin-top: 8% !important;
        }
        .widthRow {
            width: 98%;
            margin-left: 1%;
        }
        .manual {
            margin-top: 5% !important;
        }
        /**************querterfinal********************/
        .colDi {
            background-color: #8DCF24;
            padding: 1.2%;
            padding-left: 9%;
            color: white;
        }
        .circleimg {
            border-radius: 50%;
            width: 90px;
            height: 90px;
        }
        .partdiv {
            background: #00253f;
            padding-top: 4%;
            padding-bottom: 4%;
        }
        span.franc {
            color: white;
        }
        .matchh {
            color: #8DCF24;
            font-size: 1.2em;
        }
        .timee {
            padding-top: 4%;
            padding-bottom: 4%;
            font-size: 3em;
            color: white;
        }
        .valuee {
            color: white;
        }
        .no_rounds {
            padding: 10px;
            background: #003366;
            color: white;
        }
        .fixture_card {
            padding: 10px 0;
            height: 60px;
            margin-bottom: 5px;
        }
        .card_center_div {
            background: #003366;
            color: white;
        }
        .card_left_div {
            background: #e6e6e6;
            text-align: left;
            color: #8DCF24;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .fixture_img {
            height: 50px;
            width: 50px;
            vertical-align: -webkit-baseline-middle;
            border-radius: 60%
        }
        .team_img {
            height: 50px;
            width: 50px;
            vertical-align: -webkit-baseline-middle;
            border-radius: 60%;
        }
        .fixture_text {
            vertical-align: -webkit-baseline-middle;
            font-size: 14px;
        }
        .fixture_text_time {
            vertical-align: -webkit-baseline-middle;
            font-size: 2em;
        }
        .fixture_text_penality {
            vertical-align: -webkit-baseline-middle;
            font-size: 1em;
        }
        .fixture_text_result {
            cursor: pointer;
            vertical-align: -webkit-baseline-middle;
            font-size: 2em;
        }
        .fixture_text_row {
            height: 50px;
        }
        .matchdetails {
            width: 95%;
            height: 25%;
            background-color: #004D87;
        }
        .dateselect {
            width: 95%;
            height: 7.5%;
            background-color: #8DCF24;
            margin-bottom: 1%;
        }
        #leftarrow {
            float: right;
            cursor: pointer;
        }
        #rightarrow {
            float: left;
            cursor: pointer;
        }
        .calenderposition {
            margin-left: 40%;
            margin-top: -8%;
        }
        .matchdetails h4 {
            color: white;
        }
        .pbttn {
            padding: 0px;
            font-size: 0.9em;
            padding-top: 3px;
        }
        .ground_name_text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 150px;
            display: inline-block;
        }
        .headingOfPopupReserve {
            background-color: #00253F;
        }
        .headingOfPopupReserve span {
            color: white;
            text-transform: uppercase;
            font-size: 3em;
            font-family: 'ChaletComprime CologneEighty';
        }
        .backdropMessage {
            position: fixed;
            background: rgba(14, 14, 14, 0.42);
            ;
            width: 100%;
            height: 100%;
            top: 45px;
            left: 0px;
            z-index: 1
        }
        .invite_popup_header {
            background: #00253f;
            padding: 11px;
        }
        .invite_popup_header .popup_heading {
            margin: 0;
            color: white;
            padding-left: 0;
            padding-top: 7px;
            font-size: 2em;
            text-transform: uppercase;
            font-family: ChaletComprime CologneEighty;
        }
        .text_center {
            text-align: left;
            margin-top: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 148px;
            overflow: hidden;
        }
        .scrolling {
            height: 250px;
            overflow-y: scroll;
        }
        .nextRoundDiv {
            background-color: #003366;
            color: white;
            padding-bottom: 1%;
            padding-top: 1%;
            margin-top: 5px;
        }
        .mobview {
            display: block;
        }
    }
    
    .downloadButton {
        color: grey;
        font-size: 22px;
        cursor: pointer;
        float: right;
    }
    
    .captain_name_first {
        border-color: black;
        border-style: solid;
        border-width: 0px 1px 0px 1px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .captain_name_second {
        border-color: black;
        border-style: solid;
        border-width: 0px 1px 0px 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    table,
    th,
    {
        border-collapse: collapse;
        border-color: black;
        border-style: solid;
        text-align: center;
        font-family: 'Montserrat-Light';
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    table,
    tr,
    td {
        font-size: 13px;
        font-family: 'Montserrat-Light';
    }
    
    table,
    td {
        border-collapse: collapse;
        border-color: black;
        border-style: solid;
        text-align: center;
        font-family: 'Montserrat-Light';
        font-size: 11px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    table tr td:nth-child(2) {
        text-align: left;
        padding-left: 5px;
    }
    
    table tr th:nth-child(2) {
        text-align: left;
        padding-left: 5px;
    }
    
    .table_first,
    th,
    td {
        border-width: 1px 1px 1px 1px;
    }
    
    .table_second,
    th,
    td {
        border-width: 1px 1px 1px 0px;
    }
    
    @media only screen and (min-width:640px) and (max-width:768px) {
        .bttn {
            margin-left: 0px;
            width: 155px;
            height: 39px;
            padding-top: 1px;
        }
        .buttonDiv>* {
            width: initial !important;
        }
    }
    
    .table_info img {
        width: 60px;
        height: 60px;
    }
    
    .table_info {
        padding: 0px;
        width: 700px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .top_text {
        font-size: 12px;
        padding-bottom: 10px;
        font-family: 'Montserrat-Light';
        color: #00253f;
        line-height: 20px;
        border-color: black;
        border-style: solid;
        border-width: 1px 0px 0px 1px;
    }
    
    #download {
        width: 795px;
        margin: 0 auto;
        margin-top: 20px;
        height: 460px;
        overflow-y: auto;
    }
    
    .tour_logo {
        border-color: black;
        border-style: solid;
        border-width: 1px 0px 0px 0px;
        text-align: -webkit-center;
    }
    
    .pelo_logo {
        border-color: black;
        border-style: solid;
        border-width: 1px 1px 0px 0px;
        text-align: right;
    }
    
    .tour_name {
        text-align: center;
        font-size: 28px;
        font-family: 'ChaletComprime CologneEighty';
        border-style: solid;
        border-width: 0px 1px 0px 1px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .team_name {
        text-align: right;
        font-size: 15px;
        font-family: 'Montserrat-Regular';
        color: #00253f;
    }
    
    .team_name_one {
        font-size: 15px;
        font-family: 'Montserrat-Regular';
        color: #00253f;
        /* align-items: center; */
        /* justify-content: center; */
    }
    
    .vs {
        font-family: 'Montserrat-Regular';
        text-align: center;
        font-size: 16px;
        color: #CECECE;
    }
    
    .name_div {
        width: 100%;
        border-color: black;
        border-style: solid;
        padding: 0 0 10px 0;
        border-width: 1px 1px 1px 1px;
    }
    
    .captain {
        font-size: 18px;
        font-family: 'Montserrat-Light';
        color: #00253f;
        width: 100%;
        border-top: 0;
    }
    
    .details {
        width: 100%;
        display: -webkit-inline-box;
    }
    
    .details div {
        display: flex;
    }
    
    .details p {
        font-size: 20px;
        font-family: 'ChaletComprime CologneEighty';
        color: #00253f;
        padding-right: 42px;
        width: 100%;
    }
    
    .details_name {
        width: 100%;
        border: 1px solid;
        border-top: 0;
    }
    
    .details_name .name_info p {
        font-size: 15px;
        font-family: 'ChaletComprime CologneEighty';
        color: #00253f;
        width: 100%;
        white-space: nowrap
    }
    
    .details_name .name_info div {
        display: flex;
    }
    
    .p_name {
        text-align: left;
    }
    
    #download {
        background: white
    }
    
    .leftBorder {
        border-right: 1px solid;
    }
    
    .rightBorder {
        border-left: 1px solid;
    }
    
    #download_image {
        width: 795px;
        margin: 0 auto;
        margin-top: 20px;
        height: 440px;
        overflow-y: auto;
    }
    
    .table_info_image {
        padding: 0px;
        width: 700px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .tour_logo_image {
        text-align: -webkit-center;
        padding: 0px;
        position: relative;
    }
    
    .tour_logo_image :nth-child(2) {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        position: absolute;
        transform: translate(-50%, -50%);
        border: 2px solid #8DCF24;
    }
    
    .tour_logo_image :nth-child(1) {
        width: 100%;
        height: 130px;
    }
    
    .tour_name_image {
        text-align: center;
        font-size: 30px;
        font-family: 'ChaletComprime CologneEighty';
        text-transform: capitalize;
        margin-top: 45px;
        color: #0D2A43;
        display: grid;
    }
    
    .tour_name_image :nth-child(2) {
        color: gray;
        font-weight: 100;
        font-size: 0.5em;
        padding-top: 4px;
        font-family: 'Montserrat-Regular';
    }
    
    .table_name_image span {
        font-size: 15px;
        color: white;
    }
    
    .table_name_image {
        background: #00253f;
        text-align: center;
    }
    
    .captain_image {
        font-size: 22px;
        font-family: 'ChaletComprime CologneEighty';
        width: 100%;
        border-top: 0;
        background: #f2f2f2;
        margin-bottom: 5px;
        border: 1px solid #d7d7d7;
        margin-top: 5px;
    }
    
    .sponser_image {
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        justify-content: center;
        font-size: 15px;
        background: #f2f2f2;
    }
    
    .sponser_image img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin-left: 15px;
        border: 2px solid #8DCF24;
    }
    
    .footer_image {
        position: relative;
        background: #0C2841;
        display: grid;
        justify-content: center;
        color: white;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .footer_image img {
        width: 80px;
    }
    
    .footer span {
        padding-top: 5px;
        font-family: Montserrat-Light;
        font-size: 1.2em;
    }
    
    .fa-download {
        background: #8DCF25 !important;
        width: initial !important;
    }
    
    .fa {
        width: 25px;
        background: #113861;
        font-size: 20px;
        border-radius: 50%;
        padding: 7px;
        color: white;
        cursor: pointer;
    }
    
    .buttonDiv {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .buttonDiv>* {
        margin-right: 5px;
        width: 32%;
        white-space: nowrap;
    }
    
    .buttonDiv a {
        width: initial !important
    }
    
    .delete_ground_header {
        background: #00253f;
        padding: 11px;
        text-align: center;
    }
    
    .delete_ground_header span {
        margin: 0;
        color: white;
        padding-left: 5px;
        padding-top: 7px;
        font-size: 2.5em;
        text-transform: uppercase;
        font-family: ChaletComprime CologneEighty;
    }
    
    .popupBttn {
        display: flex;
        margin-bottom: 15px;
        justify-content: center;
    }
    
    .fixture_image_div {
        display: grid;
        align-items: center;
        position: relative;
        font-family: 'Montserrat-Regular';
        font-size: 0.55em;
    }
    
    .fixture_img_share {
        height: 50px;
        width: 50px;
        border-radius: 60%;
    }
    
    .fixture_text_right {
        font-size: 1.2em;
        color: #333;
    }
    
    .fixture_text_left {
        font-size: 1.2em;
        color: #333;
    }
    
    .fixture_text_share {
        text-align: center;
        color: white;
        font-family: 'Montserrat-Regular';
        font-size: 0.8em;
        display: grid;
        align-items: center;
    }
    
    .left_ground_text {
        display: block;
        margin-left: 15px;
    }
    
    .right_time_text {
        position: absolute;
        right: 15px;
    }
    
    .groundText {
        display: grid;
        align-items: center;
        justify-content: end;
        font-family: 'Montserrat-Regular';
        font-size: 0.55em;
    }
    
    .center_div {
        display: flex;
        align-items: center;
        font-family: 'Montserrat-Regular';
        font-size: 0.7em;
    }
    
    .center_div div {
        color: #333;
        margin-left: 40px;
    }
    
    .center_div div span {
        margin-left: 10px;
    }
    
    @media only screen and (max-width:640px) {
        .buttonDiv>* {
            width: inherit;
            white-space: nowrap;
            font-size: 0.8em;
        }
        .buttonDiv {
            overflow: auto;
            justify-content: inherit;
        }
    }
    
    .scroll {
        position: absolute;
        bottom: 10px;
        right: 0px;
        cursor: pointer;
        color: #8ec63f;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    
    .fill-box1 {
        height: 15px;
        width: 15px;
        border: 2px solid #dbdbdb;
        margin-top: 4px;
    }
    
    .fill-box2 {
        height: 40px;
        width: 40px;
        border: 2px solid #dbdbdb;
        float: left;
        margin-top: 12px;
    }
    
    .team-vs {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .ban {
        font-size: 8px;
        color: red;
        display: block;
    }
    
    .height-t tr {
        height: 60px;
    }
    
    .no-padding {
        padding: 0px;
    }