<loader *ngIf='loader'></loader>
<p-growl [value]="msgs"></p-growl>

<div class="ui-g top_links" style="margin-top:2%">
    <div class="ui-g-4 hoverOnTd" [class.activeLink]="status=='team'" (click)="API_getTeam()">{{'Equipos' | translate}}</div>
    <div class="ui-g-4 hoverOnTd" [class.activeLink]="status=='referee'" (click)="API_getReferee()">{{'Árbitro' | translate}}</div>
    <div class="ui-g-4 hoverOnTd" [class.activeLink]="status=='ground'" (click)="API_getGround()">{{'Canchas' | translate}}</div>
</div>

<div class="section1" *ngFor='let referee of refereeList'>
    <div class="ui-g card">
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-3 logo">
            <img [src]="referee.logo?basePath+referee.logo:'assets/images/default.png'" alt="image">
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-9 info">
            <p class="prime">{{referee.name}} <span>{{referee.last_name}}</span></p>
            <p style="color:#e6263d;font-weight:bold;">{{referee.nick_name}}</p>
            <br>
            <p style="color:#8DCF25;font-weight:bold;" class="fundado">{{'Coste por partidos' | translate}}:<span style="color:white;padding-left: 2%;">{{referee.referee_price}}</span></p>
            <p style="color:#8DCF25;font-weight:bold;line-height: 1.3;" class="fundado">{{'La edad' | translate}}:<span style="color:white;padding-left: 2%;">7</span></p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 rating">
            <p style="color:#8DCF25;font-size: 1.8em;" class="prime">{{'ACTITUD' | translate}}</p>
            <p-rating [ngModel]="referee.attitude" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <p style="color:white;padding-left: 10px;">{{'Puede mejorar' | translate}}</p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 rating">
            <p style="color:#8DCF25;font-size: 1.8em;" class="prime">{{'TECHNIQUE' | translate}}</p>
            <p-rating [ngModel]="referee.technique" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <p style="color:white;padding-left: 10px;">{{'Puede mejorar' | translate}}</p>
        </div>
        <div class="funda ui-g-6 ui-sm-6">
            <p style="color:#8DCF25;font-weight:bold;">{{'Coste por partido' | translate}}s:<br><span style="color:white;">{{referee.referee_price}}</span></p><br>
            <p style="color:#8DCF25;font-weight:bold;line-height: 1.3;">La edad:<br><span style="color:white;">7</span></p>
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-2 ui-sm-6 edit-btn">
            <button pButton type="button" label="{{'Ver perfil' | translate}}" style="margin-top: 25px;" class="ui-button-green ui-button" [routerLink]="['/dashboard/player/player-profile', referee.id]"></button>
        </div>
    </div>
</div>


<!--torneo-->
<div class="section1" *ngFor='let team of teamList'>
    <div class="ui-g card">
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-3 logo">
            <img [src]="team.team_logo?basePath+team.team_logo:'assets/images/default_team.png'" alt="image">
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-9 info">
            <p class="prime">{{team.team_name}}</p>
            <p style="color:#e6263d;font-weight:bold;">{{team.moto}}</p>
            <br>
            <p style="color:#8DCF25;font-weight:bold;" class="fundado">{{'Fundado' | translate}}:<span style="padding-left: 2%;">{{team.from_date}}</span></p>
            <p style="color:#8DCF25;font-weight:bold;line-height: 1.3;" class="fundado">{{'Número de jugadores' | translate}}:<span style="padding-left: 2%;">{{team.number_of_player}}
        </span></p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 rating">
            <p style="color:#8DCF25;font-size: 1.8em;" class="prime">{{"ACTITUD" | translate}}</p>
            <p-rating [ngModel]="team.attitude" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <br>
            <span style="color:white;padding-left: 10px;">{{'Puede mejorar' | translate}}</span>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 rating">
            <p style="color:#8DCF25;font-size: 1.8em;" class="prime">{{'TECHNIQUE' | translate}}</p>
            <p-rating [ngModel]="team.technique" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <br>
            <p style="color:white;padding-left: 10px;">{{'Puede mejorar' | translate}}</p>
        </div>
        <div class="backColor ui-g-1 ui-sm-6" style="position: relative">
            <span (click)="insetAmountInfo(team?.reg_id);insertAmountPopup=true;reg_id=team?.reg_id" class="amtMv" *ngIf="admin">{{"Pagos" | translate}}: <span style="color:white;">{{team?.amount?team?.amount+'$':'--'}}</span></span>
        </div>
        <div class="backColor ui-g-2 ui-lg-2 ui-md-2 ui-sm-6 " [class.centerDiv]="!admin">
            <button *ngIf="admin" style="margin-top: 4px;" pButton type="button" (click)="cancelPopup=true;reg_id=team?.reg_id" label="{{'CANCELAR' | translate}}" class="ui-button-green ui-button"></button>
            <button style="width: 104px;margin-top: 8px;padding: 0px;height: 37px;" pButton type="button" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button" [routerLink]="['/dashboard/team/team-profile', team.id]"></button>
        </div>
    </div>
</div>


<!--canchas-->
<div class="section1" *ngFor='let ground of groundList'>
    <div class="ui-g card">
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-3 logo">
            <img *ngIf="!ground.logo" src="assets/images/ground-profile-logo/default.png" alt="image">
            <img *ngIf="ground.logo" src={{basePath}}{{ground.logo}} alt="image">
        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-3 ui-sm-9 info">
            <p class="prime">{{ground.name}} <span class="infm">{{ground.city}}</span></p>
            <p style="color:#e6263d;font-weight:bold;">{{ground.organization}}</p>
            <br>
            <p style="color:#8DCF25;font-weight:bold;" class="fundado">{{'Tipo de cancha' | translate}}:<span style="padding-left: 2%;">Junoi 2016</span></p>
            <p style="color:#8DCF25;font-weight:bold;line-height: 1.3;" class="fundado">{{'Modalidad' | translate}}:<span style=" padding-left: 2%;">{{ground.field_format}}

        </span></p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-4 rating ratin">
            <p style="color:#8DCF25;font-size: 1.8em;" class="prime">{{'FAIRNESS' | translate}}</p>
            <p-rating [ngModel]="ground?.service" readonly="true" stars="5" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
            <p style="color:white;padding-left: 10px;">{{'Puede mejorar' | translate}}</p>
        </div>
        <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-12 ">

        </div>
        <div class="ui-g-3 ui-lg-3 ui-md-2 ui-sm-12 edit-btn">
            <button pButton type="button" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button " (click)="redirectGroundProfile(ground.id,ground.court_id)" style="width: 145px;margin-top: 25px;"></button>
        </div>
    </div>
</div>

<div class="ui-g" style="margin-top: 20px;height: 100px">
    <div class="ui-g-12 text-center" *ngIf="status=='referee' && refereeList.length===0 || status=='team' && teamList.length===0 || status=='ground' && groundList.length===0">
        <span style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
    </div>
</div>
<div class="ui-g delete_ground">
    <p-dialog [(visible)]="cancelPopup" modal="modal" [resizable]=false [responsive]=true>
        <div class="ui-g">
            <div class="ui-g-12">
                <p style="color: darkcyan">{{'Toda la información relacionada con el equipo se eliminará' | translate}}</p>
            </div>
        </div>
        <div class="ui-g" style="margin-top: 30px">
            <div class=" ui-g-6" style="text-align: end;">
                <button pButton type="button" (click)="cancelPopup=false;" label="{{'NO' | translate}}" class="ui-button"></button>
            </div>
            <div class="ui-g-6">
                <button pButton type="button" (click)="cancelPopup=false;deleteTeamInfo()" label="{{'SI' | translate}}" class="ui-button-green ui-button"></button>
            </div>
        </div>
    </p-dialog>
</div>

<div [class.backdrop]="cancelPopup"></div>
<div [class.backdrop]="insertAmountPopup"></div>

<div class="ui-g ui-fluid reservarMessage">
    <p-dialog [(visible)]="insertAmountPopup" modal="modal" [responsive]=true>
        <div class="ui-g">
            <div class="ui-g-12 headingOfPopupReserve">
                <span>{{'Inserte la cantidad' | translate}}</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <br>
                <span style="color: black">{{'Costo por equipo' | translate}}</span>
            </div>
            <div class="ui-g-6">
                <input type="number" pInputText placeholder="{{'Costo por equipo' | translate}}" [(ngModel)]="reg_fee" [disabled]=true/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <br>
                <span style="color: black">{{'Monto de pago' | translate}}</span>
            </div>
            <div class="ui-g-6">
                <input type="number" pInputText placeholder="{{'Monto de pago' | translate}}" [(ngModel)]="amount" min="0" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-2">
            </div>
            <div class="ui-g-4">
                <button type="button" pButton (click)="insertAmountPopup=false;" class="ui-button" label="{{'Cancelar' | translate}}"></button>
            </div>
            <div class="ui-g-4">
                <button type="button" pButton (click)="insetAmount(reg_id);insertAmountPopup=false;" class="ui-button-green" label="{{'Enviar' | translate}}"></button>
            </div>
            <div class="ui-g-2">
            </div>
        </div>
    </p-dialog>
</div>