.accepted-button {
    background: #f2f2f2;
    padding: 13px;
    text-align: center;
    border: #cfcfcf 1px solid;
    color: #828282;
    cursor: pointer;
}

.clsss {
    margin-left: 135px;
}

.rejected-button {
    background: #8DCF25;
    padding: 13px;
    text-align: center;
    cursor: pointer;
}

.infm {
    font-size: 12px;
    text-transform: lowercase;
    font-weight: bold;
    color: #8DCF25;
    font-family: 'Montserrat-Regular';
}

.activeLink {
    background: #8DCF25;
    ;
}

.hoverOnTd {
    color: #737373;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border: 1px solid #cfcfcf;
}

.hoverOnTd:hover {
    background-color: #8DCF25;
    ;
    color: white;
    cursor: pointer;
}

.section1 {
    max-width: 970px;
    margin: auto;
    padding-top: 1%;
}

.main-container {
    margin-top: -8%;
}

.logo>img {
    width: 82px;
    height: 82px;
    border-radius: 50%;
}

.logo {
    text-align: center;
}

.info {
    padding-left: 2%;
    line-height: 1;
    padding-top: 1%;
}

.card {
    background: #043860;
}

.rating {
    padding-top: 2%;
    text-align: center;
}

.prime {
    font-family: 'ChaletComprime CologneEighty';
}

.edit-btn {
    align-items: center;
    padding-left: 8%;
}

.p-rating {
    background: gray;
    border-radius: 25px;
}

.funda {
    display: none;
}

.prime {
    color: white;
    font-size: 2em;
}

.infom {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    border: 1px solid #828282;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

span {
    color: white;
}

.amtMv {
    color: #8DCF25;
    font-weight: bold;
    margin-top: 45px;
    white-space: nowrap;
    position: absolute;
}

.headingOfPopupReserve {
    background-color: #00253F
}

.headingOfPopupReserve span {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'ChaletComprime CologneEighty';
}

.centerDiv {
    display: flex;
    align-items: center;
}

@media screen and (min-width:320px) and (max-width:640px) {
    .rating {
        display: none;
    }
    .clsss {
        margin-left: 1px;
    }
    span {
        color: #737373;
    }
    .prime {
        color: #043860;
    }
    .funda {
        background: #043860;
    }
    .edit-btn {
        background: #043860;
    }
    .card {
        background: white;
    }
    .funda {
        display: block;
        color: red;
        padding: 2% 0% 2% 9%;
    }
    .logo>img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .info {
        padding-top: 4%;
    }
    .prime {
        font-size: 2em;
    }
    .card {
        width: 90%;
        margin: auto;
        border: 1px solid black;
    }
    .amtMv {
        display: block;
        left: 25px;
    }
    .backColor {
        background: #043860;
    }
}