<!-- <ion-header>
  <ion-navbar>
      <ion-title  >{{'Select payment' | translate}}</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-navbar>
        <div class="header_div">
            <ion-title style="text-align: center;">{{'Select payment' | translate}}</ion-title>
            <button class="moreicon" ion-button icon-only (click)="presentPopover($event)">
        <!-- <ion-icon style="color:#113861" class="moreiconrotate" name="more"></ion-icon> -->
      </button>
        </div>
    </ion-navbar>
</ion-header>

<ion-content no-padding class="body">

    <ion-grid class="maincard" style="margin-top:8px;align-items:left" radio-group [(ngModel)]="selected_payment_option">
        <ion-row>
            <ion-col col-12 no-padding class="payment_mode">
                <span>{{'Select payment option' | translate}}</span>
            </ion-col>
        </ion-row>
        <div *ngIf="this.pay_option">
            <ion-row style="margin-bottom: 10px;margin-top: 10px;">
                <ion-col col-1 no-padding>
                    <span>
            <ion-radio style="top:5px" value="minimum_fee"></ion-radio>
          </span>
                </ion-col>
                <ion-col col-9 no-padding style="padding:0px 10px">
                    <span class="payment_head">{{'Minimum fee' | translate}}</span>
                    <p no-padding no-margin class="payment_detail">{{'Pay minimum fee with your debit or credit card' | translate}}</p>
                </ion-col>
                <ion-col col-2 no-padding class="amount">
                    <span>$ {{amount1}}</span>
                </ion-col>
            </ion-row>
            <ion-row style="margin-bottom: 10px;margin-top: 10px;">
                <ion-col col-1 no-padding>
                    <span>
            <ion-radio style="top:5px" value="discount"></ion-radio>
          </span>
                </ion-col>
                <ion-col col-9 no-padding style="padding:0px 10px">
                    <span class="payment_head">{{'Entire fee' | translate}} </span>
                    <p no-padding no-margin class="payment_detail">{{'Pay entire fee with' | translate}} {{discount}} {{'% discount with your debit or credit card' | translate}}</p>
                </ion-col>
                <ion-col col-2 no-padding class="amount">
                    <span>$ {{amount2}}</span>
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf=" this.pay_optionc">
            <ion-row style="margin-bottom: 10px;margin-top: 10px;" *ngIf="!isrecurrent">
                <ion-col col-1 no-padding>
                    <span>
            <ion-radio style="top:5px" value="cash"></ion-radio>
          </span>
                </ion-col>
                <ion-col col-9 no-padding style="padding:0px 10px">
                    <span class="payment_head">{{'Pay in cash/bank transfer' | translate}}</span>
                    <p no-padding no-margin class="payment_detail">{{'Pay in cash at the field without a discount' | translate}}</p>
                </ion-col>
                <ion-col col-2 no-padding class="amount">
                    <span>$ {{cash}}</span>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>


</ion-content>
<ion-footer class="foot">
    <button (click)="paid()" class="next" ion-button>{{'Proceed to pay' | translate}}</button>
</ion-footer>