<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div style="display: flex;align-items: end;" class="ui-g-12">
            <div class="ui-g-10">
                <app-profile-complete [progress]="profile_complete_percentage"></app-profile-complete>
            </div>
            <div style="text-align: right;" class="ui-g-2">
                <img (click)="skipAll()" class="skip-all" src="assets/images/signup/Cross.png" />
            </div>
        </div>

        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"What is your mobile number?" | translate}}
            </p>
            <p-dropdown styleClass="country_code" filter="true" [options]="codes" [(ngModel)]="country_code"></p-dropdown>
            <span class="ui-float-label">
        <!-- <input id="float-input" type="number" size="40" pInputText>  -->
        <p-inputMask (keyup)="validatePhone($event)" [mask]="mask" slotChar="" maxlength='15' [(ngModel)]="mobile" [autoClear]="false"></p-inputMask>
        <label for="float-input">{{"Mobile number" | translate}}</label>
      </span>
            <img class="correct" *ngIf="checkNumber" src="assets/images/signup/correct.png" />
            <p class="exist" *ngIf="checkNumberErrorMsg">{{"This number already registered" | translate}}</p>
        </div>
        <div class="ui-g-12" style="margin-top: 32px;">
            <button (click)="next()" class="signup-bttn" pButton type="button" [disabled]="!checkNumber" label="{{'Next' | translate}}">
      </button>
        </div>

        <div class="ui-g-12" style="text-align: center">
            <p (click)="skip()" style="cursor: pointer;;color: #8b8e95;font-size: 16px;text-align: center;margin-top: 16px;display: grid;">
                {{"Skip" | translate}}
            </p>
        </div>
    </div>


</div>