<!-- <ion-header>
  <ion-navbar>
      <ion-title  >{{"Recurrent reservation" | translate}}</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-navbar>
        <div class="header_div">
            <ion-title style="text-align: center;">{{"Recurrent reservation" | translate}}</ion-title>
            <button class="moreicon" ion-button icon-only (click)="presentPopover($event)">
        <!-- <ion-icon style="color:#113861" class="moreiconrotate" name="more"></ion-icon> -->
      </button>
        </div>
    </ion-navbar>
</ion-header>

<ion-content no-padding class="body">
    <div class="spinn">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
    </div>
    <ion-grid class="maincard" style="margin-top:5px;">
        <ion-row>
            <div *ngIf="ioc" (click)="icon()">
                <img src="assets/images/Recurrent icons/Everday blue.png" class="img" />
                <br>
                <p class="ew-data">{{'Everyday' | translate}}</p>
            </div>
            <div *ngIf="!ioc" (click)="icon()">
                <img src="assets/images/Recurrent icons/Everday grey.png" class="img" />
                <br>
                <p class="w-data">{{'Everyday' | translate}}</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div *ngIf="!ioc" (click)="icon1()">
                <img src="assets/images/Recurrent icons/Weekly blue.png" class="img" />
                <br>
                <p class="ew-data">{{'Weekly' | translate}}</p>
            </div>
            <div *ngIf="ioc" (click)="icon1()">
                <img src="assets/images/Recurrent icons/Weekly grey.png" class="img" />
                <br>
                <p class="w-data">{{'Weekly' | translate}}</p>
            </div>
        </ion-row>
    </ion-grid>

    <!--<ion-grid *ngIf="!ioc" class="maincard" style="align-items:left">
        <ion-row>
            <ion-col col-12 no-padding>
                <span class="para">Select reservation<br>days</span>
            </ion-col>
        </ion-row>
        <ion-row style="padding-top:16px;">
            <div *ngFor="let i of data">
                <button ion-button [class.b2]="samay[i]" class="b1" (click)="day(i);samay[i]=button;">{{i}}</button>
            </div>
        </ion-row>
    </ion-grid>-->

    <ion-grid>
        <ion-row class="maincard" style="margin-bottom: 25%;">
            <ion-col col-12 no-padding>
                <span class="para">{{'Select reservation end date' | translate}}
                </span>

            </ion-col>
            <!-- <ion-col col-12>
      <ion-checkbox color="#8ec63f"></ion-checkbox><span style="font-size:12px;color:#464646;  font-family:roboto-regular;"> No end date</span>
    </ion-col> -->
            <ion-col no-padding col-12>
                <ion-row>
                    <ion-col col-7 class="my">
                        <ion-datetime [monthShortNames]="months" [doneText]="lang=='en'?'Done':'Hecho'" [cancelText]="lang=='en'?'Cancel':'Cancelar'" no-padding (ionChange)="calendarFormat()" [min]="min_date" max="2050" displayFormat="MMM YYYY" [(ngModel)]="date"></ion-datetime>
                    </ion-col>
                    <ion-col col-5 class="arrow">
                        <i no-padding class="fa fa-angle-down" aria-hidden="true"></i>
                    </ion-col>
                </ion-row>

                <ion-row style="    padding: 6px 0px;        ">
                    <div [class.display]='j>=7' class="days" *ngFor="let  i of days,let j=index">
                        <ion-col no-padding *ngIf="j<7">
                            {{i.day}}
                        </ion-col>
                    </div>
                </ion-row>

                <ion-row>
                    <div class="time" [class.active1]="selectd_date==i.date" (click)="date_change(i.date,i.day)" *ngFor=" let i of days,let j=index">
                        <ion-col [class.date]="selectd_date==i.date" no-padding>{{i.date}}</ion-col>
                    </div>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer class="foot">
    <button ion-button class="next" style="border-radius: 0px" (click)=pay();>{{"Proceed for reservation" | translate}}</button>
</ion-footer>