page-recurrent {
.b1{
    text-transform: none;
    background: white;
    color: #464646;
    box-shadow: none;
    border-radius: 4px; 
    height: 20px;
    width:38px;
    padding:12px;
    margin:8px;
}
.b2{
    text-transform: none;
    background: #8ec63f;
    color: white;
    border: 1px solid #8ec63f;
    box-shadow: none; 
    border-radius: 4px;
    height: 20px;
    width:38px;
    padding:12px;
    margin:8px;
}

.create .button-inner {
    width:90%;
}


.img{
   height: 28px;
    width: 28px;
    margin-left:15px;
    justify-content: center;
}

.day{
    margin-left:-20px;
}

.ew-data{
    margin-top:4px;
    font-size:16px;
    font-family:"roboto-regular";
    color:#464646;
}
.w-data{
    margin-top:4px;
    font-size:16px;
    color:#999999;
    font-family:"roboto-regular";
}

    .day{
        margin:8px;
        padding:2px;
        font-size:14px;
        color:#464646;
        font-family:roboto-regular;
    }
    .time{
        width:14.28%;
        padding:2px;
        font-family: roboto-regular;
        color:#464646;
        cursor:pointer;
        padding: 6px 0px;
        text-align: center;

    }

    .days{
        width:14.28%;
        padding:2px;
        font-family: roboto-regular;
        color:#464646;
        cursor:pointer;
        padding: 6px 0px;
        text-align: center;
    }
    .active1 {
        width: 14.28%;
        padding: 2px;
        font-family: roboto-regular;
        color: #464646;
        cursor: pointer;
        padding: 6px 0px;
        text-align: center;
        border-radius: 9px;
        background: #8ec63f;
    }
    .display{
        display: none;
    }

}