<div *ngIf="results?.is_tournament" style="padding: 0px;" class="ui-g">
  <div class="ui-g-6">
    Registration ID
  </div>

  <div class="ui-g-6">
    {{results?.registration_id}}
  </div>

  <div class="ui-g-6">
    Tournament Name
  </div>

  <div class="ui-g-6">
    {{results?.paid_to}}

  </div>

  <div class="ui-g-6">
    Transaction ID
  </div>

  <div class="ui-g-6">
    {{results?.transaction_id}}

  </div>

  <div class="ui-g-6">
    DateTime
  </div>

  <div class="ui-g-6">
    {{results?.date_time|date:'dd/MM/yyyy'}} {{results?.date_time|date:'shortTime'}}

  </div>
  <div class="ui-g-12">
    <hr>
  </div>

  <div class="ui-g-6">
    Tournament Registration Fee
  </div>

  <div class="ui-g-6">
    ${{(results?.registration_fee)}}
  </div>

  <div class="ui-g-6">
    Vat(12%)
  </div>

  <div class="ui-g-6">
    ${{(results?.gateway_vat_charge)}}
  </div>

  <div class="ui-g-6">
    Surcharge({{results?.tour_vat}}%)
  </div>

  <div class="ui-g-6">
    ${{(results?.surcharge)}}
  </div>

  <div class="ui-g-6">
    Sub Total
  </div>

  <div class="ui-g-6">
    ${{(results?.sub_total)}}
  </div>

  <div class="ui-g-6">
    Payment gatway charges(1.5%)
  </div>

  <div class="ui-g-6">
    ${{(results?.paymentez_fee)}}
  </div>

  <div class="ui-g-12">
    <hr>
    <div class="ui-g-6">
      Total Amount Paid
    </div>
    <div class="ui-g-6">
      ${{(results?.total_amount)}}
    </div>
    <hr>
  </div>

  <div class="ui-g-6">
    Pending Amount(If any)
  </div>
  <div class="ui-g-6">
    ${{(results?.pending_amount)}}
  </div>

</div>


<div *ngIf="!results?.is_tournament" style="padding: 0px;" class="ui-g">
  <div class="ui-g-6">
    Reservation ID
  </div>

  <div class="ui-g-6">
    {{results?.reservation_id}}
  </div>

  <div class="ui-g-6">
    Chancha Name
  </div>

  <div class="ui-g-6">
    {{results?.paid_to}}

  </div>

  <div class="ui-g-6">
    Transaction ID
  </div>

  <div class="ui-g-6">
    {{results?.transaction_id}}

  </div>

  <div class="ui-g-6">
    DateTime
  </div>

  <div class="ui-g-6">
    {{results?.date_time|date:'dd/MM/yyyy'}} {{results?.date_time|date:'shortTime'}}

  </div>
  <div class="ui-g-12">
    <hr>
  </div>

  <div class="ui-g-6">
    Reservation Fee
  </div>

  <div class="ui-g-6">
    ${{(results?.reservation_fee)}}

  </div>

  <div class="ui-g-6">
    Vat(12%)
  </div>

  <div class="ui-g-6">
    ${{(results?.gateway_vat_charge)}}
  </div>

  <div class="ui-g-6">
    Surcharge({{results?.ground_vat}}%)
  </div>

  <div class="ui-g-6">
    ${{(results?.surcharge)}}
  </div>

  <div class="ui-g-6">
    Sub Total
  </div>

  <div class="ui-g-6">
    ${{(results?.sub_total)}}
  </div>

  <div class="ui-g-6">
    Payment gatway charges(1.5%)
  </div>

  <div class="ui-g-6">
    ${{(results?.paymentez_fee)}}
  </div>

  <div class="ui-g-12">
    <hr>
    <div class="ui-g-6">
      Total Amount Paid
    </div>
    <div class="ui-g-6">
      ${{(results?.total_amount)}}
    </div>
    <hr>
  </div>

  <div class="ui-g-6">
    Pending Amount(If any)
  </div>
  <div class="ui-g-6">
    ${{(results?.pending_amount)}}
  </div>


</div>


<div style="text-align:right" class="ui-g-12">
  <button class="ui-button-green" label="Back" style="width:125px" [routerLink]="['../../user-payments']" pButton></button>
</div>