.daysBttn {
    position: relative;
    top: 38px;
}

.daysBttn div {
    position: relative;
    width: 100%;
}

.daysBttn div button {
    position: absolute;
    right: 0px;
}

.arrow {
    font-size: 1.9em;
    margin-right: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

.arrow_pos {
    background-color: #8DCF25;
    height: 32px;
    display: inline-block;
}

.day_select_bttn {
    text-align: end;
}

.active {
    background: #2E8B57 !important;
}

.fixture_card {
    background: #003366;
    margin-bottom: 5px;
    border: 1px solid;
}

.fixture_card_popup {
    background: #003366;
    border: 1px solid;
}

.resName {
    background: white;
}

.resName>img {
    width: 82px;
    height: 82px;
    border-radius: 50px;
    margin-top: 8px;
}

.groundName {
    position: relative;
    top: -40px;
    left: 15px;
    color: black;
    font-size: 2em;
    font-family: 'ChaletComprime CologneEighty';
}

.card_btn {
    padding-top: 1em;
}

.card_left_div {
    background: #e6e6e6;
    text-align: center;
    color: #66cc00;
    height: 85px;
    line-height: 25px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2999;
}

.as_player {
    padding: 0px 0px;
    font-size: 12px;
    background: #828282;
}

.loadcomponent {
    left: 40.5em;
    top: 4.5em;
    position: absolute;
    z-index: 1;
}

.card_center_div {
    background: #003366;
    color: white;
    text-align: center;
    display: table-cell;
    height: 85px;
}

.fixture_text_row {
    height: 50px;
}

.fixture_text {
    vertical-align: -webkit-baseline-middle;
}

.fixture_img {
    height: 35px;
    width: 35px;
    vertical-align: -webkit-baseline-middle;
}

.fixture_text_time {
    vertical-align: -webkit-baseline-middle;
    font-size: 21px;
}

.top {
    height: 40px;
    background: #8DCF24;
}

.card-heading {
    color: black;
    font-size: 2em;
    font-family: 'ChaletComprime CologneEighty';
}

.card-text {
    color: white;
}

.card-image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.card-image1 {
    width: 93%;
    margin-top: -3px;
    border-radius: 50px;
}

.bt {
    width: 132px;
    margin-top: 15px;
    height: 36px;
    padding: 2px;
    font-size: 12px;
}

.no-data-msg {
    text-align: center;
    margin-top: 70px;
}

.no-msg-span {
    text-align: center;
    font-size: 20px;
    color: darkcyan;
}

.card-info {
    padding-left: 20px;
}

.calendar {
    text-align: center;
    color: white;
}

.active {
    background: #2E8B57 !important;
}

.calendar {
    text-align: center;
    color: white;
}

.butn {
    text-align: center;
    padding-top: 18px;
}

.schedule {
    border-radius: 0px;
    background: white;
}

.date_header {
    font-size: 2em;
    margin-left: 100px;
}

.day_select_bttn {
    text-align: end;
}

.time_text {
    padding-top: 55px;
    font-size: 1.5em;
}

.week_info {
    text-align: center;
    padding-top: 5px;
}

.week_time {
    font-size: 1.0em;
    width: 81px;
    background-color: white;
    border: 1px solid lightgray;
    text-align: center;
}

.week_div {
    height: 33px;
    width: 13%;
    background-color: white;
    border: 1px solid lightgray;
}

.week_div_info {
    height: 40px;
    background-color: #F0F2F4;
    border: 1px solid lightgray;
    width: 950px;
}

.week_div_info_inner {
    height: 40px;
    background-color: #F0F2F4;
    border: 1px solid lightgray;
    width: 124.4px;
    text-align: center;
}

.data_display {
    background-color: darkcyan;
    margin-left: -6px;
    margin-top: -6px;
    width: 122px;
    height: 31px;
    cursor: pointer;
}

.data_display_tour {
    background-color: #7DC242;
    margin-left: -6px;
    margin-top: -6px;
    width: 122px;
    height: 31px;
    cursor: pointer;
}

.data_display_tour_ref {
    background-color: cadetblue;
    margin-left: -6px;
    margin-top: -6px;
    width: 122px;
    height: 31px;
    cursor: pointer;
}

.data_display_reservation {
    background-color: burlywood;
    margin-left: -6px;
    margin-top: -6px;
    width: 122px;
    height: 31px;
    cursor: pointer;
}

.info {
    padding-left: 2%;
    padding-top: 1%;
}

.fundado span {
    color: white;
}

.rating {
    padding-top: 2%;
}

.prime {
    font-family: 'ChaletComprime CologneEighty';
}

.card {
    background: #043860;
}

.logo_res>img {
    width: 82px;
    height: 82px;
    border-radius: 50px;
    margin-top: 8px;
}

.logo_res {
    text-align: center;
}

.edit_btn {
    display: flex;
    align-items: center;
}

@media only screen and (min-width:768px) and (max-width: 800px) {
    .schedule {
        padding: 0em;
    }
    .tabtext {
        padding: .75em 1.3em !important;
    }
    .arrow {
        padding-left: 5px;
    }
    .week_div_info {
        width: 755px;
    }
    .week_div_info_inner {
        width: 98.7px;
    }
    .week_time {
        width: 67px;
    }
}

@media only screen and (max-width: 40em) {
    .card-image1 {
        width: 105%;
        margin-top: 13px;
    }
    .head {
        padding: 0px;
        margin-left: 0em !important;
    }
    .text {
        padding: 0px !important;
        margin-left: 0em !important;
        margin-top: 0em !important;
    }
    .card-heading {
        color: black;
        font-size: 2em;
    }
    .vs {
        color: black !important;
        margin-left: 20px;
    }
    .card-text {
        font-size: 11px;
    }
    .fixture_card {
        padding: 0px 0px 0px 0px;
        ;
        height: initial;
        background: #fff;
        border: 1px solid gray;
    }
    .fixture_card_popup {
        padding: 0px 0px 0px 0px;
        ;
        height: initial;
        background: #fff;
        border: 1px solid gray;
    }
    .bt {
        font-size: 11px;
        padding: 3px 0px 1px 0px;
        width: 10em;
        margin-top: 1px;
        height: 36px;
    }
    .butn {
        text-align: center;
        padding: 3px 0px 0px 0px;
    }
    .logo {
        padding: 8px 0px 0px 0px;
    }
    .card-info {
        background: #003366;
        padding: 15px 0px 12px 17px;
        margin: 0px;
    }
    .sm {
        padding: 3px 0px;
    }
    .butn {
        padding-top: 0px;
        margin-left: 1%;
    }
    .sort {
        margin-left: 0px;
    }
    .week_time {
        padding-top: 16px;
        font-size: 1.0em;
        width: 40px;
    }
    .week_div {
        height: 50px;
        width: 12%;
    }
    .week_div_info_inner {
        width: 39.4px;
        font-size: 0.8em;
    }
    .week_div_info {
        width: 302px;
    }
    .arrow {
        font-size: 1.2em;
        margin-top: 10px;
    }
    .date_header {
        font-size: 1em;
    }
    .schedule {
        font-size: 0.8em;
    }
    .date_header {
        margin-left: 0px;
    }
    .day_select_bttn {
        text-align: start;
    }
    .time_text {
        padding-top: 0px;
    }
    .data_display {
        height: 48px;
    }
    .data_display_tour {
        height: 48px;
    }
    .rating {
        display: none
    }
}