<div class="ui-g daysBttn">
    <div>
        <span class="arrow_pos">
                <i class="fa fa-4x fa-chevron-left arrow " aria-hidden="true" (click)="previousDate(ref)"></i>
                <i class="fa fa-4x fa-chevron-right arrow" aria-hidden="true" (click)="nextDate(ref)"></i>
        </span>
        <button pButton type="button" label="{{'Semana' | translate}}" [class.active]="selected_link == 'semana'" class="ui-button-green bttn schedule day_select_bttn" (click)="sortBy('week',ref);selected_link='semana'"></button>
    </div>
</div>
<div class="ui-g">
    <p-schedule [allDaySlot]='allDaySlot' [defaultView]="defaultView" [events]="events" #ref [header]="header " (onEventClick)="handleEventClick($event) " locale="pt"></p-schedule>
</div>


<div class="ui-g ui-fluid">
    <p-dialog [(visible)]="match_Info_popup" modal="modal" class="ground_schedule_popup" (click)="match_Info_popup=false">
        <div class="ui-g fixture_card_popup" *ngIf="matchPopup">
            <div class="ui-g-4 ui-sm-12 ui-md-4 ui-lg-4 schedule">
                <div class="ui-g-3 ui-sm-3 ui-md-3 ui-lg-3">
                    <img class="card-image" src="{{match_info?.team1_logo?imageUrl+match_info?.team1_logo:'assets/images/default_team.png'}}" />
                </div>
                <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6" style="margin:auto;padding-top:1em;padding-left:1em;">
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding:0em .5em;">
                        <span class="card-heading">{{match_info?.team1_name}}</span>
                        <p class="vs" style="color:black;margin-left: 20px;">VS</p>
                        <span class="card-heading">{{match_info?.team2_name}}</span>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="padding:0em .5em;">
                        <button pButton type="button" label="{{'ÁRBITRO' | translate}}" class="ui-button-red as_player"></button>
                    </div>
                </div>
                <div class="ui-g-3 ui-sm-3 ui-md-3 ui-lg-3">
                    <img class="card-image" src="{{match_info?.team2_logo?imageUrl+match_info?.team2_logo:'assets/images/default_team.png'}}" />
                </div>
            </div>
            <div class="ui-g-4 ui-sm-6 ui-md-4 ui-lg-4  card-info" style="background:#003366;">
                <div class="ui-g">
                    <div class="ui-g-3 ui-sm-12 ui-md-3 ui-lg-3 head">
                        <span class="card-heading" style="color:#66cc00;">{{'Horario' | translate}}:</span>
                    </div>
                    <div class="ui-g-9 ui-sm-12 ui-md-9 ui-lg-9 text tabtext" style="padding:.75em 2em;">
                        <span class="card-text" *ngIf="!(match_info?.date==''||match_info?.date==null)">{{match_info?.date|date:'shortDate'}} {{match_info?.date|date:'shortTime'}}</span>
                        <span class="card-text" *ngIf="match_info?.date==''||match_info?.date==null">---</span>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-sm-12 ui-md-3 ui-lg-3 head tabcancha">
                        <span class="card-heading" style="color:#66cc00;">{{'Cancha' | translate}}:</span>
                    </div>
                    <div class="ui-g-9 ui-sm-12 ui-md-9 ui-lg-9 text" style="padding:.75em 0em;margin-top:-3em;margin-left:6.2em;">
                        <span class="card-text" *ngIf="!(match_info?.ground_name==''||match_info?.ground_name==null)">{{match_info?.ground_name}}</span>
                        <span class="card-text" *ngIf="match_info?.ground_name==''||match_info?.ground_name==null">---</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-4 ui-sm-6 ui-md-4 ui-lg-4 card_btn" style="background:#003366;">
                <div class="ui-g-4 ui-sm-4 ui-md-4 ui-lg-4 logo">
                    <img class="card-image1" src="{{match_info?.second_team_logo?imageUrl+match_info?.second_team_logo:'assets/images/tournament-profile-logo/default.png'}}" />
                </div>
                <div class="ui-g-8 ui-sm-8 ui-md-8 ui-lg-8 butn">
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="text-align:right;">
                        <button pButton type="button" label="{{'VER PERFIL' | translate}}" class="ui-button-green " style="width: 132px;" (click)="redirectProfileTeam(match_info?.team2_pk)"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g card" *ngIf="reservationPopup">
            <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-3 logo_res">
                <img *ngIf="match_info?.image == null" src="assets/images/Rectangle.png" alt="image">
                <img *ngIf="match_info?.image != null" src="{{imageUrl}}{{match_info?.image}}" alt="image">
            </div>
            <div class="ui-g-5 ui-lg-5 ui-md-5 ui-sm-9 info">
                <br>
                <p style="color:#8DCF25;font-weight:bold;white-space:nowrap;" class="fundado">{{'Nombre' | translate}}:<span style="padding-left: 2%;">{{match_info?.name}}</span></p>
                <p style="color:#8DCF25;font-weight:bold;white-space:nowrap;" class="fundado">{{'Modalidad de juego' | translate}}:<span style="padding-left: 2%;">{{match_info?.field_format}}</span></p>
                <p style="color:#8DCF25;font-weight:bold;line-height:1.3;white-space:nowrap;" class="fundado">{{'Tipo de cancha' | translate}}:<span style="padding-left: 2%;">{{match_info?.type_of_field}}
</span></p>
                <p style="color:#8DCF25;font-weight:bold;white-space:nowrap;" class="fundado">{{'Hora' | translate}}:<span style="padding-left: 2%;">{{match_info?.time}}</span></p>
                <p style="color:#8DCF25;font-weight:bold;line-height:1.3;white-space:nowrap;" class="fundado">{{'Fecha' | translate}}:<span style="padding-left: 2%;">{{match_info?.date}}
</span></p>
            </div>
            <div class="ui-g-3 ui-lg-3 ui-md-3 rating">
                <p style="color:#8DCF25;font-size: 1.8em;padding-left:11%;" class="prime">{{'FAIRNESS' | translate}}</p>
                <p-rating readonly="true" stars="5" [(ngModel)]="match_info.fairness" [cancel]="false" class="ui-g-12 p-rating"></p-rating>
                <p style="color:white;margin-left:.8em;">{{'Puede mejorar' | translate}}</p>
            </div>


            <div class="ui-g-2 ui-lg-2 ui-md-2 ui-sm-12 edit_btn" *ngIf="!admin">
                <button pButton type="button" (click)="redirectProfile(match_info?.id)" label="{{'VERPERFIL' | translate}}" class="ui-button-green ui-button"></button>
            </div>
        </div>
    </p-dialog>
</div>
<div [class.backdrop]="match_Info_popup" (click)="match_Info_popup=false"></div>

<div class="ui-g-12">
    <div class="ui-g-6" style="background-color: #3a87ad;margin-top: 5px;"></div>
    <div class="ui-g-6" style="padding: 0px;text-align: -webkit-center;">{{'Partido' | translate}}</div>
</div>
<div class="ui-g-12">
    <div class="ui-g-6" style="background-color:#FFDC7A;margin-top: 5px;"></div>
    <div class="ui-g-6" style="padding: 0px;text-align: -webkit-center;">{{'Torneo' | translate}}</div>
</div>
<div class="ui-g-12">
    <div class="ui-g-6" style="background-color: #9FDDF1;margin-top: 5px;"></div>
    <div class="ui-g-6" style="padding: 0px;text-align: -webkit-center;">{{'Torneo arbitro' | translate}}</div>
</div>
<div class="ui-g-12">
    <div class="ui-g-6" style="background-color: darkcyan;;margin-top: 5px;"></div>
    <div class="ui-g-6" style="padding: 0px;text-align: -webkit-center;">{{'Reservas' | translate}}</div>
</div>