 .tab-btn1 {
     width: 100%;
     border-radius: 0px;
     background: #F0F2F3;
     color: #8b8e95;
     font-size: 15px;
     text-transform: none;
 }
 
 .tab-btn {
     background: #8ec63f !important;
     color: white;
 }
 
 .team {
     width: 40px;
     height: 40px;
     border-radius: 47px;
 }
 
 .match_div {
     box-shadow: 0px 0px 4px 0px #d7d7d7;
     background-color: #113861;
     color: white;
     width: 100%;
     margin-bottom: 8px;
     border-radius: 6px;
     height: 100%;
 }
 
 .flex {
     display: flex;
     align-items: center
 }
 
 div {
     padding: 0px;
 }
 
 .card_left_div {
     background: #e6e6e6;
     text-align: left;
     color: #8DCF24;
     font-size: 14px;
     line-height: 2;
     overflow: hidden;
     text-overflow: ellipsis;
     padding: 16px;
     line-height: 2;
 }
 
 @media only screen and (max-width: 640px) {
     .icon-bar span {
         font-size: 15px;
     }
     .tab-btn1 {
         font-size: 11px;
     }
     .team {
         width: 30px;
         height: 30px;
     }
     div {
         font-size: 12px !important
     }
 }
 
 .drop-label {
     font-size: 13px;
     color: #828282;
     margin: 10px 0;
     padding-left: 5px
 }
 
 .reset {
     background: #eef2f3;
     color: #333333;
     padding: 10px 10px;
     border-radius: 25px;
     margin-top: 16%;
     text-align: center;
     width: 46%;
     border: 1px solid #eef2f3;
     cursor: pointer;
 }