<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>
<div class="ui-g">
    <div style="padding: 0px" class="ui-g-6">
        <button [class.tab-btn]="show=='matches'" (click)="show='matches'" class="tab-btn1" pButton label="{{'Upcoming matches' | translate}}"></button>
    </div>
    <div style="padding: 0px" class="ui-g-6">
        <button [class.tab-btn]="show=='reserve'" (click)="show='reserve'" class="tab-btn1" pButton label="{{'Upcoming reservation' | translate}}"></button>
    </div>
</div>

<div class="text-center" *ngIf="matches.length==0 && show=='matches'" style="margin-top:50px;font-size: 22px">
    {{'Datos no encontrados' | translate}}
</div>

<div class="text-center" *ngIf="reservations.length==0  && show=='reserve'" style="margin-top:50px;font-size: 22px">
    {{'Datos no encontrados' | translate}}
</div>

<div *ngIf="matches && show=='matches'" class="ui-g" style="margin-top: 10px">
    <div class="ui-g-12 match_div" *ngFor="let i of matches">
        <div class="ui-g-9 ui-sm-12">
            <div style="color: #8ec63f;font-size: 18px;padding-bottom: 10px; text-align: center;padding-top: 16px" class="ui-g-12">
                {{i?.tournament_name}} -
                <span style="color:white">
                        {{i?.round_name}}
                    </span>
            </div>
            <div class="ui-g-12 ui-sm-12 flex" style="padding-bottom: 16px">
                <div style="font-size: 14px;text-align: right" class="ui-g-4">
                    {{i?.team[0]?.team_name}}
                </div>
                <div style="text-align: center" class="ui-g-2">
                    <img class="team" [src]="i?.team[0]?.team_logo?logo+i?.team[0]?.team_logo:'assets/images/team-profile-logo/default.png'" />
                </div>
                <div style="font-size: 18px;text-align: center" class="ui-g-1">
                    Vs
                </div>
                <div style="text-align: center" class="ui-g-2">
                    <img class="team" [src]="i?.team[1]?.team_logo?logo+i?.team[1]?.team_logo:'assets/images/team-profile-logo/default.png'" />
                </div>
                <div style="font-size: 14px;" class="ui-g-3">
                    {{i?.team[1]?.team_name}}
                </div>
            </div>
        </div>

        <div class="ui-g-3 ui-sm-12 card_left_div">
            <span>{{'Fecha' | translate}}:</span>
            <span style="color:grey">{{i?.date | date:'dd-MM-yyyy'}}</span>
            <br>
            <span>{{'Hora' | translate}}:</span>
            <span style="color:grey">{{i?.date | date:'shortTime'}}</span>
            <br>
            <span>{{'Ground' | translate}}:</span>
            <span style="color:grey">{{i?.ground}}</span>
            <br>
            <span>{{'Week day' | translate}}:</span>
            <span style="color:grey">{{i?.date | date:'EEEE'}}</span>

        </div>

    </div>
</div>


<div style="margin-top: 10px " class="ui-g" *ngIf="reservations  && show=='reserve'">
    <div class="ui-g-12 flex match_div" *ngFor="let i of reservations">
        <div class="ui-g-10">
            <div style="align-items: center;display: flex;" class="ui-g-1">
                <img class="team" [src]="i?.profile_pic?logo+i?.profile_pic:'assets/images/ground-profile-logo/default.png'" />
            </div>
            <div style="line-height: 24px;font-size: 14px;" class="ui-g-11">
                <p>
                    {{i?.ground_name}}
                </p>
                <p>
                    {{i?.court_name}}
                </p>
                <p>
                    {{i?.date }} - {{i?.from_time }}
                </p>
            </div>
        </div>

        <div style="display: grid;height: auto;" class="ui-g-2 ">
            <button style="background: #8ec63f;" [routerLink]="['/dashboard/ground/ground-profile'+'/'+i?.id ]" pButton label="{{'View' | translate}}">
          </button>
        </div>

    </div>
</div>