<p-growl [value]="msgs">
</p-growl>
<loader *ngIf='loader'></loader>
<div class="ui-g full-container">
    <img class="background" [src]="cover_pic?imageUrl+cover_pic:'assets/images/tournament-profile-cover/default.png'">
    <div class="section">
        <div class="cover_pic">
            <div>
                <button *ngIf="admin" class="changeCover" pButton type="button" label="{{'ESCOGER' | translate}}">
                    <input type="file" class="coverinput" (change)="fileChangeListener($event, 'cover')" />
                </button>
            </div>
        </div>
        <div class="ui-g share_bttn">
            <p>
                <i class="downloadBttn fa fa-download" aria-hidden="true" style="background: transparent;color:white" (click)="downloadAsImage()"></i>
            </p>
        </div>
        <div class="ui-g">
            <div class="ui-g-2 ui-sm-4  ui-lg-2 dd">
                <img [src]="profile_pic?base_path_service.image_url+profile_pic:'assets/images/tournament-profile-logo/default.png'" class="profile_pic" />
                <button *ngIf="admin" pButton type="button" class="choose" label="{{'ESCOGER' | translate}}" style="cursor: pointer;position: absolute;top: 135px;">
                    <input type="file" class="profileinput" (change)="fileChangeListener($event, 'profile')" />
                </button>
            </div>
            <div class="ui-g-5 ui-sm-8 tournament_name_div">
                <span class="tournament_name">{{basicInfo?.tournament_name}}</span>
                <br>
                <span class="tournament_country" *ngIf="openEnrollment">{{'INSCRIPCIÓNES ABIERTAS' | translate}}</span>
                <span class="tournament_country" *ngIf="!openEnrollment">{{'INSCRIPCIÓN CERRADA' | translate}}</span>
                <br>
                <span class="tournament_date">{{basicInfo?.registration_start_date}} {{basicInfo?.registration_end_date}}</span>
                <br>
                <br>
                <span class="followers_btn">
                    <button pButton type="button" (click)="followers()" label="{{'seguidores' | translate}}"></button>
                </span>
                <br>
                <span class="followers_count" (click)="followers()">{{basicInfo?.follower}}</span>
                <br>
                <div class="mobile_org_view">
                    <!-- Organization -->
                    <div *ngIf="organization_logo ">
                        <span class="organization_text">{{'Organización' | translate}}</span>
                        <img *ngIf="!admin " class="org_img" [src]="base_path_service.image_url+organization_logo">
                        <img *ngIf="admin " class="org_img" [routerLink]="['edit-organization']" [queryParams]="{prop: 'org'}" [src]="base_path_service.image_url+organization_logo">
                    </div>
                    <div *ngIf="!organization_logo && admin">
                        <span class="organization_text">{{'Add organización' | translate}}</span>
                        <span style="font-size: 25px;color: #828282;cursor:pointer" [routerLink]="['edit-organization']" [queryParams]="{prop: 'org'}">+</span>
                        <br>
                        <br>
                    </div>

                    <!-- Sponsors -->

                    <div *ngIf="is_sponsor " style="margin-top: 4%;">
                        <span class="organization_text">{{'Auspiciantes' | translate}}</span>
                        <span class="sponser" *ngFor="let sponsors of basicInfo?.sponsor">
                            <img *ngIf="!admin " class="org_img" src='{{base_path_service?.image_url}}{{sponsors.image}}'>
                            <img *ngIf="admin " class="org_img" src='{{base_path_service?.image_url}}{{sponsors.image}}' [routerLink]="['edit-sponser']"
                                [queryParams]="{prop: sponsors?.id}">
                        </span>
                    </div>
                    <div *ngIf="!is_sponsor && admin" style="margin-top: -5%;">
                        <span class="organization_text">{{'Anadir auspiciante' | translate}}</span>
                        <span style="padding-left:5px"></span>
                        <span style="font-size: 25px;color: #828282;cursor:pointer" [routerLink]="['edit-sponser']" [queryParams]="{prop: 'add'}">+</span>
                    </div>
                    <!-- Sponsors -->
                </div>
            </div>
            <div class="ui-g-5 ui-sm-12 ui-md-5 ui-lg-5 top_buttons">
                <div class="ui-g-3 ui-sm-6 ui-md-6">
                    <button style="width:100%" *ngIf="admin && is_paid" (click)='editTournamentFun()' pButton type="button" class="ui-button-green" label="{{'EDITAR' | translate}}"></button>
                    <button style="width:100%" *ngIf="!admin" pButton type="button" icon="fa fa-comment" pTooltip="mensaje" tooltipPosition="top" class="ui-button-green" (click)="showMessagePopup()"></button>
                </div>
                <div class="ui-g-3 ui-sm-6 ui-md-6" *ngIf="basicInfo?.is_owner && is_paid">
                    <!-- <button style="width:100%" *ngIf="!basicInfo?.follow" pButton type="button" (click)="follow()" class="ui-button-green" label="{{'SEGUIR' | translate}}"></button>
                    <button style="width:100%;padding: 0px;height: 36px;" *ngIf="basicInfo?.follow" pButton type="button" (click)="unfollow()" class="ui-button-green" label="{{'DEJAR DE SEGUIR' | translate}}"></button> -->
                    <button style="width:100%" pButton label="{{'AGREGAR ADMIN' | translate}}" (click)="addAdmin()" class="ui-button-green">

                    </button>
                </div>
                <div class="ui-g-3 ui-sm-6 ui-md-6" *ngIf="is_paid">
                    <p-dropdown class="registration_dropdown" [options]="registerOptions" (onChange)='selectedRegisterOptionFun($event)' [(ngModel)]="selectedRegisterOption" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="ui-g-3 ui-sm-6 ui-md-6" *ngIf="is_paid">
                    <button style="width:100%" *ngIf="admin" pButton type="button" label="{{'Añadir' | translate}}" class="ui-button-green" (click)="showInvitationPopup()"></button>
                    <br>
                    <br>
                </div>
                <div class="ui-g-3 ui-sm-6 ui-md-6" *ngIf="!is_paid">
                    <button style="width:100%" *ngIf="admin" pButton type="button" label="{{'GO LIVE' | translate}}" class="ui-button-green" (click)="packageSelection()"></button>
                    <br>
                    <br>
                </div>
                <div class="web_org_view">
                    <!-- Organization -->
                    <div *ngIf="organization_logo">
                        <span class="organization_text">{{'Organización' | translate}}</span>
                        <img class="org_img" *ngIf="!admin" [src]="base_path_service.image_url+organization_logo">
                        <img class="org_img" *ngIf="admin" [routerLink]="['edit-organization']" [queryParams]="{prop: 'org'}" [src]="base_path_service.image_url+organization_logo">
                    </div>
                    <div *ngIf="!organization_logo && admin">
                        <span class="organization_text">{{'Add organización' | translate}}</span>
                        <span style="font-size: 25px;color: #828282;cursor:pointer" [routerLink]="['edit-organization']" [queryParams]="{prop: 'org'}">+</span>
                    </div>
                    <br>
                    <br>
                    <!-- Organization -->
                    <!-- Sponsors -->
                    <div *ngIf="is_sponsor" style="margin-top: -5%;">
                        <span class="organization_text">{{'Auspiciantes' | translate}}</span>
                        <span style="padding-left:5px" *ngFor="let sponsors of basicInfo?.sponsor">
                            <img *ngIf="!admin" class="org_img" src='{{base_path_service?.image_url}}{{sponsors.image}}'>
                            <img *ngIf="admin" class="org_img" src='{{base_path_service?.image_url}}{{sponsors.image}}' [routerLink]="['edit-sponser']"
                                [queryParams]="{prop: sponsors?.id}">
                        </span>
                    </div>
                    <div *ngIf="!is_sponsor && admin" style="margin-top: -5%;">
                        <span class="organization_text">{{'Anadir auspiciante' | translate}}</span>
                        <span style="padding-left:5px"></span>
                        <span style="font-size: 25px;color: #828282;cursor:pointer" [routerLink]="['edit-sponser']" [queryParams]="{prop: 'add'}">+</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="position:relative;">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 tabs">
                        <!--<hr>-->
                        <div class="icon-bar">
                            <span (click)="req=false;payment_team=false" [class.active]="info">
                                <a routerLinkActive="activeLink" [routerLink]="['information']">{{'INFORMACIÓN' | translate}} |</a>
                            </span>
                            <span [class.active]="req" (click)="info=false;payment_team=false">
                                <a *ngIf="admin" routerLinkActive="activeLink" [routerLink]="['request']">{{"SOLICITUDES" | translate}} |</a>
                            </span>
                            <span (click)="info=false;req=false;payment_team=false">
                                <a routerLinkActive="activeLink" [routerLink]="['posesiones']">{{'PARTICIPANTES' | translate}} |</a>
                            </span>
                            <span (click)="info=false;req=false;payment_team=false">
                                <a routerLinkActive="activeLink" [routerLink]="['schedule']">{{'FIXTURE' | translate}} |</a>
                            </span>
                            <span (click)="info=false;req=false;payment_team=false">
                                <a routerLinkActive="activeLink" [routerLink]="['points']">{{'TABLAS' | translate}} |</a>
                            </span>
                            <span (click)="info=false;payment_team=true" [class.active]="payment_team">
                                <a *ngIf="admin" routerLinkActive="activeLink" [routerLink]="['tournament_payment']">{{'PAGOS' | translate}} | </a>
                            </span>

                            <span>
                                <a (click)="info=false;req=false;payment_team=false" routerLinkActive="activeLink" routerLink="history">{{'HISTORIAL' | translate}}</a>
                            </span>

                        </div>
                        <!--<hr>-->
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- Add Admin popup start -->
        <div class="invited">
            <p-dialog [(visible)]="add_admin" modal="modal" [dismissableMask]="true" [resizable]="false">
                <div class="ui-g invite_popup_header">
                    <div class="ui-g-5 ui-sm-6">
                        <span class="popup_heading">{{'AGREGAR ADMIN' | translate}} {{selectedAddListOption | translate}}</span>
                    </div>
                    <div class="ui-g-3 ui-sm-4 invite_popup_dropdown">
                        <p-dropdown [options]="addmin_list_option" (onChange)='selectedAdminFun($event)' [style]="{'width':'100%'}" [(ngModel)]="selected_admin" [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </div>
                    <div class="ui-g-4 ui-sm-2 text-right">
                        <i class="fa fa-times" style="cursor:pointer" (click)="add_admin=false;"></i>
                    </div>
                </div>

                <div class="invite_popup_content_div" *ngIf="selected_admin=='admin'">
                    <div class="ui-g">
                        <div style="display: flex;align-items: center;padding: 15px 0px 0px 0px" class="ui-g-12 ">
                            <div class="ui-g-8" style="color: #113861;font-size: 14px;padding-left: 25px;">
                                <p>{{'puedes agregar un máximo de' | translate}} {{no_of_admins}} {{'administradores' | translate}}</p>
                            </div>
                            <div class="ui-g-4" style="text-align: right;    padding-right: 20px;">
                                <!-- <button pButton class="ui-button-green" label="UPGRADE PACKAGE">
                                </button> -->
                            </div>
                        </div>
                        <div class="ui-g-12 invite_popup_search">
                            <p-autoComplete (keyup)="getData($event,'admin')" placeholder="{{'Busqueda para los admin' | translate}}" (completeMethod)="getSearchAdmin($event)">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="ui-g invite_popup_list" *ngFor="let admin of admin_list">

                        <div class="ui-g-2 ui-sm-2">
                            <img src="{{admin?.profile_pic ? imageUrl + admin?.profile_pic : 'assets/images/player-profile-logo/default.png'}}" class="invite_popup_image">
                        </div>
                        <div class="ui-g-8 ui-sm-6 mobile_margin" style="display: flex;align-items: center;">
                            <p class="invite_popup_name">{{admin.name}}
                            </p>
                        </div>
                        <br>
                        <div class="ui-g-2 ui-sm-3" style="display: flex;align-items: center; ">
                            <button *ngIf="!admin?.is_owner" pButton style="width:100%" type="button" label="{{(admin?.is_admin?'RETIRAR':'Añadir') | translate}}" class="ui-button-green anadir" (click)='admin?.is_admin?removeAdmin(admin.id):addFollowers(admin?.id,"tour")'></button>
                        </div>
                    </div>
                </div>
                <div class="invite_popup_content_div" *ngIf="selected_admin=='follower'">
                    <div class="ui-g">
                        <div style="display: flex;align-items: center;padding: 15px 0px 0px 0px" class="ui-g-12 ">
                            <div class="ui-g-8" style="color: #113861;font-size: 14px;padding-left: 25px;">
                                <p>{{'puedes agregar un máximo de' | translate}} {{no_of_admins}} {{'administradores' | translate}}</p>
                            </div>
                            <div class="ui-g-4" style="text-align: right;    padding-right: 20px;">
                                <!-- <button pButton class="ui-button-green" label="UPGRADE PACKAGE">
                                </button> -->
                            </div>
                        </div>
                        <div class="ui-g-12 invite_popup_search">
                            <p-autoComplete (keyup)="getData($event,'follower')" placeholder="{{'Busqueda para los seguidor' | translate}}" (completeMethod)="getSearchAdmin($event)">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="ui-g invite_popup_list" *ngFor="let admin of follower_list">

                        <div class="ui-g-2 ui-sm-2">
                            <img src="{{admin?.profile_pic ? imageUrl + admin?.profile_pic : 'assets/images/player-profile-logo/default.png'}}" class="invite_popup_image">
                        </div>
                        <div class="ui-g-8 ui-sm-6 mobile_margin" style="display: flex;align-items: center;">
                            <p class="invite_popup_name">{{admin.name}}
                            </p>
                        </div>
                        <br>
                        <div class="ui-g-2 ui-sm-3" style="display: flex;align-items: center; ">
                            <button style="width:100%" pButton type="button" label="{{'Añadir' | translate}}" class="ui-button-green anadir" (click)=addFollowers(admin.id)></button>
                        </div>
                    </div>
                    <div style="text-align: center;
                    font-size: 24px;
                    color: #113861;
                    padding-top: 48px;
                " *ngIf="notfound">
                        {{ 'datos no encontrados' | translate}} </div>
                </div>
            </p-dialog>
        </div>
        <!-- Add admin Popup End-->

        <!--**************Invitation popup*********************-->
        <div class="invited">
            <p-dialog [(visible)]="invitePopup" modal="modal" [dismissableMask]="true" [resizable]="false">
                <div class="ui-g invite_popup_header">
                    <div class="ui-g-5 ui-sm-6">
                        <span class="popup_heading">{{'Añadir' | translate}} {{selectedAddListOption | translate}}</span>
                    </div>
                    <div class="ui-g-3 ui-sm-4 invite_popup_dropdown">
                        <p-dropdown [options]="addListOptions" (onChange)='selectedAddListOptionFun($event)' [style]="{'width':'100%'}" [(ngModel)]="selectedAddListOption" [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </div>
                    <div class="ui-g-4 ui-sm-2 text-right">
                        <i class="fa fa-times" style="cursor:pointer" (click)="invitePopup=false; backdrop=false"></i>
                    </div>
                </div>
                <div class="invite_popup_content_div" *ngIf="selectedAddListOption=='Árbitro'">
                    <div class="ui-g">
                        <div class="ui-g-12 mess_text">
                            <span>{{'Los Árbitro invitados no se mostrarán en este' | translate}}</span>
                        </div>
                        <div class="ui-g-12 invite_popup_search">
                            <p-autoComplete #auto placeholder="{{'Busqueda para los arbitros' | translate}}" [suggestions]="refereeFilteredList" (completeMethod)="getRefereeList($event)" (keyup)="referee_List($event)" (onSelect)='getReferee($event)' (onDropdownClick)='getReferee($event)'
                                field="referee_name" [size]="30" [minLength]="1">
                                <ng-template let-brand pTemplate="item">
                                    {{brand.referee_name}} {{brand.last_name}}
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="ui-g invite_popup_list" *ngFor="let referee of refereeList">

                        <div class="ui-g-2 ui-sm-2">
                            <img src="{{referee?.profile_pic ? imageUrl + referee?.profile_pic : 'assets/images/player-profile-logo/default.png'}}" class="invite_popup_image">
                        </div>
                        <div class="ui-g-8 ui-sm-6 mobile_margin" style="display: flex;align-items: center;">
                            <p class="invite_popup_name">{{referee.referee_name}} {{referee.last_name}}
                                <span class="referee_text" style="font-size:0.3em">{{'arbitro' | translate}}</span>
                            </p>
                            <p class="invite_popup_city">{{referee.nick_name}}</p>
                        </div>
                        <br>
                        <div class="ui-g-2 ui-sm-3" style="display: flex;align-items: center; ">
                            <button pButton type="button" label="{{'Añadir' | translate}}" class="ui-button-green anadir" (click)=addReferee(referee.referee_pk)></button>
                        </div>
                    </div>
                </div>
                <div class="invite_popup_content_div" *ngIf="selectedAddListOption=='Cancha'">
                    <div class="ui-g">
                        <div class="ui-g-12 mess_text">
                            <span>{{'Los cancha invitados no se mostrarán en este' | translate}}</span>
                        </div>
                        <div class="ui-g-12 invite_popup_search">
                            <p-autoComplete #auto placeholder="{{'Busqueda para los canchas' | translate}}" [suggestions]="groundFilteredList" (completeMethod)="getGroundList($event)" (onSelect)='getGround($event)' (keyup)="ground_List($event)" (onDropdownClick)='getGround($event)'
                                field="ground_name" [size]="30" [minLength]="1"></p-autoComplete>
                        </div>
                    </div>
                    <div class="ui-g invite_popup_list" *ngFor="let ground of groundList">
                        <div class="ui-g-2 ui-sm-2">
                            <img src="{{ground?.cover_pic ? imageUrl + ground?.cover_pic : 'assets/images/ground-profile-logo/default.png'}}" class="invite_popup_image">
                        </div>
                        <div class="ui-g-8 ui-sm-6 mobile_margin" style="display: flex;align-items: center;">
                            <p class="invite_popup_name">{{ground.ground_name}}
                                <span class="cancha_text" style="font-size:0.3em">{{"canchas" | translate}}</span>
                            </p>
                        </div>
                        <div class="ui-g-2 ui-sm-3" style="display: flex; align-items: center;margin-top:4%;">
                            <button pButton type="button" label="{{'Añadir' | translate}}" class="ui-button-green anadir" (click)=addGround(ground.id);></button>
                        </div>
                    </div>
                </div>

                <div class="invite_popup_content_div" *ngIf="selectedAddListOption=='Equipos'">
                    <div class="ui-g">
                        <div class="ui-g-12 mess_text">
                            <span>{{'Los equipos invitados no se mostrarán en este' | translate}}</span>
                        </div>
                        <div class="ui-g-12 invite_popup_search">
                            <p-autoComplete #auto placeholder="{{'Busqueda para los equipo' | translate}}" [suggestions]="equipoFilteredList" (completeMethod)="getEquipoList($event)" (keyup)="equipo_List($event)" (onSelect)='getEquipo($event)' (onDropdownClick)='getEquipo($event)'
                                field="team_name" [size]="30" [minLength]="1"></p-autoComplete>
                        </div>
                    </div>
                    <div class="ui-g invite_popup_list" *ngFor="let equipo of equipoList">
                        <div class="ui-g-2 ui-sm-2">
                            <img *ngIf="!equipo?.team_logo" src="assets/images/team-profile-logo/default.png" class="invite_popup_image">
                            <img *ngIf="equipo?.team_logo" src="{{ basePath}}{{equipo?.team_logo}}" class="invite_popup_image">
                        </div>
                        <div class="ui-g-8 ui-sm-6 mobile_margin" style="margin-top: 10px;align-items: center;">
                            <p class="invite_popup_name">{{equipo.team_name}}
                                <span class="cancha_text" style="font-size:0.3em">{{'equipos' | translate}}</span>
                            </p>
                            <span style="color: darkcyan;">{{'Ciudad' | translate}}: </span>
                            <span *ngIf="equipo?.city">{{equipo?.city}}</span>
                            <span *ngIf="!equipo?.city">--</span>
                        </div>
                        <div class="ui-g-2 ui-sm-3" style="display: flex; align-items: center;margin-top:4%;">
                            <button pButton type="button" label="{{'Añadir' | translate}}" class="ui-button-green anadir" (click)=addEquipo(equipo.id)></button>
                        </div>
                    </div>
                </div>
            </p-dialog>
        </div>
        <!--**************Invitation popup*********************-->

        <!-- Register referee confirmation popup -->
        <div class="register_referee">
            <p-dialog [(visible)]="registerRefereePopup" modal="modal" [dismissableMask]="true" [resizable]="false">
                <div class="ui-g">
                    <div class="ui-g-12 text-center" style="padding-top: 40px;; color: #828282;font-size: 1.5em;">
                        <span>{{'¿Quieres solicitar este torneo ??' | translate}}</span>
                    </div>
                </div>
                <div class="ui-g" style="padding:20px;">
                    <div class="ui-g-12 text-center">
                        <button pButton type="button" label="{{'si' | translate}}" class="ui-button-green" (click)=registerReferee()></button>
                        <button pButton type="button" label="{{'no' | translate}}" class="ui-button-grey" (click)="registerRefereePopup=false;backdrop=false"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
        <!-- Register referee confirmation popup -->

        <!--**************Registration popup*********************-->
        <div class="regpopup reges">
            <p-dialog [(visible)]="registerPopup" modal="modal" [dismissableMask]="true" [resizable]="false">
                <div class="ui-g invite_popup_header">
                    <div class="ui-g-12">
                        <span class="popup_heading">{{'INSCRIBE TU EQUIPO' | translate}}</span>
                    </div>
                </div>
                <div class="ui-g texts_div">
                    <p class="texts">{{'Registra a tu equipo en el torneo!' | translate}}</p>
                </div>
                <div class="fixregheight">
                    <div class="ui-g regpopuphover" style="padding: 0;" *ngFor="let regDetailsInfo of regDetails" [class.divActive]="teamID==regDetailsInfo.id" (click)="activeDivColor(regDetailsInfo.id)">
                        <div class="ui-g-1 ui-sm-3 partdiv text-center">
                            <img class="circleimg" [src]="regDetailsInfo.team_logo?basePath+regDetailsInfo.team_logo:'assets/images/default_team.png'" alt="images" height="60px" width="60px">
                        </div>
                        <div class="ui-g-9 ui-sm-6 partdiv one">
                            <p class="team_name">
                                <span [class.active_team_name]="teamID==regDetailsInfo?.id">{{regDetailsInfo?.team_name}}</span>
                            </p>
                            <span class="team_moto" style="color:#8DCF25;">{{regDetailsInfo?.moto}}</span>
                        </div>
                        <div class="ui-g-1" *ngIf="teamID==regDetailsInfo?.id" [class.ticksign]="teamID==regDetailsInfo?.id">
                            <img _ngcontent-hsc-7="" alt="dropdown_image" id="def" src="assets/images/drop.png">
                        </div>
                    </div>
                    <p id="errormsg" *ngIf="DisableRegBttn"> {{'Usted no tiene equipo para registrarse. ¡Crea uno nuevo!!' | translate}}</p>
                </div>
                <div class="ui-g" style="padding: 20px;">
                    <div class="ui-g-6 ui-sm-12">
                        <span style="color: darkcyan">{{'Los equipos invitados no se mostrarán en este' | translate}}</span>
                    </div>
                    <div class="ui-g-6 ui-sm-12 text-right button_hover">
                        <button type="button" pButton (click)="regPopupClose()" class="ui-button-grey" label="{{'CANCELAR' | translate}}"></button>
                        <button type="button" class="ui-button-green" pButton [disabled]="DisableRegBttn" (click)="regDetailsData()" label="{{'Inscribir' | translate}}"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
        <!--**************Registration popup*********************-->

        <!-- backdrop -->
        <div [class.backdrop]="backdrop"></div>
        <div [class.backdrop]="messagePopup"></div>
        <div [class.backdrop]="registerRefereePopup"></div>
        <div [class.backdrop]="registerPopup"></div>
        <div [class.backdrop]="invitePopup"></div>
        <div [class.backdrop]="display"></div>
        <!-- backdrop -->

        <!--************** Image Cropper Popup*********************-->
        <div class="tournament_profil">
            <div class="ui-g">
                <p-dialog [(visible)]="display" modal="modal" showEffect="fade" [dismissableMask]="true" [resizable]="false">
                    <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                        <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-12" style="padding: 15px 30px;">
                            <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                        </div>
                        <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                            <button pButton type="button" class="choose" label="{{'ESCOGER' | translate}}" style="cursor:pointer;">
                                <input type="file" class="input" (change)="fileChangeListener($event)" />
                            </button>
                        </div>
                    </div>
                    <div class="ui-g" style="padding: 30px;padding-right:0;">
                        <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="!cover">
                            <img-cropper #cropper [image]="data2" [settings]="cropperSettings2"></img-cropper>
                        </div>
                        <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer" *ngIf="cover">
                            <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                        </div>
                        <div class="ui-g-5 ui-sm-4 ui-md-4 ui-lg-5 text-center">
                            <label>{{'Preview' | translate}}</label>
                            <span class="result rounded" *ngIf="!cover">
                                <img [src]="data2.image" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight">
                            </span>
                            <div class="result cov" *ngIf="cover">
                                <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                            </div>
                            <br/>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-6 ui-sm-2 ui-md-6 ui-lg-6"></div>
                        <div class="ui-g-6 ui-sm-10 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
                            <button pButton type="button" label="{{'Cancelar' | translate}}" class="ui-button-grey" (click)="disable()"></button>
                            <button pButton type="button" class="ui-button-green save" label="{{'Guardar' | translate}}" (click)="save();display = false"></button>
                        </div>
                    </div>
                </p-dialog>
            </div>
        </div>
        <!--************** Image Cropper Popup*********************-->

        <!----------------message modal---------------->
        <div class="invited">
            <p-dialog [(visible)]="messagePopup" modal="modal" [dismissableMask]="true" [resizable]="false">
                <div class="ui-g invite_popup_header">
                    <div class="ui-g-6 ui-sm-12">
                        <span class="popup_heading">{{'ESCRIBE UN MENSAJE' | translate}}</span>
                    </div>
                </div>
                <div class="ui-g" style="padding: 0px 20px;">
                    <div class="ui-g-1 ui-sm-3" style="display:flex;align-items:center;">
                        <span style="margin-top:0em;font-size:1.5em;color:gray;">{{'Para' | translate}}:</span>
                    </div>
                    <div class="ui-g-2 ui-sm-4 text-right">
                        <img [src]="profile_pic?base_path_service.image_url+profile_pic:'assets/images/tournament-profile-logo/default.png'" style="width:65px;height:65px;border-radius: 100px;" />
                    </div>
                    <div class="ui-g-9 ui-sm-5" style="display:flex;align-items:center;">
                        <span style="font-size: 2em;color: #00253f;font-family: ChaletComprime CologneEighty;text-transform:uppercase">{{basicInfo?.tournament_name}}</span>
                    </div>
                </div>
                <hr style="width:95%;margin:auto;">
                <div class="ui-g-12" style="padding:15px;">
                    <textarea rows="6" cols="90" pInputTextarea #message autoResize="autoResize" style="border-radius:0px;color:#828282;overflow-y:hidden;width:95%;padding: 10px;text-transform:lowercase;"></textarea>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-6 ui-sm-2 ui-md-6 ui-lg-6"></div>
                    <div class="ui-g-6 ui-sm-10 ui-md-6 ui-lg-6 text-right" style="padding: 0 10px 15px 0px;">
                        <button pButton type="button" label="{{'CANCELAR' | translate}}" class="ui-button-grey" (click)="messagePopup=false; backdrop=false"></button>
                        <button pButton type="button" class="ui-button-green save" label="{{'ENVIAR' | translate}}" (click)="sentMessage(message.value)"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
        <!----------------message modal---------------->

        <div [class.backdrop]="downloadProfile"></div>

        <div class="ui-g ui-fluid pdfView">
            <p-dialog [(visible)]="downloadProfile" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
                <div #layout class="outer_div">
                    <div class="image_div">
                        <img class="share_cover" [src]="downloadDataInfo?.cover_pic?downloadDataInfo?.cover_pic :'assets/images/tournament-profile-cover/default.png'" alt="My image" />
                        <img class="img-circle share_profile" [src]="downloadDataInfo?.profile_pic?downloadDataInfo?.profile_pic :'assets/images/tournament-profile-logo/default.png'" alt="My image" />
                    </div>

                    <div class="info">
                        <p class="name">{{downloadDataInfo?.name}} </p>
                        <p class="gender">{{downloadDataInfo?.start_date}} al {{downloadDataInfo?.end_date}}</p>
                        <p class="gender">{{downloadDataInfo?.country}} | {{downloadDataInfo?.city}} </p>
                        <p class="gender">{{'Inscripciónes Hasta' | translate}} : {{downloadDataInfo?.registration_end}} </p>
                        <div class="inner_info">
                            <span class="gender">{{'Nivel' | translate}} {{downloadDataInfo?.modality}}</span>
                            <span id="point"> .</span>
                            <span class="gender">{{downloadDataInfo?.max_no_of_teams}} {{"EQUIPOS" | translate}}</span>
                            <span id="point"> .</span>
                            <span class="gender">{{'Premio' | translate}} ${{downloadDataInfo?.prize}} </span>
                            <span id="point"> .</span>
                            <span class="gender">{{'Costo por Equipo' | translate}} ${{downloadDataInfo?.cost}} </span>
                        </div>
                        <div class="ui-g-6 rating_left share">
                            <p-rating [stars]="5" [(ngModel)]="attitude" [cancel]="false"></p-rating>
                            <p> {{'Organizacion' | translate}}</p>
                        </div>
                        <div class="ui-g-6 rating_right share ">
                            <p-rating [stars]="5" [(ngModel)]="techniq" [cancel]="false"></p-rating>
                            <p> {{'Parcialidad' | translate}}</p>
                        </div>
                    </div>
                    <div class="ui-g-12 footer_share text-center">

                        <img src="assets/images/pelo.png" />
                        <p>pelotea.com</p>

                        <!-- <div style="text-align:right" class="ui-g-6">
                                <img style="    margin-right: 20px;" src="assets/images/sponser_new.png" />
                                <p>official partner</p>
                            </div> -->
                    </div>

                </div>
                <div style="width: 100%;text-align: right">
                    <a download="tournamentProfile.png" [href]="imageUrlDownload">
                        <i class="downloadBttn fa fa-download" aria-hidden="true"></i>
                    </a>
                </div>
            </p-dialog>
        </div>
        <!-- Payment success popup -->
        <p-dialog [resizable]='false' class="payment_status_dialog" [(visible)]="payment_success_msg">
            <div style="border-bottom:1px solid #d7d7d7;background:#113861;color:white;    text-align: center;
            padding: 16px 0px;
            border-radius: 5px;border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px" class="ui-g-12">
                <p>{{'Liga creada' | translate}}</p>
            </div>
            <div style="text-align: center;     margin-top: 25px;     color: #8ec63f;" class="ui-g-12">
                <p>{{"¡Pago exitoso!" | translate}}</p>
            </div>
            <div style="text-align:center" class="ui-g-12">
                <button style="    width: 125px;margin-top: 40px;" class="ui-button-green" pButton label="{{'Bueno' | translate}}" (click)="payment_success_msg=false"></button>
            </div>
        </p-dialog>
        <!--  -->

        <!-- Payment failed popup -->
        <p-dialog [resizable]='false' class="payment_status_dialog" [(visible)]="payment_failed_msg">
            <div style="border-bottom:1px solid #d7d7d7;background:#113861;color:white" class="ui-g-12">
                <p>{{'Juzgado creado' | translate}}</p>
            </div>
            <div style="text-align: center;
     margin-top: 40px;
     color: #8ec63f;" class="ui-g-12">
                <p>{{'¡Pago fallido!' | translate}}</p>
            </div>
            <div style="text-align:center" class="ui-g-12">
                <button style="    width: 80px;
         margin-top: 15px;" pButton label="{{'De acuerdo' | translate}}" class="ui-button-green" (click)="payment_failed_msg=false"></button>
            </div>
        </p-dialog>
        <!--  -->
        <!-- Payment cash popup -->
        <p-dialog [resizable]='false' [dismissableMask]='true' class="payment_status_dialog" [(visible)]="payment_cash">
            <div style="border-bottom:1px solid #d7d7d7;background:#113861;color:white" class="ui-g-12">
                <p>{{"Mensaje"}}</p>
            </div>
            <div style="text-align: center;
         margin-top: 40px;
         color: #8ec63f;" class="ui-g-12">
                {{'¡Solicitud enviada!' | translate}}
            </div>
            <div style="text-align:center" class="ui-g-12">
                <button style="    width: 80px;
             margin-top: 15px;" pButton label="{{'De acuerdo' | translate}}" class="ui-button-green" (click)="payment_cash=false"></button>
            </div>
        </p-dialog>
        <!--  -->


        <!--Court Popup  -->
        <div class="invited">
            <p-dialog [(visible)]="court_popup" modal="modal" [dismissableMask]="true" [resizable]="false">
                <div style="margin-bottom:20px" class="ui-g invite_popup_header">
                    <div class="ui-g-8 ui-sm-6">
                        <span class="popup_heading">{{'Courts' | translate}} </span>
                    </div>

                    <div class="ui-g-4 ui-sm-2 text-right">
                        <i class="fa fa-times" style="cursor:pointer" (click)="court_popup=false;"></i>
                    </div>
                </div>
                <div style="cursor:pointer;margin: 0px 20px;" class="invite_popup_content_div">

                    <div style="border-bottom: 1px solid black;" class="ui-g invite_popup_list" *ngFor="let ground of court_list">

                        <div class="ui-g-2 ui-sm-2">
                            <img style="height:70px" src="{{ground?.profile_pic ? imageUrl + ground?.profile_pic : 'assets/images/ground-profile-logo/default.png'}}" class="invite_popup_image">
                        </div>
                        <div class="ui-g-8 ui-sm-6 mobile_margin" style="display: flex;align-items: center;">
                            <p class="invite_popup_name">{{ground.ground_name}}
                                <span class="cancha_text" style="font-size:0.3em">{{'canchas' | translate}}</span>
                            </p>
                        </div>
                        <div class="ui-g-2 ui-sm-4" style="display: flex; align-items: center;margin-top:4%;">
                            <button pButton type="button" label="{{'Añadir' | translate}}" class="ui-button-green anadir" (click)=select_court(ground.id);></button>
                        </div>
                        <br>
                    </div>
                </div>
            </p-dialog>
        </div>
        <!-- court popup end -->
        <div [class.backdrop]="payment_success_msg"></div>
        <div [class.backdrop]="payment_failed_msg"></div>
        <div [class.backdrop]="court_popup"></div>
        <div [class.backdrop]="payment_cash"></div>
        <div [class.backdrop]="add_admin"></div>
        <div [class.backdrop]="loader1"></div>