@media screen and (min-width:320px) and (max-width:640px) {
    .fixregheight {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 162px;
        background-color: #F2F2F2;
    }
    #def {
        width: 23px;
    }
    .texts_div {
        padding: 2% 2% 2% 6%;
    }
    .icn {
        left: 205px !important;
        top: -5px;
    }
    .section {
        width: 100% !important;
        margin: auto;
        margin-top: -50px;
    }
    .sposer {
        padding-left: 5px;
    }
}

.share_bttn {
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.share_bttn p {
    display: flex;
    align-items: center;
    text-align: -webkit-left;
    position: absolute;
}

.section {
    width: 970px;
    margin: auto;
    margin-top: -50px;
}

.dd:hover .choose {
    display: block;
}

.profile_pic {
    border-radius: 50% 50%;
    width: 110px;
    height: 110px;
    border: 4px solid white;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.55), gray);
    overflow: hidden;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.choose {
    display: none;
    cursor: pointer;
    position: absolute;
    margin-top: -6em;
    margin-left: 1em;
}

.tournament_name_div {
    padding-top: 50px;
    text-align: left;
}

.tournament_name {
    color: #00253f;
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: 'ChaletComprime CologneEighty';
}

.tournament_date {
    color: #828282;
}

.tournament_country {
    color: #8DCF25;
    text-transform: uppercase;
    font-size: 1em;
}

.icon-bar {
    padding-bottom: 2%;
    margin-top: 2%;
    width: 824px;
}

.icon-bar span {
    font-size: 2.5em;
}

.icon-bar span a {
    text-decoration: none;
    color: #828282;
    margin-right: 10px;
    font-family: 'ChaletComprime CologneEighty';
}

.activeLink {
    color: #00253f !important;
}

.mess_text {
    color: darkcyan;
    text-align: center;
}

.active a {
    color: #00253f !important;
}

.followers_count {
    font-size: 27px;
    font-weight: bold;
    padding-left: 35px;
}

.followers_btn button {
    background: #00253f;
    color: white;
    font-size: 11px;
    padding: 2px 7px;
    width: 125px;
}

.top_buttons {
    text-align: center;
    padding-top: 10px;
    position: relative;
}

.regpopuphover:hover {
    background-color: #000f1a;
}


/**** Invite popup ****/

.invite_popup_header {
    background: #00253f;
    padding: 11px;
}

.invite_popup_header .popup_heading {
    margin: 0;
    color: white;
    padding-left: 0;
    padding-top: 7px;
    font-size: 2em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.invite_popup_content_div {
    height: 320px;
    overflow-y: scroll;
}

.invite_popup_header .fa {
    color: white;
    font-size: 15px;
}

.invite_popup_name {
    font-family: ChaletComprime CologneEighty;
    color: #00253f;
    font-size: 1.5em;
}

.invite_popup_city {
    color: #8DCF24;
    font-size: 1.3em;
}

.invite_popup_followers {
    color: #828282;
}

.invite_popup_followers span {
    color: #e6263d;
}

.invite_popup_dropdown {
    padding-top: .5em;
}

.invite_popup_image {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

.invite_popup_search {
    margin: 10px 30px 10px 20px;
}

.invite_popup_list {
    margin: 0px 12px;
    border-bottom: 1px solid black;
}

.mobile_margin {
    margin-left: 15px;
}

.anadir {
    padding: 3px;
    font-size: .8em;
}

.result {
    margin-top: 60px;
    display: block;
    width: 200px;
    border-radius: 100px;
}

.result.rounded>img {
    border-radius: 100px;
}

.profileinput {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.coverinput {
    height: 40px;
    width: 170px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.save {
    padding: 8px 18px;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.organization_text {
    padding-right: 10px;
    color: #828282;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

.org_img {
    height: 35px;
    width: 35px;
    border-radius: 25px;
    border: 1px solid black;
    vertical-align: middle;
}

.web_org_view {
    display: none;
}

.mobile_org_view {
    display: block;
}

.tabs {
    border-top: 1px solid #828282;
    border-bottom: 1px solid #828282;
    width: 663px;
    overflow-x: scroll;
}

.dd {
    position: relative;
}

.cover_pic {
    width: 127%;
    height: 110px;
    position: absolute;
    margin-left: -14%;
    z-index: 1;
    top: -52px;
}

.changeCover {
    display: none;
    margin-left: 980px;
    margin-top: 20px;
    cursor: pointer;
    height: 40px;
}

.cover_pic:hover .changeCover {
    display: block;
}

.icons {
    color: white;
    text-align: center;
    position: relative;
    width: 160px;
    z-index: 1;
}

.icn {
    position: absolute;
    left: 810px
}

.fa {
    width: 25px;
    background: #113861;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    margin: 1%;
    color: white;
    cursor: pointer;
}

.circleimg {
    border-radius: 50px;
}

.background {
    width: 100%;
    height: 20em;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.55), gray);
    overflow: hidden;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.downloadBttn {
    width: 35px;
    background: white;
    color: black;
}

.share_profile {
    position: absolute;
    top: 55px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    right: 43%;
}

.share_cover {
    width: 496px;
    height: 96px;
}

.image_div {
    position: relative;
    text-align: -webkit-center
}

.outer_div {
    width: 500px;
    border: 1px solid;
    margin: 0 auto;
    height: 450px;
    position: realtive !important;
    margin-top: 20px;
    background: white;
    position: relative
}

.name {
    width: 100%;
    text-align: -webkit-center;
    color: #474747;
    letter-spacing: 1px;
    font-size: 1.4em;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: Roboto-Medium;
}

.gender {
    width: 100%;
    text-align: -webkit-center;
    color: #474747;
    font-size: 1.3em;
    text-transform: capitalize;
    font-family: Roboto-Light;
}

#point {
    font-size: 3em;
    padding-left: 5px;
    padding-right: 5px;
}

.info {
    margin-top: 40px;
    line-height: 2em;
}

.inner_info span {
    font-size: 1.2em;
}

.inner_info {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.rating_left {
    text-align: -webkit-right;
    padding-right: 20px;
}

.rating_right {
    padding-left: 20px;
}

.rating_left p {
    font-family: Roboto-Medium;
    font-size: 1.2em;
}

.rating_right p {
    font-family: Roboto-Medium;
    font-size: 1.2em;
}

.player_info {
    width: 280px;
    margin: 0 auto;
    margin-top: 80px;
    font-family: Roboto-Medium;
    font-size: 1.2em;
}

.footer_share {
    height: 70px;
    background: #00365D;
    position: absolute;
    bottom: 0px;
}

.footer_share img {
    width: 50px;
    height: 40px;
}

.footer_share p {
    color: white
}

@media only screen and (min-width: 640px) {
    .background {
        width: 100%
    }
    .section {
        width: 970px;
        margin: auto;
        margin-top: -90px;
        position: relative;
        margin-bottom: 90px;
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -o-animation: fadein 2s;
    }
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .dd:hover .choose {
        display: block;
        margin-left: -8px important;
    }
    .dd {
        position: relative;
    }
    .profile_pic {
        border-radius: 50% 50%;
        width: 140px;
        height: 140px;
        border: 4px solid white;
    }
    .choose {
        display: none;
        cursor: pointer;
        position: absolute;
        margin-top: -6em;
        margin-left: 2em;
    }
    .change_cover:hover .choose_cover {
        display: block;
    }
    .choose_cover {
        display: none;
        cursor: pointer;
        right: 0;
        position: absolute;
        top: 0;
    }
    .tournament_name_div {
        padding-top: 0px;
        text-align: left;
        word-break: break-all;
    }
    .tournament_name {
        color: white;
        text-transform: uppercase;
        font-size: 4em;
        font-family: 'ChaletComprime CologneEighty';
    }
    .tournament_country {
        color: #8DCF25;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    .tournament_date {
        color: #828282;
    }
    .icon-bar {
        padding-bottom: 1%;
        margin-top: 1%;
        width: 100%;
    }
    .icon-bar span {
        font-size: 2.9em;
    }
    .icon-bar span a {
        text-decoration: none;
        color: #828282;
        margin-right: 10px;
        font-family: 'ChaletComprime CologneEighty';
    }
    .activeLink {
        color: #00253f !important;
    }
    .followers_count {
        font-size: 27px;
        font-weight: bold;
        padding-left: 35px;
    }
    .followers_btn button {
        background: #00253f;
        color: white;
        padding: 2px 7px;
        font-size: 11px;
    }
    .top_buttons {
        text-align: right;
        margin-top: 45px;
        display: table-cell;
        position: relative;
        margin-right: 0;
    }
    .organization_text {
        padding-right: 5px;
        color: #828282;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
    }
    .org_img {
        height: 35px;
        width: 35px;
        border-radius: 25px;
        border: 1px solid black;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
    }
    .org_img1 {
        height: 25px;
        width: 25px;
        vertical-align: middle;
        cursor: pointer;
    }
    .web_org_view {
        display: block;
    }
    .mobile_org_view {
        display: none;
    }
    .tabs {
        border-top: 1px solid #828282;
        border-bottom: 1px solid #828282;
        width: 100%;
        overflow-x: hidden;
        padding: 0px
    }
    .regpopuphover:hover {
        background-color: #000f1a;
    }
    .active_team_name {
        color: white;
    }
    .team_name {
        color: #828282;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    .team_moto {
        font-size: 1.2em;
        color: #8dcf24;
        padding-left: 10px;
    }
    .regpopuphover {
        margin: 0 15px;
        padding: 10px 0;
        border-bottom: 1px solid #cfcfcf;
        cursor: pointer;
    }
    .fixregheight {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 235px;
        background-color: #F2F2F2;
    }
    .setheading {
        padding: 2%;
        font-family: 'ChaletComprime CologneEighty';
        font-weight: normal;
        color: #828282;
        font-size: 4em;
    }
    .ticksign {
        vertical-align: -webkit-baseline-middle;
        cursor: pointer;
        margin-top: 3%;
    }
    .one {
        display: flex;
        margin-left: 20px;
        align-items: center;
    }
    .one>img {
        border-radius: 50%;
    }
    #def {
        height: 2em;
    }
    #errormsg {
        color: darkcyan;
        padding-top: 11%;
        padding-left: 12%;
        font-size: 1.5em;
    }
    .lines {
        width: 100%;
    }
    .lines p {
        margin-top: 2%;
    }
    .test {
        background-color: red;
    }
    .divActive {
        background-color: #00365d;
        color: white;
    }
    .two {
        display: flex;
        align-items: center;
    }
    .texts {
        padding: 15px 22px;
        color: darkcyan;
        font-size: 1.3em;
    }
    .image_cropper_heading {
        padding: 0;
        font-family: ChaletComprime CologneEighty;
        font-size: 3em;
        color: white;
        text-transform: uppercase;
    }
    .result {
        margin: 40px auto;
        margin-bottom: 0;
        display: block;
        width: 200px;
        border-radius: 100px;
    }
    .result.rounded>img {
        border-radius: 100px;
    }
    .profileinput {
        height: 40px;
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }
    .coverinput {
        height: 40px;
        width: 170px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }
    .cancel {
        width: 85% !important;
    }
    .save {
        padding: 8px 16px;
    }
    hr {
        width: 80%;
        margin: 0px;
    }
    /**** Invite Popup ****/
    .invite_popup_header {
        background: #00253f;
        padding: 11px;
    }
    .invite_popup_header .popup_heading {
        margin: 0;
        color: white;
        padding-left: 5px;
        padding-top: 7px;
        font-size: 3.5em;
        text-transform: uppercase;
        font-family: ChaletComprime CologneEighty;
    }
    .invite_popup_header .fa {
        color: white;
        font-size: 22px;
        padding-top: 10px;
        background: none
    }
    .invite_popup_content_div {
        height: 402px;
        overflow-y: scroll;
    }
    .invite_popup_name {
        font-family: ChaletComprime CologneEighty;
        color: #00253f;
        font-size: 2.5em;
    }
    .invite_popup_city {
        color: #8DCF24;
        font-size: 1.3em;
    }
    .invite_popup_followers {
        color: #828282;
    }
    .invite_popup_followers span {
        color: #e6263d;
    }
    .invite_popup_dropdown {
        padding-top: 12px;
    }
    .invite_popup_image {
        height: 70px;
        width: 70px;
        vertical-align: middle;
    }
    .invite_popup_search {
        margin: 10px 20px;
    }
    .invite_popup_list {
        margin: 0px 20px;
        border-bottom: 1px solid black;
    }
    .mobile_margin {
        margin-left: 0;
    }
    .anadir {
        padding: 8px;
        font-size: 1em;
    }
    .result.cov>img {
        width: 200px;
        height: 100px;
    }
    .sposer {
        padding-left: 35px;
    }
}

@media screen and (min-width:640px) and (max-width:890px) {
    .profile_pic {
        width: 100px;
        height: 100px;
        margin-top: 25px;
    }
}