<div class="ui-g full-container">
    <div class="ui-g-12 quote_image">
        <img src="assets/images/common.jpg" />
        <p class="text">{{'Precios' | translate}}</p>
        <p class="stroke">
            <svg height="80" width="180">
        <g fill="none" stroke="white">
          <path stroke-width="2" d="M5 20 l215 0" />
        </g>
      </svg>
        </p>
        <p class="stroke_bottom">
            <svg height="80" width="130">
        <g fill="none" stroke="white">
          <path stroke-width="2" d="M5 20 l215 0" />
        </g>
      </svg>
        </p>

    </div>
    <div class="ui-g" style="background-color:white;width: 100%">
        <div class="section">
            <div class="ui-g">
                <div class="price-tab">
                    <p [class.tab-change]="tabChange=='first'" (click)="tabChange='first'">
                        {{'PAQUETES DE CANCHAS' | translate}}
                    </p>
                    <p [class.tab-change]="tabChange=='second'" (click)="tabChange='second'">
                        {{'PAQUETES DE TORNEOS' | translate}}
                    </p>
                </div>
            </div>
            <div *ngIf="tabChange=='first'">
                <div class="ui-g price-info">
                    <div class="ui-g-4 ui-sm-12 pricing_div_left hove_div">
                        <div class="header_color">
                            <span style="color: white;font-size: 35px;font-family: 'ChaletComprime CologneEighty'">Bronze </span>
                        </div>
                        <br>
                        <br>
                        <div>
                            <p class="text_info"><b class="doller">$</b>250</p>
                            <p style="margin-top: 5px;font-family: Montserrat-Light;font-size: 16px;">{{'SUBSCRIPCIÓN ANUAL' | translate}}</p>
                            <!-- <P class="text_info_price">$649 For yearly subscription</P> -->
                        </div>
                        <br>
                        <div class="small_text_info">
                            <p>1 {{"cancha Reservaciones ilimitadas" | translate}}</p>
                            <p>1 {{'publicación semanal en redes sociales' | translate}}</p>
                            <p>1 {{'correo de marketing por mes a toda la base de datos' | translate}}</p>
                            <p>{{'Acceso a la base de datos Pelotea' | translate}}</p>

                        </div>
                        <p class="vat">{{'VALORES INCLUYEN IVA' | translate}}</p>
                    </div>
                    <div class=" ui-g-4 ui-sm-12 pricing_div_info hove_div">
                        <div class="header_color">
                            <span style="font-size: 1.5em;color: white;font-size: 35px;font-family: 'ChaletComprime CologneEighty'">Silver</span>
                        </div>
                        <br>
                        <br>
                        <div>
                            <p class="text_info"><b class="doller">$</b>350</p>
                            <p style="margin-top: 5px;font-family: Montserrat-Light;font-size: 16px;">{{'SUBSCRIPCIÓN ANUAL' | translate}}</p>
                            <!-- <P class="text_info_price">$890 For yearly subscription</P> -->
                        </div>
                        <br>
                        <div class="small_text_info">
                            <p>2 {{"canchas dentro del mismo complejo Reservaciones ilimitadas" | translate}}</p>
                            <p>2 {{"publicaciones semanales en redes sociales" | translate}}</p>
                            <p>2 {{"correo de marketing por mes a toda la base de datos" | translate}}</p>
                            <p>{{"Acceso a la base de datos Pelotea" | translate}}</p>

                        </div>
                        <p class="vat">{{'VALORES INCLUYEN IVA' | translate}}</p>
                    </div>
                    <div class="ui-g-4 ui-sm-12 pricing_div_right hove_div">
                        <div class="header_color">
                            <span style="font-size: 1.5em;color: white;font-size: 35px;font-family: 'ChaletComprime CologneEighty'">Gold </span>
                        </div>
                        <br>
                        <br>
                        <div>
                            <p class="text_info"><b class="doller">$</b>450</p>
                            <p style="margin-top: 5px;font-family: Montserrat-Light;font-size: 16px;">{{'SUBSCRIPCIÓN ANUAL' | translate}}</p>
                            <!-- <P class="text_info_price">$1341 For yearly subscription</P> -->
                        </div>
                        <br>
                        <div class="small_text_info">
                            <p>3-4 {{'canchas dentro del mismo complejo' | translate}} </p>
                            <p>{{'Reservaciones ilimitadas' | translate}}</p>
                            <p>3 {{'publicaciones semanales en redes sociales' | translate}}</p>
                            <p>3 {{'correos de marketing por mes a toda la base de datos' | translate}}</p>
                            <p>{{'Acceso a la base de datos Pelotea' | translate}}</p>

                        </div>
                        <p class="vat">{{'VALORES INCLUYEN IVA' | translate}}</p>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="plus-sign">
                        <img src="assets/images/plus.png" />
                    </div>
                </div>
                <div class="ui-g">
                    <div class="plus-border">
                        <p>{{'Extras' | translate}}</p>

                        <p>{{'Cancha adicional' | translate}} ................................................ $50 USD {{'anual' | translate}}</p>
                        <p>{{'Presencia en página principal' | translate}} .................. $50 USD {{'anual' | translate}}</p>

                        <p>{{'Instituciones públicas o complejos con más de 10 canchas, enviar un email a info@Pelotea.co' | translate}}</p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="ui-g">
                    <div class="ui-g-12" style="text-align: center">
                        <p class="font_info">
                            {{"Si adquieres cualquiera de los paquetes anuales de canchas obtendrás 1 torneo GRATIS!" | translate}}
                        </p>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div *ngIf="tabChange=='second'">
                <div class="ui-g price-info price-info-tornament">
                    <div class="ui-g-5 ui-sm-12 pricing_div_tournament hove_div">
                        <div class="header_color">
                            <span style="color: white;font-size: 35px;font-family: 'ChaletComprime CologneEighty'">{{'Torneos y Ligas' | translate}} </span>
                        </div>
                        <br>
                        <br>
                        <div>
                            <p class="text_info"><b class=" doller_tour">$</b>5</p>
                            <p style="margin-top: 5px;font-family: Montserrat-Light;font-size: 16px;">{{'Per Equipo' | translate}}</p>
                            <!-- <P class="text_info_price">$649 For yearly subscription</P> -->
                        </div>
                        <br>
                        <div class="small_text_info">
                            <p>{{'Gestión del torneo en Pelotea' | translate}}</p>
                            <p>1 {{'email promocional a la base de datos de Pelotea' | translate}}</p>
                            <p>3 {{'publicaciones promocionales previo al inicio del torneo en redes sociales' | translate}}</p>
                            <p>1 {{'publicación informativa en redes sociales semanal durante el torneo' | translate}}</p>
                            <p>{{'Presencia en página principal de Pelotea' | translate}}</p>

                        </div>
                    </div>
                    <div class=" ui-g-2 ui-sm-12 plus-sign-tournament">
                        <div class="plus-sign" style="text-align: center">
                            <img src="assets/images/plus.png" />
                        </div>
                    </div>
                    <div class="ui-g-5 ui-sm-12 plus-sign-tournament" style="text-align: -webkit-right;">
                        <div class="plus-border plus-border-tour " style="margin: inherit">
                            <p style="color: #0F3460">{{'Extras' | translate}}</p>

                            <p class="text-center bootom_text">{{"Gestión del torneo por agente de Pelotea" | translate}}<br> {{"(3 USD por partido)" | translate}}</p>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="ui-g-12 " style="text-align: center">
            <button pButton type="button" routerLink="./../talk" label="CONTÁCTANOS" label="{{'CONTÁCTANOS' | translate}}" class="ui-button-green contact_bttn"></button>
        </div>
    </div>
</div>