.loader {
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
    animation: animate 1.5s linear infinite;
    height: 80px;
    width: 80px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 22;
}

svg path,
svg rect {
    fill: #003366;
}