<div class="full-container">
    <div class="ui-g-12 head">
        <div class="section">
            <div class="ui-g-12 headings">
                <img src="assets/images/futball.png" alt="404 not found">
            </div>

            <div class="home-button ui-g-12">
                <a [routerLink]="['/dashboard']">
                    <button pButton type="button" label="HOME" style="width: 150px;font-size:18px;margin-bottom:4%;" class="ui-button-green"></button>
                </a>
            </div>
        </div>
    </div>
</div>