.full-container {
    padding-top: 175px;
    background: linear-gradient(rgba(90, 81, 81, 0) 125px, rgb(0, 0, 0) 176px, rgb(248, 248, 248) 0px) 0% 0% / 100%, url(./../../../assets/images/ground-profile-cover/default.jpg) no-repeat;
    background-size: cover;
}

.section {
    max-width: 970px;
    margin: auto;
}

.head {
    background: #dfdfdf;
}

.home-button {
    text-align: center;
}

.headings {
    text-align: center;
}

img {
    width: 970px;
    height: 467px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    img {
        width: 723px;
        height: 558px;
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    img {
        width: 505px;
        height: 326px;
    }
}

@media screen and (min-width:320px) and (max-width:500px) {
    img {
        width: 298px;
        height: 276px;
    }
}