.full-container {
    padding-top: 220px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../../../assets/images/back.jpg) no-repeat;
    background-size: 100% 100%;
    padding-bottom: 90px;
}

.section {
    max-width: 970px;
    margin: auto;
}

.radiobttn {
    padding-top: 35px;
    padding-left: 50px;
}

.circlesm {
    border: 1px solid #cfcfcf;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 3%;
    padding-right: 6%;
}

.circlesm1 {
    border: 1px solid #cfcfcf;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 95px 10px 115px 10px;
}

.Encontrar {
    padding: 2%;
}

.inptxt {
    background: #fff;
    margin: 4%;
    width: 85%
}

.editor {
    white-space: nowrap;
    font-size: 4.5em;
    color: #00253F;
    text-transform: uppercase;
    font-family: 'ChaletComprime CologneEighty';
    padding-left: 0px;
}

.eliminat {
    background-color: red !important;
    width: 121px;
}

.submit {
    width: 121px;
}

.cercleSmall {
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 20px;
    float: left;
}

.colorCLAVO {
    color: #40bf40;
    font-size: 10px;
}

.cancel {
    width: 121px !important;
}

.register {
    width: 85% !important;
}

.error {
    position: absolute;
    padding-left: 90px;
    top: 77px
}

.errorText {
    color: red;
}

.PABLO {
    width: 85%
}

.jersey {
    color: darkcyan;
}

.ui-float-label input.ui-state-filled~label {
    font-size: 12px !important
}

.ui-float-label input:focus~label {
    font-size: 12px !important
}

.ui-float-label label {
    font-size: 12px !important
}

.mobile {
    display: none;
}

@media only screen and (max-width:640px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block
    }
    .editor {
        font-size: 3em;
    }
    .radiobttn {
        padding-left: 18px;
    }
    .in {
        width: 58% !important;
    }
    .cancel {
        float: right;
    }
    .required {
        font-size: 8px;
    }
    .managetab1 {
        border-left: none !important;
    }
    .eliminat {
        padding: 0px;
        height: 36px;
        width: 121px;
    }
    .submit {
        padding: 0px;
        height: 36px;
        width: 121px;
    }
    .top {
        background: #082f43;
    }
    .top-bottom {
        border: 1px solid gray;
    }
    .colorPABLO {
        color: white;
    }
    .cancel_div {
        padding: 0px;
    }
}