<p-growl [value]="msgs"></p-growl>
<loader *ngIf="loader"></loader>
<div class="full-container">
    <div class="section">
        <div class="ui-g ui-sm ui-md ui-lg">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="border-bottom:2.5px solid gray;padding-top:1.5em;padding-left:0px;">
                <label class="editor">{{'GESTION DE JUGADORES' | translate}}</label>
            </div>
        </div>
        <div class="ui-g ui-sm ">
            <div class="ui-g-6 ui-sm-12 radiobttn">
                <span style="color: #00253F;">{{'Invitar vía email' | translate}}</span>
                <p-radioButton name="groupname" value="Email" [(ngModel)]="selectedValue"></p-radioButton>
                <span style="padding-left: 10px;color: #00253F;">{{'Añadir jugador que no es usuario' | translate}}</span>
                <p-radioButton name="groupname" value="Name" [(ngModel)]="selectedValue"></p-radioButton>
            </div>
        </div>
        <div class="ui-g ui-sm  ui-md ui-lg" style="padding-top:1em;">
            <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 managetab" style="padding-left:5%;padding-right:5%;" *ngIf="selectedValue == 'Email'">
                <div class="left" style="padding-top:10px;">
                    <div class="circlesm">
                        <label>{{'Full name' | translate}}</label><span style="color: red">*</span><br/>
                        <div style="position: relative;">
                            <input id="in" (keyup)="validateFullName($event)" class="inptxt" placeholder="{{'Full name' | translate}}" type="text" [(ngModel)]="fullname" size="40" pInputText /><br/>
                            <img class="correct" *ngIf="full_name_valid" src="assets/images/signup/correct.png" />
                            <p class="exist" *ngIf="full_name_error">{{"Please enter full name" | translate}}</p>
                        </div>
                        <label>Email</label><span style="color: red">*</span><br/>
                        <div style="position: relative;">

                            <input id="in" class="inptxt" placeholder="Email" type="text" size="30" [(ngModel)]="email" pInputText (keyup)="validate()" />
                            <!-- <p class="errorText">{{'¡email inválido!' | translate}}</p> -->
                            <p *ngIf="email_exist" class="exist">{{'de correo electrónico ya existe!' | translate}}</p>
                            <img class="correct" *ngIf="check_email" src="assets/images/signup/correct.png" />
                        </div>
                        <div style="position: relative;">
                            <label>{{'ID' | translate}}</label><br/>
                            <input id="in" class="inptxt" placeholder="{{'ID' | translate}}" type="text" [(ngModel)]="national_id" size="40" pInputText /><br/>
                        </div>
                        <button style="margin-top: 10px;" pButton type="button" class="ui-button-green buton-2" [disabled]="!check_email || emailExists" (click)="createdata()" label="{{'Enviar Invitacion' | translate}}"></button>
                    </div>
                </div>
            </div>

            <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 managetab" style="padding-left:5%;padding-right:5%;" *ngIf="selectedValue == 'Name'">
                <div class="left" style="padding-top:10px;">
                    <div class="circlesm">
                        <label>{{'Full name' | translate}}</label><span style="color: red">*</span><br/>
                        <div style="position: relative;">
                            <input id="in" (keyup)="validateFakeName($event)" class="inptxt" placeholder="{{'Full name' | translate}}" type="text" [(ngModel)]="fakename" size="40" pInputText /><br/>
                            <img class="correct" *ngIf="fake_name_valid" src="assets/images/signup/correct.png" />
                            <p class="exist" *ngIf="fake_name_error">{{"Please enter full name" | translate}}</p>
                        </div>
                        <div style="position: relative;">
                            <label>{{'ID' | translate}}</label><br/>
                            <input id="in" class="inptxt" placeholder="{{'ID' | translate}}" type="text" [(ngModel)]="national_id" size="40" pInputText /><br/>
                        </div>
                        <button pButton type="button" class="ui-button-green buton-2" (click)="postFakePlayerData()" label="{{'ENVIAR INVITACION' | translate}}" style="height:36px;margin-left:1em;margin-top:1em;"></button>
                    </div>
                </div>
            </div>


            <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 managetab1" style="padding-left:5%;padding-right:5%;border-left:1px solid gray;">
                <p class="perfilyfONT" style="color:#00253F;white-space:nowrap;">{{'Buscar jugadores dentro de Pelotea' | translate}}</p>
                <label class="required" style="color:darkcyan;margin-left:-1em;white-space:nowrap;font-size:10px;vertical-align:top;">*{{'(mínimo 3 caracteres requerido)' | translate}}</label>
                <div class="right" style="padding-top:10px;">
                    <div class="circlesm1" align="center">
                        <p-autoComplete [suggestions]="player_list" (completeMethod)="filterBrands($event)" [size]="30" placeholder="{{'Buscar jugadores dentro de Pelotea' | translate}}" field="name">
                            <ng-template let-brand pTemplate="item">
                                <div class="ui-g ui-md ui-sm ui-lg">
                                    <div class="ui-g-7 ui-md-7 ui-sm-7 ui-lg-7 ui-g-nopad" style="line-height: 40px;">
                                        <div class="cercleSmall"><img [src]="brand?.profile_pic?basePath+brand?.profile_pic:'assets/images/default.png'" class="cercleSmall" /></div>
                                        <span class="colorPABLO paddFont">{{brand?.name}} {{brand?.last_name}}</span> <br>
                                    </div>
                                    <div class="ui-g-5 ui-md-5 ui-sm-5 ui-lg-5">
                                        <button pButton type="button" style="font-size: 0.8em;padding: 4px;" class="ui-button-green buton" label="{{'ENVIAR INVITACION' | translate}} " (click)="invite(brand?.id)"></button>
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g ui-sm ui-md ui-lg">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
                <hr style="border:1px solid gray;" />
            </div>
        </div>

        <div class="ui-g desktop">
            <div class="ui-g-12 ui-sm-12" style="margin-top: 32px;" *ngFor="let player of team_player">
                <div style="display: flex;align-items: center" class="ui-g-12">
                    <div class="ui-g-1">
                        <img [src]="player?.profile_pic?basePath+player?.profile_pic:'assets/images/default.png'" class="cercleSmall" />
                    </div>

                    <div class="ui-g-3 ">
                        {{player?.name}} {{player?.last_name}}
                    </div>

                    <div class="ui-g-4 ">
                        <span class="ui-float-label">
                                <p-inputMask [(ngModel)]="player.shirt_no" id="float-input" [mask]="mask" slotChar=""  [autoClear]="false"></p-inputMask>
                            <label for="float-input">{{"Número de camiseta" | translate}}</label>
                        </span>
                    </div>

                    <div class="ui-g-4 ">
                        <span class="ui-float-label">
                                <input  [(ngModel)]="player.national_id" id="float-input" type="text" size="40" pInputText> 
                                <label for="float-input">{{"ID" | translate}}</label>
                            </span>
                    </div>

                </div>


                <div class="ui-g-12 ui-sm-6">
                    <div class="ui-g-8"></div>
                    <div class="ui-g-4">
                        <div class="ui-g-6">
                            <button style="width: 100%;background: red" pButton type="button" label="{{'ACTUALIZAR' | translate}}" (click)="update(player?.id,player?.shirt_no,player?.national_id)"></button><br>
                        </div>
                        <div class="ui-g-6">
                            <button pButton type="button" style="width: 100%;background: #8ec63f" label="{{'ELIMINAR' | translate}}" (click)="delete(player?.id)"></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="ui-sm mobile">
            <div class="ui-sm-12" style="margin-top: 32px;" *ngFor="let player of team_player">
                <div style="display: flex;align-items: center" class="ui-sm-12">
                    <div class="ui-sm-2">
                        <img [src]="player?.profile_pic?basePath+player?.profile_pic:'assets/images/default.png'" class="cercleSmall" />
                    </div>

                    <div class="ui-sm-3">
                        {{player?.name}} {{player?.last_name}}
                    </div>

                    <div class="ui-sm-3">
                        <span class="ui-float-label">
                                    <p-inputMask [(ngModel)]="player.shirt_no" id="float-input" [mask]="mask" slotChar=""  [autoClear]="false"></p-inputMask>
                                <label for="float-input">{{"Número de camiseta" | translate}}</label>
                            </span>
                    </div>

                    <div class="ui-sm-4 ">
                        <span class="ui-float-label">
                                    <input  [(ngModel)]="player.national_id" id="float-input" type="text" size="40" pInputText> 
                                    <label for="float-input">{{"ID" | translate}}</label>
                                </span>
                    </div>

                </div>


                <div style="    display: flex;  align-items: center;" class=" ui-sm-12">
                    <div class="ui-sm-4"></div>
                    <div class="ui-sm-4">
                        <button style="width: 100%;background: red" pButton type="button" label="{{'ACTUALIZAR' | translate}}" (click)="update(player?.id,player?.shirt_no,player?.national_id)"></button><br>
                    </div>
                    <div class="ui-sm-4">
                        <button pButton type="button" style="width: 100%;background: #8ec63f" label="{{'ELIMINAR' | translate}}" (click)="delete(player?.id)"></button>
                    </div>
                </div>

            </div>
        </div>
        <!-- <div class="ui-g ui-sm ui-md ui-lg" *ngIf="team_player?.length > 0">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6"></div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6">
                <div class="ui-g ui-sm- ui-md ui-lg jersey">{{'Número de camiseta' | translate}}</div>
            </div>
        </div> -->
        <!-- <div class="ui-g ui-sm ui-md ui-lg top-bottom" *ngFor="let player of team_player">
            <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 top">
                <div class="ui-g ui-sm ui-md ui-lg">
                    <div class="ui-g-3 ui-sm-12 ui-md-3 ui-lg-3"></div>
                    <div class="ui-g-1 ui-sm-2 ui-md-1 ui-lg-1">
                        <div class="cercleSmall"><img [src]="player?.profile_pic?basePath+player?.profile_pic:'assets/images/default.png'" class="cercleSmall" /></div>
                    </div>
                    <div class="ui-g-1 ui-sm-0 ui-md-1 ui-lg-1"></div>
                    <div class="ui-g-3 ui-sm-4 ui-md-3 ui-lg-3">
                        <div class="ui-g ui-sm ui-md ui-lg">
                            <span class="colorPABLO paddFont">{{player?.name}} {{player?.last_name}}</span>
                        </div>
                        <div class="ui-g ui-sm ui-md ui-lg">
                        </div>
                    </div>
                    <div class="ui-g-3 ui-sm-3 ui-md-3 ui-lg-3">
                    </div>
                </div>
            </div>
            <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 bottom">
                <div class="ui-g ui-sm ui-md ui-lg">
                    <div class="ui-g-1 ui-sm-1 ui-md-1 ui-lg-1"><input id="in" type="text" size="30" [ngModelOptions]="{standalone: true}" (keyup)="enable($event)" (click)="get_id(player?.id)" [(ngModel)]="player.shirt_no" pInputText />
                    </div>
                    <div class="ui-g-1 ui-sm-1 ui-md-1 ui-lg-1"></div>
                    <div class="ui-g-4 ui-sm-5 ui-md-4 ui-lg-4"><button pButton type="button" class="ui-button-green buton-2 submit" label="{{'ACTUALIZAR' | translate}}" (click)="update(player?.id)"></button></div>
                    <div class="ui-g-4 ui-sm-5 ui-md-4 ui-lg-4"><button pButton type="button" class="ui-button-green buton-2 eliminat" label="{{'ELIMINAR' | translate}}" (click)="delete(player?.id)"></button></div>
                </div>
            </div>
        </div> -->
        <div class="ui-g ui-sm ui-md ui-lg">
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6"></div>
            <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6">
                <div class="ui-g ui-sm- ui-md ui-lg">
                    <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6"></div>
                    <div class="ui-g-6 ui-sm-12 ui-md-6 ui-lg-6 cancel_div"><button pButton type="button" class="ui-button-green buton-2 cancel" label="{{'terminar' | translate}}" (click)="terminate()" style="height:36px;"></button></div>
                </div>
            </div>
        </div>
    </div>
</div>