<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"Enter the 4 digit code that was sent to your mobile." | translate}}
            </p>
            <div col-12 style="display: flex">
                <p-inputMask #input1 [mask]="mask" slotChar="" [(ngModel)]="d1" (keyup)="checkOtp(1,$event)"></p-inputMask>&nbsp;&nbsp;
                <p-inputMask #input2 [mask]="mask" slotChar="" [(ngModel)]="d2" (keyup)="checkOtp(2,$event)"></p-inputMask>&nbsp;&nbsp;
                <p-inputMask #input3 [mask]="mask" slotChar="" [(ngModel)]="d3" (keyup)="checkOtp(3,$event)"></p-inputMask>&nbsp;&nbsp;
                <p-inputMask #input4 [mask]="mask" slotChar="" [(ngModel)]="d4" (keyup)="checkOtp(4,$event)"></p-inputMask>&nbsp;&nbsp;
            </div>
        </div>

        <div class="ui-g-12" style="margin-top: 32px;text-align: center;font-size: 14px;color: #8b8e95;cursor: pointer;">
            <p style="display: inline;" (click)="resendOtp()">{{"Don't receive it?" | translate}}&nbsp;
                <span [ngStyle]="{'color':count>0?'#d7d7d7':'#8ec63f'}" style="font-weight:bold;color: #8ec63f">{{'Resend' | translate}}</span>
            </p>
        </div>

        <div class="ui-g-12" *ngIf="count>0" style="margin-top: 16px;text-align: center;font-size: 14px;color: #8b8e95;cursor: pointer;">
            <p style="display: inline;">{{"Resend otp in" | translate}}&nbsp;
                <span style="font-weight:bold;color: #8ec63f">{{count}}s</span>
            </p>
        </div>

        <div class="ui-g-12" style="margin-top: 32px;">
            <button (click)="verifyOtp()" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}"> </button>
        </div>
    </div>
</div>