   
.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.addcard{
    display: flex;align-items: center;padding: 30px 0px 0px 0px;
    cursor: pointer
   }