<loader *ngIf='loader'></loader>
<p-growl [value]="msgs"></p-growl>
<div style="display: flex;margin-bottom: 5px;align-items: baseline; padding: 0px;" class="ui-g-4" *ngFor="let i of results;let ind=index">
  <div style="padding: 0px;background:#F2F2F2;text-align:left;font-weight:normal;color:white;box-sizing: border-box;" class="ui-g-11">
    <div style="color: #113861;padding: 0px;display: flex;align-items: center;" class="ui-g-12">
      <div class="ui-g-6">
        {{i.card_type=='MasterCard'?'MASTER':'VISA'}} CARD
      </div>
      <div style="color:red;cursor:pointer;    cursor: pointer; text-align:right" class="ui-g-6">
        <img style="    height: 16px;        width: 18px;" (click)="removeCard(i.id,ind)" src="assets/images/rubbish.png"
        />
      </div>
    </div>

    <div style="display: flex;padding: 0px;align-items: center;" class="ui-g-12">
      <div class="ui-g-4">
        <img src="{{i.card_type=='MasterCard'?'assets/images/master_card.png':'assets/images/visa_card.png'}}" />
      </div>
      <div style="color:#113861" class="ui-g-8">
       XXXX-XXXX-XXXX-{{i.number}}
      </div>
    </div>
  </div>
  <div class="ui-g-1"></div>

</div>
<div style="color: #FA3E3E;font-size: 18px;text-align: center;" *ngIf="results?.length==0">
  No saved card
</div>

<!-- <div class="ui-g-12 addcard">
  <img style="height: 40px;width: 40px;" src="assets/images/addcard.png" (click)="addCard()" />
  <span style="padding-left: 15px;">Add new card</span>
</div> -->

<!-- Payment success popup -->
<p-dialog [resizable]='false' [dismissableMask]="true" class="payment_status_dialog" [(visible)]="card_added">
  <div style="border-bottom:1px solid #d7d7d7;background:#113861;color:white" class="ui-g-12">
    <p>Payment Message </p>
  </div>
  <div style="text-align: center;
   margin-top: 40px;
   color: #8ec63f;" class="ui-g-12">
    <p>Card Added Successfull!</p>
  </div>
  <div style="text-align:center" class="ui-g-12">
    <button style="    width: 80px;
       margin-top: 15px;" class="ui-button-green" pButton label="ok" (click)="card_added=false"></button>
  </div>
</p-dialog>
<!--  -->

<!-- Payment failed popup -->
<p-dialog [resizable]='false' [dismissableMask]='true' class="payment_status_dialog" [(visible)]="card_failed">
  <div style="border-bottom:1px solid #d7d7d7;background:#113861;color:white" class="ui-g-12">
    <p>Payment Message</p>
  </div>
  <div style="text-align: center;
   margin-top: 40px;
   color: #8ec63f;" class="ui-g-12">
    <p>Card Not Added!</p>
  </div>
  <div style="text-align:center" class="ui-g-12">
    <button style="    width: 80px;
       margin-top: 15px;" pButton label="ok" class="ui-button-green" (click)="card_failed=false"></button>
  </div>
</p-dialog>
<!--  -->

<div [class.backdrop]="card_failed"></div>
<div [class.backdrop]="card_added"></div>
<div [class.backdrop]="loader1"></div>
<div [class.backdrop]="loader"></div>