<loader *ngIf="showLoader"></loader>
<p-growl [value]="msgs"></p-growl>

<div class="ui-g nav">

    <div class="ui-g-6 hoverOnTd" [class.activeLink]="status=='invite'" (click)="activateInvite()">{{'Solicitud recibida' | translate}}</div>
    <div class="ui-g-6 hoverOnTd" [class.activeLink]="status=='sent'" (click)="activateSent()">{{'Solicitud enviada' | translate}}</div>
</div>

<!------------------------block to display sent request data---------------------->
<div class="ui-g match" *ngFor="let request of sentData">
    <div class="ui-g-4 ui-sm-12 pro" style="background:white;border: 1px solid black;">
        <div class="ui-g-2 ui-sm-2">
            <img [src]="request?.team1?.logo!=null?basePath+request?.team1?.logo:(request?.logo?basePath+request.logo:'assets/images/default_team_logo.png')" class="card-image" />
        </div>
        <div class="ui-g-8 ui-sm-8" style="text-align: center;padding-top: 20px;">
            <span class="sp" *ngIf="request?.team1">{{request?.team1?.team_name}}</span>
            <span class="sp" *ngIf="!request?.team1">{{request?.name}} {{request?.last_name}}</span>
            <span *ngIf="request?.team2" class="sp" style="font-size:13px;">VS</span>
            <span *ngIf="request?.team2" class="sp">{{request?.team2?.team_name}}</span><br>
            <span *ngIf="request?.type!='open'" class="referee_text">{{request?.type=='player'?'Jugador':(request?.type=='referee'?'Arbitro':'Torneo')}}</span>
        </div>
        <div class="ui-g-2 ui-sm-2">
            <img *ngIf="request?.team2" [src]="request?.team2?.logo!=null?basePath+request?.team2?.logo:'assets/images/default_team_logo.png'" class="card-image" style="margin-left: -15px;" />
        </div>
    </div>
    <div class="ui-g-4 ui-sm-6 pro">
        <div class="ui-g-12 ui-sm-12" *ngIf="request?.type=='open' || request?.type=='referee' || request?.type=='tournament'">
            <span class="heading">{{'Fecha Partido' | translate}}:</span>
            <span class="text">{{request?.date_time}}</span>
        </div>
        <div class="ui-g-12 ui-sm-12" *ngIf="request?.type=='open' || request?.type=='referee' || request?.type=='tournament'">
            <span class="heading">{{'Hora' | translate}}:</span>
            <span class="text">{{request?.time}}</span>
        </div>
        <div class="ui-g-12 ui-sm-12" *ngIf="request?.type =='open' || request?.type!='tournament' && request?.type != 'player'">
            <span class="heading">{{'Cancha' | translate}}:</span>
            <span class="text">....</span>
        </div>
        <div class="ui-g-12 ui-sm-12" *ngIf="request?.type !='open' &&  request?.type!='tournament' && request?.type != 'player'">
            <span class="heading">{{'Arbitro' | translate}}:</span>
            <span class="text">....</span>
        </div>
        <div class="ui-g-12 ui-sm-12" *ngIf="request?.type=='tournament'">
            <span class="text">{{'Desea aceptar que entre este torneo?' | translate}}</span>
        </div>
        <div class="ui-g-12 ui-sm-12" *ngIf="request?.type=='player'">
            <span class="text">{{'Desea aceptar que entre este jugador en tu equipo?' | translate}}</span>
        </div>

    </div>
    <div class="ui-g-4 ui-sm-6 btn-div" style="align-items: center;">
        <div class="ui-g-6 ui-sm-12 bt">
            <button pButton type="button" (click)="redirectToProfile(request?.type,request?.redirect_id)" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button" style="height: 40px;width: 140px;"></button>
        </div>
        <div *ngIf="status=='sent'" class="ui-g-6 ui-sm-12 bt">
            <button pButton type="button" label="{{'CANCELAR PETICIÓN' | translate}}" class="team-request ui-button-red ui-button" (click)="actionRequest(request.type,request.id,'cancel')" style="padding:0;height:40px;"></button>
        </div>
    </div>
</div>
<!---------------------------------------->
<div class="ui-g match" *ngFor="let request of openChallengeSent">

    <div class="ui-g-4 ui-sm-12 pro" style="background:white;border: 1px solid black;">
        <div class="ui-g-2 ui-sm-2">
            <img [src]="request?.team_logo?basePath+request?.team_logo:'assets/images/default_team_logo.png'" class="card-image" />
        </div>
        <div class="ui-g-8 ui-sm-8" style="text-align: center;padding-top: 20px;">
            <span class="sp">{{request?.team_name?request?.team_name:'....'}}</span><br/>

            <span class="referee_text">{{'Desafío abierto' | translate}}</span>
        </div>

    </div>
    <div class="ui-g-4 ui-sm-6 pro" style="">
        <div class="ui-g-12 ui-sm-12">
            <span class="heading">{{'Fecha Partido' | translate}}:</span>
            <span class="text">{{request?.match_date+' '+request?.match_time}}</span>
        </div>


    </div>
    <div class="ui-g-4 ui-sm-6" style="display: flex;align-items: center;">
        <div class="ui-g-6 ui-sm-12 bt">
            <button pButton type="button" (click)="redirectToOpenMatch(request?.match_pk)" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button"></button>
        </div>
        <div *ngIf="status=='sent'" class="ui-g-6 ui-sm-12 bt">
            <button pButton type="button" label="{{'CANCELAR PETICIÓN' | translate}}" class="team-request ui-button-red ui-button" (click)="cancelOpenMatch(request?.requset_pk)" style="padding:12px;height:40px;"></button>
        </div>
    </div>
</div>
<!------
<!---------------------------------------->
<div class="ui-g match" *ngFor="let request of tournament_request">

    <div class="ui-g-4 ui-sm-12 pro" style="background:white;border: 1px solid black;">
        <div class="ui-g-2 ui-sm-2">
            <img [src]="request?.tournament_logo?basePath+request?.tournament_logo:'assets/images/tournament-profile-logo/default.png'" class="card-image" />
        </div>
        <div class="ui-g-8 ui-sm-8" style="text-align: center">
            <span class="sp">{{request?.tournament_name?request?.tournament_name:'....'}}</span><br/>

            <span class="referee_text">{{'Solicitud de torneo' | translate}}</span>
        </div>

    </div>
    <div class="ui-g-4 ui-sm-6 pro">
        <div class="ui-g-12 ui-sm-12">
            <span class="heading">{{request?.tournament_name}}</span><br>
            <span class="text">{{'Quisieras inscribirte en este torneo?' | translate}}</span>
        </div>


    </div>
    <div class="ui-g-4 ui-sm-6 btnns-div">
        <div class="ui-g-6 ui-sm-12 bt">
            <button pButton type="button" (click)="redirectToTournament(request?.tournament_pk)" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button" style="width: 135px;"></button>
        </div>
        <div class="ui-g-6 ui-sm-12 bt">
            <p-dropdown class="team_profile_drop" [options]="dropdownOptions" (onChange)="actionRequestTournament(request?.request_pk,actionTypeTournament)" [(ngModel)]="actionTypeTournament" [style]="{'width':'120px'}"></p-dropdown>
        </div>
    </div>
</div>
<!------
<!------------------------block to display received data------------------------------------>
<div class="ui-g ui-fluid match" *ngFor="let x of recievedData">

    <div class="ui-g-4 ui-sm-12 pro" style="background:white;border: 1px solid black;">
        <div class="ui-g-2 ui-sm-2">
            <img [src]="x?.team1?.logo!=null?basePath+x?.team1?.logo:(x?.logo?basePath+x.logo:'assets/images/default_team_logo.png')" class="card-image" />
        </div>
        <div class="ui-g-8 ui-sm-8" style="text-align: center;padding-top: 20px;">
            <span class="sp">{{x?.team1?x?.team1?.team_name:x?.name}} {{x?.last_name}}</span>
            <span *ngIf="x?.team2" class="sp" style="font-size:13px;">VS</span>
            <span *ngIf="x?.team2" class="sp">{{x?.team2?.team_name}}</span><br>
            <span *ngIf="x?.type=='player'" class="referee_text">{{'JUGADOR' | translate}}</span>
        </div>
        <div class="ui-g-2 ui-sm-2">
            <img *ngIf="x?.team2" [src]="x?.team2?.logo!=null?basePath+x?.team2?.logo:(x?.type=='open'?'assets/images/default_team_logo.png':'assets/images/default.png')" class="card-image" style="margin-left: -15px;" />
        </div>
    </div>
    <div class="ui-g-4 ui-sm-6 pro">
        <div class="ui-g" style="padding:0px;">
            <div class="ui-g-12 ui-sm-12" *ngIf="x?.type=='open'">
                <span class="heading">{{'Fecha Partido' | translate}}:</span>
                <span class="text">{{x?.date_time}}</span>
            </div>
            <div class="ui-g-12 ui-sm-12" *ngIf="x?.type=='open'">
                <span class="heading">{{'Hora' | translate}}:</span>
                <span class="text">{{x?.time}}</span>
            </div>
            <div class="ui-g-12 ui-sm-12" *ngIf="x?.type !='open' && x?.type!='player'">
                <span class="heading">{{'Cancha' | translate}}:</span>
                <span class="text">....</span>
            </div>
            <div class="ui-g-12 ui-sm-12" *ngIf="x?.type !='open' && x?.type!='player'">
                <span class="heading">{{'Arbitro' | translate}}:</span>
                <span class="text">....</span>
            </div>

            <div class="ui-g-12 ui-sm-12" *ngIf="x?.type=='player'">
                <span class="text">{{'Desea aceptar que entre este jugador en tu equipo?' | translate}}</span>
            </div>
        </div>
    </div>


    <div class="ui-g-4 ui-sm-6 btn-div">
        <div class="ui-g-6 ui-sm-12 bt" style="margin:auto;display:flex;">
            <button pButton type="button" (click)="redirectToProfile(x?.type,x?.redirect_id)" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button"></button>
        </div>

        <div style="padding-top: 20px;" class="ui-g-6 ui-sm-12 schedule-dropdownback">
            <p-dropdown [options]="dropdownOptions" (onChange)="actionRequest(x.type,x.id,actionType)" [(ngModel)]="actionType" [style]="{'width':'100%'}"></p-dropdown>
        </div>
    </div>

</div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------>
<div class="ui-g match" *ngFor="let x of openMatch">

    <div class="ui-g-4 ui-sm-12 pro" style="background:white;border: 1px solid black;">
        <div class="ui-g-2 ui-sm-2">
            <img [src]="x?.team_logo!=null?basePath+x?.team_logo:'assets/images/default_team_logo.png'" class="card-image" />
        </div>
        <div class="ui-g-8 ui-sm-8" style="text-align: center;padding-top: 20px;">
            <span class="sp">{{x?.team_name?x?.team_name:'....'}}</span>
            <br>
            <span class="referee_text">{{'Desafío abierto' | translate}}</span>
        </div>

    </div>
    <div class="ui-g-4 ui-sm-6 pro">
        <div class="ui-g-12 ui-sm-12">
            <span class="heading">{{'Fecha Partido' | translate}}:</span>
            <span class="text">{{x?.date}}</span>
        </div>
        <div class="ui-g-12 ui-sm-12">
            <span class="heading">{{'Hora' | translate}}:</span>
            <span class="text">{{x?.time}}</span>
        </div>
    </div>

    <div class="ui-g-4 ui-sm-6 btn-div" style="margin:auto;align-items: center;">
        <div class="ui-g" style="padding:0px;">
            <div class="ui-g-6 ui-sm-12 bt " style="margin-left: -23px;">
                <button pButton type="button" (click)="redirectToOpenMatch(x?.match_pk)" label="{{'Ver perfil' | translate}}" class="ui-button-green ui-button" style="padding:0;height:40px;"></button>
            </div>

            <div class="ui-g-6 ui-sm-12 schedule-dropdownback">
                <p-dropdown [options]="dropdownOptions" (onChange)="openMatchAction(x?.request_pk,actionType)" [(ngModel)]="actionType" [style]="{'width':'100%'}"></p-dropdown>
            </div>
        </div>
    </div>
</div>





<div class="ui-g" style="margin-top: 20px;" *ngIf="!recievedData?.length && !openChallengeSent?.length && !tournament_request?.length && !sentData?.length && !openMatch?.length">
    <div class="ui-g-12 text-center">
        <span style="color: darkcyan;font-size: 1.3em;">{{'Datos no encontrados' | translate}}</span>
    </div>
</div>
<div class="ui-g" style="margin-bottom:100px;height: 100px"></div>