.match {
    margin-bottom: 5px;
    padding: 1px;
    background: #043760;
}

.pro {
    padding-top: 2%;
}

.name {
    border-radius: 25px;
    width: 35px;
    height: 35px;
}

.btnns-div {
    align-items: center;
}

.btn {
    margin-left: 2%;
}

span {
    color: white;
}

.card-image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.sp {
    color: #00253f;
    font-size: 22px;
    overflow: hidden;
    font-family: 'ChaletComprime CologneEighty';
}

.heading {
    color: #8CCE25;
}

.text {
    color: white;
}

.bt {
    display: flex;
    align-items: center;
}

.activeLink {
    background: #8DCF25;
}

.hoverOnTd {
    color: #737373;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border: 1px solid #737373;
}

.hoverOnTd:hover {
    cursor: pointer;
}

.nav {
    margin-bottom: 24px;
    margin-top: 10px;
}

.referee_text {
    padding: 1px 5px;
    font-size: 10px;
    background: darkcyan;
    font-family: Montserrat-Regular;
    text-transform: uppercase;
    border-radius: 25px;
    margin-left: 10px;
    color: white;
}

@media only screen and (max-width: 40em) {
    .bt {
        margin-left: 0px !important;
    }
    .schedule-dropdownback {
        padding-right: 20px !important;
    }
}

@media only screen and (min-width: 40em) {
    .btn-div {
        display: flex !important;
    }
}

@media only screen and (max-width:640px) {
    .btnnss-div {
        display: block;
    }
    .team_profile_drop .ui-dropdown .ui-dropdown-label {
        width: 90% !important;
    }
}