<p-growl [value]="msgs"></p-growl>
<loader *ngIf="loader"></loader>

<div class="ui-g">
    <div style="padding: 0px" class="ui-g-12">
        <img style="width: 100%;height: 250px;" src="assets/images/back.jpg" />
    </div>
</div>

<div class="section">
    <div class="ui-g">

        <div style="font-size: 22px;padding-left: 0px;margin: 16px;" class="ui-g-12">
            <span style="font-size: 22px;">
                {{"Edit profile" | translate}}
            </span>
            <span style="float: right;font-size: 12px;color: #8ec63f;cursor: pointer;margin-top: 1%;" (click)="back()">
                {{'Back to profile' | translate}}
            </span>
            <hr>
        </div>

        <div style="background: #f7f7f7;padding: 32px 32px;margin: 16px;" class="ui-g-12">

            <div [formGroup]="form">

                <div style="position: relative;" (keyup)="validateFullName($event)" class="ui-g-4 ui-sm-12 padding">
                    <p class="text-label">
                        {{"Full name" | translate}}
                    </p>
                    <input pInputText formControlName="fullname" />
                    <img class="correct" *ngIf="full_name_valid" src="assets/images/signup/correct.png" />
                    <p class="exist" *ngIf="full_name_error">{{"Please enter full name" | translate}}</p>
                </div>

                <div style="position: relative;" class="ui-g-4 ui-sm-12 padding">
                    <p class="text-label">
                        {{"User name" | translate}}
                    </p>
                    <input (keyup)="validateuser($event)" pInputText formControlName="username" />
                    <img class="correct" *ngIf="check_user" src="assets/images/signup/correct.png" />
                    <p class="exist" *ngIf="user_exist">{{"Username has already been taken" | translate}}</p>
                    <p class="exist" *ngIf="user_short_length">{{"Username is too short." | translate}}</p>
                    <p class="exist" *ngIf="!tagname_valid1">{{"Username must have one digit and one aplhabet" | translate}}</p>
                </div>
                <div class="ui-g-4 ui-sm-12 padding">
                    <p style="position: relative;" class="text-label">
                        {{"Email" | translate}}
                        <span *ngIf="email_verify" style="position: absolute;right: 0px;display: flex;align-items: center;top: 0px;font-size: 10px;">
                                <img src="assets/images/profile/verified.png" style="padding-right: 4px;width: 20px;" /> {{"Verified" | translate}}
                            </span>
                    </p>
                    <p (click)="showDialog('email')" class="text-input">
                        {{player_profile?.email}}

                    </p>

                </div>
            </div>

            <div class="ui-g-4 ui-sm-12 padding">
                <p style="position: relative;" class="text-label">
                    {{"Contact no" | translate}}
                    <span *ngIf="mobile_verify" style="position: absolute;right: 0px;display: flex;align-items: center;top: 0px;font-size: 10px;">
                            <img src="assets/images/profile/verified.png" style="padding-right: 4px;width: 20px;" /> {{"Verified" | translate}}
                        </span>
                </p>
                <p (click)="showDialog('mobile')" class="text-input">
                    {{player_profile?.full_mobile}}
                </p>
            </div>

            <div class="ui-g-4 ui-sm-12 padding">

                <p class="text-label">
                    {{"Location" | translate}}
                </p>

                <p-autoComplete [(ngModel)]="location" placeholder="{{'Where are you located?'| translate}}" (onSelect)="setLoaction($event)" field="description" [suggestions]="autocompleteItems" (completeMethod)="search($event)">
                </p-autoComplete>

                <!-- <img style="position: absolute;left: 8px;width: 22px;top: 10px;" src="assets/images/city_location.png" /> -->
                <!-- <input (keyup)="validateuser($event)" pInputText formControlName="username" />

                <p (click)="showDialog('location')" class="text-input">
                    {{player_profile?.full_country}}
                </p> -->
            </div>

            <div style="text-align: center" class="ui-g-4 ui-sm-12 padding">
                <button class="update" (click)="updateProfile()" label="{{'Update' | translate}}" pButton></button>
            </div>

        </div>

        <div style="font-size: 22px;padding-left: 0px;margin: 16px;" class="ui-g-12">
            <p style="font-size: 22px;">
                {{"Biography" | translate}}
            </p>
            <hr>
        </div>

        <div style="background: #f7f7f7;padding: 32px 32px;margin: 16px;" class="ui-g-12">

            <div class="ui-g-8 ui-sm-12">
                <div class="ui-g-6 ui-sm-12 padding1">
                    <p class="text-label">
                        {{"Position" | translate}}
                    </p>
                    <p-dropdown [style]="{'width':'100%'}" placeholder="{{'Select position' | translate}}" [options]="position_list" [(ngModel)]="selected_position"></p-dropdown>
                </div>

                <div class="ui-g-6 ui-sm-12 padding1">
                    <p class="text-label">
                        {{"preferred leg" | translate}}
                    </p>
                    <p-dropdown [style]="{'width':'100%'}" placeholder="{{'Select preferred leg' | translate}}" [options]="leg_list" [(ngModel)]="selected_leg"></p-dropdown>
                </div>

                <div class="ui-g-6 ui-sm-12 padding1">
                    <p class="text-label">
                        {{"Date of birth" | translate}}
                    </p>
                    <p-calendar [style]="{'width':'100%'}" placeholder="{{'Date of birth' | translate}}" [locale]="langauge" [(ngModel)]="dob" [maxDate]="date" utc="true" [showIcon]=true [yearNavigator]=true yearRange='1900:2020' dateFormat='yy-mm-dd' [monthNavigator]=true
                        [readonlyInput]="true"></p-calendar>
                </div>

                <div class="ui-g-6 ui-sm-12 padding1">
                    <p class="text-label">
                        {{"Height" | translate}}
                    </p>
                    <p-dropdown filter="true" [style]="{'width':'100%'}" placeholder="{{'Select height' | translate}}" [options]="height_list" [(ngModel)]="height"></p-dropdown>
                </div>
            </div>
            <div [formGroup]="form1">
                <div class="ui-g-4 ui-sm-12 padding1">
                    <p class="text-label">
                        {{"About you" | translate}}
                    </p>
                    <textarea style="height: 152px;" pInputText formControlName="about"></textarea>
                </div>

                <div class="ui-g-4 ui-sm-12 padding1">
                    <p class="text-label">
                        {{"National id" | translate}}
                    </p>
                    <input pInputText formControlName="national_id" />

                </div>
            </div>
            <div class="ui-g-4 ui-sm-12 padding1">
                <p class="text-label">
                    {{"Gender" | translate}}
                </p>
                <p-dropdown [style]="{'width':'100%'}" placeholder="{{'Select gender' | translate}}" [options]="gender_list" [(ngModel)]="gender"></p-dropdown>
            </div>

            <div class="ui-g-4 ui-sm-12 padding1">
                <p class="text-label">
                    {{"Citizenship" | translate}}
                </p>
                <p-dropdown filter="true" [style]="{'width':'100%'}" placeholder="{{'Select citizenship' | translate}}" [options]="citizenship" [(ngModel)]="country_id"></p-dropdown>
            </div>


            <div class="ui-g-8"></div>
            <div style="text-align: center" class="ui-g-4 ui-sm-12 padding">
                <button pButton class="update" label="{{'Update' | translate}}" (click)="updateBio()"></button>
            </div>
        </div>




    </div>

</div>

<!-- Email verify popup=>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

<div class="tournament_profil">
    <div class="ui-g">
        <p-dialog [(visible)]="emailDisplay" modal="modal" [dismissableMask]="true" [resizable]="true">
            <div style="text-align: right;padding: 16px" class="ui-g-12">
                <img (click)="emailDisplay=false" class="skip-all" src="assets/images/signup/Cross.png" />
            </div>
            <div style="position: relative;padding: 0px 32px; " class="ui-g-12 ">
                <p style="margin-bottom: 16px" class="signup-heading">
                    {{"What is your email address?" | translate}}
                </p>
                <p class="signup-heading" style="margin-bottom: 16px;font-size: 18px;color: #8b8e95">
                    {{"We'll send you a verification code on your email" | translate}}
                </p>
            </div>
            <div class="ui-g-12" style="position: relative;;padding: 16px;background: #f7f7f7;text-align: center;">
                <input style="width: 50% !important" (keyup)="validateEmail($event)" placeholder="{{'Email' | translate}}" [(ngModel)]="email" pInputText />
                <img style="right: 28%;bottom: 26px!important" class="correct" *ngIf="check_email" src="assets/images/signup/correct.png" />
                <p class="exist" *ngIf="email_exist">{{"Email has already been taken" | translate}}</p>
            </div>
            <div class="ui-g-12" style="text-align: center">
                <button style="margin: 16px 0px;" [disabled]="!check_email" pButton class="update" label="{{'Next' | translate}}" (click)="next()"></button>
            </div>
        </p-dialog>
    </div>
</div>

<div class="tournament_profil">
    <div class="ui-g">
        <p-dialog [(visible)]="otpDisplay" modal="modal" [dismissableMask]="true" [resizable]="true">
            <div style="text-align: right;padding: 16px" class="ui-g-12">
                <img (click)="otpDisplay=false" class="skip-all" src="assets/images/signup/Cross.png" />
            </div>
            <div style="position: relative;padding: 0px 32px; " class="ui-g-12 ">
                <p *ngIf="whichOtpPage=='email'" style="margin-bottom: 16px" class="signup-heading">
                    {{"Enter the 4 digits code received on the registered email." | translate}}
                </p>
                <p *ngIf="whichOtpPage=='mobile'" style="margin-bottom: 16px" class="signup-heading">
                    {{"Enter the 4 digit code that was sent to your mobile." | translate}}
                </p>
            </div>
            <div style="position: relative; " class="ui-g-12">

                <div col-12 style="display: flex;width: 50%;margin: auto">
                    <p-inputMask #input1 [mask]="mask" slotChar="" [(ngModel)]="d1" (keyup)="checkOtp(1,$event)"></p-inputMask>&nbsp;&nbsp;
                    <p-inputMask #input2 [mask]="mask" slotChar="" [(ngModel)]="d2" (keyup)="checkOtp(2,$event)"></p-inputMask>&nbsp;&nbsp;
                    <p-inputMask #input3 [mask]="mask" slotChar="" [(ngModel)]="d3" (keyup)="checkOtp(3,$event)"></p-inputMask>&nbsp;&nbsp;
                    <p-inputMask #input4 [mask]="mask" slotChar="" [(ngModel)]="d4" (keyup)="checkOtp(4,$event)"></p-inputMask>&nbsp;&nbsp;
                </div>
            </div>

            <div class="ui-g-12" style="margin-top: 32px;text-align: center;font-size: 14px;color: #8b8e95;cursor: pointer;">
                <p style="display: inline;" (click)="resendOtp()">{{"Don't receive it?" | translate}}&nbsp;
                    <span [ngStyle]="{'color':count>0?'#d7d7d7':'#8ec63f'}" style="font-weight:bold;color: #8ec63f">{{'Resend' | translate}}</span>
                </p>
            </div>

            <div class="ui-g-12" *ngIf="count>0" style="margin-top: 16px;text-align: center;font-size: 14px;color: #8b8e95;cursor: pointer;">
                <p style="display: inline;">{{"Resend otp in" | translate}}&nbsp;
                    <span style="font-weight:bold;color: #8ec63f">{{count}}s</span>
                </p>
            </div>

            <div class="ui-g-12" style="text-align: center">
                <button style="margin: 16px 0px;" pButton class="update" label="{{'Verify' | translate}}" (click)="verifyOtp()"></button>
            </div>
        </p-dialog>
    </div>
</div>

<div class="tournament_profil">
    <div class="ui-g">
        <p-dialog [(visible)]="emailPasswordDisplay" modal="modal" [dismissableMask]="true" [resizable]="true">
            <div style="text-align: right;padding: 16px" class="ui-g-12">
                <img (click)="emailPasswordDisplay=false" class="skip-all" src="assets/images/signup/Cross.png" />
            </div>

            <div style="position: relative;padding:0px 32px" class="ui-g-12 ">
                <p style="margin-bottom: 16px" class="signup-heading">
                    {{"Choose a strong password to keep your data safe." | translate}}
                </p>
            </div>

            <div *ngIf="!show_password" class="ui-g-12" style="position: relative;;padding: 16px;background: #f7f7f7;text-align: center;">
                <input style="width: 50% !important" type="password" (keyup)="validatePassword($event)" placeholder="{{'Password' | translate}}" [(ngModel)]="password" pInputText />
                <img (click)="show_password=true" style="cursor: pointer;right: 28%;bottom: 35% !important;" class="correct" src="assets/images/signup/eye.png" />
            </div>

            <div *ngIf="show_password" class="ui-g-12" style="position: relative;;padding: 16px;background: #f7f7f7;text-align: center;">
                <input style="width: 50% !important" type="text" (keyup)="validatePassword($event)" placeholder="{{'Password' | translate}}" [(ngModel)]="password" pInputText />
                <img (click)="show_password=false" class="correct" style="cursor: pointer;right: 28%;bottom: 35% !important;" src="assets/images/signup/eye.png" />
            </div>

            <div class="ui-g-12" style="text-align: center">
                <button style="margin: 16px 0px;" pButton class="update" label="{{'Set password' | translate}}" (click)="setPassword()"></button>
            </div>
        </p-dialog>
    </div>
</div>

<!-- End email changed pop up=>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

<div class="tournament_profil">
    <div class="ui-g">
        <p-dialog [(visible)]="mobileDisplay" modal="modal" [dismissableMask]="true" [resizable]="true">
            <div style="text-align: right;padding: 16px" class="ui-g-12">
                <img (click)="mobileDisplay=false" class="skip-all" src="assets/images/signup/Cross.png" />
            </div>

            <div style="position: relative;padding:0px 32px" class="ui-g-12 ">
                <p style="margin-bottom: 16px" class="signup-heading">
                    {{"What is your mobile number?" | translate}}
                </p>
                <p class="signup-heading" style="margin-bottom: 16px;font-size: 18px;color: #8b8e95">
                    {{"We'll send you a verification code on your mobile number" | translate}}
                </p>
            </div>

            <div class="ui-g-12 padding1" style="position: relative;;padding: 16px;background: #f7f7f7;text-align: center;">
                <div class="ui-g-3">
                </div>

                <div class="ui-g-3">
                    <p-dropdown [style]="{'width':'100%'}" filter="true" [options]="codes" [(ngModel)]="country_code"></p-dropdown>
                </div>

                <div class="ui-g-4" style="position: relative;">
                    <p-inputMask (keyup)="validatePhone($event)" placeholder="{{'Mobile' | translate}}" [mask]="mask1" slotChar="" maxlength='15' [(ngModel)]="mobile" [autoClear]="false"></p-inputMask>
                    <img class="correct" style="bottom: 20px !important;height: 12px;right: 15px;" *ngIf="checkNumber" src="assets/images/signup/correct.png" />
                    <p class="exist" *ngIf="checkNumberErrorMsg">{{"This number already registered" | translate}}</p>
                </div>
                <div class="ui-g-2">
                </div>

            </div>

            <div class="ui-g-12" style="text-align: center">
                <button style="margin: 16px 0px;" [disabled]="!checkNumber" pButton class="update" label="{{'Next' | translate}}" (click)="checkNumberExist()"></button>
            </div>


        </p-dialog>
    </div>
</div>
<!-- 
<div class="tournament_profil">
    <div class="ui-g">
        <p-dialog [(visible)]="locationDisplay" modal="modal" [dismissableMask]="true" [resizable]="true">
            <div style="text-align: right;padding: 16px" class="ui-g-12">
                <img (click)="locationDisplay=false" class="skip-all" src="assets/images/signup/Cross.png" />
            </div>

            <div style="position: relative;padding:0px 32px" class="ui-g-12 ">
                <p style="margin-bottom: 16px" class="signup-heading">
                    {{"Find your location" | translate}}
                </p>
            </div>

            <div class="ui-g-12" style="position: relative;;padding: 16px;background: #f7f7f7;text-align: center;">
                <p-autoComplete placeholder="{{'Where are you located?'| translate}}" (onSelect)="setLoaction($event)" field="description" [suggestions]="autocompleteItems" (completeMethod)="search($event)">
                </p-autoComplete>
                <img style="position: absolute;left: 8px;width: 22px;top: 10px;" src="assets/images/city_location.png" />
            </div>

        </p-dialog>
    </div>
</div> -->

<div [class.backdrop]="emailDisplay || mobileDisplay || locationDisplay || otpDisplay || emailPasswordDisplay"></div>