 .section {
     max-width: 970px;
     margin: auto;
     padding-top: 32px;
 }
 
 .text-label {
     font-size: 14px;
     color: #8b8e95;
     padding-bottom: 10px;
     padding-left: 8px;
 }
 
 .text-input {
     border: 1px solid #d7d7d7;
     border-radius: 24px;
     height: 36px;
     padding-left: 10px;
     padding-right: 10px;
     display: flex;
     align-items: center;
     font-size: 14px;
     color: #333;
     background: white;
     cursor: pointer;
     word-break: break-all;
 }
 
 .ui-inputtext {
     background: white!important
 }
 
 .padding {
     height: 120px;
     padding: 0px 5px;
 }
 
 .padding1 {
     padding: 16px
 }
 
 .ui-dropdown label.ui-dropdown-label {
     background: white !important;
 }
 
 .ui-dropdown.ui-widget .ui-dropdown-trigger .fa {
     margin-top: 11px !important;
 }
 
 .update {
     background: #8ec63f;
     text-transform: none;
     font-size: 14px;
     margin-top: 26px;
     width: 150px;
 }
 
 .correct {
     bottom: 65px !important
 }
 
 .backdrop {
     position: fixed;
     background: #000;
     opacity: 0.7;
     width: 100%;
     height: 100%;
     top: 0px;
     left: 0px;
     z-index: 1;
 }