<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div>
    <div class="ui-g  background_img">
        <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12">
        </div>
    </div>
    <div class="section">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12">
                <p class="crearfONT">{{'EDITAR EQUIPO' | translate}}</p>
                <img src="assets/images/del.jpg" class="delImg" (click)="deleteTeamPopup=true;" pTooltip="Eliminar el equipo" />
                <hr>
            </div>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-8 ui-sm-12 paddThisCol">
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12">
                        <p class="paddLeft">{{'Nombre' | translate}}<label style="color:red;margin-left:-1em;">*</label></p><br/>
                        <input type="text" class="input" pInputText [(ngModel)]="Name" placeholder="{{'Nombre' | translate}}" [formControl]="Edit_Form.controls['name']" />
                        <div style="padding:0px;" *ngIf="!Edit_Form.controls['name'].valid && Edit_Form.controls['name'].dirty">
                            <p *ngIf="Edit_Form.controls['name'].hasError('maxlength')" class="errorText">{{'Please enter maximum 50 characters.' | translate}}</p>
                            <p *ngIf="Edit_Form.controls['name'].hasError('required')" class="errorText">{{'Name Required.' | translate}}</p>
                        </div>
                    </div>

                    <div class="ui-g-6 ui-sm-12">
                        <p class="paddLeft">{{'Slogan' | translate}}</p><br/>
                        <input type="text" class="input" pInputText [(ngModel)]="Motto" placeholder="{{'Slogan' | translate}}" [formControl]="Edit_Form.controls['Motto']" />
                        <div style="padding:0px;" *ngIf="!Edit_Form.controls['Motto'].valid && Edit_Form.controls['Motto'].dirty">
                            <p *ngIf="Edit_Form.controls['Motto'].hasError('maxlength')" class="errorText">{{'Please enter maximum 50 characters.' | translate}}</p>
                            <p *ngIf="Edit_Form.controls['Motto'].hasError('required')" class="errorText">{{'Slogan Required.' | translate}}</p>
                        </div>
                    </div>

                    <div class="ui-g-6 ui-sm-12">
                        <p class="paddLeft">{{"Tipo" | translate}}<label style="color:red;margin-left:-1em;">*</label></p>
                        <br/>
                        <p-dropdown [options]="gender" [formControl]="Edit_Form.controls['team_type']" [(ngModel)]="tipo">
                        </p-dropdown>
                    </div>
                    <!-- <div class="ui-g-6 ui-md-6 ui-sm-6">
                                <p class="paddLeft">{{'País' | translate}}<label style="color:red;margin-left:-1em;">*</label></p>
                                <br/>
                                <p-dropdown [options]="countries" (onChange)='selectedcountryFun($event)' [(ngModel)]="Country" [formControl]="Edit_Form.controls['Country']">
                                </p-dropdown>
                                <p *ngIf="country_required" class="errorText">{{'Country Required.' | translate}}</p>
                            </div> -->
                    <div class="ui-g-6 ui-sm-12">

                        <p class="paddLeft">{{'Ciudad' | translate}}<label style="color:red;margin-left:-1em;">*</label><span style="color:darkcyan;font-size: 0.7em;">{{'Escoger una de las opciones que se despliegan' | translate}}</span></p>
                        <br/>
                        <p-autoComplete [formControl]="Edit_Form.controls['City']" [(ngModel)]="City" placeholder="{{'Ciudad'| translate}}" (onSelect)="setLoaction($event)" field="description" [suggestions]="autocompleteItems" (completeMethod)="search($event)">
                        </p-autoComplete>
                        <!-- <p-autoComplete (click)="selectedcityFun(City)" field="label" [suggestions]="filteredCities" (completeMethod)="filterCitySingle($event)" [size]="30" [(ngModel)]="City" placeholder="{{'Ciudad' | translate}}" [minLength]="1" [formControl]="Edit_Form.controls['City']">
                                    <ng-template let-brand pTemplate="item">
                                        <p>{{brand.label}}</p>
                                    </ng-template>
                                </p-autoComplete> -->
                    </div>
                </div>
            </div>


            <div class="ui-g-4 ui-sm-12 paddThisCol">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p class="paddLeft">{{"INFORMACIÓN" | translate}}</p><br/>
                        <textarea pInputTextarea autoResize="autoResize" rows="5" cols="30" style="height: 135px;" [(ngModel)]="Bio" class="text" placeholder="{{'Cuentanos un poco de tu historia futbolística o cualquier cosa sobre ti' | translate}}"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g paddThisCol">
            <div class="ui-g-12 " style="text-align:end;">
                <button pButton type="button" (click)="backToProfile()" label="{{'CANCELAR' | translate}}" class="ui-button"></button>
                <button pButton type="button" (click)="post()" label="{{'GUARDAR' | translate}}" class="ui-button-green CANCELAR"></button>
            </div>
        </div>
        <br>
        <br>
    </div>
    <p-dialog [(visible)]="deleteTeamPopup" modal="modal" class="delete_ground" [resizable]=false [responsive]=true>
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 header_messg">
                <span>{{'MENSAJE' | translate}}</span>
            </div>
            <div class="ui-g-12" style="text-align: center">
                <p style="color:darkcyan">{{'La información relacionada con este equipo será eliminada' | translate}}</p>
            </div>
            <div class="ui-g-12 ui-fluid" style="margin-top: 5px;">
                <div class="ui-g-3">
                </div>
                <div class="ui-g-3">
                    <button type="button" pButton class="ui-button" label="{{'NO' | translate}}" (click)="deleteTeamPopup=false"></button>
                </div>
                <div class="ui-g-3">
                    <button type="button" pButton class="ui-button-green" label="{{'SI' | translate}}" (click)="deleteTeam();deleteTeamPopup=false"></button>
                </div>
                <div class="ui-g-3">
                </div>
            </div>
        </div>
    </p-dialog>
    <div [class.backdrop]="deleteTeamPopup"></div>
</div>