.background_img {
    background-image: url("./../../../../assets/images/back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 5%;
    height: 110px;
}

.paddThisCol {
    padding: 2%;
}

.input {
    width: 95%;
}

.section {
    max-width: 970px;
    margin: auto;
    height: 500px;
}

.paddLeft {
    padding-left: 1em;
}

.text {
    height: 135px;
    border-radius: 20px;
    background: #f2f2f2;
    outline: none;
    padding: 5px 5px;
    width: 100%;
    color: gray;
}

.btn {
    padding: 3%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.errorText {
    color: red;
    position: absolute;
    padding-top: 2px;
    padding-left: 1%;
}

.crearfONT {
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3.5em;
    color: #00253f;
}

.header_messg {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.header_messg span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.delImg {
    width: 3%;
    border-radius: 50%;
    float: right;
    margin-top: -30px;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}

.backTotournament {
    float: right;
    cursor: pointer;
    margin-top: 1%;
    color: #99cc00;
}

@media only screen and (max-width:640px) {
    .text {
        width: 95%;
    }
    .delImg {
        width: 7%;
    }
}