<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"Enter the 4 digit code that was sent to your mobile." | translate}}
            </p>
            <div col-12 style="display: flex">
                <p-inputMask #input1 [mask]="mask" slotChar="" [(ngModel)]="d1" (keyup)="checkOtp(1,$event)"></p-inputMask>&nbsp;&nbsp;
                <p-inputMask #input2 [mask]="mask" slotChar="" [(ngModel)]="d2" (keyup)="checkOtp(2,$event)"></p-inputMask>&nbsp;&nbsp;
                <p-inputMask #input3 [mask]="mask" slotChar="" [(ngModel)]="d3" (keyup)="checkOtp(3,$event)"></p-inputMask>&nbsp;&nbsp;
                <p-inputMask #input4 [mask]="mask" slotChar="" [(ngModel)]="d4" (keyup)="checkOtp(4,$event)"></p-inputMask>&nbsp;&nbsp;
            </div>
        </div>
        <p *ngIf="passerr" style="margin: 10px;color: red;">Invalid username or password</p>


        <div class="ui-g-12" style="margin-top: 32px;text-align: center;font-size: 14px;color: #8b8e95;cursor: pointer;">
            <p style="display: inline;" (click)="resendOtp()">{{"Don't receive it?" | translate}}&nbsp;
                <span [ngStyle]="{'color':count>0?'#d7d7d7':'#8ec63f'}" style="font-weight:bold;color: #8ec63f">{{'Resend' | translate}}</span>
            </p>
        </div>

        <div class="ui-g-12" *ngIf="count>0" style="margin-top: 16px;text-align: center;font-size: 14px;color: #8b8e95;cursor: pointer;">
            <p style="display: inline;">{{"Resend otp in" | translate}}&nbsp;
                <span style="font-weight:bold;color: #8ec63f">{{count}}s</span>
            </p>
        </div>

        <div class="ui-g-12" style="margin-top: 32px;">
            <button (click)="verifyOtp()" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}"> </button>
        </div>
    </div>
</div>

<!-- 

<div class="signup-model">
    <p-dialog [(visible)]="requestsent" [modal]="true">
        <div class="shoutout-head">
            <div style="margin-left:auto">
                <img (click)="closeDialog()" src="/assets/images/crossIcon.png" style="height:15px">
            </div>
        </div>
        <div class="shoutout-midcontent text-center">
            <div>
                <img src="assets/images/req.png">
            </div>
            <p class="f1">Your Request has been sent</p>
            <p class="f2">Please wait while you get approved..!</p>
        </div>
        <div class="shoutout-foot text-center" style="padding: 20px 0;">
        </div>
    </p-dialog>
</div> -->




<div [class.backdrop]="requestsent"></div>
<div class="m-dialog" *ngIf="requestsent">
    <div class="gradient">
        <div class="ui-g">
            <div class="ui-g-6 ui-sm-12" style="padding: 15px;">
                <div class="main-pop-content">
                    <p class="f1">Your Request for community has been already sent !</p>
                    <p class="f2">Please wait until your request will accept by community manager</p>
                    <!-- <button type="button" pButton class="custom-button ui-button-green" (click)="tocommunnity()" label="Join Pelotea"></button> -->
                    <button type="button" pButton class="custom-button ui-button-green" (click)="tocommunnity()" label="Home"></button>

                </div>
            </div>
            <div class="ui-g-6 ui-sm-12 no-pad">
                <img class="main-pop-image" src="assets/images/emptys/player-popup.png">
            </div>
        </div>
    </div>
</div>


<!-- requets sent code -->
<div [class.backdrop]="selectcommunity"></div>
<!-- requets sent code -->
<div *ngIf="selectcommunity" class="success-dialog">
    <div class="responsive-ig">
        <div class="c-c">
            <p class="f1" style="color:white; font-family: 'Montserrat-Light';">Your community</p>
            <p class="f2" style="color:white; font-family: 'Montserrat-Light';">Select a community in which you want to login, You can always switch later</p>
        </div>
    </div>
    <div class="shoutout-midcontent" id="style-2">
        <div *ngIf="notpart" style="text-align: center;">
            <p style="font-size: 18px;margin-top: 31px;">
                You are not a part of any community. your request for community is still pending!
            </p>
            <button class="backhome" (click)="cleardata()">Home</button>
        </div>

        <div *ngIf="!notpart" class="dashed">
            <div *ngFor="let data of usercommunities" class="community-card">
                <div class="ui-g" style="cursor:pointer" (click)="toselectedcommunity(data?.community_id)">
                    <div class="ui-g-2">
                        <img class="community-l" [src]="logo+data?.community_logo">
                    </div>
                    <div class="ui-g-8">
                        <p class="f-com">{{data?.community_name}}</p>
                    </div>
                    <div class="ui-g-2">
                        <img style="margin-top: 12px;" src="assets/images/dash/right_arrow.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>