<loader *ngIf="loader"></loader>
<div class="registration_container">
    <div class="ui-g">
        <div class="ui-g-12">
            <p class="signup-heading">
                {{"Sign up and join your soccer community!" | translate}}
            </p>
        </div>
        <div class="ui-g-12">
            <button (click)="next()" class="signup-bttn" pButton type="button" label="{{'Sign up with phone or email' | translate}}">
            </button>
        </div>
        <div class="ui-g-12" style="margin-top: 32px;">
            <p style="text-align: center;font-size: 16px;color: #8b8e95;">
                {{"Or sign up with :" | translate}}
            </p>
        </div>

        <div class="ui-g-12" style="margin-top: 16px;text-align: center">
            <img style="width: 70px;" (click)="fbLogin()" src="assets/images/loginsignup/facebook.png" />
            <img style="width: 70px;" (click)="googleLogin()" src="assets/images/loginsignup/google.png" />
        </div>
        <p *ngIf="passerr" style="margin: auto;;color: red;">User does not exist !</p>
        

        <div class="ui-g-12" style="margin-top: 16px;text-align: center;font-size: 14px;color: #8b8e95;cursor: pointer;">
            <p style="display: inline;" routerLink="../../login">{{'Already have an account?' | translate}}&nbsp;
                <span style="font-weight:bold;color: #8ec63f">{{'Login' | translate}}</span>
            </p>
        </div>
    </div>
</div>

<!-- requets sent code -->
<div [class.backdrop]="display"></div>
<div *ngIf="display" class="shoutout-dialog">
    <div class="responsive-ig">
    </div>
    <div class="shoutout-midcontent">
        <div class="dashed">
            <p class="f1">{{"Your Request has been successfully sent!"|translate}}</p>
            <p class="f2">{{"Thanks for sharing your contact information."|translate}}</p>
            <button type="button" pButton class="btn-align ui-button-green" (click)="done()" label="Done"></button>
        </div>
    </div>
</div>


<!-- requets sent code -->
<div [class.backdrop]="displayrequest"></div>
<div *ngIf="displayrequest" class="shoutout-dialog">
    <div class="responsive-ig">
    </div>
    <div class="shoutout-midcontent">
        <div class="dashed">
            <p class="f1">{{"You are already part of this community!"|translate}}</p>
            <p class="f2">{{"Try again by joining other community..!"|translate}}</p>
            <button type="button" pButton class="btn-align ui-button-green" (click)="donetwo()" label="Home"></button>
        </div>
    </div>
</div>