.full-container {
    padding-top: 145px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/back.jpg) no-repeat;
    background-color: #081023;
    background-size: contain;
    padding-bottom: 100px;
}

@media only screen and (max-width: 640px) {
    .full-container {
        padding-top: 12px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 114px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/back.jpg) no-repeat;
        background-color: #081023;
        background-size: contain;
    }
    .head img {
        height: 80px;
        width: 100px
    }
}

.section {
    max-width: 970px;
    margin: auto;
}

.top_profile {
    padding-top: 15px;
}

.header {
    text-align: center;
    background: url('./../../../assets/images/back.jpg');
    background-size: 97% 149%;
    padding: 30px 0px 30px 0px;
}

.fav {
    text-align: center;
}

.profile>h1 {
    border-bottom: 1px solid #828282;
    padding-top: 1%;
    font-size: 2.5em;
    padding-bottom: 1%;
}

.fav>h2 {
    font-size: 2em;
}

.profile>h6 {
    text-align: center;
    font-size: 1.5em;
    color: #828282;
}

h2 {
    color: #828282;
    font-size: 2.5em;
}

.enco>input {
    width: 85%;
}

.perfil {
    text-align: center;
}

.perfill>p {
    font-size: 1.2em;
}

.inform>h2 {
    font-size: 1.5em;
    color: black;
}

.pro-pics>h2 {
    font-size: 1.5em;
    color: black;
}

.inform>h2 {
    border-bottom: 1px solid #828282;
    padding-bottom: 2%;
    margin-bottom: 4%;
}

.pro-pics>h2 {
    border-bottom: 1px solid #828282;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.btn {
    padding: 1% 4%;
    border-radius: 25px;
    width: 30%;
}

.left-pro {
    height: 100px;
}

.pro-pic>h4 {
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 0.5%;
    color: #828282;
    margin-top: 2%;
    font-weight: normal;
}

.pablo {
    padding: 2%;
}

.buttons {
    text-align: center;
}

.btns>button {
    padding: 1% 9%;
    border-radius: 25px;
}

.perfil button {
    background: #043760;
}

.perfil button:hover {
    background: #022848;
}

.perfil button:focus {
    background: #00172a;
}

.btns {
    margin-left: 4%;
}

.pro-pics {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 3%;
}

.enco {
    margin-left: 5%;
}

.auth>.buton-1 {
    background: #c9c9c9;
    padding-left: 19px;
    padding-right: 19px;
}

.auth>.buton-1:hover {
    background: #dfdfdf;
}

.auth>.buton-1:focus {
    background: #bdbdbd;
}

.auth>.buton-2 {
    padding-left: 18px;
    padding-right: 18px;
}

.slider_div {
    margin-left: 1%;
    margin-right: 1%;
    background-color: #F2F2F2;
}

.slider_div p {
    float: left;
    width: 100px;
}

.slider_div_com_profile {
    margin-left: 1%;
    margin-right: 1%;
    background-color: #F2F2F2;
}

.equipo_slider_div {
    margin-left: 1%;
    margin-right: 1%;
    background-color: #00253F;
}

.equipo_slider_header {
    font-family: ChaletComprime CologneEighty;
    font-size: 3em;
    color: #ffffff;
}

.sliderimage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-bottom: 5px;
}

.slider_image .follow {
    width: 85px;
    position: absolute;
    top: 46px;
    font-size: 14px;
}

.slider_image .unfollow {
    width: 100px;
    position: absolute;
    top: 46px;
    left: 14px;
    font-size: 14px;
}

.footer {
    color: white;
    background: -webkit-linear-gradient(#00253f, #004d88, #00253f);
    margin-top: 3%;
    padding-top: 1%;
    padding-left: 3%;
    font-size: 1em;
}

.unorder>li {
    list-style: none;
    margin-right: 20%;
}

.footer-right {
    padding-left: 10% !important;
}

.pinp {
    margin-right: 4%;
}

label {
    padding-left: 5%;
    color: #828282;
    font-size: 1.5em;
}

small {
    color: #8DCF25;
    font-size: 1.2em;
}

.profile>h2 {
    font-family: 'ChaletComprime CologneEighty';
}

.right-pro>h2 {
    font-family: 'ChaletComprime CologneEighty';
}

.pablo h4 {
    font-family: 'ChaletComprime CologneEighty';
}

.career {
    padding-left: 5%;
    padding-right: 5%;
}

.profile,
.inform {
    padding-left: 1%;
    padding-right: 1%;
}

.left-pro {
    margin-right: 3px !important;
}

.right-pro {
    margin-right: 3px !important;
}

.inform {
    padding-top: 2%;
}

.profile>h2 {
    border-bottom: 1px solid #828282;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 3.5em;
}

.fa {
    float: left;
    margin-left: -5%;
    font-size: 24px;
    color: #828282;
}

.slider_image {
    position: relative;
}

.follow {
    position: absolute;
    top: 32px;
    font-size: 14px;
    left: 15px;
}

.ui-carousel-viewport {
    margin-left: 6%;
}

.ui-carousel-header-title {
    text-align: center !important;
    margin-left: 0%;
}


/**** Edited by nayyar ****/

.forms>h2 {
    border-bottom: 1px solid #828282;
    padding-bottom: 1%;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    color: #00253f;
}

.favourite {
    text-align: center;
}

.favourite>p {
    padding-bottom: 0.5%;
    color: #828282;
    font-size: 1.3em;
}

.informacion_jugador {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 13px;
}

.informacion_jugador p {
    border-bottom: 1px solid #828282;
    padding-bottom: 1%;
    padding-top: 2%;
    font-weight: normal;
    font-size: 1.5em;
    color: #00253F;
    margin-bottom: 2%;
}

.sk {
    font-family: 'ChaletComprime CologneEighty';
}

#file {
    width: 83px;
}

.choose_file {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: #ebebeb solid 1px;
    width: 136px;
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: #00253F;
}

.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    opacity: 0;
    width: 100%;
}

.pro_pic h4 {
    text-align: center;
    font-size: 1.3em;
    color: #828282;
    margin-top: 2%;
    font-weight: normal;
}

.cover_image {
    padding-left: 1%;
    padding-right: 1%;
}

.perfil button {
    background: #00253F;
}

.imagen_perfil {
    font-size: 1.2em;
    padding-top: 20px;
    color: white;
}

.slider_text {
    color: #828282;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
    font-size: 20px;
}

.slider_text2 {
    color: #8DCF25;
    font-size: 12px;
}

.slider_image:hover .follow {
    display: block;
}

.slider_image .follow {
    display: none;
}

.slider_image:hover .unfollow {
    display: block;
}

.slider_image .unfollow {
    display: none;
}

.name {
    opacity: .5;
}

.playerImg {
    opacity: .5;
}

.teamImg {
    opacity: .5;
}

.butn {
    width: 30%;
}

.unorder {
    display: -webkit-inline-box;
}

.profile-row {
    margin-top: 2%;
}

@media only screen and (max-width:640px) {
    .image {
        font-size: 1em;
        color: #828282;
        left: 0em;
        width: 16em;
        top: 54em;
        overflow: hidden;
    }
}

@media only screen and (min-width: 768px) and (max-width:800px) {
    .image {
        left: 0em !important;
        top: 72em !important;
        width: 13em !important;
    }
}

@media only screen and (min-width: 640px) {
    .full-container {
        padding-top: 55px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/back.jpg) no-repeat;
        background-size: 100% 21%;
        height: 100%;
    }
    .head img {
        width: 145px;
        height: 120px;
    }
    .top_profile {
        padding-top: 50px;
    }
    .auth>.buton-1 {
        background: #c9c9c9;
    }
    .auth>.buton-1:hover {
        background: #dfdfdf;
    }
    .auth>.buton-1:focus {
        background: #bdbdbd;
    }
    .slider_div {
        margin-left: 1%;
        margin-right: 1%;
        background-color: #F2F2F2;
    }
    .slider_div p {
        float: left;
        width: 125px;
    }
    .slider_header {
        font-family: ChaletComprime CologneEighty;
        font-size: 3em;
        color: #828282;
    }
    .equipo_slider_div {
        margin-left: 1%;
        margin-right: 1%;
        background-color: #00253F;
    }
    .equipo_slider_header {
        font-family: ChaletComprime CologneEighty;
        font-size: 3em;
        color: #ffffff;
    }
    .slider_image {
        float: left;
        margin-left: 18px;
        padding-bottom: 5px;
    }
    .slider1 button {
        width: 85px;
        position: absolute;
        top: 46px;
        font-size: 14px;
    }
    .perfill>p {
        margin: 0 auto;
    }
    .image_size {
        padding-left: 34px;
        font-size: 14px;
        color: #828282;
    }
    .sliderimage {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        padding-bottom: 5px;
    }
    .slider_image .follow {
        width: 98px;
        position: absolute;
        top: 46px;
        font-size: 14px;
        background: #00253F;
    }
    .slider_image .unfollow {
        width: 100px;
        position: absolute;
        top: 46px;
        left: 14px;
        font-size: 14px;
    }
    .slider_image:hover .follow {
        display: block;
    }
    .slider_image .follow {
        display: none;
    }
    .slider_image:hover .unfollow {
        display: block;
    }
    .slider_image .unfollow {
        display: none;
    }
    .name {
        opacity: .5;
    }
    .playerImg {
        opacity: .5;
    }
    .teamImg {
        opacity: .5;
    }
    .image {
        font-size: 1em;
        color: #828282;
        left: 3em;
        width: 14em;
        top: 73em;
        overflow: hidden;
    }
}

@media only screen and (min-width:1440px) {
    .image {
        font-size: 1em;
        color: #828282;
        left: 19em;
        width: 14em;
        top: 73em;
        overflow: hidden;
    }
}


/*****************image cropper*******************/

.result {
    margin-top: 34px;
    display: block;
    background: gray;
    width: 200px;
    border-radius: 100px;
    margin-left: -1.4em;
}

.result.rounded>img {
    border-radius: 100px;
}

input[type='file'] {
    height: 25px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}


/*********************image cropper*****************/

.cancel {
    width: 121px;
    height: 36px;
}

.save {
    width: 121px;
    height: 36px;
}

.container {
    background: black;
    opacity: .4;
}

.image_cropper_heading {
    padding: 0;
    font-family: ChaletComprime CologneEighty;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
}

.result {
    margin: 40px auto;
    margin-bottom: 0;
    display: block;
    background: gray;
    width: 200px;
    border-radius: 100px;
}

.result.rounded>img {
    border-radius: 100px;
}

.cropper_label {
    padding-left: 5%;
    color: #828282;
    font-size: 1.2em;
}

input[type='file'] {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.cancel {
    width: 85% !important;
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.save {
    padding: 8px 16px;
}