<p-growl [value]="msgs"></p-growl>
<loader *ngIf="loader"></loader>
<div class="full-container">
    <!--************** Image Cropper Popup (nayyar)*********************-->
    <div class="tournament_profil">
        <div class="ui-g">
            <p-dialog [(visible)]="display" modal="modal" showEffect="fade">
                <div class="ui-g ui-sm ui-md ui-lg" style="background:#00253f">
                    <div class="ui-g-10 ui-md-10 ui-lg-10" style="padding: 15px 30px;">
                        <label class="image_cropper_heading">{{'Escoge y edita tu imagen' | translate}}</label>
                    </div>
                    <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-2">
                    </div>
                </div>
                <div class="ui-g" style="padding: 30px;padding-right:0;">
                    <div class="ui-g-7 ui-sm-7 ui-md-7 ui-lg-7" style="border:2px dashed gray;cursor:pointer;text-align: center;">
                        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                    </div>
                    <div class="ui-g-5 ui-sm-5 ui-md-5 ui-lg-5 text-center">
                        <label class="cropper_label">{{'Preview' | translate}}</label>
                        <span class="result rounded">
                <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
              </span><br/>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6"></div>
                    <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 text-right" style="padding-right: 30px; padding-bottom: 30px;">
                        <button pButton type="button" label="{{'CANCELAR' | translate}}" class="ui-button-grey" (click)="disable()"></button>
                        <button pButton type="button" class="ui-button-green save" label="{{'GUARDAR' | translate}}" (click)="save()"></button>
                    </div>
                </div>
            </p-dialog>
        </div>
    </div>
    <!--************** Image Cropper Popup*********************-->
    <div [class.backdrop]="backdrop"></div>

    <div class="section">
        <div class="ui-g head">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 text-center">
                <img src="assets/images/pelo.png">
            </div>
        </div>
        <div class="ui-g top_profile">
            <div class="profile ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 forms">
                <h2 class="home">{{'COMPLETA TU PERFIL' | translate}}</h2>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 favourite">
                <p>{{"Empieza siguiendo algunos de tus amigos, equipos y canchas favoritas" | translate}}</p>
            </div>
        </div>
        <div class="ui-g slider_div_com_profile">
            <div class="ui-g-12 text-center slider_header">
                <span>{{'JUGADORES' | translate}}</span>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ">
                <p-carousel [value]="Players" [numVisible]="5" [pageLinks]="10" [responsive]=false>
                    <ng-template let-player pTemplate="player">
                        <p class="slider_image" style="text-align:center">
                            <img src={{cover_url}}{{player?.username?.profile_pic}} class="sliderimage" *ngIf="!(player?.username?.profile_pic==''||player?.username?.profile_pic==null)" />
                            <img src="assets/images/players.png" class="sliderimage" *ngIf="player?.username?.profile_pic==''||player?.username?.profile_pic==null" /><br>
                            <button pButton type="button" class="follow" label="SEGUIR" (click)="follow_player(player)"></button>
                            <span class="slider_text">{{player?.username?.name}}</span><br>
                            <span class="slider_text2">{{player?.nick_name}}</span>
                        </p>
                    </ng-template>
                </p-carousel>
            </div>
            <div class="ui-g-12" *ngIf="Players.length==0" style="text-align:center;">
                <p>{{"Próximamente tendrás más Jugadores cerca tuyo" | translate}}.</p>
            </div>
        </div>
        <div class="ui-g equipo_slider_div slider_div_com_profile">
            <div class="ui-g-12 text-center equipo_slider_header">
                <span>{{'EQUIPOS' | translate}}</span>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 slider1">
                <p-carousel [value]="Teams" [numVisible]="5" [pageLinks]="10">
                    <ng-template let-team pTemplate="team">
                        <p class="slider_image" style="text-align:center">
                            <img src={{cover_url}}{{team.team_logo}} class="sliderimage" *ngIf="!(team.team_logo==''||team.team_logo==null||team.team_logo=='/media/null')" />
                            <img src="assets/images/default_team.png" class="sliderimage" *ngIf="team.team_logo==''||team.team_logo==null||team.team_logo=='/media/null'" /><br>
                            <button pButton type="button" class="follow" label="{{'SEGUIR' | translate}}" (click)="follow_team(team)"></button>
                            <span class="slider_text" style="color:white">{{team.team_name}}</span><br>
                            <span class="slider_text2">{{team.city}}</span>
                        </p>
                    </ng-template>
                </p-carousel>
            </div>
            <div class="ui-g-12" *ngIf="Teams.length==0" style="text-align:center;">
                <p style="color:white;">{{"Próximamente tundras más equipos cerca tuyo." | translate}}</p>
            </div>
        </div>
        <div class="ui-g slider_div_com_profile">
            <div class="ui-g-12 text-center slider_header">
                <span>{{'CANCHAS' | translate}}</span>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 slider">
                <p-carousel [value]="grounds" [numVisible]="5" [pageLinks]="10" [responsive]=false>
                    <ng-template let-ground pTemplate="ground">
                        <p class="slider_image" style="text-align:center">
                            <img src={{cover_url}}{{ground.image}} class="sliderimage" *ngIf="!(ground.image==''||ground.image==null)" /><img src="assets/images/default_ground.png" class="sliderimage" *ngIf="ground.image==''||ground.image==null" /> <br>
                            <button pButton type="button" class="follow" label="{{'SEGUIR' | translate}}" (click)="follow_ground(ground)"></button>
                            <span class="slider_text">{{ground.ground_name}}</span><br>
                        </p>
                    </ng-template>
                </p-carousel>
            </div>
            <div class="ui-g-12 text-center" *ngIf="grounds.length==0">
                <p>{{"No cancha!" | translate}}</p>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 informacion_jugador">
                <p>{{'Perfil y Portada' | translate}}</p>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-6 perfil" *ngIf="fb_status">
                <img src="{{image_name}}" style="height:85px;border-radius:100px;width: 85px;" />
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-6 perfil" *ngIf="!fb_status">
                <div class="ui-g-12 ui-sm-9 ui-md-6 ui-lg-6 text-right imagen_perfil"><span *ngIf="image_name==''">Imagen de perfil</span><span class="image" *ngIf="image_name">{{image_name}}</span></div>
                <div class="ui-g-12 ui-sm-3 ui-md-6 ui-lg-6 text-left">
                    <button pButton type="button" label="{{'SUBIR' | translate}}" style="cursor:pointer;">
                    <input accept="image/x-png,image/gif,image/jpeg" type="file" class="input" (change)="fileChangeListener($event)"/>
                    </button>
                </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-6 perfill">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <p>{{'Te recomandamos usar imagenes de mínimo 148 x 148 px en formato .jpg o. png para una mejor visualización' | translate}}</p>
            </div>
        </div>
        <div class="ui-g pro_pic">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
                <h4>{{'Eliga una imagen de portada' | translate}}</h4>
            </div>
        </div>
        <div class="ui-g cover_image">
            <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6" *ngFor="let cover of coverPicList">
                <img src={{cover_url}}{{cover.cover_pic}} width="100%" height="100px" [class.name]="cover.id==cover_id" (click)="get_cover(cover.id)">
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-8 ui-lg-8">
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-4 ui-lg-4">
                <div class="ui-grid-row buttons">
                    <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 auth">
                        <button *ngIf="!showBackButton" pButton type="button" class="buton-1" label="{{'OMITIR' | translate}}" [routerLink]="['/dashboard']"></button>
                        <button *ngIf="showBackButton" pButton type="button" class="buton-1" label="{{'REGRESA' | translate}}" [routerLink]="['/complete-profile1']"></button>
                    </div>
                    <div class="ui-g-6 ui-sm-6 ui-md-6 ui-lg-6 auth terminar_btn">
                        <button pButton type="button" class="ui-button-green buton-2" label="{{'TERMINAR' | translate}}" (click)="onSubmitXhr()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>