<ion-content no-padding class="body">
<ion-grid class="put_center" style="margin-top: 20%;">
<ion-row style="margin-top:10%;">
  <img src="assets/images/comingsoon.png"/>
</ion-row>
<ion-row class="pay_title">
{{"Coming soon" | translate}}
</ion-row>
<ion-row style="justify-content: center;">
  <ion-col col-1></ion-col>
 <ion-col col-8 class="content"> {{'This feature would be added to the app shortly' | translate}}</ion-col>
 <ion-col col-1></ion-col>
</ion-row>
</ion-grid>
<!-- <ion-footer class="content-foot">
  You will be automatically redirected to Homescreen
</ion-footer> -->
</ion-content>