page-comingsoon {
.pay_title{
    margin-top:40px;
    color:#113861;
    font-size:20px;
    font-family:"roboto-medium";
}
.put_center{
    display:flex;
    align-items: center;
}
.content{
    color:#464646;
    font-size:14px;
    font-family:"roboto-regular";
    text-align: center;
    padding:15% 5%;
}
.content_foot{
    color:#666;
    font-size:14px;
    font-family:"roboto-regular";
    background-image: none;
    padding:16px;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
background-image: none;    
}
.header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
    background-image: none;    
    }
ion-footer {
    bottom: 5%;
}
}
