<loader *ngIf='loader'></loader>
<p-growl [value]="msgs"></p-growl>
<div *ngIf="!loader">
    <div class="ui-g round">
        <div class="ui-g-7">
            <span class="left">{{round_name ? round_name : 'Round Name'}}</span></div>
    </div>

    <div clas="ui-g">
        <div class="ui-g">
            <div class="ui-g-2 ui-lg-4 s btns" *ngIf="hideCreateBttn">
                <button pButton type="button" label="{{'Crear grupo' | translate}}" class="ui-button-green ui button" (click)="showCreateInputBox();"></button>
            </div>
        </div>

        <div class="ui-g ui-fluid" *ngIf="showInputBox">
            <div class="ui-g-8 ">
                <p style="margin-left:1em;">{{'Nombre del grupo' | translate}}</p>
                <br>
                <div class="txt">
                    <input type="text" pInputText style="width:100%;" placeholder="{{'Nombre del grupo' | translate}}" [(ngModel)]="groupDataIns.group_name">
                </div>
            </div>
            <div class="ui-g-4 ui-lg-4 bttn  ">
                <button pButton type="button" label="{{'GUARDAR' | translate}}" class="ui-button-green ui button" (click)="showDropdownList()"></button>
            </div>
        </div>
        <div class="ui-12 instruction" *ngIf="showInputBox" style="margin-top: 30%;color:darkcyan;text-align: justify;">
            <p>{{'Instrucciones: Crear el grupo y escribir el nombre de cada uno' | translate}}
            </p>
        </div>
        <div class="ui-g ui-fluid" *ngIf="showDropdown">
            <div class="ui-g-7">
                <div>
                    <p-dropdown [options]="groupList" [(ngModel)]="groupValue" (onChange)="selectedGroupList($event,ref)" #ref [style]="{width : '100%' }">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-g-5" style="display: flex;">
                <button pButton type="button" label="{{'crear' | translate}}" class="ui-button-green ui button" (click)="prevCreateInputBox();finalStatus=false"></button>
                <button *ngIf="editBttnShow" pButton type="button" label="{{'editar' | translate}}" class="ui-button-green ui button" (click)="groupEditPopup()"></button>
            </div>

        </div>
    </div>
    <div class="ui-12 instruction" *ngIf="hideCreateBttn" style="margin-top: 35%;color:darkcyan;text-align: justify;">
        <p>{{'Instrucciones: Crear el grupo y escribir el nombre de cada uno' | translate}}.
        </p>
    </div>
    <div *ngIf="showPickList">
        <div class="ui-g-12 ui-lg-12 s pick">
            <p-pickList [source]="list1" [showTargetControls]=false [showSourceControls]=false [target]="list2" sourceHeader="{{'Equipos inscritos' | translate}}" targetHeader="{{'Equipos en el grupo seleccionado' | translate}}" [responsive]="true">
                <ng-template let-teamList pTemplate="item">
                    <div class="ui-helper-clearfix" *ngIf="form_type == 'simple'">
                        <img [src]="teamList?.team?.team_logo?base_path+teamList?.team?.team_logo:'assets/images/team-profile-logo/default.png'" style="width:55px;height:55px;border-radius:50% 50%;float:left;padding:2%;" />
                        <div class="teamName">{{teamList?.team?.team_name}}
                        </div>
                    </div>
                    <div class="ui-helper-clearfix" *ngIf="form_type == 'alias'">
                        <img src="assets/images/team-profile-logo/default.png" style="width:55px;height:55px;border-radius:50% 50%;float:left;padding:2%;" />
                        <div class="teamName">{{teamList.alias_name}} </div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        <div ui-g>
            <div class="ui-g-6 ui-lg-6 text-center">{{'Cantidad' | translate}}:{{list1.length}}</div>
            <div class="ui-g-6 ui-lg-6 text-center">{{'Cantidad' | translate}}:{{list2.length}}</div>
            <div class="ui-g-12" style="text-align: justify;">
                <p style="color: darkcyan;">
                    {{'Instrucciones: En este paso vamos a asignar bs equipos en sus grupos respectivos, Seleccionar los equipos que van a ir en el grupo aplastando COMNIAND y hacer click en >.' | translate}}
                </p>
                <p style="color: darkcyan;">
                    {{'Una vez completado el grupo, en la parte inferior escribir los equipos que pasarán a la siguiente ronda y hacer click en GUARDAR, Hacer esto con todos los grupos' | translate}},

                </p>
            </div>
            <div class="ui-g-12" *ngIf="is_automatic!='False'">
                <p>{{'Numero de equipos que pasan a la siguiente ronda' | translate}}</p>
                <br>
                <input type="text" pInputText placeholder="{{'Eliminatoria' | translate}}" [(ngModel)]="playOffValue" (keyup)="selectplayOffList($event)" [value]="playoff" />

            </div>
        </div>

        <div class="ui-g-12 ui-lg-12 bttns" *ngIf="hideSubmit">
            <button pButton type="button" label="{{'GUARDAR' | translate}}" class="ui-button-green ui button" (click)="updateGroupData()"></button>
        </div>
    </div>
    <div ui-g>
        <div class="ui-g-6 ui-lg-6 bttns" *ngIf="showFinalSubmit || (round_position > 1 && is_automatic=='False' && finalStatus)">
            <button pButton type="button" label="{{'Finalizar fase' | translate}}" class="ui-button-green ui button" (click)="finalSubmitData()"></button>
        </div>
        <div class="ui-g-12" *ngIf="showFinalSubmit ">
            <p style="color: darkcyan;;">
                {{'Instrucciones: Hacer click en FINALIZAR FASE para proseguir a la creasinn de otra ronda o de los FIXTURES' | translate}}
            </p>
        </div>
    </div>
</div>
<div [class.backdrop]="editGroupPopup"></div>
<div [class.backdrop]="picklistValidation"></div>

<!--/**************PopUp Window*********************/-->

<div class="group">
    <p-dialog [(visible)]="editGroupPopup" modal="modal">
        <div class="ui-g">
            <div class="ui-g-12">
                <input type="text" pInputText style="width:100%;" placeholder="{{'Editar grupos' | translate}}" [(ngModel)]="groupNameForEdit">
            </div>
            <div class="ui-g-12">
                <button type="button" pButton (click)="editGroupPopup=false" label="{{'Cancelar' | translate}}"></button>
                <button type="button" pButton class="ui-button-green ui button" (click)="editGroup(groupNameForEdit)" label="{{'ACTUALIZAR' | translate}}"></button>
            </div>
        </div>
    </p-dialog>
</div>

<!--/**************PopUp Window End*********************/-->

<!--/**************PopUp Window*********************/-->
<div class="picklistValidation">
    <p-dialog [(visible)]="picklistValidation" modal="modal">
        <div ui-g>
            <p style="margin-left: 1%; margin-top: 12%; color:red">{{changeText}}</p>
        </div>
        <div ui-g>
            <div>
                <button type="button" pButton icon="fa-close" (click)="picklistValidation=false" label="{{'CERRAR' | translate}}" style="background-color: #9AD643;margin-top: 12%;
                            margin-left: 35%;">
                        </button>
            </div>
        </div>
    </p-dialog>
</div>
<!--/**************PopUp Window End*********************/-->