.left {
    font-size: 2em;
}

.round {
    border-bottom: 1px solid #828282;
    margin-bottom: 3%;
}

.or {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.teamName {
    float: left;
    padding: 7%;
    margin-left: -4%;
    font-size: 0.9em;
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: left;
}

.txt {
    width: 80%;
}

.pick {
    margin-top: 4%;
    border-top: 1px solid #cfcfcf;
    padding-top: 5%;
}

.bttns {
    text-align: right;
}

.s {
    text-align: right;
}

.label1 {
    margin-left: -1px;
    font-size: 15px;
    margin-top: 22px;
    background-color: coral;
    text-align: center;
    border-radius: 25px;
}

.ui-dialog-content {
    background-color: cadetblue !important;
}

.btns {
    margin-left: -50px;
}

.backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}

.bttn {
    display: flex;
    align-items: flex-end;
}