<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="registration_container">
    <div class="ui-g">
        <div style="display: flex;align-items: end;" class="ui-g-12">
            <div class="ui-g-10">
                <app-profile-complete [progress]="profile_complete_percentage"></app-profile-complete>
            </div>
            <div style="text-align: right;" class="ui-g-2">

                <img (click)="skipAll()" class="skip-all" src="assets/images/signup/Cross.png" />
            </div>
        </div>
        <div style="position: relative;" class="ui-g-12">
            <p class="signup-heading">
                {{"What is your email address?" | translate}}
            </p>
            <span class="ui-float-label">
        <input (keyup)="validate($event)" [(ngModel)]="email" pInputText />
        <label for="float-input">{{"Email" | translate}}</label>
      </span>
            <img class="correct" *ngIf="check_email" src="assets/images/signup/correct.png" />
            <p class="exist" *ngIf="email_exist">{{"Email has already been taken" | translate}}</p>
        </div>
        <div class="ui-g-12" style="margin-top: 32px;">
            <button [disabled]="!check_email" (click)="validateEmail()" class="signup-bttn" pButton type="button" label="{{'Next' | translate}}">
      </button>
        </div>
        <div class="ui-g-12" style="text-align: center">
            <p (click)="skip()" style="cursor: pointer;;color: #8b8e95;font-size: 16px;text-align: center;margin-top: 16px;display: grid;">
                {{"Skip" | translate}}
            </p>
        </div>
    </div>
</div>