<loader *ngIf='loader'></loader>
<p-growl [value]="msgs"></p-growl>
<div class="full-container">
    <div class="section">

        <div *ngIf="ground" class="ui-g stage_row">
            <div class="ui-g-3   ">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/1.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Ingrese los detalles primarios' | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3 stage_img">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/2.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Ingrese los detalles completos' | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3  stage_img ">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/3.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text1">
                    <p>{{"Seleccionar paquete" | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3 stage_img  ">
                <div class="ui-g-12  ">
                    <img src="assets/images/stages/4 opt.png" />
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Seleccionar la opción de pago' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="ui-g">

            <div class="ui-g-6 ui-sm-12">
                <hr>
                <h2 class="heading">{{'OPCIÓN DE PAGO' | translate}}</h2>
                <hr>
                <!-- <div *ngIf="recurrent=='false' && package=='yearly'" class="ui-g-12">
                    <p-radioButton name="payment" value="online" label="PAY WITHOUT SAVING CARD" [(ngModel)]="selected_payment_option"></p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton (click)="getCardList();" name="payment" value="card" label="PAY BY CARD" [(ngModel)]="selected_payment_option"></p-radioButton>
                </div> -->

                <div *ngIf="recurrent=='false'" style="display: flex;                align-items: center;" class="ui-g-12">
                    <div class="ui-g-2" style="text-align:center">
                        <p-radioButton name="payment" value="online" [(ngModel)]="selected_payment_option"></p-radioButton>
                    </div>
                    <div class="ui-g-10">
                        {{'PAGAR SIN GUARDAR TU TARJETA' | translate}}
                    </div>

                </div>
                <div class="ui-g-12" style="display: flex;                align-items: center;">
                    <div class="ui-g-2" style="text-align:center">
                        <p-radioButton (click)="getCardList();" name="payment" value="card" [(ngModel)]="selected_payment_option"></p-radioButton>
                    </div>
                    <div class="ui-g-10">
                        {{'GUARDA TU TARJETA PARA QUE NO TENGAS QUE INGRESARLA NUEVAMENTE' | translate}}
                    </div>

                </div>


                <div style="padding-left: 0px;padding-top: 0px;" *ngIf="selected_payment_option=='card'" class="ui-g-12">
                    <div style="display: flex;align-items: center;" class="ui-g-12" *ngFor="let i of results;let ind=index">
                        <div class="ui-g-3" style=" text-align: center;">
                            <p-radioButton name="cardoption" [value]="i.id" [(ngModel)]="selected_card_option"></p-radioButton>
                        </div>

                        <div style="display: flex;align-items: left;padding:0px;" class="ui-g-2">
                            <img src="{{i.card_type=='MasterCard'?'assets/images/master_card.png':'assets/images/visa_card.png'}}" />
                        </div>
                        <div style="display: flex;align-items: center;" class="ui-g-7">
                            | XXXX-XXXX-XXXX-{{i.number}}
                        </div>
                    </div>
                    <div style="color: #FA3E3E;font-size: 18px;text-align: center;" *ngIf="results?.length==0">
                        {{'Sin tarjeta agregada' | translate}}
                    </div>
                </div>
                <!-- <div class="ui-g-12 addcard">
          <img style="height: 40px;width: 40px;" src="assets/images/addcard.png" (click)="addCard()" />
          <span style="padding-left: 15px;">Add new card</span>
        </div> -->
            </div>

            <div class="ui-g-6 ui-sm-12">
                <hr>
                <h2 class="heading">{{'DETALLES' | translate}}</h2>
                <hr>
                <div *ngIf="ground">

                    <div class="ui-g-6">
                        <span>
                           {{'Nombre del complejo' | translate}}
                         </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        {{groun_detail.ground_name}}
                    </div>

                    <div class="ui-g-6">
                        <span>
                           {{package_details.package_name}} package ({{package}})
                       </span>
                    </div>

                    <div style="text-align:right" class="ui-g-6">
                        ${{package=='monthly'?package_details.monthly_sub:package_details.yearly_sub}}.00
                    </div>

                    <div *ngIf="extra_court!=0">
                        <div class="ui-g-6">
                            <span>
                               $ {{additional_fee}}.00
                             </span>
                        </div>

                        <div style="text-align:right" class="ui-g-6">
                            $ {{extra_court*package_details.additional_fee}}.00
                        </div>
                    </div>
                    <div *ngIf="extra_court!=0">
                        <div class="ui-g-6">
                            <span>
              Sub total
            </span>
                        </div>
                        <div style="text-align:right" class="ui-g-6">
                            ${{sub_total}}
                        </div>
                    </div>
                    <div class="ui-g-6">
                        <span>
                            {{'Costo de procesamiento' | translate}} (5%) + 30¢ 
                        </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{gateway_charge}}
                    </div>
                    <div style="margin-top:30px" class="ui-g-12">
                        <hr>
                        <div class="ui-g-9">
                            <span>
                {{'Pago total a pagar' | translate}}
              </span>
                        </div>
                        <div style="text-align:right" class="ui-g-3">
                            ${{total_charge}}
                        </div>
                        <hr>
                    </div>
                </div>

                <div *ngIf="tournament">

                    <div class="ui-g-6">
                        <span>
                          {{'Nombre del torneo' | translate}}
                        </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        {{tournament_detail.tournament_name}}
                    </div>

                    <div *ngIf="tour_second_pay" class="ui-g-6">
                        <span>
                             {{"No of teams" | translate}}
                        </span>
                    </div>
                    <div *ngIf="tour_second_pay" style="text-align:right" class="ui-g-6">
                        {{no_of_teams}}
                    </div>

                    <div *ngIf="tour_second_pay" class="ui-g-6">
                        <span>
                            {{"Cost per teams" | translate}}
                      </span>
                    </div>
                    <div *ngIf="tour_second_pay" style="text-align:right" class="ui-g-6">
                        <!-- ${{amount}} -->
                        ${{cost_per_team}}
                    </div>

                    <div class="ui-g-6">
                        <span>
                      <!-- {{package_details.package_name}} package ({{package}}) -->
                          {{"Amount to pay" | translate}}
                        </span>
                    </div>
                    <div *ngIf="!tour_second_pay" style="text-align:right" class="ui-g-6">
                        <!-- ${{amount}} -->
                        $10
                    </div>
                    <div *ngIf="tour_second_pay" style="text-align:right" class="ui-g-6">
                        ${{amount}}
                    </div>
                    <div *ngIf="extra_court!=0">
                        <div class="ui-g-6">
                            <span>
                Extra admin's charges({{extra_court}} * {{package_details.additional_fee}})
              </span>
                        </div>
                        <div style="text-align:right" class="ui-g-6">
                            $ {{package == 'monthly'?extra_court*package_details.additional_fee:(12*extra_court*package_details.additional_fee)}}.00
                        </div>
                    </div>
                    <!-- <div class="ui-g-6">
                        <span>
              Previous  paid amount
            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{paid_amount}}
                    </div> -->

                    <!-- <div class="ui-g-6">
                        <span>
              New amount to pay
            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{new_amount_to_pay}}
                    </div> -->

                    <!-- <div class="ui-g-6">
                        <span>
              Sub total
            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{sub_total}}
                    </div> -->
                    <div class="ui-g-6">
                        <span>
                                {{'Costo de procesamiento' | translate}} (5%) + 30¢ 
                            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{gateway_charge}}
                    </div>
                    <div style="margin-top:30px" class="ui-g-12">
                        <hr>
                        <div class="ui-g-9">
                            <span>
                {{'Pago total a pagar' | translate}}
              </span>
                        </div>
                        <div style="text-align:right" class="ui-g-3">
                            ${{total_charge}}
                        </div>
                        <hr>
                    </div>
                </div>


                <div *ngIf="team">

                    <div class="ui-g-6">
                        <span>
                             {{' Nombre del torneo' | translate}}
                        </span>
                    </div>

                    <div style="text-align:right" class="ui-g-6">
                        {{team_pay_info?.tournament_name}}
                    </div>

                    <div class="ui-g-6">
                        <span>
                            {{'Nombre del equipo' | translate}}
                            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        {{team_pay_info?.team_name}}
                    </div>
                    <div style="padding: 0px;" class="ui-g-12">
                        <div class="ui-g-6">
                            <span>
                                  Tournament registeration fees </span>
                            <p>
                                ({{option=='discount'?'Complete fee with discount':'Minimum fee'}})
                            </p>
                        </div>
                        <div style="text-align:right" class="ui-g-6">
                            ${{amount}}
                        </div>
                    </div>


                    <div class="ui-g-6">
                        <span>
                            Surcharge({{tournament_vat}}%)
                            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{sur_charge}}
                    </div>

                    <div class="ui-g-6">
                        <span>
                        Sub total
                        </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{sub_total}}
                    </div>
                    <div class="ui-g-6">
                        <span>
                            {{'Costo de procesamiento' | translate}} (5%) + 30¢ 
                        </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{gateway_charge}}
                    </div>
                    <div style="margin-top:30px" class="ui-g-12">
                        <hr>
                        <div class="ui-g-9">
                            <span>
                {{'Pago total a pagar' | translate}}
              </span>
                        </div>
                        <div style="text-align:right" class="ui-g-3">
                            ${{total_charge}}
                        </div>
                        <hr>
                    </div>

                    <div class="ui-g-6">
                        <span>
              {{'Pago pendiente' | translate}}
            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{pending_amount}}
                    </div>

                </div>

                <div *ngIf="reservation">

                    <div class="ui-g-6">
                        <span>
              {{'Nombre del complejo' | translate}}
            </span>
                    </div>

                    <div style="text-align:right" class="ui-g-6">
                        {{ reservation_info.main_ground}}
                    </div>

                    <div class="ui-g-6">
                        <span>
              {{'Nombre de la cancha'| translate}}
            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        {{reservation_info?.court_name}}
                    </div>

                    <div class="ui-g-6">
                        <span>
                          {{'Fecha de reserva' | translate}}
               </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        {{reservation_info?.date}}
                    </div>

                    <div class="ui-g-6">
                        <span>
              {{'Hora de reserva' | translate}}
            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        {{reservation_info?.from_time}} - {{reservation_info?.to_time}}
                    </div>

                    <div style="    padding: 0px;
          " class="ui-g-12">
                        <div class="ui-g-6">
                            <span>
                Reservation fees </span>
                            <p>
                                ({{option=='discount'?'Complete fee with discount':'Minimum fee'}})
                            </p>
                        </div>
                        <div style="text-align:right" class="ui-g-6">
                            ${{amount}}
                        </div>
                    </div>


                    <div class="ui-g-6">
                        <span>
                Surcharge({{ground_vat}}%)
              </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{sur_charge}}
                    </div>

                    <div class="ui-g-6">
                        <span>
              Sub total
            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{sub_total}}
                    </div>

                    <div class="ui-g-6">
                        <span>
                            {{'Costo de procesamiento' | translate}} (5%) + 30¢ 
                        </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{gateway_charge}}
                    </div>

                    <div class="ui-g-12">
                        <hr>
                        <div class="ui-g-9">
                            <span>
                {{'Pago total a pagar' | translate}}
              </span>
                        </div>
                        <div style="text-align:right" class="ui-g-3">
                            ${{total_charge}}
                        </div>
                        <hr>
                    </div>
                    <div class="ui-g-6">
                        <span>
              {{"Pago pendiente" | translate}}
            </span>
                    </div>
                    <div style="text-align:right" class="ui-g-6">
                        ${{pending_amount}}
                    </div>

                </div>

            </div>

            <div class="ui-g-12" style="margin-top: 20px;">
                <div class="ui-g-6">
                </div>
                <div style="display: flex;text-align: center;" class="ui-g-6 ui-sm-12">
                    <div class="ui-g-6">
                        <button style="width:100%" class="" pButton (click)="back()" label="{{'REGRESSA' | translate}}"></button>
                    </div>
                    <div class="ui-g-6">
                        <button class="ui-button-green" [disabled]="paid" style="width:100%" pButton (click)="pay()" label="{{'PROCEDA A PAGAR' | translate}}"></button>
                    </div>
                </div>
            </div>

            <!-- <div style="    display: flex;      align-items: center;      margin: 80px 0px 0px 0px;" class="ui-g-12">

        <div style="text-align: center; " class="ui-g-3">
          <img style="width:80%;height:80px" src="assets/images/payment/PCI.jpg" />
        </div>

        <div class="ui-g-3" style="text-align: center; ">
          <img style="width:80%;height:80px" src="assets/images/payment/paymentez.png" />

        </div>

        <div class="ui-g-3" style="text-align: center; ">
          <img style="width:80%;height:80px" src="assets/images/payment/mastercard.svg" />

        </div>
        <div class="ui-g-3" style="text-align: center; ">
            <img style="width:80%;height:80px" src="assets/images/payment/Visa.jpg" />
  
          </div>
      </div> -->

        </div>


    </div>
</div>

<!-- Payment success popup -->
<p-dialog [resizable]='false' [dismissableMask]="true" class="payment_status_dialog" [(visible)]="card_added">
    <div style="border-bottom:1px solid #d7d7d7;background:#113861;color:white" class="ui-g-12">
        <p>Payment Message </p>
    </div>
    <div style="text-align: center;
   margin-top: 40px;
   color: #8ec63f;" class="ui-g-12">
        <p>Card Added Successfull!</p>
    </div>
    <div style="text-align:center" class="ui-g-12">
        <button style="    width: 80px;
       margin-top: 15px;" class="ui-button-green" pButton label="ok" (click)="card_added=false"></button>
    </div>
</p-dialog>
<!--  -->

<!-- Payment failed popup -->
<p-dialog [resizable]='false' [dismissableMask]='true' class="payment_status_dialog" [(visible)]="card_failed">
    <div style="border-bottom:1px solid #d7d7d7;background:#113861;color:white" class="ui-g-12">
        <p>Payment Message</p>
    </div>
    <div style="text-align: center;
   margin-top: 40px;
   color: #8ec63f;" class="ui-g-12">
        <p>Card Not Added!</p>
    </div>
    <div style="text-align:center" class="ui-g-12">
        <button style="    width: 80px;
       margin-top: 15px;" pButton label="ok" class="ui-button-green" (click)="card_failed=false"></button>
    </div>
</p-dialog>
<!--  -->

<div [class.backdrop]="card_failed"></div>
<div [class.backdrop]="card_added"></div>
<div [class.backdrop]="loader1"></div>
<div [class.backdrop]="loader"></div>