.full-container {
    padding-top: 230px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/ground-profile-cover/default.jpg) no-repeat;
    background-size: 100% 25%;
    padding-bottom: 90px;
}

.section {
    max-width: 1000px;
    margin: auto;
}

.stage {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}

.stage_img {
    padding-right: 0px;
    padding-left: 0px;
}

.stage_line {
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
    margin: 0px -15px 0px -9px;
}

.stage_row {
    margin-left: 90px;
    margin-bottom: 50px;
}

.heading {
    font-family: 'ChaletComprime CologneEighty';
    font-weight: 500;
    font-size: 3.5em;
    color: #00253f;
}

.text2 {
    margin-left: -50px;
}

.text1 {
    margin-left: -30px;
}

@media screen and (min-width:320px) and (max-width:640px) {
    .stage_row {
        margin-left: 40px !important;
    }
    .text2 {
        margin-left: 0px;
    }
    .text1 {
        margin-left: 0px;
    }
}

.addcard {
    display: flex;
    align-items: center;
    padding: 30px 0px 0px 0px;
    cursor: pointer
}

.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}