.full-container {
    background-size: 100% 100%;
    height: 100%;
    margin-bottom: 90px;
    margin-top: 130px;
}

.redBorder {
    border: 1px solid red !important;
}

.quote_image img {
    width: 100%;
}

.quote_image {
    padding: 0px;
    position: relative;
}

.stroke {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.stroke_bottom {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15px;
}

.quote_image div {
    padding: 0px;
}

.header_landing_width {
    width: 1140px;
    margin: 0 auto;
    padding-bottom: 50px;
    margin-top: 50px;
}

.text_info {
    font-size: 35px;
    font-family: 'ChaletComprime CologneEighty';
    padding-bottom: 30px;
}

.text_info_para {
    font-family: Montserrat-Light;
    line-height: 18px;
    font-size: 14px;
}

.para_text {
    text-align: center;
    padding-bottom: 50px;
}

.left_part div {
    padding-bottom: 25px;
    padding-top: 50px;
}

.para_text_head {
    margin: 0 auto;
    position: absolute;
    bottom: 75px;
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'Montserrat-Light';
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.left_part img {
    float: left;
    padding-right: 25px;
}

.left_part p {
    margin-top: 15px
}

.left_part {
    border-right: 1px solid;
    padding-left: 100px;
}

.contact_info   {
    padding-bottom: 25px
}

.tour_type_info_list {
    text-align: center;
    display: initial;
}

.tour_type_info_list img {
    float: left;
    margin-left: 25px;
    padding-right: 5px;
    margin-top: 15px;
}

.static_font_size {
    font-size: 1.8em
}

.error {
    position: absolute;
    padding-left: 10px;
}

.errorText {
    color: red;
}

@media only screen and (max-width: 640px) {
    .header_landing_width {
        width: initial;
    }
    .mobile-display {
        display: none;
    }
    .quote_image img {
        height: 190px;
    }
    .quote_image p {
        top: inherit;
    }
    .quote_image p img {
        width: 140px;
        height: 90px;
    }
}

@media only screen and (min-width: 640px) and (max-width:840px) {
    .header_landing_width {
        width: 100% !important;
    }
}