<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>

<div style="    display: flex;" class="ui-g-12">
    <div class="u-g-6 package_details">
        <!-- <p (click)="showDetails()" style="margin:0px" *ngIf="isowner">
            {{'Detalles del paquete' | translate}}
        </p> -->
    </div>
    <div *ngIf="!data_not_found" style="text-align:right;width:50%" class="u-g-6 ">
        <button (click)="pdfPreview()" class="ui-button-green" label="DOWNLOAD TRANSACTION LIST" pButton></button>
    </div>
</div>

<div style="background: #F2F2F2; padding: 0px;" class="ui-g-12">

    <div *ngIf="!data_not_found" style="text-align: center; font-size: 18px;" class="ui-g-12">
        {{'Resumen de pago del equipo' | translate}}
    </div>

    <div *ngIf="!data_not_found" style="background: #113861;color: white;" class="ui-g-12">

        <div class="ui-g-3">
            {{'Nombre del equipo' | translate}}
        </div>

        <div class="ui-g-3">
            {{'Opcion de pago' | translate}}
        </div>

        <div class="ui-g-3">
            {{'Monto pendiente' | translate}}
        </div>

        <div class="ui-g-3">
            {{'Estado de la solicitud' | translate}}
        </div>
    </div>

    <div style="cursor: pointer;" [routerLink]="['../tournament-team-transaction',results.team_id]" *ngFor="let results of result;let ind=index" class="ui-g-12">

        <div class="ui-g-3">
            {{results?.team_name}}
        </div>

        <div class="ui-g-3">
            {{results?.pay_type}}
        </div>

        <div class="ui-g-3">
            $ {{results?.amount_pending}}
        </div>

        <div class="ui-g-3">
            {{results?.status}}
        </div>
    </div>
</div>
<div *ngIf="data_not_found" style="text-align: center;color: #113861;font-size: 30px;padding-top: 100px;" class="ui-g-12">
    {{'Datos no encontrados' | translate}}
</div>





<div [class.backdrop]="pdf_popup"></div>
<div class="ui-g ui-fluid pdfView pdfViewWidth">
    <p-dialog [(visible)]="pdf_popup" modal="modal" [modal]=true [resizable]="false" [dismissableMask]="true">
        <div id="download">
            <div class="ui-g table_info" #layout>
                <div class="ui-g-4  ">
                </div>
                <div class="ui-g-4 tour_logo">
                    <img src="{{tour_info?.tournament_logo?tour_info?.tournament_logo:'assets/images/tournament-profile-logo/default.png'}}" style="width: 60px;height: 60px;border-radius:100%" />
                </div>
                <div class="ui-g-4 pelo_logo">
                    <img src="/assets/images/pelo.png" style="width: 50px;margin-right:25px;height: 40px;">
                    <!-- <img src="assets/images/sponser_new.png" style="width: 50px;margin-right: 10px; height: 40px;"> -->
                </div>
                <div class="ui-g-12 tour_name">
                    <p>{{tour_info?.tournament_name}}</p>
                </div>
                <div style="border-top: 1px solid;text-align: center;padding: 10px;font-size: 16px;font-family: 'Montserrat-Light';color: #00253f;" class="ui-g-12">
                    {{'Resumen de pago del equipo' | translate}}
                </div>

                <div class="ui-g-12" style="border-top: 1px solid;padding: 0px;font-size: 13px;font-family: 'Montserrat-Light';color: #113861;">
                    <div class="ui-g-3" style="border-right:1px solid;padding: 10px;">{{'Nombre del equipo' | translate}}</div>
                    <div class="ui-g-3" style="padding: 10px;border-right:1px solid; ">
                        {{'Opcion de pago' | translate}}
                    </div>
                    <div class="ui-g-3" style="padding: 10px;border-right:1px solid; ">{{'Monto pendiente' | translate}}</div>
                    <div class="ui-g-3">{{'Estado de la solicitud' | translate}}</div>
                </div>

                <div style="cursor: pointer;padding: 0px;border-top: 1px solid;border-bottom:0px" [routerLink]="['../tournament-team-transaction',results.team_id]" *ngFor="let results of result_pdf;let ind=index" class="ui-g-12">
                    <div style="border-right: 1px solid;padding: 10px;" class="ui-g-3">{{results?.team_name}}</div>
                    <div style="border-right: 1px solid;padding: 10px;" class="ui-g-3">{{results?.pay_type}}</div>
                    <div style="border-right: 1px solid;padding: 10px;" class="ui-g-3">{{results?.amount_pending}}</div>
                    <div style="padding: 10px;" class="ui-g-3">
                        {{results?.status}}
                    </div>
                </div>
                <div *ngIf="show" style="text-align: center;padding: 0px;border-top: 1px solid black; " class="ui-g-12">
                    <p style="margin: 20px 0px 0px 0px;font-size: 18px;">{{'Patrocinadores' | translate}}</p>
                    <span *ngFor="let i of sponsers">
            <img [src]="i" style="   height: 50px;width: 50px;border-radius: 25px;    margin: 20px 0px 20px 20px; " />
          </span>
                </div>
            </div>
        </div>



        <div class="ui-g-12" style="text-align: right;font-size: 25px">
            <i class="fa fa-download" aria-hidden="true" (click)="downloadPdfBy()" style="cursor: pointer"></i>
        </div>

    </p-dialog>


    <!-- show package details popup -->
    <div>
        <p-dialog [resizable]='false' modal="modal" class="package_details_dialog" [dismissableMask]="true" [(visible)]="show_package">
            <div class="ui-g-12 package_name">
                <div style="padding-left: 70px;" class="ui-g-10">{{package_details?.package_name}} {{'Package' | translate}}</div>
                <div style="cursor:pointer" class="ui-g-2">
                    <img style="height: 15px;width: 50px;" (click)="show_package=false" src="assets/images/close.svg" />
                </div>
            </div>

            <div style="text-align:center;color:#113861;font-size:18px" class="ui-g-12">
                <p class="text_info">
                    <b class="doller">$</b>{{package_details?.amount_paid}}</p>
                <p style="    color: #999999;      font-family: Montserrat-Light;">{{"por" | translate}} {{package_details?.subscription_type}}</p>
            </div>
            <div style="text-align: center;    color: #8ec63f;    font-family: Montserrat-regular;    font-size: 16px;" class="ui-g-12">
                <p>{{'Renovar fecha' | translate}} - {{package_details?.renewal_date }}</p>
            </div>
            <div class="ui-g-12 small_text_info">
                <p>{{package_details?.courts_allowed}} {{"Torneo crear ilimitadas" | translate}}</p>
                <p>{{package_details?.weekly_post}} {{"Publicaciones semanales en redes sociales" | translate}}</p>
                <p>{{package_details?.marketing}} {{"Correo de marketing por mes a toda la base de datos" | translate}}</p>
                <p>{{"Acceso a la base de datos Pelotea" | translate}}</p>
                <p>{{"Valid" | translate}} from {{package_details?.valid_from}} to {{package_details?.valid_to}}</p>
            </div>
        </p-dialog>
    </div>

    <!--  -->


    <!-- Package not found popup-->
    <p-dialog [resizable]='false' class="show_package_failed" [(visible)]="show_package_failed">
        <div style="background: #113861;
  color: white;
  padding: 0.5em;
  font-size: 36px;text-align:center;
  font-family: 'ChaletComprime CologneEighty';" class="ui-g-12">
            <p>{{"Mensaje" | translate}}</p>
        </div>
        <div style="  text-align: justify;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  color: #828282;
  padding-left: 15px;
  font-size: 1.1em;" class="ui-g-12">
            <p>{{'Aún no has tomado ningún paquete. Por favor, póngase en contacto con nuestro equipo de soporte. ' | translate}}</p>
        </div>
        <div style="color:#8ec63f;text-align:center" class="ui-g-12">
            <p>+593 99 7100 102</p>
        </div>
        <div style="text-align:center" class="ui-g-12">
            <button style="      width: 100px !important;" pButton label="{{'De acuerdo' | translate}}" class="ui-button-green" (click)="show_package_failed=false"></button>
        </div>
    </p-dialog>
    <!--  -->
    <div [class.backdrop]="show_package"></div>
</div>