.backdrop {
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
    
.table_info img {
    width: 60px;
    height: 60px;
}

.table_info {
    padding: 0px;
    width: 700px;
    margin: 0 auto;
    border: 1px solid;
    margin-top: 40px;
}

.top_text {
    font-size: 12px;
    padding-bottom: 10px;
    font-family: 'Montserrat-Light';
    color: #00253f;
    line-height: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
}

#download {
    width: 795px;
    margin: 0 auto;
    height: 460px;
    overflow-y: auto;
}

.tour_logo {
    text-align: center
}

.pelo_logo {
    text-align: right;
}

.tour_name {
    text-align: center;
    font-size: 30px;
    font-family: 'ChaletComprime CologneEighty';
    text-transform: capitalize;
}

.team_name {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Montserrat-Light';
    color: #00253f;
    justify-content: center
}
.package_details{
    text-align: left;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    color: #113861;
    width:50%;
    font-size: 14px;
}

.package_name{
    border-bottom: 1px solid #d7d7d7;
    background: #113861;
    color: white;
    padding: 0px;
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 'ChaletComprime CologneEighty';
}

.text_info {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #aad470;
    font-size: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.doller {
    font-weight: 100;
    font-size: 25px;
    margin-top: -15px;
}
.small_text_info {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    
}

.small_text_info p {
    padding-bottom: 10px;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 25px;
}
