<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="ui-g full-container">
    <div class="section">
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-4 ui-md-6 torneos">
                <p class="tournament">{{'LIGAS' | translate}}</p>
            </div>
            <div class="ui-g-12 ui-sm-8 ui-md-6 text-right">
                <button *ngIf="userexist" pButton type="button" class="ui-button-green butns" routerLink="create-tournament" label="{{'Crear ligas' | translate}}"></button>
            </div>
        </div>

        <!--=========  Section 2 ==========-->
        <div class="ui-g rowsBorder">
            <div class="ui-g-12 mobtn">
                <div class="ui-g-10 ui-sm-10 text text-center">
                    <button pButton type="button" class="mob-btn" style="background-color:#00253f;padding: 8px 42px;" (click)="show=!show" (click)=fun()
                        label="{{'FILTROS' | translate}}"></button>
                </div>
            </div>


            <div *ngIf="!show" class="ui-g-3 ui-sm-12 left-sidebar gap1">
                <!--//==================== Start Filter =======================//-->
                <div class="ui-g-12">
                    <div align="center" class="filtor">
                        <h3 style="color:#043760;">{{'FILTROS' | translate}}</h3>
                    </div>
                </div>
                <div *ngIf="userexist" class="my_tournament">
                    <p-checkbox name="group1" value="" binary="true" [(ngModel)]="myTour" (click)="myTournament(1);obj=[]" label="{{'MIS Ligas' | translate}}"
                        class="check1">checkbox is not working</p-checkbox>
                </div>
                <div id="merDiv">
                    <p id="MODALIDAD">{{'Buscar' | translate}}</p>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-8 input-text">
                        <input type="text" [(ngModel)]="nameSelected" [disabled]="disable1" pInputText placeholder="{{'Buscar por nombre' | translate}}"
                            (keyup)="nameFilter($event)" />
                    </div>
                </div>
                <!-- <div id="merDiv">
                    <p id="MODALIDAD">{{'Ciudad' | translate}}</p>
                </div>
                <div class="cityHint">
                    <p id="a">{{'Seleccione en la lista desplegable.' | translate}}</p>
                </div>
                <div class="ui-g">
                    <div class="ui-g-8 drop-down">
                        <p-autoComplete [suggestions]="cities" [delay]="100" [disabled]="disable1" field="location" (onSelect)="cityFilter($event)" (completeMethod)="searchCity($event)" placeholder="{{selectedCityId?selectedCityId:cityPlaceholder | translate}}" [minLength]="0">
                            <ng-template let-value pTemplate="selectedItem">
                                <span>{{value.location}}</span>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div> -->
                <div id="merDiv">
                    <p id="MODALIDAD">{{'Estatus' | translate}}</p>
                </div>
                <div class="ui-g checkBOX ">
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" value="register" [(ngModel)]="status" label="{{'En inscripciones' | translate}}" (click)="Filter();reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="play" [(ngModel)]="status" label="{{'En curso' | translate}}" class="check1"
                            (click)="Filter();reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="finish" [(ngModel)]="status" label="{{'Terminado' | translate}}" class="check1"
                            (click)="Filter();reset()"></p-checkbox>
                    </div>
                </div>
                <div id="merDiv">
                    <p id="MODALIDAD">{{'Modalidad' | translate}}</p>
                </div>
                <!--//==================== checkbox start here ======================= //-->
                <div class="ui-g checkBOX ">
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" [(ngModel)]="formatDefault" binary="true" label="{{'Todas' | translate}}" (click)="modalityFilter(true);reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V5" [(ngModel)]="format" label="5 V 5" class="check1" (click)='modalityFilter(false);reset()'></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V6" [(ngModel)]="format" label="6 V 6" class="check1" (click)="modalityFilter(false);reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V7" [(ngModel)]="format" label="7 V 7" class="check1" (click)="modalityFilter(false);reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V8" [(ngModel)]="format" label="8 V 8" class="check1" (click)="modalityFilter(false);reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V9" [(ngModel)]="format" label="9 V 9" class="check1" (click)="modalityFilter(false);reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="V11" [(ngModel)]="format" label="11 V 11" class="check1" (click)="modalityFilter(false);reset()"></p-checkbox>
                    </div>
                </div>
                <div id="merDiv">
                    <p id="MODALIDAD">{{'Nivel' | translate}}</p>
                </div>
                <!--//==================== checkbox start here ======================= //-->
                <div class="ui-g checkBOX ">
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="Recreacional" [(ngModel)]="level" [ngModelOptions]="{standalone: true}"
                            label="{{'Recreacional' | translate}}" class="check1" (click)="Filter();reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="Semi-Competitivo" [(ngModel)]="level" [ngModelOptions]="{standalone: true}"
                            label="{{'Semi competitivo' | translate}}" class="check1" (click)="Filter();reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="Competitivo" [(ngModel)]="level" [ngModelOptions]="{standalone: true}"
                            label="{{'Competitivo' | translate}}" class="check1" (click)="Filter();reset()"></p-checkbox>
                    </div>
                </div>
                <div id="merDiv">
                    <p id="MODALIDAD">{{'Categoría' | translate}}</p>
                </div>
                <div class="ui-g checkBOX ">
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="Masculino" [(ngModel)]="category" label="{{'Hombres' | translate}}"
                            class="check1" (click)="Filter();reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="Femenino" [(ngModel)]="category" label="{{'Mujeres' | translate}}"
                            class="check1" (click)="Filter();reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="Mixto" [(ngModel)]="category" label="{{'Mixto' | translate}}" class="check1"
                            (click)="Filter();reset()"></p-checkbox>
                    </div>
                </div>
                <div id="merDiv">
                    <p id="MODALIDAD">{{'Costos De Inscriptión' | translate}}</p>
                </div>
                <div class="ui-g checkBOX ">
                    <!--//==================== checkbox start here ======================= //-->
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="0-999999" [(ngModel)]="cost" label="{{'Sin costo' | translate}}" class="check1"
                            (click)="Filter();reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="50-150" [(ngModel)]="cost" label="50-149 USD" class="check1" (click)="Filter();reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="151-250" [(ngModel)]="cost" label="150-249 USD" class="check1" (click)="Filter();reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="251-350" [(ngModel)]="cost" label="250-349 USD" class="check1" (click)="Filter();reset()"></p-checkbox>
                    </div>
                    <div class="ui-g-12 spaceBottom">
                        <p-checkbox [disabled]="disable1" name="group1" value="350-999999" [(ngModel)]="cost" label="350+ USD" class="check1" (click)="Filter();reset()"></p-checkbox>
                    </div>
                </div>
            </div>
            <div class="ui-g-9 ui-sm-12 ui-g-nopad div2" *ngIf="cards">
                <div class="ui-g gap" *ngFor="let info of obj">
                    <!--first card-->
                    <div *ngFor="let tour of info" class="ui-g-4 ui-sm-12 ui-g-nopad ui-lg-4 div2Chlid1">
                        <div class="ui-g-12 ui-g-nopad backImage">
                            <img style="height: 42px;" class="cover_img" [src]="tour.cover_pic?basePath+tour.cover_pic:'assets/images/tournament-profile-cover/default.png'"
                                alt="cover_pic">
                            <div class="ui-g merRow">
                                <div class="ui-g-5">
                                    <div class="CircleDiv">
                                        <img [routerLink]="['../tournament-profile',tour?.id ]" [src]="tour.logo?basePath+tour.logo:'assets/images/tournament-profile-logo/default.png'">
                                    </div>
                                    <img *ngIf="tour?.is_paid" class="verify_img" src="assets/images/verify.png" />
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12" id="marnCol">
                            <div class="ui-g-12" style="height:50px;padding-left:0">
                                <p class="COPA" style="height: 30px;overflow-y: hidden;" [routerLink]="['../tournament-profile',tour?.id ]">
                                    <a style="text-decoration:none; color:#043760; font-size: 25px;">{{tour?.tournament_name}}</a>
                                </p>
                            </div>
                            <p class="FECHAcolor">{{'ORGANIZACIÓN' | translate}}</p>
                            <small style="color: #828282;"> {{tour.organization_name?tour?.organization_name:'....'}}</small>
                            <br>
                            <p class="FECHAcolor">{{'Nivel' | translate}}</p>
                            <small style="color: #828282;"> {{tour.tournament_division?tour?.tournament_division:'....'}}</small>

                            <br>
                            <p class="FECHAcolor">{{'Ciudad' | translate}}</p>
                            <small style="color: #828282;"> {{tour.city?tour?.city?.location:'....'}}</small>
                            <br>
                            <p class="FECHAcolor">{{'FECHs DE INSCRIPCIÓNA' | translate}}</p>
                            <small style="color: #828282;"> {{tour?.registration_start_date}} - {{tour?.registration_end_date}}</small>

                            <br>
                            <p class="FECHAcolor">{{'FECHAS DE TORNEO' | translate}} </p>
                            <small style="color: #828282;"> {{tour?.start_date}} - {{tour?.end_date}} </small>
                            <br>
                            <p class="FECHAcolor">{{'COSTO POR EQUIPO' | translate}}</p>
                            <small style="color: #828282;">${{tour?.registration_fee}}</small>
                            <br>
                            <p class="FECHAcolor">{{'PREMIO AL CAMPEON' | translate}}</p>
                            <small style="color: #828282;">${{tour?.prize}}</small>
                        </div>
                        <div class="ui-g-12 tour_bttn">
                            <button *ngIf="userexist" pButton type="text" label="{{'PERFIL' | translate}}" class="INSCRIBIR" [routerLink]="['../tournament-profile',tour?.id ]"></button>
                            <button *ngIf=" !tour?.follow && userexist" pButton type="text" style="width:145px;" (click)="follow(tour)" label="{{'SEGUIR' | translate}}"
                                class="INSCRIBIR"></button>
                            <button *ngIf="tour?.follow && userexist" pButton type="text" (click)="unFollow(tour)" style="width:145px;" label="{{'DEJAR DE SEGUIR' | translate}}"
                                class="INSCRIBIR"></button>
                        </div>
                    </div>
                    <div class="ui-g-12" *ngIf="isdata" style="text-align:center;">
                        <h3 class="datos" style="color: darkcyan;">{{'Datos no encontrados' | translate}}</h3>
                    </div>
                    <div *ngIf="isError">
                        <h3 style="padding: 150px;margin-left: 124px;color: darkcyan;">{{'Algunos de error vuelve a intentarlo ...' | translate}}</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>