<loader *ngIf="loader"></loader>
<p-growl [value]="msgs"></p-growl>
<div class="ui-g full-container">
    <div class="section">
        <div class="ui-g stage_row">
            <div class="ui-g-3   ">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/1.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Ingrese los detalles primarios' | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3 stage_img">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/2.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Ingrese los detalles completos' | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3  stage_img ">
                <div class="ui-g-12 stage">
                    <img src="assets/images/stages/3 opt.png" />
                    <div class="ui-g-6 stage_img stage_line"></div>
                </div>
                <div class="ui-g-12 text1 ">
                    <p>{{"Seleccionar paquete" | translate}}</p>
                </div>
            </div>
            <div class="ui-g-3 stage_img  ">
                <div class="ui-g-12 stage ">
                    <img src="assets/images/stages/4.png" />
                    <div class="ui-g-6 stage_img  "></div>
                </div>
                <div class="ui-g-12 text2">
                    <p>{{'Seleccionar la opción de pago' | translate}}</p>
                </div>
            </div>
        </div>


        <!-- <div class="ui-g price-info">
      <div class="ui-g-4 ui-sm-12 pricing_div_left hove_div" *ngFor="let package of results;let ind=index">
        <div class="header_color">
          <span style="color: white;font-size: 35px;font-family: 'ChaletComprime CologneEighty'">{{package.package_name}} </span>
        </div>
        <br>
        <br>
        <div>
          <p class="text_info">
            <b class="doller">$</b>{{package.cost}}</p>
          <p style="margin-top: 5px;font-family: Montserrat-Light;font-size: 16px;">{{'SUBSCRIPCIÓN ANUAL' | translate}}</p>
        </div>
        <br>
        <div class="small_text_info">
          <p>{{package.reservation_limit}} {{"cancha Reservaciones ilimitadas" | translate}}</p>
          <p>{{package.social_promotion}} {{'publicación semanal en redes sociales' | translate}}</p>
          <p>{{package.marketing}}{{'correo de marketing por mes a toda la base de datos' | translate}}</p>
          <p>{{'Acceso a la base de datos Pelotea' | translate}}</p>
          <p>{{'Addition court charges' | translate}} ${{package.additional_fee}}</p>
        </div>
        <div>
          <button style="width: 125px;" label="Select" (click)="goPayment(package)" class="ui-button-green paymentbttn" pButton type="button"></button>
        </div>
      </div>
    </div> -->
        <!-- 
-->
        <div style="    display: flex;    align-items: center;" class="ui-g-12">

            <div *ngIf="status=='ground'" class="ui-g-5 package">
                <div style="background: #8ec63f;color:white;text-align: center;padding: 15px;    font-size: 24px;" class="ui-g-12">
                    {{results?.package_name}}
                </div>
                <div style="line-height: 50px;padding-left: 20px;" class="ui-g-12">
                    <p>{{results?.no_of_courts}} {{"cancha Reservaciones ilimitadas" | translate}}</p>
                    <p>{{results?.weekly_post}} {{"publicaciones semanales en redes sociales" | translate}}</p>
                    <p>{{results?.marketing}} {{"correo de marketing por mes a toda la base de datos" | translate}}</p>
                    <p>{{"Acceso a la base de datos Pelotea" | translate}}</p>
                    <p>{{"Cargo adicional de la corte" | translate}} ${{results?.additional_fee}}/Month</p>
                </div>
            </div>
            <div *ngIf="status=='tournament'" class="ui-g-5 package">
                <div style="background: #8ec63f;color:white;text-align: center;padding: 15px;    font-size: 24px;" class="ui-g-12">
                    {{results?.package_name}}
                </div>
                <div style="line-height: 50px;padding-left: 20px;" class="ui-g-12">
                    <p>{{results?.no_of_admins}} {{"No de administrador" | translate}}</p>
                    <p>{{results?.weekly_post}} {{"publicaciones semanales en redes sociales" | translate}}</p>
                    <p>{{results?.marketing}} {{"correo de marketing por mes a toda la base de datos" | translate}}</p>
                    <p>{{"Acceso a la base de datos Pelotea" | translate}}</p>
                    <p>{{"Cargo adicional de administración" | translate}} ${{results?.additional_fee}}/Month</p>
                </div>
            </div>
            <div class="ui-g-7 select_package_option">
                <div *ngIf="results?.subscription_type=='monthly'   || results?.subscription_type==null" style="border: 1px solid #d7d7d7;padding: 10px; margin-top:30px" class="ui-g-12">
                    <p-radioButton name="payment" value="monthly" label="${{results?.monthly_sub}}" [(ngModel)]="selected_payment_option"></p-radioButton>
                    <span style="    color: #113861;">
            /{{'Mes' | translate}}
          </span>
                    <p style="padding-left: 35px;color: #888888;font-size: 14px;">{{'Renovable automáticamente cada mes' | translate}}</p>
                </div>
                <div *ngIf="results?.subscription_type=='monthly'  || results?.subscription_type==null" style="padding:25px;text-align:center" class="ui-g-12">
                    Or
                </div>
                <div class="ui-g-12" style="border: 1px solid #d7d7d7;padding: 10px;  ">
                    <p-radioButton name="payment" value="yearly" label=" ${{results?.yearly_sub}}" [(ngModel)]="selected_payment_option"></p-radioButton>
                    <span style="    color: #113861;">
            /{{'Año' | translate}}
          </span>
                    <p style="padding-left: 35px;color: #888888;font-size: 14px;">{{'Salvar' | translate}} $ {{(12*results?.monthly_sub) - results?.yearly_sub}} {{'anualmente' | translate}}</p>
                </div>
            </div>

        </div>

        <div style="text-align:right;padding-top:50px;    width: 80%; " class="ui-g-12">
            <button *ngIf="status =='ground'" (click)="skip=true" type="button" style="width:125px" label="{{'Saltar' | translate}}" class="ui-button-green" pButton></button>
            <button (click)="select_package()" type="button" style="width:125px" label="{{'Enviar' | translate}}" class="ui-button-green" pButton></button>
        </div>

        <!-- <div class=" ui-g-4 ui-sm-12 pricing_div_info hove_div">
        <div class="header_color">
          <span style="font-size: 1.5em;color: white;font-size: 35px;font-family: 'ChaletComprime CologneEighty'">Silver</span>
        </div>
        <br>
        <br>
        <div>
          <p class="text_info"><b class="doller">$</b>350</p>
          <p style="margin-top: 5px;font-family: Montserrat-Light;font-size: 16px;">{{'SUBSCRIPCIÓN ANUAL' | translate}}</p>
          <P class="text_info_price">$890 For yearly subscription</P>
        </div>
        <br>
        <div class="small_text_info">
          <p>2 {{"canchas dentro del mismo complejo Reservaciones ilimitadas" | translate}}</p>
          <p>2 {{"publicaciones semanales en redes sociales" | translate}}</p>
          <p>2 {{"correo de marketing por mes a toda la base de datos" | translate}}</p>
          <p>{{"Acceso a la base de datos Pelotea" | translate}}</p>

        </div>
        <br><br>
        <div style="margin-top: 40px;">
          <button style="width: 125px;" label="Select" (click)="goPayment()" class="ui-button-green" pButton type="button"></button>
        </div>
      </div> -->
        <!-- <div class="ui-g-4 ui-sm-12 pricing_div_right hove_div">
        <div class="header_color">
          <span style="font-size: 1.5em;color: white;font-size: 35px;font-family: 'ChaletComprime CologneEighty'">Gold </span>
        </div>
        <br>
        <br>
        <div>
          <p class="text_info"><b class="doller">$</b>450</p>
          <p style="margin-top: 5px;font-family: Montserrat-Light;font-size: 16px;">{{'SUBSCRIPCIÓN ANUAL' | translate}}</p>
          <<P class="text_info_price">$1341 For yearly subscription</P>
        </div>
        <br>
        <div class="small_text_info">
          <p>3-4 {{'canchas dentro del mismo complejo' | translate}} </p>
          <p>{{'Reservaciones ilimitadas' | translate}}</p>
          <p>3 {{'publicaciones semanales en redes sociales' | translate}}</p>
          <p>3 {{'correos de marketing por mes a toda la base de datos' | translate}}</p>
          <p>{{'Acceso a la base de datos Pelotea' | translate}}</p>

        </div>
        <br><br>
        <div style="margin-top: 40px;">
          <button style="width: 125px;" label="Select" (click)="goPayment()" class="ui-button-green" pButton type="button"></button>
        </div>
      </div> -->
    </div>
</div>

<div [class.backdrop]="skip"></div>
<!-- Popup on skip package -->
<p-dialog [(visible)]="skip" [dismissableMask]="true" modal="modal" class="delete_ground" [resizable]=false [responsive]=true>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 header">
            <span>{{'MENSAJE' | translate}}</span>
        </div>
        <div class="ui-g-12">
            <p style="color:darkcyan;text-align: justify;">{{'If you skip payment , This ground will be a dummy ground !' | translate}}</p>
        </div>
        <div class="ui-g-12  ui-fluid">
            <div class="ui-g-3">
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button" label="{{'NO' | translate}}" (click)="skip=false"></button>
            </div>
            <div class="ui-g-3">
                <button type="button" pButton class="ui-button-green" label="{{'SI' | translate}}" (click)="skipPackage();skip=false"></button>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
    </div>
</p-dialog>
<!-- Popup end skip package -->