.full-container {
    padding-top: 250px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #ffffff 0), url(./../../../assets/images/ground-profile-cover/default.jpg) no-repeat;
    background-size: 100% 40%;
    margin-bottom: 90PX;
}

.quote_image {
    padding: 0px;
    position: relative;
}

.quote_image img {
    width: 100%;
}

.text {
    margin: 0 auto;
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat-Light';
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    bottom: 90px;
}

.stroke {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 25px;
}

.stroke_bottom {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.section {
    width: 1140px;
    margin: auto;
}

.head {
    background: #dfdfdf;
}

.header_color {
    background-color: #AAD470;
    padding-bottom: 10px;
    padding-top: 10px;
}

.price-info div:not(:first-child):not(:last-child) {
    margin-left: 20px;
    margin-right: 20px;
}

.pricing_div_left {
    height: 600px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 0px 2px whitesmoke;
    padding: 0px;
    width: 335px;
}

.hove_div {
    transition: all 0.5s;
}

.hove_div:hover {
    margin-top: -20px;
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.hove_div:hover .header_color {
    background-color: #8DCF25 !important;
}

.pricing_div_right {
    height: 600px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 0px 2px whitesmoke;
    padding: 0px;
    width: 335px
}

.pricing_div_info {
    background-color: white;
    box-shadow: 0px 0px 0px 2px whitesmoke;
    z-index: 1;
    height: 600px;
    text-align: center;
    padding: 0px;
    margin-right: 40px;
    width: 335px
}

.font_info {
    line-height: 25px;
    padding-bottom: 10px;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
}

.font_size {
    font-size: 1.2em;
}

.text_info {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #aad470;
    font-size: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_info_price {
    font-size: 1.2em;
    color: #aad470;
    margin-top: 25px;
    font-family: Montserrat-Light
}

.small_text_info {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}

.small_text_info p {
    padding-bottom: 10px;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 25px;
}

.backTotournament {
    float: right;
    cursor: pointer;
    margin-top: -5%;
    color: darkcyan;
    font-size: 1.2em;
}

.price-info {
    margin-top: 50px;
}

.price-tab {
    width: 535px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #8DCF25;
    border-radius: 3px;
    margin-top: 30px;
    display: flex;
}

.price-tab p {
    font-size: 18px;
    color: #8DCF25;
    width: 100%;
    text-align: -webkit-center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.price-tab :first-child {
    border-right: 2px solid #8DCF25;
}

.tab-change {
    background: #8DCF25;
    font-family: 'Montserrat-Light';
    color: white !important;
}

.plus-sign {
    margin: 0 auto;
    margin-top: 35px;
}

.plus-border {
    width: 420px;
    height: 230px;
    margin: 0 auto;
    border: dashed 1.2px #999;
    margin-top: 25px;
    background: #F9F9F9
}

.plus-border-tournament {
    height: 230px;
    margin: 0 auto;
    border: dashed 1.2px #999;
    margin-top: 25px;
    background: #F9F9F9
}

.plus-border :nth-child(1) {
    color: #0F3460;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.plus-border :nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: #0F3460;
    margin-top: 15px;
    margin-bottom: 15px;
}

.plus-border :nth-child(3) {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: #0F3460;
    margin-top: 15px;
    margin-bottom: 15px;
}

.plus-border :nth-child(4) {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Montserrat-Light;
    color: #888;
}

.pricing_div_tournament {
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 0px 2px whitesmoke;
    padding: 0px;
    width: 355px;
    height: 515px;
}

.price-info-tornament div:not(:first-child):not(:last-child) {
    margin-left: inherit;
    margin-right: inherit;
}

.plus-sign-tournament {
    display: flex;
    align-items: center;
    height: 515px;
}

.doller {
    font-weight: 100;
    font-size: 25px;
    margin-top: -15px;
}

.vat {
    text-align: center;
    color: #8DCF25;
    margin-top: 25px;
    font-size: 19px;
}

.doller_tour {
    left: 145px;
    font-weight: 100;
    font-size: 25px;
    margin-top: -15px;
}

.contact_bttn {
    margin-top: 10px;
    margin-bottom: 50px;
}

@media only screen and (max-width:640px) {
    .section {
        max-width: 75%;
        margin: auto;
    }
    .stage_row{
        margin-left: 0px !important;
    }
    .text2{
        margin-left: 0px !important ;
       }
      
       .text1{
          margin-left: 0px !important;
          
       }
    .mobile-display {
        display: none;
    }
    .price-info {
        padding-left: 10px;
        padding-right: 10px;
        height: inherit;
    }
    .pricing_div_info {
        margin-right: initial;
        margin-bottom: 35px;
        padding-bottom: 25px;
    }
    .pricing_div_left {
        height: inherit;
        margin-right: initial;
        margin-bottom: 35px;
        padding-bottom: 25px;
    }
    .pricing_div_right {
        height: inherit;
        margin-right: initial;
        margin-bottom: 35px;
        padding-bottom: 25px;
    }
    .font_info {
        text-align: center;
    }
    .quote_image img {
        height: 190px
    }
    .quote_image p {
        top: inherit;
    }
    .quote_image p img {
        width: 140px;
        height: 90px;
    }
    .price-tab {
        width: inherit;
        margin-left: 15px;
        margin-right: 15px;
    }
    .price-tab p {
        font-size: 18px;
    }
    .price-info div:not(:first-child):not(:last-child) {
        margin-left: inherit;
        margin-right: inherit;
    }
    .plus-sign-tournament {
        padding-top: 50px;
        height: inherit;
        margin-bottom: 20px;
    }
    .plus-border {
        width: inherit;
        margin-left: 10px;
        margin-right: 10px;
        height: 260px;
    }
    .pricing_div_tournament {
        width: inherit;
        height: inherit;
    }
    .full-container {
        margin-top: 45px;
        background-size: 100% 10%;
        
    }
    .bottom_text {
        margin-left: 10px;
        margin-right: 10px;
    }
    .plus-border :nth-child(2) {
        line-height: 24px
    }
    .plus-border-tour {
        height: 165px !important;
    }
    .plus-sign {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 640px) and (max-width:840px) {
    .pricing_div_info {
        width: 220px !important;
        height: 645px !important;
    }
   
    .pricing_div_left {
        width: 220px !important;
        height: 645px !important;
    }
    .pricing_div_right {
        width: 220px !important;
        height: 645px !important;
    }
    .price-info {
        padding-left: 5px !important;
    }
    .vat {
        margin-top: 70px !important;
    }
    .pricing_div_tournament {
        width: 290px !important;
    }
    .price-tab {
        width: 100%;
    }
}
.stage{
    display: flex;
     align-items: center;
     position: relative;
     padding-right: 0px;
     padding-left: 0px;
     text-align: center;
     
 } 
 .stage_img{
   padding-right: 0px;
   padding-left: 0px;

 }

 .stage_line{
   border-bottom: 1px solid #d7d7d7;
   width: 100%;
   margin: 0px -15px 0px -9px;
   
 }
  
 .stage_row{
    margin-left: 53px;
}
 .text2{
  margin-left: -50px;
 }

 .text1{
    margin-left: -30px;
    
 }
 .paymentbttn{
    margin-top: 64px;
    
 }

 .backdrop {
    position: fixed;
    background: rgba(14, 14, 14, 0.42);
    ;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0px;
    z-index: 1;
}
.header {
    background: #00253f;
    padding: 11px;
    text-align: center;
}

.header span {
    margin: 0;
    color: white;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: ChaletComprime CologneEighty;
}

.package{
    box-shadow: 3px 3px 11px #888888;
    margin-top: 30px;
    padding: 0px;
    width: 35%;
    margin-left: 100px;
}
.select_package_option{
    width: 25%;
    margin-left: 100px;
}

@media only screen and (min-width:320px) and (max-width:640px){
    .package{
        margin-top: 30px;
        padding: 0px;
        width: 80%;
        margin-left: 30px;
    }
    .select_package_option{
        width: 70%;
        margin-left: 40px;
    }
}