<p-growl [value]="msgs"></p-growl>
<loader *ngIf='loader'></loader>
<div class="selection-area">
    <div class="ui-g">
        <div class="ui-g-3 ui-sm-9">
            <p class="drop-label">{{'Select team' | translate}}</p>
            <p-dropdown (onChange)="teamselect($event)" placeholder="{{'Select team' | translate}}" [options]="teamarray" [(ngModel)]="selectedteam"></p-dropdown>
        </div>
    </div>
</div>


<div class="text-center" *ngIf="nodata" style="margin-top:50px;    font-size: 20px;">
    {{'Datos no encontrados' | translate}}
</div>

<div *ngIf="!nodata" style="margin-top:40px;">
    <div *ngFor="let data of historydata; let i=index" class="content-row">
        <div class="ui-g " style="padding:10px 0">
            <div class="ui-g-12 flex ">
                <div class="ui-g-10 ui-sm-12" style="padding: 0px;display: flex;align-items: center;">
                    <div class="ui-g-3" style="text-align:right">
                        <p class="team-p"> {{data?.team1_name}}</p>
                    </div>
                    <div class="ui-g-2 text-center">
                        <img class="img-player-t" [src]="data?.team1_logo?logo+data?.team1_logo:'assets/images/team-profile-logo/default.png'">
                    </div>
                    <div class="ui-g-2 text-center" style="padding: 0px">
                        <div class="goal-r" style="border-radius: 4px;padding: 6px;">
                            {{data?.team1_goals}} - {{data?.team2_goals}}
                        </div>
                    </div>
                    <div class="ui-g-2 text-center">
                        <img class="img-player-t" [src]="data?.team2_logo?logo+data?.team2_logo:'assets/images/team-profile-logo/default.png'">
                    </div>
                    <div class="ui-g-3" style="text-align:left">
                        <p class="team-p"> {{data?.team2_name}}</p>
                    </div>
                </div>
                <div class="ui-g-2 ui-sm-12">
                    <p *ngIf="!show_more" (click)="open(i)" class="show-buttons">{{'Mostrar más' | translate}}</p>
                    <p *ngIf="show_more && show_more_index == i" (click)="close()" class="show-buttons">{{'Muestra menos' | translate}}</p>
                </div>
            </div>

            <div class="des-p text-center ui-g-12" style="font-size: 14px;margin-left: 0px">
                <p style="padding-top: 4px"> {{'Date' | translate}} :
                    <span>
                                {{data?.match_date | date:'dd-MM-yyyy'}}
                            </span>
                </p>
                <p style="padding-top: 4px"> {{'Time' | translate}} :
                    <span>
                            {{data?.match_date | date :'shortTime'}}            
                        </span>
                </p>
            </div>
        </div>

        <div *ngIf="show_more_index == i && show_more" class="carddetail">
            <div>
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12">
                        <div class="ui-g-2">
                            <p class="team-p">{{'Players' | translate}}</p>
                        </div>
                        <div class="ui-g-2">
                            <p class="team-p">{{'Teams' | translate}}</p>
                        </div>

                        <div class="ui-g-2 text-center">
                            <p class="team-p">{{'Tarjeta amarilla' | translate}}</p>
                        </div>
                        <div class="ui-g-2 text-center">
                            <p class="team-p">{{'Tarjeta roja' | translate}}</p>
                        </div>
                        <div class="ui-g-2 text-center">
                            <p class="team-p">{{'Asistir' | translate}}</p>
                        </div>
                        <div class="ui-g-2 text-center">
                            <p class="team-p">{{'Goles' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>



            <div *ngFor="let data of data.team_list">
                <div class="ui-g">
                    <div class="ui-g-12 ui-sm-12">
                        <div class="ui-g">
                            <div class="ui-g-2">
                                <p>{{data?.player_name}}</p>
                            </div>
                            <div class="ui-g-2">
                                <p>{{data?.team_name}}</p>
                            </div>
                            <div class="ui-g-2 text-center">
                                <p>{{data?.yellow_cards}}</p>
                            </div>
                            <div class="ui-g-2 text-center">
                                <p>{{data?.red_cards}}</p>
                            </div>
                            <div class="ui-g-2 text-center">
                                <p>{{data?.assist_goal}}</p>
                            </div>
                            <div class="ui-g-2 text-center">
                                <p>{{data?.team_goals}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>