.full-container {
    padding-top: 200px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 227px, rgba(255, 255, 255, 0), #081023 0), url(./../../../assets/images/news_feed_cover.jpg) no-repeat;
    background-color: #081023;
    background-size: cover;
}

.max {
    max-width: 970px;
    margin: 0 auto;
}

.referee_text {
    padding: 1px 5px;
    font-size: 10px;
    background: #ba206b;
    font-family: Montserrat-Regular;
    text-transform: uppercase;
    border-radius: 25px;
    margin-left: 10px;
    color: white;
}

.seemore {
    display: none;
}

img {
    width: 80px;
    height: 80px;
}

button {
    width: 132px;
}

.backBttn {
    background-color: #C4C4C4;
    position: absolute;
    top: -5px;
    right: 0px;
}

.follow_text {
    color: white;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2.5em;
    position: absolute;
    top: -20px;
}

.follow_number {
    position: absolute;
    top: 21px;
}

@media screen and (min-width:320px) and (max-width:600px) {
    img {
        height: 60px;
        width: 60px;
        margin-top: 3%;
    }
}