<p-growl [value]="msgs" sticky="sticky"></p-growl>
<div class="full-container">
    <div class="max">
        <div class="ui-g">
            <div class="ui-g-8  left-info" style="position:relative;">
                <p class="follow_text">{{'SEGUIENDO' | translate}}</p>
                <p class="follow_number">{{'TIENE' | translate}} {{no_of_player}} {{'seguidores' | translate}}</p>
            </div>
            <div class="ui-g-4 " style="position:relative;">
                <button type="button" class="backBttn" pButton (click)="player_profile()" label="{{'VOLVER' | translate}}"></button>
            </div>
        </div>
    </div>
</div>
<div class="invited max" style="margin-top: 4%;">
    <div class="ui-g" style="border-bottom: 1px solid #cfcfcf;" *ngFor="let follw of followings; let i=index">
        <div class="ui-g-1 ui-sm-3 ">
            <img [src]="follw?.profile_pic?basePath+follw?.profile_pic:follw?.is_referee?'assets/images/default.png':'assets/images/default.png'" style="border-radius:50%;">
        </div>
        <div class="ui-g-7 ui-sm-5 " style="padding-top: 18px;padding-left: 2%;">
            <p class="invite_popup_name" style="font-size:2em;font-family: 'ChaletComprime CologneEighty';text-transform:uppercase;">{{follw.player_name}} {{follw.last_name}}<span class="referee_text" *ngIf="follw?.is_referee">{{'arbitro' | translate}}</span>
                <span class="referee_text" *ngIf="!follw?.is_referee">{{"JUGADOR" | translate}}</span></p>
            <p class="invite_popup_city" style="font-size:16px;color:#8DCF25;text-transform:uppercase;">{{follw.nick_name}}</p>
        </div>
        <div class="ui-g-4 ui-sm-4  text-right">
            <button type="button" pButton label="{{'Ver perfil' | translate}}" style="background-color:#8DCF25;font-size: 0.8em;;" (click)="redirectProfile(follw?.id)"></button>
            <button type="button" *ngIf="!follw.admin" pButton label="{{'Dejar de seguir' | translate}}" style="background-color:#8DCF25;font-size: 0.8em;" (click)="followers(follw?.id,follw?.follow)"></button>
        </div>
    </div>
    <div class="ui-g " style="margin-left:4%;">
        <button type="button" pButton label="{{'VER MAS' | translate}}" (click)="see()" *ngIf="!(total_pages==page)" style="background-color:#8DCF25;float:right;height:36px;width:132px;"></button>
    </div>
</div>